[2022-01-31 23:32] nicolevasilevsky opened #4397 "[Obsolete] goniodysgenesis"
**Mondo term (ID and Label)**
MONDO:0020218 goniodysgenesis

**Reason for deprecation**
Obsolete in Orphanet

**Suggested term to consider**
none

[2022-02-01 00:14] nicolevasilevsky opened #4398 "[Obsolete] MONDO:0016626 'hemolytic anemia due to glyceraldehyde-3-phosphate dehydrogenase deficiency'"
**Mondo term (ID and Label)**
MONDO:0016626 'hemolytic anemia due to glyceraldehyde-3-phosphate dehydrogenase deficiency'

**Reason for deprecation**
Obsolete in Orphanet

**Suggested term to consider**
none

[2022-02-01 09:30] matentzn commented on #4388
Computing this took more than 40 hours so I wont run it again (or only very sparingly); @nicolevasilevsky this is the ultimate list _post reasoning_ (after running the reasoner) missing classifications. Instead of just looking for the ones involving the word "type" I was looking for all possible cases where two classes start with the same word, and one is entirely subsumed by the other.

https://g

[2022-02-01 19:58] nicolevasilevsky commented on #4363
We should obsolete
MONDO:0010113 thalidomide susceptibility, this does not seem like a true disease (see: https://omim.org/entry/273600)

[2022-02-01 21:20] nicolevasilevsky commented on #4349
I created a [spreadsheet here](https://docs.google.com/spreadsheets/d/1tt1Wk70j9XiHLV1vKQyNiHhaazh286pobpJk1ecSCCg/edit#gid=274159492)

[2022-02-02 19:38] #1218 closed

[2022-02-02 21:47] kanems opened #4403 "OMIM 256700 preferred name error"
**Mondo term (ID and Label):**
MONDO:0009741 neuroblastoma, susceptibility to

**Xref that should be fixed (ID and label):**
OMIM:256700 (MONDO:equivalentTo) (https://omim.org/entry/256700)
The preferred name on this MIM number is "NEUROBLASTOMA, SUSCEPTIBILITY TO, 1; NBLST1" and the broader concept of "neuroblastoma, susceptibility to" is Included.

**Your nano-attribution (ORCID)**
If you don't

[2022-02-02 23:23] #4338 closed

[2022-02-02 23:30] #4141 closed

[2022-02-02 23:30] #4142 closed

[2022-02-02 23:30] #4134 closed

[2022-02-02 23:30] #4135 closed

[2022-02-02 23:30] #4136 closed

[2022-02-02 23:30] #4138 closed

[2022-02-02 23:30] #4139 closed

[2022-02-02 23:30] #4140 closed

[2022-02-02 23:30] #4143 closed

[2022-02-02 23:58] #2738 closed

[2022-02-02 23:59] #4311 closed

[2022-02-02 23:59] #4170 closed

[2022-02-02 23:59] #4279 closed

[2022-02-03 00:02] nicolevasilevsky opened #4407 "[Obsolete] "congenital vitreoretinal dysplasia (MONDO:0020247)" and "vitreoretinal degeneration (MONDO:0020248)""
**Mondo term (ID and Label)**
1. congenital vitreoretinal dysplasia (MONDO:0020247)
2. vitreoretinal degeneration (MONDO:0020248)

**Reason for deprecation**
Request from ClinGen retina expert group.

1. The term is incomplete because the disease has both a developmental and a degenerative process
2. Please remove this term. This term is redundant with redundant with "inherited vitreoretinopathy"

[2022-02-03 00:07] nicolevasilevsky opened #4408 "revisions to retina terms per Retina Gene Curation Expert Panel"
see [spreadsheet](https://docs.google.com/spreadsheets/d/10q5OAWGQsptjCz-TH7-tQRvBZt3qOqMV/edit#gid=1524776220)

related to #3898 and #4407

[2022-02-03 00:08] #4349 closed

[2022-02-03 02:24] #4408 closed

[2022-02-03 12:34] maglott commented on #4407
When I see a request like this, my immediate question is whether Mondo is going to retain a distinction between a disease of any origin vs. a specific  inherited form.  Is Mondo restricted to inherited forms of disorders? To my mind, vitreoretinal degeneration is not equivalent to inherited vitreoretinopathy unless the only possible cause of vitreoretinal degeneration is genetic.  Is the expectati

[2022-02-03 14:02] tibingaman opened #4410 "[KCNH1 associated disorder/KCNH1]"
**Preferred gene-related syndrome label**: KCNH1 associated disorder
For example: NAA10-related syndrome

**Synonyms**: none

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**: Unsure

**Definition**: Any neurodevelopmental disorder in which the cause of the disease is a mutation in the KCNH1 gene. Variants in KCNH1 cause significant neurode

[2022-02-03 15:51] kanems opened #4411 "MONDO:0008942 cerebelloparenchymal disorder II [Merge]"
**Mondo term (ID and Label)**
MONDO:0008942 cerebelloparenchymal disorder II

**Reason for deprecation**
OMIM 213100 MOVED TO [607136](https://omim.org/entry/607136)

**Term to be merged with**
MONDO:0011781 spinocerebellar ataxia type 17

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-02-03 17:07] nicolevasilevsky commented on #3886
@matentzn to do:

- [ ] Relabel: obsolete [current label]
- [ ] Add annotation: 'has obsolescence reason': string out of scope
- [ ] Any source annotation that is MONDO:equivalentTo should be changed to MONDO:obsoleteEquivalent
- [ ] Remove annotations:
  - [ ] in_subset obsoletion candidate
  - [ ] ‘scheduled for obsoletion on or after’ 2022-03-01
- [ ] Remove all superclass assertions

Thank you

[2022-02-03 18:11] nicolevasilevsky commented on #1928
Peter recommends obsoleting this in Mondo

[2022-02-03 18:17] nicolevasilevsky commented on #3100
this means you have some issue with moving your eyes. Progressive supranuclear ophthalmoplegia is a phenotype, there is a record in OMIM because there is a gene associated with this.

- [ ] 'progressive supranuclear palsy' is incorrectly classified as a genetic disease, should remove those superclasses. Exclude 'genetic dementia' and 'inherited neurodegenerative disorder'

[2022-02-03 18:21] pnrobinson commented on #3100
@ahamosh
OMIM has [progressive supranuclear palsy](https://omim.org/entry/601104) and lists  STEELE-RICHARDSON-OLSZEWSKI SYNDROME  as a synonym, but other literature appears to regard the latter as an idiopathic non Mendelian disease , e.g.,
https://www.mjdrdypu.org/article.asp?issn=0975-2870;year=2013;volume=6;issue=3;spage=342;epage=345;aulast=Gokhale;type=3
Should we introduce some superclass f

[2022-02-03 18:24] nicolevasilevsky commented on #711
- [ ] rename 'non-severe combined immunodeficiency' to non-SCID combined immunodeficiency

[2022-02-03 18:30] nicolevasilevsky commented on #711
we should reclassify the terms according to the paper in this discussion:
https://github.com/monarch-initiative/mondo/discussions/4304

This issue will be address with this project above.

[2022-02-03 18:37] nicolevasilevsky commented on #4389
no other action needed

[2022-02-03 18:37] #4389 closed

[2022-02-03 18:42] nicolevasilevsky commented on #4068
Peter recommends obsoleting this term in Mondo.
From OMIM:
An X-linked form of neurohypophyseal diabetes insipidus ([304900](https://omim.org/entry/304900)) has been suggested, but the evidence is weak.

[2022-02-03 18:46] kanems opened #4415 "MONDO:0044784 and/or MONDO:0006086 [Revise text def]"
**Mondo term (ID and Label)**
MONDO:0006086 angiomyxoma
and
MONDO:0044784 myxoma

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
The definitions from NCIT on these two terms are not super helpful in determining a difference in these concepts,  but I am inclined to agree these are distinct concepts.
From what I have been able to

[2022-02-03 18:48] nicolevasilevsky commented on #3540
Talking to Peter, we don't want to obsolete this, it seems like a legitimate class.

[2022-02-03 18:56] nicolevasilevsky commented on #1368
to do:

- [ ] delete VSX1 from'posterior polymorphous corneal dystrophy 1'
- [ ] Maunmenee is a synonym of type 1 (per the Mondo call/conversation with Peter)

[2022-02-03 18:57] #4346 closed

[2022-02-03 19:06] kanems opened #4417 "MONDO:0056821 & MONDO:0015264 [Merge]"
**Mondo term (ID and Label)**
MONDO:0056821 bronchiolitis obliterans organizing pneumonia

**Reason for deprecation**
HPO uses these terms as synonyms;
SNOMED CT 719218000 says the PT is Cryptogenic organizing pneumonia and a syn is BOOP - Bronchiolitis obliterans organizing pneumonia
Also SCTID 68409003 is reported as being "Organized pneumonia" so it doesn't match the name on MONDO:0056821

**Te

[2022-02-03 19:09] #508 closed

[2022-02-03 19:21] nicolevasilevsky commented on #3543
Emailed Ada on 02/03/22

[2022-02-03 19:41] kanems opened #4420 "MONDO:0005755 equine infectious anemia; non-human disease [Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0005755  equine infectious anemia

**Suggested revision and reasons**
I think this belongs under MONDO:0005583 "non-human animal disease"
NCI definition from UMLS CUI C0014661: "A horse disease caused by a retrovirus which is transmitted by biting flies. The acute phase symptoms include high fever, anemia, weakness, and swelling of the legs. The subacute phase s

[2022-02-03 19:44] kanems opened #4422 "MONDO:0007061 acylase, cobalt-activated [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0007061 acylase, cobalt-activated

**Reason for deprecation**
OMIM 102590 MOVED TO [614413](https://omim.org/entry/614413)
AND
614413 is a Gene entry in OMIM, this is not a disease entry.

**Suggested term to consider**
None, this is not a disease.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-02-03 19:53] #3540 closed

[2022-02-03 19:56] kanems opened #4424 "MONDO:0011111 "horns in sheep" [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0011111 horns in sheep

**Reason for deprecation**
OMIM 601563 MOVED TO [606655](https://omim.org/entry/606655)
and this is a Locus description.

**Suggested term to consider**
None, this is not a disease.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-02-03 21:20] kanems opened #4425 "metabolic syndrome (X) and abdominal obesity-metabolic syndrome concepts? [Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0004955   metabolic syndrome
MONDO:0011565   metabolic syndrome X
MONDO:0000816   abdominal obesity-metabolic syndrome (and it's OMIM-sourced children)

**Suggested revision and reasons**

- [x] Update name of MONDO:0011565 to reflect OMIM's preferred name: Abdominal obesity-metabolic syndrome 1
- [x] Restructure terms so that MONDO:0000816 abdominal obesity-met

[2022-02-04 01:09] #711 closed

[2022-02-04 01:11] #4387 closed

[2022-02-04 01:11] #1368 closed

[2022-02-04 17:26] nicolevasilevsky commented on #4167
this ticket is replaced by other more specific tickets that Joe, Sabrina and Nico are working on

[2022-02-04 17:26] #4167 closed

[2022-02-04 17:56] kanems opened #4427 "MONDO:0014225 hemochromatosis type 5"
**Mondo term (ID and Label):**
MONDO:0014225 hemochromatosis type 5

**Xref that should be fixed (ID and label):**
[OMIM:615517 (Orphanet:247790)](https://omim.org/entry/615517)
I think this is equivalent to the concept represented by the Mondo entry.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2022-02-04 19:23] nicolevasilevsky commented on #2378
@kanems I don't think there is any action here for Mondo, so I will close this. Please feel free to reopen if you'd like to discuss further, thanks! :)

[2022-02-04 19:23] #2378 closed

[2022-02-04 19:35] nicolevasilevsky commented on #1745
Question for Ada:
should these terms be lumped together and should the synonyms be broad or narrow synonyms?

[2022-02-04 19:47] nicolevasilevsky commented on #1611
Emailed NCIT 02/04/2022 to get further clarification

[2022-02-04 20:00] nicolevasilevsky commented on #4200
this may be related to https://github.com/monarch-initiative/mondo/discussions/4304

[2022-02-04 20:10] kanems opened #4429 "MONDO:0008042 myoclonus and ataxia[Merge]"
**Mondo term (ID and Label)**
MONDO:0008042 myoclonus and ataxia

**Reason for deprecation**
Editor note on EBI display says "consider merging into MONDO:0008945" and OMIM [OMIM:159700 (MONDO:equivalentTo)](https://omim.org/entry/159700) has merged/MOVED TO [213400](https://www.omim.org/entry/213400)

**Term to be merged with**
MONDO:0008945  myoclonic cerebellar dyssynergia

**Your nano-attributi

[2022-02-05 17:47] nicolevasilevsky commented on #3509
I think this can be closed because we will want to sync with ORDO 4.0

[2022-02-05 17:47] #3509 closed

[2022-02-05 17:53] nicolevasilevsky commented on #4410
Hi @tibingaman we already have this term in Mondo:
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0100124

Would you like any changes to the existing term?

[2022-02-05 18:57] #4132 closed

[2022-02-05 19:00] nicolevasilevsky commented on #4209
note to self:
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0013617 MONDO:0013357 -o -f obo mondo-edit.obo

[2022-02-05 19:21] nicolevasilevsky commented on #4209
We like to follow OMIM, so I did the merger

[2022-02-05 20:01] #4410 closed

[2022-02-05 21:45] #4209 closed

[2022-02-05 21:45] #4207 closed

[2022-02-05 21:54] nicolevasilevsky commented on #4196
I think this can be closed? Please reopen if there are still questions

[2022-02-05 21:54] #4196 closed

[2022-02-05 22:50] nicolevasilevsky commented on #3954
OMIMPS:209850 is relatedTo on MONDO:0005260 autism and is equivalent on MONDO_0020836 'autism, susceptiblity to'.

I agree with your suggestion and I made OMIM:209850  equivalentTo on MONDO:0005260 autism

[2022-02-05 22:52] #3943 closed

[2022-02-05 22:52] #2262 closed

[2022-02-06 00:33] nicolevasilevsky commented on #4092
note to self:
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0006785 MONDO:0019167 -o -f obo mondo-edit.obo

[2022-02-06 00:43] nicolevasilevsky commented on #4093
note to self:
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0006251 MONDO:0016039 -o -f obo mondo-edit.obo

[2022-02-06 00:43] nicolevasilevsky commented on #4128
note to self:
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0018335 MONDO:0021660 -o -f obo mondo-edit.obo

[2022-02-06 00:48] nicolevasilevsky commented on #4259
emailed Jenny Goldstein on 02/05/22

[2022-02-06 19:34] #4092 closed

[2022-02-06 19:34] #4090 closed

[2022-02-06 19:35] #4073 closed

[2022-02-06 19:36] #3954 closed

[2022-02-07 15:04] kanems opened #4444 "MONDO:0019511 & MONDO:0008073 familial juvenile hyperuricemic nephropathy type 1[Merge]"
**Mondo term (ID and Label)**
MONDO:0019511 autosomal dominant medullary cystic kidney disease with hyperuricemia

**Reason for deprecation**
-Orphanet:209886 (OMIM:162000) from MONDO:0008073 ; I cannot find an active entry for this Orpha code, obsoleted? Orpha now says Orphanet:88950 is exact match with OMIM:162000 and the OMIM name is on MONDO:0008073.
GeneReviews article supports the merge;  ht

[2022-02-07 16:29] kanems opened #4445 "split term: thyrotoxicosis MONDO:0010138"
**Term to split:**
thyrotoxicosis MONDO:0010138
(has a comment on it: "Editor note: TODO separate out predisposition")

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
GRAVES DISEASE, SUSCEPTIBILITY TO, 1

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties

[2022-02-07 16:41] nicolevasilevsky commented on #4201
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0016754 MONDO:0001569 -o -f obo mondo-edit.obo

[2022-02-07 17:43] nicolevasilevsky commented on #4407
Dear Donna,
That’s a great point, and my apologies for considering these only from the disorders we are curating for ClinGen.

If an existing parent term, “inherited vireous-retinal disease,” would have child terms “inherited retinal dystrophy” and “inherited vitreoretinopathy” as we proposed, could “inherited vitreoretinopathy” then have “vitreoretinal degeneration” as a second parent term to cap

[2022-02-07 19:02] #4093 closed

[2022-02-07 20:40] kanems opened #4449 "split term: amastia MONDO:0007238"
**Term to split:**
amastia MONDO:0007238

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
BREASTS AND/OR NIPPLES, APLASIA OR HYPOPLASIA OF, 1; BNAH1

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties (such as synonyms and database cross references) will m

[2022-02-07 23:16] sabrinatoro commented on #3219
Definition of the existing relation ‘disease has infectious agent’ = A relationship between a disease and an infectious agent where the **material basis of** the disease is an infection with some infectious agent.

@cmungall what does 'material basis of' mean?

I am trying to determine whether  ‘disease has infectious agent’ should be a parent term for more precise relations representing that the

[2022-02-07 23:37] sabrinatoro commented on #3219
@cmungall additional question:
What would be the difference between 'disease arises from' and 'disease has basis in' ?
Thanks!

[2022-02-07 23:49] nicolevasilevsky commented on #1489
Got it, thanks!
@kanems I'll mark tuberous sclerosis complex MONDO:0019341 for merger into tuberous sclerosis MONDO:0001734

Thank you @galyea-gard and @kanems

[2022-02-07 23:51] nicolevasilevsky commented on #1489
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0019341 MONDO:0001734 -o -f obo mondo-edit.obo

[2022-02-08 13:05] kanems opened #4450 "MONDO:0021191[Merge]"
**Mondo term (ID and Label)**
MONDO:0021191 malignant ependymoma

**Reason for deprecation**
This is an exact synonym on MONDO:0016700 anaplastic ependymoma; NCIT treats them as synonyms on C4049

**Term to be merged with**
MONDO:0016700 anaplastic ependymoma

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-02-08 13:37] kanems opened #4451 "MONDO:0004684 MONDO:0016036 (Ledderhose and plantar fibromatosis) ? [Merge]"
**Mondo term (ID and Label)**
MONDO:0016036  Ledderhose disease

**Reason for deprecation**
Both SNOMED and NCI treat these terms as synonyms (13370002  and C4680)

**Term to be merged with**
MONDO:0004684  plantar fibromatosis

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-02-08 15:00] tibingaman opened #4452 "Optic Atrophy-Intellectual Disability Syndrome Switch Related Synonym and Mondo Term"
**Mondo term (ID and Label): Optic Atrophy-Intellectual Disability Syndrome, MONDO:0014320

**Suggested new label: Bosch-Boonstra-Schaaf optic atrophy syndrome

**Your nano-attribution (ORCID): https://clinicalgenome.org/affiliation/40006/
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, e

[2022-02-08 15:10] kanems opened #4453 "MONDO:0023000 dobrow syndrome and MONDO:0017980 syngnathia multiple anomalies [Merge]"
**Mondo term (ID and Label)**
MONDO:0023000 dobrow syndrome

**Reason for deprecation**
This is the preferred name on http://www.orpha.net/ORDO/Orphanet_3262, which is mapped 1:1 with MONDO:0017980 syngnathia multiple anomalies
GARD https://rarediseases.info.nih.gov/diseases/5092/disease points to the Orphanet entry for Dobrow, as well.

X-refs that could be added to the merged term
UMLS: C5190737

[2022-02-08 18:04] sabrinatoro commented on #1221
@nicolevasilevsky could you give me some background about this issue? Why do we want to make infectious disease and syndrome disjoint?
Currently, "syndrome" is only for 'post-infectious syndrome' (ie not infectious disease), and
'post-infectious syndrome' is a child of 'post-infectious disorder'.

[2022-02-08 18:32] sabrinatoro commented on #4286
I updated the parentage.

[2022-02-08 19:06] #4206 closed

[2022-02-08 19:06] #4201 closed

[2022-02-08 19:41] sabrinatoro opened #4460 "review 'toxic encephalopathy' (MONDO:0005527)"
toxic encephalopathy
MONDO:0005527

This term has only 1 child:
biotin-responsive basal ganglia disease (MONDO:0011841)

We need to check
1) whether this term is indeed a disease or is a phenotype
2) what other children this term should have

[2022-02-08 20:12] sabrinatoro commented on #4316
1st part of the issue:

UMLS:C2718000 also maps to MESH:D057165, BUT UMLS:C2718000 is a "cell or molecular dysfunction" (semantic types).
(the current equivalent UMLS:C2718001 is of semantic types "Disease or Syndrome" at UMLS)
Therefore I think that UMLS:C2718000 should be added to MONDO:0021179 as a MONDO:relatedTo
(@nicolevasilevsky, what do you think?)

[2022-02-08 20:58] nicolevasilevsky commented on #2419
Question for Ada:
is the gene associated for a susceptibility?
Should we create a class: Cardiac conduction defect, susceptibility to

[2022-02-08 21:00] sabrinatoro commented on #4316
Additionally:
1) synucleinopathy (MONDO:0000510)
Add Mondo:equivalent: UMLS:C5191670 ; MeSH:D000080874

2) create new term: TDP-43 proteinopathy
**parent**: proteostasis deficiencies (MONDO:0021179)
**Mondo:equivalent**: UMLS:C2718017 ; MESH:D057177
**definition** : (from MESH:D057177)
Disease characterized by the presence of abnormally phosphorylated, ubiquitinated, and cleaved DNA-binding protei

[2022-02-08 21:07] nicolevasilevsky commented on #4013
Talked to Ada on 02/08/22:
OMIM will create a Phenotypic series for AD 1, 2, 3, 4

They may get divided into early and late onset. This may take some time for OMIM to do this.

In the near term, Type 1 can get divided into AD type 1 and the generic.

[2022-02-08 21:11] nicolevasilevsky commented on #4200
Talking to Ada:
SCID due to partial ADA deficiency is included because it's not lethal immediately, it comes on later in life (ie they are not newborns). (Newborns need a bone marrow transplant.)

The late onset phenotype is still an immunodeficiency because you don't have enough ADA.

Ada does not recommend separating these. Mondo will change the label to use OMIM label.

[2022-02-08 21:12] nicolevasilevsky commented on #4200
Yes. (from Ada)

[2022-02-08 21:19] nicolevasilevsky commented on #2419
to do:
need further info, but for now, remove AKAP10 from the Mondo class 'sudden cardiac arrest'

[2022-02-08 21:23] nicolevasilevsky commented on #3650
To do:
follow Donna's proposed merger. thanks @maglott!

Email Ada:
OMIM should merge these two records:
https://omim.org/entry/258040
https://omim.org/entry/600057

[2022-02-08 21:50] nicolevasilevsky commented on #51
the presentation of this disease depends on if it affects your muscles or brain.
In utero - there is neurological condition that doesn't allow you to move in utero and you end up with contractures
arthrogryposis multiplex congenita happens due to lack of muscle movement and you end up with contractures

to do:
review children of 'arthrogryposis multiplex congenita'
this is an OMIMPS
the children a

[2022-02-08 21:57] nicolevasilevsky commented on #51
review what is in OMIM and match the structure from OMIM in Mondo

[2022-02-08 21:58] nicolevasilevsky commented on #51
'distal arthrogryposis' are limb anomalies
some of the children of 'arthrogryposis multiplex congenita' are brain/neurological

[2022-02-09 01:46] nicolevasilevsky commented on #4316
I agree, as this is not an actual disease in UMLS

[2022-02-09 02:08] #4286 closed

[2022-02-09 16:33] nicolevasilevsky opened #4462 "map ICD10 groupings to Mondo"
**Can we map all ICD10 groupings to Mondo?**

- [x] Align these groupings (have a mapping between ICD grouping codes and Mondo?:
Need to look at first two levels of hierarchy in ICD

- [A00-B99](https://www.icd10data.com/ICD10CM/Codes/A00-B99)  Certain infectious and parasitic diseases
- [C00-D49](https://www.icd10data.com/ICD10CM/Codes/C00-D49)  Neoplasms
- [D50-D89](https://www.icd10data.com/ICD

[2022-02-09 16:37] kanems opened #4463 "split term: hypertelorism, Teebi type MONDO:0007780 (& NTR for THS2)"
**Term to split:**
hypertelorism, Teebi type MONDO:0007780

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
Teebi hypertelorism syndrome 1

New term request: Teebi hypertelorism syndrome 2
(Note these should be children of the current term)

**List properties that should be moved to new term:** Note- ORDO tends to represen

[2022-02-09 19:30] sabrinatoro commented on #3650
I am still trying to wrap my head around whether it makes sense to merge "cloacal exstrophy" into the parent term.
GARD has 2 different entries:
- extrophy-epispadias complex (EES)(https://rarediseases.info.nih.gov/diseases/2207/index) - represents the parent term
- OEIS complex/Cloacal exstrophy (https://rarediseases.info.nih.gov/diseases/4080/index) - grouped under EES.

From their reference:
Th

[2022-02-09 19:33] nicolevasilevsky commented on #3650
We can ask GARD about this, they are doing a major review of their terminology and we can see if they have decided to merge these or keep them separate.

I'll send an email to Gioconda.

[2022-02-09 19:59] ahamosh commented on #3650
Hi All, I spoke with Joanna and Carol.  We (OMIM) are going to keep Bladder exstrophy-epispadias separate from OIES (the only 2 we have in OMIM).  One is one bladder and draining the other is the fullest extent of the whole spectrum.  It is not illegitimate to have epispadias, BEE, cloacal exstrophy, and OIES as 4 separate conditions (all a spectrum) because the clinical, surgical, etc, implicatio

[2022-02-09 20:01] nicolevasilevsky commented on #3650
Excellent, thanks Ada!

[2022-02-09 20:11] #611 closed

[2022-02-09 22:04] sabrinatoro commented on #3650
Thank you @ahamosh !

[2022-02-10 00:10] #4316 closed

[2022-02-10 00:11] #4205 closed

[2022-02-10 00:12] #4128 closed

[2022-02-10 01:21] sabrinatoro opened #4468 "MONDO:0018756 should not be high-level class"
euthyroid Graves orbitopathy (MONDO:0018756) has become a high-level term, probably from a previous term obsoletion.

Based on ols, this term was a child of 'autoimmune disease'.

@nicolevasilevsky can you retrace what happened and why 'euthyroid Graves orbitopathy' lost its 'autoimmune disease' parent?

[2022-02-10 01:33] nicolevasilevsky commented on #4468
not sure but it must have happened recently because it is a child of autoimmune disease in OLS.

Can you please add it back and you can use this reference as the source:
PMID:28427469

https://pubmed.ncbi.nlm.nih.gov/28427469/

thanks!

[2022-02-10 14:58] kanems opened #4469 "MONDO:0044719 and MONDO:0018229 preferred and exact synonyms overlap"
MONDO:0018229  Stevens-Johnson syndrome has "erythema multiforme Major" as an exact synonym, but this is a separate term in Mondo, (MONDO:0044719, erythema multiforme major) and based on NCI, OrphaNet and UMLS mappings, these are indeed distinct concepts (SJS is apparently a more narrow form of EMM?)

- [x] Remove erythema multiforme Major as an exact syn. on SJS

[2022-02-10 16:11] #4168 closed

[2022-02-10 17:44] nicolevasilevsky opened #4472 "[Merge] 'autosomal recessive Mendelian susceptibility to mycobacterial diseases due to partial IFNgammaR1 deficiency'"
**Mondo term (ID and Label)**
MONDO:0017901 'autosomal recessive Mendelian susceptibility to mycobacterial diseases due to partial IFNgammaR1 deficiency'

**Reason for deprecation**
potential duplicate - need to check. @sabrinatoro could you please look into this and if you agree, add this to the merger list. Thanks!

**Term to be merged with**
MONDO_0008856 'immunodeficiency 27A'

[2022-02-10 17:51] matentzn commented on #4469
@nicolevasilevsky please specify the QC check you would like for this issue.

@kanems thank you. @nicolevasilevsky coordinates my work, I usually do not look at issue trackers :)

[2022-02-10 17:59] nicolevasilevsky commented on #4111
I wonder if we should add jaundice as a grouping class (see NCIT: https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C3143&lang=en&viewMode=All&siblings=false)

[MESH](https://meshb.nlm.nih.gov/record/ui?ui=D007567) classifies neonatal jaundice as a child of MONDO_0024288 hyperbilirubinemia

[2022-02-10 18:38] pnrobinson commented on #4111
Both jaundice and hyperbilirubinemia are not diseases, they should be HPO terms. jaundice is a manifestation of hyperbilirubinemia, which has a ton of different causes.
neonatal jaundice is a disease (phenotypic feature plus implied etiology).

[2022-02-10 18:47] nicolevasilevsky opened #4473 "[Revise subclass] MONDO_0007179 'autoimmune disease'"
**Mondo term (ID and Label)**
MONDO_0007179 'autoimmune disease'

**Suggested revision and reasons**
check if this should be a subclass of 'hypersensitivity reaction disease'

(I think not)

[2022-02-10 18:54] ahamosh commented on #4111
I agree with Peter, except that neonatal jaundice can have many etiologies.  The disease entity is really neonatal jaundice due to ABO incombatibility.  Otherwise the list is very long.

[2022-02-10 19:33] nicolevasilevsky commented on #4469
I thought we did have a QC check for checking if an exact synonym matches a label, but maybe this was missed because of the capitalization?

[2022-02-10 19:39] sabrinatoro commented on #4472
I agree, these 2 terms should be merged.
Actually, Orphanet:319569 maps to OMIM:209950.

[2022-02-10 20:16] sabrinatoro commented on #4111
@pnrobinson @ahamosh Thank you for your answers. I however have more questions.

The Mondo term 'neonatal jaundice' (disease) includes terms with different etiologies: due to accelerated destruction of erythrocytes, liver immaturity,...
This is the current classification:
![Screen Shot 2022-02-10 at 12 01 09 PM](https://user-images.githubusercontent.com/12737987/153488735-3cef569f-c491-47fb-a387-6

[2022-02-10 21:07] nicolevasilevsky opened #4474 "need clarification for obsoletion workflow"
What should we do with the defintions on obsolete terms?
1. remove the definition
2. prepend definition with OBSOLETE
3. leave the definition as is?

related to https://github.com/monarch-initiative/mondo/pull/4471

query for definitions on obsolete terms:
https://api.triplydb.com/s/aVNkENJKn

[2022-02-10 21:11] nicolevasilevsky commented on #4472
Looking at this more closely, the Orphanet mapping is narrow to broad ([OMIM:209950 (NTBT (ORPHA code's Narrower Term maps to a Broader Term))](https://omim.org/entry/209950))

I don't think these should be merged

[2022-02-10 21:11] #4472 closed

[2022-02-10 22:11] ahamosh commented on #4111
I would get rid of this as a disease.
Ada

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: sabrinatoro ***@***.***>
Sent: Thursday, February 10, 2022 3:16:35 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Ada Hamosh ***@***.***>; Mention ***@***.***>
Subject: Re: [monarch-initiative/mondo] Obsolete-some high-level grouping classes AND review children terms (Issu

[2022-02-11 00:12] #4118 closed

[2022-02-11 14:10] kristyleelowdermilk opened #4475 "[Obsolete] Antithrombin III deficiency MONDO:0013144"
**Mondo term (ID and Label)**
Antithrombin III deficiency MONDO:0013144

**Reason for deprecation**
This is an outdated term. There is no antithrombin I or II deficiency, so this should be referred to as antithrombin deficiency (PMID: 19141163, 31697819, 28317092, 30005274); https://medlineplus.gov/genetics/condition/hereditary-antithrombin-deficiency/; https://rarediseases.info.nih.gov/diseases/6

[2022-02-11 14:14] kristyleelowdermilk opened #4476 "[Obsolete] Antithrombin II deficiency"
**Mondo term (ID and Label)**
Antithrombin II deficiency MONDO:0020670

**Reason for deprecation**
There is no antithrombin I or II deficiency, so this should be referred to as antithrombin deficiency (PMID: 19141163, 31697819, 28317092, 30005274); https://medlineplus.gov/genetics/condition/hereditary-antithrombin-deficiency/; https://rarediseases.info.nih.gov/diseases/6148/hereditary-antithrombin

[2022-02-11 20:06] cgchute commented on #1107
ICD11 has multiple components.  One is an acyclic graph, semantic network of terms and concepts, that more or less is the backbone of the new ICD.  Each entry also has rich metadata, like a definition and various identifiers.

The traditional monohierarchy that most folks see and use, which we call a linearization, derives from this foundation.  It has the seven digit base 34 IDs, rather than the

[2022-02-11 20:30] joeflack4 commented on #1107
Thanks Chris! That is helpful; probably all I need to know for now. But interested to learn more about how that works under the hood when it comes time for me to work with ICD11.

[2022-02-11 22:35] joeflack4 commented on #628
Related to: https://github.com/monarch-initiative/mondo-ingest/issues/11

[2022-02-14 11:39] acadTags opened #4477 "About the accuracy of ontology alignment in MONDO"
Dear MONDO team,

We are interested in using the ontology alignment (e.g. xref) in MONDO as a gold standard in our experiment, for example, those used in https://mondo.monarchinitiative.org/pages/sources/. Wondered what it is the latest accuracy of the alignments? We found some results (87%) in the slides in https://f1000research.com/slides/5-1648, but the results seem a bit outdated. Please let u

[2022-02-14 12:56] matentzn commented on #4477
@acadTags Awesome, I think you should be fine using Mondo mappings as a gold standard now. There is no guarantee of 100% accuracy (it is not technically possible to guarantee that) but what we can guarantee is that all the mappings in Mondo are:

- 1:1 or
- proxy merges, i.e. two disease concepts in the resource we map to are considered the same.

@hrshdhgd is currently working on providing the ma

[2022-02-14 15:34] kanems opened #4479 "Bug: broken link to OrphaNet/ORDO from "exactMatch""
**Mondo term (ID Label)**
This seems to be happening on several pages, but here is one instance i ran into today on the EBI display for http://purl.obolibrary.org/obo/MONDO_0016525
MONDO:0016525  familial hyperaldosteronism

**Bug/Typo/Error description**
The URLs that should link to external sources in the "Term Information" bar on the right-hand side (example: Orphanet 371861) instead ALL point

[2022-02-14 15:41] kanems commented on #4479
( I see there is a gitHub/issue tracker for OLS, but I don't know the technical details well enough to report the bug directly to them._ @matentzn seems to be an active contributor, though.

[2022-02-14 16:14] sabrinatoro opened #4480 "obsolete 'pigmentation disease' (MONDO:0006600)"
derived from #4111 (see comments in that issue).
to do:
- [x] reclassify orphan children 'reticulate pigment disorder' to MONDO:0019288 {source="OMIMPS:179850", source="https://orcid.org/0000-0002-4142-7153"} ! skin pigmentation disorder
- [x] remove Equivalent axiom of 'skin pigmentation disorder' (MONDO:0019288) that includes 'pigmentation disease'
- [x] obsolete 'neonatal jaundice' (MONDO:00065

[2022-02-14 17:26] nicolevasilevsky commented on #4462
[spreadsheet](https://docs.google.com/spreadsheets/d/1cZPUReTl34Vu2a03tm2921ehARiIpp4fjeQfS27XzKA/edit#gid=0)

[2022-02-14 17:26] matentzn commented on #4479
Great @kanems thanks a ton! Your issue was on point, I opened it here. https://github.com/EBISPOT/OLS/issues/551

No Mondo issue though, so I will close it here.

[2022-02-14 17:26] #4479 closed

[2022-02-14 17:36] kanems opened #4483 "MONDO:0003280 Swayback [Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0003280 Swayback

**Suggested revision and reasons**
Classify this as a child of MONDO:0005583 "non-human animal disorder." Textual definition from both Mondo and MESH https://www.ncbi.nlm.nih.gov/mesh/68013540 indicate this is a disease of Sheep.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-02-14 17:59] kanems opened #4484 "reading disorder has only 1 child- dyslexia"
I'm not sure of the correct action here, but I see Reading Disorder (MONDO:0001697) has only a single child: dyslexia MONDO:0005489.

UMLS treats Reading Disorder and Dyslexia as synonymous (partially) following MESH [D004410], MedDRA 10013932.
https://www.nichd.nih.gov/health/topics/reading/conditioninfo/disorders suggests there are 3 general kinds of reading disorders:
-dyslexia
-alexia (exists

[2022-02-14 18:03] nicolevasilevsky opened #4485 "check 'acquired polycythemia vera'"
should 'acquired polycythemia vera' be a child of 'familial polycythemia'?
is it acquired? It is equiv to https://omim.org/entry/263300

[2022-02-14 22:22] nicolevasilevsky commented on #1819
CUI: C4511237; SCTID 725590001

I added these xrefs to 'butterfly-shaped pigment dystrophy'

[2022-02-14 22:29] nicolevasilevsky commented on #1819
@kanems from what I can tell, [Orphanet_99001](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_99001) is not equivalent to [OMIMPS:PS169150](https://www.omim.org/phenotypicSeries/PS169150). Different genes are implicated in the Orphanet record.

genes affected in OMIMPS are MAPKAP3, MDBS2, CTNNA1 and PRPH2.

The affected genes in Orphanet_99001 are

[2022-02-14 23:10] kanems opened #4487 "MONDO:0020312 and MONDO:0004653[Merge]"
**Mondo term (ID and Label)**
atypical chronic myeloid leukemia MONDO:0020312

**Reason for deprecation**
Editor note: consider merge with MONDO:0004653
and has exact synonym "atypical chronic myeloid leukemia BCR-ABL1 negative"
OrphaNet 98824 maps exact to UMLS CUI: C1292772 "Leukemia, Myeloid, Chronic, Atypical, BCR-ABL Negative"

http://purl.obolibrary.org/obo/DOID_0060597 specifically referenc

[2022-02-14 23:29] Lawhy opened #4488 "Regarding the use of MONDO"
Hi,

I am very interested in using MONDO as a data source and reference for ontology alignment, but I have two technical questions:
1. When extracting the reference mappings (of equivalence), should I just extract them from both `owl:equivalentTo` and `sko:exactMatch` (because they do not seem to be overlapped)?
2. Will it be possible to extract any individual ontologies from MONDO to set up pair-

[2022-02-15 00:28] sabrinatoro commented on #4403
MONDO:0009741 neuroblastoma, susceptibility to
should be renamed to "NEUROBLASTOMA, SUSCEPTIBILITY TO, 1; NBLST1"
In addition, there are other 'neuroblastoma, susceptibility to' terms which should be re-classified (they currently are not part of the 'susceptibility' branch.

[2022-02-15 00:46] sabrinatoro commented on #4403
note: for consistency with other susceptibility terms, I did not create a parent term 'neuroblastoma, susceptibility to'

[2022-02-15 00:52] #4483 closed

[2022-02-15 01:15] sabrinatoro commented on #4403
In addition:
Hirschsprung disease-ganglioneuroblastoma syndrome (MONDO:0013082): should be split and 'neuroblastoma, susceptibility to, 2' (OMIM:613013) should be its own entry

[2022-02-15 02:13] #4013 closed

[2022-02-15 02:14] #4200 closed

[2022-02-15 09:49] matentzn commented on #4488
Hey @Lawhy!

Thank you for your interest. I would recommend to use the skos:exactMatch properties in mondo.owl. We will also provide you with the reference SSSOM tables soon when they are ready (cc @hrshdhgd), so you can pull then without a shadow of a doubt.

Mondo does not fully represent the structure of the external ontologies (only synonyms, ids and sometime subclassOf axioms). Depending on y

[2022-02-15 12:43] Lawhy commented on #4488
Hi @matentzn,

Many thanks for your reply. I am actually doing automatic ontology alignment and found MONDO a good resource for setting up benchmarks, so may I ask will it be possible to provide links to each individual ontology used in MONDO? I know that there is a Source page, but I am not sure which version of each particular ontology is used; I would like to conduct experiments on data that co

[2022-02-15 12:56] matentzn commented on #4488
@Lawhy Ah, this sounds amazing, unfortunately we will have to disappoint you here - we are still in the process of migrating the mappings to the current versions of the source. Some of our source have been only aligned as a one off in the last 4/5 years, others synced sporadically - we are up to date with OMIM, and reasonably up to date with ORDO (maybe 1, 2 versions behind ORDO), but we were doin

[2022-02-15 14:44] Lawhy commented on #4488
I see, but you said that OMIM and ORDO are pretty up-to-date, so could I at least get the version numbers or approximate ones for these ontologies because I will need to download the correct ones for experiments.

[2022-02-15 14:48] matentzn commented on #4488
There is no "OMIM" ontology though with a version, but we can supply you with one. Yeah sure, go ahead. I would think ORDO 3.8 should be covered. You can use this version of OMIM if you want for your experiments: https://github.com/monarch-initiative/omim - it will be covered to about ~99 % (we have not looked at the latest release yet, but it will be good enough to get started).

Feel free to con

[2022-02-15 16:28] #4473 closed

[2022-02-15 16:28] #1819 closed

[2022-02-15 16:44] kanems opened #4496 "split term: MONDO:0013626 psoriasis 14, pustular"
**Term to split:**
MONDO:0013626  psoriasis 14, pustular

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
Generalized pustular psoriasis

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties (such as synonyms and database cross references) will move to the g

[2022-02-16 18:21] kanems commented on #4469
Related example that supports the QC check missing overlaps due to capitalization:
http://purl.obolibrary.org/obo/MONDO_0001493
MONDO:0001493  chronic pulmonary heart disease has Exact synonym "Cor pulmonale" but the Mondo term itself is also a child of "cor pulmonale" MONDO:0004596

[2022-02-17 01:58] nicolevasilevsky commented on #4476
@galyea-gard
this term is in GARD, are you considering obsoleting this term or is still in use?
https://rarediseases.info.nih.gov/diseases/10182/antithrombin-deficiency-type-2
Thanks!

[2022-02-17 02:05] nicolevasilevsky commented on #4475
@kristyleelowdermilk this term is still being used by many other terminologies ([OMIM](https://omim.org/entry/613118), [Orphanet](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_82), [NCIT](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C98815)). I'm not sure that we want to obsolete it.

We could r

[2022-02-17 02:08] #4468 closed

[2022-02-17 02:10] nicolevasilevsky commented on #4229
emailed 2022-02-16

[2022-02-17 13:09] kristyleelowdermilk commented on #4475
Hi Nicole,

According to the experts I work with on the ClinGen Thrombosis Variant Curation Expert Panel<https://clinicalgenome.org/affiliation/50064/>, this term should be obsolete.  There is no antithrombin I or antithrombin II deficiency, and it was misnamed decades ago.  However, I completely understand the concern about its use on prominent resource websites.  While the correct thing to do is

[2022-02-17 13:25] kristyleelowdermilk commented on #4476
Hi again,

So to provide you with a little more clarity, within antithrombin deficiency there are SERPINC1 variants that cause a type 1 deficiency and a type 2 deficiency.  Type 1 deficiency variants cause a quantitative defect and the type 2 variants cause a qualitative defect.  The distinction can be important because folks with a type 2 defect may not have lower levels of the antithrombin prote

[2022-02-17 16:28] nicolevasilevsky opened #4497 "split term: Add new OMIMPS terms (may need to split some existing prototype terms)"
[Term]
id: MONDO:0030767
name: central hypoventilation syndrome, congenital
xref: OMIMPS:209880 {source="MONDO:equivalentTo"} ! central hypoventilation syndrome, congenital

[Term]
id: MONDO:0030796
name: leukoencephalopathy, hereditary diffuse, with spheroids
xref: OMIMPS:221820 {source="MONDO:equivalentTo"} ! leukoencephalopathy, hereditary diffuse, with spheroids

[Term]
id: MONDO:0030831
name:

[2022-02-17 16:29] matentzn opened #4498 "OMIM slurp February 2022"
Phenotypic series:

[code]

Rest:

[code]

[2022-02-17 17:58] nicolevasilevsky commented on #4497
duplicate https://github.com/monarch-initiative/mondo/issues/4498

[2022-02-17 17:58] #4497 closed

[2022-02-17 18:34] pnrobinson commented on #3650
It seems that features such as epispadias are features of many diseases, but there is a non-syndromic bladder exstrophy-epispadias complex (https://pubmed.ncbi.nlm.nih.gov/19161161/) that can be characterized by any combination of the features. I do not think it is correct to say that Epispadias is a subclass of this disease.  I would remove all of the subclasses, there is no clear distinction.
@a

[2022-02-17 19:28] nicolevasilevsky opened #4499 "[Obsolete] MONDO_0015551 basal epidermolysis bullosa simplex"
**Mondo term (ID and Label)**
MONDO_0015551 basal epidermolysis bullosa simplex

**Reason for deprecation**
obsolete in Orphanet

**Suggested term to consider**
MONDO:0030613

[2022-02-17 19:36] nicolevasilevsky opened #4500 "split term: MONDO:0007780 'hypertelorism, Teebi type'"
**Term to split:**
MONDO:0007780 'hypertelorism, Teebi type'

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
MONDO:800025 'hypertelorism, Teebi type'
MONDO:0030639 teebi hypertelorism syndrome

- [x] obsolete  MONDO:0007780 'hypertelorism, Teebi type'

- [x] add new OMIMPS:

[Term]
id: MONDO:0030639
name: Teebi hypertelor

[2022-02-17 19:49] nicolevasilevsky opened #4501 "split term: MONDO:0008852 'congenital central hypoventilation syndrome'"
**Term to split:**
MONDO:0008852 'congenital central hypoventilation syndrome'

- [x] obsolete MONDO:0008852 'congenital central hypoventilation syndrome'
- [x] add new OMIMPS:
[Term]
id: MONDO:800031
name: central hypoventilation syndrome, congenital
xref: OMIMPS:209880 {source="MONDO:equivalentTo"} ! central hypoventilation syndrome, congenital
is_a: MONDO:0003847 {source="OMIMPS:209880"} ! l'Me

[2022-02-17 19:59] nicolevasilevsky opened #4502 "split term: MONDO:0009096 hereditary diffuse leukoencephalopathy with axonal spheroids and pigmented glia'"
**Term to split:**
MONDO:0009096 hereditary diffuse leukoencephalopathy with axonal spheroids and pigmented glia'

- [x] obsolete MONDO:0009096 hereditary diffuse leukoencephalopathy with axonal spheroids and pigmented glia'
- [x] add new OMIMPS:
[Term]
id: MONDO:0030796
name: leukoencephalopathy, hereditary diffuse, with spheroids
xref: OMIMPS:221820 {source="MONDO:equivalentTo"} ! leukoencephalo

[2022-02-17 20:00] kanems opened #4503 "MONDO:0011319 activator of liver function 1 [Obsolete]"
**Mondo term (ID and Label)**
activator of liver function 1
(https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0011319)
MONDO:0011319

**Reason for deprecation**
This is not a disease, it's an OMIM page for a pseudogene.
[OMIM:603416 (MONDO:equivalentTo)](https://omim.org/entry/603416)

**Suggested term to consider**
None.

**Your nano-attribution

[2022-02-17 20:03] kanems opened #4504 "MONDO:0014616 [Obsolete]"
**Mondo term (ID and Label)**
[MONDO:0014616](https://monarchinitiative.org/disease/MONDO:0014616) Skint1-like pseudogene

**Reason for deprecation**
[OMIM:616392 (MONDO:equivalentTo)](https://omim.org/entry/616392) is not a disease, but a pseudogene locus.

**Suggested term to consider**
None.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://or

[2022-02-17 20:11] kanems commented on #4500
I think maybe this covers similar/same issue to my ticket? #4463

[2022-02-17 20:58] nicolevasilevsky commented on #4500
Yes it does, thanks for pointing that out @kanems!
I will close yours, if you don't mind, since I added all the action items to this one. Thank you!

[2022-02-17 21:04] matentzn opened #4505 "Some issues slipped through QC"
- [x] duplicate_definition	MONDO:0017178	IAO:0000115	A rare genetic skeletal disorder characterized clinically by abnormal chondro-skeletal development, disproportionate short stature and skeletal deformation mainly affecting the knees, hips, ankles and elbows with onset generally in late childhood or adolescence.
- [x] duplicate_definition	MONDO:0100462	IAO:0000115	A rare genetic skeletal disorde

[2022-02-17 21:43] nicolevasilevsky opened #4507 "split term: MONDO:0011707 'familial dyskinesia and facial myokymia'"
**Term to split:**
MONDO:0011707 'familial dyskinesia and facial myokymia'

- [x] obsolete MONDO:0011707 'familial dyskinesia and facial myokymia'
- [ ] add new OMIMPS:
[Term]
id: MONDO:0031115
name: dyskinesia with orofacial involvement
xref: OMIMPS:606703 {source="MONDO:equivalentTo"} ! dyskinesia with orofacial involvement
is_a: MONDO:0003847 {source="OMIMPS:606703"} ! l'Mendelian disease'
rela

[2022-02-17 22:00] nicolevasilevsky opened #4508 "split term: MONDO:0008345 'idiopathic pulmonary fibrosis'"
**Term to split:**
MONDO:0008345 'idiopathic pulmonary fibrosis'

- [x] obsolete MONDO:0008345 'idiopathic pulmonary fibrosis'
- [ ] add new OMIMPS:
[Term]
id: MONDO:0031199
name: inherited interstitial lung disease
xref: OMIMPS:619611 {source="MONDO:equivalentTo"} ! interstitial lung disease
is_a: MONDO:0003847 {source="OMIMPS:619611"} ! l'Mendelian disease'
relationship: has_modifier MONDO:00211

[2022-02-17 22:11] nicolevasilevsky opened #4510 "split term: MONDO:0100461 'gastrointestinal defects and immunodeficiency syndrome'"
**Term to split:**
MONDO:0100461 'gastrointestinal defects and immunodeficiency syndrome'

- [x] obsolete MONDO:0100461 'gastrointestinal defects and immunodeficiency syndrome'
- [x] add new OMIMPS:
[Term]
id: MONDO:0030831
name: gastrointestinal defect and immunodeficiency syndrome
xref: OMIMPS:243150 {source="MONDO:equivalentTo"} ! gastrointestinal defect and immunodeficiency syndrome
is_a: MOND

[2022-02-18 00:55] nicolevasilevsky commented on #4476
Hi @kristyleelowdermilk Thanks so much for the info and clarification, this makes much more sense to me now. :)
I also spoke with our medical expert on our team (Peter Robinson) and he confirmed that this term should be obsoleted and we should consider: MONDO_0012876 'heparin cofactor 2 deficiency'.

We'll mark this for obsoletion and leave it open for 2 months for further comment and we'll obsole

[2022-02-18 01:13] #4498 closed

[2022-02-18 01:14] #4505 closed

[2022-02-18 01:32] ahamosh commented on #3650
Hi Peter, the BEE is anterior and the OEIS also involves the anus and spine.  OMIM historically has both.  We wouldn't make a separate epispadias or cloacal exstrophy which is between BEE and OEIS.  OMIM is sticking with 2.  No genes in hand for either, but OIES is much worse (many more surgeries) than BEE.

[2022-02-18 01:48] nicolevasilevsky commented on #4475
Hi @kristyleelowdermilk I spoke our to team's medical expert, Peter Robinson and he confirmed that this term is still in use in the clinical community and advised against obsoleting it. We are very grateful for all of the ClinGen curators too and really appreciate your expert advice. :)

For now, I'll relabel the term to hereditary antithrombin deficiency

I will update the definition too.

Thank

[2022-02-18 04:33] nicolevasilevsky commented on #3637
To do (after March release)
- [ ] obsolete the classes in this [spreadsheet](https://docs.google.com/spreadsheets/d/1jIdUr9LFgb0fU2RWiUgItwbWUr0oY2Knz0G2FK6a2aU/edit#gid=654469874) using this [workflow](https://mondo.readthedocs.io/en/latest/editors-guide/merging-and-obsoleting/#simple-mass-obsoletion-pipeline)

[2022-02-18 05:37] nicolevasilevsky commented on #4476
I closed the wrong ticket! Reopening

[2022-02-18 05:38] #4475 closed

[2022-02-18 05:40] nicolevasilevsky commented on #4222
@sabrinatoro are you working on this? If so, I'll reassign it to you. Or I'm happy to work on it too.

[2022-02-18 05:45] nicolevasilevsky commented on #4469
@kanems I'll make the fixes for the issues you noted. The bigger issue will be solved as part of our synonym spring clean (https://github.com/monarch-initiative/mondo/issues/2939).

[2022-02-18 05:45] nicolevasilevsky commented on #2939
Note, we need to be careful with capitalization (see #4469)

[2022-02-18 05:50] nicolevasilevsky commented on #4068
Looks like this was already done, MONDO_0010582 is obsolete
'obsolete diabetes insipidus, neurohypophyseal type, X-linked inheritance'

[2022-02-18 05:50] #4068 closed

[2022-02-18 12:40] kristyleelowdermilk commented on #4475
That sounds like a great compromise, Nicole.  Thanks so much and have a great weekend!

Kristy

Kristy Lee, MS, CGC
Genetic Counselor
UNC Chapel Hill
919-843-3158
________________________________
From: Nicole Vasilevsky ***@***.***>
Sent: Thursday, February 17, 2022 8:48 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Lee, Kristy ***@***.***>; Mention ***@***.***>
Subject: Re: [monarch-initiative

[2022-02-18 16:04] sabrinatoro commented on #4222
@nicolevasilevsky, so far, I only updated the typo in the label. I haven't gone deep down into this issue yet.
I was planning to do it next month (since it is due for April), but if you want to do it earlier, please go ahead :-)

[2022-02-18 17:16] nicolevasilevsky commented on #3886
we're doing a new Orphanet ingest (4.0)
-Take in new ORDO ontology and remove all the previously supported orphanet axioms (subclassOf), then add new ORDO supported subclassOf axioms
- We’ll end up with unsupported subclassOf axioms and these can be reviewed/removed

[2022-02-18 17:16] #3886 closed

[2022-02-18 17:25] nicolevasilevsky commented on #548
This has been resolved with the new Uberon import.

[2022-02-18 17:25] #548 closed

[2022-02-18 17:32] nicolevasilevsky commented on #4474
Nico thinks we should keep definitions and prepend them with OBSOLETE
(but we should not worry about existing obsolete terms and their lack of definitions)

He will introduce a QC check that checks if a term is obsoleted and had a definition, then it should start with OBSOLETE.

- [ ] fix existing definitions on obsoleted terms to prepend them with OBSOLETE

[2022-02-18 17:35] nicolevasilevsky commented on #4474
This is a query for terms in Mondo that are obsoleted and the definition is not prepended with OBSOLETE:
https://api.triplydb.com/s/Szhkn6x8I

[2022-02-18 17:48] kanems opened #4516 "Merge MONDO:0008940 and MONDO:0013722[Merge]"
**Mondo term (ID and Label)**
MONDO:0008940  endosteal sclerosis-cerebellar hypoplasia syndrome

**Reason for deprecation**
Per OMIM: ^ 213002
MOVED TO [614381](https://omim.org/entry/614381)
And endosteal sclerosis-cerebellar hypoplasia syndrome is now an alternate name for OMIM:614381
**Term to be merged with**
MONDO:0013722 hypomyelinating leukodystrophy 8 with or without oligodontia and-or hyp

[2022-02-18 18:19] nicolevasilevsky commented on #4474
Note - I updated the documentation.

[2022-02-18 18:38] #1455 closed

[2022-02-21 15:12] maglott opened #4521 "scope of processing from OMIM"
Submitters to ClinVar and GTR often provide the name of a disorder according to the value they see in genemap2.txt.
In some cases, these names do not match any preferred , alternate, or included term in a record from OMIM itself.
Are there any plans to integrate the unique terms from genemap into Mondo?
NCBI often retains those terms as distinct entities, e.g.
https://www.ncbi.nlm.nih.gov/medgen/C

[2022-02-21 15:21] Lawhy opened #4522 "Missing SSSOM mappings"
Hi @matentzn ,

I found that the extracted SSSOM mappings are incomplete, e.g., the pair of MONDO-OMIMPS is missing.

[2022-02-21 15:45] matentzn commented on #4522
Thank you @Lawhy

@hrshdhgd I am assigning you since you are working on reviving this branch - basically make sure that the OMIM sssom tables include not only OMIM, but also OMIMPS prefix terms.

[2022-02-21 16:44] joeflack4 opened #4524 "Fix: Illegal ICD10 Codes"
## Description
During my ICD10CM analysis, I found these.

_Nico said:_

https://docs.google.com/spreadsheets/d/1KMTF7aUAeamVr_vZQSKxoJF28itRT4ZXUIiHcr8pFzk/edit

## Related issues
#628

[2022-02-21 18:41] matentzn commented on #4524
Concretely:

Go through all the codes in `prefixOriginal:code` column and figure out what on the https://www.icd10data.com/ site they were supposed to refer to. You can use search in protege to find any related Mondo terms.

[2022-02-21 18:44] matentzn commented on #1107
@cgchute is there anything like [this](https://bioportal.bioontology.org/ontologies/ICD10CM) for ICD11 to run some experiments for mapping?

[2022-02-21 20:00] cgchute commented on #1107
Actually, I was coPI on the NCBO and BioPortal back in the day.  ICD11 does not seem to be there yet, which would be a Stanford thing these days.  I am copying Can Çelik at WHO, who can point you to the API resources for ICD11.  That may ultimately be the more useful resource.

Chris

From: Nico Matentzoglu ***@***.***>
Sent: Monday, February 21, 2022 1:44 PM
To: monarch-initiative/mondo ***@***.*

[2022-02-21 20:29] matentzn commented on #1107
I am not sure cc-ing someone on GitHub is possible :) but Can, if you see this, I would be happy to learn which file you recommend to get a "complete dump" of ICD11 including hierarchies and "semantic core". Thank you!

[2022-02-22 10:55] matentzn opened #4525 "Manually map 5 ORDO codes"
The old slurping pipeline has a problem with these, thank you for mapping:

- [x] Orphanet:377791 ! morphological anomaly - _this is added as a subset tag in Mondo_
- [x] Orphanet:557494 ! subtype of a disorder - _I really have no idea what to do with this!_
- [x] Orphanet:377789 ! malformation syndrome. _Should we do a proxy merge with MONDO_0019755 'developmental defect during embryogenesis' ([O

[2022-02-22 15:52] galyea-gard commented on #4476
Hi Nicole!  The review process is still ongoing and I cannot say with certainty what changes may be made but I believe this one will be retired. (as it does not meet the current criteria for having a separate page).  We will know more when the process is over. Sorry not to be more helpful.  Thank you! Gioconda.

From: Nicole Vasilevsky ***@***.***>
Sent: Wednesday, February 16, 2022 8:59 PM
To: mo

[2022-02-22 16:09] kanems commented on #4521
@ahamosh @nicolevasilevsky  Would be very interested to hear your thoughts this topic.

[2022-02-22 16:37] kanems opened #4527 "MONDO:0013907 bilateral generalized polymicrogyria"
**Mondo term (ID and Label):**
 MONDO:0013907 bilateral generalized polymicrogyria

**Suggested new label:**
MICROCEPHALY, SHORT STATURE, AND POLYMICROGYRIA WITH OR WITHOUT SEIZURES ??

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
The current p

[2022-02-22 17:31] nicolevasilevsky commented on #4524
@joeflack4 and @matentzn can you clarify what needs to be done? Should I fix these in Mondo?

[2022-02-22 18:00] cmungall commented on #4524
Note these odd "+"s and "*"s come from ORDO.
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_100067

Clearly they should not be part of the actual ID itself and ORDO is using
some kind of ad-hoc expression language. I think it's worth (a small amount
of) investigating what they are trying to do and seeing if there is a way
to represent this another

[2022-02-22 18:18] matentzn commented on #4524
I think this is what needs to be done:

Given this example: `MONDO:123 --> ICD10:E35.1*`

1. Based on the bad code you try to figure out what the correct mapping is, e.g `MONDO:123 --> ICD10:E35.1` or whatever code you think.
2. The correct code should be changed to `ICD10CM:E35.1`
3. The expression language pattern (where a _correct_ code is postfixed by a symbol like `*`, `+` etc) one should be

[2022-02-23 03:29] nicolevasilevsky opened #4528 "exact synonym: malnutrition"
**Mondo term (ID and Label)**
MONDO:0006873	nutritional deficiency disease

**Synonym to be added**
malnutrition should be an exact synonym

while 'malnutrition' is currently a related synonym, the Mondo x-ref point to malnutrition terms

[2022-02-23 04:21] nicolevasilevsky commented on #4525
@matentzn see my comments above, I should ask Chris about these.
Are you suggesting that we just add them to Mondo as "born obsolete" though?

[2022-02-23 06:40] matentzn commented on #4525
I think having them enter as born obsolete is totally fine, but yeah, best to check in with Chris.

[2022-02-23 16:24] nicolevasilevsky commented on #4524
to do:
- all fo the + and * should be changed to ICD10EXP, but I need to review these and make sure there is at least one correct code if possible.

[2022-02-23 17:21] kanems commented on #2597
I think this term might need another look.
SCTID:281411007 is indeed "Spastic diplegia" however the UMLS CUI cited (C0270804) maps the SNOMED CT concept for "Diplegic cerebral palsy" SNOMEDCT_US, 58193001
Also HPO has a phenotype of the same preferred name: "Spastic diplegia HP:0001264" https://hpo.jax.org/app/browse/term/HP:0001264 so the preferred names from Mondo and HPO are causing a conflict

[2022-02-23 18:00] nicolevasilevsky opened #4531 "New QC check: check for Title case in MONDO:equivalentTo"
related to https://github.com/monarch-initiative/mondo/pull/4530/files

Make sure the prefix for the source annotations are capital, eg should be MONDO:equivalentTo not Mondo:equivalentTo. See full list below.

## Axiom Annotations Summary Table

Annotation  |   Description |   What kind of axiom it can apply to  |   Editors only?   |   Example
--- | --- | --- | --- | ---
MONDO:ambiguous     |   U

[2022-02-23 20:54] kanems opened #4533 "MONDO:0011878 and MONDO:0007764 [Merge]"
**Mondo term (ID and Label)**
MONDO:0011878 Worth syndrome

**Reason for deprecation**
MONDO:0011878  Worth syndrome definition: "A hyperostosis that has material basis in a mutation in the LRP5 gene which results in increased bone density and bony structures located in palate"  and OMIM 607636 MOVED TO [144750](https://omim.org/entry/144750)
Worth syndrome is an exact synonym on MONDO:0007764  au

[2022-02-23 21:56] sabrinatoro commented on #4415
@nicolevasilevsky
I cannot figure out what the actual difference between these terms is. I looked for reviews, and I didn't find more information.
Myxoma is most frequently found in the heart (e.g. atrial myxomas), but could occur in other places in the human body, such as the skeletal muscles (intramuscular myxomas), the eye (ocular or conjunctival myxoma), and the skin (cutaneous myxoma)
Angiomy

[2022-02-24 12:17] matentzn opened #4534 "Document the versions of external sources aligned in Mondo"
We should add a new annotation property:

[code]

To Mondo to document which the last version is Mondo was synced against. Since we didn't do that in the past, we need to determine how and if we can do that retrospectively.

I recommend, rather than to document the _actual_ version IRIs (which may not even exist), to use stable IRIs to the Mondo pre-processed ingestibles, i.e.

http://purl.obolibr

[2022-02-24 12:59] matentzn opened #4535 "Ingest manually curated ICD10CM mappings into Mondo"
From @nicolevasilevsky [spreadsheet](https://docs.google.com/spreadsheets/d/1cZPUReTl34Vu2a03tm2921ehARiIpp4fjeQfS27XzKA/edit#gid=0)

[2022-02-24 13:04] matentzn opened #4536 "Document curation rules for ICD10CM mappings"
We need to know precisely:

1. What were you thinking when aligning exact matches. Did you have doubts?
2. How did you decide not to map a term? Which one? (neoplasm, injury, etc)
3. What difficulties arose during the manual mapping process (the more detail the better)
4. Can you try to formulate your curation method, i.e. what did you do exactly to determine whether two terms could be mapped?

[2022-02-24 13:58] matentzn commented on #4536
I think we need something like this from Orphanet:

https://www.orpha.net/orphacom/cahiers/docs/GB/Orphanet_ICD10_coding_rules_R1_Nom_ICD_EP_06.pdf

What do you think?

[2022-02-24 16:32] nicolevasilevsky commented on #4525
action item: bring in all these terms as born obsolete

[2022-02-24 16:33] nicolevasilevsky commented on #4535
need to turn this into a ROBOT template, best to do this together

[2022-02-24 16:48] sabrinatoro commented on #4536
@matentzn
I think it would be a very good thing to have something like the Orphanet document.
It looks like a lot of work, but I think it is important so we document everything we do, and it also will record our process, which is important when sharing the mappings.

[2022-02-24 17:41] #4528 closed

[2022-02-24 17:52] joeflack4 commented on #4524
Just curious, is `ICD10EXP:` a new prefix that should resolve to some URI base? Is it a problem if it doesn't?

[2022-02-24 17:54] matentzn commented on #4524
No, we should filter these out before release.. We just don't want to loose the province atm!

[2022-02-24 20:20] kanems opened #4537 "MONDO:0015681/MONDO:0001726 childhood disintegrative disorder/disease ? [Merge]"
**Mondo term (ID and Label)**

MONDO:0001726  childhood disintegrative disease

**Reason for deprecation**
I am not sure I understand why there is a distinction between these two concepts?
Both cite "Heller('s) syndrome" as an exact synonym in Mondo.

NOTE the SNOMEDCT code on MONDO:0001726 is 61831009 , which is "Induced psychotic disorder" and does not seem to match the concept, this should prob

[2022-02-25 17:09] #2732 closed

[2022-02-25 17:11] nicolevasilevsky commented on #4534
https://github.com/monarch-initiative/mondo/tree/master/src/ontology/sources

[2022-02-25 18:44] matentzn opened #4538 "OMIM slurp 2 (11.02.2022)"
We are still on the 11.02.2022 slurp:

PS:

[code]

Rest:

[code]

[2022-02-25 19:03] nicolevasilevsky commented on #4538
@matentzn I created separate tickets for the remaining OMIMPS, as we'll have to split those and I'll need to wait two months before I obsolete/create new classes.

I'll add the rest before the next release

[2022-02-25 20:56] miajsullivan opened #4541 "[NTR/gene] TPM4-related platelet disorder"
**Preferred gene-related syndrome label**

TPM4-related platelet disorder

**Synonyms**
TPM4-related platelet dysfunction with or without thrombocytopenia

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
Platelet disorder, undefined (MONDO:0008254)

**Definition**
Please write the definition in the format: Any [parent class] in which the c

[2022-02-25 21:28] #4538 closed

[2022-02-25 23:17] nicolevasilevsky opened #4545 "make sure there is documentation on the difference b/w proxy merge and reverse proxy merge"
and what is allowed, what isn't

maybe there is documentation already, need to check

[2022-02-27 22:14] nicolevasilevsky opened #4549 "[NTR] CDH1-Related Diffuse Gastric and Lobular Breast Cancer, DGLBC"
From ClinGen (Sheng-An Yang)

**New term**: CDH1-Related Diffuse Gastric and Lobular Breast Cancer
**Syn**: DGLBC

**Definition**:
Germline pathogenic or likely pathogenic variants in the CDH1 gene (NM_004360.5) predispose to hereditary diffuse gastric cancer (HDGC; MIM# 137215), a cancer susceptibility syndrome inherited in an autosomal dominant pattern, initially characterized by the increased r

[2022-03-01 01:12] nicolevasilevsky opened #4558 "synonym for adult Refsum disease"
**Mondo term (ID and Label)**
 MONDO:0009958 adult Refsum disease

@ahamosh
I have a question about the synonyms for REFSUM DISEASE, CLASSIC (https://www.omim.org/entry/266500).

Should HEREDITARY MOTOR AND SENSORY NEUROPATHY IV; HMSN4 and HMSN IV be exact synonyms for Refsum disease, classic (which is equivalent to MONDO_0009958 'adult Refsum disease')?

Hereditary motor and sensory neuropathy ty

[2022-03-01 02:43] nicolevasilevsky opened #4559 "Authorship on Mondo community publication"
@alexhenrie, @althonos, @AnneliK, @Antonialock, @aschroed, @AsierGonzalez, @asmvernon, @azankl, @bmeldal, @brookepalus, @buske, @CarrieBarry, @cbizon, @colleenXu, @cthoyt, @d0choa, @dancingline, @darintay, @dhimmel, @dst1, @eloisevalasek, @ewilcox19, @fjlogrono, @fmjabato, @FuqiX, @groliver, @gtsueng, @GullyBurns, @ireneisdoomed, @jagcsun, @jahilton, @jmcglaughon, @johannaest, @Jordi-Valls, @jpgou

[2022-03-01 02:45] nicolevasilevsky commented on #4559
@peupeubangbang
@RedRiver1816, @rwst, @saramsey, @seoanezonjic, @sgblanch, @smcnulty13, @stuppie, @tnavatar, @TudorOprea, @turbomam, @twhetzel, @ValWood, @vforget, @WallaceKa, @kristyleelowdermilk, @abbe-Lai, @achenNCATS, @agrant9394, @ahamosh, @aholovenko, @ahwagner, @Alx-Kouris, @Anne-Pariser, @balhoff, @callahantiff, @cmungall, @courtneythaxton, @daniwelter, @dosumis, @drseb, @ehartley, @ErinRi

[2022-03-01 02:46] nicolevasilevsky commented on #4559
@MorganSimiluk, @paolaroncaglia, @pjbrooksphd, @rebecca-siegert, @sabrinatoro, @sambaxter, @Sean-Ontoforce, @ShahimEssaid, @simonjupp, @tibingaman, @TomConlin, @tsneddon, @vanessaboulanger, @Vineyardintern, @yy20716, @zoependlington

[2022-03-01 06:15] alexhenrie commented on #4559
I have not made any meaningful contribution to Mondo, but I can sincerely say thank you for everyone else's work on it!

[2022-03-01 11:10] fmjabato commented on #4559
First of all, thanks for your work and for take us into account. I have not made any significant contribution, so you dont have to include my name.

Thanks for all once more

[2022-03-01 13:24] abbe-Lai commented on #4559
Hello,

I have also not made significant contributions please feel free to not include me.

Thank you!

Best,
Abbe Lai

From: Fernando Moreno Jabato ***@***.***>
Reply-To: monarch-initiative/mondo ***@***.***>
Date: Tuesday, March 1, 2022 at 6:10 AM
To: monarch-initiative/mondo ***@***.***>
Cc: "Lai, Abbe" ***@***.***>, Mention ***@***.***>
Subject: Re: [monarch-initiative/mondo] Authorship on Mon

[2022-03-01 13:53] megood1 commented on #4559
Hello,

I also have not made any significant contributions so please feel free to not include me as an author.

Best,
Molly Good

From: abbe-Lai ***@***.***>
Sent: Tuesday, March 1, 2022 8:25 AM
To: monarch-initiative/mondo ***@***.***>
Cc: Good, Molly E. ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [monarch-initiative/mondo] Authorship on Mondo community publication (Issue #4559)

E

[2022-03-01 16:42] sabrinatoro commented on #4536
Curation rules are in the "CurationRules" in the spreadsheet [here](https://docs.google.com/spreadsheets/d/1cZPUReTl34Vu2a03tm2921ehARiIpp4fjeQfS27XzKA/edit#gid=231452953)

@matentzn please take a quick look whenever you have a moment and let me know if these are understandable and in a clear format. Thanks

[2022-03-01 17:44] matentzn commented on #4536
I already looked them over last weekend and I _love_ what I can learn from them. I would kinda like you to present this a bit at the next ODK talk, also so that @cmungall can chime in on this.

[2022-03-01 17:45] matentzn commented on #4536
(Issue can be closed)

[2022-03-01 17:46] sabrinatoro commented on #4415
Response from NCIT:
Angiomyxomas have a prominent vascular component in contrast to myxomas. We modified the  textual definition of angiomyxoma to include this differentiating feature: A benign soft tissue neoplasm characterized by the presence of neoplastic spindle and stellate cells, and vascular proliferation in a myxoid stroma.

[2022-03-01 17:53] #4536 closed

[2022-03-01 18:27] lefailla commented on #4559
Could you please add Rachel Sparks (@RS060115) as she worked with us to help add new terms, but we had just been using my email address for the team.

[2022-03-01 18:36] bmeldal commented on #4559
I requested bunch of terms/term updates. Not sure if that warrants a co-authorship? @nicolevasilevsky

[2022-03-01 19:10] fiendish commented on #4559
The bar for inclusion as a community contributor is intentionally low because even small reports and recommendations bring real long-term value to the project.

Nicole reached out to all of us because the intent is for the author list to represent the community. I don't think anyone needs to treat this like someone's going to show up at your house and interrogate you over how much you _really_ gav

[2022-03-01 19:36] jmcmurry commented on #4559
Yes! This is the way :) All are welcome, no matter how small your contribution. We just don't want to include anyone who wishes to opt OUT as that wouldn't be ethical or consistent with ICMJE journal policies.

[2022-03-01 19:39] jmcmurry commented on #4559
Certainly!

[2022-03-01 19:54] GullyBurns commented on #4559
Perhaps, it might be interesting to have a discussion of how feedback from the community was factored into the curation process? That could be an important point to emphasize in the text of the paper.

Thank you for including my meagre contribution!

[2022-03-01 21:00] matentzn opened #4564 "Automate pattern and qc docs in GH actions"
@nicolevasilevsky I can do this in 5 min during a call of your choosing.

[2022-03-01 21:40] nicolevasilevsky commented on #4559
@alexhenrie @fmjabato @abbe-Lai @megood1 @bmeldal

Exactly as @fiendish and @jmcmurry said, you are welcome to join as authors if you like and feel comfortable, we are grateful for all the contributions from our community, and your term requests and tickets are much appreciated.

@RS060115 could you please fill out the [authorship form](https://docs.google.com/forms/d/e/1FAIpQLScQleLL4-umtKAJzY05T

[2022-03-01 22:14] nicolevasilevsky commented on #4559
@bronkisler @kingmanzhang

adding you to this ticket, see initial comment above, thanks!

[2022-03-01 22:14] maglott commented on #4559
I added suggestions to the doc but not edits.  Should I convert my suggestions to  edits, or will someone else do that?  Thanks

[2022-03-01 22:30] jmcmurry commented on #4559
We can manage, thanks

[2022-03-01 23:03] nicolevasilevsky commented on #4564
I added this to our one-on-one agenda

[2022-03-02 03:42] kingmanzhang commented on #4559
Thank you for kindly including me! Thank @nicolevasilevsky and the rest of the team for the great work

[2022-03-02 07:35] AnneliK commented on #4559
Hello
Thank you for reaching out and for the fantastic work you and the Mondo team do. I haven’t contributed to Mondo in any major way so you don’t have to include me in the list of authors.
Thank you again.
Anneli

Anneli Karlsson – Senior Scientific Curator

[signature_1965736740]

SciBite Limited BioData Innovation Centre, Wellcome Genome Campus, Hinxton, Cambridge. CB10 1DR
[signature_11577537

[2022-03-02 07:41] Jordi-Valls commented on #4559
Hi everyone,

Thanks to include me into the list and congratulations for your fantastic work. I haven't contributed o Mondo in any way, so it is not necessary to include me in the authors list.

Thanks,
 Jordi

[2022-03-02 14:23] abbe-Lai commented on #4559
Hello,

Thank you for letting me know, I am certainly grateful to be included!

Best,
Abbe Lai, MS, CGC
Licensed Genetic Counselor
Coordinator, Brain Development and Genetics Clinic
Research Coordinator, Walsh Laboratory
***@***.******@***.***>
617-919-4371 | fax 617-919-2300 www.walshlab.org<http://www.walshlab.org/>

From: Nicole Vasilevsky ***@***.***>
Reply-To: monarch-initiative/mondo ***@***

[2022-03-02 15:40] kanems opened #4568 "Orphanet X-refs on Mondo ID but none are "Mondo:equivalentTo""
**Mondo term (ID and Label):**
This affects multiple entries in Mondo, but a case example:
MONDO:0014389
polyglucosan body myopathy 1 with or without immunodeficiency

**Xref that should be fixed (ID and label):**
Orphanet

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**
The data, as currently displaying in EBI,

[2022-03-02 16:06] maglott commented on #4568
To provide more technical background, MedGen just started to use only the skos:exactMatch values. We failed to determine how many XRefs would then go missing.

[2022-03-02 19:36] kanems commented on #3205
Hi Nicole! I was just looking at cleaning up this merge in MedGen's data but I think it may have been done in error. There are a host of other Coxsackievirus-based infectious diseases in UMLS:
Coxsackievirus Infections UMLS CUI: C0010246 is a broader term to:
[Acute coxsackievirus bronchitis - https://uts.nlm.nih.gov/uts/umls/concept/C0555994)
[Congenital coxsackie infection -https://uts.nlm.nih.g

[2022-03-02 22:37] #4525 closed

[2022-03-02 22:41] #4452 closed

[2022-03-02 22:48] #4415 closed

[2022-03-03 10:43] matentzn opened #4570 "Create list of ICD terms excluded from our mapping"
Action items:

- [x] A draft list (does not have to be complete, just a good start) of terms or branches (terms with children) that we can safely ignore in our mapping effort
- [ ] Add a new column to the above called "regex". Start collecting regular expressions on labels that you believe will reliably select a term of some category. For example, rather than recording a code like ICD10CM:ABC123 w

[2022-03-03 11:37] matentzn commented on #4568
@kanems @maglott Thank you for sharing this very important issue. Would it be possible if you or someone from your team could come to our technical call (Friday 9am PT)?

- skos:exactMatch is only asserted if MONDO:equivalentTo (or obsoleteEquivalent) is asserted on the xref.
- I think you should not use xrefs at all, just skos:exactMatch
- I think Mondo should not have _any_ xrefs without a Mondo

[2022-03-03 12:14] maglott commented on #4568
I can attend; this review exposed some gaps in our data flow as well so we cannot provide an accurate report right now of the XRefs we may have 'lost'.

[2022-03-03 12:18] matentzn commented on #3122
This is how we will conceptually work with mappings like meddra:

1. We add them as source mappings into disease mapping commons (https://github.com/mapping-commons/disease-mappings/issues/13)
2. Mondo slurps harmonised mappings up and adds them back into Mondo.owl

We are getting closer to working in this cycle, but Meddra is not yet a priority, but will be later in the year, after:

1. ICD10CM
2

[2022-03-03 12:21] matentzn commented on #4568
That would be great! I @nicolevasilevsky will send you the invite when she has time later today!

Don't worry about details, this is mostly for us to touch base a bit and record mutual expectations and ideas :)

[2022-03-03 13:13] kanems commented on #4568
@nicolevasilevsky Can you include me on the invitation? I will also plan to attend, along with our team lead for MedGen, Adriana Malheiro (Donna or I can forward her the invite)

[2022-03-03 15:56] nicolevasilevsky commented on #4568
@maglott and @kanems I just invited you both to the call tomorrow, thanks! :)

[2022-03-03 18:28] sabrinatoro opened #4573 "MONDO:0009958 - adult Refsum disease : update the x-ref"
xref to be reviewed as shown here:
https://docs.google.com/spreadsheets/d/1UWtndeJ_JSP-8xfSt5Zwk7Lra4k0_b-mnNKGZqs12Ks/edit?usp=sharing

[2022-03-03 19:46] matentzn commented on #4568
@kanems

You mean [here](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0014389):

<img width="382" alt="image" src="https://user-images.githubusercontent.com/7070631/156640637-4b74d3ea-6c68-4afd-a446-7505c27aebe5.png">

All xrefs in Mondo have annotations to say whether they are exact:

[code]

So what I don't understand:

How did MedGen automa

[2022-03-03 20:17] kanems commented on #4568
@matentzn Yes, that screen shot of "Database cross references" in the EBI display is where I, as a curator, look first in Mondo to check equivalence connections in Mondo relative to other databases. How our workflow is specifically mapping the superClass, equivalent, btnt/ntbt, & other annotations you showed is more technical than I deal with as a part of my work so I'll get back to you on that. I

[2022-03-03 20:53] matentzn commented on #4568
Ok, thank you. in that case, it would be good to get a list of the xrefs your developers noted as lost. As for OLS, this is not really something we can deal with (as this is a display issue - the information is present), but as a work around, look (as a curator) only at the skos:exact match a bit lower down on the OLS side. These show the correct information. Looking forward to talking tomorrow!

[2022-03-03 21:35] sabrinatoro opened #4577 "A draft list of exclusion reasons. This list will likely be extended as we consider more and more ontologies. This is here"

[2022-03-03 21:38] #4577 closed

[2022-03-03 21:39] sabrinatoro commented on #4570
note: a new issue was created (#4577). I don't know how that was done (it was a wrong click on a random part) and I don't know how to remove it.
Sorry for any confusion!

[2022-03-03 21:40] sabrinatoro commented on #4570
List of ICD terms excluded from mapping is available in the 'Excluded codes' tab [here](https://docs.google.com/spreadsheets/d/1cZPUReTl34Vu2a03tm2921ehARiIpp4fjeQfS27XzKA/edit#gid=1119821904)

[2022-03-04 08:42] matentzn commented on #4570
This is enough to satisfy this issue for now - we can close it and iterate. Awesome, good job. I can see that _all_ child terms are excluded for all of the code ranges, which is extremely useful!

[2022-03-04 14:14] kanems commented on #3222
When some of these terms were obsoleted, Mondo seems to have removed any cross references to OMIM: 234580 (Heimler syndrome 1) and OMIM [602136](https://omim.org/entry/602136)) (Heimler syndrome 2) Is it the expectation that not all of OMIM will be represented in Mondo, or was this an oversight?

[2022-03-04 17:22] kanems commented on #4568
Thanks for letting all of us jump onto your call today! I think we have sorted out the hiccups for the MedGen internal processing of ExactMatch and X-refs from Mondo, and it sounds like you all got a better picture of our processes and mappings.  So probably this specific ticket can be closed.
We'll follow up soon with data regarding CUI:MondoID mapping and MIM#:MondoID mappings that we have store

[2022-03-04 18:04] matentzn commented on #4568
@kanems It was super nice to see you all :) Thank you!

If you can get us these two mapping files that would be _great_. :)

[2022-03-04 18:04] #4568 closed

[2022-03-04 22:35] sabrinatoro commented on #4374
I couldn’t find evidence that “cafe au lait spots, multiple” (MONDO:0007245) should be a child of ‘neurofibromatosis’. Based on [here](https://www.mayoclinic.org/diseases-conditions/neurofibromatosis/symptoms-causes/syc-20350490,) ‘cafe au lait spots’ is a phenotype/trait/symptom of NF1, but is not, on it own, a neurofibromatosis. The counter argument would be in PMID:22630574 (2012) (and [here](h

[2022-03-04 23:35] sabrinatoro commented on #4374
neurofibromatosis-Noonan syndrome (MONDO:0011035).
From the omim record:
- Allanson et al. (1985) reported 4 unrelated patients with neurofibromatosis who had manifestations of Noonan syndrome
- evidence that some cases of neurofibromatosis-Noonan syndrome are caused by heterozygous mutation in the neurofibromin gene (NF1; [613113](https://omim.org/entry/613113 = )) on chromosome 17q11.

I think t

[2022-03-05 01:03] sabrinatoro commented on #2597
@nicolevasilevsky : This needs discussion.
snomed and UMLS have 2 separate concepts:
- SCTID:281411007 “spastic diplegia” ; UMLS:C0023882 “Little’s Disease”
- SCTID:58193001 "Diplegic cerebral palsy" ; UMLS:C0270804 "Spastic Diplegia Cerebral Palsy"

Some sources mention that "spastic diplegic cerebral palsy" also known as "spastic diplegia"
Though these concepts are both in the "disease" class of

[2022-03-05 11:19] matentzn opened #4579 "ORDO 4.0 syncronisation"
This will probably be a bit more major, I can see ~300 new diseases.

- I think we should try to get these in as a while you are still waiting on the ICD10 mapping stuff.
- Remember to be a bit cautious not to accidentally introduce duplicate terms that were somehow matched wrongly by the (old) Mondo slurping system.

[ordo_slurp.txt](https://github.com/monarch-initiative/mondo/files/8190536/ordo_

[2022-03-05 11:53] matentzn commented on #4545
A proxy merge is caused by two equivalentTo mappings two the same external ID:

MONDO:123 skos:exactMatch OMIM:123
MONDO:124 skos:exactMatch OMIM:123

The name proxy merge comes from the fact that MONDO:123 and MONDO:124 are merged "by proxy". This case is strictly forbidden in Mondo and we have QC guarding against it.

What I started calling "reverse proxy merges" is not really a thing according

[2022-03-07 14:41] kanems opened #4581 "Retire OMIM:103470 and Orphanet:352740 on MONDO:0018138"
**Mondo term (ID and Label):*
MONDO:0018138
ocular albinism with congenital sensorineural hearing loss
**Xref that should be fixed (ID and label):**
https://omim.org/entry/103470 "103470
MOVED TO [193510](https://omim.org/entry/193510) AND [606952](https://omim.org/entry/606952)"

Orphanet:352740 is marked as child of deprecated disorder in OLS and has this text on OrphaExpert link  "This entity h

[2022-03-07 18:58] nicolevasilevsky commented on #4370
note to self - assigning to April milestone to look into this further (I will add an obs tag later)

[2022-03-07 19:02] nicolevasilevsky commented on #4285
Command:
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0019683 MONDO:0021651 -o -f obo mondo-edit.obo

[2022-03-07 21:48] #4344 closed

[2022-03-07 21:49] #4573 closed

[2022-03-07 21:52] #3477 closed

[2022-03-07 22:07] nicolevasilevsky opened #4584 "[Obsolete] 'pregnancy disorder with abortive outcome'"
**Mondo term (ID and Label)**
MONDO:0041526 'pregnancy disorder with abortive outcome'

**Reason for deprecation**
Editor note: consider obsoleting

**Suggested term to consider**
MONDO:0024575 'pregnancy disorder'

[2022-03-07 22:48] sabrinatoro commented on #4272
additional terms to obsolete:

Mondo ID | Label | Consider | Consider label
-- | -- | -- | --
MONDO:0020052 | partial autosomal trisomy/tetrasomy | MONDO:0000762 | syndrome caused by partial chromosomal duplication
MONDO:0020051 | total autosomal trisomy | MONDO:0700065 | trisomy

[2022-03-08 05:19] nicolevasilevsky commented on #4549
based on the definition, I suggested that we add the parent 'inherited disease susceptibility' and add predisposes towards Hereditary gastric cancer (MONDO:0018502)
Breast lobular carcinoma (MONDO:0000552)

[2022-03-08 13:28] kanems commented on #2926
Hi all, So I know this merge was a long-time coming and based on the cross-references I would agree that the terms, as _currently_ X-ref'ed, are the same. I have a concern that in the long-run we may need to split these concepts back out if/when a form of infantile hypercalcemia that is any inheritance OTHER than autosomal recessive is discovered and gets lumped under this concept. And even now th

[2022-03-08 16:12] ahamosh commented on #2926
I am confused.  Isn't this parent term for AR infantile hypercalcemia?  Other forms of inheritance would be separate and a higher node of inherited infantile hypercalcemia would be needed, right?

[2022-03-08 16:38] kanems commented on #2926
Yes, @ahamosh, this term is the parent for hypercalcemia, infantile 1 and 2. The problem is we may have merged too many concepts/names into one Uber-parent: http://purl.obolibrary.org/obo/MONDO_0000212 is named "hypercalcemia, infantile" and, based on the Xrefs and ExactMatches above, seems to encompass a generic concept as well as the AR sub-group and Idiopathic subtype(s).

[2022-03-08 21:38] nicolevasilevsky commented on #2597
@pnrobinson and @ahamosh said:
spastic diplegia is a phenotypic feature
di-, tri-, quadriplegia are phenotypes

May need a neurologist to properly answer this question. @pnrobinson has a collaborator from the Shriner's project.

@ahamosh said that “spastic diplegia” and "Diplegic cerebral palsy" are the same as far as she can see. @pnrobinson will confirm with his neurologist collaborator.

[2022-03-08 21:47] nicolevasilevsky commented on #1745
This lumped in OMIM. To do:
review xfrefs and synonyms and make sure the scope is correct (ie equivalentTo vs subClassOf, etc.)

[2022-03-08 21:50] nicolevasilevsky commented on #4521
@ahamosh said that genmap2 comes from OMIM and the disease names should map. @maglott could you please share the cases where you see mismatches with OMIM?

[2022-03-08 22:26] nicolevasilevsky commented on #4558
We discussed on a call and this should be a synonym.
Closing

[2022-03-08 22:26] #4558 closed

[2022-03-09 00:29] MichaelaEBI opened #4589 "Questions about MonDO source ontologies"
First of all, great work on unifying different disease ontologies with MonDO. This is a much-needed effort. Having worked with different disease ontologies, I really appreciate the efforts that go into MonDO.

I have a few questions related to MonDO and I hope that this is the right place to ask these.

1. Which parts of different ontologies are in Mondo? Or which ones are excluded? For example, t

[2022-03-09 12:55] maglott commented on #4521
I am not saying there is a mismatch; I am saying there are terms unique to genemap2 and not in Mondo. Let me do some analyses and return a list. Is genemap2 included in the slurps that Mondo does? (My first use of slurp).  And please remind me of the path to the documentation.

[2022-03-09 15:11] maglott commented on #4521
I think I've worked out query that provides some signal.  I'll send a list next, with the following caveats:
* NCBI has not processed the March release yet
* NCBI needs to understand the use of 'has_narrow_synonym' because at present we are not exacting these terms for evaluation.  Thus this file over-reports
[gene_map_names.xlsx](https://github.com/monarch-initiative/mondo/files/8215781/gene_map_

[2022-03-09 17:27] ireneisdoomed commented on #3122
Hi @matentzn. Thanks for the update.
Could you tell me if the plan is still to review these manually?

Please let me know when you start working in this so that I can rerun the pipeline and provide a more up to date table.

[2022-03-10 02:19] nicolevasilevsky commented on #4549
confirmed the above

[2022-03-10 08:44] matentzn commented on #3122
The way this works is like this:

1. We cycle all mapping candidates through an ontology merging pipeline (KBoom).
2. This will reveal all mappings that cause contradictions.
3. These mappings will be manual reviewed.
4. Mappings are accepted if no contradictions are left.

So no matter what, not all mappings are reviewed 1:1 - this is not possible with more that 150K mappings we need to manage.

[2022-03-10 13:10] paolaroncaglia opened #4592 "[Revise subclass] MONDO:0004862 'vitreous abscess' should be a subclass of MONDO:0005227 'abscess'"
**Mondo term (ID and Label)**
MONDO:0004862 'vitreous abscess'

**Suggested revision and reasons**
All "abscess" terms in Mondo are subclass of MONDO:0005227 'abscess', except for MONDO:0004862 'vitreous abscess'.
(The other 2 existing parents look fine to me.)

**Your nano-attribution (ORCID)**
https://orcid.org/0000-0002-2825-0621

Thank you!

[2022-03-10 13:54] paolaroncaglia commented on #4592
MONDO:0000749 'breast abscess' should also be a subclass of MONDO:0005227 'abscess'
(currently it's only a child of 'breast disorder').
Thanks.

[2022-03-10 17:02] nicolevasilevsky commented on #4579
action item:
- [ ] identify the terms in the ORDO list that should be obsolete and add the out of scope annotation and a comment about why it is out of scope and add them to Mondo as born obsolete.
- [ ] Make a Mondo internal curation rule, ie phenotype, etc and add a seeAlso that links to a documentation page with our curation rules.

[2022-03-10 17:34] paolaroncaglia opened #4593 "[NTR] 'liver abscess' and 'intersphincteric abscess'"
Hi, stemming from an HCA request (https://github.com/HumanCellAtlas/ontology/issues/103), would you please consider adding the following two terms, both as subclasses of MONDO:0005227 'abscess':

**Term 1 label**
liver abscess
HP has HP:0100523 'Liver abscess', so you may prefer to label the new Mondo term 'liver abscess (disease)'?

**Synonyms**
hepatic abscess

**Definition**
An abscess in the l

[2022-03-10 19:43] matentzn commented on #2513
@cthoyt Sorry to call on you here, but do you understand the action item here? I got lost after my last comment here..

[2022-03-10 21:12] nicolevasilevsky opened #4596 "revise capitalization of clingen preferred AP"
clingen would like it to be ClinGen preferred

are there any issues with having capitals in APs @matentzn ?

[2022-03-10 21:27] matentzn commented on #4596
Its a bit of an odd request, usually you only change the labels of a property, not the ID.. But I guess we could make an exception if you think its necessary..

[2022-03-10 21:30] nicolevasilevsky commented on #4596
I meant to just change the label, sounds like there aren't any issues with the label being 'ClinGen preferred' instead of 'clingen preferred'?

[2022-03-10 21:32] matentzn commented on #4596
the label (rdfs:label) can be whatever you like!

[2022-03-10 21:33] nicolevasilevsky commented on #4596
great, thank you Nico!

[2022-03-10 22:00] sabrinatoro commented on #4596
Let's wait a second:
1) we are not talking about the rdfs:label, we are talking about "hasSynonymType"
2) they are talking about wanting something like "ClinGen discussed entity" (or something like this).

I think we should clarify what they want before making any changes.

[2022-03-10 22:09] matentzn commented on #4596
@sabrinatoro steps in and is probably right :) we can discuss in QC call!

[2022-03-11 00:16] MichaelaEBI commented on #4589
To look into this a bit more, I pulled out all MeSH IDs from a recent Mondo release (~8,000) and compared that list against the MesH IDs in the MeSH Disease branch of a recent MeSH release (~5,000). ~1,800 MeSH IDs were not found by me in Mondo. It is possible that I made a mistake along the way and the final number should be lower (I will try it a third time tomorrow, just to make sure), but I ch

[2022-03-11 10:40] paolaroncaglia commented on #4593
@nicolevasilevsky on behalf of HCA, thank you so much for tagging this issue as priority. I noticed that's in the May release milestone. Is that early May please? Asking so I can give an estimate to HCA (so they know in relation to their own release schedule). Thank you.

[2022-03-11 11:04] matentzn opened #4597 "Major prefix cleanup"
To prepare for our upcoming syncing efforts, I finally got around to do some major cleanups of the usage of prefixes in Mondo.

#4595

I am have cleaned up quite a bit, but I need some help figuring out what to do with these:

- [x] CSP2005
- [x] MTHICD9_2006
- [x] ORDO
- [x] MONDOLEX
- [ ] MONDORULE
- [x] OWLReasoner
- [ ] DC-OMIM
- [x] ISBN-13
- [x] NCBI
- [x] NCI2004_11_17
- [x] Rename ICD10 to

[2022-03-11 11:18] matentzn commented on #4589
Hey @MichaelaEBI :) thank you for your interest! I am not speaking for all of Mondo (its a community project after all), but I will give you my view on your questions.

- We have been terrible at documenting the exact branches of the ontologies/terminologies we align with. We are only now getting better, carefully documenting every single class we exclude from our alignment with ICD10 (which is ou

[2022-03-11 12:15] matentzn commented on #4597
Here is the respective QC query underway: https://api.triplydb.com/s/FKtpmWBZd

The idea is to totally standardise the use of `source` and `hasDbXref` in Mondo and provide formal prefix maps with documentation for users.

[2022-03-11 12:22] matentzn commented on #4597
Some notes to self: https://docs.google.com/spreadsheets/d/1QWP2e37BulM3BIHs0B3pTJiYRb5ouUdxuNboHrKpXlM/edit#gid=1581971360

[2022-03-11 17:52] nicolevasilevsky commented on #4597
Remove:

- CSP2005 (From DO, and these have been removed)
- MTHICD9_2006 (From DO, and these have been removed)
- ORDO - in axiom annotation, we retain the original orphanet axiom annotations and we did it using the ORDO prefix. We can harmonize these to use the Orphanet prefix
- MONDOLEX - that was a rule for lexical matching, can be removed, eg X disease 1 is_a disease
- MONDORULE
- OWLReasoner

[2022-03-11 18:01] MichaelaEBI commented on #4589
Hi @matentzn! Thank you very much for the detailed response. Documentation is always very important, but also very hard to keep up to date. Great to see that the different resources will be updated this year and that MeSH is on the list. MeSH will be great because it is the ontology/dictionary of choice for text mining diseases from PubMed abstracts. I will have a look at the skos:exactMatch MeSH

[2022-03-11 18:44] cmungall commented on #1904
I don't think we should use nesting, and we don't need it here. The organellar origin is a property of the gene already

[2022-03-11 18:45] cmungall opened #4600 "Add gene-specific subtypes for mitochondrial diseases"
E.g. subtypes of MELAS https://www.omim.org/entry/540000?search=MELAS&highlight=melas

[2022-03-11 19:21] nicolevasilevsky commented on #4596
@sabrinatoro was there a decision at the end of that meeting- I didn't note that they ever made a decision as to what they wanted the label to be called or if they wanted it to be displayed. @matentzn we are still not showing the 'clingen preferred' label in the release files, right?

If there aren't any proper action items for us at the moment, I think this ticket can be closed until they let us

[2022-03-11 20:30] matentzn commented on #4596
YEs, clingen preferred are still removed, and feel free to change the label to whatever you want! The label, NOT the property.

[2022-03-11 20:54] nicolevasilevsky commented on #4596
I just changed the label to be "ClinGen preferred" and we can change it to whatever they want if they decide they want something else in the future. Since this is not being shown in the released files, this is just for internal use and a reminder to ourselves that they would like the ClinGen label to be in CamelCase.

[2022-03-11 21:02] nicolevasilevsky commented on #4596
I just changed the label to be "ClinGen preferred" and we can change it to whatever they want if they decide they want something else in the future. Since this is not being shown in the released files, this is just for internal use and a reminder to ourselves that they would like the ClinGen label to be in CamelCase.

[2022-03-11 21:25] sabrinatoro commented on #4272
2 more terms need to be obsoleted

[2022-03-12 02:40] joeflack4 commented on #4570
I've updated to expand those term ranges and get information for actual terms, and, in 1 case, their children.

Work has been completed in this PR: https://github.com/monarch-initiative/mondo/issues/4570

- [results.csv](https://github.com/monarch-initiative/mondo-analysis/files/8236878/results.csv)
- Same results in GoogleSheets: https://docs.google.com/spreadsheets/d/1cZPUReTl34Vu2a03tm2921ehARi

[2022-03-14 08:28] matentzn commented on #4589
Most of them are indeed in Mondo, but they may have become out of sync, as EFO is curating these mappings now moving forward. Their purpose is to be able to `pull in Mondo term` but then change their IDs to EFO ids before the release. This is because Open Targets and many other resources across EBI have historically used EFO IDs to curate diseases, and it was deemed too major an effort to change a

[2022-03-14 12:43] maglott commented on #4521
Megan and I have been reviewing some of the terms unique to genemap2.
One example is in https://www.omim.org/entry/158350.   MONDO:0019002.
genemap2.txt uses 'Lhermitte-Duclos syndrome' not Lhermitte-Duclos disease.  It would be great if Mondo provided the answer whether or not Lhermitte-Duclos syndrome = Lhermitte-Duclos disease. Right now MedGen has them as distinct, not having raised this speci

[2022-03-14 12:47] maglott commented on #4521
Or, for https://www.omim.org/entry/613703, is 'Microphthalmia with coloboma 6' to be considered equivalent to MICROPHTHALMIA, ISOLATED, WITH COLOBOMA 6?  Submitters to the NIH Genetic Testing Registry have used the value from genemap2.txt.  Last specific example. Hoping for a policy.

[2022-03-14 16:02] sabrinatoro commented on #4484
I agree that alexia (MONDO:0001712) and hyperlexia (MONDO:0009386) should be added as children of 'reading disorder' (MONDO:0001697).
I think the confusion in the x-ref is due to the fact that there are multiple concepts: some referring to a disease/disorder (and should be represented in Mondo), and others referring to a feature (and should be represented in HPO).

In addition, the 'dyslexia susce

[2022-03-14 19:47] kanems opened #4610 "tenosynovial giant cell tumor, diffuse type and pigmented villonodular synovitis [Merge]"
**Mondo term (ID and Label)**
MONDO:0024686  tenosynovial giant cell tumor, diffuse type

**Reason for deprecation**
NCIT: [C3401](http://purl.obolibrary.org/obo/NCIT_C3401)
and Orphanet:66627 suggest these terms are synonyms.
UMLS maps them to the same CUI- C0039106

**Term to be merged with**
MONDO:0006906 pigmented villonodular synovitis (though NCI says this is an 'antiquated synonym' https://

[2022-03-14 22:57] sabrinatoro commented on #4148
added to the merge list, will have to wait until June milestone

[2022-03-14 23:36] nicolevasilevsky commented on #4293
that sounds good to me! Feel free to update the milestone. We can work on this together if you like. :)

[2022-03-15 14:55] nbosc opened #4614 "Suggestions for new x-ref with SNOMED-CT and MedDRA"
ID | x-refs
MONDO:0100053 | MedDRA:10002198
MONDO:0100053 | SCTID39579001
MONDO:0005149 | MedDRA:10037400
MONDO:0021553 | MedDRA:10028527
MONDO:0018109 | MedDRA:10019772
MONDO:0001117 | MedDRA:10027496
MONDO:0021084 | MedDRA:10047518
MONDO:0015346 | MedDRA:10084303

Thanks

[2022-03-15 15:46] cmungall opened #4615 "tyrosinemia of the newborn classification"
this looks odd:

<img width="413" alt="image" src="https://user-images.githubusercontent.com/50745/158416603-ff5686bf-beaf-4c4a-971d-79c1b184bc1c.png">

I think the classification is likely correct but the labeling should be changed

[2022-03-15 17:31] kanems opened #4616 "MONDO:0008791 isolated anencephaly/exencephaly ? [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0008791 isolated anencephaly/exencephaly

**Reason for deprecation**
"[comment](https://www.ebi.ac.uk/ols/search?q=comment&exact=true&type=property&ontology=mondo)
This will be obsoleted in the 2021-12-01 release. The term will be split into two terms: MONDO:8000007 anencephaly 1 and MONDO:0023893 anencephaly. "
But then lower down it says "[scheduled for obsole

[2022-03-15 20:11] nicolevasilevsky commented on #4616
Thanks @kanems, these are probably typos, I'll look into this asap

[2022-03-15 21:44] #4596 closed

[2022-03-15 22:20] #4277 closed

[2022-03-15 22:21] #4095 closed

[2022-03-15 22:26] #4278 closed

[2022-03-15 22:26] #4337 closed

[2022-03-16 01:32] sabrinatoro commented on #3160
Except for 2 terms which will be obsoleted in the June release, this project is done. Closing this issue.

[2022-03-16 01:32] #3160 closed

[2022-03-16 01:32] sabrinatoro commented on #1440
Except for 2 terms which will be obsoleted in the June release, this project is done. Closing this issue.

[2022-03-16 01:32] #1440 closed

[2022-03-16 14:32] sabrinatoro commented on #252
This project is done

[2022-03-16 14:32] #252 closed

[2022-03-16 14:53] MichaelaEBI commented on #4589
Thank you very much again @matentzn. I will close this issue.

[2022-03-16 16:52] sabrinatoro opened #4620 "term reclassification : review"
When obsoleting high-level terms, I had to reclassify some terms that didn't have parents.
@pnrobinson  and @ahamosh could you please check that the following reclassifications are correct, please? If they are not correct, please advise. Thank you!

- **'celiac trunk compression syndrome'** (MONDO:0017388)
was made a child of : 'cardiovascular disorder' (MONDO:0004995)
based on :  https://www.ncbi

[2022-03-16 16:59] sabrinatoro opened #4621 "Obsoletion of grouping classes"
The following grouping classes have become high-level following the obsoletion of high-level classes (#4111). These are solely based on the location of the disease, and should be obsoleted.

- disorder of retroperitoneum
- disorder of peritoneum
- head disorder
- foot disorder
- hand disorder
- mediastinal disorder

Note: if there is a reason to not obsolete these classes, they should be reclassif

[2022-03-16 17:05] pnrobinson commented on #4620
seems reasonable to me.

[2022-03-16 18:28] sabrinatoro commented on #4116
@nicolevasilevsky
I think that we could simply obsolete this term.
All the children have a parent, and I don't think that creating new grouping terms would add a lot to the classification.
So I am tempted to simply obsolete the term without adding the additional classifications.
Please let me know what you think. Thanks

[2022-03-16 18:35] sabrinatoro commented on #4621
need to make sure all the children terms will have parents

[2022-03-16 18:37] kanems opened #4623 "MONDO:0004983 'azoospermia'"
**Mondo term (ID and Label)**
MONDO:0004983 'azoospermia'

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
Current def: 'Complete absence of spermatozoa in the semen.' [ NCIT:P378 ] (I cannot find P378 in NCI Thesaurus)

I am really unsure what to do with this term, because both the name and definition seem to be inconsistent wit

[2022-03-16 18:44] sabrinatoro opened #4624 "[Obsolete] blood protein disease"
**Mondo term (ID and Label)**
blood protein disease
MONDO:0003804

**Reason for deprecation**
out of scope

**Suggested term to consider**

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

This issue is part of the November 2021 Mondo workshop [here](https://docs.google.com/document/d/18Vhp12ZzbDvmcqB2I_VoswMPa8hPgs5zNPoGI-t2lqc/edit

[2022-03-16 18:58] kanems opened #4626 "MONDO:0021129 microphthalmia and PS600165"
**Mondo term (ID and Label):**
MONDO:0021129   microphthalmia

**Xref that should be fixed (ID and label):**
OMIM PS600165 belongs on MONDO:0005514

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2022-03-16 20:07] sabrinatoro commented on #4115
This issue requires a more detailed analysis of the immune system disorder branch.
This might become a bigger project.

[2022-03-16 20:23] sabrinatoro commented on #4112
@nicolevasilevsky
I need some help with this issue.
How can I make this term a high-level term without missing the relation to "nervous system disorder"?
Should this be done via a tag, and it will be done downstream? Or can we have it "both ways" in protege?
Thanks!

[2022-03-16 20:24] sabrinatoro commented on #4113
@nicolevasilevsky
I need some help with this issue.
How can I make this term a high-level term without missing the relation to "disease of genitourinary system"?
Should this be done via a tag, and it will be done downstream? Or can we have it "both ways" in protege?
Thanks!

[2022-03-16 22:20] kanems opened #4629 "MONDO:0005115 temporal lobe epilepsy"
**Mondo term (ID and Label):**
MONDO:0005115 temporal lobe epilepsy

**Xref that should be fixed (ID and label):**
Since this is a Subclass of:
[familial partial epilepsy](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http://purl.obolibrary.org/obo/MONDO_0017704)

Then the UMLS CUI and mapped SNOMED CT codes for the familial form are:
Temporal epilepsy, familial- UMLS CUI: C1842564
Familial

[2022-03-17 13:28] maglott opened #4631 "Is there a policy for treatment of records from OMIM using 'with or without'?"
If NCBI reviews recent terms as the phenotypes for allelic variants, such as https://omim.org/allelicVariants/600024
RHIZOMELIC SKELETAL DYSPLASIA WITH PELGER-HUET ANOMALY
we note that the preferred term for https://omim.org/entry/618019 is RHIZOMELIC SKELETAL DYSPLASIA WITH OR WITHOUT PELGER HUET ANOMALY; SKPHA
with PELGER-HUET ANOMALY WITH MILD SKELETAL ANOMALIES; PHASK as an alternate and
Pelge

[2022-03-17 13:32] kanems opened #4632 "MONDO:0005493 delayed encephalopathy after acute carbon monoxide poisoning [Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0005493 delayed encephalopathy after acute carbon monoxide poisoning

**Suggested revision and reasons**
Add this as a child of the "poisoning" branch (MONDO:0029000)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-03-17 15:30] nicolevasilevsky commented on #4631
@maglott we'll take a look at this asap, thanks for reporting.

[2022-03-17 15:45] kanems opened #4633 "MONDO:0006832 and MONDO:0016358 [Merge or restructure?]"
**Mondo term (ID and Label)**
MONDO:0016358 limited cutaneous systemic sclerosis
and/or MONDO:0006832  limited scleroderma

**Reason for deprecation**
Evidence supporting a Merge:
- UMLS treats these two as synonyms (SCIT 299276009 and 298285004 are both on C0748540)
- ORPHA: 220402 "Limited cutaneous systemic sclerosis"   Points to UMLS C0748540 as "exact" match and says this is a "subtype of sys

[2022-03-17 15:50] nicolevasilevsky commented on #4633
@sabrinatoro when you have a chance, could you review this and determine if we should merge these terms.
@kanems thanks for reporting this.

[2022-03-17 16:14] nicolevasilevsky commented on #4593
Yes, early May.

[2022-03-17 17:44] kanems opened #4635 "MONDO:0018017 and MONDO:0006089 [Merge]"
**Mondo term (ID and Label)**
MONDO:0006089 appendix goblet cell carcinoid

**Reason for deprecation**
Based on UMLS mapping of the NCI term (UMLS CUI: C0205695 1:1 with NCIT C3689) and that "goblet cell carcinoma" is a child of 'appendix carcinoma' and is defined as "Goblet cell carcinoma (GCC) is an aggressive type of endocrine tumor of the _appendix_ ..." these appear to refer to the same conce

[2022-03-17 18:11] kanems opened #4636 "MONDO:0004978 "aortic stenosis""
**Mondo term (ID Label)**
MONDO:0004978 "aortic stenosis"

**Bug/Typo/Error description**
I am having trouble understanding the scope/intent of this term.
Definition: "In the same amount or manner; to the same degree; in the role, function, or capacity of. [ NCIT:P378 ]" (Is this the NCIT definition of "as" when used as an adjective? )
Exact Synonyms: AS ; aortic stenosis; rheumatic aortic stenosi

[2022-03-17 19:29] kanems opened #4637 "MONDO:0005769 & MONDO:0017606[Merge]"
**Mondo term (ID and Label)**
MONDO:0017606 facial nerve palsy due to herpes zoster infection

**Reason for deprecation**
facial nerve palsy due to herpes zoster infection maps exactly to Orphanet:3020 "Ramsay Hunt syndrome" which in turn Orphanet says maps exactly to UMLS:C0017409; which is where UMLS maps MeSH D016697, SCTID 21954000 (Herpes zoster auricularis, with syns of Geniculate herpes zos

[2022-03-17 19:43] cthoyt opened #4638 "Identified 6 prefixes not recognized by Bioregistry"
The following 6 prefixes aren't recognized by the Bioregistry:

| prefix       |   count | example_node_id                                | example_xref                                                                       |
|--------------|---------|------------------------------------------------|------------------------------------------------------------------------------------|
| PO_GIT

[2022-03-17 23:32] nicolevasilevsky commented on #4469
note to self, action items:
- [ ]  Remove erythema multiforme Major as an exact syn. on SJS
- [ ] Cor pulmonale should be a broad synonym on 'chronic pulmonary heart disease'

[2022-03-18 00:11] nicolevasilevsky commented on #4480
@sabrinatoro when you obsolete pigmentation disease and neonatal jaundice, please use this workflow:

https://mondo.readthedocs.io/en/latest/editors-guide/merging-and-obsoleting/#simple-mass-obsoletion-pipeline

[2022-03-18 00:27] nicolevasilevsky commented on #4111
@sabrinatoro I think we should obsolete these two terms as well (children of thoracic disease, which will become orphaned after thoracic disease is obsoleted):
MONDO_0015879 'non-syndromic diaphragmatic or thoracic malformation'
MONDO_0015880 'syndromic diaphragmatic or thoracic malformation'

I'll add them to the list for June obsoletion

[2022-03-18 00:55] #4541 closed

[2022-03-18 00:55] #4469 closed

[2022-03-18 01:10] #4420 closed

[2022-03-18 01:19] nicolevasilevsky commented on #4616
Hm, okay, seems like some of this was already done - we already created the anencephaly class that is equivalent to the OMIMPS (OMIMPS:206500).

I will just rename 'isolated anencephaly/exencephaly' to anencephaly 1, because that corresponds to gene-specific form of the disease.

[2022-03-18 01:24] nicolevasilevsky commented on #4632
@kanems I'm not sure this is correct - this is a phenotype that occurs after poisoning, it is not a type of poisoning. In fact, I'm not sure if this is even an appropriate disease, we should consider obsoleting it.

@sabrinatoro what do you think?

[2022-03-18 01:27] ahamosh commented on #4111
I agree.

[2022-03-18 01:35] nicolevasilevsky opened #4648 "[Obsolete] MONDO_0015879 'non-syndromic diaphragmatic or thoracic malformation' and MONDO_0015880 'syndromic diaphragmatic or thoracic malformation'"
**Mondo term (ID and Label)**
MONDO_0015879 'non-syndromic diaphragmatic or thoracic malformation'
MONDO_0015880 'syndromic diaphragmatic or thoracic malformation'

**Reason for deprecation**
Orphanet grouping class that groups by features. Out of scope for Mondo

**Suggested term to consider**
MONDO:0015929 thoracic malformation
MONDO:0005728  'diaphragm disorder'

Related to https://github.com/m

[2022-03-18 01:40] #4549 closed

[2022-03-18 01:41] nicolevasilevsky commented on #4600
I think these should come in with the OMIM slurp - I will keep an eye out

[2022-03-18 01:51] #4592 closed

[2022-03-18 09:30] matentzn commented on #4638
Will be Fixed By #4597

[2022-03-18 09:34] matentzn commented on #4638
@cthoyt:

- PO_GIT: Issue need to be filed here https://github.com/Planteome/plant-ontology/issues
- SUBSET_SIREN: Need to be filed here: https://github.com/FoodOntology/foodon/issues

[2022-03-18 13:25] #4616 closed

[2022-03-18 13:31] matentzn opened #4651 "Ensure that ICD10 mappings are ICD10CM, not ICD10WHO."
We so far made the flawed assumption that and an id with the ICD10 prefix is in fact ICD10CM if only the id is a legal ICD10 CM code. However, there is no guarantee this is enough. According to @drseb there could be differences between the exact same code in ICD10WHO and ICD10CM. So we need to make sure that all our codes are not only syntactically legal, but also correct. I do not know how to sol

[2022-03-18 13:32] matentzn commented on #4651
Also, I am really hoping that codes do not _change_ between year versions of ICD10CM, in the sense that a code S73.0 means the same thing in 2016 as in 2019.

[2022-03-18 14:46] nicolevasilevsky commented on #4374
However, I didn't find this name used anywhere else, and this article was published in 2012.
@nicolevasilevsky, based on this information, do you think we should go on and make it deprecated synonym?

It looks like it is still being used by Orphanet, so I don't think we should deprecate it.

[2022-03-18 14:49] #3637 closed

[2022-03-18 15:17] nicolevasilevsky commented on #4427
@kanems [OMIM:615517](https://omim.org/entry/615517) is already an equiv xref.

Please reopen if needed.

[2022-03-18 15:17] #4427 closed

[2022-03-18 15:24] sabrinatoro commented on #4648
@nicolevasilevsky
We should make sure to go through the children before we obsolete. I think it will require some reclassification.

[2022-03-18 15:50] nicolevasilevsky commented on #4485
It is a somatic mutation, I think this is okay

[2022-03-18 15:50] #4485 closed

[2022-03-18 16:07] nicolevasilevsky commented on #4521
Thanks @maglott. I'll review this with @matentzn asap.

[2022-03-18 16:30] #4285 closed

[2022-03-18 16:30] #4445 closed

[2022-03-18 16:50] #4484 closed

[2022-03-18 17:15] matentzn commented on #4651
Chris C.: "I am 99% certain that ICD10 and ICD10CM preserve 4-digit fidelity.  After four digits, all bets are off."

[2022-03-18 17:26] #4449 closed

[2022-03-18 17:31] nicolevasilevsky commented on #3222
@kanems per the advice of the expert peroxisomal biogenesis disorders expert group at ClinGen, we obsoleted these classes in Mondo and recommend considering MONDO:0100259 and MONDO:0100263.

[2022-03-18 17:54] matentzn commented on #4651
Interesting but mostly unrelated to this issue here:
- https://www.aapc.com/icd-10/conversion-mapping.aspx
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6911227/
-

[2022-03-18 17:58] nicolevasilevsky commented on #4527
@kanems I think OMIM:614833 is equiv to microcephalic primordial dwarfism due to RTTN deficiency, I moved this xef.

[2022-03-18 18:02] nicolevasilevsky commented on #4581
to do:
- [ ] obsolete 'ocular albinism with congenital sensorineural hearing loss'
consider: MONDO:0008671 'Waardenburg syndrome type 2A' and MONDO:0011749 'oculocutaneous albinism type 1B'

[2022-03-18 18:07] #4117 closed

[2022-03-18 18:21] matentzn commented on #4477
@acadTags If you would you like to take the mappings for a spin:

https://github.com/monarch-initiative/mondo/tree/master/src/ontology/mappings

Feedback welcome!

[2022-03-18 18:21] #4477 closed

[2022-03-18 21:01] #4527 closed

[2022-03-18 21:02] #4496 closed

[2022-03-19 05:38] drseb commented on #4651
@matentzn can you send chris c the 4-digit code I sent you?

[2022-03-19 09:19] acadTags commented on #4477
Thanks @matentzn!

[2022-03-21 10:13] matentzn commented on #4651
- https://icd.who.int/browse10/2019/en#/S73.0 Dislocation of Hip
- https://www.icd10data.com/ICD10CM/Codes/S00-T88/S70-S79/S73-/S73.0 Subluxation and dislocation of hip

@drseb can you describe you worry? Do you feel the mention of `Subluxation` changes the clinical meaning of the code?

[2022-03-21 17:25] matentzn commented on #4651
Idea for strategy:

- We should build a simple ICD 10 WHO ingest: https://github.com/monarch-initiative/mondo-ingest/issues/8
- All codes in ICD10CM that are not in ICD10WHO are safe
- All codes in ICD10CM that have the same label as ICD10WHO are safe
- All codes in ICD10CM that have a different label than ICD10WHO are potentially dangerous
- All codes in ICD10CM that have a correspond to a _diffe

[2022-03-21 23:26] #4374 closed

[2022-03-21 23:31] sabrinatoro commented on #4111
New issues were created for the remaining obsoletion. I think this issue can be closed.

[2022-03-21 23:31] #4111 closed

[2022-03-22 04:21] joeflack4 commented on #4651
This sounds good.

I went ahead and numbered the bullet points in your previous comment. In regards to (3) and (4), I think it is prudent to split the criteria into two: (i) `bool`: exact matches / non-matches, (ii) `float [0-1]`: string similarity, along with thresholds.

[2022-03-22 15:44] kanems opened #4659 "large/giant congenital nevus MONDO:0023235 & MONDO:0044792[Merge]"
**Mondo term (ID and Label)**
MONDO:0023235  giant congenital nevus

**Reason for deprecation**
GCN (MONDO:0023235) maps to GARD 2469 ; SNOMED 254815002; and NCIT C4234 and is a Child of melanocytic nevus (thus, presumably inherits this melanocytic property)

LCMN (MONDO:0044792) has a definition that starts with "A large, or giant, congenital melanocytic nevus (LCMN or GCMN) is a pigmented skin l

[2022-03-22 17:25] joeflack4 commented on #4651
Fuzzy matching options (this is not my area of expertise, yet):
a. Semantic similarity: Compare the words in a given term with where they stand in relation to the whole code system.
b. Word embeddings: Vectorize the corpus.
c. Graph embeddings:

[2022-03-23 14:35] kanems opened #4660 "Aspiration and anaerobic pneumonias[Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0000265 - aspiration pneumonia
MONDO:0004649 - anaerobic pneumonia

**Suggested revision and reasons**
-Aspiration pneumonia isn't inherently an "infectious disease" Should this parentage be removed for this term? (Leave as a child of inflammatory disease)

-Why is anaerobic pneumonia a child of aspiration pneumonia? It seems like this doesn't quite add up; sett

[2022-03-23 18:59] nicolevasilevsky commented on #4660
@pnrobinson could I ask you for some input here? As @kanems points out, aspiration pneumonia is incorrectly classified as an infectious disease based on my understanding.

MONDO_0005249 pneumonia is defined as:
An acute, acute and chronic, or chronic inflammation focally or diffusely affecting the lung parenchyma, caused by an infection in one or both of the lungs (by bacteria, viruses, fungi, or

[2022-03-23 19:03] nicolevasilevsky commented on #4660
@kanems anaerobic pneumonia a child of aspiration pneumonia because of DOID:873:
https://www.ebi.ac.uk/ols/ontologies/doid/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDOID_873&viewMode=PreferredRoots&siblings=false

It looks like they define anaerobic pneumonia differently than we do. I will exclude this subclassOf relationship and make anaerobic pneumonia a child of 'bacterial pneumonia' a

[2022-03-23 19:22] nicolevasilevsky commented on #4370
I agree these should be merged. I added to the list to add an obs tag.

[2022-03-23 19:45] nicolevasilevsky commented on #4222
I drew this out below:

![image](https://user-images.githubusercontent.com/6722114/159783045-6a39551c-9c57-42fe-acf1-1f6b28cfe28e.png)

[2022-03-23 19:46] nicolevasilevsky commented on #4222
@kanems I'm not sure what the specific question is for Mondo? Is the question to ask the Orphanet team to review their mappings? I can send an email to them if so.
Thanks!

[2022-03-23 19:49] matentzn opened #4662 "Duplicate clause 'alt_id' error in Protege"
When saving Mondo, Protege utters the following errors but proceeds anyways:

[code]

We should figure out why that is. Probably @cmungall knows

[2022-03-23 19:50] matentzn commented on #4662
(The obvious, that alt_id is duplicate, is only try for two classes)

[2022-03-23 20:15] nicolevasilevsky commented on #4425
@kanems I agree with your assessment that probably metabolic syndrome X refers to the parent/more general class. Let me confirm with @ahamosh.

@ahamosh, the question is:
Metabolic syndrome X is an alternative label for the class 'abdominal obesity-metabolic syndrome 1' ([OMIM:605552](https://omim.org/entry/605552)), which is part of the OMIMPS [OMIMPS:605552](https://omim.org/phenotypicSeries/PS6

[2022-03-23 20:24] nicolevasilevsky commented on #4425
proposed merger:
MONDO:0004955 into MONDO:0000816

[2022-03-24 01:28] sabrinatoro opened #4665 "create a "Mondo clinical" version of Mondo"
Addressing #4112 and #4113
The "Mondo Clinical" version of Mondo would have some high-level terms, though these are not high-level in the ontology. Doing so would make Mondo more useful to clinicians. For example, "psychiatric disorder" would become high-level in the "Mondo Clinical" view, but in the ontology, it would still be a child of "nervous system disorder".
We can do this by adding a "excl

[2022-03-24 05:45] azankl opened #4666 "Missing OMIM reference to Geleophysic dysplasia 3 in MONDO:0000127"
**Mondo term (ID and Label):**
MONDO:0000127 Geleophysic Dysplasia

**Xref that should be fixed (ID and label):**
OMIM:617809 (geleophysic dysplasia 3)

**Your nano-attribution (ORCID)**
Andreas Zankl 0000-0001-8612-1062

**Other comments:**
MONDO:0000127 represents a phenotypic series and has 3 subtypes, GD1, GD2, GD3.
GD1 (OMIM:231050) and GD2 (OMIM 614185) are cross-referenced, but GD3 (OMIM:61

[2022-03-24 12:34] kanems commented on #4222
Yes, if Orphanet can be contacted to weigh in, that would be great.
And I am still concerned that this name is used for a lower level concept in Mondo when other groups/authors indicate this should be a broader, grouping term.
From NORD’s page:

https://pubmed.ncbi.nlm.nih.gov/20542174/ (part I) and https://pubmed.ncbi.nlm.nih.gov/20542175/ (Part II)  (Happle is the author of both the NORD entry a

[2022-03-24 14:40] #239 closed, assigned to nobody

[2022-03-24 16:14] Sean-Ontoforce opened #4671 "MONDO:0024472 (boutonneuse fever), remove Orphanet_101334 exactMatch-xref (African tick typhus)"
**Mondo term (ID and Label):**
MONDO:0024472
boutonneuse fever

**Xref that should be fixed (ID and label):**
Orphanet_101334
African tick typhus
(listed as [exactMatch])

**Your nano-attribution (ORCID)**
0000-0002-9584-9618

**Other comments:**
African tick typhus is caused by a different organism (Rickettsia africae) than Boutonneuse fever (Rickettsia conorii).
A better fit for Orphanet_101334

[2022-03-24 17:14] nicolevasilevsky opened #4672 "Check for all cryptic (hidden GCI) inborn vs acquired assumptions"
### Discussed in https://github.com/monarch-initiative/mondo/discussions/4670

<div type='discussions-op-text'>

<sup>Originally posted by **cmungall** April 14, 2018</sup>
There are many cases where "disease of X metabolism" is classified (hidden GCI) as inborn/genetic when in fact acquired cases exist. We are now finding these as we add disjointness axioms. Most have been discovered. The fix her

[2022-03-24 17:30] sabrinatoro commented on #4632
Discussed on the Mondo curation call on March 24, 2022 :
This term does look like a phenotype, however, HP might not have a post-composed term like this one. Since this is a term that is needed (in EFO based on the x-ref), it is probably ok to keep it in the "poisoning" branch of the ontology (right now, the poisoning branch is a "grab bag" of terms needed elsewhere) until we review and we know ho

[2022-03-24 20:36] nicolevasilevsky commented on #4632
sounds good!

[2022-03-25 16:37] nicolevasilevsky commented on #4521
@ahamosh - could you clarify why there are different names in the genemap2 file which are not included the usual OMIM metadata on the website (the file we pull from is called mimtitles.txt) ? We'd like to use the authoritative source for pulling in OMIM synonyms.

@maglott we can add the synonyms for you from the genemap2 file that you shared.

[2022-03-25 17:57] #4545 closed

[2022-03-25 18:00] nicolevasilevsky commented on #4662
We should remove these

[2022-03-25 18:08] sabrinatoro commented on #4620
Thank you @pnrobinson

[2022-03-25 18:08] #4620 closed

[2022-03-25 18:33] sabrinatoro opened #4675 "disease to gene relation: distinguishing 'inherited' versus 'acquired'"
**Currently**:
The disease to gene relation used
'disease has basis in dysfunction of' (RO:0004020)
Definition : A relation that holds between the disease and a material entity where the physical basis of the disease is a disorder of that material entity that affects its function.

This relation is also associated with the GCA:
'disease has basis in dysfunction of' some gene SubClassOf 'has modifi

[2022-03-25 19:30] maglott opened #4677 "Is intellectual disability, XMEN-linked 88 a typo?"
**Mondo term (ID and Label):**
MONDO:0010454/ intellectual disability, XMEN-linked

**Suggested new label:**
intellectual disability, X-linked

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**

[2022-03-25 21:17] sabrinatoro commented on #4232
There is a lot of reasoning and QC behind terms with relation to a gene and terms with OMIM/OMIMPS x-ref.
This issue requires #4675 to be closed before it can be resolved.

FYI @nicolevasilevsky: I am setting this issue for the next release (hopefully we can get #4675 by then), and I will update the time of obsoletion for these terms merging.

[2022-03-25 22:07] nicolevasilevsky commented on #2841
Thanks @kanems, I got it!

[2022-03-25 22:16] nicolevasilevsky opened #4680 "MedGen reports on CUI conflicts with Mondo data"
Related to:
https://github.com/monarch-initiative/mondo/issues/2841

Here is a batch of reports for various CUI/CN-type identifiers that seem to be in conflict between Mondo’s reporting and MedGen’s mapping of the CUIs/Mondo IDs.

A quick note about those CNs: these are generated by MedGen so that we have some external identifier to support terms that may not have been mapped to a concept in UMLS.

[2022-03-26 21:49] pnrobinson opened #4681 "Good source for lung disease classification"
https://mdpi-res.com/d_attachment/jcm/jcm-11-01747/article_deploy/jcm-11-01747-v2.pdf

[2022-03-27 00:28] nicolevasilevsky commented on #4521
Note to self, this is the ROBOT template:
https://docs.google.com/spreadsheets/d/1GMXDtq2vOLjOVyFYSrquFpxVOu6dJfBCyHzQRGcD6YM/edit#gid=688099271

[2022-03-29 14:39] sierra-moxon opened #4684 "merge MONDO:0009412 scurvy"
**Mondo term (ID and Label)**
MONDO:0006661 ascorbic acid deficiency
MONDO:0009412 scurvy

**Reason for deprecation**
MONDO has different terms for Ascorbic Acid Deficiency and Scurvy, with no relation between them that I can see.    I am out of my depth here, but I notice many sources treat these as the same.  Does anybody understand why they're considered distinct in MONDO?

**Your nano-attribut

[2022-03-29 15:03] sabrinatoro commented on #4684
MESH has 2 different entries
D001206 (Ascorbic acid deficiency) and D012614 (scurvy)
According to MESH:
- Ascorbic acid deficiency frequently develops into SCURVY in young children fed unsupplemented cow's milk exclusively during their first year. It develops also commonly in chronic alcoholism.
- Scurvy: severe deficiency of vitamin C

For what I can say, the difference between these 2 terms is t

[2022-03-31 14:43] marwa-elnagheeb opened #4686 "[NTR] Microcephaly 6 with or without short stature"
**Preferred term label:**
Microcephaly 6 with or without short stature

**Synonyms**
N/A

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Primary microcephaly refers to the clinical finding of a head circumference more than than 3 standard deviations (SD) below the age- and sex-related mean, present at birth. Primary microcephaly is a static developmental a

[2022-04-01 16:22] nicolevasilevsky opened #4688 "get rid of MONDO:superClassOf and MONDO:subClassOf axiom annotations"
these will be added back later with boomer

[2022-04-01 16:29] nicolevasilevsky opened #4689 "add support metadata for mapping by linking to documentation pages of their cluster"
We discussed on the QC call: From the boomer output, add support metadata for mapping by linking to documentation pages of their cluster

[2022-04-04 12:19] pnrobinson opened #4691 "Glutaric acidemia IIA, B, C"
[NAA10-related syndrome](https://omim.org/entry/231680?search=231680&highlight=231680)

Can we related subterms such as multiple acyl-CoA dehydrogenase deficiency, mild type
to the OMIM subtypes Glutaric acidemia IIA, B, C ?

[2022-04-04 18:40] Daniel-Olson opened #4694 "KIF1A associated neurological disorder (KAND)"
We are building a knowledge graph based on data from https://www.kif1a.org/ and would like to add KAND to MONDO as it is our primary reference ontology.

Preferred term label:
KIF1A associated neurological disorder or
KIF1A related disorder

Synonyms:
N/A

Definition :
Any neurological disorder in which the cause of the disease is a mutation in the KIF1A.

"KIF1A-associated neurological disorder (

[2022-04-05 01:26] nicolevasilevsky commented on #4677
I think so!

[2022-04-05 01:58] nicolevasilevsky commented on #3811
(Initial) Action items:
- [ ] Create a new ticket for the [obsoletion candidates in this tab](https://docs.google.com/spreadsheets/d/1atfmtwXHzru6fXoxwZrkShNV8HWppFNco9yyg2fMYNI/edit#gid=1798161575). Create a markdown table from the spreadsheet, see [instructions here](https://www.tablesgenerator.com/markdown_tables).
- [ ] Create a new ticket for the [merge candidates in this tab](https://docs.go

[2022-04-05 02:01] nicolevasilevsky opened #4698 "[Obsolete] Obsolete out of scope terms"
These terms have editor notes to consider obsoleting. They need to be reviewed by the curation team before obsoletion. Related to https://github.com/monarch-initiative/mondo/issues/3811

| MONDO ID      | Label                                                          | Note                                                                                                           |
| ------------- |

[2022-04-05 02:32] #4671 closed

[2022-04-05 02:32] #4677 closed

[2022-04-05 02:44] nicolevasilevsky opened #4700 "[Merge] MONDO:0005982 tinea infection and"
**Mondo term (ID and Label)**
MONDO:0005982 tinea infection

**Reason for deprecation**
@sabrinatoro can you look into this - are these two terms equivalent? There is an editor not on tinea infection to obsolete it. Related to #3811

**Term to be merged with**
MONDO:0002041 'fungal infectious disease'

[2022-04-05 03:20] nicolevasilevsky commented on #4388
Here is a [spreadsheet](https://docs.google.com/spreadsheets/d/1XRQua2gYGCPEYwmnjLvJHhnKTCMLem5TyIMax3d-waA/edit#gid=870669797)

[2022-04-05 12:29] maglott opened #4701 "fix capitalization for MONDO:0023134"
**Mondo term (ID and Label):**
MONDO:0023134/febrile ulceronecrotic mucha-habermann disease

**Suggested new label:**
febrile ulceronecrotic Mucha-Habermann disease

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**

[2022-04-05 14:47] #4701 closed

[2022-04-05 17:19] #4688 closed

[2022-04-05 18:20] #4503 closed

[2022-04-05 18:20] #4424 closed

[2022-04-05 18:20] #4476 closed

[2022-04-05 18:20] #4499 closed

[2022-04-05 19:14] sabrinatoro opened #4710 "clean-up contributors to term"
Currently, contributors to a term are added by adding their orcid as an x-ref of a definition.
Update: contributors to a term should be added by using the annotation 'dcterms:contributor' as an annotation to the term.

to do:

- [ ] create or import the new annotation property 'dcterms:contributor'
- [ ] sparql for all terms with orcid as x-ref of definition
- [ ] remove orcid from x-ref of defini

[2022-04-05 19:15] sabrinatoro commented on #4710
Note: we need a plan for terms in which the definition has no other x-ref but orcid.

[2022-04-05 20:31] #4130 closed

[2022-04-05 20:31] #4340 closed

[2022-04-05 20:31] #4396 closed

[2022-04-05 20:31] #4397 closed

[2022-04-05 20:31] #4398 closed

[2022-04-05 20:31] #4422 closed

[2022-04-05 21:43] sabrinatoro commented on #4686
@marwa-elnagheeb
Thank you for submitting this issue.
I have some questions to make sure I understand what is needed, and therefore to ensure that this term is added correctly in Mondo.

1) Based on your description,  **‘microcephaly 6 with or without short stature’** is a more specific version of both diseases: ‘microcephaly 6, primary, autosomal recessive’ AND ‘Seckel syndrome’.
Is that correct?

[2022-04-05 22:07] matentzn commented on #4710
Maybe not remove orcid xrefs, see @cmungall comment on slack. If it means "provenance" (who wrote the definition) it should be retained!

[2022-04-05 22:49] sabrinatoro commented on #4700
@nicolevasilevsky
I don't think these terms should be merged. 'tinea infection' (MONDO:0005982) is a 'fungal infectious disease' that is specific to the skin.
I suggest that we :
- add equivalent to   'tinea infection' (MONDO:0005982): 'fungal infectious disease' and 'disease has location' some skin
- add the following children to  'tinea infection' (MONDO:0005982)
  - tinea favosa - MONDO:0005983

[2022-04-05 23:19] #4593 closed

[2022-04-05 23:39] sabrinatoro commented on #4633
I agree : 'limited scleroderma'(MONDO:0006832) appears to be the same concept as 'limited cutaneous systemic sclerosis' (MONDO:0016358) and therefore these terms should be merged.

[2022-04-06 00:20] #4632 closed

[2022-04-06 00:23] nicolevasilevsky commented on #4390
sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0009316 MONDO:0022316 -o -f obo mondo-edit.obo

[2022-04-06 00:24] nicolevasilevsky commented on #4411
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0008942 MONDO:0011781 -o -f obo mondo-edit.obo`

[2022-04-06 00:24] nicolevasilevsky commented on #4417
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0056821 MONDO:0015264 -o -f obo mondo-edit.obo`

[2022-04-06 00:25] nicolevasilevsky commented on #4429
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0008042 MONDO:0008945 -o -f obo mondo-edit.obo`

[2022-04-06 00:26] nicolevasilevsky commented on #4444
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0019511 MONDO:0008073 -o -f obo mondo-edit.obo`

[2022-04-06 00:26] nicolevasilevsky commented on #4450
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0021191 MONDO:0016700 -o -f obo mondo-edit.obo`

[2022-04-06 00:27] nicolevasilevsky commented on #4451
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0016036 MONDO:0004684 -o -f obo mondo-edit.obo`

[2022-04-06 00:27] nicolevasilevsky commented on #4453
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0023000 MONDO:0017980 -o -f obo mondo-edit.obo`

[2022-04-06 00:28] nicolevasilevsky commented on #4487
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0020312 MONDO:0004653 -o -f obo mondo-edit.obo`

[2022-04-06 00:28] nicolevasilevsky commented on #4516
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0008940 MONDO:0013722 -o -f obo mondo-edit.obo`

[2022-04-06 00:29] nicolevasilevsky commented on #4700
Sounds great, thanks @sabrinatoro! I'll assign this to you, please go ahead with the proposed action items.

[2022-04-06 12:24] maglott opened #4714 "[Revise subclass]MONDO:0020499"
**Mondo term (ID and Label)**
MONDO:0020499/Nipah virus disease

**Suggested revision and reasons**
Does this define any disorder caused by an infection by Nipah virus (UMLS: C1320202 Infection due to Nipah virus, C1320202 or the resultant encephalitis (given that this is treed under encephalitis) (UMLS:C4303115, Nipah Virus Encephalitis?

**Your nano-attribution (ORCID)**
If you don't have an ORC

[2022-04-06 16:19] #4390 closed

[2022-04-06 16:19] #1489 closed

[2022-04-06 23:53] #4323 closed

[2022-04-06 23:53] #4291 closed

[2022-04-06 23:59] #4236 closed

[2022-04-07 00:01] #4225 closed

[2022-04-07 00:02] #4224 closed

[2022-04-07 00:03] #4223 closed

[2022-04-07 00:03] #4700 closed

[2022-04-07 14:48] #4251 closed

[2022-04-07 16:51] #4239 closed

[2022-04-08 16:32] nicolevasilevsky commented on #4631
We don't have a specific policy for this - this would be handled on a case-by-case basis. In general, I think we'd follow OMIM and keep the terms lumped together. If another resource like Orphanet chooses to make a distinction, this would show up in Mondo.

If you have a use case where you need the terms to be split, please let us know and we can do that.

[2022-04-08 17:48] nicolevasilevsky opened #4741 "create candidate mappings for ORDO based on OMIM equiv xrefs"
related https://github.com/monarch-initiative/mondo/issues/4579

This [doc](https://docs.google.com/document/d/1h1b9hJUlAqZLy3MmksmsGVAnwq1bPsfjYiV2goHVcOE/edit#) has ordo terms that need to be synched in Mondo. There are several terms that xref OMIM and are likely already in Mondo - this task is to automate the addition of Orphanet xfefs to existing Mondo terms.

[2022-04-08 17:52] matentzn commented on #4741
@hrshdhgd you do not have to actually _do_ anything specific here, but you should understand how our work with boomer and disease mapping commons will automagically solve this issue.

1. Disease mapping commons contains Mondo mappings, but also includes mappings from other sources
2. In particular in contains ORDO mappings (we should make sure these are exact and extracted correctly)
3. The ORDO a

[2022-04-08 19:13] maglott commented on #4631
Thanks, Nicole.  NCBI will retain the specific value for the cases where OMIM names the phenotype of an allele with the specific.

[2022-04-08 19:40] sabrinatoro commented on #4651
We compared Mondo code vs ICD10CM vs ICD10WHO, and determined which one of ICD10CM or ICD10WHO matches Mondo the best. See [this spreadsheet for details](https://docs.google.com/spreadsheets/d/1o4__JLNKIonxUN4Yc8Kunf5sA_Nrscg1ZTuVF4z8v7M/edit#gid=45343105).

- total Mondo terms: 1099
- Mondo terms for which ICD10CM and ICD10WHO are equivalent: 858
  - the ICD code have either the same labels, or h

[2022-04-08 20:12] nicolevasilevsky opened #4743 "Make a QC check, there should not be a consider if there is a replaced by"
for example:

[Term]
id: MONDO:0020207
name: obsolete rare isolated myopia
def: "OBSOLETE. Rare isolated myopia is a rare, genetic, refraction anomaly disorder characterized by non-syndromic severe myopia, which may be associated with cataract and vitreoretinal degeneration (retinal detachment) that may lead to blindness." [Orphanet:98619]
subset: obsoletion_candidate
subset: ordo_disease {source=

[2022-04-08 20:13] #4328 closed

[2022-04-08 20:14] nicolevasilevsky opened #4744 "considers with weird annotations should be removed and replaced by proper xrefs"
In examples like the one below, the consider annotations to an external source should be replaced by a proper xref.

Nicole and Nico to work on this together.

[Term]
id: MONDO:0020207
name: obsolete rare isolated myopia
def: "OBSOLETE. Rare isolated myopia is a rare, genetic, refraction anomaly disorder characterized by non-syndromic severe myopia, which may be associated with cataract and vitreo

[2022-04-08 20:16] #4324 closed

[2022-04-08 20:16] #4364 closed

[2022-04-08 21:18] joeflack4 commented on #4651
Good to have these results! So it seems that, generally, both ICD10 flavors are closely related, and where they differ currently, the most of the mondo mappings correspond to ICD10CM.

[2022-04-09 00:40] nicolevasilevsky opened #4746 "is Orphanet:595098 equiv to MONDO_0010979 'Timothy syndrome'?"
Related to #4579, this is for the ORDO 4.0 sync.

@sabrinatoro I think this term is equiv to MONDO_0010979 'Timothy syndrome'. Could you review and let me know if you agree? Note, the affected genes are the same in both terms. I didn't check if this exists in OMIM.
[code]

[2022-04-09 00:43] nicolevasilevsky commented on #4746
Note, Orphanet also has these two terms as well that we should add. We need to investigate the relationship of these to the existing Mondo terms. In Mondo we have:
-'Timothy syndrome'
--'Timothy syndrome type 1 (disorder)'
--'Timothy syndrome type 2 (disorder)'

[code]

[2022-04-11 07:46] matentzn commented on #4651
@sabrinatoro can you for the 18 codes for which ICD10WHO code is a better match, change the Prefix in the xref to ICD10WHO and assign me as a reviewer please?

This also closes this issue for good (i..e you can add `fixes #4651` to the pull request).

Thank you all so much on your great work on this diversion here, esp @joeflack4 and @sabrinatoro!

[2022-04-11 10:48] matentzn commented on #890
I cannot confirm this error @nicolevasilevsky: There is no non-obsolete class without a label in Mondo.

Here is the check:
https://api.triplydb.com/s/nd0Nj9wUL

I think this must have been resolved in one of our QC pushes in the past.

[2022-04-11 10:50] matentzn commented on #628
Closing in favour of https://github.com/monarch-initiative/mondo-ingest/issues/11, and it is almost fixed now.

[2022-04-11 10:50] #628 closed

[2022-04-11 10:53] matentzn commented on #4524
These are removed by ../sparql/update/delete-axiom-annotations-by-prefix.ru

This ticket is dealt with by @nicolevasilevsky @sabrinatoro @joeflack4

good job all.

[2022-04-11 10:53] #4524 closed

[2022-04-11 15:00] matentzn opened #4751 "Mondo mappings should be sorted to reduce diff"
All sssom tables when run through split_sssom_by_source should be sorted entirely (like by all columns) and the columns should also be sorted in the sssom preferred order.

Right now, some rows in pandas seem to randomly fluctuate.

[2022-04-11 15:02] matentzn commented on #4751
Even better, implement https://github.com/mapping-commons/sssom-py/issues/51

can call ssom-py function in split_sssom_by_source

[2022-04-11 16:37] nicolevasilevsky commented on #890
ok, I will close this. Please reopen if there is anything else needed. Thanks @matentzn

[2022-04-11 16:37] #890 closed

[2022-04-11 20:42] nicolevasilevsky opened #4759 "IgG4-related hepatopathy"
**Mondo term (ID and Label):**
MONDO_0019528 'IgG4-related hepatopathy'

**Suggested new label:**
Inflammatory pseudotumor of the liver

I don't know where the label  'IgG4-related hepatopathy' came from but it seems incorrect. The Orphanet label is Inflammatory pseudotumor of the liver.

Should also review the parent classification and consider reclassifying this term.

[2022-04-12 09:06] matentzn opened #4762 "Some simple cleanup stuff"
These should be deleted or cleaned up:
[code]

[2022-04-12 09:07] matentzn commented on #4762
In my opinion, they can all be deleted.

[2022-04-12 17:13] #4429 closed

[2022-04-12 20:32] nicolevasilevsky commented on #2597
diplegic means two weak limbs. diplegic is a phentypic description.

[2022-04-12 21:02] sabrinatoro opened #4767 "Cerebral Palsy: revise branch"
Review the Cerebral Palsy branch. It should probably look like :
Cerebral Palsy
- CP#1
- CP#2
- CP#3
- CP due to hypoxic ischemic encephalopathy (might be a new term)
- CP idiopathic (note that we might not need this term)

note that most of the current terms that we currently have are features, and are already in HPO (we should double check, and review all the x-ref)

[2022-04-12 21:05] nicolevasilevsky commented on #2597
@pnrobinson will contact the CP doctors he knows and ask about this.

Tentative proposal per call with Peter, Ada, Sabrina and Nicole:

## Proposed hierarchy:
cerebral palsy
- some children terms genetic etiologies (from OMIM)
- CP due to hypoxic ischemic encephalopathy on the basis of history and possibly  PVL
- idiopathic CP

PVL = Periventricular Leukomalacia

## Action items

- [ ] 'spastic qu

[2022-04-12 21:06] nicolevasilevsky opened #4768 "'neurodevelopmental disorder with progressive spasticity and brain white matter abnormalities'"
this was MOVED (revise the ref) and also put https://omim.org/entry/612900 under NED

[2022-04-13 12:48] kanems opened #4769 "MedGen conflicts in OMIM:Mondo mappings"
Hi @nicolevasilevsky et al!
We are preparing some reports regarding OMIM:Mondo relationships that seem to differ between MedGen and Mondo's mappings. In reviewing our data we have a few different types of conflicts: 1) Both Mondo and MedGen have the MIM number but disagree on where it should map relative to a CUI/Mondo ID based on names and other X-refs; 2) Mondo does not report the MIM number at

[2022-04-13 17:31] sabrinatoro commented on #4651
- when there was no ICD10CM, I updated the db-xref to ICD10WHO
- when there was a ICD10CM, I added the ICD10WHO and reviewed the ICD10CM. I most (almost all) cases, the ICD10CM was still an acceptable equivalent, even though the label seemed closer in ICD10WHO.

[2022-04-13 18:26] #4417 closed

[2022-04-13 18:32] #4444 closed

[2022-04-13 18:48] matentzn commented on #4651
Great!

[2022-04-13 19:11] joeflack4 commented on #4651
@sabrinatoro @matentzn On Friday you asked if I could create a `icd10cm-icd10who_similarity` column. I've done that, and also updated [the google sheet](https://docs.google.com/spreadsheets/d/1o4__JLNKIonxUN4Yc8Kunf5sA_Nrscg1ZTuVF4z8v7M/edit#gid=45343105
[mondo_icd10_xref_analysis.csv](https://github.com/monarch-initiative/mondo/files/8484059/mondo_icd10_xref_analysis.csv)
).

[2022-04-13 23:59] sabrinatoro commented on #4759
I agree, I cannot find where the "IgG4-related" comes from.
the only x-ref is orphanet:90003. This x-ref does not refer to IgG4 at all.
I think this term should be renamed.

[2022-04-14 00:38] sabrinatoro commented on #4746
This is a bit complicated...
Orphanet:65283 = Timothy syndrome (MONDO:0010979)
Definition: (...) There are three clinical phenotypes recognized, the **classical types** that present with a prolonged QT interval and either with **(TS1)** or without **(TS2)** cutaneous syndactyly of fingers and toes. The **atypical form (ATS)** causes multi-system health concerns but not necessarily with prolonged Q

[2022-04-14 16:44] nicolevasilevsky opened #4776 "[Obsolete] obsoleting ORDO IDs that are phenotypes"
Related to #4579
ORDO terms from ORDO 4.0 that are phenotypes will be born obsolete. See [ROBOT template](https://docs.google.com/spreadsheets/d/10eUE6bVLYlcWsNyqpLLTi4itKPNdaRXKANjz3Gni6QM/edit#gid=0).

@pnrobinson, should we add these as phenotypes to HPO (if they don't already exist)?

Term ID | Term label
| ------------- | ----------------------------------------------------------------------

[2022-04-14 17:52] nicolevasilevsky commented on #4636
Thanks @kanems, these are all good points.

We are looking at this more closely and we are going to review the entire 'aortic malformation' branch, as these seem like they could be phenotypes, and we may obsolete these and point to HPO instead.

[2022-04-14 21:33] #4759 closed

[2022-04-14 23:08] nicolevasilevsky opened #4779 "[Obsolete] Obsoleting ORDO genetic diseases"
related to #4579

The ORDO genetic disease classes will be born obsolete. ROBOT template is [here](https://docs.google.com/spreadsheets/d/10eUE6bVLYlcWsNyqpLLTi4itKPNdaRXKANjz3Gni6QM/edit#gid=1341561235)

[2022-04-14 23:40] nicolevasilevsky opened #4781 "[Obsolete] Obsoleting ORDO grouping classes (4.0 sync)"
related to #4579

The ORDO genetic disease classes will be born obsolete. ROBOT template is [here](https://docs.google.com/spreadsheets/d/10eUE6bVLYlcWsNyqpLLTi4itKPNdaRXKANjz3Gni6QM/edit#gid=1515880456)

[2022-04-15 00:00] nicolevasilevsky opened #4784 "[Obsolete] Obsoleting ORDO rare terms (4.0 sync)"
related to #4579

ORDO 4.0 rare, clinical modifier and ConditionsCausedByExternalForce terms will be born obsolete. ROBOT template is [here](https://docs.google.com/spreadsheets/d/10eUE6bVLYlcWsNyqpLLTi4itKPNdaRXKANjz3Gni6QM/edit#gid=1804772248)

[2022-04-15 00:07] nicolevasilevsky opened #4785 "Need a LinkML enum for the exclusion reasons"
Nicole + Sabrina to learn this

https://github.com/monarch-initiative/mondo/blob/master/docs/editors-guide/exclusion-reasons.md

[2022-04-15 02:46] nicolevasilevsky opened #4788 "[NTR] triopia"
@pnrobinson do you think triopia is a disease (it is in Orphanet) or is it a phenotype?

[Term]
id: MONDO:0031322
name: triopia
subset: ordo_disorder
xref: ICD10:Q15.8 {source="Orphanet:3374", source="MONDO:mondoIsNarrowerThanSource."}
xref: Orphanet:3374 {source="MONDO:equivalentTo"} ! triopia

From @sabrinatoro
I think this might be one of these phenotypes that might have a disease version. Ther

[2022-04-15 02:47] nicolevasilevsky commented on #4788
related to #4579

[2022-04-15 14:53] #4784 closed

[2022-04-15 15:47] nicolevasilevsky opened #4789 "NTR: grouping class for Mendelian neurodevelopmental disorder"
Per the call with Peter and Ada:

-  [ ] they would like a superclass that classifies called NED
NED terms in OMIM should go under Mendelian neurodevelopmental disorder

- [ ] search for abbreviations in OMIM and we can group classes together in this way

[2022-04-15 15:55] nicolevasilevsky commented on #4691
@pnrobinson are you asking for the included terms in the [OMIM entry](https://omim.org/entry/231680) to be split out as separate terms in Mondo?

I see we have 'multiple acyl-CoA dehydrogenase deficiency, mild type' and 'multiple acyl-CoA dehydrogenase deficiency, severe neonatal type' in Mondo that come from Orphanet, but I don't know which subtype that corresponds with.

[2022-04-15 16:40] nicolevasilevsky commented on #4686
@marwa-elnagheeb

Just to clarify, upon first glance I think you are suggesting the new class 'Microcephaly 6 with or without short stature', which is due to a mutation in CENPJ and this should be a parent of 'microcephaly 6, primary, autosomal recessive' and "Seckel syndrome 4" (ie, group these two terms together)?

Thanks!

[2022-04-15 16:58] nicolevasilevsky commented on #4769
Hi @kanems
here is a list of excluded OMIM classes in Mondo: https://github.com/monarch-initiative/mondo/blob/master/src/ontology/omim-exclusion-set.obo

This list was last updated in 2020, and we did not document our reasons at that time.

@kanems If you'd like to discuss this further, could you attend one of our weekly calls to further explain what is needed? Thank you!

[2022-04-15 16:59] #4781 closed

[2022-04-15 17:40] RyanFWebb commented on #4686
Hi all,

1. Yes, the conclusion from the ClinGen Syndromic Disorders GCEP was to
group the two terms together due to what is currently published in the
literature with "Microcephaly 6 with or without short stature" being a
grouped, parent term for both "microcephaly 6, primary, autosomal
recessive" and "Seckel syndrome 4".

2. The proposed definition seems to be consistent with the originally
prop

[2022-04-15 18:11] nicolevasilevsky commented on #4686
Thanks @marwa-elnagheeb! We'll work on this ASAP.
cc @sabrinatoro

[2022-04-15 18:12] #4779 closed

[2022-04-15 18:14] nicolevasilevsky commented on #4113
@sabrinatoro sounds like we may want to obsolete disease of genitourinary system, so the action item would be just to remove that as the parent class.

I don't know that we necessarily need to have a connection between reproductive system disease and genitourinary system, do we?

In Uberon, genitourinary system is logically defined as:
'anatomical system'
 and ('has part' some 'reproductive system

[2022-04-15 18:14] kanems commented on #4769
@nicolevasilevsky - this is helpful, thank you. I'll see what we can do to filter out these items before sending the reports.
I also have not forgotten @matentzn 's pending invitation to discuss the CUI mapping conflicts on #4680  but I am waiting for a response from our developers that someone would be available for a call with you all. Presumably Fridays are your standing meeting times?

[2022-04-15 18:16] nicolevasilevsky commented on #4769
Yes! Friday at 9am PT/12pm ET. (note, we won't have a call on Friday, 05/06). It would be great if you were available to join one of our calls too. :)

Is it okay if I close this ticket?

[2022-04-15 18:18] kanems commented on #4769
@nicolevasilevsky if it's easier, sure, but we are hoping to have OMIM mapping conflicts ready to report in a week or so. I can make a new ticket at that time.

[2022-04-15 18:24] nicolevasilevsky commented on #4769
Sounds good, thanks @kanems! :)

[2022-04-15 18:24] #4769 closed

[2022-04-15 19:11] nicolevasilevsky commented on #4112
I guess the question is if we want psychiatric disorder to still be a child of nervous system disorder. If we add 'disease or disorder' as a parent, it will not show up in the inferred view.

I'm not sure what the best answer is, can you check with Peter, Chris and Nico?

[2022-04-18 09:45] matentzn commented on #4741
Requirement:

https://github.com/monarch-initiative/mondo-ingest/issues/23

[2022-04-18 14:56] maglott opened #4792 "MONDO:0010512, bain should be Bain"
**Mondo term (ID Label)**
MONDO:0010512/intellectual disability, X-linked, syndromic, bain type

**Bug/Typo/Error description**
bain should be Bain
https://www.omim.org/entry/300986

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-04-18 17:11] #4792 closed

[2022-04-18 20:46] sierra-moxon opened #4794 "Make use of "MONDO:otherHierarchy" xref sources?"
**Mondo term (ID and Label):**
(MONDO:0000313, hypophosphatemia)

**Xref that should be fixed (ID and label):**
HP:0002148 {source:"MONDO:otherHierarchy}

**Your nano-attribution (ORCID)**

0000-0002-8719-7760 @sierra-moxon via
0000-0002-9491-7674 - @cbizon
--

**Other comments:**

Really, this is a question ticket...

Is it possible that the otherHierarchy tag for this is made more precise, to in

[2022-04-18 20:47] sierra-moxon commented on #4794
@sabrinatoro - this is the ticket I hope captures the use case w/re to 'otherHierarchy' tags this morning. :)

[2022-04-18 20:48] sabrinatoro commented on #4794
tagging @nicolevasilevsky and @matentzn

[2022-04-18 21:05] nicolevasilevsky commented on #4794
Great question @sierra-moxon. I'll add this to our technical call agenda and discuss with @matentzn and @cmungall

[2022-04-18 22:53] sabrinatoro commented on #4675
from curation call 04/14/2022
- use the relation to Mondo: http://purl.obolibrary.org/obo/RO_0004004 ('has material basis in somatic mutation in')
- use 'has material basis in germline mutation in' instead of 'disease has basis in dysfunction of'

[2022-04-19 03:27] nicolevasilevsky commented on #4559
Update:
Our preprint of the Mondo paper is now available online: https://medrxiv.org/cgi/content/short/2022.04.13.22273750v1

We are preparing the final version for submission to [The Lancet Digital Health](https://www.thelancet.com/journals/landig/home). If you are currently not listed as an author on the preprint or the draft submission to the Lancet - if you would like to be included, please fi

[2022-04-19 03:28] nicolevasilevsky commented on #4559
Please see above ^

@peupeubangbang
@RedRiver1816, @rwst, @saramsey, @seoanezonjic, @sgblanch, @smcnulty13, @stuppie, @tnavatar, @TudorOprea, @turbomam, @twhetzel, @ValWood, @vforget, @WallaceKa, @kristyleelowdermilk, @abbe-Lai, @achenNCATS, @agrant9394, @ahamosh, @aholovenko, @ahwagner, @Alx-Kouris, @Anne-Pariser, @balhoff, @callahantiff, @cmungall, @courtneythaxton, @daniwelter, @dosumis, @drseb

[2022-04-19 03:28] nicolevasilevsky commented on #4559
Please see above ^^

@MorganSimiluk, @pjbrooksphd, @rebecca-siegert, @sambaxter, @Sean-Ontoforce, @ShahimEssaid, @simonjupp, @tibingaman, @TomConlin, @tsneddon, @vanessaboulanger, @Vineyardintern, @yy20716, @zoependlington

[2022-04-19 13:26] tibingaman opened #4803 "Add Chung-Jansen Syndrome as Synonym for PHIP-related..."
**Mondo term (ID and Label)**: PHIP-related behavioral problems-intellectual disability-obesity-dysmorphic features syndrome MONDO:0035133

**Synonym to be added**: Chung-Jansen Syndrome

**Synonym subtype: ie, broad/exact/narrow/related**: Exact

**Database cross reference for the synonym** Such as PubMed ID (in the format PMID:XXXXXX) or a cross-reference to another ontology, like OMIM or Orphan

[2022-04-19 13:35] tibingaman opened #4804 "Add synonym to multiple congenital anomalies-hypotonia-seizures syndrome 1"
**Mondo term (ID and Label)**: multiple congenital anomalies-hypotonia-seizures syndrome 1 MONDO:0013563

**Synonym to be added**: Inherited GPI anchor-deficiency

**Synonym subtype: ie, broad/exact/narrow/related**: Exact

**Database cross reference for the synonym** Such as PubMed ID (in the format PMID:XXXXXX) or a cross-reference to another ontology, like OMIM or Orphanet.:
[GPI biosynthesis d

[2022-04-19 15:53] nicolevasilevsky commented on #4803
@tibingaman Chung-Jansen Syndrome is an exact synonym of 'developmental delay, intellectual disability, obesity, and dysmorphic features'.

Do you think that PHIP-related behavioral problems-intellectual disability-obesity-dysmorphic features syndrome MONDO:0035133 is in fact the same as 'developmental delay, intellectual disability, obesity, and dysmorphic features' and these two classes should b

[2022-04-19 16:57] tibingaman commented on #4803
Great question @nicolevasilevsky! I am looping in @ErinRiggs to see if she has any thoughts about this.

[2022-04-19 17:16] ErinRiggs commented on #4803
Looks like OMIM has "Chung-Jansen" (617991) associated with the gene PHIP.  As you said Nicole, MONDO has Chung-Jansen listed as a synonym to "developmental delay, intellectual disability, obesity, and dysmorphic features" (MONDO:0060712) with a map back to OMIM, as well as the separate term "PHIP-related behavioral problems-intellectual disability-obesity-dysmorphic features syndrome" (MONDO:0035

[2022-04-19 22:27] nicolevasilevsky commented on #4746
agree!

[2022-04-19 23:24] nicolevasilevsky commented on #4293
@sabrinatoro and I reviewed this and decided this is no longer needed.

[2022-04-19 23:24] #4293 closed

[2022-04-19 23:56] nicolevasilevsky commented on #526
I don't think any other action is needed here. Please reopen if we should add additional onset modifiers.

[2022-04-19 23:56] #526 closed

[2022-04-20 00:21] nicolevasilevsky commented on #4660
@sabrinatoro and I moved aspiration pneumonia to a child of lung disease

[2022-04-20 00:48] nicolevasilevsky commented on #2926
@sabrina and I are looking into this and based on our google searches, we are under the impression that the idiopathic form of this disease is historical and was perhaps named as such before the genes were discovered (see: https://medlineplus.gov/genetics/condition/idiopathic-infantile-hypercalcemia/#causes).

We noted that the idiopathic synonyms are exact and historic and discouraged (deprecated

[2022-04-20 16:52] lcdaugherty opened #4808 "spinal muscular atrophy, type 1 MONDO:0009669 question on exactmatch synonym spinal muscular atrophies of childhood, which itself represents more than one subtype"
**Mondo term (ID and Label):**
spinal muscular atrophy, type 1
http://purl.obolibrary.org/obo/MONDO_0009669

**Xref that should be fixed (ID and label):**
[has exact synonym] spinal muscular atrophies of childhood - should this be deleted / or move to a new MONOD:ID?

**Other comments:**
looking at the xrefs linked https://www.ontobee.org/ontology/DOID?iri=http://purl.obolibrary.org/obo/DOID_13137

[2022-04-20 17:25] nicolevasilevsky commented on #1665
I think this is done, we have a single-child check.
Please reopen if anything else is needed.

[2022-04-20 17:25] #1665 closed

[2022-04-20 17:35] #4480 closed, assigned to sabrinatoro

[2022-04-20 17:38] #4804 closed

[2022-04-20 17:38] #4660 closed

[2022-04-20 18:06] kanems opened #4809 "split term: nicotine dependence MONDO:0008575"
**Term to split:**
 nicotine dependence MONDO:0008575

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
TOBACCO ADDICTION, SUSCEPTIBILITY TO

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties (such as synonyms and database cross references) will move to th

[2022-04-20 18:12] kanems opened #4810 "MONDO:0008340 congenital ptosis (1)"
**Mondo term (ID and Label):**
MONDO:0008340 congenital ptosis

**Suggested new label:**
Ptosis, hereditary congenital, 1

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
-Align with OMIM, which is an exact match on this record,
-eliminates name m

[2022-04-20 18:41] kanems commented on #4417
FYI the comment on the to-be obsoleted entry points to the wrong Mondo entry:
![image](https://user-images.githubusercontent.com/71083858/164300412-c539a630-3a82-41ba-be99-d258cc72887e.png)

[2022-04-20 19:00] nicolevasilevsky commented on #4417
Oops, that was a copy and paste error that made it onto several terms! It will be fixed in the next release. Thanks Megan!

[2022-04-20 20:18] #4450 closed

[2022-04-20 20:51] maglott commented on #2386
I know this ticket was originally about exact synonyms with preferred terms, but we also see the same exact synonym for more than 1 Mondo ID.  Will these be included in the cleanup?  Example: 5-oxoprolinuria

[2022-04-20 22:39] #4453 closed

[2022-04-20 22:58] nicolevasilevsky commented on #4537
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0001726 MONDO:0015681 -o -f obo mondo-edit.obo`

- [ ] remove SCTID:61831009 as an equiv xref

[2022-04-20 23:03] nicolevasilevsky commented on #4762
there are 4380 results for mim2gene_medgen. We added these recently.

[2022-04-20 23:11] nicolevasilevsky opened #4817 "[Merge] MONDO:0021849 alopecia macular degeneration growth retardation syndrome"
See comment:

[Term]
id: MONDO:0021849
name: alopecia macular degeneration growth retardation syndrome
**comment: Editor note: check relationshop to EEM. Consider merging.**
subset: gard_rare
synonym: "alopecia macular degeneration growth retardation" RELATED [MESH:C538125]
synonym: "alopecia, macular degeneration, and growth retardation" RELATED [MESH:C538125]
xref: DOID:0111649 {source="MONDO:re

[2022-04-20 23:45] nicolevasilevsky opened #4818 "[Merge] Graves disease"
See comment:
To do: take action or remove comment

[Term]
id: MONDO:0005364
name: Graves disease
def: "Graves' disease is an autoimmune disorder that leads to overactivity of the thyroid gland (hyperthyroidism).It is caused by an abnormal immune system response that causes the thyroid gland to produce too much thyroid hormones. Graves disease is the most common cause of hyperthyroidism andoccurs m

[2022-04-20 23:53] #4516 closed

[2022-04-20 23:55] #4694 closed

[2022-04-20 23:57] #4487 closed

[2022-04-20 23:58] #4451 closed

[2022-04-21 00:00] #4631 closed

[2022-04-21 00:05] nicolevasilevsky commented on #1611
Followed up via email on 04/20/22
subject: Question about MONDO_0018944 'gestational trophoblastic neoplasm'

[2022-04-21 00:14] nicolevasilevsky commented on #4614
[ROBOT template](https://docs.google.com/spreadsheets/d/1GaBIuyVvTbQlFIWB7Y6I2d_IuIPQNCV4q_hix2lBPQk/edit#gid=1650269388)

[2022-04-21 01:22] marwa-elnagheeb opened #4822 "autosomal recessive limb-girdle muscular dystrophy type 2R1"
**Mondo term (ID and Label):**
autosomal recessive limb-girdle muscular dystrophy type 2Z (MONDO: 0014977)

**Suggested new label:**
autosomal recessive limb-girdle muscular dystrophy type 2R1

**Attribution:**
This is a request from the ClinGen LGMD GCEP.

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
Based on new nomenclature and reformed classification o

[2022-04-21 01:26] marwa-elnagheeb opened #4823 "autosomal recessive limb-girdle muscular dystrophy type R18"
**Mondo term (ID and Label):**
autosomal recessive limb-girdle muscular dystrophy type 2S (MONDO:0014144)

**Suggested new label:**
autosomal recessive limb-girdle muscular dystrophy type R18

**Attribution:**
This is a request from the ClinGen LGMD GCEP.

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
Based on new nomenclature and reformed classification of

[2022-04-21 01:55] marwa-elnagheeb opened #4824 "[Revise text def] autosomal recessive LGMD type 2Z (MONDO: 0014977)"
**Mondo term (ID and Label)**
autosomal recessive limb-girdle muscular dystrophy type 2Z (MONDO: 0014977)

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
An autosomal recessive condition caused by pathogenic variant(s) of the POGLUT1 gene, encoding protein O-glucosyltransferase 1. It is characterized by progressive muscular dyst

[2022-04-21 04:25] #4614 closed

[2022-04-21 04:28] nicolevasilevsky commented on #4623
I think azoospermia should be split out into a separate class and this class should be equivalent to the OMIMPS spermatogenic failure.

- [ ] rename azoospermia to spermatogenic failure to match OMIMPS
- [ ] rename MONDO_0009461 'male infertility due to large-headed multiflagellar polyploid spermatozoa' to spermatogenic failure 5 (to match OMIM)
- [ ] create new class for azoospermia

[2022-04-21 04:42] #4629 closed

[2022-04-21 04:47] nicolevasilevsky commented on #4259
sent f/u email on 04/20/22

[2022-04-21 04:49] nicolevasilevsky commented on #4222
Emailed David at Orphanet on 04/20/22

[2022-04-21 04:50] nicolevasilevsky commented on #3219
@sabrinatoro is there any other action needed or did that last PR finalize this ticket? Thanks!

[2022-04-21 14:57] sabrinatoro commented on #3219
@nicolevasilevsky I think this PR finalize this ticket. Closing.

[2022-04-21 14:57] #3219 closed

[2022-04-21 15:41] nicolevasilevsky commented on #4579
done! 🎉

[2022-04-21 15:41] #4579 closed

[2022-04-21 17:25] nicolevasilevsky commented on #4788
add to Mondo, note in def this is based on a single case report:
https://pubmed.ncbi.nlm.nih.gov/7548108/

[2022-04-21 17:26] nicolevasilevsky commented on #4788
add to n_of_one subset

[2022-04-21 17:29] nicolevasilevsky commented on #4776
Created ticket in HPO

[2022-04-21 17:29] #4776 closed

[2022-04-21 17:47] nicolevasilevsky commented on #4113
action item:
- [ ] obsolete genitourinary system

[2022-04-21 17:53] #4762 closed

[2022-04-21 19:57] maglott opened #4830 "capitalization questions in this path"
**Mondo term (ID Label)**
MONDO:0022410

**Bug/Typo/Error description**
Should the highlighted examples be capitalized?
![image](https://user-images.githubusercontent.com/17743017/164542502-3d2d4c30-9b05-4ecf-8f39-376f92681b1d.png)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2022-04-21 20:12] #4662 closed

[2022-04-21 20:45] nicolevasilevsky commented on #4830
Yes! I'll fix

[2022-04-21 21:02] #4623 closed

[2022-04-21 22:39] sabrinatoro commented on #2597
@kanems
You are correct: many of the cerebral palsy terms could refer to either phenotypes or diseases. The current classification in Mondo requires a much deeper review, which will be done in #4767.
In the meantime, I added SNOMED:58193001 as a x-ref for 'spastic diplegia' (MONDO:0001167).
Please let us know if you have any additional concerns. Thank you!

[2022-04-21 23:33] #4830 closed

[2022-04-21 23:40] #4626 closed

[2022-04-21 23:52] #4112 closed

[2022-04-22 00:00] #2597 closed

[2022-04-22 15:41] #4746 closed

[2022-04-22 16:48] joeflack4 commented on #1549
Looking at this with fresh eyes after awhile.

@ValWood Sorry that this has been open so long. When you say "HGNC names", I think what you mean is the "HGNC symbol", does that sound correct?

I'm just a beginner at HGNC. I know that there are HGNC IDs, which I believe don't change. And there are HGNC symbols, which do change over time. I'm not sure why this is. And I'm also not sure what % of thes

[2022-04-22 16:49] nicolevasilevsky opened #4838 "add HP to Mondo mappings to sssom export"
related to https://github.com/monarch-initiative/mondo/issues/4794

[2022-04-22 16:52] matentzn commented on #4794
We will add an SSSOM export for MONDO-HP, but this wont happen before mid May; it will happen!

[2022-04-22 16:52] matentzn commented on #4794
Closing in favour of #4838

[2022-04-22 16:52] #4794 closed

[2022-04-22 17:06] ValWood commented on #1549
Yes I mean symbol sorry about that.

symbols change over time for various reasons . hopefully @sartweedie can explain more about the name changes.

[2022-04-22 17:07] #3205 closed

[2022-04-22 17:07] #4788 closed

[2022-04-22 17:07] ValWood commented on #1549
here is some background on name changes:
https://pubmed.ncbi.nlm.nih.gov/32747822/

[2022-04-22 17:08] joeflack4 commented on #1526
@matentzn Nicole just brought this up today. It's after February; I failed to remind you by then @matentzn , my bad.

I know this is still lower priority but in seeing the comments about February, I thought I'd mention something now.

[This list](https://github.com/monarch-initiative/mondo/issues/1526#issuecomment-934420131) has been utilized in the OMIM ingest for awhile now. When it's time for m

[2022-04-22 17:08] joeflack4 commented on #1549
Thanks Val! I saw the [other article](https://blog.genenames.org/hgnc/2019/09/30/Minimising_changes/) you also linked earlier in the issue. I'll take a look at both.

[2022-04-22 17:23] nicolevasilevsky commented on #1745
I reviewed the xrefs and they looked okay to me

[2022-04-22 17:25] nicolevasilevsky commented on #1928
@ahamosh could you comment if you have any objections to obsoleting MONDO_0010682 'myoclonic epilepsy, progressive, X-linked' in Mondo?
thanks!

[2022-04-22 17:41] nicolevasilevsky commented on #2419
this is done

Action item is to look into this further.

[2022-04-22 17:42] #2926 closed

[2022-04-22 17:44] nicolevasilevsky commented on #3543
@ahamosh pinging you :)

[2022-04-22 18:02] #1745 closed

[2022-04-22 18:18] nicolevasilevsky opened #4843 "add back missing terms"
these terms were accidentally deleted:
MONDO:0005713 and MONDO:0024812

in these commits:
[https://github.com/monarch-initiative/mondo/commit/024a35cc932965ea0b6e3f0f2d4002fd96e267d3#diff-889e0a9ba62d62cc6ee7c[…]90ef0dcf4786904ac6768L37362](https://github.com/monarch-initiative/mondo/commit/024a35cc932965ea0b6e3f0f2d4002fd96e267d3#diff-889e0a9ba62d62cc6ee7c5c9bead0075444d506253590ef0dcf4786904ac67

[2022-04-22 18:21] nicolevasilevsky commented on #4843
[ROBOT template](https://docs.google.com/spreadsheets/d/1FyapIj4LJU9l-Z22zJcQBrbJ-d8lxSjDAIhe1cHZzmM/edit#gid=0)

[2022-04-22 20:00] #4843 closed

[2022-04-22 20:43] nicolevasilevsky commented on #4600
[robot template](https://docs.google.com/spreadsheets/d/1wuYBVNCVjnKOmp4yM7-hp_3q9Vl7ckucCSRx8OdaSCM/edit#gid=0)

[2022-04-22 20:53] sabrinatoro commented on #4232
closed with https://github.com/monarch-initiative/mondo/pull/4800#pullrequestreview-950566683

[2022-04-22 20:53] #4232 closed

[2022-04-22 20:55] #4675 closed

[2022-04-22 22:44] #4502 closed

[2022-04-22 23:42] #4501 closed

[2022-04-23 19:44] #4500 closed

[2022-04-25 04:44] matentzn commented on #1526
Please raise at next QC call.

[2022-04-25 12:54] aoifemcm opened #4859 "Diabetic ketoacidosis has inappropriate parent term"
Diabetic ketoacididosis (http://purl.obolibrary.org/obo/MONDO_0012819) is currently a child of Type 2 Diabetes, but it should move up one and be a child of the more general [diabetes mellitus](http://purl.obolibrary.org/obo/MONDO_0005015). Same as in the structure found in [HP](http://purl.obolibrary.org/obo/HP_0001953)

Diabetic ketoacidosis occurs in both types of diabetes, but seems to occur mo

[2022-04-25 12:58] #4507 closed

[2022-04-25 13:38] sartweedie commented on #1549
Sorry for taking a while to respond to this. On the whole HGNC try NOT to change gene symbols as it is disruptive but, as you can see in our recent guidelines that Val pointed you to, there can be good reasons to change them. it is definitely preferable to rely on linking to HGNC IDs but I appreciate they are less user friendly in a definition. If you have a list of all human gene symbols that app

[2022-04-25 14:08] lcdaugherty opened #4861 "obsoleted exact match MeSH ID for multifocal choroiditis MONDO:0023833"
**Mondo term (ID and Label):**
multifocal choroiditis
MONDO:0023833
http://purl.obolibrary.org/obo/MONDO_0023833

**Xref that should be fixed (ID and label):**
[database cross reference]
MESH:C537374 (MONDO:equivalentTo)

[exactMatch]
http://identifiers.org/mesh/C537374

**Other comments:**
MESH:C537347 has been obsoleted by MeSH
https://meshb.nlm.nih.gov/searchsearchMethod=FullWord&searchInField=

[2022-04-25 17:07] nicolevasilevsky commented on #4861
Hi @lcdaugherty thanks for reporting this. I'll check in with Nico on our technical team about your questions and get back to you asap.

[2022-04-25 19:52] nicolevasilevsky opened #4862 "OMIM slurp April 2022"
**Added new OMIMPS xrefs:**
[Term]
id: MONDO:0030942
name: myopathy, distal
xref: OMIMPS:160500 {source="MONDO:equivalentTo"} ! myopathy, distal

[Term]
id: MONDO:0031117
name: epidermolysis bullosa, junctional
xref: OMIMPS:226650 {source="MONDO:equivalentTo"} ! epidermolysis bullosa, junctional

**added new term:**
[Term]
id: MONDO:0031400
name: Tessadori-Van-Haaften neurodevelopmental syndrome
x

[2022-04-25 20:48] nicolevasilevsky opened #4864 "split term: OMIMPS terms"
**Obsolete**
- [ ] [Term]
id: MONDO:0100461
name: obsolete gastrointestinal defects and immunodeficiency syndrome
relationship: seeAlso https://github.com/monarch-initiative/mondo/issues/4510
relationship: seeAlso https://github.com/monarch-initiative/mondo/issues/XXXX
is_obsolete: true
replaced_by: XXXXX

- [ ] [Term]
id: MONDO:0010143
name: obsolete lethal restrictive dermopathy
relationship: se

[2022-04-25 21:32] #4862 closed

[2022-04-25 21:46] nicolevasilevsky commented on #4818
Not sure what this was meant to be merged with. I removed the comment.

[2022-04-25 21:46] #4818 closed

[2022-04-25 21:50] nicolevasilevsky commented on #4817
this is no longer a valid disease in GARD. Recommend obsoleting, and consider MONDO:0009155 'EEM syndrome'

[2022-04-25 21:56] nicolevasilevsky commented on #4803
note to self:

`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0060712 MONDO:0035133 -o -f obo mondo-edit.obo`

[2022-04-25 21:58] nicolevasilevsky commented on #4637
note to self:

`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0017606 MONDO:0005769 -o -f obo mondo-edit.obo`

[2022-04-25 22:02] nicolevasilevsky commented on #4610
note to self:
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0024686 MONDO:0006906 -o -f obo mondo-edit.obo`

[2022-04-25 22:03] nicolevasilevsky commented on #4533
note to self:
`sh run.sh owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0011878 MONDO:0007764 -o -f obo mondo-edit.obo`

[2022-04-25 22:08] nicolevasilevsky commented on #4584
I'm not sure of the reason for obsoleting this. I will close this for now.

[2022-04-25 22:08] #4584 closed

[2022-04-25 22:53] nicolevasilevsky commented on #1611
From NCIT EVS:
According to WHO, hydatidiform mole has been removed from trophoblastic neoplasms, so it should not be a subclass. We will modify the existing NCIt definition for this concept.

[2022-04-25 23:14] joeflack4 commented on #1549
Thanks for chiming in @sartweedie . That looks like a helpful tool that we may be able to utilize.

I have a feature request / ask. If you happen to know the dev(s) that put together that symbol-checker tool, do you think it would be possible for them to expose it as a REST API? We try to automate as much as possible, and being able to tie in this tool as an API as part of our scripts / ingest pro

[2022-04-25 23:16] pnrobinson commented on #1611
AFAIK hydatidiform mole is considered a type of trophoblastic neoplasm. See for instance here https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4853053/

[2022-04-26 11:04] sartweedie commented on #1549
@joeflack4 I spoke to our developer Kris who said he will keep your request  in mind and will look into implementing this feature in the future. He said storing the IDs is vital - then you could use our FTP archive files to look for changes once you are synced with our data. i.e https://www.genenames.org/download/archive/

I notice that the gene symbols within the Term Relations are up-to-date and

[2022-04-26 16:02] #4510 closed

[2022-04-26 16:30] nicolevasilevsky commented on #2808
I agree with @maglott's suggestion. I think it would be best if we added 'included' entries as new terms in Mondo and they would have the xref to the OMIM ID with a new tag MONDO:includedInOMIM.

I'm not sure how difficult it would be to do this retroactively?

[2022-04-26 17:22] nicolevasilevsky commented on #4474
I think all of this is done.

[2022-04-26 17:45] nicolevasilevsky commented on #4229
@pnrobinson and @ahamosh could you help answer these questions?

[2022-04-26 17:49] nicolevasilevsky commented on #3222
HI @kanems we do aim to include all the OMIM disease IDs in Mondo. The IDs for Heimler syndrome 1 and 2 are cross-referenced on the obsoleted terms:
MONDO_0024544 'obsolete Heimler syndrome 1'
MONDO_0014709 'obsolete Heimler syndrome 2'

ClinGen asked us to obsolete these terms, rather than add them as children classes. From what I recall, I believe they said these were no longer considered valid

[2022-04-26 17:50] nicolevasilevsky commented on #461
It's been 3.5 years since there were any comments, so I will close this ticket. Please reopen if needed.

[2022-04-26 17:50] #461 closed

[2022-04-26 17:56] pnrobinson commented on #4229
Can we get an easier question please?
But I think it would be good for Mondo (and OMIM) to have separate numbers for the various subtypes including at least those that are discussed in the OMIM entry
[code]
Alpha thalassemia -- analogous comments.
@ahamosh  thoughts?

[2022-04-26 18:34] nicolevasilevsky commented on #4522
@hrshdhgd I assigned this to the June milestone but please feel free to move back if that is unrealistic. Thanks!

[2022-04-26 18:51] matentzn commented on #4522
It's realistic.. can be done any time @hrshdhgd feels like, I would kinda like this sorted earlier.

[2022-04-26 18:53] matentzn commented on #4488
Can be closed, please open new ticket for specific requests!

[2022-04-26 19:23] kanems commented on #3222
@nicolevasilevsky As long as this was intentional from Mondo's end, then it's fine. MedGen will still have these MIM numbers since OMIM continues to report them as active terms, but we'll make a note for our own records and curation efforts that some MIM numbers map to obsoleted Mondo IDs (much like your report from our other discussion, #4521 ) and that this is an intentional decision rather than

[2022-04-26 20:39] joeflack4 commented on #1549
Thanks for speaking with him. I appreciate that! Yeah, I agree that storing the IDs is vital, now that I understand more about HGNC.

@matentzn Just an FYI, you may already be aware of this, but I wanted to draw your attention to the above comment. It looks like there may be some outdated HGNC symbols / inconsistencies in Mondo itself, not just our OMIM ingest.

[2022-04-26 22:29] #4488 closed

[2022-04-27 09:23] matentzn commented on #1549
@joeflack4 thank you for driving discussion, please add to QC call agenda!

[2022-04-27 15:18] maglott opened #4869 "VAMAS6 AND MONDO:0008661"
**Mondo term (ID and Label):**
MONDO:0008661/vitiligo

**Xref that should be fixed (ID and label):**
https://omim.org/entry/193200

**Other comments:**
It seems that the vitiligo tree could be improved.  My immediate comment is that this MIM number is not equivalent to vitiligo any more; we are working on making the correction at our end after having noticed that UMLS correctly split the concepts:

[2022-04-27 15:23] nicolevasilevsky commented on #4861
Note to self: I updated the xref for 'multifocal choroiditis'.

- [ ] Action item - question:

Do you want these sorts of MeSH instances reported?

Do you have any way of getting a monthly obsoleted list of IDs from MeSH and a list of replacement MeSH_IDs (I have asked but did not get an answer) so this sort of thing can be updated as a bulk update within MONDO (for those that are exact-match)

[2022-04-27 16:00] #4859 closed

[2022-04-27 16:29] #4714 closed

[2022-04-27 16:30] #4822 closed

[2022-04-27 18:18] #4823 closed

[2022-04-28 04:42] marwa-elnagheeb opened #4876 "[Revise subclass] [NTR] [Relabel term] TTN-related myopathy (MONDO:0100175)"
**Mondo term (ID and Label)**
TTN-related myopathy (MONDO:0100175)

**Suggested revision and reasons**
**Reasons:** Per criteria outlined by the ClinGen Lumping and Splitting Working Group, the ClinGen LGMD GCEP and Congenital Myopathies GCEP determined the inheritance pattern, unique genetic basis (missense and truncating variants in the M line), and distinct clinical presentation of autosomal do

[2022-04-28 11:03] lcdaugherty commented on #4559
@nicolevasilevsky Sorry, I missed the notification somehow, but have filled in the form, not to worry if it is now too late. Thank you for such an excellent resource with active updates and improvements- and always striving for a unified interoperable biomedical world!

[2022-04-28 11:32] lcdaugherty commented on #4861
#2073

[2022-04-28 15:45] #355 closed

[2022-04-28 17:00] nicolevasilevsky commented on #4876
_I am outlining the action items below. This is in progress_

Create new terms:
- [ ] 1
Parent: MONDO:0100175 'TTN-related myopathy'
Label: autosomal recessive titinopathy
Definition: Autosomal recessive form of TTN-related myopathy.
Dbxref: MONDO:patterns/autosomal_recessive
Exact synonym: TTN-related myopathy, autosomal recessive
Logical axiom:
'TTN-related myopathy' and ('has modifier' some 'au

[2022-04-28 17:02] #4744 closed

[2022-04-28 18:21] #4743 closed

[2022-04-28 18:45] #4686 closed

[2022-04-28 20:06] nicolevasilevsky opened #4882 "[Revise subclass] Susceptibility terms"
We made the decision that the susceptibility terms should be a child fo 'inherited disease susceptibility' and follow the pattern: https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/susceptibility_by_gene.yaml

There are a number of classes that are currently classified under parents that are not 'inherited disease susceptibility'.

action items:
- [x] @sabrinatoro

[2022-04-28 20:13] sabrinatoro commented on #4882
@nicolevasilevsky
How should we ding the "susceptibility" terms? Are we expecting these terms to have "susceptibility" in their label? in synonyms?
Note that we might get false positive (ie terms with "susceptibility" in the name but are not actual susceptibility terms, so we will have to be careful with any bulk change)

[2022-04-28 20:16] nicolevasilevsky commented on #4882
I was just thinking query for any term with susceptibility in the label. I think this will all have to be manually reviewed, I don't think we'll do any of this in bulk.

[2022-04-28 20:20] nicolevasilevsky commented on #4882
querying for 'susceptibility' in the synonym is a good idea too - we have some terms that are the primary term but they have susceptibility as a synonym like MONDO_0005090 schizophrenia has schizophrenia, susceptibility to as an exact synonym.

We should think about how to handle these, in this case, OMIM groups together different genes that cause schizophrenia, but some of them are just susceptib

[2022-04-28 21:11] monicacecilia opened #4883 "Remove outdated terminology related to FMR1 and Fragile X"
Please update FMR1 gene and any other terminology related to fragile x which contains, or references through abbreviation, the word 'retardation', which is outdated and offensive terminology.

Please see this Cells article: https://www.mdpi.com/2073-4409/11/6/1044.

As a result of this article, HGNC has updated their definition of FRAXA to:
**fragile site, folic acid type, rare, fra(X)(q27.3) A**

[2022-04-28 21:40] sabrinatoro commented on #4882
@nicolevasilevsky
Here is the query reporting all terms with "susceptibility" in its label and/or in the exact synonym. (At least I think?)
https://docs.google.com/spreadsheets/d/1aFKn_1ybz4w23_4kvZo0uv_WahL-OcglS4Wsuf-56ek/edit?usp=sharing

Sparql query: https://api.triplydb.com/s/CR6y9XqFN

I will attend to filter out the one which are not in the "susceptibility" branch.

[2022-04-28 22:18] nicolevasilevsky commented on #4883
Thanks for reporting this - we tried to replace all the usage of that word across Mondo but this must have crept in! I'll fix it asap

[2022-04-28 22:26] sabrinatoro commented on #4882
Updated the query (added the report in the google doc, see tab "not in Mondo:0020573")

Sparql query: https://api.triplydb.com/s/9DJbSWDue

[2022-04-28 22:48] nicolevasilevsky commented on #4882
This is perfect, thanks @sabrinatoro!

[2022-04-28 23:52] #4883 closed

[2022-04-29 01:46] nicolevasilevsky opened #4885 "[NTR] Ascaris lumbricoides infectious disease"
**Preferred term label:**
ascaris lumbricoides infectious disease

**Synonyms**
infection due to ascaris lumbricoides
dbxref: MONDO:patterns/infectious_disease_by_agent

ascaris lumbricoides infection
dbxref: MONDO:patterns/infectious_disease_by_agent

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
A disease caused by infection with ascaris lumbricoides.
d

[2022-04-29 14:07] nicolevasilevsky commented on #4559
@lcdaugherty I added you to the author list for the submission to Lancet Digital Health. I hope we'll submit the manuscript next week. :)

[2022-04-29 14:07] #4559 closed

[2022-04-29 16:14] nicolevasilevsky opened #4888 "create a OAK-qc.py script for exact synonym matches"
For exact synonym matches - create a OAK-qc.py in scripts directory, give it a proper CLI and replace the exact synonym qc check with OAK

related to https://github.com/monarch-initiative/mondo/issues/2939.

[2022-04-29 16:52] nicolevasilevsky commented on #4861
Hi @lcdaugherty, we would love it if you reported issues like these for now. If possible, if you could provide the issues in a google spreadsheet, that would be great.

We don't currently have a workflow to keep the MESH ingest up to date. It is on our list but it is not a super high priority at the moment.

I will close this ticket, but please reopen if you have additional questions.

[2022-04-29 16:52] #4861 closed

[2022-04-29 23:07] nicolevasilevsky opened #4889 "[Merge] MONDO:0004033 familial ovarian carcinoma"
**Mondo term (ID and Label)**
MONDO:0004033 | familial ovarian carcinoma

**Reason for deprecation**
duplicate

**Term to be merged with**
MONDO:0016248	familial ovarian cancer

[2022-05-02 15:24] maglott opened #4892 "[Merge] IDDM1 and type 1 diabetes mellitus"
**Mondo term (ID and Label)**
MONDO:0005147/type 1 diabetes mellitus
MONDO:0009100/IDDM 1

**Reason for deprecation**
I don't see any definition to justify treating IDDM1 as a subtype of type 1 diabetes mellitus.  I know that OMIM treats IDDM1 as an included title for T1D, but I am not certain of the distinction.  There are papers that seem to treat these as the same entity.
https://pubmed.ncbi.nl

[2022-05-02 15:29] maglott commented on #4892
I should have done one more lookup i guess.  I see that IDDM1 is the subset based on the MHC.
https://www.nature.com/articles/6363875; maybe that could be added to the definition.

[2022-05-02 22:07] nicolevasilevsky opened #4894 "[Merge] MONDO:0013809 cerebellar ataxia, neuropathy, and vestibular areflexia syndrome"
**Mondo term (ID and Label)**
MONDO:0013809	cerebellar ataxia, neuropathy, and vestibular areflexia syndrome

**Reason for deprecation**
Duplicate

**Term to be merged with**
MONDO:0044720	cerebellar ataxia with neuropathy and bilateral vestibular areflexia syndrome

[2022-05-02 23:47] nicolevasilevsky opened #4896 "[Obsolete] MONDO:0004268 subareolar duct papillomatosis"
**Mondo term (ID and Label)**
MONDO:0004268 subareolar duct papillomatosis

**Reason for deprecation**
This term is obsoleted in NCIT (NCIT:C9008)

**Suggested term to consider**
MONDO:0021301 | adenoma of nipple

[2022-05-03 04:20] nicolevasilevsky opened #4897 "[Merge] MONDO:0016275 adenocarcinoma of cervix uteri"
**Mondo term (ID and Label)**
MONDO:0016275	adenocarcinoma of cervix uteri

**Reason for deprecation**
DUPLICATE

**Term to be merged with**
MONDO:0005153 cervical adenocarcinoma

[2022-05-03 04:21] nicolevasilevsky opened #4898 "[Merge] MONDO:0016286 adenoid cystic carcinoma of the cervix uteri"
**Mondo term (ID and Label)**
MONDO:0016286 adenoid cystic carcinoma of the cervix uteri

**Reason for deprecation**
duplicate

**Term to be merged with**

MONDO:0006133 | cervical adenoid cystic carcinoma

[2022-05-03 04:33] nicolevasilevsky opened #4899 "[Merge] MONDO:0044652 optic atrophy-peripheral neuropathy-developmental delay syndrome"
**Mondo term (ID and Label)**
MONDO:0044652	optic atrophy-peripheral neuropathy-developmental delay syndrome

**Reason for deprecation**
DUPLICATE

**Term to be merged with**
MONDO:0014958	Harel-Yoon syndrome

[2022-05-03 04:48] nicolevasilevsky commented on #2180
#2198 is closed, so I think this can be closed.

[2022-05-03 04:48] #2180 closed

[2022-05-03 16:12] nicolevasilevsky opened #4901 "[Merge] MONDO:0009997 Roberts syndrome"
**Mondo term (ID and Label)**
MONDO:0009997	Roberts syndrome

**Reason for deprecation**
duplicate

**Term to be merged with**
MONDO:0100253	Roberts-SC phocomelia syndrome

[2022-05-03 18:56] jennygoldstein opened #4905 "[NTR] methylmalonic aciduria and/or homocystinuria, cblD type"
**Preferred term label:** Methylmalonic aciduria and/or homocystinuria, cblD type

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Methylmalonic aciduria and/or homocystinuria, cblD type is an autosomal recessive inborn disorder of cobalamin metabolism caused by biallelic variants in MMADHC. Depending on the type and location of variants in MM

[2022-05-03 18:58] jennygoldstein commented on #4905
Please note that the above request was discussed by the ClinGen Aminoacidopathy Gene Curation Expert Panel. All three disorders that are now requested to be child terms have the same MIM# in OMIM - (MIM#277410) which supported lumping these three conditions together for the purposes of gene curation. Thank you for your help!

[2022-05-03 21:07] #4809 closed

[2022-05-03 21:20] nicolevasilevsky commented on #4684
I think these should be merged based on a literature search, it seems like these are used synonymously, like Sierra said ([PMID:29630239](https://www.ncbi.nlm.nih.gov/books/NBK493187/)).

MONDO:0006661 ascorbic acid deficiency is obsoleted in DO.

[2022-05-03 21:32] nicolevasilevsky commented on #4370
`sh run.sh owltools --use-catalog mondo-edit.obo --obsolete-replace MONDO:0014129 MONDO:0011076 -o -f obo mondo-edit.obo`

[2022-05-03 21:33] nicolevasilevsky commented on #4425
`sh run.sh owltools --use-catalog mondo-edit.obo --obsolete-replace MONDO:0004955 MONDO:0000816 -o -f obo mondo-edit.obo`

[2022-05-03 22:40] #4803 closed

[2022-05-03 22:40] #4370 closed

[2022-05-03 23:27] nicolevasilevsky commented on #4892
@sabrinatoro could you review this ticket?

I think these are the action items, let me know if you agree:

It seems like this class is equiv to OMIM:222100 and I think this Mondo class is referring to an included entry in [OMIM:222100](https://omim.org/entry/222100):
name: DIABETES MELLITUS, INSULIN-DEPENDENT, 1, INCLUDED
synonym: IDDM1

- [ ]  I think that 'insulin-dependent diabetes mellitus 1'

[2022-05-03 23:29] #4425 closed

[2022-05-03 23:29] #4905 closed

[2022-05-03 23:46] nicolevasilevsky opened #4913 "split term: (bud) Bonnevie-Ullrich syndrome"
**Term to split:**
Bonnevie-Ullrich syndrome is currently a synonym of 'Turner syndrome' (per DO) but [NCIT](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C34434) treats this as a separate class.

There is an editor note on Turner syndrome:
Editor note: consider splitting BU syndrome

**Name for new terms:**
Bonnevie-Ullrich syndrome

see: [NCIT]

[2022-05-03 23:47] nicolevasilevsky commented on #4913
related to https://github.com/monarch-initiative/mondo/issues/3811

[2022-05-04 00:08] nicolevasilevsky opened #4914 "[NTR] acquired iron metabolism disease"
**Preferred term label:**
acquired iron metabolism disease

see [DOID:2351](https://www.ebi.ac.uk/ols/ontologies/doid/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDOID_2351)

There is an editor note on MONDO:0002279 iron metabolism disease
Editor note: DOID refers to acquired version, consider new class

[2022-05-04 00:15] nicolevasilevsky opened #4915 "pattern: lesioned"
Per the editor note on:
MONDO:0001458	ulnar nerve lesion

Editor note: todo DP for lesions

need to create a pattern for lesioned diseases using [PATO:0040025 lesioned](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0040025)

Can be modeled after
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/acute.yaml

[2022-05-04 01:19] nicolevasilevsky commented on #4222
Hi @kanems
We haven't heard back from Orphanet. I see in the latest version of Orphanet, they have epidermal nevus syndrome as a child of disease (see [here](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_35125).

I propose we make it a child of Mondo 'syndromic disorder' and I can link to this link, so people are aware of the controversy around th

[2022-05-04 01:20] nicolevasilevsky commented on #1583
the single child check has been implemented, so I think this can be closed

[2022-05-04 01:20] #1583 closed

[2022-05-04 01:26] nicolevasilevsky commented on #748
I will close this but please reopen if this is still needed. Thanks!

[2022-05-04 01:26] #748 closed

[2022-05-04 01:27] nicolevasilevsky commented on #559
@courtneythaxton we have removed the (disease) from the labels in Mondo. I'll close this but please reopen a new ticket if any action items are needed.
Thank you! :)

[2022-05-04 01:27] #559 closed

[2022-05-04 08:33] matentzn commented on #2939
I would like to close this ticket with a QC check; can we spend 5 minutes during our call on Thursday to finish?

[2022-05-04 11:55] kanems commented on #4222
That sounds like a good solution. Thanks!

From: Nicole Vasilevsky ***@***.***>
Sent: Tuesday, May 3, 2022 9:20 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [monarch-initiative/mondo] MONDO:0018115 Epidermal nevus syndrome(s) [Revise subclass] (Issue #4222)

Hi @kanems<https://gcc02.safelinks.protection.o

[2022-05-04 14:07] jennygoldstein opened #4916 "Relabel MONDO:0009614 "vitamin B12-responsive methylmalonic acidemia type cblB""
**Mondo term (ID and Label):** MONDO:0009614 "vitamin B12-responsive methylmalonic acidemia type cblB"

**Suggested new label:** "Methylmalonic aciduria, cblB type"

**Your nano-attribution (ORCID)** 0000-0002-5655-9589

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
"Methylmalonic aciduria, cblB type" is currently an exact synonym of "vitamin B12-responsive

[2022-05-04 14:10] jennygoldstein opened #4917 "Relabel MONDO:0009613 "vitamin B12-responsive methylmalonic acidemia type cblA"
**Mondo term (ID and Label):** MONDO:0009613 "vitamin B12-responsive methylmalonic acidemia type cblA

**Suggested new label:** "Methylmalonic aciduria, cblA type"

**Your nano-attribution (ORCID)** 0000-0002-5655-9589

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
"Methylmalonic aciduria, cblA type" is currently an exact synonym of "vitamin B12-responsive

[2022-05-04 15:12] #4648 closed

[2022-05-04 15:12] nicolevasilevsky commented on #2939
yes!

[2022-05-04 15:14] nicolevasilevsky commented on #3811
@sabrinatoro I can work on this, you should focus on other tickets. I'll try to work on this a bit each month, it's a really big ticket.

[2022-05-04 15:35] nicolevasilevsky commented on #4259
Jenny emailed on 05/04/22 and said she'd get back to us asap.

[2022-05-04 15:42] kanems opened #4918 "EDS 6 vs VI"
**Mondo term (ID Label)**
MONDO:0016002 Ehlers-Danlos syndrome, kyphoscoliotic type 1
MONDO:0034024 Kyphoscoliotic Ehlers-Danlos syndrome

**Bug/Typo/Error description**
Both of these terms suggest an acronym of EDS 6/VI is valid, but this confusing for some of our labs who use MedGen and submit to GTR.

@ahamosh OMIM uses EDS6 as an alternate name/acronym for EHLERS-DANLOS SYNDROME, KYPHOSCOLIOTI

[2022-05-04 16:04] #4581 closed

[2022-05-04 19:03] ahamosh commented on #4918
From Joanna and Carol at OMIM:
See 601776 was formerly EDS VIb.  The nomenclature section in this
entry has this explanation:

NOMENCLATURE
The kyphoscoliotic type of Ehlers-Danlos syndrome (see 225400) was at
one time separated into EDS VIA (with lysyl hydroxylase deficiency)
and EDS VIB (with normal lysyl hydroxylase activity). What was
designated EDS VIB is now known to represent 2 distinct ent

[2022-05-04 19:46] sabrinatoro commented on #4892
@nicolevasilevsky
I agree with the definition and with "insulin-dependent diabetes mellitus 1" being a separate class. I am not sure to which terms the synonyms above refer.

I think the ontology should be:
- type 1 diabetes mellitus (MONDO:0005147)
 - Mondo:EquivalentTo : OMIM:222100
 - 'diabetes mellitus, insulin-dependent' should be exact synonym
 - 'IDDM' should be exact synonym
 - 'IDDM1' sho