[2019-12-10 23:38] #1016 closed

[2019-12-10 23:41] #1017 closed

[2019-12-10 23:42] #824 closed

[2019-12-10 23:42] #1006 closed

[2019-12-10 23:43] #990 closed

[2019-12-10 23:44] #991 closed

[2019-12-10 23:45] #565 closed

[2019-12-10 23:46] #1004 closed

[2019-12-10 23:47] #1022 closed

[2019-12-11 15:01] bmeldal opened #1032 "[Revise text def]MONDO:0010432 thrombophilia, X-linked, due to factor 9 defect"
**Mondo term (ID and Label)**
MONDO:0010432 thrombophilia, X-linked, due to factor 9 defect

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
"A hemostatic disorder characterized by a tendency to thrombosis."

From: OMIM:300807

Also please add synonyms:
Thrombophilia, X-linked, due to factor IX defect [EXACT]

Thanks,
Birgit

[2019-12-11 19:58] turbomam opened #1033 "Are xrefs supposed to bidirectional? MONDO:0002144 "hyperuricemia" -> ICD9 790.6 "Other abnormal blood chemistry""
**Mondo term (ID and Label):**
MONDO:0002144 "hyperuricemia"

**Xref that should be fixed (ID and label):**
ICD9 790.6 "Other abnormal blood chemistry"

**Other comments:**

Is MonDO saying

I think that's fine.

But if it's saying

That would be wrong most of the time, right?

[2019-12-11 20:29] cmungall commented on #1033
xref is inherently ambiguous - for some sources we ensure these are 1:1
(unless we do a proxy) merge, but not for ICD9

I recommend using the skos mappings or the owl equivalencies file for
precise unambiguous mappings

On Wed, Dec 11, 2019 at 2:58 PM Mark A. Miller <notifications@github.com>
wrote:

[2019-12-11 20:32] turbomam commented on #1033
Thanks, @cmungall . That's helpful clarification.

[2019-12-11 20:32] #1033 closed

[2019-12-12 15:13] turbomam commented on #1033
@cmungall I though of two followup questions

1. how do you decide which predicate to assert? Is there a paper I can read, or some web documentation?
2. there are `?mondo ?p ?external` assertions as well as `?external ?p ?mondo` assertions. What's the significance of the orientation of those statements?

[2019-12-12 15:16] cmungall commented on #1033
1. @nicolevasilevsky can you provide a link to the section in the manual?
2. I think this only happens with owl:equivalentClass triples. This is a symmetric property. The owlapi writes these in an arbitrary (but deterministic) order.

[2019-12-12 23:18] nicolevasilevsky commented on #1031
Hi @cmungall -
Do you want the license for Mondo to be: https://creativecommons.org/publicdomain/zero/1.0/
?

Currently it is http://creativecommons.org/licenses/by/4.0/ in protege and noted as
CC BY 3.0 on the [OBO Foundry page](http://obofoundry.org/ontology/mondo.html).

Should I change both of those to https://creativecommons.org/publicdomain/zero/1.0/

![image](https://user-images.githubuserc

[2019-12-12 23:50] nicolevasilevsky commented on #1019
Sounds like we should obsolete **MONDO_0010394 'leukoencephalopathy-metaphyseal chondrodysplasia syndrome'**
and replace it with **MONDO_0010275 'spondyloepimetaphyseal dysplasia, Bieganski type'**

[2019-12-13 00:05] nicolevasilevsky commented on #1018
note to self - add subclass Of assertion:
'disease has basis in dysfunction of' some GATA1

[2019-12-13 00:28] nicolevasilevsky commented on #1013
@paolaroncaglia HP doesn't actually have Hypoxia as a phenotype (but it is in MP). I'll make a NTR to HP.

I partially addressed this ticket on the PR #1039

[2019-12-13 00:29] nicolevasilevsky commented on #1013
Oh, nevermind, I guess hypoxemia is a synonym for hypoxia:
https://github.com/obophenotype/human-phenotype-ontology/issues/3904

[2019-12-13 00:37] nicolevasilevsky commented on #1013
I added the axiom too

[2019-12-13 02:14] #1014 closed

[2019-12-13 02:20] #1030 closed

[2019-12-13 02:21] #1028 closed

[2019-12-13 02:22] #1002 closed

[2019-12-13 02:23] cmungall commented on #1031
no stick with cc by for now, only the logic subset gets cc-0

On Thu, Dec 12, 2019 at 3:18 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-12-13 11:46] paolaroncaglia commented on #1013
Thanks @nicolevasilevsky .

[2019-12-13 13:15] paolaroncaglia opened #1040 "[Revise subclass] MONDO:0005203 'ischemia reperfusion injury'"
**MONDO:0005203 'ischemia reperfusion injury'**

**Suggested revision and reasons**
MONDO:0005203 'ischemia reperfusion injury' is currently a subclass of 'cardiovascular disease'.
(It seems that Mondo took 'ischemia reperfusion injury' from EFO and MeSH, so we've looked into this on our end first.)
However, based on its definition, PMID dbxref, and on https://en.wikipedia.org/wiki/Reperfusion_inj

[2019-12-13 19:43] nicolevasilevsky commented on #1033
https://mondo.readthedocs.io/en/latest/editors-guide/f-entities/#axiom-annotations-on-xrefs

[2019-12-13 21:07] cmungall commented on #1033
Do we have anything in the users manual? What the editor sees and does will
be different

On Fri, Dec 13, 2019 at 11:43 AM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-12-16 14:54] maglott opened #1042 "should MITOCHONDRIAL COMPLEX I DEFICIENCY have subclasses?"
UMLS (likely from OMIM)  and OMIM have established multiple terms for nuclear and mitochondrial subtypes
https://www.omim.org/phenotypicSeries/PS252010
MITOCHONDRIAL COMPLEX I DEFICIENCY, MITOCHONDRIAL TYPE 1; MC1DM1

[2019-12-16 23:52] #1013 closed

[2019-12-17 00:20] nicolevasilevsky commented on #723
Looking at this more closely - the mappings for the term MONDO_0000595 'sexual disorder' suggest this is actually a psychiatric disorder.

NCIT:C92202 is Sexual and Gender Identity Disorders and MONDO 'sexual disorder' is using the text def from NCIT:C92202  Sexual and Gender Identity Disorders.

DOID:0060043 'sexual disorder' is an equivalent class and the text def is:
A disease of mental health

[2019-12-17 01:26] cmungall commented on #723
this seems reasonable

On Mon, Dec 16, 2019 at 4:20 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-12-17 02:36] nicolevasilevsky commented on #1029
Yes, I think MONDO:0007613 fibromuscular dysplasia of arteries and MONDO:0006761 fibromuscular dysplasia are the same and should be merged.

[2019-12-17 15:18] nicolevasilevsky commented on #834
See [spreadsheet](https://docs.google.com/spreadsheets/d/17lFlbueWkXTi1xxI4y_ueJj1Q6FzKam0mmo91lMiiis/edit#gid=1329715153)

[2019-12-17 15:38] nicolevasilevsky commented on #922
@cmungall do you still want to consider making injury and disease disjoint? Or should we make the  definition of 'injury' more broad in Mondo (per @paolaroncaglia's suggestion)?

[2019-12-17 15:40] zoependlington commented on #922
Right now Open Targets have the therapeutic area of "injury, poisoning and other complication" which sits directly under disease. Making injury and disease disjoint would therefore be quite damaging to this and the way we have modelled our Open Targets profile.

[2019-12-17 16:29] nicolevasilevsky commented on #834
@cmungall could you do a SPARQL query to give us a list of all the Mondo classes that only have Orphanet as the source for the subClass Of assertion?

thank you!

[2019-12-17 18:53] cmungall commented on #922
we don't want to injure opentargets...

I think it would be good to plan some long term improvements to this area. And I also think we should try and not mix the two hierarchies where possible.

More generally: We should encode any axioms that OT/EBI needs in the ontology via axiom annotations. We can say an is-a is sourced from OT, and add something to curator guide that states these should not b

[2019-12-17 20:41] d0choa commented on #922
Just for the record, the logic behind having such term under disease is that it would make sense from a clinical perspective to group all diseases caused by external agents, similar to what Meddra group in their SOC Injury, poisoning and procedural complications.

We don’t want to become blockers of any future improvements in the ontology, so we’ll try to help on easing the changes if any strategy

[2019-12-17 21:31] cmungall opened #1046 "PXE and mode of inheritance"
we currently place https://omim.org/entry/177850 (AD form of PXE) as a subclass of the AR form (https://omim.org/entry/264800).

This isn't right, it seems verbose but I think the hierarchy should be

 * PXE
    * inherited PXE
        * AR
        * AD
    * acquired PXE

[2019-12-17 22:22] #1040 closed

[2019-12-17 23:00] #723 closed

[2019-12-19 21:11] nicolevasilevsky commented on #834
@ShahimEssaid
could you do a SPARQL query to give us a list of all the Mondo classes that only have Orphanet as the source for the subClassOf assertion.

Zoe and I are going to review the is_a overloading and create tickets as needed. She has a spreadsheet with over 6000 terms in EFO that come from Orphanet, and have multiple parents.

[2019-12-20 17:16] nicolevasilevsky commented on #1046
I agree that it does not make sense to have the AD form of the disease be a subclass of the AR form.

This is confusing, because the AR form OMIM:264800 is labeled 'inherited pseudoxanthoma elasticum' (MONDO_0009925). From my understanding, it sounds like we need a new subclass of MONDO_0009925 'inherited pseudoxanthoma elasticum' that is equivalent to OMIM:264800 that is the AR form, with the hie

[2019-12-20 19:44] nicolevasilevsky commented on #986
FYI @paolaroncaglia and @zoependlington

[2019-12-20 19:45] nicolevasilevsky commented on #811
@jmcglaughon Sounds like there is a case for keeping this term. Is that okay with you?

[2019-12-20 20:30] nicolevasilevsky commented on #428
thanks for the feedback @pnrobinson and @annieolry

I renamed MONDO_0001083 'Fanconi syndrome' and removed the comment on MONDO_0007600 'primary Fanconi syndrome'  because it sounds like we don't want to obsolete that term.

[2019-12-20 20:34] nicolevasilevsky commented on #427
@pnrobinson MONDO_0000156 trigonocephaly has the superclass: 'disease has major feature' some Trigonocephaly

@annie thanks for your feedback, we'll keep the term. I removed the comment that mentioned considering merging with parent.

[2019-12-20 21:37] cmungall commented on #1046
the generic form exists, it just has an awkward name.

This is current:

 * **PXE** MONDO:0024308
    * inherited PXE (MONDO_0009925) _-this is the AR form_
        * AD (MONDO_0008333)
    * acquired PXE (MONDO_0016441)

I think it should be:

* **PXE** MONDO:0024308
    * inherited PXE (MONDO_NEW)
        * AD (MONDO_0008333)
        * AR (MONDO_0009925) **rename this to be explicitly AR**
    *

[2019-12-20 21:46] GullyBurns opened #1052 "Is 'KAT6A Syndrome' a synonym for 'autosomal dominant intellectual disability-craniofacial anomalies-cardiac defects syndrome' (MONDO:0014558)"
**Mondo term (ID and Label)**
'autosomal dominant intellectual disability-craniofacial anomalies-cardiac defects syndrome' (MONDO:0014558)

**Synonym to be added**
KAT6A Syndrome

**Synonym subtype: ie, broad/exact/narrow/related**
exact (?)

Seems to be good correspondence between phenotypes and exact match with underlying genes.

References:
* https://rarediseases.org/rare-diseases/kat6a-syndrom

[2019-12-20 22:17] GullyBurns opened #1054 "Is 'TANGO2 deficiency' actually 'metabolic encephalomyopathic crises, recurrent, with rhabdomyolysis, cardiac arrhythmias, and neurodegeneration' (MONDO:0014812)"
**Mondo term (ID and Label)**
metabolic encephalomyopathic crises, recurrent, with rhabdomyolysis, cardiac arrhythmias, and neurodegeneration (MONDO:0014812)

**Synonym to be added**
1. Transport And Golgi Organization protein 2 (TANGO2) deficiency
2. TANGO2 deficiency
(https://www.ncbi.nlm.nih.gov/pubmed/31339582)

Is this also the same as this?
3. tango2-related-metabolic-encephalopathy-and-arrh

[2019-12-20 22:18] nicolevasilevsky commented on #1046
thanks for the clarification!

[2019-12-20 23:16] nicolevasilevsky commented on #423
Yeah, I am not sure what this was meant to be merged with (when that comment was written). I'll rename to 'Indolent Plasma Cell Myeloma' (the NCIt preferred name) and remove that comment.

[2019-12-21 00:52] nicolevasilevsky commented on #710
OMIM moved this to JOHANSON-BLIZZARD SYNDROME; JBS MONDO_0009479.

I will merge it with this term.

We do have a class for 'exocrine pancreatic insufficiency': MONDO_0001684

[2019-12-22 22:50] maglott commented on #230
Can this be resolved by treating Essential thrombocythemia and Familial thrombocytosis as children of MONDO_0002249 ?
Seems to me the Familial thrombocytosis is equivalent to the implied familial nature of https://www.omim.org/phenotypicSeries/PS187950, and that the specifics of the familal forms should be indented under Familial thrombocytosis rather than being siblings.

[2019-12-24 12:19] Antonialock opened #1058 "MONDO:0012231"
**Mondo term (ID Label)**
MONDO:0012231 Charcot-Marie-Tooth disease type 2A2

**Bug/Typo/Error description**
currently
Heritability:  Autosomal dominant inheritance, Autosomal recessive inheritance

but from the xrefs and synonyms this looks like AD only. not AR

[2019-12-24 20:52] maglott opened #1059 "MONDO:0009133: has exact synonym that should be used for MONDO_0024542"
**Mondo term (ID Label)**
MONDO:0009133 and MONDO_0024542

**Bug/Typo/Error description**
        "hasExactSynonym" : [ "CAMRQ", "cerebellar ataxia-intellectual disability-dysequilibrium syndrome syndrome", "non-progressive cerebellar ataxia-intellectual disability syndrome", "CAMRQ syndrome", "dialysis dysequilibrium syndrome", "cerebellar ataxia, mental retardation and dysequlibrium syndrome", "

[2019-12-27 12:40] maglott opened #1060 "Cowden vs PTEN hamartoma tumor syndrome"
**Mondo term (ID and Label)**
MONDO_0016063/Cowden has an exact synonym of `PTEN hamartoma syndrome` yet it is_a PTEN hamartoma tumor syndrome, MONDO_0017623

**Suggested revision and reasons**
* I do not know clinical usage, but this representation is confusing.   Are these distinct entities or not?
The definition of MONDO_0017623 states Cowden is a subset.   Perhaps just remove `PTEN hamartoma s

[2019-12-30 15:57] maglott opened #1061 "[Revise subclass]"
**Mondo term (ID and Label)**
MONDO_0013981

**Suggested revision and reasons**
Add name familial myoclonus
Replace http://identifiers.org/omim/614937 with https://www.omim.org/phenotypicSeries/PS614937
Create nodes for https://www.omim.org/entry/618364 and  http://identifiers.org/omim/614937  under MONDO_0013981

[2020-01-01 14:23] maglott opened #1062 "febrile seizures 8 vs ECA2/epilepsy, childhood absence, susceptibility to, 2/MONDO_001189"
OMIM deprecated https://www.omim.org/entry/611277 and used the name it had had, namely FEBRILE SEIZURES, FAMILIAL, 8, to rename https://www.omim.org/entry/607681, which had been name EPILEPSY, CHILDHOOD ABSENCE, SUSCEPTIBILITY TO, 2, INCLUDED; ECA2.

EPILEPSY, CHILDHOOD ABSENCE, SUSCEPTIBILITY TO, 2, INCLUDED; ECA2 is not reported as an alternate name for 697681; it is reported as included, which

[2020-01-02 13:24] maglott opened #1063 "[Revise subclass] MONDO_0012455 /Kleefstra syndrome"
**Mondo term (ID and Label)**
MONDO_0012455 /Kleefstra syndrome

**Suggested revision and reasons**
This currently has 4 children.  OMIM distinguishes 2 types,
* Kleefstra syndrome 1, because of the loss of function of EHMT1 whether by deletion or point mutation, and
Kleefstra syndrome 2, because of loss of function of KMT2C. whether by deletion or point mutation

Thus, if it necessary to retain

[2020-01-02 18:08] nicolevasilevsky opened #1064 "term description correction: Mycobacterium abscessus abscessus infection"
I think for this term we want to just have this listed as Mycobacterium abscessus infection, rather than having abscesses listed twice.

See: https://github.com/orgs/monarch-initiative/teams/mondo-collaborators/discussions/2

[2020-01-02 18:59] nicolevasilevsky commented on #1054
@GARDinfocenter, @ahamosh, @cmungall: do any of you have an opinion if MONDO:0014812 'metabolic encephalomyopathic crises, recurrent, with rhabdomyolysis, cardiac arrhythmias, and neurodegeneration' is the same as the GARD term: tango2-related-metabolic-encephalopathy-and-arrhythmias
(https://rarediseases.info.nih.gov/diseases/13423/tango2-related-metabolic-encephalopathy-and-arrhythmias)

These s

[2020-01-02 19:04] nicolevasilevsky commented on #1042
@cmungall looks like some new terms were added to OMIM. Should I manually add these to Mondo, or is there a way for you to programmatically import them?

[2020-01-02 22:34] nicolevasilevsky commented on #1015
@zoependlington I added the superclass 'inherited genetic disease' (which is the term that replaced 'genetic disorder' but this caused unsatisfiable classes in the ontology, so I removed it.

Because the term is labeled 'inherited or acquired', I don't think it can be a child of 'inherited genetic disease'.

[2020-01-03 00:42] nicolevasilevsky commented on #434
It looks like Orphanet is using familial ovarian cancer as a grouping class - it says "This term does not characterize a disease but a group of diseases. To learn about the diseases included under this term, you can consult the classifications."

The children are:
MONDO_0003582 'hereditary breast ovarian cancer syndrome'
MONDO_0016249 'hereditary site-specific ovarian cancer syndrome'

I don't thi

[2020-01-03 00:55] nicolevasilevsky commented on #1063
@maglott
Is this correct?

![image](https://user-images.githubusercontent.com/6722114/71701807-b9884200-2d80-11ea-9e24-a491f72f1510.png)

[2020-01-03 01:13] nicolevasilevsky commented on #1062
Summarizing below, for my own benefit:

MONDO_0012647 `'generalized epilepsy with febrile seizures plus, type 3'` was deprecated in OMIM and it was merged with MONDO_0011891 `'epilepsy, childhood absence, susceptibility to, 2'`.

MONDO_0011891 `'epilepsy, childhood absence, susceptibility to, 2'` was renamed to FEBRILE SEIZURES, FAMILIAL, 8; FEB8 in OMIM.

@cmungall should we follow OMIM? If yes,

[2020-01-03 01:20] ahamosh commented on #1054
These are the same.  I can't tell you how much I wish that people would stop putting gene symbols in disease names....

[2020-01-03 01:25] nicolevasilevsky commented on #1054
Thanks @ahamosh!

[2020-01-03 02:07] mellybelly commented on #1054
@ahamosh me too!

[2020-01-03 06:37] GullyBurns commented on #1054
Thank you for your prompt action on this.

[2020-01-03 12:02] maglott commented on #1063
Looks better.  Still not certain what to do about Kleefstra syndrome due to point mutation.  Point mutations contribute to Kleefstra syndrome 1, too. It is critical medically to name a disorder based on the type of variant.  Is there any objection to making that term obsolete?

[2020-01-03 16:51] nicolevasilevsky commented on #1063
I have no objections. Our new policy is to send an email to the user community regarding any candidates for obsoletion, so I will do them and give folks a couple weeks to respond, then I will obsolete it if there are no objections.

[2020-01-03 17:49] nicolevasilevsky commented on #970
done

[2020-01-03 17:49] #970 closed

[2020-01-03 18:33] nicolevasilevsky commented on #1052
Hi @GullyBurns I am not sure if these are the same. @ahamosh, @annieolry, @ana-rath-orphanet - do you have any thoughts?

[2020-01-03 18:37] nicolevasilevsky commented on #1058
Hi @Antonialock, where do you see the description of the heritability in the Mondo ontology? I don't see this disease described as AR in the ontology.
Thanks!

[2020-01-03 18:59] nicolevasilevsky commented on #1060
@maglott I don't believe we currently have a check to prevent a term having the same synonyms as exact and related. @cmungall could we add a check for this?

I addressed this in this term - I made the related synonym (multiple harmatoma syndrome) an exact synonym (moved the dbxref for DOID:6457 to the exact synonym annotation)

[2020-01-03 19:23] nicolevasilevsky commented on #1063
cc @annieolry and @ana-rath-orphanet

[2020-01-03 19:32] GullyBurns commented on #1052
The reason for the submission is largely based on etiology (mutations of the KAT6A gene).

Also, the OMIM entry for 'MRD32' (https://www.omim.org/entry/616268) cites the same underlying primary research articles as the NORD entry for 'KAT6A Syndrome' (https://rarediseases.org/rare-diseases/kat6a-syndrome/). In particular, Arboleda et al. 2015 ( https://www.ncbi.nlm.nih.gov/pubmed/25728775) and Tha

[2020-01-03 20:07] ErinRiggs commented on #1063
Hello - if it helps, both the ClinGen ID/Autism Gene Curation Expert Panel and the Dosage Sensitivity curation team have evaluated EHMT1 for Kleefstra syndrome.  ID/Autism used the parent term "Kleefstra syndrome" (and specifically did not choose the terms that indicated variant type).  While Dosage Sensitivity currently uses OMIM terms, I can say with certainty that when we switch to MONDO, we wi

[2020-01-03 22:49] nicolevasilevsky commented on #1052
Sounds good!

We don't have a formal process for making these kind of decisions, but usually try to get any advice from medical experts in this case. Being that I am not a medical expert, I though we could see if anyone else had any thoughts, but it sounds like KAT6A Syndrome  is a proper synonym, so I'll go ahead and add it and create a PR. (Others will still have time to weigh in while we wait f

[2020-01-03 22:55] nicolevasilevsky commented on #424
from NCIt:

A primary CNS melanoma may arise from either the meninges or other anatomical structures in the CNS (e.g. primary cerebral melanoma); therefore the terms ‘primary CNS melanoma’ and ‘meningeal melanoma’ are not synonyms. Additionally, primary meningeal melanoma (typically a solitary lesion) is not synonymous with meningeal melanomatosis (a typically multifocal, metastatic lesion).

[2020-01-04 00:04] GullyBurns opened #1083 "Typo in label: 'familial Alzheimber disease'"
**Mondo term (ID and Label):**
http://purl.obolibrary.org/obo/MONDO_0100087 - familial Alzheimber disease

**Suggested new label:**
familial Alzheimer disease

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
Looks like a typo

[2020-01-05 13:10] cmungall opened #1084 "NTR: Cannabinoid hyperemesis syndrome"
Def: a syndrome of cyclic vomiting associated with cannabis use
Source: https://www.ncbi.nlm.nih.gov/pubmed/28000146, https://en.wikipedia.org/wiki/Cannabinoid_hyperemesis_syndrome
Abbrev: CHS

From the ref above:

Fourteen diagnostic characteristics were identified, and the frequency of major characteristics was as follows: history of regular cannabis for any duration of time (100%), cyclic nause

[2020-01-05 13:21] cmungall opened #1085 "Add more metadata to MONDO:0010778 cyclic vomiting syndrome"
Currently this is quite a minimal entry

[code]

Not clear the is-a link is correct, we have it as it shadows https://omim.org/entry/500007 which states that CVS can be caused by mutations in MTTL1.

Here is a more recent study (not yet in omim)
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4287476/

Definition and sources can be obtained from
https://en.wikipedia.org/wiki/Cyclic_vomiting_syndrome

[2020-01-05 15:43] cmungall commented on #1060
2 distinct classes should never match based on exact or the label. robot report counts this as ERROR by default (note there is a separate ticket where you are working through all of these).

Although having the exact synonym is redundant, it's useful as we can annotate the synonym with metadata. While technically we *can* do this for label, most consuming software doesn't expect this, so we make a

[2020-01-05 16:07] cmungall commented on #1062
I agree with your plan, thanks!

[2020-01-05 16:18] maglott opened #1086 "MUSCULAR DYSTROPHY, LIMB-GIRDLE, TYPE 1B and Emery-Dreifuss muscular dystrophy 2, autosomal dominant"
MONDO_0021569 and MONDO_0008033

OMIM moved MUSCULAR DYSTROPHY, LIMB-GIRDLE, TYPE 1B into Emery-Dreifuss muscular dystrophy 2, autosomal dominant as a former name; both seem to be defined in MONDO as being autosomal dominant, resulting from LMNA mutation.

It there any distinction to be retained?

[2020-01-05 16:22] maglott commented on #1086
From OMIM's text:
Some cases of Emery-Dreifuss muscular dystrophy-2 were previously classified as a form of limb-girdle muscular dystrophy (type 1B; LGMD1B). LGMD1B was characterized as an autosomal dominant, slowly progressive limb-girdle muscular dystrophy with age-related atrioventricular cardiac conduction disturbances and the absence of early contractures. Straub et al. (2018), on behalf of t

[2020-01-05 23:43] cmungall commented on #1015
I agree with @nicolevasilevsky.

See also #1046 and #1047

[2020-01-06 08:43] dancingline opened #1087 "MONDO:0007920 has a wrong xref"
**Mondo term (ID and Label):**
MONDO:0007920  Meige disease

**Xref that should be fixed (ID and label):**
MESH:D008538  Meige Syndrome

**Other comments:**
Meige disease is not a same disease as meige syndrome, which can be see in https://www.ncbi.nlm.nih.gov/mesh/?term=C562467.

[2020-01-06 10:57] Antonialock commented on #1058
Thanks Nicole. Please see the highlight in the screenshot below. I'm not sure what the 'heritability' is inferred from

<img width="1148" alt="Screenshot 2020-01-06 at 10 55 18" src="https://user-images.githubusercontent.com/12727506/71814021-22b6d080-3073-11ea-8524-03e356e2fc78.png">

[2020-01-06 13:11] GARDInfoCenter commented on #1054
@nicolevasilevsky GARD has listed the two terms as synonyms since 3/5/2018. The change was prompted by research conducted by GARD due to an inquiry from a patient organization.

[2020-01-06 14:48] maglott opened #1088 "[Obsolete]neurodevelopmental disorder with brain, liver, and lung abnormalities"
**Mondo term (ID and Label)**
MONDO_0060722
neurodevelopmental disorder with brain, liver, and lung abnormalities

**Reason for deprecation**
* OMIM deprecated  https://www.omim.org/entry/618007
* Could find no citations specific to the concept
* NCBI is finally removing the record, too

**Suggested replacement or term to consider**

[2020-01-06 15:50] maglott opened #1089 "COL4A1 or COL4A2-related cerebral small vessel disease"
**Mondo term (ID and Label)**
COL4A1 or COL4A2-related cerebral small vessel disease, MONDO_0018788

**Suggested revision and reasons**
OMIM_175780  (currently the XRef for porencephaly 1) has been renamed to brain small vessel disease-1 with or without ocular anomalies (BSVD1)

1. do we need a node named by the genes that contribute to cerebral small vessel disease?  OMIM now lists 3: https://www

[2020-01-06 19:22] nicolevasilevsky commented on #1084
@cmungall I created tickets in Maxo and HPO.

Should 'electrolyte imbalance' and 'acute renal injury' be added as d2p associations as well?

[2020-01-06 19:57] nicolevasilevsky commented on #1086
We should obsolete MONDO_0008033 'autosomal dominant limb-girdle muscular dystrophy type 1B' and replace with MONDO_0021569 'Emery-Dreifuss muscular dystrophy 2, autosomal dominant'

[2020-01-06 19:59] nicolevasilevsky commented on #1086
FYI @gardinfocenter, @ana-rath-orphanet, @annieolry

[2020-01-06 22:19] nicolevasilevsky commented on #1087
Thanks for catching that, @dancingline. It seems that Meige syndrome did exist in Mondo but was (incorrectly) merged with Meige disease. I'll un-obsolete Meige syndrome.

[2020-01-07 00:13] nicolevasilevsky commented on #1058
Thanks @Antonialock. This isn't coming from Mondo, I'll figure out which tracker to add this to.

[2020-01-07 00:17] nicolevasilevsky commented on #1058
I reported this on the HPO annotation tracker, I am going to close this here.

[2020-01-07 00:17] #1058 closed

[2020-01-07 01:48] nicolevasilevsky commented on #1089
action items:
- [ ] rename MONDO_0008289 'porencephaly 1' to brain small vessel disease 1 with or without ocular anomalies
- [ ]  add synonyms to MONDO_0008289 'porencephaly 1' :
- BSVD1
- hemiplegia, infantile, with porencephaly
- brain small vessel disease with hemorrhage
- retinal arteriolar tortuosity, infantile hemiparesis, and leukoencephalopathy, autosomal dominant
- brain small vessel dise

[2020-01-07 04:46] nicolevasilevsky commented on #811
@jmcglaughon following up, now that we are back from the holidays. Thanks!

[2020-01-07 04:48] nicolevasilevsky commented on #901
@courtneythaxton Sorry for the delay in addressing this ticket. I think this issue has been resolved, could you please reopen if action is still needed? Thanks!

[2020-01-07 04:48] #901 closed

[2020-01-07 04:50] nicolevasilevsky commented on #894
Has this been resolved? Can we close this ticket?

[2020-01-07 04:52] nicolevasilevsky commented on #884
I assume this is a typo, I fixed this on a branch and created a PR

[2020-01-07 05:13] nicolevasilevsky commented on #834
@ShahimEssaid I think we talked about this SPARQL query before the holidays but I can't remember where it stands now. Would you be able to do this soon? Thanks!

[2020-01-07 13:36] maglott opened #1098 "Should hypertrichosis, hyperkeratosis, mental retardation, and distinctive facial features be retained?"
Live in GARD and MONDO: MONDO_0012372
https://rarediseases.info.nih.gov/diseases/9945/index

Moved by OMIM into Coffin-Siris 1 (https://www.omim.org/entry/135900, https://www.omim.org/entry/609943)

[2020-01-07 17:54] nicolevasilevsky commented on #1098
I think if OMIM merged these terms, we should consider doing so as well.

The proposal is to:
obsolete MONDO_0012372 'hypertrichosis, hyperkeratosis, mental retardation, and distinctive facial features'
and replace it with MONDO_0007617 'Coffin-Siris syndrome 1'

cc @gardinfocenter

[2020-01-07 18:00] nicolevasilevsky commented on #1060
done

[2020-01-08 19:59] nicolevasilevsky commented on #724
Revisiting this - not sure how to best proceed. I will go ahead do a PR to relabel MONDO_0009796, and we will have the xref to GARD and link out to GARD, even though the labels won't match.

@cmungall if you have any objections, please let me know.

[2020-01-08 20:08] nicolevasilevsky commented on #141
note to self, to do:

- [ ] obsolet Anophthalmia microcephaly hypogonadism
- [ ] obsolete Antihypertensive drugs antenatal exposure syndrome
- [ ]  add def to Aortic arches defect, see comments above for def
- [ ] obsolete Aplasia cutis congenita recessive, replaced by existing term "Aplasia cutis congenita"
- [ ] obsolete Arthritis short stature deafness

cite this ticket as a reason for obsolesc

[2020-01-09 03:16] dancingline opened #1101 "a wrong "basic PropertyValue" in MONDO:0015797"
**Mondo term (ID Label)**
MONDO:0015797  UV-sensitive syndrome

**Bug/Typo/Error description**
"basicPropertyValues" of this term hava a value http://identifiers.org/mesh/563466, but 563466 is not a valid mesh entry and from "xrefs" we can guess it may be C563466. If the "basicPropertyValues" are auto-generated, I think there may be something wrong with the program?

[2020-01-09 04:42] nicolevasilevsky commented on #620
@lefailla apologies, this fell off my radar! Are these new terms still needed in Mondo? I can work on this now.

[2020-01-09 05:21] nicolevasilevsky opened #1103 "fix typo in MONDO_0014761"
**Mondo term (ID Label)**
'hereditary pediatric BehC'et-like disease'

**Bug/Typo/Error description**
Protege does not display the label correctly

[2020-01-10 06:32] nicolevasilevsky commented on #1101
@paolaroncaglia and @zoependlington I see this in OLS, but not in the ontology file. Do you know how these values are generated?

https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0015797

[2020-01-10 09:46] zoependlington commented on #1101
OLS pulls in mondo.obo. I double checked the term in the obo file and it seems like this property value is in there `(property_value: closeMatch http://identifiers.org/mesh/563466)`:
[code]

[2020-01-10 10:09] dancingline commented on #1101
I have searched the json file with regular expression patterns 'mesh/\d' and 'mesh:\d', and only this case is found. Now it seems only a small mistake.

[2020-01-10 16:16] nicolevasilevsky commented on #1101
Thanks @zoependlington and @dancingline.

I am reassigning Chris (@cmungall), I am not sure how to address this issue.

[2020-01-10 23:38] nicolevasilevsky opened #1105 "ORDO terms to be added to MONDO"
Sandhya Xirasagar reported to @pnrobinson  that these ORDO terms are not mapped in Mondo:

- [x]   "ORDO:118053" protein S (alpha)
- [x]   "ORDO:119879" signal transducer and activator of transcription 1
- [ ]   "ORDO:120549" Wilms tumor 1
- [ ]   "ORDO:121984" glucose-6-phosphate dehydrogenase
- [x]   "ORDO:122576" interferon gamma receptor 1
- [ ]   "ORDO:123411" hemochromatosis
- [x]   "ORDO:13

[2020-01-12 03:03] miajsullivan commented on #1018
When is the January release?  I assume the MONDO ID is not active until the release, correct?

[2020-01-12 17:50] nicolevasilevsky commented on #1018
@cmungall will you be doing a Mondo release soon?

[2020-01-13 15:24] mayherpatel opened #1106 "[NTR] SELENON-related myopathy"
**Preferred term label:**
SELENON-related myopathy

**Synonyms**
SEPN1-related myopathy

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Myopathy caused by pathogenic variants in SELENON that is congenital or present early in childhood with neonatal hypotonia, delayed motor development, axial muscle weakness, scoliosis, and significant respiratory involveme

[2020-01-13 16:21] courtneythaxton commented on #811
Hi @nicolevasilevsky , Jen McGlaughon has moved on from ClinGen. I will take this question back to the ClinGen Peroxisomal Deficiency GCEP for consideration.

[2020-01-13 16:29] courtneythaxton commented on #811
I just reviewed this with the group. At this time in ClinGen, there are only 3 published case reports with individuals asserted with a variation in FAR1. Thus, the gene-disease classification is preliminary "Limited". Given this clinical validity classification, it seems that there is not enough data on individuals to suggest that the FAR1 variation is really causing the phenotypes asserted for th

[2020-01-13 21:43] #1103 closed

[2020-01-13 21:46] #724 closed

[2020-01-13 23:50] #1087 closed

[2020-01-13 23:51] #801 closed

[2020-01-13 23:52] #884 closed

[2020-01-13 23:54] #1062 closed

[2020-01-13 23:55] #141 closed

[2020-01-13 23:57] #10 closed

[2020-01-13 23:57] #1083 closed

[2020-01-14 00:02] #424 closed

[2020-01-14 00:29] #1052 closed

[2020-01-14 00:32] #1054 closed

[2020-01-14 01:03] nicolevasilevsky commented on #499
see related ticket:
https://github.com/obophenotype/human-phenotype-ontology/issues/3889

[2020-01-14 01:04] nicolevasilevsky commented on #499
we should consider moving the fracture terms to HPO

cc @cmungall and @pnrobinson

[2020-01-14 10:06] paolaroncaglia commented on #525
Note for self, @zoependlington and @nicolevasilevsky : at this stage, EFO will not suggest specific edits in the area of Mondo 'eye disease'. I will however keep the 'EFO' tag in this ticket as the general discussion is of interest to us. Of course, feel free to close if no action item is required on the Mondo side. Thanks!

[2020-01-14 16:19] cmungall commented on #653
sorry, still have not had time for this

[2020-01-14 19:00] #1060 closed

[2020-01-14 19:08] #1059 closed

[2020-01-14 19:20] #1063 closed

[2020-01-14 19:20] #434 closed

[2020-01-14 19:28] #675 closed

[2020-01-14 19:32] #809 closed

[2020-01-15 01:38] #1015 closed

[2020-01-15 01:44] #1029 closed

[2020-01-15 01:49] saramsey opened #1107 "Align with ICD 11"
Requesting support for ICD11 codes in MONDO. Thank you, @cmungall !

[2020-01-15 01:56] nicolevasilevsky commented on #1107
I am not clear what is needed here, but if this makes sense to @cmungall, then it's all good. :)

[2020-01-15 02:04] saramsey commented on #1107
Sorry for the (very terse) request, I will provide a bit more context. Our specific use-case is programmatically mapping an ICD-11 code for a rare/mendelian disease to an OMIM identifier. @cmungall indicated here
https://twitter.com/chrismungall/status/1217254240420159488
that it may be possible at some point in the future, to do this via MONDO as an intermediary. He requested that I put a feature

[2020-01-15 02:06] nicolevasilevsky commented on #1107
Yes, thanks! @cmungall let me know if there are any action items for me.

[2020-01-15 03:05] mellybelly commented on #1107
Our hope is that in the future mondo will be a modular contribution to icd11, so it may end up being the other way around. But this is different than icd9/10 of course.

[2020-01-15 16:57] nicolevasilevsky commented on #1031
Do we want CC-BY 3 as per obofoundry metadata (https://github.com/OBOFoundry/OBOFoundry.github.io/blob/master/ontology/mondo.md) or CC-BY 4 as per ontology metadata?

Also, the fact that the logical subsets are cc-0, how should this be reflected in the ontology metadata?

[2020-01-15 16:59] nicolevasilevsky commented on #1107
From @saramsey:
One example:  how would one programmatically map ICD-11 code "4A44.5 Mucocutaneous lymph node syndrome" to an OMIM ID?

[2020-01-15 16:59] nicolevasilevsky commented on #1107
@cmungall noted there is a mapping from snomed to ICD11:
https://confluence.ihtsdotools.org/download/attachments/61145760/ICD11_4A.xlsx?api=v2

[2020-01-15 17:24] cmungall commented on #1107
We map to ICD10 and there are ICD10 to 11 mappings, but it will be more complete to map directly since presumably ICD11 will be more complete than ICD10.

Some things we need to determine

 - canonical source for ICD11
 - how fluid it is?
 - how is it being coordinated with ordo, omim, etc?

[2020-01-15 17:30] mellybelly commented on #1107
@hsolbrig @cgchute would know better RE any coordination with OMIM or ORDO, but my understanding was that we would ideally be able to include a Mondo module with attribution/provenance.

[2020-01-15 18:29] nicolevasilevsky opened #1108 "need a QC check for proxy merges"
Proxy merge is defined as:
M equiv X1, M equiv X2 ==> X1 equiv X2

I believe in some cases, we may want to have proxy merges, like if OMIM has deprecated a class, then the two Mondo classes should be merged and xref the two OMIM classes (MONDO:equivalentTo).

In some cases, this may be unintentional, when obsoleting a class (for example: https://github.com/monarch-initiative/mondo/pull/1066/files)

[2020-01-15 19:41] nicolevasilevsky commented on #1019
@ana-rath-orphanet and @annieolry
See above, OMIM merged these two terms. Does Orphanet want to consider retiring
ORPHA:83629 Leukoencephalopathy-spondylometaphyseal dysplasia syndrome
and merged it with
ORPHA:168448 Spondyloepimetaphyseal dysplasia, Bieganski type

[2020-01-15 19:58] cgchute commented on #1107
Melissa may be right, it might start as the other way around.  Robert Jakob (Dr. ICD at WHO) indicated last year an openness to reference MONDO with attribution.  Chris Mungall made some suggestions about exploring the anatomy hierarchy of ICD11 with OBO resources to demonstrate utility.  I think I sent an anatomy download, but I suspect we all got overtaken by other events.  Is it time to resurre

[2020-01-15 23:01] nicolevasilevsky commented on #525
@pnrobinson and @cmungall are there any action items on this ticket? would it be okay to close?

[2020-01-15 23:16] nicolevasilevsky commented on #811
Ok - to clarify @courtneythaxton, you would like MONDO_0014510 to be relabeled to 'Fatty acyl-CoA reductase 1 disorder or fatty acyl-CoA reductase 1 deficiency'?

Thanks!

[2020-01-15 23:18] nicolevasilevsky commented on #1105
most of these are genes.

We have MONDO_0008679 'Wilms tumor type 1'

[2020-01-16 01:57] courtneythaxton commented on #811
Hi @nicolevasilevsky that is correct! Please do NOT obsolete. We are performing a curation on this FAR1 gene in the Aminoacidoapathy Gene Curation Expert Panel.

[2020-01-16 06:46] annieolry commented on #1019
I passed on to the team here. We will let you know asap.

[2020-01-16 06:52] annieolry commented on #811
Hi @courtneythaxton, thanks for your comment, it sounds perfectly reasonable! Orphanet will also change the name to "Fatty acyl-CoA reductase 1 disorder".

[2020-01-16 09:36] AntoineMarmignon commented on #1019
Hi, I am Antoine from Orphanet, in charge of genetic info and OMIM alignement
If I understand correctly we already do the opposite, obsolete "Spondyloepimetaphyseal dysplasia, Bieganski type" and merge it with "Leukoencephalopathy-spondylometaphyseal dysplasia syndrome"

The Orpha168448 has been deprecated to Orpha83629
On the website you can see :
"This disease has been moved to Leukoencephalopat

[2020-01-16 15:18] courtneythaxton commented on #811
@nicolevasilevsky

I wanted to update can we call it simply "fatty acyl-CoA reductase 1 deficiency." the Fatty acyl-CoA reductase 1 disorder could be considered a synonym.

Thanks!
@courtneythaxton

[2020-01-16 15:25] RedRiver1816 opened #1112 "Rename EMARDD Syndrome to MEGF10-Related Myopathy"
**Mondo term (ID and Label):** Early-onset myopathy-areflexia-respiratory distress-dysphagia syndrome (MONDO:0013731)

**Suggested new label:** MEGF10-Related Myopathy, MEGF10 Myopathy

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)** The ClinGen Congenital Myopathy GCEP reviewed this classification and determined this naming schema does not reflect the phenot

[2020-01-16 16:29] nicolevasilevsky commented on #811
sounds good, done

[2020-01-16 18:14] zoependlington commented on #922
From the EFO side, we can produce a list of axioms required for EFO/OT so any plan to change them in Mondo will be flagged for us.

[2020-01-18 15:45] maglott opened #1113 "representation of disorders characteristic of an ethnic group"
Is there some way to capture the set of diseases that have a higher frequency in certain ethnic groups?
The Genetic Testing Registry created a term 'Ashkenazi Jewish disorders' ( https://www.ncbi.nlm.nih.gov/medgen/CN118946), to support the genetic testers that establish panels for the Askhenazim.  But that has not worked for tests for Sephardim, and creating such nodes may not be the best solutio

[2020-01-18 16:29] mellybelly commented on #1113
This is a very interesting question. I would suggest an attribute on the disease that could be queried for those with high/low frequency to get the set of diseases.  Frequency could be annotated for example with the ethnicity/demographics from what seems to be becoming quite a comprehensive set in NCIt.

[2020-01-21 14:32] miajsullivan commented on #1018
Sorry to be bothersome, I am waiting for this MONDO ID to be published in order to curate the gene for a ClinGen panel.  Is there any estimate on when the January release will happen?  Thank you in advance.

[2020-01-21 15:05] maglott opened #1114 "Fetal akinesia deformation sequence vs. Pena-Shokeir syndrome type 1"
Is Fetal akinesia deformation sequence (MONDO_0008824) equivalent to Pena-Shokeir syndrome type 1 or is
Pena-Shokeir syndrome type 1 equivalent to fetal akinesia deformation sequence 1?

See also:
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=994
https://www.omim.org/entry/208150
https://rarediseases.info.nih.gov/diseases/9634/index
https://www.omim.org/phenotypicSeries/PS208150

@

[2020-01-21 21:37] nicolevasilevsky commented on #1018
Sorry for the delay @miajsullivan, I believe the next release will be at the end of the month.

[2020-01-24 17:13] paolaroncaglia opened #1115 "Remove synonym "lower grade glioma" from MONDO_0005499 brain glioma"
(This is a request to remove, rather than add, a synonym, but there isn't a specific issue template.)

Stemming from https://github.com/EBISPOT/efo/issues/685

**MONDO_0005499 brain glioma**

Has (exact?) synonym "lower grade glioma", coming from DOID. But MONDO_0021637 'low grade glioma' already exists and the two are not the same, so you may want to remove the synonym.

Also, I noticed that MOND

[2020-01-25 22:05] maglott opened #1116 "question: spinocerebellar ataxia and cerebellar ataxia"
MONDO_0015244 defines autosomal recessive cerebellar ataxia as a disorder involving both the cerebellum and the spinal cord "..characterized by degeneration or abnormal development of the cerebellum and spinal cord..."

Looking for guidance as to whether "Autosomal recessive cerebellar ataxias (ARCA)" as described by Orphanet are equivalent to SCAR (Autosomal recessive spinocerebellar ataxia) as d

[2020-01-27 18:45] jennygoldstein opened #1117 "Request to rename MONDO:0005775"
Requesting consideration of changing the description for MONDO:0005775 - "glucosephosphate dehydrogenase deficiency" to "glucose-6-phosphate dehydrogenase deficiency" or "G6PD deficiency" which is how this condition is best known. The definition and synonyms for this entry clearly refer to G6PD deficiency/ glucose-6-phosphate dehydrogenase deficiency. Is there a reason why the description is "gluc

[2020-01-28 01:48] #811 closed

[2020-01-28 01:51] #1019 closed

[2020-01-28 01:52] #1061 closed

[2020-01-28 01:53] #431 closed

[2020-01-28 01:54] #710 closed

[2020-01-28 01:55] #423 closed

[2020-01-28 01:59] #427 closed

[2020-01-28 02:00] #428 closed

[2020-01-28 02:00] #986 closed

[2020-01-28 02:01] #430 closed

[2020-01-28 02:02] #1032 closed

[2020-01-28 21:11] nicolevasilevsky commented on #1018
@miajsullivan
a question came up about this term - what is the relationship of this term to these four diseases in OMIM:

- Anemia, X-linked, with/without neutropenia and/or platelet abnormalities [OMIM:300835](https://omim.org/entry/300835), MONDO_0010444
- Leukemia, megakaryoblastic, with or without Down syndrome, somatic [OMIM:190685](https://omim.org/entry/190685), MONDO_0008608
- Thrombocytop

[2020-01-28 21:17] miajsullivan commented on #1018
This new term would be the superclass of the following three diseases:

  *   Anemia, X-linked, with/without neutropenia and/or platelet abnormalities OMIM:300835<https://omim.org/entry/300835>, MONDO_0010444
  *   Thrombocytopenia with beta-thalassemia, X-linked OMIM:314050<https://omim.org/entry/314050>, MONDO_0010745
  *   Thrombocytopenia, X-linked, with or without dyserythropoietic anemia OMI

[2020-01-28 21:24] nicolevasilevsky commented on #1018
Thanks for your quick response! I'll implement this change

[2020-01-28 21:44] nicolevasilevsky opened #1118 "add a SOP to manual for adding new gene-centric diseases, how we relate these to omim"
Need to add add a SOP to the manual for adding new gene-centric diseases, how we relate these to omim

see https://github.com/monarch-initiative/mondo/pull/1037

[2020-01-28 23:14] nicolevasilevsky commented on #1019
@AntoineMarmignon - We went ahead and followed OMIM: they moved https://www.omim.org/entry/300660 into omim_300232.

[2020-01-29 02:08] nicolevasilevsky commented on #432
@ahamosh Orphanet merged these into two terms, but they are still separate terms in OMIM. Will OMIM consider merging these two terms?
Thanks!

[2020-01-29 14:36] maglott commented on #1118
Key questions:
* when is including a gene symbol in name of a disease justified ?
* are those gene reports valid only for germ-like changes (and not somatic) or all gene-phene terms.

[2020-02-03 21:13] courtneythaxton opened #1120 "[Revise text def] for MONDO:0011581 (arrhythmogenic cardiomyopathy with holly hair and keratoderma"
**Mondo term (ID and Label)** MONDO:0011581 (arrhythmogenic cardiomyopathy with woolly hair and keratoderma)

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**

Arrhythmogenic cardiomyopathy with woolly hair and keratoderma is often associated with the gene DSP, encoding desmoplakin. Desmoplakin is a member of the plakin family of

[2020-02-04 01:40] nicolevasilevsky commented on #1112
Thanks @RedRiver1816, I revised the label.

I added this text definition as well, does this look okay?

A congenital myopathy caused by mutations in the multiple epidermal growth factor-like domains 10 (MEGF10) gene, which causes early-onset myopathy characterized by severe weakness, scoliosis, joint contractures, areflexia, respiratory distress, and dysphagia, and a milder phenotype of minicore m

[2020-02-04 01:44] nicolevasilevsky commented on #1114
@maglott 'Pena-Shokeir syndrome type 1' is a synonym for 'Fetal akinesia deformation sequence' (MONDO_0008824)

Is 'fetal akinesia deformation sequence 1' a different disease from 'Fetal akinesia deformation sequence' (MONDO_0008824) ?

[2020-02-04 01:57] nicolevasilevsky commented on #1115
I see comments mentioning EFO on two classes:
'palatal neoplasm'
'mucoepidermoid tumor'

[2020-02-04 02:13] nicolevasilevsky commented on #1116
I think so

[2020-02-04 10:46] paolaroncaglia commented on #834
@nicolevasilevsky
@ShahimEssaid
Hi, @zoependlington and I met with Open Targets today and they asked if there are any updates on this please. Many thanks!

[2020-02-04 17:47] maglott commented on #1114
@nicolevasilevsky , I am asking for review by medical experts.  I see what is in MONDO.  My question arose from review of https://www.omim.org/phenotypicSeries/PS208150,  which I interpret as meaning the general term is distinct from type 1.  Those are the cases where I try to intepret whether the synonomy reported in https://www.omim.org/entry/208150 is misleanding because OMIM often retains gene

[2020-02-04 18:04] ahamosh commented on #1114
Hi All,
The general concept of Fetal Akinesia is equivalent to Pena-Shokeir and should be mapped to PS208150 (details in the entry 2018150).  Fetal Akinesia syndrome 1 is the same as Pena-Shokeir 1 and is entry 208150.   I am a bit concerned by the words deformation sequence because they imply an environmental cause rather than genetic etiology.  Happy to discuss further and apologies for the dela

[2020-02-04 19:15] #1115 closed

[2020-02-05 00:57] maglott commented on #1114
Thanks for the clarification, @ahamosh .

[2020-02-05 02:11] nicolevasilevsky commented on #1114
I added OMIM:PS208150 as an xref to Fetal akinesia deformation sequence (MONDO_0008824)

Is there any other action required?

Thanks!

[2020-02-05 03:43] ErinRiggs opened #1134 "Request to relabel MONDO:0010898"
**Mondo term (ID and Label):**MONDO:0010898 "familial temporal lobe epilepsy 1"

**Suggested new label:** Autosomal dominant epilepsy with auditory features

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
"Autosomal dominant epilepsy with auditory features" is currently a synonym of this term (though in abbreviated form only).  The ClinGen Epilepsy GCEP woul

[2020-02-05 09:16] ShahimEssaid commented on #834
@nicolevasilevsky to make sure I get this right, if there is a Mondo class A that has more than one parent, lets say B and C, should A be listed in the result if ALL the subclass axioms are only from Orphanet or if ANY of the subclass axioms are only from Orphanet?  In other words, if  A subclassof B only comes from Orphanet but A subclassof C comes from somewhere else with or without Orphanet, sh

[2020-02-05 09:30] ShahimEssaid commented on #834
Also, there are few subclassof axioms annotated with:
source="MONDO:Entailed"
source="MONDO:Redundant"

Would these axioms exclude the class since they aren't really Orphanet only?

About my earlier comment, this is an example of a Mondo class that has a "is_a" that is only coming from source="ORDO:*" but there is another "is_a" that is not only from ORDO.  Should this class be in the result or no

[2020-02-05 10:37] paolaroncaglia commented on #834
@ShahimEssaid
@nicolevasilevsky
Thanks Shahim for your feedback! Your example above highlights that, ultimately, we're interested in all cases where there is at least one "is_a" that is only coming from source="ORDO:*". ('azoospermia' is a correct parent, while 'male infertility due to globozoospermia' is likely incorrect and should be reptresented as a phenotype instead.) So your "ANY" case above

[2020-02-05 10:50] zoependlington commented on #834
Agreed with @paolaroncaglia, we'd be interested in the "ANY" case. So no objection from me. Thank you for getting back to us!

[2020-02-05 10:52] paolaroncaglia commented on #834
Addendum: I guess if the results are too numerous, we would then probably want to start working on the results subset corresponding to the "ALL" case above. The "ALL" case is the one we had in mind first, as a first step in fixing the issue; but ultimately, the "ANY" case will need to be examined too to carry out a thorough cleanup. Maybe we could re-assess the strategy when we have an idea of num

[2020-02-05 13:12] maglott commented on #1114
Pena-Shokeir syndrome type 1 needs to be removed as an exact synonym,
Likely nodes also have to be added for children  of https://www.omim.org/phenotypicSeries/PS208150

[2020-02-05 19:41] mayherpatel commented on #1106
Hi @NCIEVS, this is a request from the ClinGen Congenital Myopathies GCEP. Is there a timeline on when this will be modified?

[2020-02-05 19:43] nicolevasilevsky commented on #1106
Hi @mayherpatel I can work on this soon (probably today) but it wouldn't be available until the February release, which should be in early Feb

[2020-02-05 19:43] mayherpatel commented on #1106
That sounds good. Thank you!

[2020-02-05 22:03] nicolevasilevsky commented on #1116
@maglott I added PS213200 as a xref for MONDO_0015244.

Is there any other action required?

[2020-02-05 22:29] nicolevasilevsky commented on #1114
@ahamosh FETAL AKINESIA DEFORMATION SEQUENCE; FADS is an alternative title for [OMIM:208150 FETAL AKINESIA DEFORMATION SEQUENCE 1; FADS1](https://www.omim.org/entry/208150). We have these as equivalent in Mondo too. Is this incorrect?

[2020-02-05 22:40] ahamosh commented on #1114
In principle, I would use the PS# for the generic and then the MIM number alone for the 1 of a series, the members of a series should all be children of the PS number.  If this isn't clear, I would love to talk to you about it, because it is an important distinction. My cell phone is 410-961-0065.

[2020-02-05 22:41] nicolevasilevsky commented on #1114
That makes sense to me Ada, thank you! I'll work on this. :)

[2020-02-05 22:55] courtneythaxton commented on #1018
@nicolevasilevsky Do you have an estimate of the release for this information?

[2020-02-05 22:58] nicolevasilevsky commented on #1018
This should be available in the February release

[2020-02-05 22:59] courtneythaxton commented on #1018
@nicolevasilevsky Thanks! will that be at the end of the month, or in the middle? I have noticed you sometimes have fortnight (every two week) releases.

[2020-02-05 23:00] nicolevasilevsky commented on #1018
@cmungall usually releases at the beginning of each month

[2020-02-05 23:01] courtneythaxton commented on #1018
@nicolevasilevsky Again, thank you for this information and for your help!

[2020-02-05 23:33] nicolevasilevsky commented on #1018
I just released it IS february. So this will probably be available in the March release (I was thinking it was still January!)

[2020-02-06 02:19] ErinRiggs opened #1142 "Revise definition for ichthyosis follicularis-alopecia-photophobia syndrome[Revise text def]"
**Mondo term (ID and Label)**
MONDO:0010624 ichthyosis follicularis-alopecia-photophobia syndrome

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
Ichthyosis follicularis - alopecia - photophobia (IFAP) is a rare genetic disorder initially characterized by the triad of ichthyosis follicularis, alopecia, and photophobia from birth

[2020-02-06 11:44] paolaroncaglia opened #1143 "[Revise subclass] MONDO:0003778 primary immunodeficiency disease"
**MONDO:0003778 primary immunodeficiency disease**
Is defined as "A disorder in which the immune system is unable to mount an adequate immune response."
but has subclass 'immune deficiency disease' (undefined).
Shouldn't it be the other way around? See e.g. https://en.wikipedia.org/wiki/Immunodeficiency#Primary_or_secondary
Also, MONDO:0003778 'primary immunodeficiency disease' has an editor's not

[2020-02-06 15:04] RedRiver1816 commented on #1112
@nicolevasilevsky That all looks fine! Thanks for your assistance.

[2020-02-06 17:22] nicolevasilevsky commented on #834
@paolaroncaglia and @zoependlington
Shahim put together this list of Mondo terms for us. There are over 900 terms. I'm not sure what the best approach for this is? We could discuss further on our next call.

[OrdoOrphanet6.txt](https://github.com/monarch-initiative/mondo/files/4166699/OrdoOrphanet6.txt)

[2020-02-06 21:27] ErinRiggs opened #1144 "Request to Relabel MONDO:0010624"
**Mondo term (ID and Label):**
MONDO:0010624 ichthyosis follicularis-alopecia-photophobia syndrome
**Suggested new label:**
IFAP/Breshek syndrome
**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
Related to the request to update the definition (Ticket #1142 ), the ClinGen ID/Autism GCEP would like to request a relabel of this term to more accurately reflect the

[2020-02-07 08:55] paolaroncaglia commented on #834
@nicolevasilevsky
Thanks! I had a quick look at the first 2-3 terms in Shahim's list and, yes, I believe they need work. The best strategy probably needs discussion as it's going to be a significant amount of work. Zoë is away until Tuesday, so I'll catch up with her next week, and we can surely discuss with you on our next call on Feb 18th if not sooner. Thanks.

[2020-02-07 19:17] nicolevasilevsky commented on #834
sounds good!

[2020-02-08 16:35] cbizon opened #1145 "Two terms with same exact match"
**Mondo term (ID Label)**
http://purl.obolibrary.org/obo/MONDO_0008891 riboflavin transporter deficiency
http://purl.obolibrary.org/obo/MONDO_0000406 Brown-Vialetto-van Laere syndrome

**Bug/Typo/Error description**
Both of the above terms have skos#exactMatch links to  http://identifiers.org/mesh/C537111

I wonder if adding a check for this kind of thing to the acceptance testing for a version wo

[2020-02-08 20:02] cbizon opened #1146 "[Obsolete] MONDO:0015597 dup of MONDO:0002985?"
**Mondo term (ID and Label)**
http://purl.obolibrary.org/obo/MONDO_0015597
pustulosis palmaris et plantaris

**Reason for deprecation**
Possible duplication of http://purl.obolibrary.org/obo/MONDO_0002985

**Suggested replacement or term to consider**
These terms seem to be referring to the same thing?  And both have the same exact synonym of "palmoplanter pustulosis"

[2020-02-09 01:50] maglott opened #1147 "MONDO:0010892 and MONDO:0000863"
myopathy, lactic acidosis, and sideroblastic anemia (MONDO:0000863)  is a parent of mitochondrial myopathy and sideroblastic anemia (MONDO:0010892) , yet the latter has an exact synonym of myopathy, lactic acidosis and sideroblastic anemia

Are these really two concepts.  Orphanet equates them
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=2598
As does GARD:
https://rarediseases.info.nih.g

[2020-02-09 23:33] cmungall opened #1148 "Incorporate ICDO mappings from progenetix"
Currently we have ICDO mappings souirced fro NCIT, of the form `ICDO:nnnn/n'

progenetix has more complete mappings
https://github.com/progenetix/ICDOntologies/tree/master/current

TODO: determine consistency of these two

We will likely want to map each cancer term in mondo to a pair icdot/icdom as in the above.

E.g.

https://github.com/progenetix/ICDOntologies/blob/master/current/icdom-84303%2C

[2020-02-11 11:41] paolaroncaglia opened #1149 "MONDO:0005812 'influenza' xrefs to (now) obsolete EFO term"
**MONDO:0005812 'influenza'**

**EFO:0001669 'influenza infection'**

MONDO:0005812 'influenza' xrefs both
EFO_0007328
and
EFO_0001669,
but we just obsoleted EFO:0001669 'influenza infection' and replaced it by EFO_0007328 'influenza' (for reference, see https://github.com/EBISPOT/efo/issues/600). The change will be visible in the EFO release scheduled for Feb 17th. Could you please delete the map

[2020-02-11 21:42] ErinRiggs opened #1150 "[NTR] New term request: Neonatal epileptic encephalopathy"
**Preferred term label:**
Neonatal epileptic encephalopathy

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Neonatal epileptic encephalopathy is a form of age-related epileptic encephalopathy, characterized by the onset of seizures within the first 4 weeks of life that can be generalized or lateralized, independent of the sleep cycle, and tha

[2020-02-11 21:48] ErinRiggs opened #1151 "[NTR] Non-neonatal early infantile epileptic encephalopathy"
**Preferred term label:**
Non-neonatal early infantile epileptic encephalopathy

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Non-neonatal early-onset epileptic encephalopathy is a form an of age-related epileptic encephalopathies, characterized by the onset of seizures later than the first 4 weeks of life but within the first three months.

[2020-02-11 23:42] mbaudis commented on #1148
Pinging @paulacarrio who did most of the mappings.

[2020-02-13 10:43] paolaroncaglia opened #1152 "[Revise text def] MONDO:0018588 ALECT2 amyloidosis"
**MONDO:0018588 ALECT2 amyloidosis**

As per suggestions from an Open Targets collaborator (see https://github.com/EBISPOT/efo/issues/680), could you please
- [x] Add a definition: "A rare, systemic amyloidosis characterized by slowly progressive renal disease presenting with proteinuria, hypertension and decreased glomerular filtration rate leading to progressive renal failure. Histology reveals

[2020-02-13 17:32] cmungall commented on #1148
We have identified cases where the mapping is too general e.g
https://github.com/progenetix/ICDOntologies/blob/master/current/icdom-80003%2Cicdot-C44.9.yaml

@nicolevasilevsky will examine all 512 mappings. We will first need to turn this into a google sheet. @paulacarrio has scripts in the tools folder to turn into ods, but we could also do a quick yaml2tsv and load that into a sheet

[2020-02-13 17:41] nicolevasilevsky commented on #1148
Note mappings as:

- ok
- too general
- wrong

[2020-02-13 18:00] cmungall commented on #1148
I made a spreadsheet:

https://docs.google.com/spreadsheets/d/1_6ZX715m3A0Iy9pmPjD_7OtmAAIuxAutFZEuA5XXNdY/edit#gid=356020133

can you move to mondo drive nicole?

this was the script I used:
[code]

[2020-02-14 17:07] paolaroncaglia commented on #1115
@nicolevasilevsky

Thank you. For the former, the action item is for EFO first (FYI I opened https://github.com/EBISPOT/efo/issues/710). For the latter, the action item seems to be for Mondo first. Best wishes,
Paola

[2020-02-14 17:53] nicolevasilevsky opened #1153 "[Obsolete] 'mucoepidermoid tumor'"
**Mondo term (ID and Label)**
MONDO_0006860 'mucoepidermoid tumor'

**Reason for deprecation**

**Suggested replacement or term to consider**
MONDO_0003036 'mucoepidermoid carcinoma'

[2020-02-14 17:56] nicolevasilevsky commented on #1153
emailed list, obsolete after 02/28 if no objections

[2020-02-14 17:57] nicolevasilevsky commented on #1146
I will email the list and work on this after 02/28, assuming there are no objections

[2020-02-14 19:31] nicolevasilevsky commented on #1143
I removed the comment on MONDO:0003778 'primary immunodeficiency disease'

[2020-02-14 19:33] nicolevasilevsky commented on #1143
looks like Orphanet:101997 was an xref on MONDO_0015138 rare genetic primary immunodeficiency, which was obsoleted and replaced with MONDO:0003778 'primary immunodeficiency disease'.

I will move all these xrefs to 'primary immunodeficiency disease', this wasn't done (but should have been)

[2020-02-14 19:47] cbizon commented on #1145
There are 127 cases of this (attached)
[mondo_bugs.txt](https://github.com/monarch-initiative/mondo/files/4206523/mondo_bugs.txt)

[2020-02-14 20:13] nicolevasilevsky commented on #1145
Thank you @cbizon, I will take a look at this

[2020-02-14 20:16] nicolevasilevsky commented on #1145
Regarding
http://purl.obolibrary.org/obo/MONDO_0008891 riboflavin transporter deficiency
http://purl.obolibrary.org/obo/MONDO_0000406 Brown-Vialetto-van Laere syndrome

Orphanet has Brown-Vialetto-van Laere syndrome as a synonym for Riboflavin transporter deficiency, hence they both xref the MeSH term

https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=12856&Disease_Disease_Sea

[2020-02-14 20:17] nicolevasilevsky commented on #1145
Do you think these synonyms are incorrect? I can remove the xref from 'riboflavin transporter deficiency' and report this to Orphanet.

[2020-02-14 20:33] nicolevasilevsky commented on #1145
I created a [spreadsheet])https://docs.google.com/spreadsheets/d/10vJr5zLouJr6VRG9VQMh46yWAotRHZZcUtVCprPMOKM/edit#gid=0)

[2020-02-14 20:58] #1142 closed

[2020-02-14 21:19] nicolevasilevsky commented on #1147
cc @annieolry @ana-rath-orphanet

[2020-02-14 21:47] cbizon commented on #1145
I'm not enough of an expert in the diseases to have a valid opinion about which of the exactmatch terms is correct, unfortunately.  But it has to be one of them, unless the mondo classes are also equivalent!

[2020-02-14 21:48] nicolevasilevsky commented on #1145
Thanks @cbizon. I'll look into it further.

Also cc'ing @ana-rath-orphanet and @annieolry from Orphanet.

[2020-02-14 22:38] #1149 closed

[2020-02-15 00:22] #1152 closed

[2020-02-15 19:36] maglott opened #1162 "MONDO_0018273 - add term in UMLS"
**Mondo term (ID and Label)**

MONDO_0018273: XYLT1-CDG
**Synonym to be added**
XYLT1-CDG - xylosyltransferase 1 congenital disorder of glycosylation
https://www.ncbi.nlm.nih.gov/medgen/C4750849

**Synonym subtype: ie, broad/exact/narrow/related**
exact

Note the change of the CUI away from CN204859 because the term was added to SNOMED (773418007) and thus assigned a CUI from UMLs

[2020-02-15 21:30] cmungall opened #1164 "Monogenic SLE and SLEB16"
OMIM generic entry for SLE https://omim.org/entry/152700

For most SLE entries in OMIM (e.g SLEB1, SLEB2, ...) we should treat as susceptibilities and not subtypes of SLE. Note we don't typically have HPOA entries for these.

An exception is SLEB16. We have annotations for this.

In OMIM this is called SYSTEMIC LUPUS ERYTHEMATOSUS 16; SLEB16 https://omim.org/entry/614420 and caused by AR mutation

[2020-02-15 21:58] #1162 closed

[2020-02-15 23:09] #1120 closed

[2020-02-15 23:10] #1117 closed

[2020-02-15 23:11] #227 closed

[2020-02-15 23:13] #1114 closed

[2020-02-15 23:16] cmungall commented on #1145
@nicolevasilevsky can you add a ticket for the proposed check, thx

[2020-02-15 23:19] #1143 closed

[2020-02-16 16:31] #1134 closed

[2020-02-16 22:29] maglott opened #1167 "X-linked Ehlers-Danlos syndrome (MONDO_0010586 )"
**Mondo term (ID and Label)**
X-linked Ehlers-Danlos syndrome   (MONDO_0010586 )

**Reason for deprecation**
OMIM reports: Malfait et al. (2017) stated that the condition designated EDS5 is no longer included in the EDS spectrum.  (https://www.omim.org/entry/314400#history)
Orphanet (ORPHA:75497) cites Ehlers-Danlos syndrome type 5 as a synonym for X-linked Ehlers-Danlos syndrome

**comment**
If t

[2020-02-17 11:17] paolaroncaglia opened #1168 "[Revise subclass] MONDO:0020135 non-syndromic pontocerebellar hypoplasia"
**MONDO:0020135 non-syndromic pontocerebellar hypoplasia**

Defined as "Nonsyndromic pontocerebellar hypoplasias (PCH) are a rare heterogeneous group of diseases characterized by hypoplasia and atrophy and/or early neurodegeneration of the cerebellum and pons. Eight subtypes named type 1-8 have been described (see these terms), generally inherited in an autosomal recessive pattern.".

Not surprisi

[2020-02-17 19:30] #1086 closed

[2020-02-17 19:31] #131 closed

[2020-02-17 19:31] #1098 closed

[2020-02-17 19:32] #1112 closed

[2020-02-17 19:34] #1088 closed

[2020-02-17 19:47] cmungall commented on #722
I think we need a stronger reason for obsoletion. It's not strictly redundant with its parent, as inherited can encompass both monogenic and polygenic.

Perhaps the reason for obsoletion is that it's not useful to bake in mono-vs-poly into the hierarchy, it's better to leave this to gene-disease associations?

But this leads to the question of where mono vs poly is curated. Can this be obtained fr

[2020-02-17 19:48] RedRiver1816 opened #1169 "[NTR] TPM3-Related Myopathy"
**Preferred term label:**
TPM3-Related Myopathy

**Synonyms:**
Autosomal Dominant TPM3-Related Myopathy
TPM3 Myopathy
Congenital Myopathy Related to TPM3

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
TPM3-Related Myopathy is a disorder of the musculoskeletal system that covers a wide spectrum of phenotypes and is caused by pathogenic variants in the skel

[2020-02-17 22:09] nicolevasilevsky commented on #432
pinging @ahamosh

[2020-02-17 23:24] nicolevasilevsky commented on #722
@mellybelly do you want to weigh in on this?
Or @pnrobinson?

[2020-02-18 00:16] nicolevasilevsky commented on #1169
is this the correct EP to reference?
https://clinicalgenome.org/docs/clingen-cmp-ep-acgs-collaboration/

[2020-02-18 00:45] RedRiver1816 commented on #1169
This is the correct EP: https://clinicalgenome.org/affiliation/40031/
Thanks!

[2020-02-18 01:13] pnrobinson commented on #722
Current status
1. Monogenic disease is a child of inherited genetic disease. This is correct, because say digenic disease is also a child of inherited genetic disease
2. The problem is that most of the monogenic diseases in Mondo are not children of monogenic disease.
Things to consider
a. There are people who say that no disease is truly monogenic (because diseases have modifying genes etc etc),

[2020-02-18 12:21] paolaroncaglia opened #1172 "Remove comment from MONDO:0005286 palatal neoplasm"
(Not really an xref issue, but the template was the closest I could think of ;-) )

**MONDO:0005286 palatal neoplasm**

Has a comment "Editor note: EFO xrefs NCIT:C3431 and NCIT:C3674 which is wrong". I deleted the two incorrect NCIT xrefs from EFO:0003849 palatal neoplasm (https://github.com/EBISPOT/efo/issues/710); the edits will be visible in the mid-March EFO release. Could you please remove t

[2020-02-18 12:25] GARDInfoCenter commented on #1153
@nicolevasilevsky GARD lists mucoepidermoid carcinoma NOT mucoepidermoid tumor.

[2020-02-18 13:06] maglott commented on #722
re: https://www.omim.org/entry/608133
@ahamosh  should certainly comment, but when NCBI  and UMLS incorporate data  from OMIM,
the 'included' titles are processed as a distinct entity, without an equivalence to the MIM number. (albeit with a relationship indicating 'included'). So yes, split.

[2020-02-18 14:06] ahamosh commented on #722
Sorry for the delay. I was off-line for a couple of days.  First, to Donna's comment, an included entry in an OMIM entry is a separate entity.  Digenic is not the same as Monogenic.  I think that Digenic can be included under Mendelian.  Digenic can look like recessive inheritance or like something weird. Beyond DIgenic, I think that you get into complex and not strictly Mendelian inheritance.  I

[2020-02-18 17:46] paolaroncaglia opened #1173 "[NTR] Placeholder ticket for OMIM diseases absent from Mondo"
Stemming from discussion at our EFO-Mondo call today (https://docs.google.com/document/d/11OY4HN4EzmviVyqe3CrHy6TA-KiSRxeaqPA5pYWvT6U/edit), I will provide some OMIM disease IDs that I couldn't find in Mondo. To be continued (not very shortly though). Thanks.

[2020-02-18 19:05] ahamosh commented on #432
I don't think that we can know anything about Rosselli-Gulienetti syndrome.  We will remove the % sign showing that we cannot determine its distinctness from another entry, but we can't merge them because we cannot determine what any of those three families had.

[2020-02-19 02:07] nicolevasilevsky opened #1174 "add synonyms for Ehlers-Danlos syndrome?"
**Mondo term (ID and Label)**
MONDO_0020066 'Ehlers-Danlos syndrome'

**Synonym to be added**
@pnrobinson and @cmungall all of these synonyms exist in Mondo source ontologies, but they are not all in Mondo. Any objections to adding these to Mondo?

- Cutis hyperelastica - _this is an excluded synonym in Mondo, but it seems like it may be a legit synonym,  it is in 4 other ontologies, and this [art

[2020-02-19 11:52] pnrobinson commented on #1174
DANLOSA and DANLOSOV are incorrect. Ehlers-Danlos syndrome, NOS is ICD. Danlos is incorrect.
There are some historical terms we should label as obsolete, India rubber skin, and cutis hyperelastica etc.

[2020-02-19 11:56] paolaroncaglia opened #1175 "MONDO:0018797 genetic cardiac malformation"
**MONDO:0018797 genetic cardiac malformation**

This is an Orphanet grouping term (I see that it's in a subset called "ordo_group_of_disorders"), currently a subclass of 'heart disease' and with no link to genetic diseases despite its label. Its children seem a mix of congenital/familial and genetic disorders, but the label only refers to genetic. I presume that this is a known issue and that Mond

[2020-02-19 16:49] asmvernon opened #1176 "Remove non-existent HP xrefs (1)"
**Mondo term (ID and Label):**
MONDO:0009576

**Xref that should be fixed (ID and label):**
HP:0007660 should be removed as it is not a valid HP ID

**Other comments:**
nonexistent

[2020-02-19 16:51] asmvernon opened #1177 "Remove non-existent HP ID (2)"
**Mondo term (ID and Label):**
MONDO:0003924

**Xref that should be fixed (ID and label):**
Remove HP:0008196; it is not a valid HP ID

**Other comments:**
non-existent

[2020-02-19 16:52] asmvernon opened #1178 "Remove obsolete HP ID xref (1)"
**Mondo term (ID and Label):**
MONDO:0009813

**Xref that should be fixed (ID and label):**
Remove HP:0005901; it is an obsolete ID

**Other comments:**

[2020-02-19 16:53] asmvernon opened #1179 "Remove obsolete HP ID xref (2)"
**Mondo term (ID and Label):**
MONDO:0021210

**Xref that should be fixed (ID and label):**
Remove HP:0012291; it is an obsolete ID

**Other comments:**

[2020-02-19 16:54] asmvernon opened #1180 "Remove obsolete HP ID xref (3)"
**Mondo term (ID and Label):**
MONDO:0018177

**Xref that should be fixed (ID and label):**
Remove HP:0100843; it is an obsolete ID

**Other comments:**

[2020-02-19 17:36] maglott opened #1181 "hyperinsulinism due to short chain 3-hydroxylacyl-CoA dehydrogenase deficiency"
**Mondo term (ID and Label):**
hyperinsulinism due to short chain 3-hydroxylacyl-CoA dehydrogenase deficiency:MONDO:0009278

**Xref that should be fixed (ID and label):**

 "exactMatch http://identifiers.org/omim/231530"
 http://purl.obolibrary.org/obo/OMIM_231530

**Other comments:**
Xref belongs to the parent term,
    "iri" : "http://purl.obolibrary.org/obo/MONDO_0017715",
      "label" : "3-hy

[2020-02-19 19:48] nicolevasilevsky commented on #1174
Thanks for the feedback, Peter!

[2020-02-19 21:44] nicolevasilevsky commented on #1177
HP:0008256 exists:
https://hpo.jax.org/app/browse/term/HP:0008256

Where were you looking?

[2020-02-19 21:44] #1177 closed

[2020-02-19 21:52] nicolevasilevsky commented on #1143
@paolaroncaglia all the action items on this ticket are done :)

[2020-02-19 22:50] nicolevasilevsky commented on #525
I will just close this, please reopen if needed

[2020-02-19 22:50] #525 closed

[2020-02-19 23:34] #1174 closed

[2020-02-19 23:36] nicolevasilevsky commented on #1176
this is in HPO:
https://hpo.jax.org/app/browse/term/HP:0000485

[2020-02-19 23:36] #1176 closed

[2020-02-19 23:37] nicolevasilevsky commented on #1180
This term  is not obsolete in HPO:
https://hpo.jax.org/app/browse/term/HP:0012174

[2020-02-19 23:37] #1180 closed

[2020-02-19 23:54] nicolevasilevsky commented on #1164
@cmungall can this be closed? I see you merged your PR

[2020-02-20 00:01] nicolevasilevsky commented on #1175
@paolaroncaglia what is the action item? Are you suggesting we rename the class to cardiac malformation?

Or obsolete the class?

Thanks!

[2020-02-20 00:02] nicolevasilevsky commented on #1175
Maybe we should ask Orphanet too?

[2020-02-20 00:24] nicolevasilevsky opened #1188 "[NTR] Adenovirus renal infection"
**Preferred term label:**
adenovirus renal infection

**Synonyms**
adenovirus kidney infection

**Definition**
Infection of the kidney due to adenovirus. Adenovirus renal infections usually occur in immunocompromised patients, more commonly in bone marrow and stem cell transplant recipients.

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**

[2020-02-20 00:28] nicolevasilevsky commented on #1188
Also, should we add the SubClassOf assertion:
'disease has major feature' some 'Severe adenovirus infection'

to MONDO_0043479 'adenoviridae infectious disease'

@pnrobinson and @cmungall

[2020-02-20 00:30] nicolevasilevsky commented on #1188
Could we add a SubClassOf assertion to adenovirus renal infection that is:

'disease has major feature' some ('Severe adenovirus infection' and 'part of' some kidney)

[2020-02-20 00:56] #1179 closed

[2020-02-20 02:03] #1178 closed

[2020-02-20 02:04] #1172 closed

[2020-02-20 02:05] #1181 closed

[2020-02-20 11:16] paolaroncaglia opened #1189 "[Revise logical def] MONDO:0005267 heart disease"
**MONDO:0005267 heart disease**

Is a subclass of 'cardiovascular disease' and 'thoracic disease', and equivalent to
disease or disorder and (disease has location some heart)
which is fine

MONDO:0000474 pericardium disease
Is a subclass of 'cardiovascular disease' and 'thoracic disease', and equivalent to
disease or disorder and (disease has location some pericardium)
which is also fine

So 'hear

[2020-02-20 11:59] pnrobinson commented on #1188
Small point but I think the definition Infection of the kidney **by** Adenovirus is better

[2020-02-20 14:26] paolaroncaglia commented on #1175
@nicolevasilevsky
The simplest action item would be to rename 'genetic cardiac malformation' to 'cardiac malformation'. Whether it'd be ok to do that to an Orphanet grouping term, may need discussion with @cmungall ;-)
(I'll be away for a few days so I won't be responding/commenting on tickets, thanks!)

[2020-02-21 02:58] nicolevasilevsky commented on #1175
@paolaroncaglia I created a PR, and assigned Chris to review

[2020-02-21 03:56] nicolevasilevsky commented on #1189
@paolaroncaglia I created a PR with your suggested edit and assigned @cmungall to review - he can let us know if he has any issues.

[2020-02-21 04:03] nicolevasilevsky commented on #1153
@paolaroncaglia @zoependlington the comment says to check with EFO

[2020-02-22 17:20] maglott opened #1193 "[Revise subclass]MONDO:0005508"
**Mondo term (ID and Label)**

**Suggested revision and reasons**
I see this question came up before,(https://github.com/monarch-initiative/mondo/issues/406)
but it was not resolved.

- [x] obsolete exostoses, multiple

- [x] making the narrow synonyms: "hasNarrowSynonym" : [ "hereditary multiple exostoses 3", "hereditary multiple exostoses 2", "hereditary multiple exostoses 1" ], distinct nodes u

[2020-02-22 19:23] nicolevasilevsky commented on #405
@gardinfocenter

Do you think this is a distinct disease, or should it be merged with MONDO_0007211 'brachydactyly-arterial hypertension syndrome'

The definition is:
Brachydactyly - arterial hypertension is a rare genetic brachydactyly syndrome characterized by the association of brachydactyly type E (see this term) with hypertension (due to vascular or neurovascular anomalies) as well as the add

[2020-02-22 19:30] #410 closed

[2020-02-23 02:06] courtneythaxton commented on #408
Hi @nicolevasilevsky we currently have 23 gene curations on the ClinGen website that use MONDO_0019625.

See: https://search.clinicalgenome.org/kb/conditions/MONDO_0019625

I have emailed members of our software team for inquiries on how to handle a change like this, as well as talking with the Expert Panel. I hope to be able to update you on this possible change soon.

[2020-02-24 15:57] Mohan-Shruthi opened #1196 "[Revise subclass]"
**Mondo term (ID and Label)** MONDO:0013681 / alpha-methylacyl-CoA racemase deficiency

**Suggested revision and reasons** The ClinGen Peroxisomal disorders gene curation expert panel recommends that the term "alpha-methylacyl-CoA racemase deficiency" (AMACR deficiency) be moved up as the parent term to "MONDO:0008967 / congenital bile acid synthesis defect 4". In other words, swap the two entitie

[2020-02-24 19:44] nicolevasilevsky commented on #1167
Hi @maglott
Which term do you want to obsolete?
It looks like 'Ehlers-Danlos syndrome type 5' is already a synonym for X-linked Ehlers-Danlos syndrome (MONDO_0010586).

As you said - I will update the xref to OMIM, which is currently OMIM:305200. I will update it to OMIM:314400

Thanks!

[2020-02-24 20:04] maglott commented on #1167
I likely applied the wrong label to the issue.  If policy is to report former names as synonyms, then EDS5 can likely remain with MONDO_0010586

[2020-02-24 21:05] nicolevasilevsky commented on #1196
@Mohan-Shruthi

I revised the classification, so no we have:

'rare hereditary metabolic disease with peripheral neuropathy'
-'alpha-methylacyl-CoA racemase deficiency'
--'congenital bile acid synthesis defect 4'

Is this correct?

[2020-02-24 21:10] Mohan-Shruthi commented on #1196
@nicolevasilevsky

Yes. That's correct. This change would also reorganize the classification in the other branches, right? For ex:
"Peroxisomal disease"
-"disorder of peroxisomal alpha-, beta- and omega-oxidation"
--"alpha-methylacyl-CoA racemase deficiency"
---"congenital bile acid synthesis defect 4"

[2020-02-24 22:08] nicolevasilevsky commented on #1167
Actually, I think we do need to obsolete X-linked Ehlers-Danlos syndrome (MONDO_0010586), if we want to follow OMIM. I'll send an email out to the list, to make sure there aren't any objections.
Thanks Donna!

[2020-02-24 22:10] nicolevasilevsky commented on #1167
cc @annieolry @ana-rath-orphanet @NCIEVS

[2020-02-24 22:14] #394 closed

[2020-02-24 22:50] nicolevasilevsky commented on #1196
Ah, I had not added "disorder of peroxisomal alpha-, beta- and omega-oxidation" as a superclass of 'alpha-methylacyl-CoA racemase deficiency', but I just went ahead and did that.

So now you will see that hierarchy above, yes (after the Pull Request is merged and Mondo is released)

[2020-02-24 23:08] cmungall opened #1199 "Generate consistency report for disease-gene associations"
A number of different sources report d2g associations, but these may not always be consistent. An additional complication is that sometimes these may be made at different levels (e.g. a more generic disease grouping in ORDO).

This could be part of a more generic consistency reporting framework we want in Mondo where we want to report consistency of subClassOf between two ontologies etc (cc @balho

[2020-02-24 23:57] mayherpatel commented on #1106
@nicolevasilevsky Thank you for continuing to work on this! If possible, would you be able to provide an update on when the term can be retrieved from the OLS?

[2020-02-25 00:00] nicolevasilevsky commented on #1106
Hi @mayherpatel I believe we'll have a new release of Mondo by the end of the month, and I think OLS is updated in the middle of each month

[2020-02-25 00:28] #1106 closed

[2020-02-25 10:05] zoependlington opened #1200 "Cancer vs tumor x-ref"
**Mondo term (ID and Label):**
MONDO:0003120 (mixed testicular germ cell cancer)

**Xref that should be fixed (ID and label):**
NCIT:C6347 (Testicular Mixed Germ Cell Tumor)

**Other comments:**
This is an exact match x-ref to a tumor term, not a cancer term so I believe that this is incorrect somewhere - the synonyms and definition also refer to tumor. Is this term supposed to be mixed testicular

[2020-02-25 12:40] maglott commented on #1199
Would the value of relation capture the level of the relationship?  i.e. generic vs. specific?  Ideally , if there is a generial node, say from Orphanet, and 3 gene-specific subnodes,say from OMIM., and Orphanet reports 3 genes, they ideally would correspond to the union of the three values from OMIM.

[2020-02-25 22:09] nicolevasilevsky commented on #411
From GARD:
We don’t have this term (we have a parent term primary liver cancer) For this one NCI uses Combined Hepatocellular Carcinoma and Cholangiocarcinoma which I think should be used.

[2020-02-25 22:09] nicolevasilevsky commented on #409
from GARD:
Gastric Fundus Carcinoma:  We don’t have this term but according to NCI the term should be “gastric fundus carcinoma” (synonym: gastric fundus cancer) which I think should be used.

[2020-02-25 22:09] nicolevasilevsky commented on #408
From GARD:
We have Familial thoracic aortic aneurysm and dissection with Familial thoracic aortic dissection as a synonym.  Orphanet also have Familial thoracic aortic aneurysm and aortic dissection which is more accurate for the clinical features.

[2020-02-25 22:13] maglott opened #1201 "acro-renal-ocular syndrome and acrorenoocular syndrome"
MONDO_0011812 has an exact synonym of 'acrorenocular syndrome'
and is the parent of MONDO_0019863, named acro-renal-ocular syndrome

If these should be retained as distinct entities, then perhaps the exact synonym of 'acrorenocular syndrome' should be moved from MONDO_0011812 to MONDO_0019863. I am assuming the hyphens do not matter

Or should there be a merge?
See also: https://rarediseases.info.

[2020-02-25 22:15] nicolevasilevsky commented on #405
From GARD:
I don’t think these two terms should merge into one (features are different and there is no apparent relationship among them – only the fact that they both have brachydactyly- which is not enough).  Actually I retired 'exostoses anetodermia brachydactyly type E' which was described in only one family back in 1985.

[2020-02-25 22:16] nicolevasilevsky commented on #405
action item:
- [ ] obsolete MONDO_0023097 'exostoses anetodermia brachydactyly type E' (but don't add a 'term replaced by' annotation.) Add this ticket as seeAlso

[2020-02-25 22:16] courtneythaxton commented on #408
Thanks @nicolevasilevsky , I will take this information back to the group to see if we have anymore feedback. So just so that I get my understanding straight, the MONDO:0019625 will still be a valid ID (i.e. it is not be deleted), however the nomenclature or title will change to familial aortic dissection. Is that correct?

[2020-02-25 22:20] courtneythaxton commented on #408
Or will the MONDO:0019625 now become MONDO_0011769? @nicolevasilevsky

Thanks!

[2020-02-25 22:23] nicolevasilevsky commented on #408
I think we'll want to keep MONDO:0019625 'familial thoracic aortic aneurysm and aortic dissection' and obsolete MONDO_0011769 'familial aortic dissection'

Would that work for you, @courtneythaxton ?

[2020-02-25 22:24] nicolevasilevsky commented on #404
From GARD:
We already have Encephalitis lethargica which is also in Orphanet.

[2020-02-25 22:24] nicolevasilevsky commented on #403
From GARD:
We had this one under eosinophilic enteropathy.  I changed to eosinophilic gastroenteritis which is much more accurate.  I also changed the names in the Q&As but I think this one needs updates:  https://www.uptodate.com/contents/eosinophilic-esophagitis-eoe-genetics-and-immunopathogenesis?search=eosinophilic-esophagitis-eoe-genetics-and-immunopathogenesisimmunopathogenesis%20underlying%

[2020-02-25 22:25] nicolevasilevsky commented on #402
From GARD:
For this one, NCI uses “Digestive System Neuroendocrine Neoplasm” but gastroenteropancreatic neuroendocrine neoplasm is included as a synonym.  Again, I think that for this term we should follow NCI.  We have this one as “Gastro-enteropancreatic neuroendocrine tumor”.  https://ordrportal.ncats.nih.gov/ManageDiseases/AddEditDisease.aspx?DiseaseId=2437

[2020-02-25 22:25] nicolevasilevsky commented on #400
From GARD:
Congenital vitamin K-dependent coagulation factors combined deficiency:  We don’t have this one and we should  add this one.

[2020-02-25 22:25] nicolevasilevsky commented on #399
From GARD:
Congenital Hepatic Fibrosis:  Orphanet has the term “isolated congenital hepatic fibrosis” while most sources (GR, GHR, Medscape, UpToDate, most relevant Pubmed articles) have congenital hepatic fibrosis.  I think we can change it to isolated congenital hepatic fibrosis because congenital hepatic fibrosis may occur alone (in which case it is called isolated congenital hepatic fibrosis).

[2020-02-25 22:26] nicolevasilevsky commented on #398
From GARD:
NCI have the term benign mesonephroma (we have this one now) and Wolffian duct adenoma is a synonym  (I have added all the relevant synonym in the portal).  We should follow NCI for all tumor/cancer related terms.

[2020-02-25 22:26] courtneythaxton commented on #408
Yes that would work for me @nicolevasilevsky. Thank you for your responsiveness and feedback!

[2020-02-25 22:26] nicolevasilevsky commented on #398
Action item:
-[ ] obsolete Wolffian duct adenoma, add 'term replaced by' MONDO_0024889 'benign mesonephroma'

[2020-02-25 22:27] nicolevasilevsky commented on #397
From GARD:
Hoyeraal-Hreidarsson syndrome: The reason why they are planning on merging Hoyeraal-Hreidarsson syndrome into the X-linked DC is probably because OMIM included Hoyeraal-Hreidarsson syndrome under X-linked DC on 2013.  However, Orphanet (2019) has it as a separate condition and some cases may be inherited as AR.  Also  GR (2019) and GHR (2019)  still mention it as a unique condition. It

[2020-02-25 22:27] nicolevasilevsky commented on #397
Action item:
- [ ] remove comment, do not merge.

[2020-02-25 22:28] nicolevasilevsky commented on #396
From GARD:
Both Epstein Anomaly and May-Hegglin anomaly are actually under MYH9-related disorder (which we already have)

[2020-02-25 22:29] nicolevasilevsky commented on #395
From GARD:
Cystic hygroma:  I think the main term cystic hygroma is adequate. We already have this as the main term (cystic lymphangioma is a synonym)

[2020-02-26 12:30] GARDInfoCenter commented on #1167
@nicolevasilevsky We retired all the subtypes that are not included in the current classification back in 2017. We currently only list Cardiac-Valvular Ehlers-Danlos syndrome and not X-linked EDS or EDS type V.

Thanks!

[2020-02-26 18:28] maglott opened #1202 "Baraitser Rodeck Garner syndrome and craniosynostosis-mental retardation-clefting syndrome"
GARD ( https://rarediseases.info.nih.gov/diseases/817/index) has a record for Baraitser Rodeck Garner syndrome (MONDO_0021971).
GARD's page  provides a link to OMIM (https://www.omim.org/entry/218650) for CRANIOSYNOSTOSIS-MENTAL RETARDATION-CLEFTING SYNDROME  (MONDO_0009041) ,  for which the only reference is authored by Baraitser, M., Rodeck, C., Garner, A..

Is it possible that MONDO_0021971 and

[2020-02-26 21:16] nicolevasilevsky commented on #1202
@gardinfocenter

[2020-02-26 23:13] nicolevasilevsky commented on #1148
@mbaudis I am half way done with reviewing the mappings. I'll keep going but do you want to review what I have done so far?

You could highlight cells with any issues or create a new column with notes for issues

[2020-02-26 23:15] mbaudis commented on #1148
@nicolevasilevsky Great - I had done some "random" annotations but will switch to systematic notes.

[2020-02-27 00:58] cmungall commented on #1189
this is probably the best approach. I would have added a systematic syn for "heart/pericardial disease". I think changing the primary label is a step too far for usability?

[2020-02-27 00:59] #1196 closed

[2020-02-27 01:00] #406 closed

[2020-02-27 01:00] #1193 closed

[2020-02-27 01:05] cmungall commented on #1175
does this grouping really do us any work? What if we obsolete it? Do we lose information? Is it really a disease, not a phenotype?

I think we need to be a bit more vigorous in obsoleting some of these ordo groupings?

[2020-02-27 01:09] nicolevasilevsky commented on #1175
I'm okay with obsoleting. It has 4 children that are also classified under other parents too, so those will not be affected too much. I'll email the list

[2020-02-27 01:10] cmungall commented on #1168
I agree with @paolaroncaglia's analysis.

Shall we reach out to @Orphanet for comments

https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=en&Expert=98523

_Nonsyndromic pontocerebellar hypoplasias (PCH) are a rare heterogeneous group of diseases characterized by hypoplasia and atrophy and/or early neurodegeneration of the cerebellum and pons. Eight subtypes named type 1-8 have been described (se

[2020-02-27 01:13] #1169 closed

[2020-02-27 01:30] cmungall commented on #1164
I don't think I addressed ebveryhing

[2020-02-27 01:36] courtneythaxton commented on #1175
@nicolevasilevsky @cmungall From what I see on the ClinGen side, is that we have no groups that currently use this term. I also agree that the child terms do have other parental terms that are just as befitting, so obsoletion of the term seems reasonable, and that it would not severely impact any other entity.

[2020-02-27 01:37] ahamosh commented on #395
agreed, cystic hygroma is the word you want.

[2020-02-27 01:39] ahamosh commented on #396
OMIM has merged all of these as: # 155100. MACROTHROMBOCYTOPENIA AND GRANULOCYTE INCLUSIONS WITH OR WITHOUT NEPHRITIS OR SENSORINEURAL HEARING LOSS; MATINS

We are not using gene symbols in disease names.

[2020-02-27 01:42] ahamosh commented on #397
Just to clarify HHS is an included and therefore distinct phenotype within the DKC entry.

[2020-02-27 01:49] ahamosh commented on #400
OMIM has 2 of these because 2 genes can cause this phenotype VKCFD1 (MIM 277450) due to GGCX and VKCFD2 (MIM 607473) due to VKORC1.

[2020-02-27 01:52] ahamosh commented on #399
I am not sure if this exists.

[2020-02-27 01:56] ahamosh commented on #403
the gastritis is a subset of gastroenteritis.  Also are you considering this as distinct from eosinophilis esophagitis?

[2020-02-27 02:04] ahamosh commented on #408
Glad to see this chain. The point is to avoid dissection!
Thanks,
Ada

[2020-02-27 05:16] pnrobinson commented on #1175
I think that probably this term intends to mean the same thing as congenital heart disease, which in my opinion is a far better label. "Genetic" in the sense of not necessarily Mendelian but related to the "genesis" of the heart.

[2020-02-27 12:17] GARDInfoCenter commented on #1202
We reviewed both Baraister Rodeck Garner syndrome and craniosynostosis-mental retardation-clefting syndrome and have determined that they are indeed the same condition. Additionally, the condition does not meet our inclusion criteria, as the condition has only been reported in one family. At this time, we have decided to retire both terms from our list.

[2020-02-27 15:35] paolaroncaglia commented on #1189
@nicolevasilevsky
@cmungall
Thanks for approving my suggestion to modify the disease location axiom of 'heart disease' to  'heart plus pericardium'. That's a great help. I'm taking the liberty to re-open this ticket please to ask if you'd be willing to
- [ ] Add that systematic synonym "heart/pericardial disease" as Chris suggested
- [ ] Perhaps add a short gloss to the definition, or an editor's

[2020-02-27 16:57] nicolevasilevsky commented on #1202
action item:
- [ ] obsolete MONDO_0021971, add term replaced by MONDO_0009041

[2020-02-27 17:05] paolaroncaglia commented on #1168
@nicolevasilevsky
@cmungall

Thank you for changing the label from 'non-syndromic pontocerebellar hypoplasia' to 'pontocerebellar hypoplasia'. I'm re-opening this ticket as I'm not sure if the action item suggested above is for you guys (who probably have better links to Orphanet than we do), or for EFO. Thanks anyway.
Paola

[2020-02-27 17:12] nicolevasilevsky commented on #1168
I updated the definition. I'll email Orphanet folks.

[2020-02-27 17:14] nicolevasilevsky commented on #1168
I think this ticket can be closed, I sent Orphanet an email with a link to this ticket.

[2020-02-27 17:14] #1168 closed

[2020-02-27 18:47] #1188 closed

[2020-02-27 19:16] #1151 closed

[2020-02-27 21:28] nicolevasilevsky opened #1207 "map Mondo cyst terms to HPO"
see https://github.com/obophenotype/human-phenotype-ontology/issues/5030#issuecomment-591748662

[2020-02-27 21:30] nicolevasilevsky commented on #1175
cc @ana-rath-orphanet @annieolry

[2020-02-28 00:09] mbaudis commented on #1148
@nicolevasilevsky line 140 ... break for today; pls. have a look.

[2020-02-28 01:27] cmungall commented on #1199
@maglott - good point. I think in this case the value should be something like CONSISTENT-SUBSUMES

[2020-02-28 01:30] nicolevasilevsky opened #1208 "evaluate results from OBO dashboard"
See: http://obo-dashboard-test.ontodev.com/
see report here: http://obo-dashboard-test.ontodev.com/mondo/robot_report.html

[2020-02-28 02:12] #1189 closed

[2020-02-28 17:13] cmungall commented on #415
go one step further. We don't want any diseases prefixed by "rare "

[2020-02-28 17:24] paolaroncaglia commented on #1168
Thanks @nicolevasilevsky !

[2020-02-28 17:26] cmungall commented on #418
See also:

https://rarediseases.org/rare-diseases/tongue-cancer/

_Tongue cancers are oral cancers that are **differentiated by their location in the mouth and on the tongue**_ ... _The characteristics of these two cancers are quite **distinct**, and reflect the differences in their origins_

But note if we do keep we need to keep it's sib

[2020-03-02 16:15] nicolevasilevsky commented on #418
action item:
- [ ] remove comment

[2020-03-02 16:18] nicolevasilevsky commented on #418
MONDO_0018708 'squamous cell carcinoma of the oral tongue' does not have a sibling

[2020-03-03 08:40] annieolry commented on #1167
Please consider to keep this entity according to expert's advice. See beelow:

X-linked Ehlers-Danlos syndrome was indeed excluded from the EDS spectrum in the 2017 consensus classification (Malfait et al, PMID: 28306229). This EDS variant was described (among other rare cases in the literature) by DiFerrante et al, 1975 (PMID: 240645) in an Italian family, and some authors later commented that th

[2020-03-03 13:44] paolaroncaglia commented on #834
Making a note that MONDO:0019170 'polyarteritis nodosa' also seems to have some questionable superclasses. Full list:
arteritis [ok based on def]
systemic inflammatory disease associated with an acquired peripheral neuropathy [probably not ok, unless the disease is _always_ associated with an acquired peripheral neuropathy; otherwise that's just a symptom]
neurovascular disease [not ok; symptom]
s

[2020-03-03 14:25] paolaroncaglia opened #1213 "[Revise subclass] MONDO:0043291 rokitansky-aschoff sinuses of the gallbladder"
**MONDO:0043291 rokitansky-aschoff sinuses of the gallbladder**

Has no def, but based on e.g. https://en.wikipedia.org/wiki/Adenomyomatosis [1], the following may be incorrect:

Subclass of:
gall bladder carcinoma in situ
biliary tract cancer
liver carcinoma in situ

[1] "Rokitansky–Aschoff sinuses are pseudodiverticula or pockets in the wall of the gallbladder. ...
Rokitansky–Aschoff sinuses are

[2020-03-03 16:57] paolaroncaglia opened #1214 "[Revise subclass] MONDO:0015943 eosinophilic granulomatosis with polyangiitis"
**MONDO:0015943 eosinophilic granulomatosis with polyangiitis**

"Eosinophilic granulomatosis with polyangiitis (EGPA), previously known as Churg-Strauss syndrome, is a systemic vasculitis of small-to medium vessels, characterized by asthma, transient pulmonary infiltrates, and hypereosinophilia."

Should be a subclass of
MONDO:0012105 granulomatosis with polyangiitis
"A small-vessel necrotizing v

[2020-03-04 15:30] nicolevasilevsky opened #1216 "add synonym to '2019 novel coronavirus infection'"
**Mondo term (ID and Label)**
'2019 novel coronavirus infection'

**Synonym to be added**
SARS-CoV-2
dbxref:doi:10.1038/s41564-020-0695-z

**Synonym subtype: ie, broad/exact/narrow/related**
exact

- [x] fix typo in other doi

[2020-03-04 16:07] cmungall opened #1217 "Add Monarch App backlinks to Mondo IDs"
OLS or Monarch site? I think the former as the latter will lag. cc @mellybelly

[2020-03-04 16:12] matentzn commented on #1217
You mean the default redirect of term IRIs? Like http://purl.obolibrary.org/obo/MONDO_0000001

[2020-03-04 16:19] cmungall commented on #1217
correct, the OBO PURLs. We also want to make this prominent in user documentation, to guide people implementing external infrastructure who want to link to MONDO

It would be good to have a linkout mechanism in OLS to link to Monarch from there

[2020-03-04 16:50] matentzn commented on #1217
How would the backlink work? Via xref or something else that hardcodes a link to monarch initiative?

[2020-03-04 19:13] ErinRiggs commented on #1144
Hi Nicole!  We are doing this curation today, so I was just checking on this ticket.  I see that it is closed, but I don't see the change in OLS.  Is it just in the queue for a subsequent release?

[2020-03-04 19:14] nicolevasilevsky commented on #1144
I think this is dependent on the Mondo release, which should be any day now. And then I think it takes a couple weeks before OLS picks it up.

[2020-03-04 19:31] maglott opened #1218 "Addison disease and chronic primary adrenal insufficiency"
MONDO_0000004, MONDO_0015129

Addison disease has an exact synonym of primary adrenocortical insufficiency
chronic primary adrenal insufficiency has an exact synonym of Addison disease and a definition that says it is a disorder of the adrenal cortex,

HPO equates https://hpo.jax.org/app/browse/term/HP:0008207 primary adrenal insufficiency with Addison.

If it is critical to distinguish among prim

[2020-03-04 19:49] ErinRiggs commented on #1144
Sounds good - thanks for the update!

Erin Rooney Riggs, MS, CGC

Assistant Professor

Certified Genetic Counselor

Autism & Developmental Medicine Institute

Geisinger

eriggs@geisinger.edu<mailto:eriggs@geisinger.edu>

________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Wednesday, March 4, 2020 1:14 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>

[2020-03-04 20:02] cmungall commented on #1217
identifiers.org used to give a choice of sites, now it seems to go to a default

there could be a registry of prefixes with expansions. This could be provided in OBO metadata

Or it could be a list of IDs that are submitted to OLS. Like NCBI linkouts

[2020-03-04 21:08] nicolevasilevsky commented on #412
From Peter:

Trigonocephaly is a subtype of craniosyostosis but not a synonym.

Action item:
- [ ] remove comment, do not merge

[2020-03-04 21:11] nicolevasilevsky commented on #413
from Peter:

Defects of fukutin is not a great disease -- I believe you can have cardiomyopathy or skeletal myopathy with the Mendelian disease (mutation), but there are probably lots of other diseases in which there is some change in the expression level of fukutin, and so where do you stop. OMIM recommends strongly against gene-based disease names and I think we should follow their advice and de

[2020-03-04 21:12] nicolevasilevsky commented on #415
from Peter:

I do not like the label "rare hemorrhagic...due to a". What is "rare"? Can't we say something like "Mendelian platelet disease"

[2020-03-04 23:21] cmungall commented on #834
Note that after this process we will want to find ORDO-only groupings that have no children and remove these

I recommend: switch this. prepare a set of ORDO-only grouping classes for obsoletion. obsolete all these, finding new homes for any that become orphans.

I'm thinking of combinatorial ones, e.g. 'ectodermal malformation syndrome associated with ocular features'. these are just repeating ph

[2020-03-05 01:57] nicolevasilevsky opened #1221 "experiment with making infectious disease and syndrome disjoint"
try this after the next mondo release

[2020-03-05 16:16] paolaroncaglia commented on #834
@cmungall @nicolevasilevsky (cc @zoependlington )
Zoe and I agree with your suggested strategy and will try to help. For us, it'd be easier to work through a shared spreadsheet than via Mondo PRs. If you could please provide the spreadsheet, Zoe and I will then look into it and make further suggestions as appropriate. To help find the biggest offenders/grouping terms/prioritize the obsoletions, co

[2020-03-05 16:33] cmungall commented on #834
|Parent|label|Child|label|
|---|---|---|---|
|MONDO:0015135|primary immunodeficiency due to a genetic defect in innate immunity|MONDO:0015133|quantitative and/or qualitative congenital phagocyte defect|
|MONDO:0015135|primary immunodeficiency due to a genetic defect in innate immunity|MONDO:0018545|primary immunodeficiency with predisposition to severe viral infection|
|MONDO:0015219|non-syndromic

[2020-03-05 16:51] paolaroncaglia commented on #834
@cmungall
Any chance you could export the table above as a Google spreadsheet, please?
Ignore me if you're still working on it. Thanks.

[2020-03-05 16:56] nicolevasilevsky commented on #834
I can do it!

[2020-03-05 17:10] paolaroncaglia commented on #834
Thanks @nicolevasilevsky and @cmungall . We'll work on it over the next few days and will add comments in the spreadsheet. Will ping you when we're done and go from there.

[2020-03-05 17:29] paolaroncaglia commented on #477
@cmungall @nicolevasilevsky
Was there any follow-up on this ticket please for the duplication between
MONDO:0002280 | anemia (disease)
and
HP:0001903 | Anemia?
EFO has the HP term, but also imports the Mondo one, and this is creating confusion for our users (see https://github.com/EBISPOT/efo/issues/711). EFO has subclasses under both. I'd be inclined to relabel the EFO HP term as 'anemia (phenoty

[2020-03-05 18:59] nicolevasilevsky opened #1223 "MONDO_0019523 Walker-Warburg syndrome"
cc @maglott

I think MONDO_0019523 Walker-Warburg syndrome is equivalent to [OMIM:236670 MUSCULAR DYSTROPHY-DYSTROGLYCANOPATHY (CONGENITAL WITH BRAIN AND EYE ANOMALIES), TYPE A, 1; MDDGA1](https://www.omim.org/entry/236670) and we should add the other synonyms from OMIM

[2020-03-05 19:06] nicolevasilevsky commented on #1223
@maglott

I think MONDO_0000171 muscular dystrophy-dystroglycanopathy, type A and MONDO_0019523 | Walker-Warburg syndrome

are distinct classes though

[2020-03-05 19:19] nicolevasilevsky opened #1224 "[Obsolete] MONDO_0020700 microcephaly, short stature, and impaired glucose metabolism"
**Mondo term (ID and Label)**
MONDO_0020700 microcephaly, short stature, and impaired glucose metabolism

**Reason for deprecation**
These two terms have xrefs to the same OMIM class (https://www.omim.org/entry/616033), I think MONDO_0020700	was just created as a grouping class, but is not actually needed.

**Suggested replacement or term to consider**
MONDO_0000208	microcephaly, short stature, an

[2020-03-05 19:45] nicolevasilevsky opened #1225 "[Obsolete] MONDO_0020310 familial focal epilepsy with variable foci"
**Mondo term (ID and Label)**

MONDO_0000215 epilepsy, familial focal, with variable foci

**Reason for deprecation**
duplicates

**Suggested replacement or term to consider**
MONDO_0020310 familial focal epilepsy with variable foci

[2020-03-05 20:49] nicolevasilevsky opened #1227 "[Obsolete] MONDO_0012649 FTSD"
**Mondo term (ID and Label)**

MONDO_0012649  FTSD

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0044871 dystonia, focal, task-specific

[2020-03-05 20:55] nicolevasilevsky opened #1228 "[Obsolete] MONDO_0045022 disorder of organic acid metabolism"
**Mondo term (ID and Label)**
MONDO_0045022	disorder of organic acid metabolism

**Reason for deprecation**
@cmungall The above term was created via a Mondo pattern, but I think these two terms are essentially the same. Can you let me know if you have any objections to merging?

**Suggested replacement or term to consider**
MONDO_0000688	inherited organic acidemia

[2020-03-05 21:45] nicolevasilevsky opened #1230 "question: MONDO_0018925 familial or sporadic hemiplegic migraine"
@maglott and @cmungall we talked about this term on our call today but I didn't write down any decisions

I think we should make MONDO_0000700 familial hemiplegic migraine a child of MONDO_0018925 familial or sporadic hemiplegic migraine, but do we want to consider obsoleting MONDO_0018925 familial or sporadic hemiplegic migraine (or something else)?

Thanks!

[2020-03-05 23:45] nicolevasilevsky opened #1231 "[Obsolete] MONDO_0007291 familial cerebral cavernous malformation"
**Mondo term (ID and Label)**
MONDO_0007291	familial cerebral cavernous malformation

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0000820	cerebral cavernous malformation

[2020-03-05 23:51] nicolevasilevsky opened #1232 "[Obsolete] MONDO_0000841 metaphyseal dysplasia"
**Mondo term (ID and Label)**
MONDO_0000841	metaphyseal dysplasia

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0009943	Pyle disease

[2020-03-05 23:57] nicolevasilevsky commented on #477
I don't know if any decisions have been made about this. @cmungall and @pnrobinson could you weigh in about this?

[2020-03-06 00:00] nicolevasilevsky opened #1233 "[Obsolete] MONDO_0010892 mitochondrial myopathy and sideroblastic anemia"
**Mondo term (ID and Label)**
MONDO_0010892 mitochondrial myopathy and sideroblastic anemia

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0000863	myopathy, lactic acidosis, and sideroblastic anemia

[2020-03-06 00:26] nicolevasilevsky opened #1236 "[Obsolete]"
**Mondo term (ID and Label)**
MONDO_0006818 'keratoconjunctivitis sicca'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0006733 dry eye syndrome

[2020-03-06 00:30] nicolevasilevsky opened #1237 "[Obsolete] MONDO_0014624 Brown syndrome"
**Mondo term (ID and Label)**
MONDO_0014624	Brown syndrome

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0000982	Brown's tendon sheath syndrome

[2020-03-06 06:34] pnrobinson commented on #477
Most of these can be conceptualized as diseases or phenotypic features. At some point we will need to use Mondo terms for the HPO annots, e.g., Bardet Biedl and diabetes mellitus. This would be a large project that needs a lot of preparation though.

[2020-03-06 16:31] paolaroncaglia commented on #834
@cmungall
I have a question on the spreadsheet already please. My understanding is that you have extracted Mondo terms that only have ORDO evidence. MONDO:0016172 acquired sensory ganglionopathy is one such term (in the spreadsheet) and has 2 children, both of which only have ORDO evidence, but only 1 of the 2 children is in the spreadsheet. Same for MONDO:0015860 anomaly of puberty or/and menstru

[2020-03-06 21:14] nicolevasilevsky commented on #1236
cc @paolaroncaglia

[2020-03-06 21:18] nicolevasilevsky opened #1239 "Fix xrefs to MTHU"
**Mondo term (ID and Label):**
search for MTHU and check the xrefs to OMIM terms that have MTHU in the ID. These may come from EFO and may need to be deleted.

**Other comments:**
https://github.com/EBISPOT/efo/issues/725

[2020-03-06 21:20] nicolevasilevsky commented on #477
Sounds like we want to leave these terms in Mondo then?

@paolaroncaglia will that be an issue for you? Your proposed workaround above sounds fine to me.

[2020-03-07 00:05] nicolevasilevsky commented on #477
It doesn't seem like there are any action items for this ticket, can it be closed?

[2020-03-07 01:38] nicolevasilevsky commented on #432
We will follow OMIM, thanks @ahamosh!

[2020-03-07 01:38] #432 closed

[2020-03-07 02:06] nicolevasilevsky commented on #722
@pnrobinson @cmungall @mellybelly

Do we have an action item here? Should we proceed with obsoleting monogenic disease?

[2020-03-07 02:17] nicolevasilevsky opened #1241 "revise superclasses: MONDO:0019170 'polyarteritis nodosa'"
From @paolaroncaglia on #834
(Creating a new ticket for myself, as that other ticket has so many comments!)

Making a note that MONDO:0019170 'polyarteritis nodosa' also seems to have some questionable superclasses. Full list:
a) arteritis [ok based on def]
b) systemic inflammatory disease associated with an acquired peripheral neuropathy [probably not ok, unless the disease is always associated w

[2020-03-07 05:54] pnrobinson commented on #722
@ahamosh would it be possible to schedule a call to go over the hierarchy here and discuss the optimal hierarchy? But I think you are saying that "Mendelian disease" would be the best term here, which would work well for me.

[2020-03-09 14:01] Mohan-Shruthi opened #1242 "[NTR] ACBD5 deficiency"
**Preferred term label:** ACBD5 deficiency

**Synonyms** acyl-CoA binding domain containing protein 5 deficiency

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)** ACBD5 deficiency is a disorder of a single peroxisomal protein, acyl-CoA binding domain containing protein 5, which forms a contact site between the peroxisomes and the ER. The deficiency is charac

[2020-03-09 17:29] paolaroncaglia commented on #477
@nicolevasilevsky

That won't be an issue for us; we've resolved to implement my proposal above (for reference, see https://github.com/EBISPOT/efo/issues/711#issuecomment-595806914). Thanks for checking.

[2020-03-09 17:33] paolaroncaglia commented on #1241
@nicolevasilevsky
Thanks for opening this ticket. I'll add the EFO label to keep track. Note for self: EFO action items have already been carried out (see https://github.com/EBISPOT/efo/issues/667#issuecomment-593952714).

[2020-03-09 22:30] nicolevasilevsky commented on #477
I am closing this ticket, please reopen if needed.

[2020-03-09 22:30] #477 closed

[2020-03-09 22:54] cmungall commented on #1208
http://obo-dashboard-test.ontodev.com/mondo/dashboard.html

![image](https://user-images.githubusercontent.com/50745/76264177-3bcc3100-621e-11ea-9a11-ba40d1d7b423.png)

[2020-03-09 23:43] nicolevasilevsky commented on #1148
@cmungall said this should be lower priority for me to review these mappings. @mbaudis do you have enough feedback from me, at the moment?

Do you know how to make new term requests to NCIt?

[2020-03-10 13:09] twhetzel opened #1243 "Incorrect definition property for "extranodal nasal NK/T cell lymphoma""
**Mondo term (ID Label)**
extranodal nasal NK/T cell lymphoma -- http://purl.obolibrary.org/obo/MONDO_0019472

**Bug/Typo/Error description**
This term does not use the definition property IAO_0000115, but appears to be using  http://purl.obolibrary.org/obo/def  instead.

[2020-03-10 19:17] nicolevasilevsky opened #1244 "review MedGen-Mondo mappings"
See spreadsheet here:

https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657

[2020-03-10 19:23] nicolevasilevsky commented on #558
I think this is done

[2020-03-10 19:23] #558 closed

[2020-03-10 19:24] nicolevasilevsky commented on #9
I think this can  be closed.

[2020-03-10 19:24] #9 closed

[2020-03-10 19:26] #15 closed

[2020-03-10 19:27] nicolevasilevsky commented on #14
I think this can be closed

[2020-03-10 19:27] #14 closed

[2020-03-10 19:28] nicolevasilevsky commented on #13
I think this can be closed

[2020-03-10 19:28] #13 closed

[2020-03-10 19:35] nicolevasilevsky commented on #11
@zoependlington and @paolaroncaglia could we revisit this? Do we think the 'kidney stone' class is the same as 'MONDO_0008171 nephrolithiasis'?

thanks!

[2020-03-10 19:43] nicolevasilevsky commented on #1
We are now adding xrefs to ClinGen working groups (via a URL) and add ORCIDs.

I am going to close this, please reopen if needed

[2020-03-10 19:43] #1 closed

[2020-03-10 19:44] nicolevasilevsky commented on #7
@pnrobinson feel free to close if you see fit

[2020-03-10 19:49] nicolevasilevsky commented on #54
@ErinRiggs can this be closed?

[2020-03-10 19:50] pnrobinson commented on #7
Do we have a list of existing sources? If so I will see if there are any others to be added!

[2020-03-10 19:52] nicolevasilevsky commented on #38
note to self, see if this is in the medgen spreadsheet #1244

[2020-03-10 19:53] ErinRiggs commented on #54
I think so - looks like we ended up using MONDO:0100040 (FOXG1 disorder) for this particular curation.

[2020-03-10 19:54] nicolevasilevsky commented on #34
note to self - check to see if this was done/can be closed

[2020-03-10 19:54] nicolevasilevsky commented on #54
great, thanks!

[2020-03-10 19:54] #54 closed

[2020-03-10 19:57] nicolevasilevsky commented on #7
For the children of 'complex chromosomal rearrangement', the terms come from:
orphanet
ICD9 and 10
GARD
MESH
NCIT
OMIM
SCT
UMLS

[2020-03-10 19:58] #24 closed

[2020-03-10 19:58] #25 closed

[2020-03-10 19:58] #26 closed

[2020-03-10 20:24] nicolevasilevsky commented on #118
I think this can be closed. Please reopen if necessary

[2020-03-10 20:24] #118 closed

[2020-03-10 20:33] nicolevasilevsky commented on #76
#520
#1174

[2020-03-10 20:35] #74 closed

[2020-03-10 20:36] #73 closed

[2020-03-10 20:39] #66 closed

[2020-03-10 20:40] nicolevasilevsky commented on #179
closing, please reopen if needed

[2020-03-10 20:40] #179 closed

[2020-03-10 20:41] nicolevasilevsky commented on #169
closing, please reopen if needed

[2020-03-10 20:41] #169 closed

[2020-03-10 20:45] nicolevasilevsky commented on #156
I think this can be closed, please reopen if needed

[2020-03-10 20:45] #156 closed

[2020-03-10 21:03] nicolevasilevsky commented on #148
@yy20716 closing this, please reopen if you still see this issue

[2020-03-10 21:03] #148 closed

[2020-03-10 21:03] #149 closed

[2020-03-10 21:06] nicolevasilevsky commented on #324
related to #834

[2020-03-10 21:06] #319 closed

[2020-03-10 21:07] nicolevasilevsky commented on #318
MONDO_0054708

[2020-03-10 21:07] #318 closed

[2020-03-10 21:07] nicolevasilevsky commented on #315
MONDO_0044777

[2020-03-10 21:07] #315 closed

[2020-03-10 21:07] nicolevasilevsky commented on #312
MONDO_0044329

[2020-03-10 21:07] #312 closed

[2020-03-10 21:07] nicolevasilevsky commented on #311
MONDO_0054770

[2020-03-10 21:07] #311 closed

[2020-03-10 21:08] nicolevasilevsky commented on #310
MONDO_0033375

[2020-03-10 21:08] #310 closed

[2020-03-10 21:08] nicolevasilevsky commented on #309
MONDO_0033045

[2020-03-10 21:08] #309 closed

[2020-03-10 21:09] nicolevasilevsky commented on #305
MONDO_0054752

[2020-03-10 21:09] #305 closed

[2020-03-10 21:09] nicolevasilevsky commented on #304
MONDO_0054785

[2020-03-10 21:09] #304 closed

[2020-03-10 21:10] nicolevasilevsky commented on #302
MONDO_0054736

[2020-03-10 21:10] #302 closed

[2020-03-10 21:10] nicolevasilevsky commented on #299
MONDO_0054771

[2020-03-10 21:10] #299 closed

[2020-03-10 21:11] nicolevasilevsky commented on #297
MONDO_0040502

[2020-03-10 21:11] #297 closed

[2020-03-10 21:11] nicolevasilevsky commented on #296
MONDO_0054722

[2020-03-10 21:11] #296 closed

[2020-03-10 21:11] nicolevasilevsky commented on #293
MONDO_0054748

[2020-03-10 21:11] #293 closed

[2020-03-10 21:11] nicolevasilevsky commented on #291
MONDO_0054780

[2020-03-10 21:11] #291 closed

[2020-03-10 21:12] nicolevasilevsky commented on #290
MONDO_0033371

[2020-03-10 21:12] #290 closed

[2020-03-10 21:12] nicolevasilevsky commented on #289
MONDO_0033370

[2020-03-10 21:12] #289 closed

[2020-03-10 21:12] nicolevasilevsky commented on #288
MONDO_0033368

[2020-03-10 21:12] #288 closed

[2020-03-10 21:12] nicolevasilevsky commented on #287
MONDO_0033364

[2020-03-10 21:12] #287 closed

[2020-03-10 21:12] nicolevasilevsky commented on #285
MONDO_0054832

[2020-03-10 21:12] #285 closed

[2020-03-10 21:13] #180 closed

[2020-03-10 21:14] nicolevasilevsky commented on #185
Closing, please reopen if still needed

[2020-03-10 21:14] #185 closed

[2020-03-10 21:16] nicolevasilevsky commented on #284
MONDO_0054831

[2020-03-10 21:16] #284 closed

[2020-03-10 21:18] nicolevasilevsky commented on #262
I think these terms are in Mondo, need to add synonyms.
double check

[2020-03-10 21:23] nicolevasilevsky commented on #192
can this be closed?

[2020-03-10 21:25] nicolevasilevsky commented on #187
closing this, please reopen if needed

[2020-03-10 21:25] #187 closed

[2020-03-10 21:26] nicolevasilevsky commented on #355
@balhoff is this still needed?

[2020-03-10 21:30] #489 closed

[2020-03-10 22:45] nicolevasilevsky commented on #1243
<img width="1680" alt="Screen Shot 2020-03-10 at 3 44 36 PM" src="https://user-images.githubusercontent.com/6722114/76366058-23bfe480-62e6-11ea-8a72-ea19f07c92db.png">

It looks like it is using the correct definition annotation to me.

[2020-03-10 22:52] twhetzel commented on #1243
@zoependlington can you point out where you saw the other definition property used?

[2020-03-11 01:46] balhoff commented on #355
Looks like it is now being published at `http://purl.obolibrary.org/obo/mondo/mondo-base.owl`! So it was fixed at some point along the way.

It should be added to the products listing at OBO Foundry (as `mondo/mondo-base.owl`).

[2020-03-11 03:30] nicolevasilevsky commented on #1208
related to #808

[2020-03-11 03:30] nicolevasilevsky commented on #1208
note to self - stopped a line 11 (fixing duplicate definitions)

[2020-03-11 03:33] nicolevasilevsky commented on #1208
@cmungall is the best approach for me to manually fix the duplicate definitions? I can do this, but it is going to take a lot of time.

[2020-03-11 03:34] nicolevasilevsky commented on #1208
there are errors for multiple_equivalent_classes, which in Mondo, I don't think are actual errors (upon first glance)

[2020-03-11 08:25] paolaroncaglia commented on #11
@nicolevasilevsky (and @zoependlington )
I am looking into this, thanks!

[2020-03-11 09:34] paolaroncaglia commented on #11
@nicolevasilevsky (and @zoependlington )
My thoughts:

Kidney stone, renal lithiasis and nephrolithiasis mean the same thing (based on etimology; also see https://en.wikipedia.org/wiki/Kidney_stone_disease and https://www.mayoclinic.org/diseases-conditions/kidney-stones/symptoms-causes/syc-20355755)
- [ ] Hence, 'kidney stone' should be merged into/obsoleted in favor of 'nephrolithiasis';

Urolith

[2020-03-11 10:45] zoependlington commented on #1243
The OLS entry (https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0019472) has the definition (on the right) under http://purl.obolibrary.org/obo/def rather than IAO_0000115. I do see that it is annotated with IAO_0000115 in the owl version I have open in Protege. Very strange... All definitions displayed on the OLS version of Mondo seem to be this

[2020-03-11 15:33] paolaroncaglia commented on #834
@cmungall @nicolevasilevsky
Sorry to disturb you again about this (do let me know if you can't address this right now). I was hoping to start work on the list/spreadsheet of ORDO terms that you prepared, but I came across an issue, see my earlier comment in this ticket. If you have a chance, could you please address my question there? Thanks! :-)

[2020-03-11 19:37] nicolevasilevsky commented on #834
The question is for @cmungall, right?

Everything is okay in Portland (so far), I am more worried about you! Feel free to ping us anytime @paolaroncaglia.

[2020-03-11 20:25] nicolevasilevsky opened #1252 "[Obsolete] prostate carcinoma in situ [MONDO:0004623]"
**Mondo term (ID and Label)**
prostate carcinoma in situ [MONDO:0004623]

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0006234 'grade III prostatic intraepithelial neoplasia'

[2020-03-11 20:28] nicolevasilevsky opened #1253 "[Obsolete] MONDO_0002346 'malignant histiocytic disease'"
**Mondo term (ID and Label)**
MONDO_0002346 'malignant histiocytic disease'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0004612 'malignant histiocytosis'

[2020-03-11 20:30] nicolevasilevsky opened #1254 "[Obsolete] MONDO_0022463 'anophthalmia megalocornea cardiopathy skeletal anomalies'"
**Mondo term (ID and Label)**
MONDO_0022463 'anophthalmia megalocornea cardiopathy skeletal anomalies'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0015230 'anophthalmia-megalocornea-cardiopathy-skeletal anomalies syndrome'

[2020-03-11 20:34] nicolevasilevsky opened #1255 "[Obsolete] MONDO_0003703 'uterine corpus leiomyomatosis'"
**Mondo term (ID and Label)**
MONDO_0003703 'uterine corpus leiomyomatosis'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0003704 'uterine corpus diffuse leiomyomatosis'

[2020-03-11 20:52] nicolevasilevsky opened #1256 "[Obsolete] MONDO_0005457 acute stress reaction'"
**Mondo term (ID and Label)**
MONDO_0005457 acute stress reaction'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0003763	acute stress disorder'

[2020-03-11 20:58] nicolevasilevsky opened #1257 "[Obsolete] MONDO_0006667 B- and T-cell mixed leukemia'"
**Mondo term (ID and Label)**
MONDO_0006667 B- and T-cell mixed leukemia'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO:0020322	acute biphenotypic leukemia

[2020-03-11 21:01] nicolevasilevsky opened #1258 "[Obsolete] MONDO_0003161 benign ependymoma'"
**Mondo term (ID and Label)**
MONDO_0003161	benign ependymoma'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0016698	ependymoma

[2020-03-11 21:02] maglott opened #1259 "[Obsolete] halo nevus or halo nevi"
**Mondo term (ID and Label)**
MONDO_0009322 and MONDO_0006778

**Reason for deprecation**
seem to differ only in singular vs. plural

**Suggested replacement or term to consider**
probably keep the singular form

[2020-03-11 21:14] maglott opened #1260 "pulmonary valve stenosis vs. valvular pulmonary stenosis"
valvular pulmonary stenosis does not have a definition.  Is this stenosis of the pulmonary valve?  It is defined as a subtype of Congenital pulmonary valve stenosis by Orphanet, so it seems we have some duplication of concepts and need to review relationships.

MONDO_0020395 'valvular pulmonary stenosis'
MONDO_0006936 'pulmonary valve stenosis'

orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=31

[2020-03-11 22:06] nicolevasilevsky opened #1261 "[Obsolete] MONDO_0003106 verrucous keratotic hemangioma'"
**Mondo term (ID and Label)**
MONDO_0003106	verrucous keratotic hemangioma'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0018734	verrucous hemangioma'

[2020-03-11 22:08] nicolevasilevsky opened #1262 "[Obsolete] MONDO_0004845 aphthous stomatitis'"
**Mondo term (ID and Label)**
MONDO_0004845 aphthous stomatitis'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0005318	canker sore'

[2020-03-11 23:49] nicolevasilevsky opened #1263 "[Obsolete] MONDO_0003195 peritoneal serous adenocarcinoma'"
**Mondo term (ID and Label)**
MONDO_0003195	peritoneal serous adenocarcinoma'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0006386	primary peritoneal serous adenocarcinoma'

[2020-03-11 23:52] nicolevasilevsky opened #1264 "[Obsolete] MONDO_0001676 erythropoietic protoporphyria'"
**Mondo term (ID and Label)**
MONDO_0001676	erythropoietic protoporphyria'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0008319	protoporphyria, erythropoietic'

[2020-03-12 00:25] nicolevasilevsky opened #1265 "[Obsolete] MONDO_0002835 papillary transitional carcinoma'"
**Mondo term (ID and Label)**
MONDO_0002835	papillary transitional carcinoma'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0006350	papillary transitional cell carcinoma'

[2020-03-12 00:43] nicolevasilevsky opened #1266 "[Obsolete] MONDO_0002655 cutaneous Paget disease'"
**Mondo term (ID and Label)**
 MONDO_0002655 cutaneous Paget disease'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0008177	extramammary Paget disease'

[2020-03-12 00:50] nicolevasilevsky opened #1267 "[Obsolete] MONDO_0004300 intracortical osteogenic sarcoma'"
**Mondo term (ID and Label)**
MONDO_0004300	intracortical osteogenic sarcoma'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0002631	conventional osteosarcoma'

[2020-03-12 01:01] nicolevasilevsky opened #1268 "[Obsolete] MONDO_0003119 histiocytoid hemangioma'"
**Mondo term (ID and Label)**
MONDO_0003119	histiocytoid hemangioma'

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
MONDO_0021169 'epithelioid hemangioma'

[2020-03-12 01:22] nicolevasilevsky commented on #1208
note to self - stopped a line 79 (fixing duplicate definitions)

[2020-03-12 09:45] paolaroncaglia commented on #834
@nicolevasilevsky and @cmungall

Right :-)
Thank you for your concern and availability! All the best,
Paola

[2020-03-12 11:04] maglott opened #1269 "[Obsolete]continuous muscle fiber activity hereditary, MONDO_0022857"
**Mondo term (ID and Label)**
continuous muscle fiber activity hereditary, MONDO_0022857

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
hereditary continuous muscle fiber activity,  MONDO_0019943

[2020-03-12 15:17] nicolevasilevsky opened #1270 "[Obsolete] MONDO_0006440 systemic mastocytosis with associated clonal hematological non-mast-cell lineage disease'"
**Mondo term (ID and Label)**
**Note- I am suggesting obsoleting two terms**
- [x] MONDO_0006440	systemic mastocytosis with associated clonal hematological non-mast-cell lineage disease'
(EFO:1000559)

- [x] MONDO_0003148 SM-AHNMD

**Reason for deprecation**
duplicate
comment says: This is a place-holder for Orphanet term ORDO_98849 which is not currently part of the rare genetic disorders importe

[2020-03-13 11:35] maglott opened #1271 "review of OMIMPS PS256040 and its children"
MONDO_0009726  has children of CANDLE syndrome, JMP syndrome,Nakajo-Nishimura syndrome

The text of OMIM 256040 states
This disorder encompasses Nakajo-Nishimura syndrome (NKJO); joint contractures, muscular atrophy, microcytic anemia, and panniculitis-induced lipodystrophy (JMP syndrome); and chronic atypical neutrophilic dermatosis with lipodystrophy and elevated temperature syndrome (CANDLE). A

[2020-03-13 12:16] maglott opened #1272 "[Obsolete]Patau/Trisomy 13"
**Mondo term (ID and Label)**
MONDO_0001333 /Patau vs trisomy 13/MONDO_0018068

**Reason for deprecation**
GARD reports these as equivalent  https://rarediseases.info.nih.gov/diseases/7341/trisomy-13
GHR reports these as equivalent: https://ghr.nlm.nih.gov/condition/trisomy-13
NHS reports as equivalent: https://www.nhs.uk/conditions/pataus-syndrome/
**Suggested replacement or term to consider**

[2020-03-13 17:24] paolaroncaglia commented on #1153
@nicolevasilevsky
Sorry for the delay. Thanks for the heads up. The definition of the EFO term 'mucoepidermoid tumor' do point in the direction of it being a carcinoma ("...malignant epithelial tumor..."), so based on that and on GARD's comments, I'd agree with obsoleting in favor of 'mucoepidermoid carcinoma'. I'll open an EFO ticket.

[2020-03-13 19:18] nicolevasilevsky commented on #375
to do:

Obsolete MONDO_0003119 'histiocytoid hemangioma'
Term replaced by MONDO_0021169 'epithelioid hemangioma'

Reason - these are duplicates

[2020-03-13 19:40] nicolevasilevsky opened #1273 "[Obsolete] MONDO_0003553 'ampulla of vater adenosquamous carcinoma'"
[Obsolete] MONDO_0003553 'ampulla of vater adenosquamous carcinoma'

replace with: MONDO_0003490 'ampulla of vater squamous cell carcinoma'

I will send a request to NCIt, both of these terms have the same definition in NCIt, maybe that is a mistake.

Wait until I hear back from them.

[2020-03-13 19:45] nicolevasilevsky opened #1274 "[Obsolete] MONDO_0003500 squamous cell bile duct carcinoma'"
MONDO_0003500	squamous cell bile duct carcinoma'

replace with:
MONDO_0006203	extrahepatic bile duct squamous cell carcinoma'

reason:
duplicate

[2020-03-13 19:47] nicolevasilevsky opened #1275 "MONDO_0003549 adenosquamous bile duct carcinoma'"
MONDO_0003549	adenosquamous bile duct carcinoma'

replace with:
MONDO_0006202	extrahepatic bile duct adenosquamous carcinoma'

reason:
duplicate

[2020-03-13 19:54] nicolevasilevsky opened #1276 "[Obsolete] MONDO_0006060 nasopharyngeal squamous cell carcinoma'"
MONDO_0015459 'nasopharyngeal carcinoma'

replace with:
MONDO_0006060	nasopharyngeal squamous cell carcinoma'

Reason:
This term no longer exists in EFO and MESH and has a duplicate def with MONDO:0006060

[2020-03-13 19:58] nicolevasilevsky opened #1277 "[Obsolete] MONDO_0005948 Ritter disease'"
MONDO_0005948	Ritter disease'

replace with:
MONDO_0018181	staphylococcal scalded skin syndrome'

reason:
duplicate

[2020-03-13 20:05] nicolevasilevsky opened #1278 "[revise def] MONDO_0004990 breast tumor luminal A or B'"
MONDO_0004990	breast tumor luminal A or B'

this term is a grouping class for the A and B subtypes, but such a term does not exist in NCIt, and I can't find a proper definition for it online.

[2020-03-13 20:50] nicolevasilevsky opened #1279 "[Obsolete] MONDO_0006209 'fibroblastic neoplasm'"
MONDO_0006209 'fibroblastic neoplasm' has the same text def as MONDO_0005164 'fibrosarcoma (disease)'.

I sent a message to NCIt about merging or revising the text defs.

[2020-03-15 00:06] cmungall commented on #834
I'm investigating

This was a quick query intended just to give high profile candidates for obsoletion. There may be better ways of doing this

[2020-03-15 00:06] cmungall commented on #834
perhaps @ShahimEssaid could help with a query?

[2020-03-17 14:09] maglott opened #1280 "MONDO_0012205 and ORPHA:228169"
**Mondo term (ID and Label):**
MONDO_0012205/autosomal dominant striatal neurodegeneration type 1

**Xref that should be fixed (ID and label):**
ORPHA:228169/Autosomal dominant striatal neurodegeneration

**Other comments:**
ORPHA:228169 should be moved to MONDO_0000211/striatal degeneration, autosomal dominant

[2020-03-17 17:01] nicolevasilevsky opened #1283 "update OMIM and Orphanet ingest"
in the last meeting, we discussed that updating the OMIM and Orphanet ingests are high priority.

As part of this process, we need to ensure the pipeline for updating OMIM and Orphanet is properly documented so it is runnable by @ShahimEssaid/ @wdduncan / @nicolevasilevsky / @matentzn

- [x] @cmungall update OMIM source to latest version
- [x] @cmungall update Orphanet source to latest version

Ul

[2020-03-17 17:20] nicolevasilevsky commented on #1173
related to #1283

[2020-03-17 17:58] pnrobinson commented on #1262
These are not 100% the same thing (aphthous stomatitis can have multiple canker sores). I think that canker sore is probably best as an HPO term.

[2020-03-17 17:59] pnrobinson commented on #1263
These are not 100% the same, ,I think, see
http://www.ccij-online.org/article.asp?issn=2278-0513;year=2015;volume=4;issue=4;spage=551;epage=554;aulast=Heda

I think that peritoneal serous adenocarcinoma can also refer to other tissues of origin.

[2020-03-17 18:00] pnrobinson commented on #1274
Not synonyms, see
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6187985/

[2020-03-17 18:17] nicolevasilevsky commented on #11
@paolaroncaglia I added 'urolithiasis' as a parent of 'nephrolithiasis' but also kept 'kidney disease' as a parent. Does that work?

[2020-03-17 18:34] nicolevasilevsky commented on #1262
Thanks @pnrobinson! I appreciate your comments.
HPO has HP:0032154 Aphthous ulcer (with the syn Canker sore).
I added this as an xref to the Mondo term and updated the def.

[2020-03-17 19:49] nicolevasilevsky commented on #1274
Thank you for the feedback @pnrobinson!

[2020-03-17 20:19] nicolevasilevsky commented on #1200
This one is a bit tricky, because the NCIt definition is what we'd describe as a cancer, not a tumor. I made all of the tumor synonyms related instead of exact, but I think we should keep the equiv xref to NCIT, because the def of this term describes a cancer.

@paolaroncaglia and @cmungall let me know if you disagree or you would prefer I do something else.
Thanks!

[2020-03-17 20:20] nicolevasilevsky commented on #1263
Thanks @pnrobinson!

[2020-03-17 21:13] nicolevasilevsky commented on #1214
I added the superclass of
- 'granulomatosis with polyangiitis'

and removed the following superclass of assertions:
- 'systemic inflammatory disease associated with an acquired peripheral neuropathy'
- 'non-familial rare disease with dilated cardiomyopathy'
- 'secondary glomerular disease'

[2020-03-17 21:43] nicolevasilevsky commented on #1175
emailed Ana on 03/17/20

[2020-03-17 21:54] nicolevasilevsky commented on #395
related to #1208

[2020-03-17 22:18] nicolevasilevsky opened #1292 "add instructions on how to generatee robot report to dev guide"
cd git/mondo/src/ontology
./run.sh make reports/release/mondo-owl-report.tsv

[2020-03-18 00:02] nicolevasilevsky commented on #1167
@annieolry I think we should keep this term, per your suggestion.

I added an annotation to the OMIM xref to note the OMIM term is obsolete (I think this is the correct approach for Mondo.)

[2020-03-18 08:04] ana-rath-orphanet commented on #1175
Hello. This group is included in Rare genetic diseases (so in Orphanet, there is a link to genetic diseases: please check that in MONDO) and allows to group CHD for which a gene is known or that are familial. It is populated following the discovery of new genes. Obsoleting is, for me, losing the info on what CHD care of genetic origin (known or supposed based on inheritance).
@pnrobinson "genetic"

[2020-03-18 09:23] paolaroncaglia commented on #834
@cmungall Thank you for following up on this. May I please ask if you or @nicolevasilevsky heard back from @ShahimEssaid about possibly helping with a query? I understand if the health emergency makes it difficult to progress on this. When you can, please let me know where we are with this; because if you need more time, no problem at all, I'm happy to start looking at the list of high profile can

[2020-03-18 15:22] paolaroncaglia commented on #1216
Hi @nicolevasilevsky ,

Would you please consider adding the following synonyms too, to MONDO_0100096 '2019 novel coronavirus infection', to aid in text searches (e.g., OpenTargets monitor these terms to investigate the available data):

SARS-coronavirus 2
2019 novel coronavirus
2019-nCoV

Also (see https://en.wikipedia.org/wiki/Betacoronavirus):
β-coronavirus
betacoronavirus
β-CoV
β-CoVs
beta-CoV

[2020-03-18 16:47] nicolevasilevsky commented on #1216
yes, will do!

[2020-03-18 18:11] nicolevasilevsky commented on #834
I just pinged @ShahimEssaid again. I know he has a lot of deadlines right now, so you could proceed without him @paolaroncaglia that would be great. Hopefully Shahim will be able to comment here soon.

Thanks!

[2020-03-19 01:16] nicolevasilevsky commented on #1175
@ana-rath-orphanet sounds like it is best to leave the term in Mondo, as is.

Hopefully everyone is okay with that. I'll add a comment with a link to this ticket in the ontology.

Please reopen if you would like to continue to discuss.

[2020-03-19 01:21] courtneythaxton commented on #1175
Well one compromise would be to use a different term than "genetic" due to the ambiguity. In other instance the word "hereditary" or even "familial" has been used.

For example for cardiomyopathy MONDO current has familial  hypertropchc cardiomyopathy ([MONDO:0024573](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0024573&viewMode=All&siblings=f

[2020-03-19 02:08] nicolevasilevsky commented on #1175
I like that idea, Courtney!

[2020-03-19 02:30] nicolevasilevsky commented on #1175
Ok - I relabeled the term to 'genetic cardiac malformation' and added synonyms.

[2020-03-19 06:24] ana-rath-orphanet commented on #1175
We are working on the nomenclature of he whole group (Pas and synonyms), will keep you posted
Ana

Dr.Ana Rath
Directrice / Director
Inserm US14 - Orphanet

Coordinator of RD-CODE, Codification for rare diseases in health information systems
Coordinator of HIPBI-RD - Harmonizing information on phenomics for a better
interoperability in the rare diseases field

Coordinator of RD-ACTION, European Jo

[2020-03-19 10:51] maglott commented on #1175
Please note: (https://www.medicinenet.com/script/main/art.asp?articlekey=3378)
Familial: A condition that tends to occur more often in family members than is expected by chance alone. A familial disease may be genetic (such as cystic fibrosis) or environmental (such as chicken pox).

That distinction was certainly hammered into those applying MeSH terms to articles in PubMed.

[2020-03-19 11:29] maglott commented on #230
Encountered this again with review of managment for NCBI.  Given that  familial thrombocytosis is an explicit term AND and an exact synonym for essential thrombocythemia, seems cleanup is warranted.

[2020-03-19 11:47] courtneythaxton commented on #1175
Fair enough @maglott on familial. Would there be an objection to the use of hereditary then?

This are several examples of derivatives in medicine net:
**Hereditary mutation:** https://www.medicinenet.com/script/main/art.asp?articlekey=3723
**Definition:** A gene change that occurs in a germ cell (an egg or a sperm) and is then incorporated into every cell in the developing body of the new organis

[2020-03-19 11:50] courtneythaxton commented on #1175
Actually looking at the initial request, it seems that there were other diseases that are child terms that were familial, and not necessarily genetic. So I think it would be good to consider if you want to keep the same classes grouped, that "Familial cardiac malformation" may be more appropriate for the term at this time.

Then one can consider adding a child term that deals specifically with the

[2020-03-19 11:54] pnrobinson commented on #1175
Well, some of these diseases clearly have genetic influences but do not run in families, e.g. tetralogy of Fallot.
Why not say "Developmental cardiac malformation" as the upper level term?

[2020-03-19 16:37] nicolevasilevsky commented on #1175
Thanks all for the discussion!

Here is what we have right now :
![image](https://user-images.githubusercontent.com/6722114/77090862-fef1fe00-69c4-11ea-90b5-1e1785fbd91b.png)

Sounds like @ana-rath-orphanet is working on the nomenclature, so it's probably best that I wait for her, and then I'll revise accordingly.

[2020-03-19 23:38] nicolevasilevsky commented on #403
@ahamosh Yes, from my understanding, eosinophilic gastritis is distinct from eosinophilis esophagitis

[2020-03-19 23:38] nicolevasilevsky commented on #403
looks like 'eosinophilic gastritis' and 'eosinophilic gastroenteritis' are synonyms according to NORD:
https://rarediseases.org/rare-diseases/eosinophilic-gastroenteritis/

[2020-03-19 23:45] ahamosh commented on #403
gastritis is stomach inflammation.  gastroenteritis is stomach and intestine inflammation.  They are not exact synonyms.   I am not sure that this is important, but they are not exactly the same.

[2020-03-19 23:48] nicolevasilevsky commented on #403
Thanks @ahamosh! I won't merge them.

[2020-03-20 15:29] paolaroncaglia commented on #1200
Pinging @zoependlington as she opened this ticket, just so this doesn't get lost (I know Zoe's busy with another task atm).

[2020-03-20 17:31] paolaroncaglia commented on #1283
@nicolevasilevsky
@cmungall
(cc @zoependlington )

Wrt the last item, should I then wait before looking at the list/spreadsheet in https://github.com/monarch-initiative/mondo/issues/834? To avoid looking into terms that may potentially not be in Orphanet any more, or that may not make it into Mondo? Asking as I'm not sure about your strategy/procedure/timeline. Please ignore me if this is not rele

[2020-03-23 15:03] AsierGonzalez opened #1304 "[Revise subclass] Alzheimer disease 2 (MONDO_0007089) no early-onset AD"
**Mondo term (ID and Label)**
`Alzheimer disease 2` ([MONDO_0007089](http://purl.obolibrary.org/obo/MONDO_0007089))

**Suggested revision and reasons**
This term is currently a child of `early-onset autosomal dominant Alzheimer disease` ([MONDO_0015140](http://purl.obolibrary.org/obo/MONDO_0015140)). However, according to the information in the page of the related OMIM term [OMIM_104310](https://w

[2020-03-23 18:52] maglott opened #1305 "[Obsolete]MONDO_0007796/hypoparathyroidism, familial isolated"
**Mondo term (ID and Label)**
MONDO_0007796/hypoparathyroidism, familial isolated

**Reason for deprecation**
matches, with word order changed, its parent
familial isolated hypoparathyroidism/MONDO_0016390

**Suggested replacement or term to consider**
remove MONDO_0007796/hypoparathyroidism, familial isolated and make its children children of MONDO_0016390

[2020-03-23 22:53] nicolevasilevsky commented on #1253
From NCIT:
malignant histiocytosis/malignant histiocytic disease are obsolete terms in NCIT

[2020-03-23 23:02] nicolevasilevsky commented on #1273
Update - NCIT said they updated the definition for Ampulla of Vater adenosquamous carcinoma or ampulla of Vater squamous cell carcinoma.

I asked Sherri for the new def.

[2020-03-23 23:35] nicolevasilevsky commented on #1305
these look equivalent to me too.

@ana-rath-orphanet @ahamosh

[2020-03-23 23:49] nicolevasilevsky commented on #1260
Good question @maglott

@ana-rath-orphanet could you comment on this?

[2020-03-23 23:50] nicolevasilevsky commented on #1260
The text def of 'pulmonary valve stenosis' is:
The pathologic narrowing of the orifice of the pulmonary valve. This lesion restricts blood outflow from the right ventricle to the pulmonary artery. When the trileaflet valve is fused into an imperforate membrane, the blockage is complete.

[2020-03-23 23:51] nicolevasilevsky commented on #1260
My brief google search suggests these two terms are equivalent.

[2020-03-24 01:28] ahamosh commented on #1305
Agree.

[2020-03-24 05:07] nicolevasilevsky commented on #402
Action items:
- [ ] merge MONDO_0015078 gastroenteropancreatic neuroendocrine neoplasm with MONDO_0024503 'digestive system neuroendocrine neoplasm'
- [ ] remove comment from 'digestive system neuroendocrine tumor, grade 1/2'

[2020-03-24 05:31] nicolevasilevsky commented on #412
there is no longer a comment here. Closing.

[2020-03-24 05:31] #412 closed

[2020-03-24 05:34] nicolevasilevsky commented on #413
these are two separate classes in orphanet, so they probably should not be merged.

I am going to remove the comment.

[2020-03-24 05:39] nicolevasilevsky commented on #414
- [ ] obsolete MONDO_0018399 'rare disorder with female infertility due to a congenital hypogonadotropic hypogonadism' and merge with MONDO_0018398 'female infertility due to a congenital hypogonadotropic hypogonadism'
- [ ] add subClassOf axiom  'female infertility due to a congenital hypogonadotropic hypogonadism'and 'has modifier' some 'rare'

[2020-03-24 05:56] nicolevasilevsky commented on #415
Looking at this more closely, I think it should just be renamed to remove the 'rare' and add a subClass Of assertion 'has modifier' some rare.

A constitutional cytogenetic abnormality is that which occurs from birth.

[2020-03-24 06:02] nicolevasilevsky commented on #415
The children should be renamed too to remove the 'rare'

[2020-03-24 07:44] ana-rath-orphanet commented on #1260
Hello
Both concepts are not the same, but hierarchically dependent. see the classification, based on IPCCC:
 Congenital pulmonary valve stenosis ORPHA:3189
       Subpulmonary stenosis ORPHA:3190
       Supravalvular pulmonary stenosis ORPHA:3192
       Valvular pulmonary stenosis ORPHA:99054

We need to correct the latter to "valvar" instead of "valvular" and that will make things much more clear

[2020-03-24 07:46] ana-rath-orphanet commented on #1260
the classification format in my comment disappeared : ORPHA:3189 is the parent of the other three ;)

[2020-03-24 09:50] paolaroncaglia commented on #1216
@nicolevasilevsky
We've been asked to include SnomedCT and NHS digital codes for Covid19. As we'll be importing MONDO_0100096 '2019 novel coronavirus infection', could you please add those as cross-references? Details for the Snomed codes are here: http://www.snomed.org/news-and-events/articles/march-2020-interim-snomedct-release-COVID-19
We're still on the hunt for the exact NHS digital terminolo

[2020-03-24 13:44] paolaroncaglia commented on #1216
@nicolevasilevsky
Quick update: looks like the NHS digital code is not public yet; could you please prioritize addition of the SnomedCT xref above for the coming Mondo release? That'd be really helpful. Thanks!

[2020-03-24 16:42] #413 closed

[2020-03-24 16:52] nicolevasilevsky commented on #1260
Thanks @ana-rath-orphanet!

[2020-03-24 17:36] abbe-Lai opened #1312 "MONDO:0018838_Brain Malformation Group"
**Mondo term (ID and Label):**
lissencephaly (disease)
MONDO:0018838

**Suggested new label:**
Lissencephaly Spectrum Disorders

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
Lissencephaly is a spectrum of gyral abnormalities. Lissencephaly, pchygyria and subcortical band heterotopia are known to be caused by the same genes. The distinction between these ra

[2020-03-24 20:16] nicolevasilevsky commented on #1216
@paolaroncaglia - nice, feel free to use the 'high priority' tag all that you want. :)

I added this xref and synonyms. Thanks for your help with this!

[2020-03-24 20:17] #1312 closed

[2020-03-24 20:18] #403 closed

[2020-03-24 20:20] #1263 closed

[2020-03-24 20:25] nicolevasilevsky commented on #1273
From NCIT:
Ampulla of Vater Adenosquamous Carcinoma
A carcinoma with glandular and squamous differentiation arising from the ampulla of Vater. Signs and symptoms include jaundice, abdominal pain, anorexia, nausea, vomiting, and weight loss.

Ampulla of Vater Squamous Cell Carcinoma
A carcinoma with squamous differentiation arising from the ampulla of Vater. Signs and symptoms include jaundice, abd

[2020-03-24 21:16] nicolevasilevsky commented on #176
this is done. closing

[2020-03-24 21:16] #176 closed

[2020-03-24 21:18] nicolevasilevsky commented on #210
I think this has been addressed. closing

[2020-03-24 21:18] #210 closed

[2020-03-24 21:21] nicolevasilevsky commented on #229
@ana-rath-orphanet

[2020-03-24 22:13] #335 closed

[2020-03-24 22:15] #1273 closed

[2020-03-24 22:24] nicolevasilevsky commented on #443
Here is another paper:
ncbi.nlm.nih.gov/pubmed/16410089

This is interesting but I am not sure if it is in scope for Mondo. NCIt has conjoined twins as a subclass of 'finding': https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C98903&viewMode=All&siblings=false

I am going to close this, but please reopen if needed.

[2020-03-24 22:24] #443 closed

[2020-03-24 22:30] #418 closed

[2020-03-24 22:42] nicolevasilevsky commented on #471
@GARDinfocenter and @ahamosh
Do you think it would be accurate to classify these terms as subclasses of MONDO_0001558 'Potter syndrome'?

-MONDO_0001558 'Potter syndrome'
--MONDO_0033004 'polycystic kidney disease 4'
--MONDO_0018470 'renal agenesis (disease)'
--MONDO_0008263 'polycystic kidney disease 1'

@GARDinfocenter, Chris mentioned above that you have 3 subtypes - are those the subtypes list

[2020-03-24 23:49] #401 closed

[2020-03-24 23:54] nicolevasilevsky commented on #137
looks like this is done. closing.

[2020-03-24 23:54] #137 closed

[2020-03-24 23:56] nicolevasilevsky commented on #143
this def and xref are on 'aplasia cutis-myopia syndrome'.

these terms should be merged.

[2020-03-24 23:56] #143 closed

[2020-03-24 23:57] nicolevasilevsky opened #1327 "[Obsolete] MONDO_0021910 'aplasia cutis myopia'"
**Mondo term (ID and Label)**
MONDO_0021910 'aplasia cutis myopia'

**Reason for deprecation**
duplicates

**Suggested replacement or term to consider**
MONDO_0010988 'aplasia cutis-myopia syndrome'

See https://github.com/monarch-initiative/mondo/issues/143

[2020-03-25 00:00] #168 closed

[2020-03-25 00:02] nicolevasilevsky commented on #172
I'm not sure these two are synonymous. If you like, please reopen. It would be great to have a reference, if possible.

[2020-03-25 00:02] #172 closed

[2020-03-25 00:07] nicolevasilevsky commented on #34
This wasn't done, there are still a lot of terms with MR in the label.

[2020-03-25 00:20] nicolevasilevsky opened #1329 "[Obsolete] MONDO_0012234 'LI-Fraumeni syndrome 3'"
**Mondo term (ID and Label)**
MONDO_0012234 'LI-Fraumeni syndrome 3'

**Reason for deprecation**
OMIM merged these terms

**Suggested replacement or term to consider**
MONDO_0007903 'Li-Fraumeni syndrome 1'

[2020-03-25 00:22] nicolevasilevsky commented on #482
these terms should be merged, I created a new ticket:
https://github.com/monarch-initiative/mondo/issues/1329

[2020-03-25 00:22] #482 closed

[2020-03-25 00:23] #483 closed

[2020-03-25 09:31] paolaroncaglia commented on #1216
@nicolevasilevsky
Thanks so much for your prompt help with this!
May I please bother you again with a couple more related requests.

- [ ] I'm afraid I can't see a commit linked here showing addition of SnomedCT codes to MONDO_0100096 '2019 novel coronavirus infection' (https://github.com/monarch-initiative/mondo/issues/1216#issuecomment-603138551). I'm probably missing something, but double-check

[2020-03-25 10:20] pnrobinson commented on #419
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0006451 is Thymic carcinoma, which is NOT a synonym.

It looks the the MONDO Thymus carcinoma part only partially reflects NCI
https://ncithesaurus.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&version=20.02d&ns=ncit&code=C7569&key=n1452933576&b=1&n=null#

Probably this needs so

[2020-03-25 10:23] pnrobinson commented on #420
This seems reasonable.
A bigger problem is that

chorea -> huntington-disease like symptom -> dementia
thus chorea is a dementia which is not true.

I would suggest obsoleting the class "Huntington-disease like symptom"!

[2020-03-25 10:26] pnrobinson commented on #421
MONDO_0009730 seems to come from
https://omim.org/entry/256150
The issue is that this OMIM entry is "legacy" and it is no longer possible to actually know what disease the publications referred to. It is not a big problem to merge it though.

[2020-03-25 10:28] pnrobinson commented on #422
This suggestion jibes with NCI
https://ncithesaurus.nci.nih.gov/ncitbrowser/pages/concept_details.jsf?dictionary=NCI_Thesaurus&version=20.02d&code=C3269&ns=ncit&type=synonym&key=n494182563&b=1&n=0&vse=null

[2020-03-25 16:24] nicolevasilevsky commented on #420
I can remove the superclass assertion to 'Huntington disease-like syndrome'. This is related to #https://github.com/monarch-initiative/mondo/issues/834

[2020-03-25 18:07] #229 closed

[2020-03-25 18:08] #419 closed

[2020-03-25 19:13] nicolevasilevsky commented on #1283
Hi @paolaroncaglia there isn't a timeline in place yet to update Orphanet, it probably will be delayed for a bit due to other competing priorities and all the other craziness.

[2020-03-25 19:19] nicolevasilevsky commented on #1283
If you need this more urgently, let me know.

[2020-03-26 02:37] nicolevasilevsky commented on #1216
Done! These suggestions are great, please let me know if there are any other xrefs you come across. Thank you @paolaroncaglia

[2020-03-26 13:19] GARDInfoCenter commented on #471
@nicolevasilevsky -There seems some debate among the community as to whether Potter sequence and Potter syndrome should be used interchangeably. Some feel that "syndrome" is not the best term to use. For this reason, GARD has decided to list Potter sequence as the primary term and Potter syndrome and Oligohydramnios sequence as synonyms to it.

Potter sequence refers to a characteristic group of f

[2020-03-26 14:04] maglott opened #1333 "[Obsolete]Orphanet_502434 vs OMIM_617635"
**Mondo term (ID and Label)**
MONDO_0030912/intellectual disability, autosomal dominant 47
MONDO_0044716/STAG1-related intellectual disability-facial dysmorphism-gastroesophageal reflux syndrome

**Reason for deprecation**
Orphanet is the source of MONDO_0044716 and it references OMIM 617635
OMIM is the source of MONDO_0030912

If these represent the same concept, then we should have only one ID i

[2020-03-26 17:02] paolaroncaglia commented on #1216
@nicolevasilevsky thank you for incorporating our requests so promptly. We don't have any others at the moment :-)

[2020-03-26 17:19] paolaroncaglia commented on #834
@nicolevasilevsky
Based on https://github.com/monarch-initiative/mondo/issues/1283#issuecomment-604033234, Zoe and I fear that any work on current Orphanet terms in Mondo may risk being "over-written" by an upcoming update of the Orphanet ingest. So the tasks discussed in recent comments in this thread may best be delayed. We'll discuss internally at EFO, and will then catch up with you at our nex

[2020-03-26 17:20] paolaroncaglia commented on #1283
@nicolevasilevsky Thanks. I commented here https://github.com/monarch-initiative/mondo/issues/834#issuecomment-604560302, and we can catch up at our next EFO-Mondo meeting, or sooner if necessary.

[2020-03-26 21:03] maglott opened #1334 "[Obsolete]eagle syndrome or elongated styloid process syndrome"
**Mondo term (ID and Label)**
MONDO_0023035 | eagle syndrome | MONDO_0023037 | elongated styloid process syndrome

**Reason for deprecation**
These seem to be treated as equivalent:
https://rarediseases.info.nih.gov/diseases/9401/index
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5529782/
https://en.wikipedia.org/wiki/Eagle_syndrome
**Suggested replacement or term to consider**
GARD uses Eagle syn

[2020-03-26 21:07] nicolevasilevsky commented on #834
Good point! It is my understanding that the new Orphanet ingest will not override any work that has currently been done though (as we've made a lot of changes already.)

I hope you don't mind putting this off. it's okay to delay on our end.

[2020-03-26 21:07] maglott opened #1335 "[Obsolete]Aksu von Stockhausen syndrome vs aksu von stockhausen syndrom"
**Mondo term (ID and Label)**

MONDO_0021836 | Aksu von Stockhausen syndrome | MONDO_0022406 | aksu von stockhausen syndrome

**Reason for deprecation**
duplicate

**Suggested replacement or term to consider**
retain MONDO_0021836 | Aksu von Stockhausen syndrome because it has expected capitalization

[2020-03-26 21:48] nicolevasilevsky commented on #471
Thank you Maria (@GARDInfoCenter)!

Action items:
- [ ] relabel to Potter sequence
- [ ] make Potter syndrome an exact syn

I will **not** add subclasses to Potter sequence, as I mentioned above.

There does seem to be a causal relationship between polycystic kidney disease and renal agenesis, I will add axioms to encode this and @cmungall can let me know if this is the correct approach.

@GARDInf

[2020-03-26 22:24] #93 closed

[2020-03-26 22:26] #92 closed

[2020-03-26 22:53] cmungall opened #1339 "Update ordo/omim alignments"

[2020-03-26 23:24] #425 closed

[2020-03-26 23:32] nicolevasilevsky opened #1341 "[NTR] Should we add subclasses of COVID-19?"
**name:** pneumonia caused by SARS-CoV-2
**def:** A pneumonia caused by infection with SARS-CoV-2.
**synonym:** pneumonia caused by SARS-CoV-2SARS-CoV-2"
**synonym:** pneumonia caused by SARS-CoV-2
**synonym:** pneumonia caused by severe acute respiratory syndrome coronavirus 2

**name:** upper respiratory tract infection caused by SARS-CoV-2
**def:** An upper respiratory tract infection caused by

[2020-03-26 23:40] pnrobinson commented on #1341
Is "2019 novel coronavirus" actually the written out name? I thought it was "coronavirus disease of 2019" (Question -- I do not know but it sounds odd)

Whether or not to make subsets like this gets back to the lumper/splitter debate. One argument against splitting is that it is unlikely that a patient "only" has pneumonia etc, since the virus can be at multiple body sites. An argument for splitti

[2020-03-26 23:40] #1150 closed

[2020-03-26 23:44] cmungall opened #1342 "Add design pattern for 'primary X'"

[2020-03-26 23:45] nicolevasilevsky commented on #1341
I just updated the primary label to COVID-19, but looks like 'coronavirus disease 2019' should be the exact synonym. I'll fix this.

https://www.cdc.gov/coronavirus/2019-ncov/downloads/2019-ncov-factsheet.pdf

[2020-03-26 23:47] cmungall commented on #1341
The more general question is: do we add a DP for disease classified by sequelae? does this lead to ICD10?

[2020-03-26 23:49] #1241 closed

[2020-03-26 23:58] nicolevasilevsky commented on #1341
there are a few examples of this in Mondo already, for example:
'pneumonia caused by chlamydia'
'pneumonia caused by gram negative bacteria'
'bacterial meningitis caused by gram-negative bacteria'
'cytomegalovirus pneumonia'

[2020-03-27 00:00] nicolevasilevsky commented on #1341
We have this pattern in Mondo:

MONDO:patterns/specific_infectious_disease_by_agent

[2020-03-27 00:01] #491 closed

[2020-03-27 00:06] nicolevasilevsky commented on #1208
I believe I am done fixing duplicate definitions (or I created a ticket to obsolete duplicate terms)

[2020-03-27 00:07] #1213 closed

[2020-03-27 00:08] #488 closed

[2020-03-27 00:09] #75 closed

[2020-03-27 00:12] #416 closed

[2020-03-27 00:14] #1304 closed

[2020-03-27 00:21] #487 closed

[2020-03-27 00:23] #1200 closed

[2020-03-27 00:29] #1274 closed

[2020-03-27 00:33] #397 closed

[2020-03-27 00:36] #1280 closed

[2020-03-27 09:58] AsierGonzalez commented on #1304
Thank you @nicolevasilevsky

[2020-03-27 12:33] maglott commented on #1341
Given that a name as been assigned to this virus, should SARS-CoV-2 be used instead for the virus?
https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=2697049

[2020-03-27 12:35] GARDInfoCenter commented on #471
@nicolevasilevsky Thanks. We'll fix the typo.

[2020-03-27 14:15] maglott opened #1344 "isolated trigonocephaly and PS190440"
**Mondo term (ID and Label):**
trigonocephaly/MONDO:0000156
isolated trigonocephaly/ MONDO:0018065

**Xref that should be fixed (ID and label):**
OMIMPS:PS190440 should not be connected to trigonocephaly (the finding) but to MONDO:0018065, based on the name assigned to the phenotypic seriies
https://www.omim.org/phenotypicSeries/PS190440

**Other comments:**
I think trigonocephaly is a clinical fe

[2020-03-27 16:44] nicolevasilevsky commented on #1341
@maglott Good point, yes, if we decide we want to add these terms, I think we should use the NCBI taxon name.

[2020-03-27 17:18] cmungall opened #1345 "mitochondrial complex III deficiency - introduce subtypes for nuclear vs mt?"
new ps for nuclear type OMIMPS:124000

include a separate class? Currently we don't have any subtypes for the MT subtypes, these are not in omim...?

sub-issue of #1339

[2020-03-27 17:38] cmungall opened #1346 "postaxial polydactyly"
review these. there may be some confusion. e.g. classification under fingers when can affect toes

[2020-03-27 18:06] cmungall opened #1347 "nasu-hakola"
https://omim.org/entry/221770

became
https://omim.org/phenotypicSeries/PS221770

ordo class groups both
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http://www.orpha.net/ORDO/Orphanet_2770

[2020-03-27 18:19] cmungall opened #1348 "split juvenile myoclonic epilepsy"
this groups a generic disease and a gene-specific subtype

[code]

[2020-03-27 18:23] cmungall commented on #1348
https://omim.org/entry/254770

EPILEPSY, MYOCLONIC JUVENILE; EJM

Alternative titles; symbols

MYOCLONIC EPILEPSY, JUVENILE; JME
PETIT MAL, IMPULSIVE
JANZ SYNDROME

Other entities represented in this entry:

MYOCLONIC EPILEPSY, JUVENILE, SUSCEPTIBILITY TO, 1, INCLUDED; EJM1, INCLUDED

the entry is named generically, the same as the PS https://omim.org/phenotypicSeries/PS254770

but it refers to a

[2020-03-29 17:09] maglott opened #1351 "dystonia from GeneReviews, take 2"
https://www.ncbi.nlm.nih.gov/books/NBK1155/table/dystonia-ov.T.nomenclature_system_for_in/?report=objectonly

1. add the terms in the column 'New Designation & Phenotypic Subgroup' as synonyms
2. move DYT-KMT2B under isolated dystonia
3. check all the other relationships
--I checked dopa-responsive dystonia and it looks OK

[2020-03-30 21:29] #402 closed

[2020-03-30 21:37] dnahotline commented on #1341
SARS-CoV-2 is the virus and COVID-19 is the disease.

[2020-03-30 21:40] mellybelly commented on #1341
@cgchute was involved in the original naming, can you comment here?

[2020-03-30 21:42] nicolevasilevsky commented on #1341
@dnahotline can you please clarify?

The suggested terms above are:
[disease] caused by [virus name]
[disease] = pneumonia or upper respiratory tract infection

Are you suggesting a revision to those disease names?

[2020-03-30 21:44] nicolevasilevsky commented on #1341
Currently, the Mondo disease class is named COVID-19 (MONDO_0100096). This will be available in the next release.

[2020-03-30 21:50] cgchute commented on #1341
I agree with the above statement "SARS-CoV-2 is the virus and COVID-19 is the disease."  The disease was named by WHO to mean nothing more than the SARS variant that caused the "COrona VIrus Disease" starting in 2019.  They had an allergy to SARS, and specific geographical references like MERS.

[2020-03-30 21:53] cgchute commented on #1341
I am not sure what MONDO considers a class.  The class in my mind is corona virus disease, that would include SARS, MERS, and COVID-19, and probably others.  The leaf rubric is COVID-19.

[2020-03-30 21:58] nicolevasilevsky commented on #1341
@cgchute that is the question here. :) Whether we want to add `pneumonia caused by SARS-CoV-2` and `upper respiratory tract infection caused by SARS-CoV-2` as new classes.

You bring up a good point - SARS and MERS should be subclasses of MONDO_0005719 'coronavinae infectious disease', right? Aka siblings of COVID-19?

It doesn't look like we have MERS in Mondo, from what I can tell. I'll create a

[2020-03-30 22:00] nicolevasilevsky opened #1354 "[NTR] MERS"
**Preferred term label:**
Middle East Respiratory Syndrome

**Synonyms**
MERS

https://www.cdc.gov/coronavirus/mers/index.html

related to https://github.com/monarch-initiative/mondo/issues/1341

[2020-03-30 22:01] nicolevasilevsky opened #1355 "[Revise subclass] 'severe acute respiratory syndrome'"
**Mondo term (ID and Label)**
'severe acute respiratory syndrome'

**Suggested revision and reasons**
should be a child of MONDO_0005719 'coronavinae infectious disease'

related to #1341

[2020-03-30 22:01] dnahotline commented on #1341
Looking forward to futher outbreaks I like how Chris puts it. There will be lots of COVID (SARS, MERS etc) from many types of corona viruses.
WRT to disease it seems ARDS should be there. Not all ARDS is caused by COVID-19, nor is all pneumonia or URT infection.

[2020-03-30 22:04] nicolevasilevsky commented on #1341
we do have ARDS:
MONDO_0006502 'adult respiratory distress syndrome'

[2020-03-30 22:04] dnahotline commented on #1341
I mean we are not "looking forward" with happiness to other outbreaks...it's just that we know future outbreaks are coming. Just like people knew this one was coming. Especially now that SARS-Cov-2 is spreading in so many areas with lots of different animals that can be co-infected and have chances to recombine. Thus, there should be room in this naming strategy to allow new coronaVs and decendent

[2020-03-30 22:06] nicolevasilevsky commented on #1354
https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C128424

[2020-03-30 22:06] dnahotline commented on #1341
It is Acute resp distress syndrome, not adult

[2020-03-30 22:08] pnrobinson commented on #1341
ARDS was pretty common before COVID and we definitely need a MONDO term for it.
There are subclassifications, e.g.
https://www.ncbi.nlm.nih.gov/pubmed/25393701
I am not aware of whether any classifications are generally accepted, but we might want to cite this paper somewhere

[2020-03-30 22:13] #1260 closed

[2020-03-30 22:13] #415 closed

[2020-03-30 22:30] jmcmurry commented on #1341
We should also make room for the distinction between viral pneumonia and that it increases susceptibility to bacterial superinfection, and that is often the kiss of death.

[2020-03-30 22:43] nicolevasilevsky commented on #471
Talking to Shahim, sounds like the casual relationships I added were not the correct approach. He is going to look at this further.

[2020-03-30 23:10] nicolevasilevsky opened #1356 "Documentation: annotation usage"
need to document all the annotation usage for editors

such as:
Mondo:equivalentTo
Mondo:obsoleteEquvialent
etc
etc

[2020-03-30 23:10] nicolevasilevsky commented on #1356
- [ ] need to figure out all the possible annotations
- [ ] create a page with annotations and how they should be used

[2020-03-30 23:13] nicolevasilevsky opened #1357 "Documentation: need a description of the type of knowledge that Mondo is capturing"
for example, causal relationships, eg #471

Need proper description of the object properties

Also need better descriptions of the patterns

[2020-03-30 23:14] nicolevasilevsky opened #1358 "Documentation: Obsoleting classes"
we need a page just for obsoleting a class, one for merging (or maybe combine both) and a very separate section for using git (ie merging in git)

[2020-03-30 23:55] nicolevasilevsky commented on #1341
Acute respiratory distress syndrome and ARDS are a synonym, and it is equivalent to the NCIt term: https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C3353

[2020-03-31 00:00] nicolevasilevsky commented on #1341
I suggest we make Acute respiratory distress syndrome the primary label and make adult respiratory distress syndrome a narrow synonym.

[2020-03-31 00:03] nicolevasilevsky opened #1359 "[NTR] subclasses of ARDS ?"
Should we add subclases of ARDS (MONDO_0006502 'adult respiratory distress syndrome')?

mild ARDS
def: PaO2/FiO2 of 201–300 mmHg

moderate ARDS
def: PaO2/FiO2 of 101–200 mmHg is

severe ARDS
def: PaO2/FiO2 ≤100 mmHg is

Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6709677/

[2020-03-31 00:04] nicolevasilevsky commented on #1359
this paper divides the subclasses into four groups:
https://www.ncbi.nlm.nih.gov/pubmed/25393701
(from @pnrobinson, thanks!)

![image](https://user-images.githubusercontent.com/6722114/77973278-80406f00-72a8-11ea-949e-5cd2fca3635c.png)

[2020-03-31 00:10] nicolevasilevsky commented on #1341
@dnahotline Right, and we do have terms in Mondo for pneumonia and URT infections already. The question on this ticket is, should we create new diseases classes that are 'a disease caused by a specific infection'. We do have terms for pneumonia and upper respiratory tract infection, but do we want to add a term for 'pneumonia caused by SARS-CoV-2' and 'URT infection caused by SARS-CoV-2?

The issu

[2020-03-31 00:13] nicolevasilevsky commented on #1341
@jmcmurry are you suggesting a specific action item is for Mondo?

We could edit the text definition of MONDO_0006012 'viral pneumonia' to read:

Inflammation of the lung parenchyma that is caused by a viral infection. _Viral pneumonia often increases susceptibility to bacterial superinfection and increased morbitity._

If you want to add this, could you please give me a reference for this?

[2020-03-31 00:17] nicolevasilevsky opened #1360 "Relabel: adult respiratory distress syndrome"
**Mondo term (ID and Label):**
adult respiratory distress syndrome

**Suggested new label:**
Make Acute respiratory distress syndrome the primary label and make adult respiratory distress syndrome a narrow synonym.

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT

[2020-03-31 01:10] nicolevasilevsky commented on #1355
https://www.cdc.gov/sars/index.html

[2020-03-31 01:16] nicolevasilevsky commented on #1341
I am going to close this ticket, as my impression is that we don't want to add these new subclasses. Please reopen if there are any outstanding action items or if any action is needed. Thanks for your input everyone!

[2020-03-31 01:16] #1341 closed

[2020-03-31 01:20] #1202 closed

[2020-03-31 01:35] #409 closed

[2020-03-31 01:39] #405 closed

[2020-03-31 02:12] #1214 closed

[2020-03-31 02:14] #1242 closed

[2020-03-31 02:22] #1046 closed

[2020-03-31 03:39] #404 closed

[2020-03-31 03:40] #408 closed

[2020-03-31 13:56] paolaroncaglia commented on #834
@nicolevasilevsky

That would make sense to me too! I'll aim at looking at the list of grouping terms before our next EFO-Mondo call, so we can hopefully discuss then.

It's a bit of a priority on our end, for Open Targets, so now that I'm reassured that the work wouldn't be overwritten, I'll try to spend some time on it. I'm just sticking to non-committal phrasing because you never know these day

[2020-03-31 16:12] nicolevasilevsky commented on #1356
Annotation | Description | Example | Question
-- | -- | -- | --
MONDO:equivalentTo | This is interpreted strongly as an OWL equivalence axiom. | MONDO_0100087 | n/a
MONDO:superClassOf | This is interpreted strongly as an OWL superclass of axiom. | MONDO_0017806
MONDO:subClassOf | This is interpreted strongly as an OWL subclass of axiom.  | MONDO_0017781
MONDO:obsoleteEquivalent | used for cases wh

[2020-03-31 21:22] #399 closed

[2020-03-31 21:32] #398 closed

[2020-03-31 23:16] #395 closed

[2020-04-01 08:58] paolaroncaglia opened #1363 "Please remove xref EFO:0000378 from MONDO:0005010 coronary artery disease"
**MONDO:0005010 coronary artery disease:**

**Xref that should be fixed: EFO:0000378 coronary artery disease**

I'm addressing a duplication in EFO (EFO:0000378 coronary artery disease vs. EFO:0001645 coronary heart disease, FYI see https://github.com/EBISPOT/efo/issues/667#issuecomment-588172575). MONDO:0005010 coronary artery disease currently xrefs to both EFO terms. Could you please
- [x] Remo

[2020-04-02 17:10] monicacecilia commented on #1359
Dear @nicolevasilevsky - please note: _acute_ (not _adult_ respiratory distress syndrome).

[2020-04-02 17:14] nicolevasilevsky commented on #1359
See related ticket: https://github.com/monarch-initiative/mondo/issues/1360

[2020-04-03 07:45] paolaroncaglia commented on #1216
@nicolevasilevsky
Apologies for re-opening this ticket again... I'm not sure if this is in the most recent Mondo editors version: should there be a link between '2019 novel coronavirus infection' (or perhaps best its child 'pneumonia caused by 2019 novel coronavirus') and 'severe acute respiratory syndrome'? ("A viral respiratory infection caused by the SARS coronavirus. ...") The infection per se

[2020-04-03 07:50] paolaroncaglia commented on #1354
@nicolevasilevsky
Making a note here that Mondo:NEW 'Middle East Respiratory Syndrome' (synonym: MERS) is needed in EFO too. I see this is already marked as high priority. Thanks!

[2020-04-03 12:52] paolaroncaglia commented on #1355
@nicolevasilevsky
Please also see my comment here https://github.com/monarch-initiative/mondo/issues/1216#issuecomment-608283463
Thanks.

[2020-04-03 15:50] #1347 closed

[2020-04-03 15:50] #1348 closed

[2020-04-03 15:52] #448 closed

[2020-04-03 15:57] #11 closed

[2020-04-03 16:00] #1089 closed

[2020-04-03 16:04] nicolevasilevsky opened #1364 "[Obsolete] MONDO_0001046 'imperforate anus'"
**Mondo term (ID and Label)**
MONDO_0001046 'imperforate anus'

**Reason for deprecation**
There is a comment on this term: Consider obsoleting as dupe with HPO

**Suggested replacement or term to consider**
None

This term is in a lot of disease ontologies though, I don't think we should obsolete it, I think we should remove this comment.

cc @pnrobinson @cmungall

[2020-04-03 16:04] nicolevasilevsky commented on #1364
related to https://github.com/monarch-initiative/mondo/pull/1229

[2020-04-03 16:15] #396 closed

[2020-04-03 16:27] pnrobinson commented on #1364
The etiology of Imperforate anus is not known in many cases. It is better conceptualized as a phenotypic feature (https://en.wikipedia.org/wiki/Imperforate_anus)

However, there are cases where there is no known disease and whether the feature occurs in isolation. Maybe we want to have a disease term for this kind of situation. Can we ask a pediatric surgeon about this?

[2020-04-03 16:28] nicolevasilevsky commented on #1364
Do we know any pediatric surgeons? :)

[2020-04-03 17:19] #1018 closed

[2020-04-03 17:35] nicolevasilevsky commented on #1355
@shahim agrees with this

[2020-04-03 17:37] nicolevasilevsky commented on #1216
I will make 'severe acute respiratory syndrome' a child of MONDO_0005719 'coronavinae infectious disease'.

I don't think we want to add  'pneumonia caused by 2019 novel coronavirus' as a new term in Mondo after all.

[2020-04-03 17:48] nicolevasilevsky commented on #1360
@ShahimEssaid and I discussed this.

It appears that the respiratory distress classes in Mondo should be reviewed.

[2020-04-03 17:49] nicolevasilevsky commented on #1360
I am not going to take action on this before the April release.

[2020-04-04 14:44] maglott opened #1368 "MAUMENEE CORNEAL DYSTROPHY"
OMIM represents  this under CORNEAL DYSTROPHY, POSTERIOR POLYMORPHOUS, 1; PPCD1;
https://www.omim.org/entry/122000

GARD represents this under https://rarediseases.info.nih.gov/diseases/6196/corneal-endothelial-dystrophy-type-2

https://en.wikipedia.org/wiki/Congenital_hereditary_endothelial_dystrophy says Maumenee is equivalent to 'CHED' not PPCD1 , with CHED formerly having been CHED2.

Arizona

[2020-04-04 19:58] nicolevasilevsky opened #1371 "question about imports.md"
In the [imports page](https://mondo.readthedocs.io/en/latest/editors-guide/imports/) in the editors guide, it says "see OBO docs for details". What is that referring to? @cmungall can you send me a link to reference, or can we delete this?

[2020-04-05 16:56] #1354 closed

[2020-04-05 16:56] #1239 closed

[2020-04-06 12:19] maglott opened #1372 "[Obsolete] Salt and pepper developmental regression syndrome, also known as Amish infantile epilepsy syndrome"
**Mondo term (ID and Label)**
GM3 synthase deficiency, MONDO_0018274
Amish infantile epilepsy syndrome, MONDO_0012189
salt and pepper syndrome, MONDO_0018275
**Reason for deprecation**
OMIM states: Salt and pepper developmental regression syndrome, also known as Amish infantile epilepsy syndrome
SNOMEDCT_US (722762005) and UMLS (C1836824) equate Ganglioside GM3 synthase deficiency and Amish infant

[2020-04-06 12:23] maglott commented on #1372
Orphanet has 3 records:
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=370938
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=370933
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=171714

[2020-04-06 14:14] paolaroncaglia opened #1373 "[Revise logical def] MONDO:0100096 '2019 novel coronavirus infection' and anosmia/ageusia"
**MONDO:0100096 '2019 novel coronavirus infection'**

The disease has been associated with anosmia and/or ageusia (affected senses of smell and taste). I found 3 papers on PubMed, 5 on bioRxiv, plus 2 reports from US and UK medical societies. The association is not observed in all documented cases, and is not exclusive to covid. However, I'm wondering if capturing it might be beneficial for data a

[2020-04-06 16:28] nicolevasilevsky commented on #411
From NCIT:
To merge “intrahepatic bile duct cancer” with “carcinoma of liver and intrahepatic bile duct”, is not correct. The term “carcinoma of liver and intrahepatic bile duct” is a general, top level term that includes both “hepatocellular carcinoma” and “intrahepatic cholangiocarcinoma” (what they call intrahepatic bile duct cancer). Intrahepatic cholangiocarcinoma (intrahepatic bile duct canc

[2020-04-06 21:39] nicolevasilevsky commented on #1373
We just missed getting this in for the April release. This seems okay to me, I'll do this.

@cmungall please let us know if you have any objections, thanks!

[2020-04-06 21:57] miajsullivan commented on #1018
this is not active as a MONDO ID yet.  W?ill this not go live until April's release?

Mia Sullivan

________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Friday, April 3, 2020 12:19 PM
To: monarch-initiative/mondo
Cc: Mia Sullivan; Mention
Subject: Re: [monarch-initiative/mondo] [NTR]GATA1-Related X-Linked Cytopenia (#1018)

Caution: This Email originated from o

[2020-04-06 22:00] nicolevasilevsky commented on #1018
Hi @miajsullivan this was added to Mondo and the release was done today, you should  now see it in the latest release file.

MONDO:0100089 'GATA1-Related X-Linked Cytopenia'

Sorry for the delay! Let me know if you need anything else.

[2020-04-06 22:30] nicolevasilevsky commented on #1373
@paolaroncaglia see: https://github.com/obophenotype/human-phenotype-ontology/issues/5547

would you mind sharing the PMIDs and links to the papers you found for these? I'll xref them on the Mondo axioms.

Thank you!

[2020-04-07 00:11] cmungall commented on #1355
@nicolevasilevsky - this should have been inferred by reasoning. While it's never wrong to assert a correct is-a with evidence, if this was not showing up in Protege under coronavinae infectious disease there is a problem.

[2020-04-07 00:16] cmungall commented on #1355
Note also the logical definition for SARS/MONDO:0005091 uses http://purl.obolibrary.org/obo/NCBITaxon_694009

however in NCBITaxon, this is the superclass of SARS-CoV-2!

this will mean that SARS will be a superclass of COVID-19.

This is not what we want as SARS is actually a *sibling* of COVID-19, caused by SARS-CoV-1. This does not appear to be in NCBITaxon

This is an example of the prototype

[2020-04-07 00:37] cmungall commented on #1355
What's the correct nomenclature? Coronavinae or Coronavirinae? our labels differs from ncbi

[2020-04-07 00:41] cmungall commented on #1355
[code]

the definition is not wrong at all... however, I think there are some more notable specifics to call out!

[2020-04-07 00:48] nicolevasilevsky commented on #1355
I think I classified this under the wrong parent, I think it should be Coronaviridae, see: https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=2697049

[2020-04-07 00:53] cmungall commented on #1355
OK, I am working on a branch now, hold off on this

But yes, according to NCBITaxon:

 * SARS-CoV-2: Viruses; Riboviria; Nidovirales; Cornidovirineae; Coronaviridae; Orthocoronavirinae; Betacoronavirus; Sarbecovirus; Severe acute respiratory syndrome-related coronavirus

Really the nomenclature and logical defs should be dp template driven!!

[2020-04-07 00:58] cmungall commented on #1355
I'm also adding

[code]

is the syn correct?

[2020-04-07 01:10] cmungall commented on #1373
Yes go ahead and add phenotypes for now, but wait for my PR which touches covid-19

[2020-04-07 01:10] nicolevasilevsky commented on #1355
I think that synonym works. There isn't a synonym in [NCBI](https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=2501931&lvl=3&lin=f&keep=1&srchmode=1&unlock), but if I search on 'coronavirus', it brings up the three subclasses of Orthocoronavirinae (alpha-, beta- and gamma-coronavirus). It maybe not be the official synonym though.

[2020-04-07 01:17] cmungall opened #1376 "Merge MYH-9 related disease"
id: MONDO:0007954
name: May-Hegglin anomaly
def: "An autosomal dominant disorder characterized by the triad of thrombocytopenia, giant platelets, and characteristic inclusions in peripheral blood leukocytes. It is characterized by varying degrees of thrombocytopenia that may be associated with purpura and bleeding; it is associated with mutation of the MYH9 gene." [NCIT:C131646]

_This was obsolet

[2020-04-07 10:36] paolaroncaglia commented on #834
Making a note here that another (Orphanet-derived) problematic term is MONDO:0016575 'primary ciliary dyskinesia'. 3 of its 5 parents represent symptoms, and it has 41 children, that inherit the incorrect ancestry. Notably, 'primary ciliary dyskinesia' is not inSubset ordo_group_of_disorders. Its parent 'ciliopathy' is, but its own parents are fine, so focusing on ORDO grouping terms alone may be

[2020-04-07 10:45] paolaroncaglia commented on #834
For a quick fix while I'm looking into this, you may want to
- [ ] Delete the axiom 'primary ciliary dyskinesia' Subclass of:
genetic infertility
male infertility due to sperm motility disorder
- [ ] The parent 'rare pulmonary disease' is also suspicious and should be deleted. In fact the whole definition is, and may better be replaced by the Wikipedia one (https://en.wikipedia.org/wiki/Primary_ci

[2020-04-07 13:22] paolaroncaglia commented on #1373
@nicolevasilevsky

Thanks for createing a new HP term for ageusia!

PMID:32240279 ("Isolated sudden onset anosmia in COVID-19 infection. A novel syndrome?")
PMID:32237238 ("Anosmia and ageusia: common findings in COVID-19 patients.")
PMID:32215896 ("The Covid-19 pandemic and otolaryngology: What it comes down to?") (in German with abstract in English)

bioRxiv 2020.03.25.009084; doi: https://doi.o

[2020-04-07 13:46] miajsullivan commented on #1018
Nicole,

Sorry if you are the wrong person to pursue this with.  I am trying to start a curation for my ClinGen group - upon opening a new Gene-Disease caution in prompts you to add the Gene name and MONDO ID.  You can either look it up or add the MONDO ID (if you know it).  I have tried both ways and it is not accepting the MONDO ID if I put the number in and if I look up by gene-disease, it is n

[2020-04-07 13:51] courtneythaxton commented on #1018
Hi Mia,

I can help with this issue. Likely this is because the ontology lookup system (OLS<https://www.ebi.ac.uk/ols/ontologies/mondo>) hosted by EMBL-EBI has not updated the MonDO ID yet. It can take a few days after a release for them to update the records and changes.

If by the end of this week you do not see the update in OLS, then I would contact them at ols-support@ebi.ac.uk  to indicate t

[2020-04-07 13:54] miajsullivan commented on #1018
​great!  thank you much.

Mia

________________________________
From: courtneythaxton <notifications@github.com>
Sent: Tuesday, April 7, 2020 8:51 AM
To: monarch-initiative/mondo
Cc: Mia Sullivan; Mention
Subject: Re: [monarch-initiative/mondo] [NTR]GATA1-Related X-Linked Cytopenia (#1018)

Hi Mia,

I can help with this issue. Likely this is because the ontology lookup system (OLS<https://www.ebi.

[2020-04-07 18:06] nicolevasilevsky commented on #1373
You're the best, thanks @paolaroncaglia!

[2020-04-07 18:19] #471 closed

[2020-04-10 15:12] paolaroncaglia commented on #1173
@nicolevasilevsky @cmungall
I believe this ticket could be closed as superceded by #1283 (unless you have objections). I made a note for our next EFO-Mondo call to please discuss expected/approximate timelines for the OMIM ingest update. Thanks.

[2020-04-10 17:38] nicolevasilevsky commented on #1173
sure, I'll close.

[2020-04-10 17:38] #1173 closed

[2020-04-10 21:16] nicolevasilevsky commented on #1372
@ana-rath-orphanet it seems like OMIM combines all of these as one disease. Do you think these should be combined, or do you prefer to keep these as three separate diseases?

[2020-04-10 23:02] nicolevasilevsky opened #1377 "relabel Native American Myopathy and Athabaskan brainstem dysgenesis"
From Gioconda Alyea(NIH/NCATS): I would like to let you know that we had make changes in the main terms in the following diseases: (we decided to do this due to the current COVID-19 situation and taking in consideration WHO recommendations for naming infectious diseases (link) to “avoid causing offense to any cultural, social, national, regional, professional or ethnic groups).

1.Native American

[2020-04-10 23:41] pnrobinson commented on #1269
This is coming from Orphanet, however, the name at OMIM seems to be more accurate
Orphanet:972
https://omim.org/entry/160120 (I think that the disease being refered to by the Orphanet entry is Isolated Myokymia 1, which is "included" In this OMIM entry, which also includes episodic ataxia).
The latter is this MONDO entry
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolib

[2020-04-11 13:45] maglott commented on #1377
https://omim.org/entry/255995 uses MYOPATHY, CONGENITAL, BAILEY-BLOCH; MYPBB

[2020-04-11 14:34] paolaroncaglia commented on #1216
@nicolevasilevsky
I think this ticket may be closed, correct? Thanks.

[2020-04-11 14:39] paolaroncaglia commented on #1270
@nicolevasilevsky
Could you please confirm that you received no objection to the obsoletions above?
If so, I'll go ahead with https://github.com/EBISPOT/efo/issues/734. Thanks.

[2020-04-13 09:11] paolaroncaglia opened #1378 "MONDO:0000148 'pulmonary fibrosis and/or bone marrow failure, Telomere-related' and children"
**MONDO:0000148 'pulmonary fibrosis and/or bone marrow failure, Telomere-related' and children**

Minor typo in labels: please consider replacing "Telomere-related" with "telomere-related". Thanks.

[2020-04-13 14:45] maglott opened #1379 "MONDO_0033766 is declared in the current owl file without any content"
**Mondo term (ID Label)**

    <owl:Class rdf:about="http://purl.obolibrary.org/obo/MONDO_0033766"/>

**Bug/Typo/Error description**
Is this valid?

[2020-04-13 15:27] ErinRiggs commented on #1144
Hi Nicole - I am so sorry, but I need to request an edit to this.  The "Breshek" part of this name is actually an acronym, and should be "BRESHECK" (all caps, with the extra c).  Here is a reference describing the features associated with BRESHECK if you need it: https://www.ncbi.nlm.nih.gov/pubmed/22105905?dopt=Abstract
Please let me know if you have any questions.

[2020-04-13 15:28] nicolevasilevsky commented on #1144
no problem! I'll make this change and it will be available in the next release (in early May)

[2020-04-13 17:35] #1373 closed

[2020-04-13 17:36] nicolevasilevsky commented on #1270
Confirmed, there were no objections.

[2020-04-13 18:17] nicolevasilevsky commented on #1269
It looks like this term: continuous muscle fiber activity hereditary, MONDO_0022857
is coming from GARD and the webpage is down, so maybe this has been obsoleted in GARD?
@GARDinfocenter

[2020-04-13 18:28] nicolevasilevsky commented on #1269
@pnrobinson are you suggesting that MONDO_0019943 'hereditary continuous muscle fiber activity' should be renamed to Myokymia 1
and we should remove the related synonyms on MONDO_0008047 'episodic ataxia type 1'?

cc @ana-rath-orphanet

[2020-04-13 18:31] nicolevasilevsky commented on #1379
this seems like a bug! Ii will investigate

[2020-04-13 18:41] nicolevasilevsky commented on #1379
This class has one child, MONDO_0015289 'infectious epithelial keratitis', which I think is supposed to be a child of MONDO_0015288 'herpes simplex virus keratitis' (this how it is modeled in [Orphanet](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_137586&viewMode=All&siblings=false).

I think the action item is to reclassify MONDO_0015289 'infect

[2020-04-13 22:48] nicolevasilevsky commented on #1377
I went with the OMIM label for MONDO_0009722 (I relabeled Native American Myopathy to Bailey-Bloch congenital myopathy and added STAC3 Disorder as a synoonym.

[2020-04-13 22:54] #1144 closed

[2020-04-13 22:57] #1378 closed

[2020-04-13 23:15] nicolevasilevsky commented on #1368
In Mondo, there is an annotation on the synonym (Maumenee corneal dystrophy) to 'posterior polymorphous corneal dystrophy 1' that says the synonym is to be removed from public release but maintained in the edit version as a record of external usage.

So it seems that Mondo does not think Maumenee corneal dystrophy is a correct synonym for 'posterior polymorphous corneal dystrophy 1'.

Maumenee cor

[2020-04-13 23:25] nicolevasilevsky commented on #1379
@ShahimEssaid I started a work on a branch but something is really weird. I am hoping we can work on this together.

the branch is issue-1379

[2020-04-13 23:40] nicolevasilevsky commented on #1351
Hi @maglott I think all these synonyms have already been added.

DYT-KMT2B is a synonym for MONDO_0100016 'early-onset generalized dystonia', which is a child of 'generalized isolated dystonia'.

Would you mind checking again and let me know if other action is needed or if I can close this ticket?

Thanks!

[2020-04-13 23:42] #1344 closed

[2020-04-14 12:37] GARDInfoCenter commented on #1269
@nicolevasilevsky That is correct. We had replaced continuous muscle fiber activity hereditary with “hereditary continuous muscle fiber activity” (as per Orphanet) and had also added the synonym “Episodic ataxia type 1. We'll research Peter's suggestion and get back to you.

[2020-04-15 20:19] nicolevasilevsky commented on #697
this looks like it has been fixed

[2020-04-15 20:19] #697 closed

[2020-04-15 20:19] #1363 closed

[2020-04-16 00:49] #1379 closed

[2020-04-16 00:53] #1377 closed

[2020-04-16 03:38] nicolevasilevsky commented on #1258
I don't think 'benign ependymoma' is actually equivalent with ependymoma, and I also think the logical definition is wrong:

ependymoma
 and ('has modifier' some 'neoplastic, non-malignant')

'benign ependymoma' is inferred to be a subclass of ependymoma, but ependymoma is a child of 'low grade glioma', which is a sibling of 'benign glioma'. I don't think a benign tumor could be a child of a low g

[2020-04-16 04:30] nicolevasilevsky commented on #417
MONDO_0000572 is a child of 'severe combined immunodeficiency (disease)' and MONDO:0012359 is a child of 'non-severe combined immunodeficiency'.

Merging these causes a reasoning error, if MONDO_0000572 is meant to be severe.

I don't think these should be merged, I will remove the comment.

[2020-04-16 04:58] nicolevasilevsky commented on #1228
revisiting this- MONDO_0045022 may not necessarily be an inherited disease. I am going to close this.

[2020-04-16 04:58] #1228 closed

[2020-04-16 05:05] nicolevasilevsky commented on #1231
I no longer agree with myself that these are duplicates, they seem like distinct classes to me. I will make the DO synonym a related synonyms (familial cavernous angioma)

[2020-04-16 12:47] Antonialock opened #1392 "MONDO:0008630 wrong heritability"
Hello,
MONDO:0008630
has
Heritability: Autosomal dominant inheritance
but according to the OMIM xref it is autosomal recessive

[2020-04-16 15:50] nicolevasilevsky commented on #1392
https://github.com/monarch-initiative/hpo-annotation-data/issues/425

[2020-04-16 15:51] #1392 closed

[2020-04-16 16:21] paolaroncaglia commented on #834
@nicolevasilevsky
@cmungall
Quick update on the ORDO grouping terms you highlighted in https://github.com/monarch-initiative/mondo/issues/834#issuecomment-595322698. I looked at a subset of those, and added comments in https://docs.google.com/spreadsheets/d/1KRAoGoj1O2-nm0ll5vlDMzm-9bsgMvvNza9wFIz6REA/edit#gid=656900674 (tab "Paola's summary"). The rows in red are for terms I'd suggest prioritizin

[2020-04-16 16:31] nicolevasilevsky commented on #1223
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:31] nicolevasilevsky commented on #1224
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:33] nicolevasilevsky commented on #1225
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:36] nicolevasilevsky commented on #1230
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:38] nicolevasilevsky commented on #1233
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:39] nicolevasilevsky commented on #1237
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:40] nicolevasilevsky commented on #1272
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:41] nicolevasilevsky commented on #420
see [spreadsheet](https://docs.google.com/spreadsheets/d/1s-jaBDNbJmQtv38uPrXOy7yiKZxbYJ940mfZeUt-T8U/edit#gid=510128657)

[2020-04-16 16:43] nicolevasilevsky commented on #1271
@ahamosh @ana-rath-orphanet @GARDinfocenter

[2020-04-16 16:46] #1231 closed

[2020-04-16 16:47] #1227 closed

[2020-04-16 16:48] #417 closed

[2020-04-16 16:49] #1254 closed

[2020-04-16 17:08] nicolevasilevsky commented on #1208
[ExactSynonymsSpreadsheet](https://docs.google.com/spreadsheets/d/1qdYtg_SVAsx9yVf2E6ErGHUreRyW2n7bZi8mywD4hAE/edit#gid=1922639824)

[2020-04-16 17:15] nicolevasilevsky commented on #1269
From Gioconda:
Hi!  This one is very confusing because of the different names and terms used in all the sources.   I think that I will use the GeneReview as our main source which states that other names for episodic ataxia type 1 are:
Acetazolamide-responsive periodic ataxia
Continuous muscle fiber activity
Episodic ataxia with myokymia
Familial paroxysmal kinesigenic ataxia and continuous myokymi

[2020-04-16 17:58] ahamosh commented on #1271
Hi All,
Per OMIM these are synonymous or alternate title for the same thing.
thanks,
Ada

[2020-04-17 11:47] maglott opened #1394 "[Obsolete]nonsyndromic congenital nail disorder 10"
**Mondo term (ID and Label)**
MONDO_0013596:nonsyndromic congenital nail disorder 10

**Reason for deprecation**
OMIM deprecated NDNC10, http://www.omim.org/entry/614157 and defines NDNC1 as being based on FZD6

**Suggested replacement or term to consider**
retain NDNC1

[2020-04-17 14:20] cbizon opened #1395 "osteoarthritis susceptibility exact matching osteoarthritis"
Action item:
- [x] make these xrefs related to on MONDO:0008143 osteoarthritis susceptibility 1:
http://linkedlifedata.com/resource/umls/id/C0029408;  Degenerative Polyarthritis
http://identifiers.org/snomedct/396275006; osteoarthritis

- [x] add them as equivalentTo on MONDO:0005178 (osteoarthritis)

_updated 10/21/21 NV_

---

**Mondo term (ID and Label):**
MONDO:0008143 osteoarthritis susceptib

[2020-04-17 16:55] GARDInfoCenter commented on #1271
The proteasome-associated autoinflammatory syndrome include all of these,  Nakajo-Nishimura syndrome (NNS), JMP syndrome and CANDLE syndrome and all are caused by mutations in the PSMB8 gene (and all have lipodystrophy and skin problems).

Please see:
Orphanet - https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=324977 and the Article - https://www.ncbi.nlm.nih.gov/pmc/articles/PMC36905

[2020-04-17 17:59] nicolevasilevsky commented on #1258
From NCIT:
Ependymoma is a WHO grade II tumor. The malignant version is anaplastic ependymoma (WHO grade III). Their term “benign ependymoma” is misleading because there are no “benign” gliomas in the CNS.
Most probably, they wanted to differentiate from the true malignant ones (anaplastic ependymomas). So they will need to make the term benign ependymoma a synonym to ependymoma.

[2020-04-17 18:02] ahamosh commented on #1271
All of these conditions in 256040 are considered by OMIM to be the same disorder (Proteasome-associated autoinflammatory disorder 1 with alternate names and caused by mutations in PSMB8.  The Phenotypic series (PS256040) includes three other disorders (Proteasome-associated autoinflammatory disorder-2, -3, and -4, caused by 3 other genes. Two have been reported only in one family each.

[2020-04-17 21:25] #529 closed

[2020-04-17 21:42] nicolevasilevsky commented on #834
This term is obsoleted:
MONDO_0015118

[2020-04-17 21:44] nicolevasilevsky commented on #1216
Yes!

[2020-04-17 21:44] #1216 closed

[2020-04-17 21:45] #1270 closed

[2020-04-17 22:24] #1258 closed

[2020-04-20 23:23] nicolevasilevsky commented on #1259
From GARD:
the change to “Halo nevus” makes sense because is mostly used in the literature.  However, for GARD this term may be retired because is not rare nor genetic.