[2020-04-20 23:31] nicolevasilevsky commented on #1272
From GARD:
We already have “trisomy 13” as the main term, but we kept Patau syndrome as a synonym because it is widely used too.

[2020-04-20 23:32] nicolevasilevsky commented on #1372
From GARD:
This term “groups” both Amish infantile epilepsy syndrome and salt and pepper syndrome.  Reading the papers described with this syndrome it does not make sense to have these separated.  We already have “GM3 synthase deficiency”.

[2020-04-20 23:34] nicolevasilevsky commented on #1283
@cmungall Is it correct that Orphanet was updated to the latest version in the last release? Could we check off that box above?

[2020-04-21 01:08] nicolevasilevsky opened #1404 "[Revise subclass] Human prion disease"
**Mondo term (ID and Label)**
Human prion disease- child of 'neurodegenerative disease with dementia' - this should be fixed. (Note, fix text def too).

**Suggested revision and reasons**
Per conversation with EFO today- dementia is a phenotype of human prion disease, this classification is not quite right.

[2020-04-21 01:09] nicolevasilevsky opened #1405 "[Obsolete] look for terms that are tagged ‘obsoletion candidate’"
Fixing these will help address #834

Adding Shahim, as I am not sure if I know how to filter all the terms that are tagged 'obsoletion candidate'

[2020-04-22 04:21] #1237 closed

[2020-04-22 04:22] #1233 closed

[2020-04-22 04:23] #1232 closed

[2020-04-22 14:58] paolaroncaglia opened #1407 "MONDO:0005550 'infectious disease': suggested synonyms"
**MONDO:0005550 'infectious disease'**

Hi @nicolevasilevsky ,
Would you please consider adding
communicable disease
transmissible disease
as exact synonyms? In agreement with the term definition ("...It can be transmitted by direct or indirect contact."). Supported also by https://www.merriam-webster.com/medical/communicable%20disease and by https://link.springer.com/referenceworkentry/10.1007%2F

[2020-04-22 14:59] #1252 closed

[2020-04-22 14:59] #1253 closed

[2020-04-22 14:59] #1257 closed

[2020-04-22 14:59] #414 closed

[2020-04-22 14:59] #1224 closed

[2020-04-22 14:59] #1255 closed

[2020-04-22 14:59] #1256 closed

[2020-04-22 16:14] paolaroncaglia opened #1409 "[Revise subclass] MONDO:0006687 'burning mouth syndrome'"
**MONDO:0006687 'burning mouth syndrome'**

Subclass of:
    headache disorder
    syndromic disease
    mouth disease
    RO_0002573 some rare

I've looked up a couple of references and can't find any link between BMS and headache. I'd suggest to exclude 'headache disorder' as a superclass, but if it really is a symptom and I've missed it, you may want to add it as a disease-feature link instead.

[2020-04-22 18:12] #1407 closed

[2020-04-22 20:40] #1409 closed

[2020-04-22 23:31] nicolevasilevsky commented on #28
looks like this has been done, this term does not have any children

[2020-04-22 23:31] #28 closed

[2020-04-22 23:56] nicolevasilevsky commented on #111
ping @annieolry
Can this be closed?

[2020-04-22 23:57] nicolevasilevsky commented on #139
ping @GARDInfoCenter

[2020-04-23 00:02] nicolevasilevsky commented on #281
Hi @stuppie Sorry for the super long delay getting to this ticket.

I will obsolete protoporphyria, erythropoietic.

Another ticket brought up the issue of canker sore and aphthous stomatitis, and it was decided these are different, I updated the definition of canker sore.

See https://github.com/monarch-initiative/mondo/issues/1262

[2020-04-23 00:04] nicolevasilevsky commented on #365
I think this can be closed.

[2020-04-23 00:04] #365 closed

[2020-04-23 00:08] nicolevasilevsky commented on #366
related to https://github.com/monarch-initiative/mondo/issues/365

[2020-04-23 00:10] #371 closed

[2020-04-23 00:28] nicolevasilevsky commented on #376
I'm guessing the proposal is to merge with MONDO_0005040 | germ cell tumor'

[2020-04-23 00:38] nicolevasilevsky commented on #387
Not sure what this should be merged with. I'll remove this comment. Please reopen if there are any objections.

[2020-04-23 00:54] nicolevasilevsky commented on #393
these have both been obsoleted

[2020-04-23 00:54] #393 closed

[2020-04-23 00:57] nicolevasilevsky commented on #486
this is not classified as a bone disease, it is a child of bursitis, limb disorder, and enthesopathy.

I think this can be closed.

[2020-04-23 00:57] #486 closed

[2020-04-23 00:57] nicolevasilevsky commented on #486
Please reopen if needed :)

[2020-04-23 01:07] nicolevasilevsky commented on #1147
looks like this has already been addressed, closing

[2020-04-23 01:07] #1147 closed

[2020-04-23 04:27] nicolevasilevsky commented on #1268
this is a duplicate of #375

[2020-04-23 04:27] #1268 closed

[2020-04-23 04:40] #384 closed

[2020-04-23 04:43] #373 closed

[2020-04-23 06:44] cmungall commented on #376
Hmm, generally in mondo we like to follow the naming conventions in the DPs

tumor/neoplasm = malignancy neutral
cancer = malignant tumor/neoplasm

this would indicate against a merge of GCT with 'germ cell and embryonal cancer'

however, I think MONDO:0002510 'germ cell and embryonal cancer' is just confused. It comes from mesh. it has cancer in the name, but for some reason we didn't axiomatize

[2020-04-23 06:47] cmungall commented on #389
I don't think this should be a merge. concepts are not equivalent

http://eioftx.com/vertigo-balance/balance-disorders/labyrinthine-dysfunction/

but by all means, obsolete, and have 2 considers, one to the parent mondo, the other to an hpo

[2020-04-23 06:53] cmungall commented on #387
are you sure? they don't seem equivalent by the label

here are some 11q disorders.. not sure about diff between first and last..

[code]

[2020-04-23 06:54] cmungall commented on #387
where is monochrom? http://obofoundry.org/ontology/monochrom

we need this to axiomatize these

[2020-04-23 06:56] cmungall commented on #407
what is the justification for this?

these are different concepts

[code]

if the decision is that we don't need a familial subclass and we want to just have the generic subclass, this is fine, but it's not a merge as the concepts are not equivalent

(unless we are saying there are no non-familial cases of this melanoma which seems unlikely)

[2020-04-23 09:04] paolaroncaglia commented on #1407
@nicolevasilevsky thanks!

[2020-04-23 09:08] paolaroncaglia commented on #1409
@nicolevasilevsky thanks for this one too.

[2020-04-23 12:06] fragosog commented on #366
Hi @nicolevasilevsky , just saw this

Oh yes, it does say that this particular instance is non-germline.

[2020-04-23 12:34] maglott commented on #376
My guess is that 'the literature' will also be inconsistent.  As long as MONDO's labels are consistent with rules, and there is a comment about why a 'cancer' term points to a benign record, more may be careful about term usage.  But thanks for this example.  When OMIM  deprecates a MIM number, and added the 'former' term to remaining MIM number, is the management of the 'former' term managed as a

[2020-04-23 15:43] paolaroncaglia opened #1439 "[Revise text def] MONDO:0005249 pneumonia"
MONDO:0005249 pneumonia has a comment "Editor note: TODO change text def to make it clear always infectious etiology"
(current def is:
"An acute, acute and chronic, or chronic inflammation focally or diffusely affecting the lung parenchyma, due to infections (viruses, fungi, mycoplasma, or bacteria), treatment (e.g. radiation), or exposure (inhalation) to chemicals. Symptoms include cough, shortne

[2020-04-23 16:14] nicolevasilevsky commented on #366
Thanks @fragosog. We will merge these terms.

[2020-04-23 16:19] nicolevasilevsky commented on #1405
@matentzn said he would help generate this list (thank you!) Once we have the list, I'll post it here for folks to review.

[2020-04-23 16:23] nicolevasilevsky commented on #376
From what I understand, in Mondo we either have the annotation 'term replaced by', which means the two terms are merged, or 'consider', which isn't a merger, but a recommended term that _could_ be used instead.

(Note to self) Action item:
- [ ] obsolete MONDO_0002510 'germ cell and embryonal cancer'
- [ ] add 'consider' annotation to MONDO_0005040 | germ cell tumor' (do not merge these terms)

[2020-04-23 16:31] nicolevasilevsky commented on #387
Thanks for your comments, @cmungall, no, I am not sure about this!

There is a comment on 'chromosome 11q trisomy' to merge, and I was trying to figure out which term it was proposed to be merged with. I guessed maybe it was MONDO_0016962 partial duplication of the long arm of chromosome 11 because of the overlapping synonyms, but sound like that is wrong.

Sounds like MONDO:0022173 chromosome 11q

[2020-04-23 16:33] nicolevasilevsky opened #1440 "axiomatize chromosomal diseases with monochrom ontology"
Related to https://github.com/monarch-initiative/mondo/issues/387

http://obofoundry.org/ontology/monochrom

[2020-04-23 16:35] nicolevasilevsky commented on #1440
Per the Monarch huddle on 04/23/20- Nico will look into ‘pushing the button’ on the Monochrom ontology to make this live/usable. He will coordinate with Kent and Dipper group.

Would the next step would be to import it into Mondo? Or would we just bring in the classes we need for the axioms?

[2020-04-23 16:41] nicolevasilevsky commented on #1440
- [ ] Should we create a design pattern for these axioms too?

[2020-04-23 16:50] nicolevasilevsky commented on #407
There is a comment on the class:
Editor note: consider merge with parent

[2020-04-23 16:56] nicolevasilevsky commented on #407
Perhaps the comment was suggesting a merge with the other parent - MONDO_0018961 'familial melanoma'.

[2020-04-23 17:23] nicolevasilevsky commented on #1439
@pnrobinson could you comment on the classification of pneumonia and pneumonitis? Thank you!

[2020-04-23 17:31] nicolevasilevsky commented on #1439
I revised the def to:
An acute, acute and chronic, or chronic inflammation focally or diffusely affecting the lung parenchyma, caused by an infection in one or both of the lungs (by bacteria, viruses, fungi, or mycoplasma.). Symptoms include cough, shortness of breath, fevers, chills, chest pain, headache, sweating, and weakness.

@paolaroncaglia (and all) please let me know if you have any sugges

[2020-04-23 18:59] pnrobinson commented on #1439
Indeed pneumonia should be a subclass of pneumonitis. See for instance the Mayo Clinic:

https://www.mayoclinic.org/diseases-conditions/pneumonitis/symptoms-causes/syc-20352623

[2020-04-23 20:59] nicolevasilevsky commented on #1439
Thank you @pnrobinson!

[2020-04-24 14:28] tibingaman opened #1443 "Schuurs-Hoeijmakers Syndrome"
Mondo term (ID and Label):
MONDO ID:0014006 intellectual disability-craniofacial dysmorphism-cryptorchidism syndrome

Suggested new label:
Schuurs-Hoeijmakers Syndrome

_Optional_:
The ClinGen ID/Autism GCEP would like to request to relabel this term to more accurately reflect the phenotypic spectrum of the disease. Presenting phenotypes include ID, delayed language development, seizures, and dysm

[2020-04-24 16:34] paolaroncaglia commented on #1439
@pnrobinson and @nicolevasilevsky thanks for your feedback and revision of def and placement, I agree with your edits. Have a good and safe weekend.

[2020-04-24 16:50] RedRiver1816 opened #1444 "[NTR] P5CS Deficiency"
**Preferred term label:**
P5CS Deficiency

**Synonyms:**
Δ1-Pyrroline-5-carboxylate synthetase deficiency

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
P5CS Deficiency is an inborn error of proline/orinthine metabolism that covers a wide spectrum of phenotypes and is caused by pathogenic variants in the Aldehyde Dehydrogenase 18 Family Member A1 (ALDH18A

[2020-04-24 18:02] #1439 closed

[2020-04-24 18:40] mayherpatel opened #1446 "[NTR] MYPN-related myopathy"
**Preferred term label:**
MYPN-related myopathy

**Synonyms**
MONDO:0015023

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Congenital myopathy caused by pathogenic mutations in MYPN that lead to a wide spectrum of phenotypes. Patients with mutations in this gene often experience muscle weakness, facial weakness, and sometimes cardiac and respiratory issue

[2020-04-24 18:41] mayherpatel commented on #1446
This request is from the ClinGen Congenital Myopathies GCEP

[2020-04-24 21:58] nicolevasilevsky opened #1447 "relabel MONDO_0010107"
**Mondo term (ID and Label):**
MONDO_0010107

**Suggested new label:**
46,XY SEX REVERSAL 11

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
OMIM updated this name
https://www.omim.org/entry/273250#description

cc @maglott

[2020-04-24 23:53] cmungall commented on #1447
Let's be very careful here.

Are we totally sure that for our current definition of TRS, the gene is DHX37?

When we see a general-sounding class relabeled as a more specific-sounding one, is this really just a chance of label or should we split the concept?

Can you summarize some of the literature?

[2020-04-25 07:42] matentzn commented on #1405
@nicolevasilevsky I think @cmungall  pretty extensive reports already cover this:

https://github.com/monarch-initiative/mondo/blob/master/reports/obsoletion-candidates.tsv

Isnt this what you are looking for?

[2020-04-25 11:34] maglott commented on #1447
Good point.  https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6944638/  leaves the door open for the involvement of other genes.
"We provide compelling genetic evidence that specific variants in the DEAH-box protein DHX37, which encodes a putative RNA helicase, are a frequent cause of nonsyndromic 46,XY gonadal dysgenesis as well as TRS. "

[2020-04-25 23:55] #80 closed

[2020-04-26 00:06] cmungall commented on #1275
We should be careful here. What is the reason for thinking these are duplicates?

Based on the label and the definition (both text and logical), these are not duplicates. extrahepatic bile dict is a narrower concept than bile duct.

this whole area could do with some review

[2020-04-26 00:07] #1146 closed

[2020-04-26 00:18] cmungall commented on #1276
This should *not* be a merge on the basis of the names

nasopharyngeal carcinoma is a broader concept. See

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1559589/

_Three subtypes of NPC are recognized in the World Health Organization (WHO) classification: 1) squamous cell carcinoma, typically found in the older adult population; 2) non-keratinizing carcinoma; 3) undifferentiated carcinoma. _

You

[2020-04-26 00:24] #1277 closed

[2020-04-26 00:25] #375 closed

[2020-04-26 00:26] #1261 closed

[2020-04-26 00:27] #83 closed

[2020-04-26 00:28] #1272 closed

[2020-04-26 00:29] #1335 closed

[2020-04-26 00:29] #1333 closed

[2020-04-26 00:32] #1334 closed

[2020-04-26 00:33] #1329 closed

[2020-04-26 00:34] #1327 closed

[2020-04-26 00:52] cmungall commented on #1305
OK, but I think something is not quite right here in the ontology.

The intent was (rightly or wrongly) to group:

 - https://omim.org/entry/307700 HYPOPARATHYROIDISM, X-LINKED; HYPX (Orphanet:2239 - Familial isolated hypoparathyroidism due to agenesis of parathyroid gland)
 - https://omim.org/entry/146200 HYPOPARATHYROIDISM, FAMILIAL ISOLATED; FIH (GCM2 or PTH). In orphanet the GCM2 form is Orpha

[2020-04-26 00:54] #422 closed

[2020-04-26 00:56] #421 closed

[2020-04-26 01:06] #1265 closed

[2020-04-26 01:08] #1267 closed

[2020-04-26 01:11] #1259 closed

[2020-04-26 01:12] #1225 closed

[2020-04-26 01:14] #420 closed

[2020-04-26 01:16] cmungall commented on #1264
merge is not appropriate here.

Always watch out for prototype errors!

MONDO:0008319 should be EPP1, a gene-specific form, as it is equivalent to an omim

[2020-04-26 13:56] maglott opened #1449 "[Revise logical def] anodontia vs. Anodontia of permanent dentition"
**Mondo term (ID and Label)**
anodontia MONDO:0008797

**Suggested revision of logical definition**
Should the label incorporating of permanent dentition be made a child of MONDO:0008797 or are these truly equivalent to clinicians?
UMLS and SNOMED make  distinctions among
1. Anodontia of permanent dentition [A3618086/SNOMEDCT_US/PT/109444001]
2. Anodontia of primary dentition [A3618113/SNOMEDCT_US

[2020-04-26 15:24] ahamosh commented on #1305
Hi All,
Hope you are staying safe.  I am a bit confused.  It looks like OMIM still has a lumped entry for Familial Isolated Hypoparathyroidims (146200), which includes this phenotype due to PTH or GCM2.  We probably need to split this into 2 entries.  The X-linked recessive phenotype (307700), does not have a clear molecular etiology and is an older entry.  We won't get rid of it, but its etiology

[2020-04-27 11:11] maglott opened #1450 "MONDO:0015194 and link to OMIM"
sideroblastic anemia MONDO:0015194 is defined as 'inherited or acquired', yet has an XRef to https://www.omim.org/phenotypicSeries/PS300751 which is clearly the genetic subset
1. What is the term in MONDO for the equivalent of '[C0221018]  Hereditary sideroblastic anemia
'?
2.  When MONDO does distinguish between concepts with multiple etiologies and the subsets that are inherited, is an effort ma

[2020-04-28 11:24] matentzn opened #1451 "Which is the best release artefact for display in tree browsers?"
OLS for example has some [serious issues](https://github.com/EBISPOT/OLS/issues/312) with the equivalent class axioms in the normal mondo.owl release.

[2020-04-28 15:29] maglott opened #1452 "[Revise logical def] Some gene/protein records from OMIM are being treated as disorders"
**Mondo term (ID and Label)**
MONDO_0007521 : egasyn
MONDO:0012424: heat-shock RNA 1
MONDO:0007149: arbitrary restriction polymorphism 1
MONDO:0008126: oncogene Yuasa

**Suggested revision of logical definition**

[2020-04-28 15:55] nicolevasilevsky commented on #1452
If these are genes and not diseases, we should obsolete these

[2020-04-28 17:26] nicolevasilevsky commented on #1450
1. MONDO_0020721 'X-linked sideroblastic anemia 1' is equiv to [C0221018] Hereditary sideroblastic anemia
2.  I am not sure. @cmungall could you answer this?
3. Which new browser do you mean, @maglott?

[2020-04-28 17:27] nicolevasilevsky commented on #1450
@cmungall should we change the xref to OMIMPS:300751 to 'MONDO:relatedTo'? Or just remove MONDO:equivalentTo?

[2020-04-28 19:56] brookepalus opened #1453 "[NTR] SCN4-related myopathy, autosomal recessive"
**Preferred term label:**
SCN4A-related myopathy, autosomal recessive

**Synonyms**

- Congenital myopathy with "corona" fibers, selective muscle atrophy, and craniosynostosis
- Myopathy with ptosis and mild dystrophic pattern
- Congenital Myopathy with severe fetal hypokinesia

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**

**Parent term (use [OLS](https

[2020-04-28 20:39] maglott commented on #1450
The new Monarch display:
https://monarchinitiative.org/disease/MONDO:0015194

[2020-04-28 20:48] nicolevasilevsky commented on #1450
I see, thanks @maglott. I'll report this bug on the Monarch tracker.

[2020-04-28 21:05] nicolevasilevsky commented on #1305
I'm not sure I understand what the best way forward is. @cmungall could you outline the action items needed? Thanks!

[2020-04-28 21:08] maglott commented on #1452
Adding this fragile site to the list.  I think it should be treated as a sequence variant, not a disorder.
https://monarchinitiative.org/disease/MONDO:0007632

[2020-04-28 21:12] nicolevasilevsky commented on #1305
As it stands now on the pull request, the hierarchy would be:
MONDO_0016390 'familial isolated hypoparathyroidism' (OMIM:146200)
-MONDO_0010618 'familial isolated hypoparathyroidism due to agenesis of parathyroid gland' (OMIM:307700)

These two terms weren't merged.

[2020-04-28 21:35] nicolevasilevsky commented on #1305
@cmungall how do you know that  in orphanet the GCM2 form is Orphanet:2239? I don't see that noted on their [website](https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=2112&Disease_Disease_Search_diseaseGroup=2239-&Disease_Disease_Search_diseaseType=ORPHA&Disease(s)/group%20of%20diseases=Familial-isolated-hypoparathyroidism-due-to-agenesis-of-parathyroid-gland&title=Familial%2

[2020-04-28 22:19] nicolevasilevsky opened #1455 "Add Jenkins check for equivalence to a leaf OMIM and an OMIMPS"
We should never be equiv to a leaf OMIM and an OMIMPS.

Related to https://github.com/monarch-initiative/mondo/pull/1430

[2020-04-28 22:27] nicolevasilevsky commented on #1264
Thanks Chris - I re-did the edits in #1456

[2020-04-28 23:32] nicolevasilevsky commented on #1275
The text definitions are duplicates, they came up in the ROBOT report.

MONDO_0003549 'adenosquamous bile duct carcinoma' comes from DO and xrefs NCIT:C5778 as a directSiblingOf. Such a term does not exist in NCIT.

MONDO_0006202 'extrahepatic bile duct adenosquamous carcinoma' is equivalent to NCIT:C5778

From my google search, I'm not sure that such a term as 'adenosquamous bile duct carcinoma'

[2020-04-28 23:37] nicolevasilevsky commented on #1275
I don't feel strongly though - if you think we should retain MONDO_0003549 'adenosquamous bile duct carcinoma', I will update the text def.

[2020-04-29 00:07] nicolevasilevsky commented on #1276
@cmungall I did the edits you suggested above and created a PR, but need to contact NCIT before it is ready to merge.

[2020-04-29 00:14] nicolevasilevsky commented on #1276
@fragosog
Could you (or someone from NCIT) review our course of action here? Here is a summary:

We obsoleted the term:
[code]
and created the new term and replaced the term above with this new term:

[code]
I see that NCIT does not have such a term and we'd like to coordinate with you to ensure we have the same hierarchy.

[2020-04-29 00:22] #387 closed

[2020-04-29 00:31] nicolevasilevsky commented on #1021
@monicacecilia and @kshefchek is this still needed?

[2020-04-29 00:48] kshefchek commented on #1021
We still have the associations displayed on our app, but seems https://github.com/monarch-initiative/mondo/issues/1021#issuecomment-563275214 is the only thing that’s actionable?  I'm not really qualified to make a judgement here.

[2020-04-29 01:02] nicolevasilevsky opened #1460 "[Revise subclass] 'staphylococcal scalded skin syndrome'"
**Mondo term (ID and Label)**
MONDO_0018181 'staphylococcal scalded skin syndrome'

**Suggested revision and reasons**
@cmungall questioned whether this is a syndrome as we define it in Mondo.

A syndrome is defined as "A group of signs, symptoms, and clinicopathological characteristics that may or may not have a genetic basis and collectively define an abnormal condition." and this disease is a b

[2020-04-29 01:20] nicolevasilevsky opened #1462 "split term: 'X-linked nonsyndromic deafness'"
**Term to split:**
MONDO_0019586 'X-linked nonsyndromic deafness'

**Name for new term:**
deafness, X-linked
https://omim.org/phenotypicSeries/PS304500

**definition**
X-linked form of deafness.
dbxref: MONDO:patterns/x_linked

**parent**
auditory system disease
hearing loss disorder

**equiv axiom**
'hearing loss disorder'
 and ('has modifier' some 'X-linked inheritance')

**List properties that

[2020-04-29 01:21] nicolevasilevsky commented on #1462
related to https://github.com/monarch-initiative/monarch-disease-ontology-RETIRED/issues/408

[2020-04-29 01:27] cmungall commented on #1462
I'll handle, part of a complex operation

[2020-04-29 01:28] nicolevasilevsky commented on #1462
Great, thanks!

[2020-04-29 01:29] cmungall opened #1463 "Merge MONDO:0023310 (hemiplegic migraine) + MONDO:0018925 (familial or sporadic hemiplegic migraine)"
they are the same

[2020-04-29 01:30] #1264 closed

[2020-04-29 01:44] nicolevasilevsky commented on #1405
this is great, thank you @matentzn!

[2020-04-29 01:47] cmungall commented on #1345
Redundant with #1042

[2020-04-29 01:47] #1345 closed

[2020-04-29 01:50] nicolevasilevsky commented on #1405
I sorted this list by label:
https://github.com/monarch-initiative/mondo/blob/master/reports/obsoletion-candidates-sorted.tsv

[2020-04-29 01:51] cmungall commented on #1042
I don't see a PS for the mitochondrial subtype yet?

[2020-04-29 01:57] nicolevasilevsky commented on #1042
me neither.

I see some specific terms, but not a PS.

https://www.omim.org/entry/516000
https://www.omim.org/entry/500014

[2020-04-29 02:08] nicolevasilevsky commented on #1447
Should we split these terms then?

It doesn't look like [Orphanet](https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=1300&Disease_Disease_Search_diseaseGroup=983&Disease_Disease_Search_diseaseType=ORPHA&Disease(s)/group%20of%20diseases=Testicular-regression-syndrome&title=Testicular%20regression%20syndrome&search=Disease_Search_Simple) has any genes associated with Testicular

[2020-04-29 05:02] ana-rath-orphanet commented on #1305
Yes, it is, in the webpage you link, if you scroll down you click on the gene link to access GCM2.

Ana

[2020-04-29 05:19] cmungall commented on #1276
this is the SCC concept in NCIT: https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C54360

[2020-04-29 05:25] cmungall opened #1466 "split: autosomal dominant non-syndromic intellectual disability"
[code]

the equivalence of the PS is wrong as some of the children are clearly syndromic

e.g
https://omim.org/entry/618362

so I think we should have two concepts, a broader one for the OMIMPS and a narrower syndromic one for Orphanet

[2020-04-29 05:43] cmungall commented on #1305
@nicolevasilevsky regarding your Q "how do you know that in orphanet the GCM2 form is Orphanet:2239? I don't see that noted on their website" you can also see this in ORDO in OLS, lower right box. Although ORDO may up to be 6 months behind, the OLS display can help with these complicated issues where looking at the hierarchy and mappings simultaneously can help

[2020-04-29 05:59] cmungall commented on #1305
@ahamosh - yes, this helps.

@nicolevasilevsky - I think it may be simplest if we just wait for OMIM to create the separate entry. If the label clash is causing problems then perhaps give the child MONDO_0007796 an artificial name, e.g. list both genes..?

[2020-04-29 13:38] paolaroncaglia opened #1467 "[Revise subclass] MONDO:0025481 zoonoses"
**MONDO:0025481 zoonoses**

"Diseases of non-human animals that may be transmitted to humans or may be transmitted from humans to non-human animals."

Currently Subclass of:
    non-human animal disease
    parasitic infection
    viral infectious disease

[Wikipedia](https://en.wikipedia.org/wiki/Zoonosis) says: "A zoonosis (plural zoonoses, or zoonotic diseases) is an infectious disease caused b

[2020-04-29 15:04] paolaroncaglia opened #1468 "[NTR] vector-borne disease"
Hi again, would you please consider addition of the grouping term

**vector-borne disease**

It doesn't seem to exist in any of the usual resources.
Some of our collaborators need this for text mining, but I wonder if it might be a meaningful addition for others too.

**Synonyms**
vector-borne infectious disease
vector-borne infection

**Definition (free text, please give PubMed ID, if applicable,

[2020-04-29 15:29] #1462 closed

[2020-04-29 15:59] ahamosh commented on #1021
I am so sorry.  It looks like I totally dropped this ball. 114500 is one of a few big, broad, hairy in OMIM.  It is colorectal cancer and really talks about somatic contributions to colorectal cancer.  It is "genetic" but NOT Mendelian.  Each of the single gene caused (not included in this list) is broken out into the individual phenotype entries.

[2020-04-29 17:16] nicolevasilevsky commented on #1021
No worries, thanks for your input @ahamosh!

Just to clarify, we should proceed with this action item:

I will proceed with the action item outlined above (Currently, OMIM:114500 COLORECTAL CANCER; CRC is an xref for MONDO_0005575 'colorectal cancer', annotated as a MONDO:subClassOf. Sounds like we should change this to MONDO:equivalentTo and remove the xref to OMIM:114500 from MONDO_0023113 'fami

[2020-04-29 17:44] #1460 closed

[2020-04-29 17:45] ahamosh commented on #1021
Hi Nicole, I think that is the correct plan.  Thanks!

[2020-04-29 17:46] nicolevasilevsky commented on #1276
Thanks Chris, I'll work on this

[2020-04-29 19:20] nicolevasilevsky commented on #1466
On MONDO_0016456 '5q14.3 microdeletion syndrome'
there is a comment:
Editor note: ORDO xrefs mental retardation, autosomal dominant 20, check this

That is because OMIM:613443 mental retardation, autosomal dominant 20 includes 5q14.3 microdeletion syndrome on the same record: omim.org/entry/613443?search=613443&highlight=613443

[2020-04-29 19:26] nicolevasilevsky commented on #1466
I split out the class MONDO_0100119 'intellectual disability, autosomal dominant' (OMIMPS:156200)

Should I do these action items too:
- [ ] add all the classes listed in the OMIM PS table (https://www.omim.org/phenotypicSeries/PS156200) as xrefs, source: MONDO:superclassOf (some are already there but not all of them)
- [ ] add MONDO_0100119 'intellectual disability, autosomal dominant'  as a supe

[2020-04-29 22:02] #1443 closed

[2020-04-29 22:23] nicolevasilevsky commented on #1453
Hi @brookepalus could you please give me a bit more information? Is there a paper (PubMed ID) that I can reference, and can you suggest a text definition to describe this term?

Thanks!

[2020-04-29 22:27] nicolevasilevsky commented on #1449
Looks like @GARDInfoCenter lumps them together. OMIM has anodontia of permanent dentition as its own record.

I think it is okay to separate them.

@GARDInfoCenter, do you want to weigh in?

Thanks!

[2020-04-29 22:37] nicolevasilevsky commented on #1446
@mayherpatel is 'nemaline myopathy 11' a synonym for 'MYPN-related myopathy'? If yes, should MYPN-related myopathy be added as a synonym to the existing Mondo term MONDO:0015023 'nemaline myopathy 11'?

We could update the definition to use your definition above, if you prefer.

Could you provide a source for the definition, like a PubMed ID for a paper?

Thanks!

[2020-04-30 09:08] matentzn commented on #1451
I think I would like to request a Mondo version that has only Mondo ids and "exactMatch" or "dbxref" annotations to the other ontologies.. Does this make sense?

[2020-04-30 16:41] mayherpatel commented on #1446
@nicolevasilevsky Yes the term "nemaline myopathy 11" is a synonym but the group would like the main term to be changed to "MYPN-related myopathy", if possible.

Here is the first publication - PMID: 28017374

[2020-04-30 17:54] nicolevasilevsky commented on #1451
@matentzn do you know who can help with this? Are you able to assign them?

[2020-04-30 20:29] matentzn commented on #1451
@cmungall Are we allowed to add another standard release artefact with xrefs instead of logical equivalences between Mondo and other disease ontology terms? For the browsing use case?

[2020-05-01 13:20] GARDInfoCenter commented on #1449
@nicolevasilevsky - From our research, most reports indicate that when agenesis occurs as an isolated finding, the primary dentition is not affected, only the permanent teeth. We noticed that the OMIM information from 2009.  For this reason, GARD just has only one page for anodontia which states that the condition can involve either primary or permanent dentition.

[2020-05-01 18:06] nicolevasilevsky commented on #1449
@GARDInfoCenter thanks for your input! Sound like we should leave it as is. @maglott is that okay with you? I'll close this but please reopen if you'd like to continue the discussion.

[2020-05-01 18:06] #1449 closed

[2020-05-01 19:18] maglott commented on #1449
@nicolevasilevsky , I don't see how to reopen.  I am fine with anodonita (MONDO_0008797) being appropriate for permanent or  deciduous teeth; But given that  anodontia of permanent dentition is a related synonym, I am trying to understand why OMIM_206780  (permanent only) is considered as xref.  I guess we will retain the specificity from UMLS, and keep OMIM_206780 with Anodontia of permanent dent

[2020-05-04 18:50] nicolevasilevsky commented on #366
Note to self, from Lori Whiteman at NCIT:
Acute myeloid leukemia with mutated CEBPA and acute myeloid leukemia with CEBPA somatic mutations are synonyms, they should be merged.

[2020-05-04 18:51] nicolevasilevsky commented on #370
From NCIT:

Adenomatoid odontogenic tumor should not be merged with adenomatoid tumor. The former is a benign neoplasm that arises from tooth-forming tissues and is composed of odontogenic epithelium. The latter is a benign tumor that is composed of benign mesothelial cells. It occurs in multiple anatomic sites that contain mesothelium-not to be confused with adenomatoid odontogenic tumor.

[2020-05-04 20:49] nicolevasilevsky commented on #376
From NCIT:

Germ cell and embryonal cancer: This is a poor term, should be removed. Embryonal malignancies are composed of primitive (immature) tissues and do not originate from the germinal layer. Germ cell malignancies originate from the germinal layer. These two should not be confused. They are distinct cancers, biologically and morphologically.

[2020-05-04 20:50] nicolevasilevsky commented on #378
from ncit:

Lymphoblastic leukemia and lymphoid leukemia are not the same. They should not be merged. Lymphoblastic leukemia is always an acute leukemia (acute lymphoblastic leukemia, syn: precursor lymphoblastic leukemia). The term “lymphoid leukemia” is a general term that includes all the leukemias that are composed of lymphoid cells (acute lymphoblastic leukemia, prolymphocytic leukemia, chron

[2020-05-04 20:57] nicolevasilevsky commented on #378
action item:

- [ ] remove comment

[2020-05-04 20:58] nicolevasilevsky commented on #380
from ncit:

Hydatidiform mole and gestational trophoblastic neoplasm should not be merged. Hydatidiform mole is a pregnancy-related disorder (not a neoplasm) characterized by marked enlargement of the chorionic villi, villous trophoblastic cell hyperplasia, and hydropic changes. It can invade the myometrium. Trophoblastic tumors are true neoplasms related to pregnancy. They include the trophoblast

[2020-05-04 20:59] nicolevasilevsky commented on #380
- [ ] to do: remove comment

[2020-05-04 21:01] nicolevasilevsky commented on #388
from NCIT:

Extraosseous or extraskeletal chondrosarcoma is a poor term. It is supposed to mean extraskeletal myxoid chondrosarcoma. We recommend deleting it. If you cannot delete it, then we recommend you merge it with extraskeletal myxoid chondrosarcoma.

[2020-05-04 21:03] nicolevasilevsky commented on #392
from NCIT:
For peritoneal serous papillary adenocarcinoma, we don’t see any term that is supposed to be merged to it. If your intent is  to make this term obsolete, it would be a mistake. This is a valid term.

[2020-05-04 21:03] nicolevasilevsky commented on #392
action item:

- [ ] remove comment

[2020-05-04 21:11] nicolevasilevsky commented on #407
from ncit:
Familial cutaneous melanoma and cutaneous melanoma should not be merged. Familial cutaneous melanoma is a distinct hereditary cutaneous melanoma caused by germline mutations in CDKN2a or CDK4 genes and is associated with increased incidence of pancreatic cancer.

[2020-05-04 21:16] nicolevasilevsky commented on #376
from NCIT:

The term “germ cell and embryonal cancer” should not be merged with the term “germ cell tumor”. The former is a poor term. We recommend deleting it. Germ cell tumors and embryonal tumors are distinct entities, biologically, morphologically, and clinically. PNET is an embryonal tumor. It is not a germ cell tumor.

[2020-05-04 21:23] nicolevasilevsky commented on #407
I am going to remove the comment and update the definition of Familial cutaneous melanoma

[2020-05-04 21:38] nicolevasilevsky commented on #407
Should we add SubClassOf assertions to MONDO_0018961 'familial melanoma'?

'disease has basis in dysfunction of' some CDKN2A
'disease has basis in dysfunction of' some CDK4

I am unsure is this is the correct approach because the mutations can be in either gene.

[2020-05-04 21:39] nicolevasilevsky commented on #407
Also, should we add SubClassOf assertion:
'predisposes towards' some 'pancreatic cancer'

[2020-05-05 00:34] #370 closed

[2020-05-05 23:43] nicolevasilevsky commented on #378
From NCIT:
Yes, these can be merged.

[2020-05-05 23:44] nicolevasilevsky commented on #378
I updated the label and the initial comment

[2020-05-06 14:37] brookepalus commented on #1453
Hi Nicole,
I apologize for the lack of information. I am putting in this request on the behalf of one of our biocurators, so please let me know how else I can clarify the request beyond what I have included below.

I also made an error in the original request, and the new MonDO term should be: SCN4A-related myopathy, autosomal recessive  (where originally I left off the A). Please let me know if y

[2020-05-07 08:31] ValWood opened #1482 "[Revise subclass] MONDO:0005328 eye disease"
eye disease (MONDO:0005328)

Definition | Parents
-- | --
A non-neoplastic or neoplastic disorder that affects the eye. Representative examples include conjunctivitis, glaucoma, cataract, conjunctival squamous cell carcinoma, uveal melanoma, and retinoblastoma.

Are all of these children really 'eye diseases"

some look like they might be more appropriately descendants of the parent
"disease of or

[2020-05-07 09:21] ValWood opened #1483 "inborn vs inherited"
inborn errors of metabolism MONDO:0019052

Definition | Parents
-- | --
A group of disorders present at birth that involve genetic defects leading to disturbances in carbohydrate, lipid, lysosomal storage or amino acid metabolism in the body. The inborn errors of metabolism are typically rare, but this class also encompasses non-rare diseases like hereditary hemochromatosis type 1

What does "pres

[2020-05-07 09:35] ValWood opened #1484 "large number of inferences for purine/pyrimidine metabolism"
**MONDO:0019254**

I'm not sure that all of these are errors in purine/pyrimidin metabolism

+ | acute infantile liver failure due to synthesis defect of mtDNA-encoded proteins
-- | --
  | slm3
+ | adenine phosphoribosyltransferase deficiency
  | apt1
+ | adenosine deaminase deficiency
  | dea2
+ | adenylosuccinate lyase deficiency
  | ade8
+ | AICA-ribosiduria
  | ade10
+ | Arts syndrome
  | prs5

[2020-05-07 11:01] ValWood commented on #1484
I don't have time to go through them all but for example

cardioencephalomyopathy, fatal infantile, due to cytochrome c oxidase deficiency 1 (MONDO:0011451)

glycogen storage diseases look odd too

and some of the aneamias, for example
 hemolytic anemia due to glucophosphate isomerase deficiency

I can see where this comes from
for example glycolysis will make ATP from ADP, but  would people consi

[2020-05-07 11:06] ValWood commented on #1484
We just mapped from DO to Mondo and the number of purine/pyrimidine disorders  for fission yeast has gone up from 3->152

[2020-05-07 11:35] ValWood opened #1485 "inborn mitochondrial metabolism disorder"
**MONDO:0004069**

inborn mitochondrial metabolism disorder

is defined
Diseases caused by abnormal function of the mitochondria. They may be caused by mutations, acquired or inherited, in mitochondrial dna or in nuclear genes that code for mitochondrial components. They may also be the result of acquired mitochondria dysfunction due to adverse effects of drugs, infections, or other environmental

[2020-05-07 11:38] ValWood opened #1486 "cerebral degeneration"
**cerebral degeneration | MONDO:0024238**

During migration from DO-MONDO We lost the following mappings to cerebral degeneration:

+ | CADASIL 2
-- | --
  | htr12
+ | hydrocephalus
  | sec71
+ | hypomyelinating leukodystrophy
  | prs1
+ | hypomyelinating leukodystrophy 10
  | SPAPYUG7.05
+ | hypomyelinating leukodystrophy 11
  | rpc40
+ | hypomyelinating leukodystrophy 12
  | SPAC16A10.03c
+ | hy

[2020-05-07 11:48] ValWood opened #1487 "Terms without definitions"
We now have a lot of terms without definitions which had definitions previously from DO
see

[mondo_terms_no_definition.tsv (1).txt](https://github.com/monarch-initiative/mondo/files/4592722/mondo_terms_no_definition.tsv.1.txt)

[2020-05-07 11:57] maglott commented on #1485
Is 'inborn error' consistent with a definition that states 'acquired or inherited'?
That definition seems more consistent with a general term for
**mitochondrial metabolism disorder**, for which **inborn mitochondrial metabolism disorder** would be the inherited subset (nuclear or mitochondrial, maternal)

[2020-05-07 11:57] ValWood opened #1488 "drop in numbers for autosomal dominent and recessive after migration (DO>MONDO)"
i.e.

<img width="979" alt="Screenshot 2020-05-07 at 12 53 55" src="https://user-images.githubusercontent.com/7359272/81291573-e5cf0a80-9061-11ea-882f-8e11c49b6e49.png">

A drop in number means that a gene product which used to map to this grouping term by propagation no longer does.

You can see the current inferences here
https://www.pombase.org/term/DOID:0050737

and here
https://www.pombase.or

[2020-05-07 12:03] ValWood commented on #1485
I also queried the use of inborn vs. inherited here
https://github.com/monarch-initiative/mondo/issues/1483

I don't understand the distinction, but there may be one.

[2020-05-07 12:04] ValWood commented on #1485
In case this request is not =clearv

MEHMO syndrome
currently is_a inborn mitochondrial metabolism disorder

[2020-05-07 13:47] maglott opened #1489 "[Obsolete] tuberous sclerosis complex MONDO:0019341"
**Mondo term (ID and Label)**
tuberous sclerosis complex MONDO:0019341

**Reason for deprecation**
How is this different from tuberous sclerosis MONDO:0001734?
Is there any reason to  have both?

**Suggested replacement or term to consider**

[2020-05-07 13:51] maglott commented on #1489
I don't really know which should be retained; I see GeneReviews uses Tuberous Sclerosis Complex.

[2020-05-07 14:54] maglott opened #1490 "review of Zellweger spectrum disorders"
According to GeneReviews and GHR
https://www.ncbi.nlm.nih.gov/books/NBK1448/#pbd.Nomenclature
The relationships should look something like
Peroxisome biogenesis disorders
* Zellweger spectrum disorder
** Zellweger syndrome
***all its gene-specific subclasses
** neonatal adrenoleukodystrophy (NALD)
**infantile Refsum disease
* rhizomelic chondrodysplasia punctata spectrum

Do we need another node b

[2020-05-07 17:50] jennygoldstein opened #1491 "[NTR] GTP cyclohydrolase I deficiency"
Background: Based on discussion with the ClinGen Aminoacidopathy Gene Curation Expert Panel and ClinGen Lumping and Splitting Working Group chair, the following change is requested.
To best capture the spectrum of disease for GTP I cyclohydrolase deficiency, we propose to have a parent term, “GTP Cyclohydrolase I deficiency” (would need new MONDO ID), with child terms “Dystonia 5” (keeping the cur

[2020-05-07 20:36] nicolevasilevsky commented on #1453
Thanks Brooke, this is great!

[2020-05-07 20:57] nicolevasilevsky commented on #1482
I agree that MONDO:0013768 arterial calcification, generalized, of infancy, 2 does not seem like an eye disease. I am not sure why it has the parent 'oculocutaneous albinism', I think we can exclude this supclassOf relationship.

[2020-05-07 21:01] nicolevasilevsky commented on #1482
I think the classification:
'rare disorder with ptosis'
->'centronuclear myopathy'

may be incorrect. I'll look into it further and we can exclude the subclassOf assertion

[2020-05-08 00:31] nicolevasilevsky commented on #1483
I think 'present at birth' is different from inherited in that it doesn't necessarily have to be an inherited disease, but could be a disease that arose via a different mechanism.

There is a comment on MONDO_0006507 'hereditary hemochromatosis' (which is the parent of  hemochromatosis type 1):
Editor notes: HH1 is not rare, so the current placement of generic HH under rare inborn errors of metabo

[2020-05-08 00:40] nicolevasilevsky commented on #1483
@pnrobinson or @cmungall do you want to weigh in?

[2020-05-08 04:39] ValWood commented on #1483
So what would an example of  another mechanism be other than "inherited"?

Hemochromatosis type 1 is
inherited, autosomal, recessive
but not "present at birth"

[2020-05-08 04:43] ValWood commented on #1482
Thanks! No huge hurry, the migration overall looks pretty good, and we get much better coverage of most  grouping terms in our slim.
There may be a couple of further tickets as I see a couple more things I would like to QC check.

[2020-05-08 10:09] ValWood opened #1492 "Missing parent (MP) argininosuccinic aciduria MONDO:0008815"
DOID:14755
Definition | Parents
An amino acid metabolic disorder that involves the accumulation of argininosuccinic acid (ASA) in the blood and urine.

MONDO:0008815
Argininosuccinic aciduria (ASA) is a disorder of urea cycle metabolism

(causative genes are  also
GO:0042450 | arginine biosynthetic process via ornithine
pathway)

is missing a parent to "amino acid metabolic disorder"

[2020-05-08 10:23] ValWood opened #1493 "MP hyperargininemia /argininosuccinic aciduria / ornithine translocase deficiency"
All of these are urea cycle disorders, but also amino acid disorders

hyperargininemia MONDO:0008814
Arginase deficiency is a rare autosomal recessive amino acid metabolism disorder

argininosuccinic aciduria
Description
Argininosuccinic aciduria (ASA) is a disorder of urea cycle metabolism most c

ornithine translocase deficiency MONDO:0009393
Hyperornithinemia-hyperammonemia-homocitrullinuria sy

[2020-05-08 10:24] ValWood commented on #1493
In DO "urea cycle disorder" is a descendant of "amino acid metabolism" disorder.

If always true this relationship could be instantiated. If not the parent will need adding to these individual terms.

[2020-05-08 10:42] pnrobinson commented on #1483
Exactly. For instance congenital infection (https://med.emory.edu/departments/pediatrics/divisions/neonatology/dpc/conginf.html).

inborn and inherited are synonymous (for all effective purposes). Not all inborn defects manifests at birth
congenital means something that manifests at birth

[2020-05-08 10:49] ValWood opened #1494 "Large number of false positives for carbohydrate metabolic disease"
Mondo term (MONDO:0037792)

None of these gene products are directly involved in 'carbohydrate metabolism"

https://www.pombase.org/results/from/id/d2d6ddb3-5bc1-413d-8029-f1bb7dc67107

although some might appear to be by the product names they are really only transferring large carbohydrate moieties onto proteins (they are really defects in protein glycosylation, or glycolipid biosynthesis which

[2020-05-08 11:05] ValWood commented on #1483
So can you use "congenital" for everything that is currently "manifests at birth"
(Or did I misunderstand which part this was the answer too.

 hemochromatosis type 1 is *definitely*  not ever symptomatic at birth

"Haemochromatosis is an inherited condition where iron levels in the body slowly build up over many years. This build-up of iron, known as iron overload, can cause unpleasant symptoms.

[2020-05-08 11:08] pnrobinson commented on #1483
an inherited condition does NOT mean visible at birth. Essentially it means in this context that the affected person carries genetic variants that strongly (and in many cases deterministically) predispose to health problems later in life.

[2020-05-08 11:21] ValWood commented on #1483
No, clearly. But I said
"i.e if it means only inherited why not say 'inherited'"

if "present from birth"  means more than inherited,  what is that? This is the part that I am not getting.

[2020-05-08 11:39] ValWood opened #1495 "Large drop in monogenic diseases after DO-MOndo mapping"
The following 210 genes used to be annotated to "monogenic disease"
https://www.pombase.org/results/from/id/707b3611-0b71-4ebd-9ee1-9326e44d76c6

Possibly not all are, but most do appear to be from  spot checking

For example

SPAC31A2.05c | mis4 | cohesin loading factor (adherin) Mis4/Scc2
SPBC776.13 | cnd1 | condensin complex non-SMC subunit Cnd1
SPCC306.03c | cnd2 | condensin complex non-SMC su

[2020-05-08 11:39] pnrobinson commented on #1483
I see what you mean. AFAIK this is a question of usage. The Inborn errors or metabolism refer to a group of very serious disorders that happen to also present at birth. They result from defects in enzymes that are basically required from birth on. This is an additional specification.

[2020-05-08 11:56] ValWood commented on #1483
OK, so action is to review those which are described as "inborn"

inborn disorder of purine or pyrimidine metabolism (MONDO:0019254)

includes  things which are not severe at birth

Definition | Parents
-- | --
A group of disorders present at birth that involve genetic defects leading to disturbances in carbohydrate, lipid, lysosomal storage or amino acid metabolism in the body. The inborn errors

[2020-05-08 12:06] pnrobinson commented on #1483
Might be easier to skype. inborn means hereditary not congenital, and thus inborn is correct here!

[2020-05-08 13:18] ValWood commented on #1483
Yes, I can't do today as I'm supposed to be off, it's bank holiday here. I just got caught up in some "small tasks'

So far summarizing  I'm getting

hereditary
--congenital
--inborn hereditary not congenital
--other?

but then

- inborn and inherited are synonymous (for all effective purposes).
- Not all inborn defects manifests at birth
- The Inborn errors of metabolism refer to a group of very

[2020-05-08 18:07] nicolevasilevsky commented on #1283
This can be closed

[2020-05-08 18:07] #1283 closed

[2020-05-08 18:13] nicolevasilevsky opened #1496 "Nicole's to do's from Mondo meeting 05/08/20"
Creating a super ticket here with my action items from the Mondo call:

- [x] relabel dementia to dementia (disease)
- [x] create ticket obsolete 'neurodegenerative disease with dementia'
- [x] Fix def for 'human prion disease'
- [x] Monogenic disease with epilepsy - rename to monogenic epilepsy
- [x] create a ticket: ROBOT report - need to check that we have no clashes with HPO
- [x] Make a new t

[2020-05-08 21:49] nicolevasilevsky opened #1498 "[Obsolete] 'neurodegenerative disease with dementia'"
**Mondo term (ID and Label)**
 MONDO_0020136 'neurodegenerative disease with dementia'

**Reason for deprecation**
This is a grouping class and not every child term includes dementia, for example, MONDO_0018926 'human prion disease' - patients with human prion disease eventually develop dementia, but it is not a disease that is necessarily a type of dementia.

**Suggested replacement or term to co

[2020-05-08 21:51] nicolevasilevsky opened #1499 "ROBOT report - need to check that we have no clashes with HPO"
Per our [Mondo call on 05/08](https://docs.google.com/document/d/1wXBv1Bh4JmdqPCbQyu78ZyrITpxQTAQi1odNO-0aPcw/edit), could we get a check in the ROBOT report to check that Mondo terms do not have any clashes with HPO terms.

For example:
MONDO_0001627 'dementia (disease)'
MONDO_0002280 'anemia (disease)'

[2020-05-08 22:05] nicolevasilevsky commented on #429
pinging @pnrobinson

[2020-05-08 22:12] pnrobinson commented on #429
See
https://hpo.jax.org/app/browse/term/HP:0010619

[2020-05-11 05:18] ValWood opened #1501 "MONDO:0020184 parentage"
MONDO:0020184 rare eyebrow/eyelashes anomaly
--
is_a eyelid disease

is_a
eye disease

Looks incorrect?

[2020-05-11 05:20] ValWood opened #1502 "genetic hair anomaly (MONDO:0021027) parentage"
genetic hair anomaly (MONDO:0021027)

is_a genetic epidermal appendage anomaly

which is a "skin disease"

Looks incorrect?

[2020-05-11 13:52] ValWood opened #1503 "congenital nonspherocytic hemolytic anemia (MONDO:0006506)"
congenital nonspherocytic hemolytic anemia (MONDO:0006506)

is not a type of
anemia (disease) (MONDO:0002280)

[2020-05-11 14:10] ValWood commented on #1503
(in Mondo)... I assume it should be?

[2020-05-11 15:12] #1496 closed

[2020-05-11 16:31] nicolevasilevsky commented on #429
Thanks @pnrobinson!

I think this should be obsoleted and add consider HP:0010619

[2020-05-12 05:22] ValWood opened #1506 "missing cancer inheritance"
Action items:

- [x] review MONDO:0009693 | plasma cell myeloma, should this be a subclass of cancer? the malignant form is an exact synonym
_The alt def in NCIT is: A malignant neoplasm of the bone marrow composed of plasma cells._

- [ ] question from Val: but I still don't understand the precise relationship between neoplasm and cancer.

_updated 10/22/21 NV_

----

myeloid neoplasm (MONDO:0005

[2020-05-12 05:29] ValWood commented on #1506
and
B-cell chronic lymphocytic leukemia (MONDO:0004948)

[2020-05-12 11:25] PabloBotas commented on #745
Hi everyone!
I am a bit confused here. I was reviewing Dravet in MONDO and came across this. Let's see if I write it properly:

1. Dravet (MONDO:0011794) has an EXACT synonym in "epileptic encephalopathy, early infantile, type 6" according to MONDORULE:1.
2. EIEE6 (MONDO:0100079) is_a EIEE caused by SCN1A
3. EIEE6 (MONDO:0100079) is_a EIEE that shares features with Dravet
4. EIEE4 (MONDO:0012812)

[2020-05-12 18:55] nicolevasilevsky commented on #1506
In Mondo, neoplasms are siblings of cancer, so I think that explains why myeloid neoplasm (MONDO:0005170) is not a descendent of cancer.

But it seems like B-cell chronic lymphocytic leukemia (MONDO:0004948) should be. It is a child of 'leukemia (disease)' which is a child of 'hematopoietic and lymphoid cell neoplasm'.

@cmungall should 'leukemia (disease)' be asserted to be a child of 'cancer'? O

[2020-05-12 19:27] ValWood commented on #1506
Makes sense, I'm never sure about  the cancer  vs. neoplasm ones, but some appear to clearly be cancers.

- Should there be a relationship between the neoplasm and a full blown cancer?
- Should we be annotating to 2 separate disorders?

[2020-05-13 10:42] PabloBotas commented on #745
Hi, adding on this issue:
Checking the phenotype in MONDO, it provides 56 symptoms for Dravet (https://monarchinitiative.org/disease/MONDO:0011794#phenotype). None of these symptoms come directly from EIEE6 as far as I know, unless those annotated to Dravet actually are inherited through the "disease_shares_features_with" annotation.

In any case, discussing with some people from the European Drav

[2020-05-13 11:15] maglott opened #1507 "[NTR] chilblain lupus erythematosus"
**Preferred term label:**
chilblain lupus erythematosus

**Synonyms**
CHLE, Hutchinson lupus

**Comment**
I don't know if this is equivalent to chilbain lupus or not, but according to the second reference it has multiple etiologies and should not be represented as genetic
"CHLE is a rare variant of LE that presents as sporadic or as an autosomal inherited form,"

**Definition (free text, please gi

[2020-05-13 11:33] maglott commented on #1507
FWIW, SNOMED does not use chilblain lupus, and UMLS has chilbain lupus as a synonym of chilblain lupus erythematosus.  So it may be correct to treat chilblain lupus erythematosus, Hutchinson disease , and CHLE as valid for MONDO_0019557

[2020-05-13 12:48] maglott commented on #1395
This is an example of a larger question, namely is susceptibility to disease to be treated as equivalent to the disease itself?  Seems to be they should be distinct entities and not synonyms.  Another example is
visceral leishmaniasis MONDO:0005445
which is a parent of
susceptibility to visceral leishmaniasis, 1 MONDO:0021012.
That makes the genetic predisposition (susceptibility) represented as a

[2020-05-13 14:21] maglott commented on #732
@cmungall , is this going to implemented globally?  I just encountered https://monarchinitiative.org/disease/MONDO:0008947 where
bilateral striopallidodentate calcinosis  has a synonym of basal ganglia calcification, idiopathic, type 1 which is gene-specific.  basal ganglia calcification, idiopathic, 1 MONDO:0024538 differs only by the term 'type'

[2020-05-13 14:56] maglott commented on #732
And Trichohepatoenteric syndrome type 1 a synonym of tricho-hepato-enteric syndrome MONDO:0009105 when trichohepatoenteric syndrome 1 MONDO:0024541 also exists  (that pesky 'type')

[2020-05-14 02:30] galyea-gard opened #1508 "Hallucinogen-Persisting Perception Disorder"
Hallucinogen-Persisting Perception Disorder

According to DSM-5, Hallucinogen Persisting Perception Disorder is caused by intoxication with hallucinogen drugs, especially LSD.  It is defined as the recurrence of perceptive disturbances that firstly develop during intoxication. The contents of the perception and visual imagery range extensively. DSM-5 and previous DSM editions report a list of the

[2020-05-14 11:12] ValWood commented on #1483
I think I get it now.

So
inborn errors of metabolism (MONDO:0019052)
could have
exact synonym "inherited metabolic disease"

is that correct?
I was just wondering why sometimes inherited is used, and sometimes inborn is used?

[2020-05-14 11:14] ValWood commented on #1483
No I am still getting it wrong

Definition | Parents
-- | --
Diseases caused by abnormal function of the mitochondria. They may be caused by mutations, acquired or inherited, in mitochondrial dna or in nuclear genes that code for mitochondrial components. They may also be the result of acquired mitochondria dysfunction due to adverse effects of drugs, infections, or other environmental causes.

so

[2020-05-14 11:21] pnrobinson commented on #1483
@ValWood if you would like to send me an email, I'd be happy to set up a skype.

I think that inborn and inherited are very close, but inborn tends to be used to describe a disease that is caused by an inherited mutation. The word is not much used any more, I think we mainly see it in inborn errors of metabolism.

Another point is that we should avoid the use of the word mutation (the community is

[2020-05-14 12:32] ValWood opened #1509 "missing parent: hereditary nonpolyposis colon cancer (MONDO:0018630)"
hereditary nonpolyposis colon cancer (MONDO:0018630)
This term does not have the parent

cancer MONDO:0004992
should this be added?

[2020-05-14 12:47] ValWood opened #1510 "MP hyperglycinuria (disease) (MONDO:0007677)"
hyperglycinuria (disease) (MONDO:0007677)

Is directly under
inherited genetic disease

Hyperglycinuria (HG) is an autosomal recessive abnormality of renal transport of glycine, resulting from mutations in genes encoding proline and glycine transporters.
(souece KEGG)

should it have a parent to
urinary system disease (MONDO:0002118)
(or a descendant)

[2020-05-14 13:41] maglott opened #1511 "congenital factor VII deficiency MONDO:0009211 vs factor VII deficiency MONDO:0002244"
**Mondo term (ID and Label):**
congenital factor VII deficiency MONDO:0009211 vs factor VII deficiency MONDO:0002244

**Xref that should be fixed (ID and label):**

The CUI for the congenital subset is C1394919 not C0015503, which seems more appropriate for
factor VII deficiency MONDO:0002244
**Other comments:**
If Mondo is going to retain the distinction between F7 deficiency and the congenital s

[2020-05-14 16:56] tibingaman opened #1512 "Need New MONDO ID for NAA10-related syndrome"
Preferred term label: NAA10-related syndrome

Synonyms/Other Disease Assertions: Odgen Syndrome, Lenz Microphthalmia Syndrome, Autism Spectrum Disorder, Intellectual Disability

Definition (free text, please give PubMed ID, if applicable, in format PMID:#######): Variants in NAA10 are currently associated with two diseases in Monarch: Odgen Syndrome and Lenz Microphthamia Syndrome. It has also bee

[2020-05-14 19:22] maglott commented on #1512
I am confused about suggesting Autism Spectrum Disorder and  Intellectual Disability as synonyms for
 NAA10-related syndrome.   Don't synonyms require that the terms mean the same thing?  Are all ASD or ID are based on NAA10 misfunction?

[2020-05-14 19:23] cmungall commented on #1482
what's the axiom annotation say?

[2020-05-14 19:25] cmungall commented on #1495
See also #722

while subclassing into mono / poly is perfectly logical not clear we can commit to annotating at the desired level

@ValWood do you specifically want monogenic or is a more general mendelian concept encompassing digenic fine?

[2020-05-14 19:29] tibingaman commented on #1512
Hello,

I apologize for creating confusion – I suggested them as other disease entities associated with NAA10. There are no synonyms.

Thank you,
Taylor

From: maglott <notifications@github.com>
Sent: Thursday, May 14, 2020 3:23 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Bingaman, Taylor I. <tibingaman@geisinger.edu>; Author <author@noreply.github.com>
Subject: [External] Re: [

[2020-05-14 19:56] nicolevasilevsky commented on #1482
there is not a axiom annotation

![image](https://user-images.githubusercontent.com/6722114/81979747-53d77c80-95e2-11ea-863e-8f81a9611ff3.png)

[2020-05-14 20:37] ValWood commented on #1495
Well I think this is OK and we can include both , but if the definition already clearly states that a single gene variant is disease-causing ( as in the above), why not instantiate monogenic?

Monogenic  is  clearly more useful for people working on model yeast because it helps to argue that yeast can be a good model for the mechanism if it isn't just contributing. I can  *really* promote the mono

[2020-05-14 20:38] ValWood commented on #1495
It should be largely inferrable from your end based on definitions?

[2020-05-14 20:47] nicolevasilevsky commented on #1508
I added this as a child of 'perceptual disorders', as the def of Hallucinogen abuse says: A substance abuse that involves the recurring use of hallucinogenic drugs despite negative consequences. -> I think this could occur even after one use of a hallucinogenic drug, it doesn't have to be recurring abuse.

[2020-05-14 20:59] nicolevasilevsky commented on #1511
factor VII deficiency
F7 deficiency
factor 7 deficiency

These are related synonyms, I think it is okay to keep these. Let me know if you disagree.

[2020-05-14 21:22] nicolevasilevsky commented on #1509
I think so!

[2020-05-14 21:48] nicolevasilevsky commented on #745
Hi PabloBotas,
Thanks for bringing up this issue. Above, it looks like the decision was made to split Dravet syndrome from EIEE6, so 'epileptic encephalopathy, early infantile, type 6' should be made a related synonym for 'Dravet syndrome'.

I agree that we should exclude the superclass assertions for 'epileptic encephalopathy, early infantile, 19' and 'epileptic encephalopathy, early infantile, 4

[2020-05-14 22:21] nicolevasilevsky commented on #1507
I added CHLE, Hutchinson lupus as synonyms to MONDO_0019557, and the text def from Orphanet

[2020-05-15 00:54] cbizon opened #1518 "MIS-C [NTR]"
**Preferred term label:**
Multisystem Inflammatory Syndrome in Children  Associated with Coronavirus Disease 2019

**Synonyms**
MIS-C

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
See https://emergency.cdc.gov/han/2020/han00432.asp

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**

**Your nano-att

[2020-05-15 01:04] cmungall commented on #1518
for modeling diseases like this, should it be is-a or a causal relation to COVID-19? I think the latter.

[2020-05-15 02:14] cbizon commented on #1518
I agree, but I don't claim any deep understanding of this particular case beyond popular news reports.

[2020-05-15 06:49] PabloBotas commented on #745
Hi Nicole!
Thanks! So this means that now EIEE4 & 19 are not Dravet and that Dravet is a synonym of EIEE6. Is that correct? Is it left as "related synonym"?

This opens a question: do you have a way of checking that there are no hierarchical relation between gene-level diseases in MONDO?

[2020-05-15 06:53] ValWood opened #1519 "MP leukodystrophy (MONDO:0019046)"
leukodystrophy (MONDO:0019046)

should this be is_a neurodegenerative disease?

[2020-05-15 08:09] ValWood commented on #1509
Its a strong disposition though, probably one of the most high expressivity inherited cancers (MutL and MutS family  DNA repair).

Aren't most of the hereditary cancers dispositions with very high expressivity?

[2020-05-15 08:14] ValWood commented on #1509
For example this is a susceptibility and you have this  as a "cancer' decendant

[2020-05-15 11:11] maglott commented on #1507
Super.  Thanks.

[2020-05-15 11:24] maglott commented on #1511
The display from Monarch https://monarchinitiative.org/disease/MONDO:0009211  does not make any distinction between related synonyms and synonyms.  This is thus confusing to anyone using the Monarch display (where MedGen is going to point our users)  It is likely just me, but I have never understood the use of 'related synonym' . If it strictly means something like 'Did you know we also have a rel

[2020-05-15 14:50] paolaroncaglia commented on #1468
Hi @nicolevasilevsky ,
I see that my requested new term for 'vector-borne disease' is pending PR. Is there any update on that, please? We'd need the term for a collaborators' project. Thanks!

[2020-05-15 14:52] paolaroncaglia commented on #1467
Hi again @nicolevasilevsky ,
This request is also pending PR, would there be any objection to pushing it please? Many thanks.

[2020-05-15 14:57] cmungall commented on #745
This check is a high priority. Nicole let's make sure we get this done

On Thu, May 14, 2020, 23:49 Pablo Botas <notifications@github.com> wrote:

[2020-05-15 15:18] PabloBotas commented on #745
Thank you @nicolevasilevsky and @cmungall. Let me know if there is anything I can do to help!!

[2020-05-15 19:11] nicolevasilevsky opened #1520 "[Revise subclass] Fix is_a overloading (action items from Mondo call)"
- [x] monogenic epilepsy
- remove logical def
- add monogenic disease as superclass

- [x] Rett syndrome
-  exclude superclass 'monogenic epilepsy

- [x]  'thiamine-responsive encephalopathy'
- exclude superclass 'monogenic epilepsy, make a child of toxic encephalopathy

- [x] look at the monogenic epilepsy children, exclude 'monogenic epilepsy parent', if applicable. - Add 'disease has feature' s

[2020-05-15 19:16] nicolevasilevsky commented on #1520
related to https://github.com/monarch-initiative/mondo/issues/834

[2020-05-15 22:06] nicolevasilevsky opened #1521 "[Obsolete] MONDO_0017678 'disease with punctate palmoplantar keratoderma as a major feature'"
**Mondo term (ID and Label)**
MONDO_0017678 'disease with punctate palmoplantar keratoderma as a major feature'

**Reason for deprecation**
this is a grouping class for
'autosomal dominant disease associated with punctate palmoplantar keratoderma as a major feature'
'autosomal recessive disease associated with punctate palmoplantar keratoderma as a major feature'

which will be reclassified and is

[2020-05-15 22:07] nicolevasilevsky commented on #1521
related to https://github.com/monarch-initiative/mondo/issues/1520

[2020-05-15 22:11] nicolevasilevsky commented on #1521
Note to self, once this is obsoleted, check that it is no longer inferred as a parent for:
'autosomal dominant disease associated with punctate palmoplantar keratoderma as a major feature'
'autosomal recessive disease associated with punctate palmoplantar keratoderma as a major feature'

[2020-05-15 22:16] nicolevasilevsky opened #1522 "[Obsolete] MONDO_0017820 'disease with Cushing syndrome as a major feature'"
**Mondo term (ID and Label)**
MONDO_0017820 'disease with Cushing syndrome as a major feature'

**Reason for deprecation**
This is a disease with a phenotype as a feature and is used as a grouping class but does not seem clinically relevant. The parent is wrong, this class is not a type of 'Cushing syndrome'.

**Suggested term to consider**
None

Related to https://github.com/monarch-initiative/mo

[2020-05-15 22:59] nicolevasilevsky opened #1524 "[Obsolete] 'neoplastic disease or syndrome'"
**Mondo term (ID and Label)**
MONDO_0023370 'neoplastic disease or syndrome'

**Reason for deprecation**
'neoplastic syndrome' predisposes towards cell proliferation disorder, it should not be a child of 'cell proliferation disorder'

**Suggested term to consider**
None

Related to https://github.com/monarch-initiative/mondo/issues/1520

This was a discussed on the Mondo call on 05/15/20, see note

[2020-05-17 07:25] ValWood opened #1525 "parentage spondyloepimetaphyseal dysplasia with multiple dislocations (MONDO:0011335)"
spondyloepimetaphyseal dysplasia with multiple dislocations (MONDO:0011335)

has ancestry to
disorder of O-xylosylglycan synthesis

this seems odd because the defect is in a kinesin, which isn't related to  glycosylation as far as I know?
I can't find any mention of glycosylation defect for this disease

[2020-05-17 09:20] paolaroncaglia opened #1526 "Typos in capitalization"
Hi,

The last Mondo release included updated OMIM and Orphanet ingest (see https://github.com/monarch-initiative/mondo/issues/1283). Looking at the list of new classes in https://github.com/monarch-initiative/mondo/releases/tag/v2020-04-29, I noticed that some, but not all, of the new class labels suffer from excessive de-capitalization. E.g.
MONDO:0020763 Menke-Hennekam syndrome 1 is fine, while

[2020-05-17 10:37] ValWood opened #1527 "mitochondrial DNA depletion syndrome (MONDO:0018158)"
mitochondrial DNA depletion syndrome (MONDO:0018158)

has ancestry to
metabolic disease with intestinal involvement
but  this does not seem to be likely to be true for all

in fact is it described as:
The mitochondrial DNA (mtDNA) depletion syndrome (MDS) is a clinically heterogeneous group of mitochondrial disorders characterized by a reduction of the mtDNA copy number in affected tissues without

[2020-05-18 20:16] galyea-gard commented on #1463
Hi!  I agreed with this change because the term is used in Orphanet and it is, per se, illustrative of the subtypes or causes of HM.

[2020-05-18 20:16] galyea-gard commented on #1463
We have also made this change in GARD.

[2020-05-18 20:22] galyea-gard commented on #1489
I agreed with the proposed change to Tuberous sclerosis complex instead of TS even so that you can use either one of those names.    They are synonyms but "complex"  is more illustrative of the many features it can have given the number of systems that can be involved ( tuberous sclerosis comes from the characteristic tuber-like nodules in the brain, which calcify  and become sclerotic).  We made

[2020-05-19 04:21] nicolevasilevsky commented on #1526
@cmungall could you comment? Should I add defs from OMIM?

[2020-05-19 05:08] nicolevasilevsky commented on #745
correct

No, Dravet is not a synonym of EIEE6, but EIEE6 is left as a related synonym for Dravet syndrome.

[2020-05-19 05:09] nicolevasilevsky commented on #745
@cmungall how do we check for this?

[2020-05-19 05:15] nicolevasilevsky commented on #1351
Hi @maglott gentle reminder that there is an open question above

[2020-05-19 05:27] cmungall commented on #745
can you make a separate ticket for the QC check and assign me/Shahim,
thanks.

On Mon, May 18, 2020 at 10:09 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-05-19 05:33] nicolevasilevsky opened #1532 "need check - no hierarchical relation between gene-level diseases in MONDO"
need a way of checking that there are no hierarchical relation between gene-level diseases in Mondo

related to https://github.com/monarch-initiative/mondo/issues/745

[2020-05-19 05:36] #1467 closed

[2020-05-19 05:50] #1527 closed

[2020-05-19 05:50] #1525 closed

[2020-05-19 11:35] maglott opened #1535 "childhood absence epilepsy"
**Mondo terms (ID and Label):**
childhood absence epilepsy MONDO:0010826
epilepsy, childhood absence, susceptibility to, 1  MONDO:0020759
**Xrefs that should be fixed (ID and label):**
https://www.omim.org/phenotypicSeries/PS600131: Epilepsy, childhood absence
https://www.omim.org/entry/600131: EPILEPSY, CHILDHOOD ABSENCE, SUSCEPTIBILITY TO, 1; ECA1

**Other comments:**

[2020-05-19 15:32] galyea-gard commented on #1508
Thank you Nicole!

From: Nicole Vasilevsky <notifications@github.com>
Sent: Thursday, May 14, 2020 4:48 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Author <author@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] Hallucinogen-Persisting Perception Disorder (#1508)

I added this as a child of 'perceptual disorder

[2020-05-20 11:38] maglott opened #1536 "split term: Imerslund-Grasbeck syndrome MONDO:0009853"
Term to split: Imerslund-Grasbeck syndrome MONDO:0009853

Names for new terms: Imerslund-Grasbeck syndrome 1, Imerslund-Grasbeck syndrome 2

List properties that should be moved to new term
OMIM:261100 needs to be moved to Imerslund-Grasbeck syndrome 1

OMIM has created IMERSLUND-GRASBECK SYNDROME 2 (https://omim.org/entry/618882) and renamed 261100 as IMERSLUND-GRASBECK SYNDROME 1; IGS1, with gen

[2020-05-20 16:38] bmeldal commented on #1355
I absolutely agree! We can't say "sars1" is the specific 2002/3 strain/disease AND the parent species for all SARS-related strains one of which is "sars2" of the 2019 pandemic strain/disease. We are missing a "type strain" for sars1... (I used to work with eukaryotic taxonomies and there's never a taxon without a type...)

Been banging my head against a wall with this for weeks... keep coming back

[2020-05-20 19:45] deustp01 commented on #1355
Same here - following UniProt Reactome is using NCBI 694009 as the ID for SARS-CoV-1 RNA and proteins, and NCBI 2697049 as the ID for SARS-CoV-2, even though the NCBI taxonomy appears to make 2697049 a child of 694009, not a sibling or a cousin.

But there is also the rationalization that we're annotating functions of gene products, and SARS-CoV-1 and SARS-CoV2 are undoubtedly different taxa even

[2020-05-20 23:01] nicolevasilevsky commented on #1468
Chris had some comments for me, which I just addressed. Hopefully we can get this into the next release.

[2020-05-20 23:16] nicolevasilevsky commented on #1493
Hi @ValWood I am a bit unclear what the request is here - would you mind outlining the action items for this ticket? Thank you!

[2020-05-20 23:18] nicolevasilevsky commented on #1494
Hi Val- I'm not sure what the request is here. Is there an issue with the children of 'carbohydrate metabolism disease' in Mondo?

[2020-05-20 23:22] nicolevasilevsky commented on #1486
Hi @ValWood The formatting in Markdown is a throwing me off. Is everything in this list a disease?  Is this a mix of disease names and genes?

Can you clarify what you mean by mappings to cerebral degeneration? In DO are these children of cerebral degeneration, or is cerebral degeneration a phenotypic feature?

Thanks!

[2020-05-20 23:34] nicolevasilevsky commented on #1482
@ValWood I excluded the subclass Of assertions for:
MONDO:0013768 arterial calcification, generalized, of infancy, 2
MONDO_0018947 centronuclear myopathy

There are 2500 subclasses of 'eye disease', so I can't review this entire list. Could you please report any other issues as you see them? Thank you!

[2020-05-20 23:48] nicolevasilevsky commented on #1484
Can anyone weigh in on this?

@cmungall @pnrobinson

I'm not sure how to address this.

Here is the explanation for cardioencephalomyopathy, fatal infantile, due to cytochrome c oxidase deficiency 1 (MONDO:0011451)

![image](https://user-images.githubusercontent.com/6722114/82508369-b4225e80-9ab9-11ea-95b8-641bdf2181e9.png)

[2020-05-20 23:57] nicolevasilevsky commented on #1485
@ValWood I am unclear what the request is here, could you please clarify? Thank you!

[2020-05-20 23:58] nicolevasilevsky commented on #1487
@cmungall do we want to add the definitions from DO?

[2020-05-20 23:59] nicolevasilevsky commented on #1488
@ValWood
Sorry I wasn't able to get to this ticket sooner, the links above no longer work. Not sure how to address this.

cc @cmungall

[2020-05-21 00:22] nicolevasilevsky commented on #1493
Ah, I think I understand - MP=missing parent.

In Mondo, 'urea cycle disorder' is a child of 'inherited amino acid metabolic disorder', which is inferred to be a child of 'amino acid metabolism disease'.

I added 'urea cycle disorder' as a parent of 'inborn disorder of urea cycle metabolism and ammonia detoxification' and I _think_ this addresses the issue.

[2020-05-21 00:27] nicolevasilevsky commented on #1495
I'm not clear what the action item is here, @cmungall

[2020-05-21 00:32] nicolevasilevsky commented on #1501
There is a comment on this term:
Editor note: does not align with anatomy

and an annotation on the subclass Of assertion: MONDO:disputed

it seems like we should exclude this parent and add the superclass 'eye adnexa disease' instead.

[2020-05-21 00:36] nicolevasilevsky commented on #1502
cc @Orphanet @ana-rath-orphanet @annieolry

[2020-05-21 00:40] nicolevasilevsky commented on #1502
This comes from Orphanet, and the term is not defined, but this def from [medscape](https://emedicine.medscape.com/article/1294744-overview) says:
Hair follicles, sebaceous glands, sweat glands, apocrine glands, and mammary glands are considered epidermal glands or epidermal appendages, because they develop as downgrowths or diverticula of the epidermis into the dermis.

So I think this is okay.

[2020-05-21 00:40] #1502 closed

[2020-05-21 02:42] cmungall commented on #1492
Thanks for the fix @nicolevasilevsky - not you can also make an assertion that this results from the disruption of GO:0042450 and it will auto-classify under "amino acid metabolic disorder"

[2020-05-21 02:42] #1492 closed

[2020-05-21 02:43] #1493 closed

[2020-05-21 02:57] cmungall commented on #1501
Thanks Nicole, the fix is correct, although we lose the fact that this affects the hair

I'm going to go ahead and merge this but I'll keep this open. Note we have an 'obsoletion candidate' on this one, and a link to #254 - we don't like groupings like "rare X". The reason this wasn't changed to just "X" was precisely because we don't have an anatomic grouping for eyelib/eyebrow

I really think so

[2020-05-21 03:02] cmungall commented on #1482
thanks. some of these should fall out of the ordo cleanup work

[2020-05-21 03:02] #1482 closed

[2020-05-21 03:07] #1394 closed

[2020-05-21 03:09] #1446 closed

[2020-05-21 03:13] cmungall commented on #1444
How does this relate to:

[code]

Note the orphanet exact synonym

[2020-05-21 03:16] #1463 closed

[2020-05-21 03:17] #1520 closed

[2020-05-21 03:18] #1507 closed

[2020-05-21 03:37] #1508 closed

[2020-05-21 03:41] cmungall commented on #1512
thanks @tibingaman - of the terms you mention, which would be classified under your proposed term? E.g Ogden syndrome arises from mutations in NAA10, so it would presumably go here

@nicolevasilevsky - perhaps we should add something to the issue template to suggest existing terms that should be moved underneath the proposed term

In fact we might even want an issue template for diseases defined e

[2020-05-21 03:46] #1503 closed

[2020-05-21 03:46] #1511 closed

[2020-05-21 03:49] #429 closed

[2020-05-21 04:07] nicolevasilevsky commented on #1512
Looks like I added:
'microphthalmia, Lenz type'
'Ogden syndrome'

as children as part of of this PR.

[2020-05-21 06:48] ValWood commented on #1493
thanks, I'm so used to using MP I forgot to spell it out.

[2020-05-21 07:09] ValWood commented on #1486
You can ignore the gene names. This is just a screen grab from our DO mapping to  "cerebral degeneration"

I left then in because if there was any query about a specific disease I would be able to locate it easily at my end to check anything.

In DO all of these genes mapped to "cerebral degeneration" so  these terms must  be children of cerebral degeneration in DO.

Some of my suggestions might b

[2020-05-21 07:18] ValWood commented on #1482
OK, I will have another look when these are gone. That was my plan anyway.   I wasn't sure  how many would go away  when these terms were removed because I can't see all  the hierarchy in our view, we just get a. flat list of everything under eye disease
Like:
https://www.pombase.org/term/MONDO:0005328

[2020-05-21 07:28] paolaroncaglia commented on #1355
In case it's useful, the issue may be raised with NCBI Taxonomy by contacting the [NCBI Help Desk](https://www.ncbi.nlm.nih.gov/home/about/contact/), or even the GenBank Help (same page) who have a direct channel with the Taxonomy team.

[2020-05-21 07:29] ValWood opened #1546 "Cornelia de Lange syndrome, not an eye disease"
HI

Cornelia de Lange syndrome,
is currently classified as an eye disease, but this looks incorrect?

The syndrome has a widely varied phenotype, meaning people with the syndrome have varied features and challenges. The typical features of CdLS include thick or long eyebrows, a small nose, small stature, developmental delay, long or smooth philtrum, thin upper lip and downturned mouth.[1]

Also th

[2020-05-21 07:42] ValWood commented on #1484
Actually, although it seems a bit odd  to me I think it's oK to live with the  "oxidative phosphorylation " ones as this could be classed as a defect in "purine or pyrimidine metabolism" although it's really the 'interconversion of the pool or ATP and ADP'. This is probably really a GO issue and one not yet fully resolved.

So the one that stands out for me otherwise is
 Diamond-Blackfan anemia.
M

[2020-05-21 07:50] ValWood commented on #1484
Although maybe you could remove the relation between

mitochondrial oxidative phosphorylation disorder (MONDO:0016387)

and

MONDO:0019254
Disease association
inborn disorder of purine or pyrimidine metabolism (MONDO:0019254)

because for many of these the  look quite strange

MONDO:0054865
Disease association
encephalopathy due to mitochondrial and peroxisomal fission defect
for example, is due t

[2020-05-21 08:12] bmeldal commented on #1355
I got in touch with them yesterday, discussions ensue...

[2020-05-21 08:57] ValWood commented on #1485
Sorry!

I  don't think that
"MEHMO syndrome" is an "inborn mitochondrial metabolism disorder"

I see that is has a comment at the end about mitochondrial dysfunction

MEHMO syndrome is characterised by severe intellectual deficit, epilepsy, microcephaly, hypogenitalism, and obesity. Growth delay and diabetes are also present. To date, it has been described in seven boys, all of whom died within th

[2020-05-21 08:58] ValWood commented on #1485
Although it is called a mitochondrial disorder here:
https://www.nature.com/articles/5200791
so maybe that is OK

[2020-05-21 09:01] ValWood commented on #1485
but it's really a defect in the control of protein synthesis globally
https://pubmed.ncbi.nlm.nih.gov/30517694/?from_term=MEHMO+syndrome&from_pos=2

so the mitochondrial effects sound more like phenotypes.
Is this how you would differentiate?

[2020-05-21 09:01] ValWood commented on #1485
MEHMO is also a single gene disorder

[2020-05-21 09:10] ValWood commented on #1488
I saved the lists before we migrated, but they are only pombe gene name lists now.

[autosomal dominent.txt](https://github.com/monarch-initiative/mondo/files/4661545/autosomal.dominent.txt)

[autosomal recessive.txt](https://github.com/monarch-initiative/mondo/files/4661546/autosomal.recessive.txt)

I need to do diffs on the current  lists, and then ask @kimrutherford to extract the
disease assoc

[2020-05-21 09:22] ValWood commented on #1495
I'm a numpty. I thought I had saved the list of DO monogenic diseases, but I saved the MONDO list.

Anyway, a lot of diseases should be easy to classify as monogenic, because a single disease-causing gene is listed in the definition?

All or most of the descendants of
inborn disorder of purine metabolism (MONDO:0019236)
for example.

All of these:
https://www.pombase.org/term/MONDO:0037940

Most "

[2020-05-21 09:47] ValWood commented on #1487
These defs were really useful.
I also liked the fact that most mentioned the causative gene,  which made it clear that we had the fission yeast assignment  correct.

[2020-05-21 12:03] lcdaugherty opened #1547 "autism (disease) MONDO:0005260 missing MeSH ID"
autism (disease) (MONDO:0005260)
Xref that should be fixed (MeSH: D001321)

**Other comments:**
Just wondering why MeSH: D001321 is no longer included in this entry?

Thanks

[2020-05-21 14:09] RedRiver1816 commented on #1444
@cmungall Note that ALDH18A1-related de Barsy syndrome is proposed as a child term for the more general P5CS Deficiency. Specifically, the above entity only refers to a single form of the disorder (AR Cutis Laxa) whereas this general term should cover the other three forms as well (AD Cutis Laxa, AR/AD Spastic Paraplegia). The above publication (PMID:32017139) provides evidence to support this.

[2020-05-21 15:14] ValWood opened #1548 "pulmonary fibrosis and/or bone marrow failure, Telomere-related, 1 (MONDO:0013878)"
**Term**
pulmonary fibrosis and/or bone marrow failure, Telomere-related, 1 (MONDO:0013878)

**def**
Any pulmonary fibrosis and/or bone marrow failure, Telomere-related in which the cause of the disease is a mutation in the TERT gene.

**question**
Is this a disease?
It looks like the symptoms of dyskeratosis congenita, autosomal dominant 1 (MONDO:0007485)
A dyskeratosis congenita that has_materia

[2020-05-21 15:21] ValWood commented on #1548
or
.dyskeratosis congenita, autosomal dominant 1 (MONDO:0007485)
A dyskeratosis congenita that has_material_basis_in an autosomal dominant mutation of TERC on chromosome 3q26.2.

i.e  Dyskeratosis congenita
seems to be a grouping them with the same meaning

or similar? I can't quite figure this one out

[2020-05-21 15:31] ValWood opened #1549 "Use current HGNC names in definitions"
Many terms

MONDO:0013519
A dyskeratosis congenita that has_material_basis_in an autosomal recessive mutation of NOLA2 on chromosome 5q35.3.

NOLA2 = NHP2

MONDO:0009136
Definition
A dyskeratosis congenita that has_material_basis_in an autosomal dominant mutation of NOLA3 on chromosome 15q14.

NOLA3 = NOP10

It would be really nice if you could use current HGNC names in the definitions.
Could this

[2020-05-21 15:31] ValWood commented on #1549
Also, it's a PINTA to need to look them  :)

[2020-05-21 15:48] ValWood opened #1550 "embedded linking to other terms"
Description
Bjrnstad syndrome is characterized by congenital sensorineural hearing loss and pili torti. Less than fifty cases have been reported so far. The hearing loss usually becomes evident very early in life, often in the first year. Pili torti, a condition in which the hair shaft is flattened and twisted, makes the hair very brittle and patients develop hair loss in the first two years of li

[2020-05-21 15:50] nicolevasilevsky commented on #1550
I have to double check, but I think this def comes from Orphanet. We should delete the (see this term).

[2020-05-21 15:52] nicolevasilevsky commented on #1550
I'm not sure what you mean. Are you looking in Monarch?

[2020-05-21 15:52] nicolevasilevsky commented on #1548
Hi @ValWood My apologies, I don't understand the question. Would it be possible to reorganize the comments to add some headers to your comments, like I did above? (Term, def, question). That would be super helpful! :)

For MONDO:0013878, in the first part,  I believe you are asking if this is a valid disease and if we should consider obsoleting it. I agree that this seems like a collection of phen

[2020-05-21 15:53] maglott opened #1551 "split term: arachnoid cyst"
Term to split: arachnoid cyst MONDO:0008813

Name for new term:   intracranial arachoid cyst

List properties that should be moved to new term
UMLS: [C0751615]  Intracranial Arachnoid Cysts
OMIM: https://omim.org/entry/207790

[2020-05-21 16:03] ValWood opened #1552 "[Merge] mitochondrial complex III deficiency nuclear type 1 into parent"
mitochondrial complex III deficiency nuclear type 1 (MONDO:0007415)

Maybe this term should be merged into  the paretn
mitochondrial complex III deficiency, nuclear type

All of the siblings describe mutations in specific genes. This one confused me because it had co-annotation but was not telling me anything that the parent does not tell  me.
It seems to. be a sibling bin for anything which is no

[2020-05-21 16:04] ValWood commented on #1552
For example I had qcr7
https://www.pombase.org/gene/SPCC737.02c
assigned to

mitochondrial complex III deficiency nuclear type 1
 mitochondrial complex III deficiency nuclear type 3

but  type III is correct /more specific  since it names the ortholog UQCRB

[2020-05-21 16:13] ValWood commented on #1550
I'm looking  both
here https://www.pombase.org/term/MONDO:0009872
and here]
https://monarchinitiative.org/disease/MONDO:0009872

if you put (see MONDO:0011308) in the brackets we would both be able to establish internal linking in our respective resources.

[2020-05-21 16:32] ValWood commented on #1548
According to this PFBMFT1
https://www.ncbi.nlm.nih.gov/gtr/conditions/C3553617/
it isn't a TERT specific thing

[2020-05-21 16:35] nicolevasilevsky commented on #1548
The OMIM record says it is due to a mutation in the TERT gene: https://www.omim.org/entry/614742
I just skimmed it, but it looks like there are references supporting that.

[2020-05-21 16:36] nicolevasilevsky commented on #1548
The NCBI page says TERT is an associated gene:
![image](https://user-images.githubusercontent.com/6722114/82582194-86cfc200-9b46-11ea-8d1f-c95324efa4e5.png)

Is this the question? I am still a bit unclear - apologies!

[2020-05-21 16:57] ValWood commented on #1548
It seems that    PFBMFT1 is a less severe later onset thing.

But the definition of
pulmonary fibrosis and/or bone marrow failure, Telomere-related, 1 (MONDO:0013878)
isn't necessary and sufficient to differentiate it from

autosomal recessive dyskeratosis congenita 4 (MONDO:0027353)
A dyskeratosis congenita that has_material_basis_in an autosomal recessive mutation of TERT on chromosome 5p15.33.

[2020-05-21 17:45] ValWood opened #1553 "Missing parent question (urea cycle terms)"
inborn disorder of urea cycle metabolism and ammonia detoxification (MONDO:0019217)

is there any instance where this is not a

urea cycle disorder (MONDO:0004739)

Or at least should these terms  be related in some way?

[2020-05-21 18:17] ValWood opened #1554 "[Revise text def] X-linked sideroblastic anemia with ataxia (MONDO:0010524)"
Term:X-linked sideroblastic anemia with ataxia (MONDO:0010524)
Def:X-linked sideroblastic anemia and ataxia (XLSA-A) is a rare syndromic, inherited form of sideroblastic anemia (see this term) characterized by mild to moderate anemia (with hypochromia and microcytosis) and early-onset, non- or slowly progressive spinocerebellar ataxia.

Please add
 is caused by is caused by mutation in the ABCB7 g

[2020-05-21 18:47] ValWood opened #1555 "COFS syndrome (MONDO:0008926) is not a Cockayne's syndrome"
COFS syndrome (MONDO:0008926)
Definition
Cerebrooculofacioskeletal (COFS) syndrome is a rare genetic disorder, belonging to a family of diseases of DNA repair, characterized by a severe sensorineural involvement. | is_a Cockayne syndrome

but COFs syndrome is not a Cockayne syndrome, it can be caused by mutations in the same genes
e.g
 rad13 can cause
cerebrooculofacioskeletal syndrome 3
and
xerod

[2020-05-21 18:51] ValWood commented on #1548
Oh I see what is happening now!
When I cut and past  a query I usually start with the term, and the term definition. I cut and paste from the PomBAse page. Unfortunatly when I do this only the definition gets transferred, not  the term name. I need to copy paste them individually.
I keep seeing issues where I was sure I put the  term name first!

If you see any like this just ping me and I will ad

[2020-05-21 20:29] maglott commented on #962
Is there going to be a general fix for these?  Just ran across https://monarchinitiative.org/disease/MONDO:0008897 which should have https://omim.org/entry/211900 /, tumoral calcinosis, HYPERPHOSPHATEMIC, familial, 1; HFTC1 split out.

[2020-05-21 21:13] maglott opened #1557 "Nephronophthisis"
According to the recent review at Orphanet, Nephronophthisis has 3 categories distinguished by age of onset, with gene-specific types for each.
MONDO does not have nodes for  Infantile nephronophthisis,  Juvenile nephronophthisis,  Late-onset nephronophthisis, so the ORPHA XRefs are incorrectly associated with a gene-specific type.
Example: nephronophthisis 16 MONDO:0014158, which is an infantile

[2020-05-22 00:49] nicolevasilevsky commented on #1553
this was added as a child of 'urea cycle disorder.'
see #1493

[2020-05-22 00:49] #1553 closed

[2020-05-22 00:53] nicolevasilevsky commented on #1550
Ah, got it. I'm not sure that @cmungall would want to reference other Mondo classes from the definitions in Mondo. I just deleted the (see this term).

[2020-05-22 01:08] nicolevasilevsky commented on #1548
I understand now! The definition of 'pulmonary fibrosis and/or bone marrow failure, Telomere-related, 1' was created using a Mondo pattern. In OMIM, they say the mutation is on chromosome 5p15. Would this def be sufficient:

Any pulmonary fibrosis and/or bone marrow failure, Telomere-related disease in which the cause of the disease is a mutation in the TERT gene on chromosome 5p15.

[2020-05-22 01:10] nicolevasilevsky commented on #1488
disease associations for us.

Ok, thanks!

[2020-05-22 01:12] nicolevasilevsky commented on #1485
Could you provide a reference for this? Thank you!

[2020-05-22 01:19] nicolevasilevsky commented on #1485
thanks for clarifying!

[2020-05-22 03:23] #1550 closed

[2020-05-22 03:25] #1555 closed

[2020-05-22 03:26] #1554 closed

[2020-05-22 03:36] #1342 closed

[2020-05-22 04:03] nicolevasilevsky commented on #1547
Hi @lcdaugherty - I still see it listed as an xref, where are you looking?

![image](https://user-images.githubusercontent.com/6722114/82630049-70f1e980-9ba6-11ea-9a64-1297d18b0d3d.png)

[2020-05-22 05:05] nicolevasilevsky commented on #1487
@ValWood were all the terms in the list above in DO (and defined in DO)? I did some spot checking of some terms and I didn't see all of the terms in DO. Thanks!

[2020-05-22 07:37] ValWood commented on #1487
Oh sorry no. The ones I mentioned originally (I can't remember which ticket)  had defs in DO when I looked. This is just a list of everything without defs. I don't think we can easily now get just the list without MONDO defs but with DO defs, but I can ask @kimrutherford if it would be really useful

[2020-05-22 07:51] ValWood commented on #1548
This def would still have the same problem

autosomal recessive dyskeratosis congenita 4 (MONDO:0027353)
A dyskeratosis congenita that has_material_basis_in an autosomal recessive mutation of TERT on chromosome 5p15.33.

Is also
a disease which has_material_basis_in in the same gene (TERT) and has BMF (according to its parent)

[2020-05-22 07:53] ValWood commented on #1548
Ah no  this is OK. I am misreading. The pulmonary fibrosis has to be present in MONDO:0013878 and the BMF May be present.

can close....

[2020-05-22 09:11] ValWood opened #1566 "fatal infantile encephalocardiomyopathy ancestry"
4 | fatal infantile encephalocardiomyopathy (MONDO:0015487)
51 | cardiomyopathy (MONDO:0004994)

I have annotations to both of these terms, but nothing in the  intersection.

0 | (cardiomyopathy (MONDO:0004994) AND fatal infantile encephalocardiomyopathy (MONDO:0015487)) | ...

Should MONDO:0015487 be a type of MONDO:0004994?

[2020-05-22 09:16] ValWood commented on #1566
should MONDO:0004994 also be a

mitochondrial disease with hypertrophic cardiomyopathy (MONDO:0016327)

(historically I had COX15 which is MONDO:0014051 annotated to MONDO:0016327 too)

[2020-05-22 10:36] lcdaugherty commented on #1547
Hi @nicolevasilevsky - I was looking here: https://monarchinitiative.org/disease/MONDO:0005260, am I looking at the wrong place?

<img width="1837" alt="mondo_mesh_query_20200522" src="https://user-images.githubusercontent.com/14925172/82659224-3e84d280-9c20-11ea-9913-a0df391281d3.png">

[2020-05-22 11:13] ValWood opened #1567 "Question progeroid and premature ageing, difference?"
What is the difference between

premature aging syndrome MONDO:0019303 and a
progeroid syndrome MONDO:0015333

the only difference I have annotation wise are to
de Barsy syndrome (MONDO:0017569)

but this is defined
A rare autosomal recessive genetic disorder characterized by facial dysmorphism (down-slanting palpebral fissures, a broad flat nasal bridge and a small mouth) with a _**progeroid appe

[2020-05-22 11:18] ValWood opened #1568 "typo in def Zellweger syndrome (MONDO:0019609)"
Definition | Parents
-- | --
Zellweger syndrome (ZS) is the most severe variant seen in the peroxisome biogenesis disorders, Zellweger syndrome spectrum (PBD-ZSS; see this term), characterized by neuronal migration defects in the brain, dysmorphic craniofacial features, profound hypotonia, neonatal seizures, and liver dysfunction.x

trailing .x

[2020-05-22 11:31] ValWood opened #1569 "MONDO:0009282 multiple acyl-CoA dehydrogenase deficiency"
1. Add synonyms (exact)
Glutaric acidemia type II
Glutaric acidemia type II

2. update def to include genes
https://ghr.nlm.nih.gov/condition/glutaric-acidemia-type-ii
Glutaric acidemia type II is an inherited metabolic disorder caused by a deficiency of either mitochondrial electron transport flavoprotein (ETF) or multiple acyl-CoA dehydrogenase involving ETF or ETF-ubiquinone oxidoreductase.

ht

[2020-05-22 12:11] ValWood opened #1570 "typo in metabolic disease (MONDO:0005066)"
metabolic disease (MONDO:0005066)

A congenital (due to inherited enzyme abnormality) or acquired (due to failure of a metabolic important organ) disorder resulting from an abnormal metabolic process.

cngenital -> congenital disorder (or something)?
-> metabolically

Can "metabolic disorder " be used added as an exact synonym (in fact, this  seems more prevelant)

[2020-05-22 12:27] ValWood commented on #1569
Should this also be is_a
multiple acyl-CoA dehydrogenase deficiency (MONDO:0009282)?

[2020-05-22 13:20] ValWood opened #1571 "[NTR/Uner Tan Syndrome"
name: Uner Tan Syndrome
synonym: recessive quadrupedalism

Uber Tan Syndrome is a tubulinopathy with material basis in  TUBB2B
this def is likely not sufficient to distinguish from other tubulinopathies , some characteristics are below)

variant R390Q
quadrupedal locomotion
cerebellar hypoplasia
NOT basal ganglia malformations (typical of TUBB2B )

Reference PMID: 28013290

Parents
global cerebell

[2020-05-22 13:36] ValWood opened #1572 "urea cycle related"
follow on from

https://github.com/monarch-initiative/mondo/issues/1553

Is there really a difference between

MONDO:0019217  inborn disorder of urea cycle metabolism and ammonia detoxification
MONDO:0004739 | urea cycle disorder

Isn't  all urea cycle about ammonia detoxification ?

I ask because
MONDO:0019217  inborn disorder of urea cycle metabolism and ammonia detoxification
was made a child w

[2020-05-22 14:17] ValWood opened #1573 "Mitochondrial pyruvate carrier deficiency missing parents and definition"
Mitochondrial pyruvate carrier deficiency is an autosomal recessive metabolic disorder characterized by delayed psychomotor development and lactic acidosis with a normal lactate/pyruvate ratio resulting from impaired mitochondrial pyruvate oxidation.
(summary by Bricker et al., 2012)
add def based on above from OMIM

and
caused my mutations in MPC1

also add parents,
lactic acidosis (MONDO:0006040

[2020-05-22 14:18] ValWood commented on #1571
and parent monogenic disease (MONDO:0000275)

[2020-05-22 14:19] ValWood commented on #1569
+ monogenic disease (MONDO:0000275)

[2020-05-22 14:19] ValWood commented on #1573
inborn mitochondrial metabolism disorder (MONDO:0004069)

[2020-05-22 15:59] ValWood opened #1574 "hypertelorism (disease) MONDO:0007778"
hypertelorism (disease) MONDO:0007778
Description
A condition in which there is an abnormally increased distance between two organs or bodily parts; most often, this term is referring to an increased distance between the orbits (orbital hypertelorism).

I had an annotation to this term for atp6 which I have removed. But while looking at it it struck me that this is too general to refer to a specif

[2020-05-22 16:10] ValWood opened #1575 "maternally-inherited spastic paraplegia synonym, def, parent"
maternally-inherited spastic paraplegia

Suggest an update
synonym Maternally-inherited SPG (exact)
synonym MT-ATP6-related mitochondrial spastic paraplegia (exact, if not this would be a new child term)

there is also a def here:
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=EN&Expert=320360
MT-ATP6-related mitochondrial spastic paraplegia is a rare, genetic, complex hereditary spastic para

[2020-05-22 16:17] ValWood commented on #1573
I realised I  could replace the 3 x'd out by a single term
inborn mitochondrial metabolism disorder (MONDO:0004069)

Note that when I suggest missing parents, I only know a term should have a particular ancestry, but I am not thoroughly checking to see if I can 'deepen' my suggestion. It may  often be possible to make the parent I suggest more granular when you are looking in an editor.
If I notic

[2020-05-22 16:48] nicolevasilevsky opened #1576 "[Obsolete] 'cytokine deficiency'"
**Mondo term (ID and Label)**
MONDO_0022918 'cytokine deficiency'

**Reason for deprecation**
No children
Was added to mirror existing term
No info in GARD: https://rarediseases.info.nih.gov/diseases/9529/cytokine-deficiency

**Suggested term to consider**
HP_0011112 'Abnormality of serum cytokine level'

cc @GARDInfoCenter

[2020-05-22 17:03] ValWood opened #1577 "[NTR/gene] Succinate-CoA ligase deficiency"
Succinate-CoA ligase deficiency

https://ghr.nlm.nih.gov/condition/succinate-coa-ligase-deficiency
Succinate-CoA ligase deficiency is an inherited disorder that affects the early development of the brain and other body systems. One of the earliest signs of the disorder is very weak muscle tone (severe hypotonia), which appears in the first few months of life.

 SUCLA2 or SUCLG1 gene. SUCLG1 gene m

[2020-05-22 17:05] ValWood commented on #1577
NOte that the related term for the sever form is
mitochondrial DNA depletion syndrome, encephalomyopathic form with methylmalonic aciduria (MONDO:0012791)

this term definitions says "Transmission is likely to be linked to maternal mitochondrial DNA.
but since the gene in question (see above)  is known to be SUCLG1 this comment is not true and should be removed.

[2020-05-22 17:14] ValWood commented on #1577
actually I'm happy just to annotate to the severe form ( MONDO:0009504 | mitochondrial DNA depletion syndrome 9),

but this is also referred to as "Succinate-CoA ligase deficiency" s could this be added as a broad synonym"

[2020-05-22 18:55] nicolevasilevsky commented on #1175
Action items for me from the call on 05/22:

- [ ] Relabel children under 'genetic cardiac malformation' as ‘(disease)’ and add has features some Phenotype
- [ ] follow up with Ana

[2020-05-22 18:56] nicolevasilevsky opened #1578 "review subclasses of disease by subcellular system affected"
look for terms in branch 'disease by subcellular system affected' and flag any terms where this is the only parent

this was discussed at the 05/22 Mondo mtg.

[2020-05-22 21:28] julianig72 commented on #745
Hi there,
The average age at seizure onset for Dravet Syndrome is 5.2 months, with a range of 1-18 months, but most often under 12 months (Cetica 2017, Wirrell 2017)

Julian Isla
Chief Scientific Officer
Dravet Syndrome European Federation

[2020-05-22 21:58] nicolevasilevsky commented on #1487
Hi Val - no need to get the list without MONDO defs but with DO defs. I talked to Chris today and we have a strategy.

We'll try to pull in any defs from OMIM where we can, and I'll review the list to determine other sources of defs. This will take me some time though, I hope that's okay.

I added this list to a spreadsheet [here](https://docs.google.com/spreadsheets/d/1a5thoV8kQ3tShdmiRaWB1ODEfxt

[2020-05-22 22:01] nicolevasilevsky opened #1579 "[Merge] MONDO:0003436 lung oat cell carcinoma"
**Mondo term (ID and Label)**
MONDO:0003436 lung oat cell carcinoma

**Reason for deprecation**
lung oat cell carcinoma is a syn for MONDO_0008433 'small cell lung carcinoma'

**Term to be merged with**
MONDO_0008433 'small cell lung carcinoma'

[2020-05-22 22:15] ValWood commented on #1487
No hurry for me. This sounds like a long term task!

val

[2020-05-23 07:03] ValWood opened #1580 "typo, respiratory"
typo

combined oxidative phosphorylation deficiency
MONDO:0000732

A mitochondrial oxidative phosphorylation disorder in which multiple mitochondrial **_respirartory_** chain complexes.
(I didn't check the descendants)

[2020-05-23 08:04] ValWood opened #1581 "mitochondrial complex III deficiency nuclear type 1 MONDO:0007415 def query"
https://monarchinitiative.org/disease/MONDO:0007415
mitochondrial complex III deficiency nuclear type 1 MONDO:0007415
Description
Mitochondrial complex III deficiency is one of several conditions caused by dysfunction of mitochondria , which are specialized compartments in cells that generate more than 90% of the energy required by the body. It is a severe, multisystem disorder that includes featu

[2020-05-23 08:08] ValWood commented on #1581
Also the def should say that this is a dysfunction of

"mitochondrial respiratory chain complex III "  to distinguish from the myriad of other syndromes which affect energy production and have similar symptoms.

( I think this definition was maybe meant for the parent)?

[2020-05-23 08:12] ValWood commented on #1581
Actually, I think this term should exist, so
https://github.com/monarch-initiative/mondo/issues/1552 is out or date.

The problem is the incorrect definition assigned

[2020-05-23 08:13] ValWood commented on #1552
Out of date

[2020-05-23 08:13] #1552 closed

[2020-05-23 08:15] ValWood commented on #1581
Out of curiosity when was the def assigned? I can't find  a ticket mentioning it, but we are not picking this up in PomBase, so I just wondered if it was recent
@kimrutherford
https://www.pombase.org/term/MONDO:0007415

[2020-05-23 09:36] kimrutherford commented on #1581
The definition is not in the mondo.obo from the latest release.

[2020-05-24 20:17] ValWood opened #1582 "Description and definition don't match. dyskeratosis congenita, autosomal recessive 1 (MONDO:0009136)"
dyskeratosis congenita, autosomal recessive 1 (MONDO:0009136)

Definition
A dyskeratosis congenita that has_material_basis_in an autosomal dominant mutation of NOLA3 on chromosome 15q14.

termname says recessive, def says dominant

[2020-05-25 14:56] PabloBotas commented on #745
Hi again,
Just to clarify Julian's comment. He is commenting in relation to the feedback stating that "our experts note that onset of Dravet syndrome is not "early-onset," so the EIEE term is misleading.".

[2020-05-26 09:50] ValWood opened #1583 "Missing parent: constitutional mismatch repair deficiency syndrome (MONDO:0010159)"
constitutional mismatch repair deficiency syndrome (MONDO:0010159)

does not map to
DNA repair disease (MONDO:0021190)

[2020-05-26 10:02] ValWood commented on #1583
but it does have parents to

a immunodeficiency with severe reduction in serum IgG and IgA with normal/elevated IgM and normal number of B-cells

is that correct?
I thought the immunodeficiencies can be caused by the same genes but are distinct?

[2020-05-26 10:54] ValWood opened #1584 "dyskeratosis congenita (MONDO:0015780) parentage"
dyskeratosis congenita (MONDO:0015780)
Dyskeratosis congenita (DC) is a rare ectodermal dysplasia that often presents with the classic triad of nail dysplasia, skin pigmentary changes, and oral leukoplakia associated with a high risk of bone marrow failure (BMF) and cancer.

Has a LOT of is_a parents.
I'm not sure if they are all correct, but some look like symptoms and  some are redundant with ea

[2020-05-26 13:02] ValWood opened #1585 "[NTR] X-linked recessive mitochondrial myopathy"
Maybe this disease already exists  under a different name and this is just a new gene association?

An  X-linked recessive mitochondrial myopathy caused by defects in the MICOS subunit gene APOO (MIC26). Modelling in yeast and flies demonstrate an inability to insert MICOS complex into the inner mitohondrial membrane. Associated symptoms include, lactic acidosis, cognitive impairment and autistic

[2020-05-26 13:26] ValWood opened #1586 "[NTR] Hydatidiform mole, recurrent, 4"
Hydatidiform mole, recurrent, 4

This is a form associated with  c11orf80
https://www.omim.org/entry/616109

https://www.malacards.org/card/hydatidiform_mole_recurrent_4

[2020-05-26 15:10] ValWood opened #1587 "Question: genetic recurrent myoglobinuria (MONDO:0020504) parentage query"
Definition | Parents
-- | --
Genetic recurrent myoglobinuria is an inborn error of metabolism characterized by abnormal urinary excretion of myoglobin due to acute destruction of skeletal muscle fibers.

This  has parents
muscular lipidosis (MONDO:0016117)
and
disorder of phospholipids, sphingolipids and fatty acids biosynthesis with skeletal muscle predominant involvement (MONDO:0018120)

Is that

[2020-05-26 15:20] ValWood commented on #1587
It seems that myopglobinurea is a symptom of
lipodystrophy in
https://www.omim.org/entry/605518

but is this the same disease as the MT-CO1 disorder?

[2020-05-26 15:39] ValWood opened #1588 "parentage motor neuron disease (MONDO:0020128)"
motor neuron disease (MONDO:0020128)

has parent
 neuromuscular disease

but it does not have the parent
neurodegenerative disease (this is currently a sibling ), or are there cases where "motor neurone disease" is not a degenerative disorder?

[2020-05-26 16:21] ValWood commented on #1588
Reworded this request to clarify

[2020-05-26 17:35] pnrobinson opened #1589 "inborn errors or metabolism"
**Mondo term (ID Label)**
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0019052

**Bug/Typo/Error description**

At least half of the children of this term are not actually inborn errors or metabolism. The term "inborn error of metabolism" is not precisely defined, but it is well described here:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6331

[2020-05-26 17:38] ValWood commented on #1483
I just spoke  with @pnrobinson  and I was going to say this ticket could close.

But I see the problem I first reported.

According to Peter,  inborn is synonymous with inherited, but this definition says "present at birth"

inborn errors of metabolism MONDO:0019052
Definition
A group of disorders present at birth that involve genetic defects leading to disturbances in carbohydrate, lipid, lysosom

[2020-05-26 17:47] nicolevasilevsky opened #1590 "[NTR] COVID 19 illness level terms in NIH treatment guidance"
These terms were requested in HPO and may be more suitable for Mondo, see ticket: https://github.com/obophenotype/human-phenotype-ontology/issues/5787

[NIH COVID-19 treatment guidelines](https://www.covid19treatmentguidelines.nih.gov/overview/management-of-covid-19/) defined following illness categories:

- Asymptomatic or Presymptomatic Infection: Individuals who test positive for SARS-CoV-2 but

[2020-05-26 17:49] nicolevasilevsky commented on #1590
@cmungall
@mellybelly
Do these seem like suitable terms for Mondo?

[2020-05-26 17:59] nicolevasilevsky commented on #1483
Yes, I'll fix this. thanks @ValWood! Glad you and Peter were able to catch up.

[2020-05-26 18:25] nicolevasilevsky commented on #392
Followed up with NCIT by email on 05/26 for clarification. I think they misread this ticket initially. I updated the label and comment.

[2020-05-26 18:35] kshefchek opened #1593 "[Revise subclass] hydatidiform mole, recurrent, 2 subclass of coronary artery disease"
**Mondo term (ID and Label)**
MONDO:0013671: hydatidiform mole, recurrent, 2

**Suggested revision and reasons**
Currently hydatidiform mole, recurrent, 2 is a subclass of coronary artery disease, but the literature does not support this

cc @msincan

[2020-05-26 18:49] ValWood commented on #1483
I would like @pnrobinson  to confirm first, but this is my understanding.

Sorry I missed   chatting to you too!

[2020-05-26 18:56] pnrobinson commented on #1483
I would suggest this definition:
Inborn errors of metabolism are rare inherited disorders resulting from an enzyme defect in biochemical and metabolic pathways affecting proteins, fats, carbohydrates metabolism or organelle function.

The following is not true: The inborn errors of metabolism are typically rare, but this class also encompasses non-rare diseases like hereditary hemochromatosis type

[2020-05-26 19:01] ValWood commented on #1483
I agree, I'm HFE-/HFE-, iron overload  isn't a metabolic disorder ;)

[2020-05-26 22:13] nicolevasilevsky commented on #1586
We have this term in Mondo:
MONDO_0032747 'hydatidiform mole, recurrent, 4'

Was your intention to request a new term? This term already exists.

[2020-05-26 22:27] #1580 closed

[2020-05-26 22:35] nicolevasilevsky commented on #1483
sounds good, I updated the def to:
Rare inherited disorders resulting from an enzyme defect in biochemical and metabolic pathways affecting proteins, fats, carbohydrates metabolism or organelle function.

Chris asked that we not replicate the name of the class in the definition in his [blog](https://douroucouli.wordpress.com/2019/07/08/ontotip-write-simple-concise-clear-operational-textual-definit

[2020-05-26 22:40] nicolevasilevsky opened #1594 "[Obsolete] 'alpha-2 deficient collagen disease'"
**Mondo term (ID and Label)**
'alpha-2 deficient collagen disease'

**Reason for deprecation**
Looks like this term was obsoleted from GARD.

@GARDInfoCenter or @galyea-gard could you confirm?

[2020-05-26 22:46] nicolevasilevsky opened #1595 "[Revise text def] remove (see this term)"
Many defs have the text (see this term) in the text def. Could we write a script to remove this?

(These defs come from other sources, like Orphanet, that link out to other terms, but I don't think we can do that in Mondo.

[2020-05-26 22:47] nicolevasilevsky opened #1596 "[Merge] MONDO_0022939 'deafness hyperuricemia neurologic ataxia'"
**Mondo term (ID and Label)**
MONDO_0022939 'deafness hyperuricemia neurologic ataxia'

**Reason for deprecation**
Looks like this term was obsoleted from GARD.

**Replace by**
MONDO:0043176 'phosphoribosylpyrophosphate synthetase deficiency'

@GARDInfoCenter or @galyea-gard could you confirm?

[2020-05-26 22:55] nicolevasilevsky commented on #1581
Strange - I don't see this definition in the mondo-edit.obo file.

@cmungall and @kshefchek do either of you have any idea where this definition came from in Monarch?

[2020-05-26 22:57] nicolevasilevsky commented on #1581
It looks like it is from https://rarediseases.org/gard-rare-disease/8295/mitochondrial-complex-iii-deficiency/

I've never seen a case those where there is a def in Monarch but not in the Mondo file.

If I add this def to Mondo, will it show up in Monarch?

[2020-05-26 23:01] nicolevasilevsky commented on #1547
@lcdaugherty - ah, I see! I'm not sure why it isn't showing up in Monarch.

@kshefchek can you help investigate? Thanks!

[2020-05-26 23:44] kshefchek commented on #1581
Monarch is currently running http://purl.obolibrary.org/obo/mondo/releases/2020-03-05/mondo.owl , I can see this def there but must have been fixed in the last release.  I can close when we push our next data release (likely a few weeks out)

[2020-05-26 23:46] kshefchek commented on #1547
Monarch is currently running http://purl.obolibrary.org/obo/mondo/releases/2020-03-05/mondo.owl . I can close when we push our next data release (likely a few weeks out)

[2020-05-26 23:59] saramsey opened #1597 "UMLS CUI xrefs that start with "CN""
**Mondo term (ID and Label):**

MONDO_0000023

**Xref that should be fixed (ID and label):**

UMLS:CN228161

**Other comments:**
I am confused by this UMLS cross-reference. CUIs have a "C" followed by seven digits. I cannot find this identifier in any database except MedGen. It's provenance is unclear. Has it been superseded by a newer CUI?

[2020-05-27 00:04] nicolevasilevsky commented on #1581
Oh yeah, I see the def there. It must have been removed in the latest release. Thanks @kshefchek!

[2020-05-27 00:10] nicolevasilevsky commented on #1581
@ValWood this term is currently undefined in the current Mondo file, I'll add a definition. (There was a def on the GARD website, but it looks like it is down at the moment, so I'll come back to this.)

[2020-05-27 04:22] nicolevasilevsky commented on #1597
Hi @saramsey - I believe this probably did come from MedGen, but cannot comment on the provenance.
@cmungall could you comment?

[2020-05-27 04:40] nicolevasilevsky commented on #745
Hi @julianig72 and @PabloBotas - I'm sorry, I am unclear- is there a specific action item? Thanks!

[2020-05-27 04:50] cmungall commented on #745
@nicolevasilevsky - OMIM:607208 should be equivalent to MONDO:0100079 (EIEE6), not to (MONDO:0011794)

This addresses the comments and the original request I believe

We may want to ask @Orphanet to sync with us, they treat the two as equivalent:

https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http://www.orpha.net/ORDO/Orphanet_33069

[2020-05-27 05:30] ValWood commented on #1586
That's odd. When I searched on 'hydatiform" I did not locate this term? (I only see 2 terms)

When I extend to "hydatidiform mole, recurrent, 4" I don't see 4, only 1&2

[2020-05-27 05:31] ValWood commented on #1586
I don't find anything with the ID either?

[2020-05-27 10:41] lcdaugherty commented on #1547
@nicolevasilevsky is this anything to do with absoluteMatch and closeMatch?

The MeSH ID for autism is not equivalent to the MONDO term -- in the OWL file  OWL.edition of MONDO (v1.0), it's neither an equivalent class, nor an exact match.

https://monarchinitiative.org/disease/MONDO:0005260 only shows mappings that use the equivalence classes, not the cross references (as far as I can tell?)

OWL

[2020-05-27 11:28] maglott commented on #1597
Yes, the values that start with CN are used by MedGen, when a CUI from UMLS has not been identified.
Looking at MONDO_0000023, CN228161 is the identifier assigned by MedGen; PS615438 should be added for OMIM phenotypic series.

[2020-05-27 11:42] maglott commented on #1547
@kshefchek , @nicolevasilevsky
A little off topic, but trying to reduce my confusion, too.
I can tell frm https://www.ebi.ac.uk/ols/ontologies/mondo which release is being displayed.
* where is the same information from Monarch?
* what is the update cycle in Monarch for Mondo?

[2020-05-27 11:52] matentzn opened #1600 "Request: add Mondo release product for tree viewers"
Tree viewers such as OLS rely on abstracting ontologies such as Mondo into a tree before showing them. Users of OLS want to see:

1) associated equivalent classes
2) xrefs
3) (potentially associated genes, see Slack/Dipper discussion on slack)

For that to work, we need a Mondo release artefact that simply expresses:

OWLEquivalentClass(A,B)

as

OWLAnnotationAssertion(hasMondoEquivalent, A, B).

[2020-05-27 13:15] lcdaugherty opened #1601 "MeSH: C537666 is not a recognised xref for Becker muscular dystrophy (MONDO:0010311)"
Hi
I was looking at the following MONDO term in the OWL file OWL.edition of MONDO (v1.0), it is listed as having an exactMatch to MeSH: C537666, but that ID does not exist

Becker muscular dystrophy (MONDO:0010311) it has a exactMatch to MeSH: C537666
But that ID is not found/does not exist : https://www.ncbi.nlm.nih.gov/mesh/?term=C537666

For Becker muscular dystrophy (MONDO:0010311)  should the

[2020-05-27 13:33] PabloBotas commented on #745
Hi @cmungall and @nicolevasilevsky. Julian's point was regarding @ErinRiggs' comment in this thread (https://github.com/monarch-initiative/mondo/issues/745#issuecomment-506424005).

Regarding Chris' comment: I would agree with that. Then there is the issue of: what would MONDO:0011794 be then? Is this consolidating Dravet as a clinical syndrome? In this case, what are the genetic causes it encompa

[2020-05-27 14:27] paolaroncaglia opened #1602 "[NTR] coinfection"
For a collaborators' project, EFO recently created EFO:0010716 'coinfection' (https://github.com/EBISPOT/efo/issues/777). It was an urgent request so we created the term in EFO straight away, but if Mondo finds it useful, here it is:

**Label**
coinfection

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
The simultaneous infection of a host by

[2020-05-27 17:15] nicolevasilevsky opened #1603 "generate report on alignment of Mondo with UMLS"
A report is needed on what UMLS CUIs match to more than one Mondo term and vice versa? what is the provenance of those? Does any of the provenance come itself from multiple terms to one mondo or vice versa

cc @mellybelly

[2020-05-27 18:02] nicolevasilevsky commented on #745
Thanks Chris, I made this change

[2020-05-27 18:14] nicolevasilevsky commented on #745
@PabloBotas good question!

It seems like SCN1A is affected, according to this article: https://pubmed.ncbi.nlm.nih.gov/19673951/

Looks like GABRA1 and STXBP1 as well?: https://pubmed.ncbi.nlm.nih.gov/24623842/

[2020-05-27 18:18] nicolevasilevsky commented on #1603
List of cases to find programmatically and review
- Gene-specific records with more than 1 exact XRef to OMIM
- labels that are both exact synonyms and related synonyms for the same record
- records that have multiple CUI from UMLS (i.e. C[0-9]+ pattern, not CN

[2020-05-27 18:31] nicolevasilevsky commented on #1601
This xref comes from Orphanet (cc @ana-rath-orphanet and @Orphanet). Looks like it has been retired from MeSH?

I agree this should be updated to D020388, I will do so.

[2020-05-27 18:35] nicolevasilevsky commented on #1586
Where are you searching? I don't see it in Monarch, but Monarch doesn't have the latest Mondo release. It is in OLS: https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0032747

[2020-05-27 18:37] nicolevasilevsky commented on #1597
@maglott The OMIMPS is annotated to that term:
![image](https://user-images.githubusercontent.com/6722114/83059176-59838800-a00e-11ea-902d-3420ab56f650.png)

[2020-05-27 18:37] nicolevasilevsky commented on #1597
I think this can be closed?

[2020-05-27 18:42] kshefchek commented on #1547
The monarch release cycle is dependent on a lot of factors, I would say at best monthly and at worst quarterly

[2020-05-27 18:55] kshefchek commented on #1547
@maglott I've added a ticket here for this to be added https://github.com/monarch-initiative/monarch-ui/issues/340

[2020-05-27 19:39] ValWood commented on #1586
Oh right. I always search Monarch for terms. I  assumed it was current.
I can use OLS.

[2020-05-27 20:02] #1586 closed

[2020-05-27 20:24] #1581 closed

[2020-05-27 20:35] #1548 closed

[2020-05-27 20:56] nicolevasilevsky commented on #239
related to #1589

[2020-05-27 21:05] nicolevasilevsky commented on #239
I created a google spreadsheet [here](https://docs.google.com/spreadsheets/d/1L1Rcz0wRbqpuhIa4ynID_u_eSRn0917W/edit#gid=1010116657)

[2020-05-27 21:08] pnrobinson commented on #239
This would be a good place to get a lit of relevant diseases:

http://www.vademetab.org/

[2020-05-27 21:14] nicolevasilevsky commented on #239
Nice, thanks, this is helpful!

[2020-05-27 21:15] galyea-gard commented on #1594
Confirming that this term was retired in GARD in 3/9/2018.  It was retired because  was based in a single report in 1979 about a boy who could have another diagnosis. Thank you!

[2020-05-27 21:16] nicolevasilevsky commented on #1594
Thank you @galyea-gard!

[2020-05-27 21:21] galyea-gard commented on #1596
Confirming that this term was retired in GARD.  It was retired because it was actually referring to (duplicate)  Phosphoribosylpyrophosphate synthetase superactivity.  Thanks!

[2020-05-27 21:23] nicolevasilevsky commented on #1596
thanks @galyea-gard!

[2020-05-27 21:54] PabloBotas commented on #745
Disclaimer: I am not an expert on Dravet, much less on the field. This is my take on it.

Dravet has been conventionally associated to SCN1A (implying Dravet = EIEE6). However, diseases with similar phenotypes have been attached to the conditions, as you can see with GABRA1 and STXBP1. OMIM's approach is to provide unique names to these, hence the multiple EIEE#. Orphanet doesn't take this approac

[2020-05-28 01:30] balhoff opened #1610 "non-OBO terms with OBO PURLs"
MONDO contains terms using unregistered OBO namespaces, e.g.:

- http://purl.obolibrary.org/obo/OMIM_424500
- http://purl.obolibrary.org/obo/SCTID_716594002
- http://purl.obolibrary.org/obo/ONCOTREE_GINET

There may be others.

[2020-05-28 02:42] balhoff commented on #1610
Another example: http://purl.obolibrary.org/obo/KEGG_05215

(thanks to @saramsey)

[2020-05-28 07:30] ana-rath-orphanet commented on #1601
Thank you pointing this out. Will be corrected in Orphanet as well .
Relationship (Orphanet to MeSH) ND (as Becker is a sibling of Duchenne
and not a subtype, the main MeSH code being exact for Duchenne)

Best

Ana

Le 2020-05-27 20:32, Nicole Vasilevsky a écrit :

comes from Orphanet (cc @ana-rath-orphanet [1] and @Orphanet [2]). Looks
like it has been retired from MeSH?

to D020388, I will do so

[2020-05-28 08:13] ValWood opened #1611 "hydatiform mole, missing parent"
hydatiform mole is a descendant of
MONDO_0016784  gestational trophoblastic disease

but should that move  down to
gestational trophoblastic neoplasm MONDO_0018944
def
A diverse group of pregnancy-related tumors characterized by excessive proliferation of trophoblasts. Representative examples include hydatidiform mole, gestational choriocarcinoma, and placental site trophoblastic tumor.

[2020-05-28 14:33] maglott opened #1612 "[Revise subclass]hereditary methemoglobinemia"
**Mondo term (ID and Label)**

http://purl.obolibrary.org/obo/MONDO_0018963

**Suggested revision and reasons**
According to MedlinePlus and OMIM, seems the hemoglobin M should be treated as subclass of hereditary methemoglobinemia, and that hemoglobin M should have children based on whether the defect is in alpha or beta globin

https://medlineplus.gov/ency/article/000562.htm

hereditary methemog

[2020-05-28 14:47] cmungall commented on #1360
I think this is straightforward, the adult form should be a subclass; add childhood as a sib?

the ordo equiv should go with the adult subclass:
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http://www.orpha.net/ORDO/Orphanet_70578

[2020-05-28 16:07] julianig72 commented on #745
Hi there,
Mutations in GABRA1 lead into much more mild Dravet phenotype named in the past GEFS+. Mutations in STXBP1 produce a much more severe phenotype that Dravet and different clinical features.

There is a general consensus considering Dravet Syndrome is a channelopaty. Just SCN1A is a channel gene.

We are coming from a world where this condition was syndromic but we are moving into a much m

[2020-05-28 16:42] nicolevasilevsky opened #1614 "[Merge] MONDO_0006248 'hydatidiform mole' with MONDO:0018944 'gestational trophoblastic neoplasm'"
**Mondo term (ID and Label)**
MONDO_0006248 'hydatidiform mole'

**Reason for deprecation**
There is a comment on the class: TODO - merge with MONDO:0018944

**Term to be merged with**
MONDO:0018944 'gestational trophoblastic neoplasm'

[2020-05-28 17:15] nicolevasilevsky commented on #745
should I add the subclass Of assertion to Dravet syndrome:
'disease has basis in dysfunction of' some SCN1A
?

Seems like this equiv axiom below should be added to epileptic encephalopathy, early infantile, 6 too, as the text def is:
Any early infantile epileptic encephalopathy in which the cause of the disease is a mutation in the SCN1A gene.

'early infantile epileptic encephalopathy' and ('dise

[2020-05-28 17:15] nicolevasilevsky commented on #745
thank you @PabloBotas and @julianig72 for all of your input!

[2020-05-29 01:28] nicolevasilevsky commented on #392
From NCIT:
These concepts should be merged.  We recommend “primary peritoneal serous papillary adenocarcinoma” as the concept name.
FYI, the parent concept  for this term should be “primary peritoneal serous adenocarcinoma”.

[2020-05-29 02:10] nicolevasilevsky commented on #1612
https://omim.org/entry/617971 is equiv to hemoglobin M disease
so I don't think it makes sense for it to be a subclass of hemoglobin M disease. I made them siblings. Does this address this?

![image](https://user-images.githubusercontent.com/6722114/83213347-c3875480-a116-11ea-9ab7-569bbc30231b.png)

[2020-05-29 05:08] ValWood commented on #1614
This is presumably  OK if the  the other things listed here:

gestational trophoblastic neoplasm MONDO_0018944
def
A diverse group of pregnancy-related tumors characterized by excessive proliferation of trophoblasts. Representative examples include hydatidiform mole, gestational choriocarcinoma, and placental site trophoblastic tumor.

i.e.
gestational choriocarcinoma, and placental site trophobla

[2020-05-29 05:09] ValWood commented on #1614
see also
https://github.com/monarch-initiative/mondo/issues/1611

[2020-05-29 05:12] nicolevasilevsky commented on #1614
I don't know the rationale - but it is not definitive, we are meant to investigate further. Sounds like you prefer to keep these terms separate. I can remove the comment. Thanks for your input. :)

Note to self:
- [ ] remove comment

[2020-05-29 06:39] ValWood commented on #1614
The correct superclass  https://github.com/monarch-initiative/mondo/issues/1611
 will help (I wonder if the merge was suggested in part to address this ommission?)

A merge might be appropriate (I don't know enough about whether gestational choriocarcinoma, and placental site trophoblastic tumor are other names for hydaitform mole. If they are, a merge may be appropriate.

I would say only merge i

[2020-05-29 11:05] maglott commented on #1612
It comes down to the question of whether hemoglobin M disease is defined, as medline plus puts it, as
'hemoglobin M disease. It is caused by defects in the hemoglobin protein itself.'
In that is true, then one subtype results from altered alpha chain and one subtype results from altered beta chain.

Is there a hemoglobinopathy expert somewhere?

[2020-05-29 12:09] maglott opened #1618 "Graham little-Piccardi-Lassueur syndrome MONDO:0018858"
**Mondo term (ID Label)**
Graham little-Piccardi-Lassueur syndrome MONDO:0018858
**Bug/Typo/Error description**

Should be Graham Little-Piccardi-Lassueur syndrome

[2020-05-29 14:29] paolaroncaglia commented on #1578
Other than the terms whose label starts with "disease by", here's a start:
- [ ] MONDO:0021017 synaptopathy -> has only 1 child, that has another parent too;
...
TBC

[2020-05-29 16:17] nicolevasilevsky commented on #745
action items:

- [ ] remove 'early infantile epileptic encephalopathy' as a superclass
- [ ] coordinate with Orphanet (as they say EEE6=Dravet)

[2020-05-29 16:35] nicolevasilevsky commented on #745
@julianig72 and @PabloBotas
Do you think Dravet syndrome should be a grouping class (parent class) for EEE6 and 'epileptic encephalopathy, early infantile, 19' ?

[2020-05-29 16:40] nicolevasilevsky commented on #1495
@cmungall and the Mondo team discussed this and we decided to obsolete monogenic disease, and the terms that were previously under monogenic will be under 'inherited genetic disease'.

action item to me:
- [ ] obsolete monogenic disease

[2020-05-29 16:41] nicolevasilevsky commented on #722
To do:
- [ ] obsolete monogenic disease and add 'consider' 'inherited genetic disease'

[2020-05-29 16:47] nicolevasilevsky commented on #1042
- [ ] rename 'mitochondrial complex I deficiency' to 'mitochondrial complex I deficiency, nuclear type' (double check OMIM name)
- [ ] add parent 'mitochondrial complex I deficiency'
- [ ] add subclass 'mitochondrial complex I deficiency, mito type'
- [ ] move 'mitochondrial complex 1 deficiency, mitochondrial type 1' to be a child of 'mitochondrial complex I deficiency, mito type'

[2020-05-29 16:48] ErinRiggs commented on #745
Hello.  I will review this exchange with the ClinGen Epilepsy GCEP, the group that requested the original changes to this record, to get their thoughts on this conversation next week.

[2020-05-29 16:49] nicolevasilevsky commented on #1042
-[ ] look at all the dbxrefs and make sure they are attached to the correct terms

[2020-05-29 16:52] galyea-gard commented on #1579
Hi!  We already have "small cell lung carcinoma" (preferred term by the NCI) and kept lung oat cell carcinoma. Thanks!

[2020-05-29 16:55] nicolevasilevsky commented on #1275
- [ ] go ahead and merge, keep broad synonyms for 'adenosquamous bile duct carcinoma'

[2020-05-29 17:02] ValWood commented on #1495
That's a shame.
 What's the reason? It's  seems really useful to differentiate between single gene and poly genic. I guess it's just too wooly in some cases if you don't know that the disease is only present in a certain genetic background?

So there will be no way to distinguish  genes  which have a high propensity to cause a disease in multi-factorial diseases from monogenic? I would imagine a l

[2020-05-29 17:22] nicolevasilevsky commented on #1495
The justification is that we don't have sufficient information to properly classify diseases under monogenic or digenic.

Related to #722 and https://github.com/monarch-initiative/mondo/pull/972

[2020-05-29 17:22] galyea-gard commented on #1614
Hi!  The hydatiform mole is  not a synonym for gestational throphoblastic neoplasm but may be considered a subtype (benign, except for the invasive type).  The gestational throphoblastic neoplasm or tumor, include several tumors such as the  gestational choriocarcinoma, and the hydatiform mole.

[2020-05-29 17:35] ValWood commented on #1495
Looking at the 2 previous tickets. One describes it as "redundant" with inherited, but it isn't really.

Couldn't it be a parent of autosomal dominant, autosomal recessive and maternally inherited (you don't currently have maternally inherited).

Would this  be logically correct. Not everything would be classified initially , but would become classified  over time as the recessivity  and dominance

[2020-05-29 17:38] ValWood commented on #1495
Ah, OK  do you ever classify multifactorial diseases as inherited disorders? If not (i.e if they are classified as susceptibilities), then  we can use "inherited genetic disorder" synonymously with 'inherited genetic disease'

[2020-05-29 17:49] kshefchek commented on #1610
Some overlap with https://github.com/monarch-initiative/mondo/issues/804

for SCIT, does snomed have IRIs?

[2020-05-29 17:52] balhoff commented on #1610
This may help: https://confluence.ihtsdotools.org/display/SLPG/SNOMED+CT+URI+Standard

[2020-05-29 18:15] lcdaugherty commented on #1601
@nicolevasilevsky MeSH: D020388 is for Duchenne so I think that MeSH:C570377 should be added to MONDO:0010311?

[2020-05-29 22:40] nicolevasilevsky commented on #745
thanks @ErinRiggs!

[2020-05-29 23:05] nicolevasilevsky commented on #745
@PabloBotas @julianig72 @ErinRiggs

I removed the parents from Dravet:
'early infantile epileptic encephalopathy'
'infancy electroclinical syndrome' (although this is defined as _An electroclinical syndrome with onset in infancy occurring between birth and one year of age._ - so is this appropriate as a parent for Dravet Syndrome?)

I did not remove 'neonatal/infantile epilepsy syndrome' though, a

[2020-05-29 23:11] nicolevasilevsky commented on #1355
Closing this. Please reopen if needed

[2020-05-29 23:11] #1355 closed

[2020-05-30 07:16] ValWood commented on #1495
But OK, I guess the majority of 'monogenic diseases'  will have  modifiers, which might make the classification difficult in some cases. At least we can get at the mendelian disease forms....

[2020-05-30 13:52] maglott opened #1623 "[Merge] MONDO:0044646 and MONDO:0014964"
**Mondo terms (ID and Label)**
encephalopathy, progressive, early-onset, with brain atrophy and thin corpus callosum MONDO:0014964  ---defined by OMIM 617193
early-onset progressive diffuse brain atrophy-microcephaly-muscle weakness-optic atrophy syndrome MONDO:0044646 --defined by ORPHA:496641
**Reason for deprecation**
Orphanet provides a cross reference to OMIM
Both records point to the same ca

[2020-05-30 21:15] maglott opened #1624 "[Revise subclass] Saldino-Mainzer syndrome"
**Mondo terms (ID and Label)**
http://purl.obolibrary.org/obo/MONDO_0015373
      "label" : "Saldino-Mainzer syndrome",
http://purl.obolibrary.org/obo/MONDO_0009964
      "label" : "short-rib thoracic dysplasia 9 with or without polydactyly",

**Suggested revision and reasons**
These records have exact synonyms that apper to  differ only by punctuation
"renal dysplasia, retinal pigmentary dystroph

[2020-05-31 15:03] PabloBotas commented on #745
Hi Nicole,
Yes, I think it's best to have a quick call and discuss this. The discussion we are having here should probably be extended to other entities so I think it would be better to settle down a strategy to systematically address them. You can reach me at pablo.botas@foundation29.org.
Thanks!

[2020-06-01 07:00] #1360 closed

[2020-06-01 20:54] mellybelly commented on #722
yes my idea was to obsolete and have monogenic/polygenic be inferred from the annotations - but obviously don't want disrupt until there is a good alternative pipeline for creating this classification.

[2020-06-01 20:55] pnrobinson commented on #722
@mellybelly  It would be good to have more documentation about the plans for annotations like this. Are you referring to existing annotations or to logical definitions for Mondo classes or something else?

[2020-06-01 20:56] mellybelly commented on #722
a future world where we have a mondo-phenotype-gene-envo-treatment model :-)

[2020-06-01 20:56] mellybelly commented on #722
maybe this ticket was premature in lieu of that

[2020-06-01 21:00] mellybelly commented on #1495
The problem is that without some auto-classification, this will never be kept up to date. We need a model where we can classify as monogenetic etc based on the number of genes annotated and/or a known inheritance pattern. It sounds like we need a plan for evolution of how to handle this. Please see the above linked ticket for some discussion. @pnrobinson

[2020-06-01 21:00] mellybelly commented on #1495
probably we should have a comment on 'monogenic disease' that it should not be used for annotation directly?

[2020-06-01 21:05] pnrobinson commented on #1495
@mellybelly A disease does not cease to be monogenic if some new associated gene is discovered. This makes the disease genetically heterogeneous. I am not convinced that there is a major maintenance problem that goes beyond the general issue of correcting annotations if some mistake is corrected in the literature or in an upstream database -- this problem exists just as much for an inference based

[2020-06-01 21:15] mellybelly commented on #1495
I agree with you. i am not sure the right solution but i think the way things are now its not ideal ;-). Can we come up with a shorter and longer term plan? Maybe this is more on the reporting side than the modeling or annotation/inference side. That might be a safer plan.

[2020-06-01 21:16] nicolevasilevsky commented on #1495
I obsoleted 'monogenic disease' on a Pull Request which is currently pending review.

The obsoleted class says to consider 'inherited genetic disease'.

[2020-06-01 22:18] pnrobinson commented on #1495
'inherited genetic disease' is not an exact synonym of  'monogenic disease'

[2020-06-01 22:24] nicolevasilevsky commented on #1495
I didn't add it as a synonym, just annotated 'consider' inherited genetic disease' on the obsoleted 'monogenic disease' class

[2020-06-02 04:33] ValWood commented on #1495
From my limited experience, I wasn't convinced there is a major maintenance problem. The vast majority of diseases that currently refer to a single disease gene in the definition will continue to be monogenic because they will still be "attributable to genetic variants with large effects on disease status".
New genes involved in the disease in these cases will presumably only  be 'disease modifier

[2020-06-02 04:39] ValWood opened #1627 "missing parentage Muir-Torre syndrome (MONDO:0008018)"
Muir-Torre syndrome (MONDO:0008018)

Definition | Parents
Muir-Torre syndrome (MTS) is a form of hereditary nonpolyposis colon cancer (HNPCC) characterized by cutaneous sebaceous tumors, keratoacanthomas and at least one visceral malignancy, most frequently gastrointestinal carcinoma.

should be a
familial colorectal cancer (MONDO:0023113)

Definition | Parents
-- | --
Familial colon cancer is a c

[2020-06-02 04:41] ValWood commented on #1627
Correction, I think it's probably the M-T parent

hereditary nonpolyposis colon cancer (MONDO:0018630)
-- | --
Hereditary nonpolyposis colon cancer (HNPCC) is a cancer-predisposing condition characterized by the development of colorectal cancer not associated with colorectal polyposis, endometrial cancer, and various other cancers (such as malignant epithelial tumor of ovary, gastric, biliary trac

[2020-06-02 10:47] pnrobinson commented on #1495
@mellybelly @cmungall What is "attributable to genetic variants with large effects on disease status". Can we discuss the attributes before we implement? I understand the intent but it would be good to discuss things -- this definition is not optimal.

[2020-06-02 11:51] maglott commented on #1495
I would also like clarification of the policy for labels with 'inherited' in the title vs. those without.
* is inherited added only if the disorder also can be acquired?
* is inherited to be used for all XRefs from OMIM and Orphanet for which a gene or genes are listed?
* what if some etiologies can be de novo, are those monogenic but not inherited?

[2020-06-02 11:55] ValWood commented on #1495
Note that  this isn't in an existing  definition , I quoted it because that's my understanding of the scope of "monogenic" if it was retained.
I don't know what an ideal definition would be, but this is a phrase I see when monogenic is discussed. It doesn't sound very precise...

[2020-06-02 12:41] maglott opened #1628 "[Merge] hereditary angioedema type 3 AND hereditary angioedema with normal c1inh"
**Mondo term(s) (ID and Label)**
http://purl.obolibrary.org/obo/MONDO_0012526
hereditary angioedema type 3
AND
http://purl.obolibrary.org/obo/MONDO_0033947
hereditary angioedema with normal c1inh

**Reason for review**

OMIM states, for HAE3: It differs from HAE types I and II (106100) in that both concentration and function of C1 inhibitor (C1NH; 606860) are normal

What is the distinction we are

[2020-06-02 13:23] maglott commented on #1628
Also, if both are kept, the capitalization of C1inh needs to be corrected.

[2020-06-02 20:25] Antonialock opened #1629 "Refresh OMIM ingest"
Hello,
I was told by @paolaroncaglia that if I can't find a large number of OMIM terms in MONDO I can ask you to refresh your OMIM ingest.

We need terms for the following disorders for UniProt mappings:

618800
618803
618804
618805
618806
618808
618810
618811
618820
618821
618822
618823
242700
618849
618850
618841
618853
301041
301043
301044
273250
301045
618828
618829
618832
618835
618838
618839

[2020-06-02 20:29] nicolevasilevsky commented on #1629
@Antonialock Yes, you asked in the right place! :)

Our OMIM import was recently refreshed, and I did a quick spot check of some of these terms and I do see them in Mondo, where are you looking?

OMIM ID | Mondo ID
-- | --
618800 | MONDO_0032923
618803 | MONDO_0032925
618804 | MONDO_0032926

[2020-06-02 20:44] Antonialock commented on #1629
I'm searching the website for diseases
https://monarchinitiative.org

so if I use the top right search box with the filter set to 'disease'

609465 finds Al-Gazali syndrome

I get "no results for 618804" or "Sandestig-Stefanova syndrome"

where can I look these up?

[2020-06-02 20:45] nicolevasilevsky commented on #1629
Unfortunately Monarch is not up to date with the current version of Mondo. We recommend using OLS:
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0032923

(I believe OLS is usually updated approx 2 weeks after each Mondo release)

cc @kshefchek

[2020-06-02 20:47] Antonialock commented on #1629
aha ok thank you Nicole!

I'll close this for now and request any straggler term if needed

[2020-06-02 20:47] #1629 closed

[2020-06-02 22:36] nicolevasilevsky commented on #745
@ErinRiggs and @ihelbig - we are having weekly Mondo calls now on Fridays at 9am PT/12pm ET. Pablo (and perhaps Julian) will join us on Friday to discuss this ticket, if you are available, we'd love for you to join.

[2020-06-03 02:04] ErinRiggs commented on #745
Hello Nicole.  I am not available at that time, but I will summarize the brief discussion we had with the ClinGen Epilepsy GCEP today about this topic:

Onset of Dravet syndrome is typically later than the "early infantile" time period, which is why we originally requested that the term be removed from under "early infantile epileptic encephalopathy," and instead be listed as a child of "developme

[2020-06-03 05:31] nicolevasilevsky commented on #745
Hi @ErinRiggs Thanks so much for the feedback! I will look more closely but wanted to quickly respond that yes - I'd be happy to attend your WG meeting. I am available during that time slot all summer.

[2020-06-03 10:00] paolaroncaglia opened #1630 "Typo in label of MONDO:0020791 corneal dystrophy, meesmann, 1"
**MONDO:0020791 corneal dystrophy, meesmann, 1**

Should read Meesmann. Thanks.

[2020-06-03 10:10] paolaroncaglia commented on #1629
Hi @Antonialock and @nicolevasilevsky ,

I can confirm that the latest Mondo release (June 1st) is already in OLS.
Thanks and have a good day.

[2020-06-03 13:56] ValWood opened #1631 "[NTR] telomere syndromes"
I am wondering why there is not a grouping term for
telomere syndrome

definition (could be improved)
Short telomere syndromes (STSs) are accelerated aging syndromes often caused by inheritable gene mutations resulting in decreased telomere lengths.

(we used to have a grouping term in DO)

is_a premature aging syndrome MONDO_0019303

**Children terms
If this term is added (it. used to be in DO),

[2020-06-03 13:58] ValWood commented on #1631
children
 diskeratosis congenita
and
Uner Tan syndrome
would be descendants

[2020-06-03 14:28] ValWood commented on #1631
Also, the telomerase RNA which we used to annotate directly to this term and is currently "disease-less"

[2020-06-03 15:49] paolaroncaglia commented on #1468
@nicolevasilevsky I took the liberty to add the priority flag, see https://github.com/monarch-initiative/mondo/pull/1472#issuecomment-638284357. Thanks as always :-)

[2020-06-03 15:55] paolaroncaglia commented on #1175
Hi @nicolevasilevsky , it's me again. May I ask if there's any update on this, please? Sorry to bug you, I know how many tickets you're looking into, but it'd be great to get these edits in the next Mondo release! :-)
Best,
Paola

[2020-06-03 16:01] pnrobinson commented on #1175
Somehow I think that this label is not ideal, since for the most part it is not possible to characterize the genetic causes of congenital heart disease. I think that the phrase "Congenital heart disease" is well established in the community. Why not use that?

[2020-06-03 17:11] tibingaman commented on #1512
@ErinRiggs The ID/Autism GCEP decided to lump into NAA10-related syndrome. Looping you in to ensure that this is correct. Thank you!

[2020-06-03 17:23] ErinRiggs commented on #1512
Yes, that is correct.  I agree with the two terms Nicole added as children (Lenz/Ogden).  I think what Taylor meant earlier is simply to convey that intellectual disability and autism are observed features as part of this phenotypic spectrum (reflected in the definition), and not that they should be synonyms.  Please let me know if there are any other questions on this one!

[2020-06-03 23:44] nicolevasilevsky commented on #1175
@paolaroncaglia there is a pending PR for @cmungall to review/approve.

I'll try to discuss this on a Monarch call tomorrow, I'll keep you updated. Please always feel free to nag us. :)

[2020-06-04 15:02] #1468 closed

[2020-06-04 15:18] nicolevasilevsky opened #1632 "add to FAQ page on Mondo website"
Communicating to users about Mondo differences (release files vs ols vs monarch ui)

related to https://github.com/monarch-initiative/monarch-ui/issues/341

[2020-06-04 15:55] maglott opened #1633 "[Obsolete]Epstein-Barr virus insertion site 1"
**Mondo term (ID and Label)**
Epstein-Barr virus insertion site 1 MONDO:0007567

**Reason for deprecation**
Not a disease but a genomic locus

**Suggested term to consider**
none

[2020-06-04 20:29] kshefchek opened #1634 "OMIMPS eqs for MONDO:0008824 and MONDO:0015244"
**Mondo term (ID and Label):**
MONDO:0008824 and MONDO:0015244

**Xref that should be fixed (ID and label):**
http://purl.obolibrary.org/obo/OMIM_PS208150 should be http://purl.obolibrary.org/obo/OMIMPS_208150
http://purl.obolibrary.org/obo/OMIM_PS213200 should be http://purl.obolibrary.org/obo/OMIMPS_213200

cc @rgb4268

[2020-06-05 13:38] ValWood opened #1635 "MONDO:0013521"
MONDO:0013521
dyskeratosis congenita, autosomal dominant 2

has the synonym
dyskeratosis congenita, autosomal recessive 4

[2020-06-05 14:27] ValWood opened #1636 "[NTR] Fanconia anemia complementation group M"
Fanconia anemia complementation group M
(this might be present but I can't see all search results in the drop down/ Also tried OLS)

Child of Fanconi anemia (MONDO:0019391)

def

Any Fanconi anemia in which the cause of the disease is a mutation in the FANCM  gene.

[2020-06-05 15:46] nicolevasilevsky commented on #1635
These are synonyms in OMIM:
https://www.omim.org/entry/613989

Looks like the synonym is correct. What do you think @ValWood?

[2020-06-05 15:57] nicolevasilevsky commented on #745
related to https://github.com/monarch-initiative/mondo/issues/332

[2020-06-05 16:24] ValWood commented on #1635
Yes sorry about that it's fine!

[2020-06-05 16:24] #1635 closed

[2020-06-05 16:52] nicolevasilevsky commented on #1175
Decision on 05 June call:
- [ ] obsolete 'genetic cardiac malformation'
- [ ] consider 'congenital heart disease'

[2020-06-05 17:31] nicolevasilevsky opened #1637 "Dravet syndrome revisions"
Related to #https://github.com/monarch-initiative/mondo/issues/745
(Creating a separate ticket so it is easier to link the Pull Request to this)

We discussed #745 on the Mondo call today with @cmungall, @PabloBotas, @julianig72, @zoependlington and @paolaroncaglia.

We decided the best course of action is:
- [x] **Obsolete Dravet syndrome (current ID)**. _Justification:_ The current class is equi

[2020-06-05 18:13] cmungall commented on #1495
Let's try and separate these issues. @maglott that's an excellent point about inherited + de-novos, can you make a separate ticket for that @nicolevasilevsky?

The central question in this ticket is:

 1. does it make sense to differentiate between monogenic and digenic **via bucket classes in the ontology**
 2. if so, how do we ensure the ontology stays up to date with current findings

On 2: don

[2020-06-05 18:20] pnrobinson commented on #1495
@cmungall I am not sure but it seems there is a misunderstanding on how to define a disease as monogenic or digenic -- the approach sketched above seems incorrect to me. It would be easier to clear this up in a zoom.

[2020-06-05 18:45] nicolevasilevsky commented on #745
@ErinRiggs sorry I missed your previous request to make 'developmental and epileptic encephalopathy' a parent of Dravet syndrome.
I created a new ticket #1637 with our action items for this class and addressed it on a PR (#1638).

I think this ticket can be closed.

[2020-06-05 18:48] nicolevasilevsky commented on #745
@ErinRiggs I should note too, we removed the children of Dravet syndrome already (you should be able to see that in the current released version of Mondo)

Thank you for your feedback!

[2020-06-05 19:02] nicolevasilevsky opened #1639 "[NTR] children of 'extrinsic allergic alveolitis'"
related to https://github.com/obophenotype/human-phenotype-ontology/issues/5806

Type | New term request
-- | --
Bacteria: Thermophilic actinomycetes | Farmers lung |
Bacteria: Thermophilic actinomycetes | bagasse workers lung - narrow syn?
Bacteria: Thermophilic actinomycetes | mushroom workers lung - narrow syn
Bacteria: Thermophilic actinomycetes | potato riddlers lung - narrow syn
Bacteria: Th

[2020-06-05 19:03] nicolevasilevsky commented on #1639
I assume we'd want to coordinate this with ECTO
cc @laurenechan and @diatomsRcool

[2020-06-05 20:26] maglott commented on #1175
What then is the distinction between a congenital functional disorder and a congenital structural abnormality?

[2020-06-05 20:36] nicolevasilevsky commented on #1175
@maglott - I'm not sure I understand your question - are you saying that this grouping term provided a distinction between congenital functional disorders and a congenital structural abnormalities?

All of the classes that were under 'genetic cardiac malformation' had other superclasses, so they will be classified under those terms.  'Genetic cardiac malformation' was undefined.

[2020-06-05 20:43] maglott commented on #1175
That is what i was asking, I did not look at the classifications. I misread the comment to mean that the terms were being considered equivalent.  Thanks for explaining.

[2020-06-05 23:10] nicolevasilevsky opened #1640 "QC script- add note to epilepsy children that these classes should be classified elsewhere"
On the Mondo call on 6/05/20 we discussed potentially obsoleting the age of onset epilepsy terms.

I added an obsoletion candidate tag to these terms in PR https://github.com/monarch-initiative/mondo/pull/1641.

to do:
- [ ]  write a QC script to add note to epilepsy children that these classes should be classified elsewhere

[2020-06-05 23:19] nicolevasilevsky opened #1642 "[Revise text def] 'syndromic disease'"
**Mondo term (ID and Label)**
MONDO_0002254 'syndromic disease'

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
A collection of signs and symptoms associated with a specific health-related cause, where the underlying pathology/cause is not known.
source:
https://www.healthwriterhub.com/disease-disorder-condition-syndrome-whats-t

[2020-06-05 23:27] nicolevasilevsky opened #1643 "clarify the policy for labels with 'inherited' in the title vs. those without"
From #1495, we need to clarify the policy for labels with 'inherited' in the title vs. those without.

- is inherited added only if the disorder also can be acquired?
- is inherited to be used for all XRefs from OMIM and Orphanet for which a gene or genes are listed?
- what if some etiologies can be de novo, are those monogenic but not inherited?

[2020-06-05 23:31] nicolevasilevsky commented on #1495
https://github.com/monarch-initiative/mondo/issues/1643

[2020-06-06 00:51] nicolevasilevsky commented on #1495
@pnrobinson we have weekly Mondo meetings on Fridays at 9am PT/12pm ET. Would you be able to join next Friday? Or we could discuss on a Monarch huddle?

cc @monicacecilia @jmcmurry

[2020-06-06 00:51] nicolevasilevsky commented on #1495
@ValWood you are welcome to join the Mondo calls anytime too!

[2020-06-06 02:08] nicolevasilevsky commented on #1631
what is Uner Tan syndrome? I don't see it in Mondo or OLS

[2020-06-06 02:26] nicolevasilevsky commented on #1631
@ValWood I added this term and sub-classified the children listed in Table 1 in this paper:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6035054/

[2020-06-06 02:26] #1634 closed

[2020-06-06 02:27] #1573 closed

[2020-06-06 02:37] nicolevasilevsky commented on #1624
Yes, this one is confusing. OMIM seems to treat them as the same. @ahamosh do you think these should be separate classes in Mondo?

[2020-06-06 02:41] nicolevasilevsky commented on #1624
@maglott there is an annotation on 'Saldino-Mainzer syndrome' that this term is a superclass of OMIM:615630 SHORT-RIB THORACIC DYSPLASIA 10 WITH OR WITHOUT POLYDACTYLY; SRTD10, so maybe that should be added as a subclass.

Potential action item:
- [ ] add 'short-rib thoracic dysplasia 10 with or without polydactyly' as a subclass of 'Saldino-Mainzer syndrome'

[2020-06-06 03:26] #1630 closed

[2020-06-06 07:23] ana-rath-orphanet commented on #1271
Decision of the Orphanet team:
- ORPHA:324977 Proteasome disability syndrome was renamed "Proteasome-associated autoinflammatory syndrome"
- As advised by the experts, the 3 clinical subtypes were deprecated to Proteasome-associated autoinflammatory syndrome (ORPHA:324977)

Experts Dr Abhimanyu Garg (who originally reported JMP syndrome), Dr Nobuo Kanazawa (prominently involved in research related

[2020-06-06 10:56] maglott commented on #1624
@nicolevasilevsky , I really don't know the answer for this.  When disease experts have reviewed current classifications, we can make MONDO reflect that.

[2020-06-06 10:57] ValWood commented on #1631
was one of the only things that did not map from DO
Uner Tan syndrome
https://github.com/monarch-initiative/mondo/issues/1571

[2020-06-06 11:22] pnrobinson commented on #1495
@nicolevasilevsky timing has been challenging recently. Hopefully yes in the future!

[2020-06-08 16:42] nicolevasilevsky commented on #1610
I'm not sure how to address this, I'll reassign to Chris

[2020-06-08 18:37] nicolevasilevsky commented on #1587
@ValWood what is MT-CO1 disorder? I don't see that as a class in Mondo or OLS

[2020-06-08 19:24] rgb4268 opened #1651 "Diseases which are also Genes"
I have found some instances of diseases, e.g. MONDO:0020119 which have a child which is actually a gene - in this case ZC4H2. There are a few more.

[2020-06-08 19:33] ValWood commented on #1587
The entire definition is

myoglobinuria, recurrent (MONDO:0010791)

Definition | Parents
-- | --
Genetic recurrent myoglobinuria is an inborn error of metabolism characterized by abnormal urinary excretion of myoglobin due to acute destruction of skeletal muscle fibers. Epidemiology The exact prevalence remains unknown. Clinical description In the majority of cases, the disease manifests in childh

[2020-06-08 19:33] #1587 closed

[2020-06-08 19:39] ValWood opened #1652 "Missing Parent: MONDO:0010799 mitochondrial non-syndromic sensorineural deafness with susceptibility to aminoglycoside exposure"
from
https://github.com/monarch-initiative/mondo/issues/1587

I do have one more query though:

mitochondrial non-syndromic sensorineural deafness with susceptibility to aminoglycoside exposure

is not a descendant of

 mitochondrial non-syndromic sensorineural deafness

[2020-06-08 20:18] ValWood commented on #1495
I think I would be surplus,  but if ever there are a set of   my tickets that need clarification I  would be happy to join.

[2020-06-08 21:48] cbizon opened #1654 "Incorrect exact match for delirium"
**Mondo term (ID and Label):**
http://purl.obolibrary.org/obo/MONDO_0045057. delirium

**Xref that should be fixed (ID and label):**
http://www.w3.org/2004/02/skos/core#exactMatch: http://linkedlifedata.com/resource/umls/id/C0029221;  (organic brain syndrome)

**Other comments:**
organic brain syndrome can be either delirium or dementia.  A better UMLS exactMatch would be http://linkedlifedata.com

[2020-06-08 22:05] nicolevasilevsky commented on #1624
emailed Ada on 06/08/20

[2020-06-08 22:19] nicolevasilevsky commented on #1631
@ValWood could you provide some evidence that Uner Tan syndrome is a telomere syndrome?

[2020-06-08 22:37] #1618 closed

[2020-06-08 22:39] #1588 closed

[2020-06-08 22:48] nicolevasilevsky commented on #1627
@ValWood hereditary nonpolyposis colon cancer (MONDO:0018630) is not a parent of 'Muir-Torre syndrome'

I am confused - what is the specific action item?

[2020-06-09 00:08] nicolevasilevsky commented on #1578
@paolaroncaglia I don't remember what the specific action item here was, what are we meant to do with these terms? Do we want to reclassify them? Or consider obsoleting them?
Thanks!

[2020-06-09 00:12] nicolevasilevsky commented on #1651
@kshefchek did you say this is actually an issue with Monarch, not Mondo?

[2020-06-09 00:15] #1614 closed

[2020-06-09 00:21] kshefchek commented on #1651
I suspect it's an integration bug with merging Ids from multiple sources, I can take a closer look

[2020-06-09 00:57] #1593 closed

[2020-06-09 01:06] #1597 closed

[2020-06-09 02:10] saramsey commented on #1597
Thank you, this is very helpful!

[2020-06-09 03:26] cmungall commented on #1611
OK, I think this is a bit complicated

On the one hand, it seems we may want to go one step further and merge GTT and GTN, based on synonyms in NCIT:

[code]

However, the NCIT graph is not very consistent with their textual description:

![image](https://user-images.githubusercontent.com/50745/84101654-4fc13380-a9c3-11ea-9839-7e5959ccd7f5.png)

NCIT are our go-to source for anything cell prolifer

[2020-06-09 03:50] cmungall commented on #1583
I agree, this does seem dubious.

I have not reviewed the literature but looking at a recent BMJ
_Diagnostic criteria for constitutional mismatch repair deficiency syndrome: suggestions of the European consortium ‘Care for CMMRD’ (C4CMMRD)_

https://jmg.bmj.com/content/51/6/355.long

indicates that immune defects are only seen in a minority of patients.

@nicolevasilevsky I'll merge your PR which

[2020-06-09 03:51] cmungall commented on #1583
reopening til we deal with the single child issue.

[2020-06-09 03:52] cmungall opened #1665 "Add single-child check"
E.g for #1583

- [ ] need to review the outcome of this check and decide what to do with the single children.
- [ ] should we annotate all the current single children with a tag and make them exempt from this check, then we can add this as a QC that causes a failed build?

[2020-06-09 04:01] #1590 closed

[2020-06-09 04:04] #1584 closed

[2020-06-09 04:09] #1570 closed

[2020-06-09 04:10] #1654 closed

[2020-06-09 04:26] cmungall commented on #1652
Yes, this omission is odd. This is a definite anti-pattern (lexical pattern implies subclass when in fact they are siblings).

Scratching a bit deeper it's a bit more complex

These two terms are equivalenced to two different OMIMs:

 * https://omim.org/entry/500008 DEAFNESS, NONSYNDROMIC SENSORINEURAL, MITOCHONDRIAL
        * _mitochondrially inherited nonsyndromic sensorineural deafness can be c

[2020-06-09 04:41] cmungall commented on #1642
I don't agree or disagree, I think that agreeing on a definition of syndrome will be impossible

However, note that we can't just change the text definition unilaterally. There is a logical definition here and the change to the text definition becomes inconsistent. It also becomes inconsistent with the way things are placed there just now. We'd essentially need to go through the whole ontology and

[2020-06-09 04:50] cmungall commented on #1636
Does this exist?

https://pubmed.ncbi.nlm.nih.gov/28837162

cc @dnahotline

Note: if we agree with the paper that this doesn't exist (and lack of a term in OMIM lends credence) then in these cases I am in favor of the "born obsolete" term. Add the term to MONDO, but immediately obsolete, and put a link to the paper such as the above. While this "clogs up" the ontology a bit with obsoletes, I reall

[2020-06-09 04:56] cmungall commented on #392
See also https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4176875/

[2020-06-09 06:33] ValWood commented on #1627
Muir-Torre syndrome (MONDO:0008018)
- a hereditary nonpolyposis colon cancer (HNPCC) see def
should be is_a hereditary nonpolyposis colon cancer (MONDO:0018630)

[2020-06-09 06:41] ValWood commented on #1627
Also currently has a parent "Muir-Torre syndrome (MONDO:0008018)"
genetic nervous system disorder
but is that true?
I don't see a reference to this in *Any* description

characteristics (compiled from multiple sources, but most agree)
- Muir-Torre syndrome (MTS) is a rare hereditary, autosomal dominant cancer syndrome.
- characterized by the presence of at least one sebaceous gland neoplasm and at

[2020-06-09 07:23] ValWood commented on #1631
Whoops that is a mistake. I had something one more  It's the disease  associated with
telomerase RNA (TERC),  which I only had mapped to "telomere syndrome"
 and Uner Tan, I mixed them up.

TERC causes
pulmonary fibrosis and/or bone marrow failure, Telomere-related, 2

this one is a telomere syndrome

[2020-06-09 11:42] maglott commented on #1526
More capitalization issues:
    "iri" : "http://purl.obolibrary.org/obo/MONDO_0011010",
      "label" : "Matthew-wood syndrome",

  "iri" : "http://purl.obolibrary.org/obo/MONDO_0009191",
      "label" : "Lowry-wood syndrome"

[2020-06-09 14:40] paolaroncaglia commented on #1642
+1 from me to obsoletion of 'syndromic disease' (hard to define, hard to maintain, so many children I question its utility; terms labelled "syndrome with X" and "syndrome without X" are among the worst bearers of incorrect superclass/subclass axioms, I keep coming across examples).
Of course, this is probably a can of worms. :-) For one, you would then also have to look at all terms labelled "non-

[2020-06-09 15:32] paolaroncaglia commented on #1578
Hi @nicolevasilevsky ,

Some of the terms in that branch may be useful but it's up to Mondo if you'd like to keep the broader grouping classes or not... I tried to help with this, but I progress slowly because I look at terms in OLS (old laptop may not agree with memory settings necessary to display Mondo in Protege). This work is less priority for EFO than the Orphanet-related issue, so I'm ok wi

[2020-06-09 15:55] dnahotline commented on #1636
Hi
I’m not sure what the question is. The paper exists.
If the question is about FANCM science then there is a more complicated answer.
In short, we and others discovered by biochemical and mass spec that FANCM is physically part of one of Fanconi protein complexes. Yet, analysis of mutations in FANCM in patients and in populations gets more complicated.
Let me know if you need the full story and

[2020-06-09 15:56] paolaroncaglia commented on #1498
Hi @nicolevasilevsky ,

Following up on this (I'm looking for a good test case to demonstrate downstream effect for Open Targets). I see that the obsoletion email for MONDO_0020136 'neurodegenerative disease with dementia' was sent out on May 16th and there have been no comments here. I'm taking the liberty to tag this ticket as high priority so it gets into the next release please. Thanks!

[2020-06-09 16:15] paolaroncaglia commented on #1404
@nicolevasilevsky
Prioritizing this please as linked to https://github.com/monarch-initiative/mondo/issues/1498.
Thank you as always.

[2020-06-09 16:19] nicolevasilevsky commented on #1404
I'm working on this right now!
What do you think is an appropriate parent?

[2020-06-09 16:21] nicolevasilevsky commented on #1404
I added 'infectious disease' as the parent. Do you think I should add 'neurodegenerative disease' too?

[2020-06-09 16:21] paolaroncaglia commented on #1404
'neurodegenerative disease' please, in keeping with our plan in https://github.com/monarch-initiative/mondo/issues/1498 :-)

[2020-06-09 16:25] paolaroncaglia commented on #1404
Sorry we "crossed". I think the latter would be good based on this bit in the def "The disorders all involve accumulation of an abnormal prion protein in the central nervous system".

[2020-06-09 16:29] nicolevasilevsky commented on #1404
thanks @paolaroncaglia!

[2020-06-09 16:39] nicolevasilevsky opened #1667 "[Obsolete] MONDO:0018040 'immunodeficiency with severe reduction in serum IgG and IgA with normal/elevated IgM and normal number of B-cells'"
**Mondo term (ID and Label)**
MONDO:0018040 'immunodeficiency with severe reduction in serum IgG and IgA with normal/elevated IgM and normal number of B-cells'

**Reason for deprecation**
This is a grouping class from Orphanet that only has a single child, and is undefined.

**Suggested term to consider**
MONDO_0015132 'immunodeficiency predominantly affecting antibody production'

_or perhaps con

[2020-06-09 16:48] ValWood commented on #1636
Yes I understand. I just found some into that FANCM was complementation group F and I wanted to make these more specific
https://www.pombase.org/term/MONDO:0019391
Instead I  will remove  Fanconi anemia (MONDO:0019391) from the 2 pombe FANCM orthologs completely https://github.com/pombase/curation/issues/2752

[2020-06-09 16:54] dnahotline commented on #1636
OK FANCM is def not FANCF!

[2020-06-09 16:55] kshefchek commented on #1651
@rgb4268 could you list these here? I can only find this one case.

[2020-06-09 17:01] ValWood commented on #1636
coorrection, M

[2020-06-09 18:06] nicolevasilevsky commented on #1652
I will revise the name of MONDO_0010799 to aminoglycoside-induced deafness

[2020-06-09 19:28] nicolevasilevsky commented on #1640
related to https://github.com/monarch-initiative/mondo/issues/745

[2020-06-09 20:16] nicolevasilevsky commented on #1631
Should this term be a child of telomere syndrome (and its children)?
MONDO_0000148 'pulmonary fibrosis and/or bone marrow failure, telomere-related'

[2020-06-09 21:02] nicolevasilevsky commented on #1575
MONDO:0010781 | ataxia and polyneuropathy, adult-onset

Could you provide evidence for this? Thanks!

[2020-06-09 21:06] #1637 closed

[2020-06-09 21:08] saramsey commented on #1597
After some experimenting, I think I have found a persistent URL that can resolve to one of these MEDGEN CN concept pages:
[code]
which I am shortening to the following CURIE ID:
[code]

[2020-06-10 06:00] ValWood commented on #1631
Yes I think so according to OMIM.

[2020-06-10 06:18] ValWood commented on #1575
Possibly it is a slightly different disorder in the same gene (MT-ATP6).

But maybe the
MT-ATP6-related mitochondrial spastic paraplegia
needs to be a new  instance of
Maternally-inherited SPG,
presumably there are other causative genes?

[2020-06-10 09:46] ValWood opened #1673 "MONDO:0013710 colorectal cancer, hereditary nonpolyposis, type 5"
colorectal cancer, hereditary nonpolyposis, type 5 (MONDO:0013710)

should have the parent
MONDO:0005575 | colorectal cancer

(or maybe the  parentage should be via Lynch syndrome which is already a parent of MONDO:0013710)?

[2020-06-10 10:15] paolaroncaglia opened #1674 "[Obsolete] Orphanet-derived grouping terms - review candidates for obsoletion"
BACKGROUND for the records; skip to below the *** for action items:

This was discussed at the [Mondo call](https://docs.google.com/document/d/1wXBv1Bh4JmdqPCbQyu78ZyrITpxQTAQi1odNO-0aPcw/edit) on 05/22/20 (action item in d - ii):

"Should we obsolete “rare X” that are only in ORDO?
Some terms will end up under genetic disease - share the list with the community and ask for objections
AI: Chris an

[2020-06-10 11:07] maglott opened #1675 "[Obsolete]records based on MIM numbers that OMIM has moved"
**Mondo term (ID and Label)**
This is just an example I found this morning.  Did not look for others.
  "iri" : "http://purl.obolibrary.org/obo/MONDO_0000911",
      "label" : "dilated cardiomyopathy 1T",
      "description" : null,
      "annotation" : {
        "comment" : [ "Editor note: consider obsoleting, see OMIM" ],
**Reason for deprecation**
Exemplar of a pattern for systematic review.
*

[2020-06-10 22:57] nicolevasilevsky commented on #1611
emailed NCIt on 06/10/20

[2020-06-10 23:23] nicolevasilevsky commented on #1642
I love this idea!

[2020-06-10 23:26] nicolevasilevsky commented on #1642
I am in favor of obsoleting too. It would be a bit of work to rehome the orphan classes but I am happy to work on that.

[2020-06-10 23:57] nicolevasilevsky commented on #1577
of course, done!

[2020-06-11 01:02] galyea-gard commented on #1628
Hi Nicole!  Orphanet has all the subtypes (please see the classification below).   In GARD we probably will only have the parent term “Hereditary Angioedema” but I will let you know when we have decided.

ORPHA:91378   Hereditary angioedema<https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=12136&Disease_Disease_Search_diseaseGroup=Hereditary-angioedema&Disease_Disease_Search_d

[2020-06-11 07:30] ana-rath-orphanet commented on #1271
Orphanet has deprecated these to Proteasome-associated auto inflammatory syndrome, so merging makes sense. However, the terms are not perfect synonyms.

Thank you for asking

Ana

[2020-06-11 08:36] ValWood commented on #1575
So far this seems to be the only mitochondrial inherited form identified, at least from the ones we have annotated
https://www.pombase.org/term/MONDO:0015150
Although we won't have them all, we should have identified any mitochondrial associated ones.
All of the other complex hereditary spastic paraplegia seem to be autosomal.

So just the def and synonyms and this one is good.

[2020-06-11 13:22] lcdaugherty commented on #1601
Should I put this in as a separate request? Was this resolved?

[2020-06-11 17:39] nicolevasilevsky commented on #1673
From NCIT 06/11/20:
I am almost certain Lynch Syndrome should NOT be a subclass of colorectal cancer but let me confirm with our Pathologist.

[2020-06-11 17:40] brookepalus commented on #1453
Hi Nicole,
I just wanted to check in regarding this MonDo ID request. Do you have an estimated time line for approval?

Many thanks,
Brooke

[2020-06-11 17:59] nicolevasilevsky commented on #1453
This should be available in the next release at the end of this month/early next month. Thanks for your patience.

The new Mondo ID is: MONDO:0100121

[2020-06-11 18:02] nicolevasilevsky commented on #1611
NCIt said (06/11/20):
Our opinion is that Hydatidiform mole is not a neoplasm. It is a degenerative disorder that occurs during pregnancy. It should stay under trophoblastic disease and not moved under trophoblastic neoplasm.

@ValWood I am going to close this ticket, but please reopen if you'd like to discuss further.

[2020-06-11 20:04] ValWood commented on #1611
in that case,should the definition of

gestational trophoblastic neoplasm MONDO_0018944
A diverse group of pregnancy-related tumors characterized by excessive proliferation of trophoblasts. Representative examples include hydatidiform mole, gestational choriocarcinoma, and placental site trophoblastic tumor.

be revised?

[2020-06-11 20:31] ValWood commented on #1673
So I'm a bit confused now.

If hereditary nonpolyposis colorectal cancer-5
and the hereditary nonpolyposis colorectal cancers can't go under colorectal cancers,
(and these are the most common form of hereditary colon cancers)
which diseases can go under colorectal cancer ?

Or can "hereditary nonpolyposis colorectal cancer-5"
have the cancer parent  because it is used to describe the colon  cancer

[2020-06-11 21:23] nicolevasilevsky commented on #1673
From the NCIT pathologist:
This syndrome manifests primarily with hereditary nonpolyposis colon cancer due to germline mutations of the DNA mismatch repair genes. But, importantly patients with this syndrome develop endometrial, ovarian, renal pelvis, gastric, and small intestinal adenocarcinomas as well. I would urge them to place it under the term Syndrome.

[2020-06-11 21:28] nicolevasilevsky commented on #1673
Currently 'Lynch syndrome' is a child of 'hereditary nonpolyposis colon cancer', which is defined as:

Hereditary nonpolyposis colon cancer (HNPCC) is a cancer-predisposing condition characterized by the development of colorectal cancer not associated with colorectal polyposis, endometrial cancer, and various other cancers (such as malignant epithelial tumor of ovary, gastric, biliary tract, small

[2020-06-11 21:44] nicolevasilevsky commented on #1673
@ValWood

have the cancer parent because it is used to describe the colon cancer,
but the syndrome itself can't have the parent because it can include other types of cancer?

I just asked the NCIt pathologist about placing Lynch syndrome as a child of colorectal cancer (and cc'd you on the email.)

colorectal cancer, hereditary nonpolyposis, type 5 (MONDO:0013710) is not in NCIt, so I'm not sure i

[2020-06-11 22:45] nicolevasilevsky commented on #1611
I am unclear why you want to revise the def of gestational trophoblastic neoplasm MONDO_0018944. It is a sibling of 'hydatidiform mole'.

Could you please clarify? Thanks!

[2020-06-12 06:02] ValWood commented on #1673
Everywhere I looked Lynch syndrome and Hereditary nonpolyposis colon cancer (HNPCC)
are synonymous?

https://en.wikipedia.org/wiki/Hereditary_nonpolyposis_colorectal_cancer#:~:text=Hereditary%20nonpolyposis%20colorectal%20cancer%20(HNPCC,%2C%20upper%20urinary%20tract%2C%20brain%2C

https://ghr.nlm.nih.gov/condition/lynch-syndrome

https://www.ouh.nhs.uk/patient-guide/leaflets/files/10055Plynchsynd

[2020-06-12 06:08] ValWood commented on #1673
https://my.clevelandclinic.org/health/diseases/17195-lynch-syndrome--hnpcc

describes the difference

Is Lynch syndrome the same as hereditary non-polyposis colorectal cancer (HNPCC)?
Sometimes Lynch syndrome is also referred to as hereditary non-polyposis colorectal cancer (HNPCC), but the two conditions are subtly different.

Lynch syndrome is classified by a mutation in the MMR gene. HNPCC is d

[2020-06-12 06:19] ValWood commented on #1611
Taken literally, this part of the definition MONDO_0018944 asserts  hydatiform moles are also neoplasms

"Representative examples include hydatidiform mole"

Is it "some forms of hydatiform mole" (if so which specifically?)

another logic issue is that the term "hydatiform mole"
has the parent "placenta neoplasm"???

Logically presumably  if it is_a "placental neoplasm", and is_a "gestational trop

[2020-06-12 06:23] ValWood commented on #1611
"It should stay under trophoblastic disease and not moved under trophoblastic neoplasm"
Implies that the experts are not aware of the possibility of multiple inheritance?

Note that I have no idea what is correct clinically,  my tickets  are based on the logic of what already exists in Mondo  (do you have logical definitions?)

[2020-06-12 15:44] nicolevasilevsky opened #1681 "Fix missing obsolete label"
Fix missing obsolete label (from Robot report)
ID | type | label
-- | -- | --
MONDO:0000312 | rdfs:label | enlarged   vestibular aqueduct
MONDO:0002144 | rdfs:label | hyperuricemia (disease)
MONDO:0003794 | rdfs:label | mediastinal neurilemmoma

[2020-06-12 17:38] nicolevasilevsky opened #1683 "rename 'autosomal dominant polycystic liver disease'"
The  Kidney Disease CDWG noticed the nomenclature and ontology of kidney diseases needs systemic review. There are many kidney groups involved in doing this and hopefully being part of ClinGen will spur them on!

Our Cystic and Ciliopathy GCEP started with some genes involved in cystic liver disease and immediately ran into issues with finding the most appropriate MONDO term for the following gene

[2020-06-12 17:39] nicolevasilevsky commented on #1683
Note - on 06/12/20
renamed MONDO:0008265 isolated polycystic liver disease to Polycystic liver disease 1 and renamed the parent/grouping term MONDO_0000447 to 'autosomal dominant polycystic liver disease' (with the synonym ADPLD).

[2020-06-12 21:46] nicolevasilevsky opened #1684 "[Merge] MONDO:0008657 vibratory angioedema"
**Mondo term (ID and Label)**
MONDO:0008657 vibratory angioedema

**Reason for deprecation**
OMIM merged these terms
https://omim.org/entry/193050

**Term to be merged with**
MONDO:0007447	autosomal dominant vibratory urticaria'

[2020-06-12 21:48] nicolevasilevsky opened #1685 "[Merge] MONDO:0009304 Gorlin-Chaudhry-Moss syndrome"
**Mondo term (ID and Label)**
MONDO:0009304 Gorlin-Chaudhry-Moss syndrome

**Reason for deprecation**
OMIM merged these terms
https://omim.org/entry/233500

**Term to be merged with**
MONDO_0012853	progeroid syndrome, Petty type'

[2020-06-12 21:52] nicolevasilevsky opened #1686 "[Merge] MONDO:0010045 paraplegia-brachydactyly-cone-shaped epiphysis syndrome"
**Mondo term (ID and Label)**
MONDO:0010045	paraplegia-brachydactyly-cone-shaped epiphysis syndrome

**Reason for deprecation**
OMIM merged
https://omim.org/entry/270710?search=270710&highlight=270710

**Term to be merged with**
OMIM moved this to three terms:
MONDO_0014842	intellectual disability, autosomal dominant 41'
MONDO_0010041	Charlevoix-Saguenay spastic ataxia'
MONDO_0008596	trichorhinoph

[2020-06-12 21:53] nicolevasilevsky opened #1687 "[Merge] MONDO:0010071 spondyloenchondrodysplasia"
**Mondo term (ID and Label)**
MONDO:0010071	spondyloenchondrodysplasia

**Reason for deprecation**
OMIM merged
https://omim.org/entry/271550?search=271550&highlight=271550

**Term to be merged with**
MONDO_0011939	Spondyloenchondrodysplasia with immune dysregulation'

[2020-06-13 00:50] nicolevasilevsky opened #1688 "[Obsolete] MONDO:0013001 synesthesia"
**Mondo term (ID and Label)**
MONDO:0013001	synesthesia

**Reason for deprecation**
This is not a disease, and may be obsoleted or moved to another hierarchy

**Suggested term to consider**
N/A
should this be added to HPO?

def:
Synesthesia is a condition in which one sense (for example, hearing) is simultaneously perceived as if by one or more additional senses such as sight. Another form of syne

[2020-06-13 00:56] nicolevasilevsky opened #1689 "[Merge] MONDO:0010195 Weissenbacher-Zweymuller syndrome"
**Mondo term (ID and Label)**
MONDO:0010195	Weissenbacher-Zweymuller syndrome

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0008490	Stickler syndrome type 3'

[2020-06-13 00:57] nicolevasilevsky opened #1690 "[Merge] MONDO:0010272 syndromic X-linked intellectual disability type 10"
**Mondo term (ID and Label)**
MONDO:0010272	syndromic X-linked intellectual disability type 10

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0010327	HSD10 disease

[2020-06-13 00:58] nicolevasilevsky opened #1691 "[Merge] MONDO:0010357 MRX78"
**Mondo term (ID and Label)**
MONDO:0010357	MRX78

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0010656	intellectual disability, X-linked 1

[2020-06-13 00:58] nicolevasilevsky opened #1692 "[Merge] MONDO:0010505 intellectual disability-balding-patella luxation-acromicria syndrome"
**Mondo term (ID and Label)**
MONDO:0010505	intellectual disability-balding-patella luxation-acromicria syndrome

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0010505	intellectual disability-balding-patella luxation-acromicria syndrome

[2020-06-13 00:59] nicolevasilevsky opened #1693 "[Merge] MONDO:0010513 intellectual disability, X-linked, syndromic, Borck type"
**Mondo term (ID and Label)**
MONDO:0010513	intellectual disability, X-linked, syndromic, Borck type

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0010258	MEHMO syndrome

[2020-06-13 01:00] nicolevasilevsky opened #1694 "[Merge] MONDO:0010518 Wiskott-Aldrich syndrome"
**Mondo term (ID and Label)**
MONDO:0010518	Wiskott-Aldrich syndrome

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0013779	Wiskott-Aldrich syndrome 2

[2020-06-13 01:00] nicolevasilevsky opened #1695 "Obsolete MONDO:0010601 gynecomastia, familial"
**Mondo term (ID and Label)**
MONDO:0010601	gynecomastia, familial

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0010720	partial androgen insensitivity syndrome

[2020-06-13 01:01] nicolevasilevsky opened #1696 "[Merge] MONDO:0010666 Miles-Carpenter syndrome"
**Mondo term (ID and Label)**
MONDO:0010666	Miles-Carpenter syndrome

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0010758	intellectual disability-developmental delay-contractures syndrome

[2020-06-13 01:01] nicolevasilevsky opened #1697 "[Merge] MONDO:0010715 pseudohermaphroditism, incomplete male, type 1"
**Mondo term (ID and Label)**

MONDO:0010715	pseudohermaphroditism, incomplete male, type 1

**Reason for deprecation**
OMIM merged these

**Term to be merged with**

MONDO:0010720	partial androgen insensitivity syndrome

[2020-06-13 01:01] nicolevasilevsky opened #1698 "[Merge] MONDO:0010804 BRCATA"
**Mondo term (ID and Label)**
MONDO:0010804	BRCATA

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0016419	hereditary breast carcinoma

[2020-06-13 01:02] nicolevasilevsky opened #1699 "[Merge] MONDO:0011324 hypospadias, hypertelorism, upper 51D coloboma, and mixed-type hearing loss"
**Mondo term (ID and Label)**
MONDO:0011324	hypospadias, hypertelorism, upper 51D coloboma, and mixed-type hearing loss

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0008885	Branchioskeletogenital syndrome

[2020-06-13 01:02] nicolevasilevsky opened #1700 "[Merge] MONDO:0011543 BRCA3"
**Mondo term (ID and Label)**
MONDO:0011543	BRCA3

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0016419	hereditary breast carcinoma

[2020-06-13 01:02] nicolevasilevsky opened #1701 "[Merge] MONDO:0012070 autosomal dominant Charcot-Marie-Tooth disease type 2G"
**Mondo term (ID and Label)**
MONDO:0012070	autosomal dominant Charcot-Marie-Tooth disease type 2G

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0013753	Charcot-Marie-Tooth disease axonal type 2P

[2020-06-13 01:03] nicolevasilevsky opened #1702 "[Merge] MONDO:0012201 tibia, bowing of, with pseudarthrosis and pectus excavatum"
**Mondo term (ID and Label)**
MONDO:0012201	tibia, bowing of, with pseudarthrosis and pectus excavatum

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0011806	osteofibrous dysplasia

[2020-06-13 01:03] nicolevasilevsky opened #1703 "[Merge] MONDO:0012281 sarcoidosis, early-onset"
**Mondo term (ID and Label)**
MONDO:0012281	sarcoidosis, early-onset

**Reason for deprecation**
OMIM merged these and obsolete in Orphanet.

**Term to be merged with**
MONDO:0008523	Blau syndrome

[2020-06-13 01:04] nicolevasilevsky opened #1704 "[Merge] MONDO:0012461 bulimia nervosa, susceptibility to, 2"
**Mondo term (ID and Label)**
MONDO:0012461	bulimia nervosa, susceptibility to, 2

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0005452	bulimia nervosa

[2020-06-13 01:04] nicolevasilevsky opened #1705 "[Merge] MONDO:0012461 bulimia nervosa, susceptibility to, 2"
**Mondo term (ID and Label)**
MONDO:0012461	bulimia nervosa, susceptibility to, 2

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0011727	ANON1

[2020-06-13 01:04] nicolevasilevsky opened #1706 "[Merge] MONDO:0012616 MRT8"
**Mondo term (ID and Label)**
MONDO:0012616	MRT8

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0013676	hypermethioninemia due to adenosine kinase deficiency

[2020-06-13 01:04] nicolevasilevsky opened #1707 "[Merge] MONDO:0013451 progressive myoclonic epilepsy type 5"
**Mondo term (ID and Label)**
MONDO:0013451	progressive myoclonic epilepsy type 5

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0011835	sensory ataxic neuropathy-dysarthria-ophthalmoparesis syndrome

[2020-06-13 01:05] nicolevasilevsky opened #1708 "[Merge] MONDO:0013701 MRT32"
**Mondo term (ID and Label)**
MONDO:0013701	MRT32

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0016396	pontocerebellar hypoplasia type 1

[2020-06-13 01:05] nicolevasilevsky opened #1709 "[Merge] MONDO:0013804 intellectual disability, autosomal dominant 12"
**Mondo term (ID and Label)**
MONDO:0013804	intellectual disability, autosomal dominant 12

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0007617	Coffin-Siris syndrome 1

[2020-06-13 01:06] nicolevasilevsky opened #1710 "[Merge] MONDO:0013958 monocyte and dendritic cell deficiency, autosomal recessive"
**Mondo term (ID and Label)**
MONDO:0013958	monocyte and dendritic cell deficiency, autosomal recessive

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0009194	chronic Epstein-Barr virus infection syndrome

[2020-06-13 01:06] nicolevasilevsky opened #1711 "[Merge] MONDO:0014852 palmoplantar carcinoma, multiple self-healing"
**Mondo term (ID and Label)**
MONDO:0014852	palmoplantar carcinoma, multiple self-healing

**Reason for deprecation**
OMIM merged these

**Term to be merged with**
MONDO:0014089	corneal intraepithelial dyskeratosis-palmoplantar hyperkeratosis-laryngeal dyskeratosis syndrome

[2020-06-13 01:13] cmungall commented on #1711
these have the same IDs!

[2020-06-13 01:17] cmungall commented on #1704
The course of action here conflicts with #1705

also this would not be a merge. MONDO:0012461 is susceptibility caused by a particular gene. MONDO:0005452 is the actual condition

[2020-06-13 01:17] #1704 closed

[2020-06-13 01:23] cmungall commented on #1700
Don't merge these, they are different concepts

OMIM has a description of the putatitive BRCA3 concept:
https://omim.org/entry/114480

From my reading of this, BRCA3 should indeed by obsoleted. Cite 114480 as rationale. Use a consider link to point to MONDO:0016419

[2020-06-13 01:24] cmungall commented on #1698
shouldn't be a merge, see
https://github.com/monarch-initiative/mondo/issues/1700

On Fri, Jun 12, 2020 at 6:02 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-06-13 10:59] maglott commented on #1694
Do we really want to merge a generic label with a gene-specific one?   Isn't there still a distinction to be made?

[2020-06-13 12:25] pnrobinson commented on #1688
The composer Scriabin claimed to see colors when he heard music.
https://www.wqxr.org/story/99054-synesthesia-scriabin-and-seeing-music/
It is well worth getting acquainted with his music! If you are not familiar, take 1 minute to listen to the first prelude here! https://www.youtube.com/watch?v=ry5L3_0XVuk

[2020-06-15 16:32] paolaroncaglia opened #1712 "MONDO:0100130 adult acute respiratory distress syndrome"
**MONDO:0100130 adult acute respiratory distress syndrome**

Hi,
Following up on https://github.com/monarch-initiative/mondo/issues/1360 and https://github.com/EBISPOT/efo/issues/736#issuecomment-611034773, would you please consider adding the following synonyms:

"adult respiratory distress syndrome" (broad),
"adult respiratory distress syndrome, ARDS" (broad),
"adult ARDS" (could be exact),
"ARD

[2020-06-15 22:33] nicolevasilevsky commented on #1694
@maglott good point!

I see now that there are two OMIM IDs that are equivalent to MONDO:0010518 Wiskott-Aldrich syndrome:

[OMIM:277970](https://www.omim.org/entry/277970)
[OMIM:301000](https://www.omim.org/entry/301000)

OMIM:277970 was moved to OMIM:614493 (which is equiv to: MONDO:0013779 Wiskott-Aldrich syndrome 2)

My action item is to move the OMIM:277970 ID to MONDO:0013779 Wiskott-Aldrich

[2020-06-15 22:42] nicolevasilevsky commented on #1711
Oops - I fixed this above!

[2020-06-15 23:12] nicolevasilevsky commented on #1705
I am not sure these should be merged. ANON1 is anorexia nervosa, susceptibility to, 1 (I think we should add this as the primary label).

It doesn't make sense to me to merge susceptibility to bulimia with susceptibility to anorexia, as they are two different disorders, and in Mondo, that are noted to have dysfunction of two different genes.

The OMIM record says this was moved to:
OMIM:607499 (wh

[2020-06-15 23:27] nicolevasilevsky commented on #1698
I take it that this should be obsoleted?

[2020-06-15 23:30] nicolevasilevsky commented on #1688
I listened to the whole thing - very lovely! Thanks for the recommendation @pnrobinson!

[2020-06-15 23:37] nicolevasilevsky commented on #1712
@paolaroncaglia
"adult respiratory distress syndrome" is already there as an exact syn
"adult respiratory distress syndrome, ARDS" is already there as an exact syn
"adult ARDS" is already there as an exact syn

I added ARDS as a related syn.

[2020-06-15 23:44] #1577 closed

[2020-06-16 10:36] paolaroncaglia commented on #1712
Thanks @nicolevasilevsky ,

I can't see them in OLS (screen shot attached). Maybe they were added after the last release? Asking to make sure there isn't a broader issue in OLS/Mondo import.
![Screen Shot 2020-06-16 at 12 32 22](https://user-images.githubusercontent.com/4982516/84764252-b2bb5780-afcd-11ea-9b5a-c499e4570d5f.png)

Thank you!
Paola

[2020-06-16 17:03] nicolevasilevsky commented on #1712
Very interesting!

I do see these synonyms in the last release:

![image](https://user-images.githubusercontent.com/6722114/84805065-86491080-afb8-11ea-976a-f06bbc7e6be5.png)

@paolaroncaglia I think this may be an issue with Mondo/OLS

[2020-06-16 17:06] #1712 closed

[2020-06-16 17:07] #1681 closed

[2020-06-16 18:01] tibingaman opened #1718 "SATB2 associated disorder"
Preferred gene-related syndrome label: SATB2 associated disorder

Synonyms: NONE

Definition (free text, please give PubMed ID, if applicable, in format PMID:#######):
The Intellectual Disability and Autism GCEP has identified that this disorder is characterized by significant neurodevelopmental disabilities with limited to absent speech, behavioral issues, and craniofacial anomalies. Most distinc

[2020-06-16 21:31] nicolevasilevsky opened #1719 "[NTR] cytokine release syndrome (CRS)"
**Preferred term label:**
cytokine release syndrome

**Synonyms**
CRS source:  NCIT:C143394
cytokine storm source: PMID:32291137
cytokine-associated toxicity source: PMID:24876563

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
A non–antigen-specific toxicity that occurs as a result of high-level immune activation of large numbers of lymphocytes (B cells,

[2020-06-17 15:42] tibingaman opened #1720 "DKC1-related disorder"
Preferred gene-related syndrome label: DKC1-related disorder

Synonyms: none

Definition (free text, please give PubMed ID, if applicable, in format PMID:#######): In literature, the DKC1 gene has been associated with dyskeratosis congenita and Hoyeraal-Hreidarsson syndrome. However, literature has presented overlap of these two disease entities (PMID:10700698). The ID/Autism group would like to s

[2020-06-17 21:41] RedRiver1816 opened #1721 "[Relabel] Neurological Conditions w/ Aminoacylase 1 Deficiency"
**Mondo term (ID and Label):** MONDO:0012368 (neurological conditions associated with aminoacylase 1 deficiency)

**Suggested new label:** Aminoacylase 1 Deficiency

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
With less than 20 known cases, the association of the biochemical abnormality that results from Aminoacylase 1 Deficiency and the neurological cond

[2020-06-18 09:16] ValWood opened #1722 "TYPO: autosomal recessive early-onset Parksinson disease 23"
autosomal recessive early-onset Parksinson disease 23 (MONDO:0014796)**Mondo term (ID Label)**

-> Parksinson

[2020-06-18 18:24] ValWood opened #1723 "MONDO:0023616 MONDO:0007888"
hereditary leiomyomatosis and renal cell cancer MONDO:0007888

is described in OMIN
A number sign (#) is used with this entry because multiple cutaneous and uterine leiomyomatosis with or without renal cell carcinoma, also referred to as hereditary leiomyatosis and renal cell cancer (HLRCC), is caused by heterozygous mutation in the gene encoding fumarate hydratase (FH; 136850) on chromosome 1q43.

[2020-06-18 20:56] ValWood opened #1724 "[add def] Liberfarb syndrome"
Liberfarb syndrome
Liberfarb syndrome is a progressive disorder involving connective tissue, bone, retina, ear, and brain.

https://www.omim.org/entry/618889 for description and clinical features

Caused by mutation in PISD

I'm still not sure about the rules for including syndromes but  all mapped instances (including the historical ones tested ) map to PISD so it seems to be a single gene disord

[2020-06-19 01:04] nicolevasilevsky commented on #1705
Here is a [spreadsheet(https://docs.google.com/spreadsheets/d/1pASj2MnBI285ogOeKVqEVe2TsKCvOWDFFNq_ekN2juw/edit#gid=0) with terms tagged for obsoletion, we should start here

[2020-06-19 11:02] maglott commented on #1724
OMIM: 618889
https://omim.org/entry/618889

[2020-06-19 17:28] nicolevasilevsky opened #1726 "[Merge] MONDO:0018238 rare bone disease related to a common gene or pathway defect"
**Mondo term (ID and Label)**
MONDO:0018238	rare bone disease related to a common gene or pathway defect

**Reason for deprecation**
Discussed with @paolaroncaglia and @zoependlington on Mondo call on 06/18/20, this is a grouping term that is probably not used clinically

**consider**
MONDO:0005381	bone disease

[2020-06-19 17:28] nicolevasilevsky opened #1727 "[Merge] MONDO:0018719 rare capillary malformation with associated anomalies"
**Mondo term (ID and Label)**
MONDO:0018719	rare capillary malformation with associated anomalies

**Reason for deprecation**
Discussed with @paolaroncaglia and @zoependlington on Mondo call on 06/18/20, this is a grouping term that is probably not used clinically

**consider**
MONDO:0016231	capillary malformation

[2020-06-19 21:39] ahamosh commented on #1690
OMIM calls this HSD10 mitochondrial disease (HSD10MD)

[2020-06-19 21:45] ahamosh commented on #1675
Hi Nicole and Donna, Not sure that it makes a difference by CMD1T was thought to be caused by mutations in TMPO.  Those variants are too frequent and so CMD1T no longer exists. The discussion is in CMD1A.  So, I don't know whether a merge is the right term, but you will.
Thanks, Ada

[2020-06-21 07:11] ana-rath-orphanet commented on #1667
Hi Nicole,

This group shouldn't be obsoleted:
- It comes from the IUIS primary immunodeficiencies classification (Orphanet classification is totally based on it) J Clin Immunol. 2020; 40(1): 66–81.
Published online 2020 Feb 11. doi: 10.1007/s10875-020-00758-x
- it encompasses 2 entities (and not one in Orphanet), with sub-types
![image](https://user-images.githubusercontent.com/43431008/85218896-

[2020-06-22 00:10] maglott commented on #1675
Thanks, Ada.  I personnally  vote for obsolete, based on the assumption that a merge would be limited to cases where what was thought to be distinct disorders are not, and the possible causitive genes differ.

[2020-06-22 12:15] tibingaman commented on #1512
Hello, will the new identifier be MONDO:0100124? Thank you for your help!

[2020-06-22 15:43] galyea-gard commented on #1675
We don't list the subtypes in GARD but based in my review I agree that the term should be obsolete.  The variant that was found was reclassified in 2017 as being of unknown significance and there is not firm evidence it is CMT1A.  Thank you!

[2020-06-22 19:48] galyea-gard commented on #1685
Gorlin-Chaudhry-Moss syndrome:  Agree with the merging (will do the same in GARD). Thanks, Gioconda

[2020-06-22 19:50] galyea-gard commented on #1689
I would propose to merge it with Autosomal dominant otospondylomegaepiphyseal dysplasia instead, according to Orphanet and available literature (https://pubmed.ncbi.nlm.nih.gov/9805126/ https://www.ncbi.nlm.nih.gov/books/NBK1302/  and Genetics Home Reference. Will review it in GARD too.

[2020-06-22 19:59] galyea-gard commented on #1691
We have this condition in GARD listed as  “IQSEC2” (synonyms: IQSEC2-related intellectual disability; IQSEC2-related epilepsy; X-linked intellectual disability 1/78; X-linked intellectual disability 1; X-linked intellectual disability 78) as per ontology review and recommendations from the specific disease support group.

[2020-06-22 21:40] galyea-gard commented on #1695
I think this should be included under Aromatase excess syndrome which has a synonym “prepubertal hereditary gynecomastia”

[2020-06-23 02:17] nicolevasilevsky commented on #1695
@galyea-gard are you suggesting that we merge MONDO:0010601 gynecomastia, familial with MONDO_0007690 'aromatase excess syndrome'?

I agree, that seems to be a better merge, rather than what is suggested above.