[2021-07-28 13:59] lcdaugherty opened #3390 "MONDO:0007057 acroosteolysis dominant type remove ExactMatch obsolete MeSH C531695 add C537586"
MONDO:0007057 acroosteolysis dominant type
http://purl.obolibrary.org/obo/MONDO_0007057

exactMatch http://identifiers.org/mesh/C531695 is Obsolete term

Suggest:
Add exactMatch https://meshb-prev.nlm.nih.gov/record/ui?ui=C537586  Serpentine fibula polycystic kidney syndrome
Add Serpentine fibula polycystic kidney syndrome from related synonym to has exact synonym baed on ref: orphanet ORPHA:2853-

[2021-07-28 14:37] nicolevasilevsky commented on #3390
This is very helpful @lcdaugherty, thanks for reporting this. We'll look into it asap.

[2021-07-28 15:37] #3353 closed

[2021-07-28 15:56] #3099 closed

[2021-07-28 15:56] #3098 closed

[2021-07-28 15:57] #3000 closed

[2021-07-28 15:58] #2980 closed

[2021-07-28 17:28] nicolevasilevsky commented on #3272
- [ ] move OMIM:615026 xref to MONDO_0004573 ariboflavinosis
- [ ] on MONDO:0014013, OMIM xref should be MONDO:subClassOf
- [ ] 'maternal riboflavin deficiency' should be a child of ariboflavinosis
- [ ] add EXACT synonym to ariboflavinosis: riboflavin deficiency
- [ ] add excluded from QC check: http://purl.obolibrary.org/obo/mondo/sparql/qc/general/qc-single-child.sparql

[2021-07-28 17:35] nicolevasilevsky commented on #2505
Action item:
- [ ] merge MONDO:0005261 'pervasive developmental disorder - not otherwise specified' with MONDO:0005258  'autism spectrum disorder'
- [ ] try to get an eBook of DSM-5 and review the autism related diseases

[2021-07-28 17:51] lcdaugherty opened #3391 "[Merge] MONDO:0018226 infantile epileptic-dyskinetic encephalopathy with MONDO:0010632 developmental and epileptic encephalopathy, 1"
IEE nomenclature and grouping is quite challenging, so I might be out on a limb here...but I came across this scenario whilst looking at what seems be an obsoleted MeSH term, and wondered if these two MONDO terms should be merged, with updates to the Database cross references and has exact synonyms?

**Term to be obsoleted** infantile epileptic-dyskinetic encephalopathy http://purl.obolibrary.org/

[2021-07-28 17:52] nicolevasilevsky commented on #2999
MONDO:0100124 NAA10-related syndrome is a grouping class that clingen requested.

@sabrinatoro and I addressed your other comments above, thanks for reporting this.

[2021-07-28 18:17] nicolevasilevsky commented on #2807
I think this is done. If anything else is needed, please reopen.

[2021-07-28 18:17] #2807 closed

[2021-07-28 18:18] kanems opened #3393 "fetal alcohol spectrum disorder(s) MONDO:0021720 and MONDO:0000408 [Merge]"
**Mondo term (ID and Label)**
MONDO:0021720 and MONDO:0000408
fetal alcohol spectrum disorder(s)

**Reason for deprecation**
I don't see why these should be split... UMLS CUI: C2985290 X-refs MESH: D063647 and this term itself uses both the singular and plural form as synonymous terms.

**Term to be merged with**
MONDO:0000408 seems to be the "most complete" term with a better defined set of hiera

[2021-07-28 18:53] nicolevasilevsky commented on #3085
@maglott I think you are correct. I think these two terms can be merged with: MONDO:0034937 FLNA-related X-linked myxomatous valvular dysplasia
- MONDO:0015989 'congenital valvular dysplasia'
- MONDO:0010753 'cardiac valvular dysplasia, X-linked'

[2021-07-28 19:03] #186 closed

[2021-07-28 19:26] nicolevasilevsky commented on #3393
Thanks @kanems, we'll aim to get this into the Sept release.

[2021-07-28 19:45] nicolevasilevsky commented on #3123
Thanks @smcnulty13, we'll work on this asap.

[2021-07-28 19:51] nicolevasilevsky commented on #2933
@sabrinatoro
from the NCIT team:
The EVS NCIt Team has reviewed your comments. We recommend leaving myofibromatosis and myofibroma as is. The former is multifocal and the latter is solitary. Myofibroma usually occurs in infants/young children. Rare adult forms of myofibroma have also been described.

I think this can be closed.

[2021-07-28 19:51] #2933 closed

[2021-07-28 20:10] nicolevasilevsky commented on #3391
@ihelbig could you comment on this? Is

MONDO:0018226 Infantile Epileptic-Dyskinetic Encephalopathy

the same as

MONDO:0010632 developmental and epileptic encephalopathy, 1

Thank you!

[2021-07-28 21:00] kanems opened #3395 "pachydermoperiostosis vs. primary hypertrophic osteoarthropathy"
Action item:

- [x] merge:
MONDO:0009799 pachydermoperiostosis with
MONDO:0016620 'primary hypertrophic osteoarthropathy'

Reason: duplicate

_updated by NV 2021-10-20_

-----

I am looking for clarification on these two terms: primary hypertrophic osteoarthropathy MONDO:0016620 and pachydermoperiostosis MONDO:0009799
On the Pachydermo. term, I see X-ref SCTID: 88220006 is a Mondo equivalent term.

[2021-07-28 21:29] sabrinatoro commented on #2693
reopening so we remember the sub-issues remaining

[2021-07-28 21:41] nicolevasilevsky commented on #2826
action items @sabrinatoro:

- [ ] SCIT:14821001 should be a dbxref on visceral heterotaxy (MONDO:0018677), MONDO:equivalentTo
- [ ] revise SCIT:14821001  xref on 'situs ambiguus' to MONDO:subClassOf
- [ ] obsolete “Situs inversus” MONDO:0010029, and create new class for situs inversus
- [ ] create new class heterotaxy, visceral, 5, dbxref OMIM:270100, MONDO:equivalentTo, child of 'visceral heterot

[2021-07-28 23:14] sabrinatoro commented on #3389
It looks like the current terms on Mondo refers to both the grouping term for Usher syndrome type 1, and the more specific subtype Usher syndrome, type 1B (due to mutation in MYO7A)

I suggest **splitting Usher syndrome type 1 (MONDO:0010168) to Usher syndrome type 1 (grouping term) and Usher syndrome type 1B (due to mutations in MYO7A)**

[2021-07-29 00:50] tsneddon commented on #3382
@ahamosh  OK - when more information is available, I'm assuming it will be added to the OMIM PS174050 phenotypic series as eg "Polycystic liver disease 5 with or without kidney cysts".

[2021-07-29 01:01] #3306 closed

[2021-07-29 01:20] ahamosh commented on #3382
The number depends on when there is sufficient evidence.

[2021-07-29 01:32] ahamosh commented on #3395
What I read in OMIM is that familial hypertrophic osteoarthropathy is synonymous with familial pachydermoperiostosis.  There are 2 responsible genes.  Variants in SLCO2A1 cause both dominant and recessive disease, variants in HPGD cause dominant disease.  The phenotypic manifestations range from bone and skin thickening, to bone only or skin only.

Cranioosteoarthropathy is a separate condition du

[2021-07-29 16:47] nicolevasilevsky commented on #3382
Thanks @ahamosh. @tsneddon we can go ahead and add this term to Mondo since your team needs it and we'll update it with the cross-reference to the OMIM ID, if one is created in the future.

[2021-07-29 16:53] nicolevasilevsky commented on #3382
@Vineyardintern I assigned this to you. Let me or @sabrinatoro know if you have any questions about the steps involved.

[2021-07-29 17:01] nicolevasilevsky commented on #3338
@tibingaman yes, we'll do that.

Action items:
- [ ] relabel term as Schaaf-Yang syndrome
- [ ] add exact synonym Schaaf-Yang syndrome, add has synonym type 'clingen preferred', add dbxref: OMIM:615547, PMID:24076603
- [ ] add exact synonym Prader-Willi syndrome due to point mutation, add dbxref: Orphanet:398069
- [ ] add seeAlso: this ticket

[2021-07-29 17:22] nicolevasilevsky opened #3398 "Need a Mondo naming guide in the documentation or on website"
- [ ] look for Melissa's commentary about disease naming
- [ ] draft text about clingen's preference for using gene names and OMIM's preferred naming conventions

[2021-07-29 17:29] nicolevasilevsky opened #3399 "Add workshop details to Mondo website"
- see details [here](https://docs.google.com/spreadsheets/d/1NfPVaP0KAVJIxGiQBkGY_P5vF5XMlcjnwR-CUHBnZoA/edit#gid=0)
- create a zenodo record for each workshop
  - Write up goals of the workshop, a brief summary
- on website, point to each zenodo record

- instructions to update website: https://mondo.readthedocs.io/en/latest/editors-guide/mondo-website-editing/

[2021-07-29 17:57] nicolevasilevsky commented on #3332
Thanks @ValWood!

This is based on the orphanet classification: https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_357058&viewMode=All&siblings=false

We added the superclass axiom to 'autosomal recessive cutis laxa type 2A'
'disease has basis in dysfunction of' some ATP6V0A2

[2021-07-29 18:12] sabrinatoro opened #3401 "Broaden definition of ‘disease arises from structure’ (RO:0004030)"
As per the Mondo curator call on 07/08/21, we decided that the relation to use for the axiom to Monochrom should be : **‘disease arises from structure’** (RO:0004030)

However, the current definition specifies that the relationship is between a disease and an anatomical structure
(Definition: A relationship between a disease and an anatomical structure where the material basis of the disease is so

[2021-07-29 18:14] nicolevasilevsky commented on #3333
Thanks @ValWood.

Reviewing this class, I think we can exclude several parents on this term:

exclude superclassOf:
- [ ] 'congenital disorder of glycosylation with neurological involvement'
- [ ] 'congenital disorder of glycosylation with skin involvement'
- [ ] 'congenital disorder of glycosylation-related bone disorder'
- [ ] 'metabolic disease with epilepsy'
- [ ] 'syndromic neurometabolic dis

[2021-07-29 18:14] Mohan-Shruthi commented on #3306
@nicolevasilevsky

I don't think we want to add "Increased serum bile acid concentration" as a phenotype as the feature is increased _unconjugated_ bile acids.
Definition from experts: The biochemical profile of patients with BAAT deficiency is characterized by increased levels of predominantly unconjugated cholic acid and absence of glycine and taurine conjugated bile acids in serum, urine and bi

[2021-07-29 18:16] sabrinatoro commented on #3401
@cmungall : I want to confirm that this relation is indeed the one we want to use:

I saw that 'autosomal anomaly' has the Equivalent Axiom: 'chromosomal anomaly'
 and ('disease has location' some autosome)
(note, this is the only term which has a relation to autosome)

Therefore either we use 'disease has location', or we update the relation to 'disease arises from structure'.
Thanks!

[2021-07-29 18:42] #3332 closed

[2021-07-29 19:19] sabrinatoro opened #3403 "Import and use SO to axiomize chomosome anomaly 'type'"
Some 'partial chromosome deletion' terms use the SO term in subclass: 'has modifier' some chromosomal_deletion.
Assuming we want to follow the same pattern, we should
- [x] import SO terms required for the axiomization ([here](https://docs.google.com/spreadsheets/d/1eECpDgSlbD9R326z2dI9WtG7ud8oZ6Dbyqr2hO2uYyo/edit?usp=sharing )
- [ ] add axioms 'has modifier' some (SO term) to existing terms

[2021-07-29 19:21] brookepalus commented on #3293
Hi Nicole, my apologies for the delay. I was out of the office on vacation and am just now catching up on email. It is my understanding that ectodermal dysplasia and Tooth agenesis have overlapping phenotypes. The GCEP would like the terms merged if possible. Please let me know if you have any other questions!

[2021-07-29 19:23] brookepalus commented on #3293
From the biocurator:

TA: hypotrichosis, agenesis of variable number of permanent teeth, dry skin, abnormal sweating, and nail abnormalities

ED: affecting the development and/or homeostasis of ectoderm-derived structures such as hair, nails, teeth and eccrine sweat glands (HED being the most common - Martínez-Romero et al. (2019)).

Overlapping phenotypes: Hair abnormalities, teeth abnormalities,

[2021-07-29 20:16] #3354 closed

[2021-07-29 20:17] #3272 closed

[2021-07-29 20:17] #2999 closed

[2021-07-29 20:24] #2951 closed

[2021-07-29 20:30] nicolevasilevsky opened #3406 "need to make sure our contributors list is up to date"
https://mondo.monarchinitiative.org/pages/contributors/

- add Sanjeeta
- add Deanne Taylor
-  Add Daniel Olson (Vineyardintern)
- Add Emily Hartley (ehartley)
- go through GitHub and try to make sure everyone is listed on the website as a contributor

website editing instructions are here:
https://mondo.readthedocs.io/en/latest/editors-guide/mondo-website-editing/

[2021-07-29 23:13] sabrinatoro commented on #3172
@nicolevasilevsky
I think this issue should be : obsolete 'thrombocythemia, X-linked' (MONDO:0010301)
Do you agree?
(Maybe a good first issue?)

[2021-07-29 23:28] nicolevasilevsky commented on #3172
yes, I agree it should be obsoleted (not merged).

I think you and I should do the obsoletions, so let's not label it as a good first issue.

[2021-07-29 23:55] nicolevasilevsky commented on #3293
@brookepalus we try to align with OMIM in Mondo, so I'd like to check with @ahamosh to see if OMIM plans to lump all of these classes together as well. If yes, we'll do so in Mondo too.

@ahamosh could you please let me know when you have a chance?

Thanks!

[2021-07-30 00:01] nicolevasilevsky commented on #3306
Ok great, we'll just leave it as it is then.

[2021-07-30 00:06] sabrinatoro commented on #3168
Based on the definitions and reports, these terms could be merged,
HOWEVER, “In the past, glomuvenous malformations (GVM, MIM138000) were improperly called ‘‘glomangiomas’’ or ‘‘glomus tumours.’’ GVM are **vascular malformations** and should be distinguished from paragangliomas (MIM 115310,168000, and 605373) and from the (subungual) solitaryglomus tumours." (PMID: 15689436)

I suggest that we

-

[2021-07-30 00:08] nicolevasilevsky commented on #3179
this was for training purposes, closing

[2021-07-30 00:08] #3179 closed

[2021-07-30 00:11] nicolevasilevsky commented on #1405
@matentzn could you please regenerate this list? Looks like many terms have already been obsoleted. Thank you!

[2021-07-30 00:12] nicolevasilevsky commented on #512
closing this, because it will be addressed in #3155

[2021-07-30 00:12] #512 closed

[2021-07-30 00:20] nicolevasilevsky commented on #324
Action items:
- For the following classes, if the parent class is the "with", it should be excluded (see instructions [here](https://mondo.readthedocs.io/en/latest/editors-guide/revise-terms-in-mondo/#exclude-a-superclass).
- If there is not an additional parent, add the superclass 'syndromic disease', source: your https://orcid.org/0000-0002-6601-2165
- add seeAlso to this ticket

- [ ] 'syndrome

[2021-07-30 00:32] nicolevasilevsky commented on #123
this term has been renamed, so I think this can be closed

[2021-07-30 00:32] #123 closed

[2021-07-30 00:33] nicolevasilevsky commented on #96
we will use MAxO for this, right?

[2021-07-30 00:41] #3376 closed

[2021-07-30 00:48] ahamosh commented on #3293
Hi All,  OMIM will make OODD (257980) have an ectodermal dysplasia alternate title and be added to the phenotypic series (PS3015100).  We will keep selective tooth agenesis 4 (150400).  I am not sure whether we have been decided to lump or keep SSPS  (224750).  That is being looked at right now.  I think that Mondo could make an ectodermal disorders-wnt10a related or just give them the ectodermal

[2021-07-30 15:34] ValWood opened #3410 "neurodevelopmental disorder with cardiomyopathy, spasticity, and brain abnormalities (NEDCASB; 619121)"
HI,

I don't find a term for NEDCASB in MONDO?

https://www.omim.org/entry/138450#molecularGenetics
In 5 patients from 4 unrelated families with neurodevelopmental disorder with cardiomyopathy, spasticity, and brain abnormalities (NEDCASB; 619121), Garcia-Cazorla et al. (2020) identified homozygous or compound heterozygous mutations in the SHMT2 gene (138450.0001-138450.0007).

Thanks
Val

[2021-07-30 15:45] nicolevasilevsky commented on #3410
Hi @ValWood this is it:
MONDO_0030866 'neurodevelopmental disorder with cardiomyopathy, spasticity, and brain abnormalities'

Please reopen if anything else is needed

[2021-07-30 16:07] kanems opened #3411 "MONDO:0021141 "acquired"[Obsolete]"
**Mondo term (ID and Label)**
 MONDO:0021141 "acquired"

**Reason for deprecation**
It seems like this doesn't need to be maintained as a distinct disease concept, but supported rather as a descriptor of some diseases. Also Orpha409941 doesn't seem to exist anymore.

**Suggested term to consider**

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https:/

[2021-07-30 16:18] kanems opened #3412 "split term: acrofrontofacionasal dysostosis MONDO:0008715"
**Term to split:**
acrofrontofacionasal dysostosis MONDO:0008715
**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
acrofrontofacionasal dysostosis MONDO:0008715
NT: acrofrontonacionasal dysostosis 1  (Set as a child of current term, sib to MONDO:0009402)

**List properties that should be moved to new term:** Note- ORDO tends

[2021-07-30 16:34] #3111 closed

[2021-07-30 16:39] nicolevasilevsky commented on #3362
pathway ontology from RGD
several pathways including disease pathway branch

- [ ] need to map PW ontology to Mondo terms - this will give us seed terms and these seed terms will be used in the import
- [ ] need to import of new PW (pathway) ontology (in OBO)

add relations such as
- Alzheimer Disease and 'caused by defects in' some AD pathway (from KEGG) _or_
- disease and 'has related pathway' s

[2021-07-30 16:45] nicolevasilevsky commented on #508
- [ ] make sure patterns have synonyms for disease or disorder
- [ ] sparql query for all the terms that have disease or disorder in the label (@matentzn)
- [ ] review on the curator call and consider which label to use

[2021-07-30 16:45] nicolevasilevsky commented on #96
- [ ] import maxo-base

[2021-07-30 18:03] kanems opened #3413 "Difference between red cell aplasia and pure red-cell aplasia?"
Is there a difference between MONDO:0001705 pure red-cell aplasia and MONDO:0020113 red cell aplasia ?

The sources on UMLS CUI: C0034902 seem to occasionally equate these terms, as does HPO (from a phenotypic perspective). I am wondering if the Red cell aplasia term should be renamed to match the current OrphaNet preferred name ORPHA:98421 Primary acquired red cell aplasia. Seems like that would

[2021-07-30 18:06] nicolevasilevsky opened #3414 "[Obsolete] 'chemically-induced disorder'"
**Mondo term (ID and Label)**
MONDO_0029001 'chemically-induced disorder'
MONDO_0045028 'radiation or chemically induced disorder'

**Reason for deprecation**
'chemically-induced disorder' is a grouping class from MeSH. There was discussion about moving this to a subclass of injury, but upon reviewing the children, the children are not really injuries. It doesn't seem like this grouping class is t

[2021-07-30 18:08] nicolevasilevsky opened #3415 "[Revise subclass] 'radiation-induced disorder'"
**Mondo term (ID and Label)**
'radiation-induced disorder'

**Suggested revision and reasons**
should this be a child of MONDO_0021178 injury?

related to https://github.com/monarch-initiative/mondo/issues/922
https://github.com/monarch-initiative/mondo/issues/3414

cc @zoependlington

[2021-07-30 18:13] nicolevasilevsky commented on #3411
thanks @kanems! We use this term in the disease axioms, for terms like 'acquired angioedema', 'acquired aplastic anemia'. It is in the 'disease characteristic' branch. We don't want to obsolete it.

I still see it in Orphanet:
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_409941

(unless this is out of date).

I'll close this but please reopen if

[2021-07-30 18:13] #3411 closed

[2021-07-30 18:24] nicolevasilevsky commented on #3293
Thanks @ahamosh!

@brookepalus hopefully it's okay with you if we have MONDO_0100358 'ectodermal dysplasia WNT10A related' as a grouping class and keep the three children to align with OMIM, see screenshot below.

We'll update this to align with Ada's changes above when they are ready in OMIM.

![image](https://user-images.githubusercontent.com/6722114/127695967-f6858dd0-c799-409c-a905-9c4e023a809

[2021-07-30 18:31] ValWood commented on #3410
perfect, thanks. I was searching Monarch, I know I should use OLS but I prefer monarch to check other things and then forget to refer.

[2021-07-30 18:35] kanems opened #3416 "MONDO:0024293 polyposis, gastric, Dos Santos and de Magalhaes 1980 [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0024293 polyposis, gastric, Dos Santos and de Magalhaes 1980

**Reason for deprecation**
The MIM number cross-referenced by this term has been merged with https://omim.org/entry/619182 and the CUI from UMLS is now called "Polyposis, Gastric"  and lists SCTIDs currently on MONDO:0008277 "stomach polyp"
![image](https://user-images.githubusercontent.com/71083858/1

[2021-07-30 18:39] sabrinatoro commented on #2507
OMIM:137760 refers to the particular disease called 'primary open angle glaucoma' (MONDO:0007665)-referring to mutation in OPTN

All these OMIM terms have their own record in Mondo, and are grouped (with POAG, MONDO:0007665) under 'open-angle glaucoma' (MONDO:0005338) and 'hereditary glaucoma' (MONDO:0018174)

I think that no change should be made to this term.
@nicolevasilevsky, do you agree?

[2021-07-30 18:46] brookepalus commented on #3293
Yes, that is fine. Thank you!

[2021-07-30 18:51] sabrinatoro commented on #2578
Also: OMIM:136760 = FRONTONASAL DYSPLASIA 1 (mutation in ALX3 gene)

[2021-07-30 18:57] kanems commented on #3411
@nicolevasilevsky - I don't see this one on Orphanet's main page when I search by OrphaID https://www.orpha.net/consor/cgi-bin/Disease_Search_Simple.php?lng=EN but I get the need to keep it in Mondo for disease axioms. @maglott - we should discuss if we need to do anything for our processing of Mondo concepts to keep this term private on MedGen/GTR.

[2021-07-30 19:10] kanems opened #3417 "MONDO:0018297 and MONDO:0014176 ? [Merge]"
**Mondo term (ID and Label)**
 MONDO:0018297 hypotonia-speech impairment-severe cognitive delay syndrome
and
MONDO:0014176  hypotonia, infantile, with psychomotor retardation and characteristic facies

**Reason for deprecation**
I think the Orphanet synonym on https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=371364 is almost exactly the same as the OMIM PS https://www.omim.org/phenotypicSeri

[2021-07-30 19:21] nicolevasilevsky commented on #3411
I don't see it there either, but I downloaded their ontology from bioportal and I do see it there:
![image](https://user-images.githubusercontent.com/6722114/127701943-07173ad6-8d01-438e-95f3-7b4d9b541560.png)

[2021-07-30 22:29] sabrinatoro commented on #3403
Closing this issue as the use of SO to maximize will be address in specific issues for part of the ontology

[2021-07-30 22:29] #3403 closed

[2021-08-02 07:58] matentzn commented on #1405
This is how to do this:

[code]

Can you add a section to the editors doc how to generate reports?

## How to generate reports

Reports are generally created like this:

[code]

For example, the following command...

[code]

will run this:

[code]

Which will generate a TSV report here: `reports/report-obsoletion-candidates.tsv`.

The only requirement for a report is, that a suitable SPARQL query

[2021-08-02 10:05] matentzn commented on #3362
Not in the next few weeks, unless big pressure.

[2021-08-02 14:48] #3293 closed

[2021-08-02 14:56] nicolevasilevsky commented on #3362
no pressure :)

[2021-08-02 15:00] nicolevasilevsky commented on #1405
thank you, will do!

[2021-08-02 15:16] nicolevasilevsky commented on #3390
@matentzn in OLS, this MESH term (MESH:C531695) is listed as an exact match, but it is not annotated as MONDO:equivalentTo in the mondo-edit.obo file, so it shouldn't be listed as an exact match in OLS.

[2021-08-02 15:53] sabrinatoro commented on #2330
To do :
- [ ]  MERGE Jervell-Lange Nielsen syndrome (MONDO:0002441) AND Jervell and Lange-Nielsen syndrome (MONDO:0009078 )
This was address in #3073

- [ ] On 'Jervel and Lange-Nielsen syndrome’ (MONDO:0002441): Exclude subclass of 'familial long QT syndrome'
This way, this term is ONLY a sibling of 'familial long QT syndrome' (aka RWS)-and not both a sibling and a child.

- [ ]  Timothy syndrome

[2021-08-02 19:28] #2330 closed

[2021-08-02 20:00] #3158 closed

[2021-08-02 21:15] sabrinatoro commented on #3415
Proposal: If we want to keep this class as an upper class, 'radiation-induced disorder' (MONDO:0043459) should be completely inferred (i.e should not have asserted child).
Currently, this term has 2 asserted children, which both could be updated such that they would be inferred in this subclass.

[2021-08-02 21:40] sabrinatoro commented on #3414
@nicolevasilevsky
The only asserted class is "poisoning". I propose that we obsolete "'chemically-induced disorder' (MONDO:0029001), but keep "poisoning" as a high-level class (these are technically not disease or disorder, but are helpful to have), and tag with the "Harrison" subset.

[2021-08-02 21:49] nicolevasilevsky commented on #3414
sounds good!

[2021-08-02 23:08] sabrinatoro commented on #3234
This case will be taken care of with these 2 issues
- #3414
- #3415

[2021-08-02 23:08] #3234 closed

[2021-08-02 23:27] nicolevasilevsky commented on #3406
I am working on this

[2021-08-02 23:48] sabrinatoro commented on #3414
part of #2741

[2021-08-02 23:48] sabrinatoro commented on #3415
part of #2741

[2021-08-03 00:30] nicolevasilevsky commented on #3406
this is done

[2021-08-03 00:30] #3406 closed

[2021-08-03 02:14] galyea-gard commented on #3172
Hi! X-linked thrombocythemia links to  https://omim.org/entry/313900 (it is considered a synonym of X-linked thrombocytopenia (THC1) as well as other websites such as MedlinePlus: https://medlineplus.gov/genetics/condition/x-linked-thrombocytopenia/
Orphanet: https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=852 (added normal platelets)
We have a page at GARD.
In this case it may be be

[2021-08-03 02:37] #3368 closed

[2021-08-03 03:39] #3360 closed

[2021-08-03 03:43] nicolevasilevsky commented on #3416
I will merge MONDO_0024293 'polyposis, gastric, Dos Santos and de Magalhaes 1980' with MONDO_0017790 'gastric adenocarcinoma and proximal polyposis of the stomach', as OMIM did.

[2021-08-03 04:19] nicolevasilevsky commented on #2829
it looks like PSORIASIS 14, PUSTULAR is equivalent to INTERLEUKIN 36 RECEPTOR ANTAGONIST DEFICIENCY; DITRA in OMIM, so I think we should merge
MONDO:0018452  Deficiency of the interleukin-36 receptor antagonist with
MONDO:0013626 | psoriasis 14, pustular'

[2021-08-03 04:28] nicolevasilevsky commented on #2829
I made SNOMED term 83839005 a relatedTo dbxref on MONDO:0013626 - psoriasis 14, pustular and added it as equivalent To on Acrodermatitis continua of Hallopeau

[2021-08-03 04:36] nicolevasilevsky commented on #2829
Upon investigation, I think MONDO:0016597 generalized pustular psoriasis is equivalent to MONDO:0013626 psoriasis 14, pustular (see GRAD record): https://rarediseases.info.nih.gov/diseases/12819/generalized-pustular-psoriasis. I will merge these.

[2021-08-03 05:02] nicolevasilevsky commented on #2829
Thanks @kanems. I merged the three terms, as you suggested above, I merged them into MONDO:0013626 - psoriasis 14, pustular

[2021-08-03 05:13] #3358 closed

[2021-08-03 05:17] #3204 closed

[2021-08-03 05:18] #3417 closed

[2021-08-03 05:25] nicolevasilevsky commented on #3413
Thanks for reporting this issue, @kanems. We can certainly change the label.

@pnrobinson or @ahamosh could you provide any advice on this? Thank you!

[2021-08-03 06:03] ValWood commented on #3410
Actually should this term be in Monarch now. I forgot about this ticket  and was searching on this term again yesterday.
https://github.com/monarch-initiative/monarch-ui/issues/440

@matentzn  was looking at an import problem back in April?
https://github.com/monarch-initiative/mondo/issues/3009

Should this term be in Monarch now?

[2021-08-03 12:19] matentzn commented on #3390
Seems to me this cross reference has no `MONDO:something` qualification (source property).. @nicolevasilevsky you should just add this (Mondo:related, or whatever the correct one is for this term)..

[2021-08-03 12:56] matentzn commented on #3410
Hey @ValWood ! We can only really control here what appears in Mondo - Monarch has a much slower update cycle, and its better to use https://github.com/monarch-initiative/helpdesk for questions about https://monarchinitiative.org/

[2021-08-03 17:16] sabrinatoro commented on #3123
@smcnulty13 I am working on this issue. It looks like some of the terms you requested might already be in Mondo. Could you please check the list below and let me know in these terms (the terms you requested and the Mondo terms) are indeed the same?
If they are, I can make sure they will be classified in the ontology as requested.
Thank you!
LGMD-FKRP related myopathy = autosomal recessive limb-gir

[2021-08-03 18:11] ValWood commented on #3410
OK, no worries. I just wanted to check that the earlier problem was fixed and that wasn't the reason I could not find it yet. I thought there had. been a couple of releases, but I. think I am confusing MONDO releases with Monarch releases.

[2021-08-03 18:52] balhoff opened #3437 "current MONDO release OWL is unparseable"
There is an annotation property with a mangled IRI:

[code]

[2021-08-04 05:16] nicolevasilevsky commented on #739
Looking into this further, I don't think MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus' is a valid class - looking at this webpage (https://www.epilepsydiagnosis.org/syndrome/fbp-overview.html), this is describing two classes.

I think MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus' should be obsoleted and consider MONDO:001821

[2021-08-04 05:16] #739 closed

[2021-08-04 05:17] nicolevasilevsky opened #3442 "[Obsolete] MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus'"
**Mondo term (ID and Label)**
MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus' should be obsoleted

**Reason for deprecation**
I don't think MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus' is a valid class - looking at this webpage (https://www.epilepsydiagnosis.org/syndrome/fbp-overview.html), this is describing two classes.

re

[2021-08-04 05:18] nicolevasilevsky commented on #3442
@sabrinatoro I assigned this to the October release so we can send out the obsoletion notification email with the Sept release email.

[2021-08-04 05:21] nicolevasilevsky opened #3443 "add synonym to MONDO_0018214 'generalized epilepsy with febrile seizures plus'"
**Mondo term (ID and Label)**
MONDO_0018214 'generalized epilepsy with febrile seizures plus'

**Synonym to be added**
Genetic epilepsy with febrile seizures-plus

**Synonym subtype: ie, broad/exact/narrow/related**
exact

**Database cross reference for the synonym**
- Orphanet:36387
- https://www.clinicalgenome.org/affiliation/40005/
- add the synonym type property 'clingen preferred'.

related t

[2021-08-04 11:23] matentzn commented on #3410
Thats the one: https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0030866

[2021-08-04 14:32] smcnulty13 commented on #3123
@sabrinatoro Thanks for looking into this! Yes, I agree the existing LGMD terms are the same. Ideally we could add a ClinGen-preferred synonym for each (e.g. "LGMD-FKRP related" or "FKRP-related LGMD" or "LGMD related to FKRP"). Does MONDO have a preference for how these synonyms are structured?

I believe some of the other child terms under the requested parent terms also exist. I've attached an

[2021-08-04 16:03] nicolevasilevsky opened #3444 "QC check for permitted APs for reification"
this is related to the duplicated source annotation property issue

[2021-08-04 16:26] nicolevasilevsky commented on #3246
Sure thing, I will close. Thanks @maglott!

[2021-08-04 16:26] #3246 closed

[2021-08-04 16:49] nicolevasilevsky commented on #3121
I think this can be closed. Please reopen if any other action is needed.

[2021-08-04 16:49] #3121 closed

[2021-08-04 20:58] ValWood opened #3446 "query superclass periodic paralysis with later-onset distal motor neuropathy (MONDO:0018343)"
Should this (and any term with neuropathy), be a "nervous system disorder"

[2021-08-04 21:14] sabrinatoro commented on #3123
@smcnulty13,
Thank you very much for the document! This was extremely helpful, and it answered my next questions.
I made sure that the ClinGen preferred synonyms were available for each terms, using the "ClinGen preferred" tag.
The changes will be available in the next Mondo release (early September).

[2021-08-04 21:31] ValWood opened #3447 "[Revise subclass] Stankiewicz-Isidor syndrome (MONDO:0054591)"
**Mondo term (ID and Label)**

Stankiewicz-Isidor syndrome (MONDO:0054591)

**Suggested revision and reasons**

is_a  Stankiewicz-Isidor syndrome (STISS) is a neurodevelopmental disorder

https://www.ncbi.nlm.nih.gov/gtr/conditions/C4479599/#:~:text=Stankiewicz%2DIsidor%20syndrome%20(STISS),et%20al.%2C%202017).

Should this be added?

[2021-08-04 21:59] ValWood opened #3448 "[Revise subclass] trimethylaminuria is_a metabolic disease"
**Mondo term (ID and Label)**
trimethylaminuria (MONDO:0011182)

**Suggested revision and reasons**

is_a metabolic disease (MONDO:0005066) of some sort?

[2021-08-04 22:53] #3390 closed

[2021-08-04 22:54] #3286 closed

[2021-08-04 23:01] #3416 closed

[2021-08-05 14:27] smcnulty13 commented on #3123
@sabrinatoro Thanks so much, Sabrina! Will the requested parent terms (e.g. "FKRP-related myopathies") encompassing these terms be available in September as well? We are hoping to use the parent terms for our curations in this ClinGen expert panel.

[2021-08-05 15:07] #2829 closed

[2021-08-05 15:18] sabrinatoro commented on #3123
@smcnulty13
Yes, the requested parents have also been created. Here is a screenshot of the ontology with the new terms and their children. Note that all these terms have the ClinGen synonyms with "ClinGen preferred" tag (e.g. "FKRP-related myopathy"), which you cannot see in this screenshot.
![Screen Shot 2021-08-05 at 8 14 58 AM](https://user-images.githubusercontent.com/12737987/128375296-f8662d

[2021-08-05 16:01] #3444 closed

[2021-08-05 16:10] nicolevasilevsky commented on #3123
@smcnulty13 we can share the new Mondo IDs with you if that is helpful. They will be available after the next release in early Sept.

[2021-08-05 16:12] maglott commented on #3123
Just wondering...  Is Mondo moving in the direction of classifying disorders by the altered gene product, instead of tagging in some way all relationships between genes and the disorders that may result from altered function or expression?

[2021-08-05 16:14] nicolevasilevsky commented on #3123
For ClinGen requests, we are adding new terms that use gene-based names. If it is an existing term (ie from OMIM), we are adding the gene-based names as synonyms and tagging the synonym as 'clingen preferred'.

[2021-08-05 16:49] nicolevasilevsky commented on #1405
Updated spreadsheet is [here](https://docs.google.com/spreadsheets/d/1bEiENtEqPQ5hOLZdeVP_wEL_USpVPruNy4D9avNKC74/edit#gid=1454394910)

[2021-08-05 16:51] #3355 closed

[2021-08-05 17:24] sabrinatoro opened #3452 "Include AML-NCIT terms"
terms are in the document here:
https://docs.google.com/spreadsheets/d/1NZqf0uIzSeZ5XfVXePH0_iiR0WjyPS2ADSmK6uaYh9c/edit?usp=sharing

Note, this was requested by Deanne Taylor (@taylordm): https://orcid.org/0000-0002-3302-4610

[2021-08-05 17:51] nicolevasilevsky commented on #2891
delete this pattern

[2021-08-05 18:37] nicolevasilevsky commented on #2863
Discussed on Mondo curation call:

- [ ] create a new term: delayed sleep phase syndrome, susceptibility to

**parent:** inherited disease susceptibility
**label:** delayed sleep phase syndrome, susceptibility to
**defintion**: An inherited susceptibility or predisposition to developing delayed sleep phase syndrome.
**definition dbxref**: MONDO:patterns/inherited_susceptibility.yaml
**seeAlso**: `

[2021-08-05 18:41] nicolevasilevsky opened #3455 "remove subset tag 'obsoletion candidate' on terms"
Please delete the subset tag 'obsoletion candidate' from the following terms:

- [x] hematologic disease
- [x] gastroesophageal disease
- [x] neonatal epilepsy syndrome
- [x] infantile epilepsy syndrome
- [x] childhood-onset epilepsy syndrome
- [x] adolescent-onset epilepsy syndrome
- [x] neonatal/infantile epilepsy syndrome
- [x] adolescent/adult-onset epilepsy syndrome
- [x] rare or common

rela

[2021-08-05 19:15] smcnulty13 commented on #3123
@sabrinatoro @nicolevasilevsky The September release timeline sounds great--thank you! If you're able to share the new Mondo IDs for the parent terms that would be very helpful.

Is it possible to add a parent and child terms (also listed in the Excel document) for GMPPB under "qualitative or quantitative defects of protein involved in O-glycosylation of alpha-dystroglycan" following the same stru

[2021-08-05 21:15] nicolevasilevsky opened #3456 "[Obsolete] terms marked as 'obsoletion candidates'"
term to obsolete ID | term to obsolete Label| term to consider ID | term to consider label
-- | -- | -- | --
<http://purl.obolibrary.org/obo/MONDO_0015119> | bronchopulmonary tumor | http://purl.obolibrary.org/obo/MONDO_0020641 | respiratory tract neoplasm'
<http://purl.obolibrary.org/obo/MONDO_0016254> | rare variants of adenocarcinoma of the corpus uteri | http://purl.obolibrary.org/obo/MONDO_00

[2021-08-05 21:15] nicolevasilevsky commented on #1405
reviewed the list and created separate tickets for this

[2021-08-05 21:15] #1405 closed

[2021-08-05 21:22] nicolevasilevsky commented on #3456
instructions for obsoleting terms is here:
https://mondo.readthedocs.io/en/latest/editors-guide/merging-and-obsoleting/#obsolete-a-class-without-merging

[2021-08-05 22:06] nicolevasilevsky opened #3458 "create summary stats for Mondo for RPPR"
Current # of classes
Defined
Obsolete
Total

[2021-08-05 22:09] courtneythaxton commented on #3123
I do have one request. Please let's remove the term "mutation" from these terms @smcnulty13 .

This is a movement in the genetic community to remove use of the term mutation, and rather use variation.

I think we can take this back to our expert panel if needed, but I the terms could follow the dyadic approach of gene- related myopathy.

So:
FKRP related myopathy

[2021-08-05 22:09] nicolevasilevsky opened #3459 "Ontology Quality Control for RPPR"
Can you please write a section on Ontology Quality Control for RPPR
doc is here:
https://docs.google.com/document/d/1vP7aoOCouIaH_E0hBUqen38zJC5ZqOi44oDvspdVvok/edit?pli=1#

[2021-08-05 22:40] #2891 closed

[2021-08-05 22:49] kallia-p opened #3461 "[NTR] congenital right-sided heart lesions"
We have had a request by the GWAS catalog team to add congenital right-sided heart lesions http://www.ebi.ac.uk/efo/EFO_0600032

**Preferred term label:**
congenital right-sided heart lesions

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Serious heritable structural anomalies of the right side of the heart, including pulmonary atresia, tric

[2021-08-05 22:52] nicolevasilevsky commented on #3461
sounds good! @kallia-p would you like to go ahead and add this?

[2021-08-05 22:54] kallia-p commented on #3461
@nicolevasilevsky In MONDO we have congenital left-sided heart lesions which is equivalent to the EFO term congenital left-sided heart lesions. I 've assigned this to me.

[2021-08-05 23:05] nicolevasilevsky commented on #3461
yes, i saw that!

Thanks @kallia-p!

[2021-08-05 23:26] nicolevasilevsky commented on #3452
@matentzn this looks good.
Can we make a couple edits - add source annotation on the subclassOf axiom
and add dbxref on the definitions?

If you can just tell me what the headers are for the ROBOT template, I can attempt to run this myself

(note to self, instructions here: https://mondo.readthedocs.io/en/latest/editors-guide/robot-template/)

[2021-08-05 23:27] nicolevasilevsky commented on #3452
Also, if Deanne needs this ASAP, I should probably run another mid-cycle release, yeah?

[2021-08-05 23:37] kallia-p opened #3462 "[NTR]"
There is a term in NCIT which we would like to add in EFO for the GWAS catalog team. It's a molecular subtype of Acute lymphoblastic leukemia MONDO:0004947

**Preferred term label:**
B Acute Lymphoblastic Leukemia with t(1;19)(q23;p13.3); E2A-PBX1 (TCF3-PBX1)
http://purl.obolibrary.org/obo/NCIT_C80347

**Synonyms**
B-Acute Lymphoblastic Leukemia with t(1;19)(q23;p13.3); E2A-PBX1 (TCF3-PBX1)
B-Cell

[2021-08-05 23:39] sabrinatoro commented on #3123
@smcnulty13
Here are the Mondo ID for the new terms ‘qualitative or quantitative defects of protein involved in O-glycosylation of alpha-dystroglycan’ (MONDO:0016155) :
FKRP-related myopathy  -  MONDO:0700066
FKTN-related myopathy -  MONDO:0700067
POMGNT1-related myopathy - MONDO:0700068
POMGNT2-related myopathy - MONDO:0700069
POMT1-related myopathy - MONDO:0700070
POMT2-related myopathy -  MONDO

[2021-08-05 23:52] sabrinatoro commented on #3123
@courtneythaxton
Thank you for your comment and for letting us know about the movement in the genetic community to remove use of the term mutation.
These names (using "caused by mutation in Gene") follow a Mondo design pattern that we use when creating terms for diseases that are caused by a single mutation in a single gene ([see here](https://github.com/monarch-initiative/mondo/blob/master/src/pa

[2021-08-06 00:10] nicolevasilevsky commented on #508
@pnrobinson I propose that we rename all the classes that are created via the Mondo design pattern (such as MONDO:patterns/location) to disorder, eg 'adrenal cortex disease' would be 'adrenal cortex disorder'.

We can update the patterns to use disorder as the primary label and disease as the synonym.

here is a [report](https://docs.google.com/spreadsheets/d/1Vj3IoLgJjEg7wxc-e-N5AZydMiQodA4hwkaca

[2021-08-06 06:55] matentzn commented on #3452
I redid the PR, see comments here: https://github.com/monarch-initiative/mondo/pull/3463

I put placeholders in the columns (axiom annotations) you asked for, xrefs on defs and is a etc, make sure you review carefully.

[2021-08-06 16:12] nicolevasilevsky commented on #3452
Note, this was requested by Deanne Taylor: https://orcid.org/0000-0002-3302-4610

[2021-08-06 16:42] nicolevasilevsky commented on #2760
## [leprosy, susceptibility to, 2](http://purl.obolibrary.org/obo/MONDO_0011860) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [leprosy, susceptibility to, 2](http://purl.obolibrary.org/obo/MONDO_0011860) SubClassOf [leprosy](http://purl.obolibrary.org/obo/MONDO_0005124)
    - [leprosy](http://purl.obolibrary.org/obo/MONDO_0005124) SubClassOf [infectious disease with peripher

[2021-08-06 18:58] #3414 closed

[2021-08-06 18:58] #3415 closed

[2021-08-06 19:08] sabrinatoro opened #3465 "Create the Harrison view"
All the tickets for the Harrison work have been completed.

Please create the Harrison view. The high-level terms in this view should be the terms tagged with  "in_subset ‘harrisons view’ "

[2021-08-06 19:09] sabrinatoro commented on #3465
assigning to @matentzn, but feel free to assign to someone else.

[2021-08-06 19:11] sabrinatoro opened #3466 "Request for statistics about Harrison View"
All the tickets for the Harrison work have been completed.
The classes that should be included in the Harrison view have been tagged with :  in_subset ‘harrisons view’
Some of the Mondo classes were not included in the Harrison view, for example ‘non-human animal disease’ and classes created based on axioms (e.g. ‘disease by anatomical region’).
Therefore I expect that some terms will be missing f

[2021-08-06 19:12] sabrinatoro commented on #3466
assigning to @matentzn, but feel free to assign to someone else.

[2021-08-06 19:28] sabrinatoro commented on #2741
the only work left is the review of "connective tissue disease", which is not directly part of the Harrison view project.

[2021-08-06 19:28] #2741 closed

[2021-08-06 20:03] nicolevasilevsky commented on #2760
I did the following edits to address the build failures:

- renamed MONDO_0007691 to Guillain-Barre syndrome, familial (to match OMIM label)
- Excluded subclass from 'Guillain-Barre syndrome, familial'
  - excluded 'chronic polyradiculoneuropathy'
- Excluded subclass from 'acute inflammatory demyelinating polyradiculoneuropathy'
  - excluded 'Guillain-Barre syndrome, familial'
- Excluded subclass

[2021-08-06 20:05] nicolevasilevsky opened #3467 "exclude superclass of Guillain-Barre syndrome"
Guillain-Barre syndrome can have acquired and inherited forms (see https://omim.org/entry/139393).

- [x] Exclude superclass 'acute and subacute inflammatory demyelinating polyneuropathy' (from Orphanet)
- [x] add GUILLAIN-BARRE SYNDROME, FAMILIAL as a child of Guillain-Barre syndrome

related to https://github.com/monarch-initiative/mondo/issues/2760 and https://github.com/monarch-initiative/mond

[2021-08-06 20:22] nicolevasilevsky opened #3469 "Revise pattern to use 'variation instead of 'mutation'"
For the [disease series by gene pattern](https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/disease_series_by_gene.yaml), we create terms that are labeled:  [disease] caused by mutation in [gene]

We propose to change the primary label to:
[disease] caused by variation in [gene]

per @courtneythaxton's advice on https://github.com/monarch-initiative/mondo/issues/31

[2021-08-06 20:29] nicolevasilevsky commented on #3467
Make 'acute inflammatory demyelinating polyradiculoneuropathy' a child of 'acute and subacute inflammatory demyelinating polyneuropathy'.

This relationship doesn't currently exist in Orphanet, but seems to make sense based on the labels. 'acute and subacute inflammatory demyelinating polyneuropathy' seems to be a grouping class for these two classes.

[2021-08-06 21:08] nicolevasilevsky opened #3470 "Create new classes/hierarchy for 'pityriasis rubra pilaris'"
According to [GARD](), pityriasis rubra pilaris is a grouping class and several subtypes exist, including:
- adult onset PRP
- juvenile onset PRP
- inherited form

We currently have:
MONDO_0008251 'pityriasis rubra pilaris'
MONDO_0024351 'familial pityriasis rubra pilaris'

- [x] I think MONDO_0008251 'pityriasis rubra pilaris' and MONDO_0024351 'familial pityriasis rubra pilaris' should be merged

[2021-08-06 22:04] nicolevasilevsky commented on #3452
action items:
- [ ] Also, it is very important that open targets knows how to connect Deanne's data to these Mondo terms - make sure someone is on top of that somehow (send an email to @taylordm).
- [ ] Once she has approved, and OTAR strategy is clear, you merge, make a mid cycle release
- [ ] I will then work with @zoependlington to get the terms into EFO

[2021-08-06 22:26] cmungall commented on #3452
let's make a new ticket for alining to

https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C3171

![image](https://user-images.githubusercontent.com/50745/128576736-95e54f37-698d-40d8-b708-7a98dcd2cf42.png)

[2021-08-06 22:31] nicolevasilevsky commented on #2760
OMIM:180200 was an exact synonym for Orphanet:790 Retinoblastoma, which is the grouping class ("...hereditary or non hereditary, unilateral or bilateral.")
- make OMIM:180200 equiv to 'hereditary retinoblastoma' instead of retinoblastoma

[2021-08-06 22:33] nicolevasilevsky opened #3472 "need to align new AML terms with NCIt hierarchy"
See NCIT hierarchy here:
https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C3171

Need to align the new AML terms that were added as part of #3452 to this hierarchy once they are merged in.

[2021-08-06 22:34] nicolevasilevsky commented on #3472
dependent on #3471

[2021-08-06 22:34] nicolevasilevsky commented on #3452
new ticket: #3472

[2021-08-06 22:41] sabrinatoro commented on #3155
This issue is not really part of the Harrison reclassification work. Removing the label.

[2021-08-06 23:12] #2760 closed

[2021-08-06 23:12] #3470 closed

[2021-08-06 23:56] #3123 closed

[2021-08-07 00:31] #3467 closed

[2021-08-07 00:32] nicolevasilevsky commented on #3399
- [ ] this is done except we need to link to Sabrina's Harrison workshop report once it is submitted to zenodo

[2021-08-07 01:16] cmungall opened #3473 "disentangle germline vs somatic molecular abnormalities"
See also #3452.

compare:

[code]

[code]

(yes I know 8 != 9 just picked random two examples to illustrate a point)

the label for the former doesn't say anything about it being somatic, but by the definition it is

The latter is pretty well implicitly germline or at least early somatic

to further confse, the NCIT xref is not to a disease but to a shadow branch:

![image](https://user-images.git

[2021-08-07 03:31] ahamosh commented on #3469
Do you want just variation or do you want pathogenic variant(s), or pathogenic variation?  I have no problem with removing the word mutation, but it is much easier to search for and find the word mutation than variant or variation.

[2021-08-07 12:22] maglott commented on #3473
FYI, the definition of MESH:C537942 {source="MONDO:equivalentTo"} does not include somatic.
A condition caused by an extra copy of chromosome 8. The effects can vary from normal development in some individuals, to facial, growth, and limb abnromalities, as well as delayed speech and intellectual disability. Trisomy 8 may also cause kidney, heart, and bone abnormalities.

Date introduced: August 25

[2021-08-07 16:27] matentzn commented on #3465
Please mention to me during QC call - will do it right then and there.

[2021-08-07 17:41] courtneythaxton commented on #3469
Hmm, you ask a good question @ahamosh. My first instinct would be to suggest just variation, however I understand that use of "variation" would indicate possibly more than one variant that is causative, or pathogenic for the related disease. My only worry with saying pathogenic variant, is whether all of these variants have been evaluated per ACMg guidelines. There will be instances like Sickle Ce

[2021-08-09 06:26] LucaCappelletti94 opened #3474 "Availability of TSV/CSV version of this ontology"
Hello,

I wanted to add this ontology to the set of graphs that can be automatically retrieved when using [Ensmallen](https://github.com/AnacletoLAB/ensmallen_graph), and to do so I would need a stable URL where the various versions of the ontology are hosted in a TSV-like format (like the [STRING graphs](https://stringdb-static.org/download/) for instance).

Is there already one such thing? If no

[2021-08-09 17:48] sabrinatoro opened #3476 "axiomatize 'monosomy'"
part of #3369

- [x] create monosomy pattern
- [x] add axioms to monosomy terms
- [x] review existing terms (which one should be monosomy or not)

[2021-08-09 18:45] sabrinatoro opened #3477 "obsolete: chromosome 8 deletion"
**Term to split:**
chromosome 8 deletion
MONDO:0022794

**Name for new terms:**
term 1 - anomaly of Chromosome 8
term 2- monosomy 8 (or chromosome 8 deletion)

**List properties that should be moved to new term:**
term 1 - anomaly of Chromosome 8: should get
- equivalent: NCIT:C36535
- equivalent: UMLS:C0265418

term 2- monosomy 8 (or chromosome 8 deletion)
- equivalent: MESH:C537823

**Note**
- G

[2021-08-09 18:49] sabrinatoro commented on #3477
@nicolevasilevsky
- I set this case to the October release since we need to add this to the list of "obsolete/merge/split" terms

[2021-08-09 19:13] sabrinatoro opened #3479 "axiomatize 'trisomy'"
part of #3369
- [x] create trisomy pattern
- [x] add axioms to trisomy terms
- [x] review existing terms (which one should be trisomy or not)

[2021-08-09 19:16] sabrinatoro commented on #3369
- aneuploidy axiom added with #3476
- polyploidy axiom added with #3479

[2021-08-09 20:16] sabrinatoro opened #3483 "axiomatize 'tetrasomy' and 'pentasomy'"
part of #3369
- [x] create tetrasomy pattern
- [x] create pentasomy pattern
- [x] add axioms to tetrasomy terms
- [x] add axioms to pentasomy terms
- [x] review existing terms (which one should be tetrasomy/pentasomy or not)

[2021-08-09 20:39] ahamosh commented on #3413
They are the same.  Use whichever term is currently used.

[2021-08-09 21:04] sabrinatoro opened #3486 "[Merge] tetrasomy X"
**Mondo term to be merged**
tetrasomy X (MONDO:0019525)
48,XXXY syndrome (MONDO:0019928)

**Reason for deprecation**
these terms look like they are the same

**Note**
more reviews and checks (e.g definitions and Xrefs) are needed before deciding whether we can merge these terms or not.

[2021-08-09 21:05] sabrinatoro opened #3487 "[Merge] pentasomy X"
**Mondo term to be merged**
49,XXXXY syndrome (MONDO:0019929)
pentasomy X (MONDO:0015228)

**Reason for deprecation**
these terms look like they are the same

**Note**
more reviews and checks (e.g definitions and Xrefs) are needed before deciding whether we can merge these terms or not.

[2021-08-09 23:39] sabrinatoro opened #3491 "Axiomatize "partial chromosomal duplication"

[2021-08-09 23:43] sabrinatoro opened #3492 "Axiomatize "partial chromosome duplication""
part of #1440

- [x] add axiom to 'syndrome caused by partial chromosomal duplication' (MONDO:0000762)
'chromosomal anomaly' and ('has modifier' some chromosomal_duplication)
- [x] create pattern for 'partial_chromosomal_duplication'
- [x] add Monochrom terms for chromosomal axiom
- [x] add axiom for chromosome duplication
- [x] review all terms

[2021-08-10 11:03] lcdaugherty opened #3497 "MONDO:0100096 COVID-19 when MONDO:equivalentObsolete xref but remains as ExactMatch?"
@nicolevasilevsky @sabrinatoro

re: #2766

OLS that MeSH:C000657245 has: MONDO:equivalentObsolete
I am sorry I do not understand this, can you please explain the reasoning for keeping the obsoleted MESH ID as an ExactMatch?

MONDO:equivalentObsolete is the database cross reference section, so does this mean that in addition to the ExactMatch data do I also need to cross reference the database to m

[2021-08-10 12:15] matentzn commented on #3472
From meeting with @taylordm

"Any acute myeloid leukemia that has the chromosomal anomaly inv(16)(p13.1;q22). (A chromosomal inversion that involves chromosome 16. It is associated with the development of acute myeloid leukemia CBFB-MYH11, acute myelomonocytic leukemia with abnormal eosinophils, and granulocytic sarcoma.)"

--> Maybe we could add "CBFB-MYH11" to the descriptor (label) of the abnor

[2021-08-10 12:35] matentzn commented on #3472
On including

NCIt SY | PCDC PT
-- | --

standard translocation identifiers. Synonymous with MLLT3-MLL fusion gene

PCDC PT are synonyms curated by the clinicians; they should really be in NCIT.
If PCDC PT is not the NCIT PT (label), it should be an exact synonym.

- 11q23.3 Translocation || t(11;v)(q23.3;v) || t(11;v)(q23;v) || t(V;11)(v;q23) || t(V;11)(v;q23.3) : `v` stands for "some other gene"

[2021-08-10 12:37] matentzn commented on #3472
Outcome meeting:

- [ ] @taylordm will format synonyms in ROBOT template
- [ ] @matentzn will re-run template pipeline when all is done
- [ ] @nicolevasilevsky will review last time, merge and make a new release
- [ ] @matentzn will add the terms to EFO

[2021-08-10 14:55] nicolevasilevsky commented on #3472
Sounds good!

[2021-08-10 16:35] nicolevasilevsky commented on #704
I added the [spreadsheet ](https://docs.google.com/spreadsheets/d/1zRsPOwyS6nUGQolSUzamRxCCCDQdrZkaqftNAOjRNx0/edit#gid=1759532007)to google drive

[2021-08-10 16:37] nicolevasilevsky commented on #2338
I added a spreadsheet [here](https://docs.google.com/spreadsheets/d/1L1foI_s4hQkRxbJCdT_d9DW6Hnk8i4gR/edit#gid=601470673)

[2021-08-10 17:24] nicolevasilevsky opened #3499 "exclude superclass from children of 'syndrome associated with dilated cardiomyopathy'"
related to https://github.com/monarch-initiative/mondo/issues/324

[2021-08-10 17:32] nicolevasilevsky commented on #704
This spreadsheet is out of date. @matentzn can you create us a current spreadsheet?

[2021-08-10 17:57] nicolevasilevsky commented on #834
closing this, duplicate with https://github.com/monarch-initiative/mondo/issues/704

@sabrinatoro and I are working on this.

[2021-08-10 17:57] #834 closed

[2021-08-10 18:24] jiaola commented on #1901
**Based on this:**
https://docs.google.com/document/d/1pKyAZsT1ZlZxxgkNBRucvQPwsxzDF0nhGC2VaiPLj_U/edit#

**OMIM Import:**
OMIM class IDs
OMIM PS
SubclassOf where it exists
SubclassOf Mendelian disease when another subclassOf does not exist
Synonyms, labels + tidying
Xrefs
Obsoletion - need rules where see string MOVED TO, this class should be imported as obsolete [term name] with replaced by anno

[2021-08-10 18:57] #760 closed

[2021-08-10 21:36] nicolevasilevsky commented on #2808
I asked Ada about this and this was her response:
In most cases, an included title is not the same concept as the parent entry, so the UMLS has handled this correctly.  If you are linking to OMIM so that people can read about it, then use the parent MIM number, but ontologically it cannot be represented as the same.  This is the opposite from alternate titles which are synonyms.  Sometimes include

[2021-08-10 21:39] nicolevasilevsky opened #3502 "review children of syndrome or malformation associated with head and neck malformations"
syndrome or malformation associated with head and neck malformations

https://github.com/monarch-initiative/mondo/issues/324

[2021-08-10 22:35] nicolevasilevsky commented on #3413
@kanems I relabeled MONDO:0020113 to Primary acquired red cell aplasia.

Did you want to request that these two terms are merged?

[2021-08-10 23:33] #3502 closed

[2021-08-11 11:38] lcdaugherty opened #3505 "MONDO:0010829 CARASIL syndrome incorrect ExactMatch DOID:13945. Possible subclass relationship revision needed MONDO:0007432 cerebral arteriopathy with subcortical infarcts and leukoencephalopathy"
**Mondo term (ID and Label):**
MONDO:0010829 C**AR**ASIL syndrome
http://purl.obolibrary.org/obo/MONDO_0010829
has exact synonym 'cerebral autosomal recessive arteriopathy with subcortical infarcts and leukoencephalopathy'

**Xref that should be fixed (ID and label):**
Currently this entry has ExactMatch DOID:13945  https://www.disease-ontology.org/term/DOID:13945/
Although the same causative gene

[2021-08-11 14:28] #3452 closed

[2021-08-11 14:33] matentzn opened #3506 "Add AML clinical labels to AML terms"
This is a ticket for @taylordm to deal with; basically, there are a few clinical synonyms created by the experts she works with, and she wants to finish curating them and adding them in. Related to #3471 and #3472

[2021-08-11 15:35] sabrinatoro opened #3507 "axiomatize "ring chromosome""
part of #1440

- [x] create ring chromosome pattern
- [x] create a new term "disease or disorder caused by ring chromosome"
- [x] add axioms to "ring chromosome term"
- [x] review terms

Definition for 'disease or disorder caused by ring chromosome' :
Chromosomal anomaly consisting of the presence of a ring chromosome. A ring chromosome is a chromosome whose arms have fused together to form a ring

[2021-08-11 17:28] sabrinatoro opened #3508 "axiomize and review 'uniparental disomy' terms"
part of #1440

- [x] create new term 'uniparental disomy'
- [x] add axiom to uniparental children terms

Definition for 'uniparental disomy':
A condition characterized by the inheritance of a chromosome pair from one parent and no chromosomal copies from the other parent. It results in developmental abnormalities or rare recessive disorders.
[NCIT:C85215]
Source: NCIT:C85215 (Mondo:equivalent)

no

[2021-08-11 17:41] LucaCappelletti94 commented on #3474
Closing issue per suggestion of @matentzn.

[2021-08-11 17:41] #3474 closed

[2021-08-11 18:29] nicolevasilevsky opened #3509 "Need to sync w/ ordo 3.2"
There is a new version of Orphanet available as of July 2021. We want to sync with Orphanet in Mondo and make sure all the obsoleted classes in Orphanet are correctly represented in Mondo.

**Nico:**
- [x] Need to sync w/ ordo 3.2: http://www.orphadata.org/cgi-bin/index.php
- [ ] Need new list of obsoleted classes (related to https://github.com/monarch-initiative/mondo/issues/2338)

**Nicole & Nic

[2021-08-11 18:30] nicolevasilevsky commented on #2338
closing in favor of #3509

[2021-08-11 18:30] #2338 closed

[2021-08-11 19:06] lcdaugherty commented on #3264
@sabrinatoro I don't understand, why was OMIMPS:174050 (MONDO:equivalentTo)  removed from http://purl.obolibrary.org/obo/MONDO_0000447  autosomal dominant polycystic liver disease
I thought this represented the subtypes of  autosomal dominant polycystic liver disease https://omim.org/phenotypicSeries/PS174050?

[2021-08-11 19:23] sabrinatoro commented on #3264
@lcdaugherty
I reviewed my notes, and it looks like the checklist above is not correct-or at least not clear (copy/paste issue).
What was actually done for MONDO:0000447 autosomal dominant polycystic liver disease was to:
- Remove OMIM:174050 (specific term) equivalence (and make it a Mondo:superClassOf)
- Add the OMIMPS:174050 (the grouping term) as a "Mondo:Equivalent"

I confirmed that indeed O

[2021-08-11 19:48] nicolevasilevsky commented on #704
Note to self- this is the SPARQL query:
src/sparql/reports/ORDO-is-a.sparql

instructions to run the report are here:
https://mondo.readthedocs.io/en/latest/editors-guide/generate-report/

[2021-08-11 19:58] nicolevasilevsky commented on #704
Here is the updated report: https://docs.google.com/spreadsheets/d/1347lkwDoHodqKIeeYYAnRiraCIYqbSeNo6yAuM0faDk/edit#gid=2139783465

[2021-08-11 22:55] sabrinatoro commented on #3476
Note:
Chromosome 8 deletion (MONDO:0022794)
- definition mention that the deletion could be ‘partial’ or ‘total’
- the definition of "monosomy" implies that the deletion is total.
- --> this term was removed from the "monosomy" class

monosomy 21 (MONDO:0018930)
- According to the definition, this term refers to the deletion of 21q (part of chromosome 21)
- --> this term should be review (and poss

[2021-08-11 23:00] sabrinatoro commented on #3483
Note:
tetrasomy/pentasomy of Xchr or Ychr are different diseases depending on whether the tetrasomy/pentasomy is in male or female

[2021-08-11 23:31] sabrinatoro commented on #3477
NOTE:
we should wait on this case until I have reviewed all the partial deletion terms

[2021-08-12 09:36] lcdaugherty commented on #3264
@sabrinatoro thank you for for replying - phew!

[2021-08-12 18:05] sabrinatoro commented on #3487
After further reviews, these terms refer to different diseases and should not be merged.

[2021-08-12 18:05] #3487 closed

[2021-08-12 18:05] sabrinatoro commented on #3486
After further reviews, these terms refer to different diseases and should not be merged.

[2021-08-12 18:05] #3486 closed

[2021-08-12 18:07] matentzn commented on #3474
For posterity, this should be discussed as: "should all ontologies provide a KGX release"?

[2021-08-12 18:08] #3491 closed

[2021-08-13 14:02] kanems commented on #2808
Hi Nicole, Ada's response is how I understood the distinction between "included" vs "alternate" terms on the same OMIM number, which is reassuring. However, my question to Mondo may not have been clear initially, let's see if I can clarify.
Is Mondo's policy to map OMIM numbers based on the main "preferred" name on the record or on the "included" name?
MedGen maps on the "preferred name" from OMIM

[2021-08-13 14:11] kanems commented on #3413
HI Nicole, I don't think these should be merged if one is now distinguished as an "acquired" form. The children of "pure red-cell aplasia" include all of the Diamond-Blackfan anemias, which are not acquired but genetic.
There are valid Snomed (50715003), MESH (D012010), and UMLS (C0034902) IDs for this "pure red-cell aplasia" term, so IMO there is some evidence to support it's existence as a disea

[2021-08-13 15:07] ahamosh commented on #3413
Maybe there should be  an acquired red cell aplasia and a genetic or hereditary or monogenic red cell aplasia to distinguish at a high level.

[2021-08-13 15:51] pnrobinson commented on #3413
@ahamosh are there Mendelian diseases with isolated RBC aplasia? I thought this was rather a feature of many pleiotropic diseases.

[2021-08-13 15:59] ahamosh commented on #3413
DBA1 (MIM 105650) is listed with an alternate title of Hereditary Pure Red Cell Aplasia, but 3-50% of patients have other phenotypic features.  The other DBAs don't have the Hereditary Pure Red Cell Aplasia listed.  I am not sure what the right answer is here...

[2021-08-13 16:55] pnrobinson commented on #3413
I was not aware of that, thanks. Still, maybe we should have a superclass of Diamond Blackfan for this? Is there any useful grouping of DBA with other groups of diseases?

[2021-08-16 17:46] nicolevasilevsky opened #3520 "typo: 'psoriatic arthritis, susceptibility to"
**Mondo term (ID Label)**
MONDO:0100232
'psoriatic arthritis, susceptibility to

**Bug/Typo/Error description**
remove '
should be:
psoriatic arthritis, susceptibility to

[2021-08-17 18:11] nicolevasilevsky commented on #3172
@galyea-gard I don't see a mention of X-linked thrombo**cythemia** on the OMIM page (https://omim.org/entry/313900), I only see X-linked thrombo**cytopenia**.

@sabrinatoro I think we should obsolete Thrombocythemia, X linked MONDO:0010301 and add a consider: Thrombocythemia 1 MONDO:0008554, since that is what OMIM points to, but it does not seem like they are the same terms.

@galyea-gard please

[2021-08-17 18:49] #3369 closed

[2021-08-17 18:49] #3476 closed

[2021-08-17 18:49] #3479 closed

[2021-08-17 18:49] #3483 closed

[2021-08-17 18:55] ahamosh commented on #2826
Hi all, I think that the OMIM Situs Inversus Viscerum alternate title on 270100 is an error.  This is a heterotaxy which is really a situs ambiguous rather than a situs inversus. Having folks look at it right now.

[2021-08-17 21:56] sabrinatoro commented on #2578
After review, there is already a MONDO term for the 'frontonasal dysplasia' due to ALX3 gene : 'frontorhiny' (MONDO:0007636)

**To do:**
update 'frontonasal dysplasia' (MONDO:0016643):
- [ ] update definition (use the definition from Orphanet:250)
- [ ] dbxref - NCIT:C129028 should not be "MONDO:equivalent", it should be "MONDO:superClassOf"
- [ ] make synonym 'frontonasal dysplasia 1' (dbxref NCI

[2021-08-17 22:16] #2505 closed

[2021-08-17 22:17] #3168 closed

[2021-08-18 01:34] larrybabb commented on #3389
Question: when you split a term like this does the `Usher syndrome type 1 (grouping term)` retain the original MONDO id being split and the new `Usher syndrome type 1B (due to mutations in MYO7A)` get a new MONDO id? Or do they both get new MONDO ids and the original id is obsoleted?

[2021-08-18 15:04] #3277 closed

[2021-08-18 15:13] #2863 closed

[2021-08-18 15:26] sabrinatoro commented on #3389
@larrybabb
The existing term, Usher syndrome type 1 (MONDO:0010168), was made a grouping term. The ID was retained (i.e. was not obsoleted).
A new term and new ID were created for Usher syndrome type 1B (due to mutations in MYO7A). The new ID (which will be available in the next release) will be MONDO:0700087.

[2021-08-18 15:54] lcdaugherty opened #3528 "polycystic liver disease refinement required : MONDO:0000447 autosomal dominant polycystic liver disease and MONDO:0008265 Polycystic liver disease 1 obsolete ExactMatches and incorrect Exact Synonym"
I still seem to be on an ongoing quest to try and resolve some polycystic liver disease issues, this time caused by an Exactmatch xref and has Exactsynonym
I have made some suggestions below to try to resolve this, but you might have a better grasp of what is going on, so wanted to flag it up in the hope it can be resolved- thank you!

**Mondo term (ID and Label):**
MONDO:0000447 autosomal dominan

[2021-08-18 16:10] lcdaugherty commented on #3528
Great thank you @nicolevasilevsky @sabrinatoro - I could be well off the mark with my suggestions but sometimes it is hard to find logic in a magic-merry-go-round of disease terms. I  am hoping you can help untangle  how ADPLD and PLD1 are being defined, no pressure! :)

[2021-08-18 18:24] tibingaman opened #3530 "New Term Request: Focal segmental glomerulosclerosis and neurodevelopmental syndrome"
**Preferred term label: Focal segmental glomerulosclerosis and neurodevelopmental syndrome

**Synonyms: none exist

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######):"Focal segmental glomerulosclerosis and neurodevelopmental syndrome (FSGSNEDS) is characterized by global developmental delay and renal dysfunction manifest as proteinuria and nephrotic syndrome ap

[2021-08-18 20:31] nicolevasilevsky commented on #3530
Hi @tibingaman- thanks for this request.

This term is in OMIM (https://omim.org/entry/619428), so we'll be adding it to Mondo in a future OMIM ingest. I am not sure of the timeline for the next ingest, but we may be able to get this in before the next release in September.

Thanks!

cc @matentzn and @sabrinatoro

[2021-08-18 20:35] tibingaman commented on #3530
Thanks, Nicole! I'll keep an eye out for this release.

All the best,
Taylor

Taylor Bingaman
she/her/hers
Genetic Counseling Assistant
Geisinger ADMI
Lewisburg, PA 17837
570-522-9430

[signature_1478927014]

From: Nicole Vasilevsky ***@***.***>
Sent: Wednesday, August 18, 2021 4:32 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Bingaman, Taylor I. ***@***.***>; Author ***@***.***>
Subject: [Ext

[2021-08-18 21:06] nicolevasilevsky commented on #3183
- query for https://clinicalgenome.org/affiliation/ in source annotations (there may be some duplicates with xrefs)
- could we cross-check tickets in GitHub that has clingen tag and make sure the term that was requested has a clingen preferred label (probably has to be done manually)

[2021-08-19 11:27] lcdaugherty opened #3532 "MONDO:0020642 polycystic kidney disease add ExactMatch Mesh:D007690"
**Mondo term (ID and Label):**
MONDO:0020642 polycystic kidney disease
MONDO:0004691 autosomal dominant polycystic kidney disease

**Xref that should be fixed (ID and label):**
Would it be possible to move CloseMatch MESH: D007690 from MONDO:0004691 autosomal dominant polycystic kidney disease to Exactmatch MONDO:0020642 polycystic kidney disease?

https://meshb.nlm.nih.gov/record/ui?ui=D007690 Po

[2021-08-19 15:55] nicolevasilevsky commented on #3458
Potential additional stats:
- take current mondo and compare it to mondo from before the last RPPR (June 2020)
- # of changed definitions
- # of new terms
- # of obsoleted terms
- relationship by source
- relationship by xref

[2021-08-19 17:18] nicolevasilevsky commented on #3122
Update - Irene will provide a SSSOM file with mappings.

[2021-08-19 17:27] nicolevasilevsky commented on #2808
Depends on @jiaola's work on the OMIM ingest.

@kanems - I'll respond to your comment above soon, thanks!

[2021-08-19 17:40] nicolevasilevsky opened #3535 "deploy harrison views"
- [ ] Deploy the harrison view on Monarch OLS
- [ ] add a harrison view subset to Mondo release

cc @sabrinatoro

[2021-08-19 18:16] sabrinatoro commented on #3465
duplicate of #3535

[2021-08-19 18:16] #3465 closed

[2021-08-19 18:16] sabrinatoro commented on #3466
done

[2021-08-19 18:16] #3466 closed

[2021-08-19 21:24] matentzn commented on #3458
I think these numbers are enough for the RPPR:
https://docs.google.com/spreadsheets/d/1m4nYD0b4F8Cv4RyTZGBDVS0qI1XXQ3WJYUW4K5DS6Tc/edit#gid=0

Please let me know if any others are needed.

This is how your read:

- 2374 definitions added or changed since June 2020
- 333 cross-references to OMIM added/changed since June 2020

[2021-08-19 22:09] nicolevasilevsky opened #3537 "[Merge] MONDO_0015750 'amelogenesis imperfecta-gingival hyperplasia syndrome'"
**Mondo term (ID and Label)**
MONDO_0015750 'amelogenesis imperfecta-gingival hyperplasia syndrome'

**Reason for deprecation**
obsoleted in Orphanet and OMIM, merged with the term below

**merge with**
MONDO:0008771 'amelogenesis imperfecta type 1G'

[2021-08-19 22:30] nicolevasilevsky commented on #3456
I did not obsolete congenital renal artery stenosis per https://github.com/monarch-initiative/mondo/issues/1741. I removed the obsoletion candidate tag.

[2021-08-19 22:46] #2614 closed

[2021-08-19 23:47] nicolevasilevsky opened #3539 "[Merge] MONDO_0035354 'IgG4-related systemic disease'"
**Mondo term (ID and Label)**
MONDO_0035354 'IgG4-related systemic disease'

**Reason for deprecation**
It will be difficult to ensure complete classification - see https://github.com/monarch-initiative/mondo/pull/3534#discussion_r692537137

Orphanet also had 'IgG4-related disease' as an exact synonym.

**Term to be merged with**
MONDO:0017287 'IgG4-related disease'

[2021-08-19 23:50] nicolevasilevsky opened #3540 "[Obsolete] 'TRIM22-related inflammatory bowel disease'"
**Mondo term (ID and Label)**
MONDO:0035362 'TRIM22-related inflammatory bowel disease'

**Reason for deprecation**
https://github.com/monarch-initiative/mondo/pull/3534#discussion_r692537326

It's unclear if this is a Mendelian disease (it is not in OMIM) or if it is susceptibility towards IBD.

Although there is this paper/case study (https://pubmed.ncbi.nlm.nih.gov/26836588/) that says TRIM22 c

[2021-08-20 00:00] nicolevasilevsky opened #3541 "[Merge] MONDO_0035363 'IRF2BPL-related regressive neurodevelopmental disorder-dystonia-seizures syndrome'"
**Mondo term (ID and Label)**
MONDO_0035363 'IRF2BPL-related regressive neurodevelopmental disorder-dystonia-seizures syndrome'

**Reason for deprecation**
I think this is equivalent with [OMIM:618088](https://omim.org/entry/618088) MONDO_0060759 'neurodevelopmental disorder with regression, abnormal movements, loss of speech, and seizures'.

@ahamosh there is not a mapping yet between OMIM and Or

[2021-08-20 00:03] nicolevasilevsky opened #3542 "[Merge] MONDO:0035369 mthfs-related developmental delay-microcephaly-short stature-epilepsy syndrome"
**Mondo term (ID and Label)**
MONDO:0035369 mthfs-related developmental delay-microcephaly-short stature-epilepsy syndrome

**Reason for deprecation**
I think the term is equivalent to this [OMIM term](https://omim.org/entry/618367) (MONDO_0032705 Neurodevelopmental disorder with microcephaly, epilepsy, and hypomyelination), but there is not a mapping b/w these two terms in OMIM or Orphanet. This

[2021-08-20 00:21] nicolevasilevsky opened #3543 "[Obsolete] MONDO:0035370 ALPI-related inflammatory bowel disease"
**Mondo term (ID and Label)**
MONDO:0035370 ALPI-related inflammatory bowel disease

**Reason for deprecation**
https://github.com/monarch-initiative/mondo/pull/3534#discussion_r692537326

It's unclear if this is a Mendelian disease (it is not in OMIM) or if it is susceptibility towards IBD.

There is this paper describing this variant in 2 patients:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC58

[2021-08-20 00:28] nicolevasilevsky opened #3544 "Question re: new Orphanet class: MONDO_0035398 'hypomyelination of early myelinating structures'"
Action item:
- [x] obsolete MONDO:0035398 'hypomyelination of early myelinating structures'

Reason: phenotype and not a disease

_updated 10/21/21 by NV_
----

@ahamosh

We added: MONDO_0035398 'hypomyelination of early myelinating structures' which is equiv to [Orphanet:599376](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_599376) and has a muta

[2021-08-20 00:58] nicolevasilevsky opened #3546 "Question re: oculocutaneous albinism type 8"
this term is meant to be added in the Orphanet sync:

[Term]
id: MONDO:0035364
name: oculocutaneous albinism type 8
subset: ordo_disease
synonym: "OCA8" EXACT [Orphanet:597733]
is_a: MONDO:0000001 {source="Orphanet:597733"} ! disease or disorder
is_a: MONDO:0018910 {source="Orphanet:597733"} ! oculocutaneous albinism
xref: Orphanet:597733 {source="MONDO:equivalentTo"} ! oculocutaneous albinism typ

[2021-08-20 15:33] #2578 closed

[2021-08-20 15:35] #3393 closed

[2021-08-20 16:00] nicolevasilevsky opened #3547 "QC check to check that we use dbxef instead of source"
This is wrong: property_value: source GARD:0008722 xsd:string {source="MONDO:equivalentTo"}
It should be: xref: GARD:0008722 {source="MONDO:equivalentTo"}

thanks!

cc @sabrinatoro

[2021-08-20 16:16] nicolevasilevsky commented on #324
- we want to obsolete these grouping classes, first check the usage of these terms in Monarch
- do not need to add the phenotype annotations

[2021-08-20 16:29] nicolevasilevsky commented on #3469
On the Mondo call, we decided to use variant instead of pathologic variant.

[2021-08-20 16:47] nicolevasilevsky commented on #3473
@sabrinatoro will work on this after finishing chromosomal anomaly remodeling

[2021-08-20 16:49] nicolevasilevsky commented on #508
Discussed on the Mondo call and we can go ahead and do this.
Send an email on the Mondo users list to make sure there are no objections.

[2021-08-20 16:51] nicolevasilevsky commented on #508
consider renaming root class to disorder?

[2021-08-20 17:03] nicolevasilevsky commented on #3448
Thanks @ValWood. We discussed this on the Mondo call and these are our action items, I'll work on this:

- keep the parent as a grouping class
- make the OMIM a subtype of the grouping class
- the OMIM and Orphanet are equiv (merge)
- there is a secondary class discussed on the NORD page, see: https://rarediseases.org/rare-diseases/trimethylaminuria/

add logical axiom: https://github.com/monarch-

[2021-08-20 18:03] pnrobinson commented on #508
@nicolevasilevsky  -- sounds good. Note sure if we should take a vote for disorder vs disease -- to my ears, these words sound close enough to being synonyms that it is not worth fighting over and we could make corresponding synonyms for all relevant labels. There are those who see a distinction, though, and so we should make sure we have gotten consensus before moving forward!

[2021-08-20 20:09] #3265 closed

[2021-08-20 20:17] #3499 closed

[2021-08-20 20:45] #3447 closed

[2021-08-20 21:00] nicolevasilevsky opened #3549 "need SPARQL query for obsoletion candidates that includes seeAlso: GitHub link"
- need SPARQL query for obsoletion candidates that includes seeAlso: GitHub link
- I will ensure all of the current obsoletion candidates have a seeAlso link

[2021-08-20 21:00] nicolevasilevsky commented on #3549
@matentzn - I added this to our agenda to work on together

[2021-08-20 21:28] nicolevasilevsky commented on #704
this is lower priority, dependent on https://github.com/monarch-initiative/mondo/issues/324 and https://github.com/monarch-initiative/mondo/issues/667

[2021-08-20 21:34] nicolevasilevsky commented on #324
'myalgia-eosinophilia syndrome associated with tryptophan' has 10 phenotypes in Monarch, do not obsolete
https://monarchinitiative.org/disease/MONDO:0016822#phenotype

[2021-08-20 21:44] #3455 closed

[2021-08-20 21:58] nicolevasilevsky commented on #2808
to do:
Would be nice to have a new xref tag, something like:
MONDO:includedInOMIM or
MONDO:splitFromOMIM

[2021-08-20 21:58] #3456 closed

[2021-08-20 22:03] nicolevasilevsky commented on #2808
@kanems
we renamed MONDO:0007691 to 'Guillain-Barre syndrome, familial', it should be available in the next release (early September)

We want to use the OMIM preferred labels for Mondo terms, we'll work on cleaning this up. Based on Ada's response too, we'll work on retroactively splitting out the terms that are 'included' in OMIM entries, as these should be separate classes, as noted above.

Tha

[2021-08-20 23:00] nicolevasilevsky commented on #3448
@ValWood
Please note the following changes:
MONDO_0011182 trimethylaminuria is a general grouping class
MONDO_0018767 'severe primary trimethylaminuria' is a subtype with a mutation in FMO3, and xrefs Orphanet and OMIM
We added MONDO_0100041 'secondary trimethylaminuria'

[2021-08-20 23:24] nicolevasilevsky opened #3557 "Hereditary Hemochromatosis xref"
https://github.com/monarch-initiative/helpdesk/issues/31

[2021-08-20 23:33] nicolevasilevsky opened #3559 "the duplicate source annotation is back"
I don't know if it was something I did?

Can we get rid of it again and make sure the wrong one hasn't be accidentally used?

cc @sabrinatoro

[2021-08-20 23:46] #3448 closed

[2021-08-20 23:46] #3508 closed

[2021-08-20 23:52] nicolevasilevsky commented on #3557
Note to self: need to look into hemochromatosis classification further and flesh out our hierarchy eg bronze diabetes.

the parent of 'hereditary hemochromatosis' is hemosiderosis, we don't have a general hemochromatosis class. I'll look into this further

[2021-08-20 23:57] cmungall commented on #1483
Technically the def is still not right as it says "rare" yet HH1 is not rare... but this is a "rare" exception (where "rare" applies at the metaclass level...)

[2021-08-21 00:09] nicolevasilevsky commented on #1483
Shall we revise to 'Inherited disorders resulting from an enzyme defect in biochemical and metabolic pathways affecting proteins, fats, carbohydrates metabolism or organelle function.' ?

[2021-08-21 00:15] matentzn commented on #3549
you and Sabrina should be able to do this now :) @sabrinatoro was using obsoletion candidates to actually build her harrisons view queries - do you want to give it a shot by yourself? I will review!

[2021-08-21 00:18] sabrinatoro commented on #3549
I'll give it a try.

[2021-08-21 00:35] matentzn commented on #3559
No, there is a check, but these are very special cases of broken that were not covered. Opened the PR #3560 to fix

[2021-08-21 01:48] ahamosh commented on #3546
Not entirely sure that I understand the questions, but OCA type VIII is the same as OCA8.  It looks like all the different OCAs are distinguished with the work Type.  OCA8 is due to DCT. It is mapped to 619965 in orphanet.

[2021-08-21 01:59] ahamosh commented on #3544
This looks like a feature and not a disease. @pnrobinson  what do you think?

[2021-08-21 02:14] ahamosh commented on #3542
I can only find one paper and I don't see anyone with short stature, so I agree with the merge.

[2021-08-21 02:19] ahamosh commented on #3541
Yes, I do.

[2021-08-21 10:40] pnrobinson commented on #3544
I agree this is a phenotypic feature rather than a disease. It is underspecified since it is not clear what anatomical parts exactly are meant by early myelinating structures and it is not 100% clear if this is a delay in myelination or a permanent feature.
The corresponding Orphanet entry does not provide any information
https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=29925

[2021-08-21 10:44] pnrobinson commented on #1483
Nicole's suggestion seems fine. Possibly we should de-pluralize the definition thought. An inherited disorder resulting...
since we are striving to be singular!

[2021-08-21 18:56] nicolevasilevsky commented on #1483
Thanks, I will fix this!

[2021-08-21 18:57] nicolevasilevsky commented on #3559
thank you, Nico!

[2021-08-21 18:59] nicolevasilevsky commented on #3549
I was thinking we could add comments too, like 'term to be merged with' or 'term will be split'. @sabrinatoro could you SPARQL for the comment field too, thanks!

[2021-08-22 16:29] matentzn commented on #3547
This check is very difficult to generalise.. How would you phrase it? This particular problem that you mention here is solved by #3560

A step further would be to check a whitelist for properties. These are the ones we are currently using. I could get QC to cry when you accidentally use one not in that list?

-  dce:creator
-  dce:date
-  IAO:0000115
-  IAO:0000231
-  IAO:0100001
-  mondo:excluded

[2021-08-22 17:37] matentzn commented on #3547
I have added this check now to https://github.com/monarch-initiative/mondo/pull/3560

I am pretty convinced that the combination of these checks will cover 99.9% of the problems. Lets close this here and reopen when a new issue arises and I will rethink.

[2021-08-23 07:34] ValWood commented on #1483
inborn errors of metabolism MONDO:0019052
Would it also be clearer, because of the confusion, to standardize term names on "inherited" and have "inborn" as exact synonym?

[2021-08-23 11:39] pnrobinson commented on #1483
For whatever reason, the word inborn seems to be used solely in this context and it would probably engender even more confusion if we use it in other contexts.

[2021-08-23 14:56] ValWood commented on #1483
I'm still a bit confused.

2. The term
inborn  errors of metabolism

is now defined
Inherited disorders resulting from an enzyme defect in biochemical and metabolic pathways affecting proteins, fats, carbohydrates metabolism or organelle function.

and has
inherited  disorders of metabolism
as an exact synonym?
Is that correct?

3.
If this is the case it still seems that  using
"inherited errors o

[2021-08-23 15:36] pnrobinson commented on #1483
I am saying just for this group of diseases use the word inborn, and have inherited as a synonym. The other synoynms are also fine.

[2021-08-23 16:54] nicolevasilevsky commented on #3547
Cool, thank you @matentzn!

[2021-08-23 16:54] #3547 closed

[2021-08-23 17:13] nicolevasilevsky commented on #3542
Thank you @ahamosh!

[2021-08-23 17:36] nicolevasilevsky commented on #3541
thank you @ahamosh!

[2021-08-23 17:38] nicolevasilevsky commented on #508
sounds good, @pnrobinson. @sabrinatoro and I will contact the Mondo users list before moving forward. Thank you!

[2021-08-23 17:50] nicolevasilevsky commented on #3546
Thanks @ahamosh. I'll add this Orphanet xref as an equivalent xref on MONDO_0035364 'oculocutaneous albinism type 8'

[2021-08-23 18:19] sabrinatoro commented on #3549
@nicolevasilevsky @matentzn
update:
- I created a new sparkl query, but it was pushed to "master" instead of pushed to a branch! (urgh! I did check! and I still managed to push to the "wrong branch"). I am not going to try to "repair" this mistake as I am worried I will create more problems.
- I think the query is correct based on my test on the other website BUT running the query here gives zero

[2021-08-23 18:59] nicolevasilevsky commented on #1483
I updated the definition and added the synonym `inherited disorder of metabolism`

[2021-08-23 19:03] #3546 closed

[2021-08-23 19:31] nicolevasilevsky commented on #2826
@sabrinatoro let's hold off on this for now until we hear back from Ada. I'll remove this from the Sept release.

[2021-08-23 19:36] nicolevasilevsky commented on #3338
@kallia-p would you be able to work on this ticket before the end of the week? We'd like to get this in for the September release. No worries if not, we can reassign. Thanks!

[2021-08-23 19:53] #3382 closed

[2021-08-23 20:44] nicolevasilevsky commented on #3443
@rays22 would you be able to do this by the end of the week? No worries if not, I can reassign, thanks!

[2021-08-23 20:45] #1483 closed

[2021-08-23 21:41] nicolevasilevsky commented on #2634
this was addressed with https://github.com/monarch-initiative/mondo/issues/2863. Closing.

[2021-08-23 21:41] #2634 closed

[2021-08-23 22:11] nicolevasilevsky commented on #2840
Hi @kanems
Looks like the [OMIM term](https://omim.org/entry/203655) has ALOPECIA UNIVERSALIS CONGENITA as the primary label and Alopecia universalis as a synonym (alternative title).

The [Orphanet class](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_701) also has a mutation in the HR gene, so I think it is equivalent to the OMIM term, although O

[2021-08-24 00:21] nicolevasilevsky commented on #3412
I created a new subclass MONDO:0100044 acrofrontofacionasal dysostosis 1

[2021-08-24 07:23] matentzn commented on #3549
@sabrinatoro you didnt share the correct link:

click on the three linked dots in the top right corner of yasgui, then on shorten.

![image](https://user-images.githubusercontent.com/7070631/130574040-add8d72d-08d3-4271-a49d-7a18f987e74d.png)

There is no problem with pushing report queries to master - they don't affect anything. Still, in general you don't want to get in the habit :) but for now

[2021-08-24 15:08] #3520 closed

[2021-08-24 15:43] #2840 closed

[2021-08-24 16:34] nicolevasilevsky commented on #3391
Hi @lcdaugherty

Ingo Helbig said: I would neither merge nor obsolete at this point as both terms are not 100% correct and as this should be part of a larger restructuring of the MONDO terms. We have a meeting on ClinGen nomenclature soon, which may give us some guidance surrounding this!

If you don't mind, I'll close this for now and wait until ClinGen epilepsy experts get back to us with recomm

[2021-08-24 16:34] #3391 closed

[2021-08-24 16:39] #3443 closed

[2021-08-24 16:41] #3532 closed

[2021-08-24 19:44] nicolevasilevsky commented on #2828
@kanems thanks for reporting this.
- I renamed MONDO:0014175 , mitochondrial DNA depletion syndrome 12 to MONDO:0014175 , mitochondrial DNA depletion syndrome 12B (cardiomyopathic type), autosomal recessive, because that is the name in OMIM
- I fixed the DO xrefs
thanks!

[2021-08-24 19:45] #3412 closed

[2021-08-24 21:03] nicolevasilevsky opened #3568 "question: drachtman weinblatt sitarz syndrome"
@galyea-gard
is there any additional info about this disease:
https://rarediseases.info.nih.gov/diseases/1913/drachtman-weinblatt-sitarz-syndrome

It isn't in OMIM record for it and it doesn't seem to exist elsewhere either.

Is this still considered a proper disease or was it just based on a case study and could possibly be something else? I found this paper:
https://pubmed.ncbi.nlm.nih.gov/22644

[2021-08-24 21:07] nicolevasilevsky commented on #3557
from Peter:
Many but not all cases of hemochromatosis are Mendelian.

[2021-08-24 21:12] nicolevasilevsky commented on #3155
Action items:

- [x] '47,XYY syndrome' is not a syndromic disease - _excluded this parent_

[2021-08-24 21:24] nicolevasilevsky opened #3570 "[Obsolete] 'connective tissue disease'"
**Mondo term (ID and Label)**
'connective tissue disease'

**Reason for deprecation**
The classifications under this term do not entirely make sense. It is recommended by Peter and Ada that we obsolete this term and reclassify the children elsewhere

**Suggested term to consider**

[2021-08-24 21:32] nicolevasilevsky opened #3571 "Rename 'rheumatologic disorder' to rheumatic disorder"
relabel MONDO_0005554 'rheumatologic disorder' to rheumatic disorder

per call with Ada, Peter and Sabrina on connective tissue disorders

[2021-08-24 22:00] nicolevasilevsky opened #3573 "[Obsolete] 'qualitative or quantitative defects of collagen 6'"
**Mondo term (ID and Label)**
MONDO_0016148 'qualitative or quantitative defects of collagen 6'

**Reason for deprecation**
ORDO grouping class that is grouping just one child term - out of scope.

**Suggested term to consider**
MONDO_0004603 collagenopathy

[2021-08-24 22:02] nicolevasilevsky opened #3574 "[Obsolete] MONDO_0019686 'type 2 collagen-related bone disorder'"
**Mondo term (ID and Label)**
MONDO_0019686 'type 2 collagen-related bone disorder'

**Reason for deprecation**
ORDO grouping class that is not entirely working in Mondo. According to Peter, you don't have a type 2 collagen defect and then just get bone disorders.

**Suggested term to consider**
MONDO_0004603 collagenopathy

[2021-08-24 22:05] nicolevasilevsky opened #3575 "[Obsolete] MONDO_0019687 'type 11 collagen-related bone disorder'"
**Mondo term (ID and Label)**
MONDO_0019687 'type 11 collagen-related bone disorder'

**Reason for deprecation**
ORDO grouping class - out of scope for Mondo

**Suggested term to consider**
MONDO_0004603 collagenopathy

[2021-08-24 22:12] #2828 closed

[2021-08-24 22:20] nicolevasilevsky opened #3576 "[Obsolete] MONDO_0005569 'cartilage disease'"
**Mondo term (ID and Label)**
MONDO_0005569 'cartilage disease'

**Reason for deprecation**
Uncertain if this grouping class is needed, the children can be classified elsewhere.
Discussed on call with @ahamosh and @pnrobinson (and @sabrinatoro)

**Suggested term to consider**
MONDO_0003816 'articular cartilage disease' or 'disease or disorder'

[2021-08-24 22:37] galyea-gard commented on #3568
Hi Nicole!  This is indeed one example of the conditions that most likely will be retired; because we are still in the review process I can’t tell when it will be retired. Thank you for this one! Gioconda

From: Nicole Vasilevsky ***@***.***>
Sent: Tuesday, August 24, 2021 5:04 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Alyea, Gioconda (NIH/NCATS) [C] ***@***.***>; Mention ***@***.***>
Subje

[2021-08-24 22:38] #3571 closed

[2021-08-24 22:39] nicolevasilevsky commented on #3568
Thanks @galyea-gard! We'll keep it for now then, thanks! Please let us know when you have a list of retired terms in GARD and we can update them in Mondo.

[2021-08-24 22:39] #3568 closed

[2021-08-25 09:32] lcdaugherty commented on #3389
@sabrinatoro thank you for fixing this-  I can't see where https://meshb.nlm.nih.gov/record/ui?ui=C536485 has gone, was there a reason it was not carried over as an ExactMatch fo the new  MONDO:0700087 Usher syndrome type 1B (due to mutations in MYO7A)?

[2021-08-25 16:16] #3559 closed

[2021-08-25 16:57] sabrinatoro commented on #3389
@lcdaugherty
Thank you for reporting this. It appears that this MESH id is not in Mondo (I cannot tell whether it was lost or wasn't there in the first place).
Either way, I am adding MESH:C536485  as MONDOEquivalent to Usher syndrome type 1B, and it will be available in the next Mondo release.
Sorry for the inconvenience.

[2021-08-26 16:25] nicolevasilevsky opened #3583 "[Merge] new NCIt AML classes with existing Mondo AML classes"
The classes on the left were brought in for Deanne for the Open Targets project. These classes seemed to already exist in Mondo and proposed mergers are below.
@taylordm would it be okay with you if we merged these terms?
cc @matentzn

Term ID | Term Label | Term to be merged with - ID | Term to be merged with - Label
-- | -- | -- | --
MONDO:0100387 | 'acute myeloid leukemia, Monosomy 7' | MONDO:0

[2021-08-27 16:05] nicolevasilevsky opened #3586 "make list of Mondo terms that EBI/Open targets"
- please make a list of Mondo terms that EBI/EFO are using
- please make a special list for Open Targets therapeutic area

[2021-08-27 16:38] nicolevasilevsky opened #3587 "remove skos exact match for obsoleted terms at source"
If we have one Mondo class that maps to two sources - and one is obsolete, we should ditch the obsolete source (eg MESH:C000657245 on MONDO_0100096 COVID-19)

related to https://github.com/monarch-initiative/mondo/issues/3497 and https://github.com/monarch-initiative/mondo/issues/1145

[2021-08-28 00:45] cmungall opened #3590 "Friedreich ataxia: clarify whether this is a grouping or a specific class"
http://purl.obolibrary.org/obo/MONDO_0100339

see highlighted:

![image](https://user-images.githubusercontent.com/50745/131200821-749d86f4-a361-4207-bf22-468a23b1cdcb.png)

AFAIK the FXN gene is only for type 1. It looks like when we split this when type 2 was discovered the parent inappropriately inherited the definition of the prototypical member

[2021-08-30 12:44] turbomam commented on #3590
I passed this on to a friend who is knowledgeable about FA but not semantic modelling.

[2021-08-30 12:53] turbomam commented on #3590
Partially related: ICD10:G11.11 may be a better coding than G11.1 now

https://curefa.org/news/new-icd-10-cm-diagnosis-code-g11-11-for-friedreich-s-ataxia-effective-october-1-2020#:~:text=11%20for%20Friedreich's%20Ataxia%20Effective%20October%201%2C%202020,-Written%3A%20Wednesday%2C%20September

[2021-08-31 17:42] nicolevasilevsky commented on #2554
Response from Emma:
Our RASopathy EP discussed this question yesterday. Their key reasoning for creating the CBL-related disorder MONDO term instead of using an existing term was that only a small proportion of probands (less than 20-30%) with variants in CBL and Noonan-like syndrome go on to develop JMML. The "Noonan syndrome-like disorder with juvenile myelomonocytic leukemia" reflects the fact

[2021-08-31 19:09] nicolevasilevsky opened #3593 "[Obsolete] 'connective tissue cancer'"
**Mondo term (ID and Label)**
'connective tissue cancer'

**Reason for deprecation**
out of scope

**Suggested term to consider**

[2021-08-31 19:09] nicolevasilevsky opened #3594 "[Obsolete] 'connective tissue disease with eye involvement'"
**Mondo term (ID and Label)**
'connective tissue disease with eye involvement'

**Reason for deprecation**
out of scope

**Suggested term to consider**

[2021-08-31 19:11] nicolevasilevsky opened #3595 "relabel:'connective tissue disorder due to lysyl hydroxylase-3 deficiency'"
**Mondo term (ID and Label):**
'connective tissue disorder due to lysyl hydroxylase-3 deficiency'

**Suggested new label:**

use OMIM:
https://omim.org/entry/612394

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**

[2021-08-31 19:12] nicolevasilevsky opened #3596 "[Obsolete] 'systemic disease'"
**Mondo term (ID and Label)**
'systemic disease'

**Reason for deprecation**
it is hard to classify underneath this term. There is a combination of rheumatic and germline disorders.
for example, diabetes is a systemic disorder, but is not classified as a child.

**Suggested term to consider**

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orci

[2021-08-31 19:19] nicolevasilevsky opened #3597 "[Revise subclass] 'Hernández-Aguirre Negrete syndrome'"
**Mondo term (ID and Label)**
'Hernández-Aguirre Negrete syndrome'

**Suggested revision and reasons**
not a child of 'Ehlers-Danlos syndrome'

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-08-31 19:20] kanems opened #3598 "Ito hypomelanosis/ Nevus of Ito[Merge]"
**Mondo term (ID and Label)**
Ito hypomelanosis MONDO:0010302

**Reason for deprecation**
Appears to be redundant with Nevus of Ito? NCI C7582 says these terms are synonyms; Mondo says both terms have "hypomelanosis of Ito" as exact synonyms. But is this correct? UMLS seems to take NCI's data and equate these terms on a single cui as well.
![image](https://user-images.githubusercontent.com/7108385

[2021-08-31 19:27] nicolevasilevsky opened #3599 "children of lymphadenitis"
'Kimura disease' should be a child of lymphadenitis and autoimmune disease

not skin disease or systemic disease

[2021-08-31 19:28] kanems opened #3600 "MONDO:0011947 HNP1 and hypertensive renal disease [Merge]"
**Mondo term (ID and Label)**
HNP1 MONDO:0011947

**Reason for deprecation**
OMIM 608026:  HYPERTENSIVE NEPHROPATHY; HNP1 is synonymous with SCTID 38481006 "Hypertensive renal disease" aka Hypertensive nephropathy.  UMLS maps this SCTID to UMLS:C0848548

**Term to be merged with**
MONDO:0024633  hypertensive renal disease

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign

[2021-08-31 19:29] nicolevasilevsky opened #3601 "[Revise subclass] LAMA5-related multisystemic syndrome"
**Mondo term (ID and Label)**
LAMA5-related multisystemic syndrome

**Suggested revision and reasons**
should be child of rheumatic disease

[2021-08-31 19:46] nicolevasilevsky opened #3602 "[Revise subclass] 'malignant atrophic papulosis'"
**Mondo term (ID and Label)**
'malignant atrophic papulosis'

**Suggested revision and reasons**
vasculopathy

[2021-08-31 19:47] nicolevasilevsky opened #3603 "[Revise subclass] 'neonatal Marfan syndrome'"
**Mondo term (ID and Label)**
'neonatal Marfan syndrome'

**Suggested revision and reasons**
'Marfan syndrome'

[2021-08-31 19:48] kanems opened #3604 "kernicterus MONDO:0006819 and bilirubin encephalopathy MONDO:0018477[Merge]"
**Mondo term (ID and Label)**
kernicterus MONDO:0006819

**Reason for deprecation**
Orphanet:415286, UMLS C0022610, and NCI_NICHD C84799 all say these are synonyms.

**Term to be merged with**
bilirubin encephalopathy MONDO:0018477

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-08-31 19:49] nicolevasilevsky opened #3605 "[Revise subclass] ainhum"
**Mondo term (ID and Label)**
ainhum

**Suggested revision and reasons**
not a 'Mendelian disease'

[2021-08-31 19:57] nicolevasilevsky opened #3606 "[NTR] Add 'Mendelian connective tissue disorder' grouping class?"
**Preferred term label:**
 Mendelian connective tissue disorder

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
Mendelian disorder

**Children terms (if applicable)** Should any existing terms that should be moved underneath this new proposed term?
group terms like:
'Ehlers-Danlos syndrome'
'Marfan and Marfan-related disorder'
'progeroid

[2021-08-31 19:57] nicolevasilevsky opened #3607 "rename 'retinal ischemic syndrome-digestive tract small vessel hyalinosis-diffuse cerebral calcifications syndrome'"
**Mondo term (ID and Label):**
'retinal ischemic syndrome-digestive tract small vessel hyalinosis-diffuse cerebral calcifications syndrome'

**Suggested new label:**
VASCULAR HYALINOSIS

[2021-08-31 19:58] nicolevasilevsky opened #3608 "[Revise subclass] Orphanet:3096"
**Mondo term (ID and Label)**
'Reye syndrome'

**Suggested revision and reasons**
child of rheumatic disease

[2021-08-31 20:00] nicolevasilevsky opened #3609 "'rheumatic fever'"
'rheumatic fever' is a post-bacterial immune mediated disease

not an active infection

[2021-08-31 20:05] nicolevasilevsky opened #3610 "[Revise subclass] 'TAFRO syndrome'"
**Mondo term (ID and Label)**
'TAFRO syndrome'
Update the label to Castleman-Kojima disease

**Suggested revision and reasons**
autoimmune disease

to do:
look at papers to see if there is a genetic cause.
If so, add parent Mendelian disease (for a monogenic cause). Can add the gene too (disease has dysfunction in some GENE)

[2021-08-31 20:05] nicolevasilevsky opened #3611 "[Revise subclass] 'tempi syndrome'"
**Mondo term (ID and Label)**
'tempi syndrome'

**Suggested revision and reasons**
should be an autoimmune disease

[2021-08-31 20:06] nicolevasilevsky opened #3612 "[Obsolete] systemic grouping classes"
- [x] 'systemic autoimmune disease'
- [x] 'systemic disease with cataract'
- [x] 'systemic disease with skin involvement'
- [x] 'systemic diseases with anterior uveitis'
- [x] 'systemic diseases with panuveitis'
- [x] 'systemic diseases with posterior uveitis'

- [x] add to [spreadsheet](https://docs.google.com/spreadsheets/d/1tt1Wk70j9XiHLV1vKQyNiHhaazh286pobpJk1ecSCCg/edit#gid=1265889881)

[2021-08-31 21:01] kanems opened #3613 "bile duct cysts MONDO:0011278 and choledochal cyst MONDO:0018805[Merge]"
**Mondo term (ID and Label)**
 bile duct cysts MONDO:0011278

**Reason for deprecation**
Per OMIM, these are synonyms:
% 603003
BILE DUCT CYSTS

Alternative titles; symbols

CHOLEDOCHAL CYSTS
CHOLEDOCHOCELE
Also MESH D015529 treats them as alternate names on the same concept.

**Term to be merged with**
choledochal cyst MONDO:0018805

**Your nano-attribution (ORCID)**
If you don't have an ORCID, y

[2021-09-01 00:23] sabrinatoro commented on #3549
add 'seeAlso' in the query

[2021-09-01 00:31] #3549 closed

[2021-09-01 00:50] sabrinatoro opened #3621 "update obsoletion with comments sparql to concatenate 'See Also'"
I created a sparql query to report the terms with the "obsoletion candidate" tag. The report includes 'comment' and 'seeAlso' (see [here](https://github.com/monarch-initiative/mondo/blob/master/src/sparql/reports/obsoletioncandidates-withcomment.sparql))
This query works fine, but, we see that some terms have 2 "seeAlso" and these are reported in 2 separate lines, each line corresponding to one "s

[2021-09-01 00:56] nicolevasilevsky commented on #3609
should be a child of  MONDO_0021673 'post-bacterial disorder'

this is going to be a single child though, which will bring up the issue of whether there should be other children of this class.

[2021-09-01 01:04] #3399 closed

[2021-09-01 01:12] nicolevasilevsky commented on #3593
need to coordinate with NCIT

[2021-09-01 01:56] nicolevasilevsky commented on #3583
Emailed Deanne on 2021-08-31

[2021-09-01 02:05] nicolevasilevsky commented on #3442
Moving this back to the Nov release to give more time for comments/concerns.

[2021-09-01 02:19] nicolevasilevsky commented on #1640
Ingo recently emailed and said the ClinGen expert group is meeting soon to discuss epilepsy nomenclature. Closing this for now, and I anticipate there will be a larger restructuring of epilepsy terms in Mondo.

[2021-09-01 02:19] #1640 closed

[2021-09-01 02:39] nicolevasilevsky commented on #1880
these were merged in OMIM. To do:
- [ ] Merge MONDO:0012356 'glomerulocystic kidney disease with hyperuricemia and isosthenuria' with 'familial juvenile hyperuricemic nephropathy type 1'

[2021-09-01 03:26] nicolevasilevsky commented on #407
All of the children of 'familial cutaneous melanoma' in the [OMIMPS](https://omim.org/phenotypicSeries/PS155600) are susceptibility.

I think we should move this branch to a child of 'inherited disease susceptibility.

revise logical def to

'inherited disease susceptibility'
 and ('predisposes towards' some 'cutaneous melanoma')

[2021-09-01 03:27] nicolevasilevsky commented on #2326
@kanems this is being addressed in #407, I will close this.

[2021-09-01 03:27] #2326 closed

[2021-09-01 03:31] nicolevasilevsky commented on #3139
Emailed Lori Richardson on 08/31/21

[2021-09-01 12:07] pnrobinson commented on #3606
The term ``Hereditary disorder of connective tissue`` seems to be most commonly used and I would suggest it be our primary label.
for instance
https://www.nature.com/articles/gim201056

@ahamosh  Thoughts?

I do not think that "Mendelian connective tissue disorder" is a commonly used term and could be a synonym. There is always a discussion of diseases that are not 100% Mendelian, and my guess wou

[2021-09-01 12:12] pnrobinson commented on #3601
Are you refering to the pending associations ?
https://omim.org/entry/601033?search=lama5&highlight=lama5

If so, then I would suggest we confer with @ahamosh @cmungall @mellybelly in order to document a consistent strategy for how Mondo deals with n=1 cases. I think it is important that we record these diseases but it would be good to mark them as pending associations. One way of doing this would

[2021-09-01 12:36] ahamosh commented on #3601
This disease is already in Mondo.  We have the paper but didn't establish a gene-phenotype relationship in OMIM.  Whatever the right procedure is in Mondo, I support.
Thanks,
Ada

Ada Hamosh, MD, MPH
Dr. Frank V. Sutland Professor
McKusick-Nathans
Department of Genetic Medicine (DGM)
Clinical Director, DGM
Scientific Director, OMIM
Johns Hopkins University
Blalock 1007
600 N. Wolfe St
Baltimore, M

[2021-09-01 14:57] nicolevasilevsky commented on #3606
sounds good, thanks for the feedback @pnrobinson and @ahamosh!

[2021-09-01 16:54] ahamosh commented on #3606
Totally agree with heritable disorder of connective tissue.  Wasn't thinking that way in the context of yesterday's discussion.

[2021-09-01 17:45] sabrinatoro opened #3625 "'double nail for fifth toe' and 'double fingernail of fifth finger' typo in disease location"
**Mondo term (ID Label)**
double fingernail of fifth finger
MONDO:0023003
**Bug/Typo/Error description**
'disease has location' some 'pedal digit 5'
--> should be '**manual** digit 5'

**Mondo term (ID Label)**
double nail for fifth toe
MONDO:0007469
**Bug/Typo/Error description**
'disease has location' some 'manual digit 5'
--> should be '**pedal** digit 5'

[2021-09-01 17:55] sabrinatoro commented on #3570
part of #3155

[2021-09-01 17:55] sabrinatoro commented on #3573
part of #3155

[2021-09-01 17:55] sabrinatoro commented on #3574
part of #3155

[2021-09-01 17:55] sabrinatoro commented on #3575
part of #3155

[2021-09-01 17:55] sabrinatoro commented on #3576
part of #3155

[2021-09-01 17:56] sabrinatoro commented on #3593
part of #3155

[2021-09-01 17:56] sabrinatoro commented on #3594
part of #3155

[2021-09-01 17:56] sabrinatoro commented on #3595
part of #3155

[2021-09-01 17:59] kshefchek opened #3626 "[NTR] UMLS:C3276419 Usher Syndrome, Type 1D/F"
**Preferred term label:**
Usher syndrome, type 1D/F

**Synonyms**
Exact:
Usher syndrome, type 1D/F, CDH23/PCDH15, digenic
USH1D/F, CDH23/PCDH15, digenic

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Any Usher syndrome in which the cause of the disease is a mutation in the CDH23 and PCDH15 genes.
dbxef: MONDO:patterns/OMIM_disease_series_by_gene

**Parent

[2021-09-01 18:15] cmungall commented on #3601
We currently put these in the n_of_one subset, but we don't do much else. Minimally this annotation should be more visible on browsers. We could also auto-place a standard piece of text on these. I suggest a new ticket for this (we may have one already?)

We should definitely add this tag to the current mondo disease.

I think the broader question here is what to do with the grouping "genetic syst

[2021-09-01 21:17] sabrinatoro commented on #3621
@matentzn
I used "GROUP_CONCAT" to report all the "seeAlso" of a same term in the same line (instead of duplicated the line): https://api.triplydb.com/s/hIszbKy7D

Somehow, the query is a "bad query".
I looked at examples and documentation I can find online, but I cannot figure out what is wrong in the updated query (link above).
Can you help, please? (whenever you have a moment, there is no urgen

[2021-09-01 23:31] nicolevasilevsky commented on #3597
reported in meeting with Ada and Sabrina on 2021-08-31

[2021-09-01 23:35] galyea-gard commented on #3172
Hi!  I apologize I made a mistake here:  I meant to say that "Thrombocytopenia 1 is a synonym of X-linked thrombocytopenia".  Regarding the questions you have here in this ticket:

-  I agree that obsoleting (or deleting) X-linked thrombocythemia (MONDO:0010301 should be the best approach.
- Thrombocythemia 1 (IOMIM187950) should be keep as a separate disorder (the original confusion in OMIM may h

[2021-09-01 23:35] nicolevasilevsky commented on #3599
per call on 2021-08-31 with Ada and Sabrina

[2021-09-01 23:36] nicolevasilevsky commented on #3605
per call on 2021-08-31 with Ada and Sabrina

[2021-09-01 23:41] nicolevasilevsky commented on #3607
using OMIM label as preferred.
Per conversation with Ada and Sabrina on 2021-08-31

[2021-09-01 23:44] nicolevasilevsky commented on #3608
per conversation with Ada and Sabrina on 2021-08-31

[2021-09-01 23:47] nicolevasilevsky commented on #3446
yes, agree

[2021-09-02 05:21] #3446 closed

[2021-09-02 05:21] #3599 closed

[2021-09-02 05:21] #3605 closed

[2021-09-02 05:21] #3607 closed, assigned to nicolevasilevsky

[2021-09-02 05:21] #3608 closed

[2021-09-02 05:24] nicolevasilevsky commented on #3583
Deanne shared these comments from a clinical AML doctor at CHOP:

1. AML monosomy 7 is NOT the same as AML with minimal differentiation (old FAB term of ‘M0’); these should not be merged.
2. AML with t(9;11) is one type of AML with 11q23 abnormalities. These should not be merged since 11q23 is the umbrella term that includes t(9;11) as one subtype, but also covers many other KMT2A rearrangements.

[2021-09-02 09:34] matentzn commented on #3621
I dont know why, but SPARQL didnt like the un-concatenated comment field; this works:
https://api.triplydb.com/s/7s3ybFJyb

[2021-09-02 14:31] paolaroncaglia opened #3630 "Mondo release notes from yesterday are the same as last month"
As per subject. I was investigating the deprecated Mondo mappings that break the EFO build following yesterday's Mondo release, and hence the list of obsoleted terms in the release notes, and they didn't look the same as I expected from the EFO mappings and from https://github.com/monarch-initiative/mondo/issues/3456.

[2021-09-02 14:48] nicolevasilevsky commented on #3630
Oh dear! Thanks for reporting this, I'll look into it

[2021-09-02 14:58] #3625 closed

[2021-09-02 16:15] nicolevasilevsky commented on #3630
This is fixed now, @paolaroncaglia! Thanks again for catching this.
https://github.com/monarch-initiative/mondo/releases/tag/v2021-09-01

[2021-09-02 16:18] #3630 closed

[2021-09-02 16:42] matentzn commented on #3621
Annoying - but probably not avoidable without major work. You could have two separate queries (one with comment, with seeAlso _only_).

[2021-09-02 16:52] sabrinatoro commented on #3621
yeah, I suspected it would be more complicated than it sounds... Thank you for your help!

@nicolevasilevsky, let's talk and figure out what would be best.

[2021-09-02 17:11] nicolevasilevsky commented on #3626
@ahamosh is it possible to get a separate OMIM number for USHER SYNDROME, TYPE ID/F, CDH23/PCDH15, DIGENIC, INCLUDED?

[2021-09-02 17:34] nicolevasilevsky commented on #3601
to do:
add n_of_one subset tag to this disease

[2021-09-02 18:27] kanems opened #3633 "X-linked spermatogenic failure 1 MONDO:0056795 child of Sertoli cell-only syndrome ?"
**Mondo term (ID and Label)**
MONDO:0056795  X-linked spermatogenic failure 1

**Suggested revision and reasons**
Based on the definition and hierarchy from http://www.ontobee.org/ontology/DOID?iri=http://purl.obolibrary.org/obo/DOID_0070189 and OMIM https://www.omim.org/entry/305700, it seems like this is a sub-type of Sertoli cell-only syndrome.
(Currently, UMLS maps OMIM:305700 to "Congenital a

[2021-09-02 19:11] kanems opened #3634 "split term: antiphospholipid syndrome"
**Term to split:**
MONDO:0007140 Antiphospholipid syndrome

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
Familial antiphospholipid syndrome (as a child of the original term)

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties (such as synonyms and datab

[2021-09-02 20:02] ahamosh commented on #3626
Hi Nicole,
Because of how icky and limited the evidence is for all the digenic, we are keeping them as included for now.  We can revisit this in the future.
Thanks,
Ada

Ada Hamosh, MD, MPH
Dr. Frank V. Sutland Professor
McKusick-Nathans
Department of Genetic Medicine (DGM)
Clinical Director, DGM
Scientific Director, OMIM
Johns Hopkins University
Blalock 1007
600 N. Wolfe St
Baltimore, MD 21287-49

[2021-09-02 20:50] paolaroncaglia commented on #3630
My pleasure :-D Thank you, @nicolevasilevsky , for fixing so quickly!

[2021-09-02 21:02] nicolevasilevsky commented on #3626
No problem, thanks @ahamosh!

[2021-09-02 21:39] nicolevasilevsky commented on #3621
Yeah, let's not put everything into the comment. I think it's okay to leave it how it was. It's easy enough to review and then delete the duplicates if we don't need them.

[2021-09-02 21:40] cmungall commented on #3473
We should also look to importing the NCIT molecular abnormality branch to axiomatize cancer subtypes

[2021-09-02 22:08] nicolevasilevsky opened #3635 "Add to definition for n of 1 use cases."
Can we create a script that takes n_of_one subsets and adds a sentence at the end of the definition that says: This is an n-of-1 use case where only one patient or family has been described with this disorder.

related to:
https://github.com/monarch-initiative/mondo/issues/3601
https://github.com/monarch-initiative/mondo/issues/69

[2021-09-02 22:11] nicolevasilevsky opened #3636 "review old cases in OMIM"
Look at edit history in OMIM and publication dates for diseases in Mondo, some of these may no longer be relevant diseases - need to find diseases that we should review

related:
https://github.com/monarch-initiative/mondo/issues/3601

[2021-09-02 22:12] nicolevasilevsky opened #3637 "review cases in HPO OMIM omit file and consider obsoleting in Mondo"
We need to consider obsoleting terms from OMIM that are in the HPO omit file:
https://github.com/monarch-initiative/hpo-annotation-data/blob/master/rare-diseases/annotated/omit-list.txt

[2021-09-02 23:09] #3621 closed

[2021-09-03 14:35] kanems opened #3640 "MONDO:0008284 polyposis of gastric fundus without polyposis coli"
**Mondo term (ID and Label):**
MONDO:0008284 polyposis of gastric fundus without polyposis coli

**Xref that should be fixed (ID and label):**
OMIM:175505 (MONDO:equivalentTo) - Remove. OMIM has merged this term with OMIM:619182
(The MESH and CUI identifiers are still active.)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other

[2021-09-03 15:37] nicolevasilevsky commented on #3640
to do:
Make OMIM:175505 MONDO:equivalentObsolete

[2021-09-03 15:50] ahamosh commented on #3633
Yes, OMIM has sertoli-cell only syndrome as an alternate title on 305700.

[2021-09-03 17:18] nicolevasilevsky opened #3642 "Revise SPARQL query for Obsoletion candidates"
@sabrinatoro could we please add the following annotations to the [SPARQL query for obsoletion candidates](https://github.com/monarch-initiative/mondo/blob/master/src/sparql/reports/obsoletioncandidates-withcomment.sparql):

- http://purl.obolibrary.org/obo/IAO_0006012 'scheduled for obsoletion on or after'

Thank you!

This isn't needed until the end of the month, for the end release on Oct 01

[2021-09-03 18:41] #3583 closed

[2021-09-03 21:50] nicolevasilevsky opened #3647 "RASopathy should be a child of Mendelian disease"
per Mondo call on 09/02/21

[2021-09-03 22:24] nicolevasilevsky commented on #407
emailed Sharon Plon to inform her on 09/03/21

[2021-09-05 12:07] maglott opened #3649 "[Merge] hyperinsulinemic hypoglycaemia and hyperinsulinemic hypoglycemia"
**Mondo term (ID and Label)**
hyperinsulinemic hypoglycaemia/MONDO:0018619

**Reason for deprecation**

hyperinsulinemic hypoglycemia/MONDO:0005803 appears to be the same concept, although certainly treed differently

**Term to be merged with**
hyperinsulinemic hypoglycemia/MONDO:0005803

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org

[2021-09-06 09:13] matentzn commented on #3586
Full list here:
https://github.com/EBISPOT/efo/blob/master/src/ontology/iri_dependencies/mondo_terms.txt

[2021-09-06 09:16] matentzn commented on #3586
List of therapeutic areas:
https://github.com/EBISPOT/otar_profiler/blob/master/templates/disease_p_ta.txt

[2021-09-06 13:40] maglott opened #3650 "[Revise subclass] Exstrophy-epispadias complex"
**Mondo term (ID and Label)**
MONDO:0017919/bladder exstrophy-epispadias-cloacal exstrophy complex

**Suggested revision and reasons**
Based on the definitions in Orphanet (ORPHA:322) and OMIM (https://omim.org/entry/258040) it seems bladder exstrophy-epispadias-cloacal exstrophy complex and OEIS Complex are the same  and https://omim.org/entry/258040 should not be an xref to MONDO:0009774

We are

[2021-09-06 20:04] sabrinatoro commented on #3602
@nicolevasilevsky
There is no term for "vasculopathy"
I made the parent term "vascular disease". Can (should) "vasculopathy" be a synonym of this term? (I think it can be, but maybe there is subtle difference?)

[2021-09-06 20:34] sabrinatoro commented on #3610
I couldn't find evidence of a gene being involved in this syndrome.

[2021-09-06 20:53] sabrinatoro commented on #3247
MONDO:0011293 (homocystinemia) will be obsoleted and merged into 'hyperhomocysteinemia' (MONDO:0004743)

[2021-09-07 08:48] lcdaugherty commented on #3391
@nicolevasilevsky yes would prefer the restructuring option, thank you

[2021-09-07 23:54] #3647 closed

[2021-09-08 00:00] nicolevasilevsky commented on #3602
That seems like the appropriate parent to me.

Vasculopathy sounds like it would be a child of vascular disease, see:
https://medical-dictionary.thefreedictionary.com/vasculopathy

@pnrobinson and @ahamosh do you think we should add a new term to Mondo or would vasculopathy be synonymous with vascular disease?

[2021-09-08 00:00] #3611 closed

[2021-09-08 00:13] #3610 closed

[2021-09-08 01:01] pnrobinson commented on #3602
etymologically, vasculopathy is a synonym of vascular disease, but there seems to be a special use case as mentioned below.
I would suggest we add it as a RELATED SYNONYM of vascular disease/disorder, and would further suggest we adapt the current definition of the latter term.

https://link.springer.com/chapter/10.1007/978-3-540-78785-3_7

Vasculopathy is a general term used to describe any disea

[2021-09-08 01:04] ahamosh commented on #3602
I agree.  A synonym, not a child.

[2021-09-08 14:12] ValWood commented on #3265
hi,

what ids the new ID for MONDO:0007326 paroxysmal nonkinesigenic dyskinesia 1
?

[2021-09-08 14:16] ValWood commented on #3265
OLS still has
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0007326

[2021-09-08 14:17] ValWood commented on #3265
Can you add new terms and IDs to the tickets? It's really helpful for re-mapping.

[2021-09-08 14:24] ValWood opened #3657 "MONDO:0019174"
I'm. getting
MONDO:0019174 not found in database
but I can't find any info about this on the tracker.
Can you let me know the new ID.
thanks
v

[2021-09-08 15:02] ValWood commented on #2906
Hi Do you have the IDs for the new terms?
Thanks,

Val

[2021-09-08 16:14] nicolevasilevsky commented on #2906
severe hypophosphatasia MONDO_0600009
moderate hypophosphatasia MONDO_0600010
mild hypophosphatasia MONDO_0600011

[2021-09-08 16:17] nicolevasilevsky commented on #3657
This was obsoleted and the consider term is MONDO:0100259 'peroxisome biogenesis disorder due to PEX1 defect'

This was part of this big ticket: https://github.com/monarch-initiative/mondo/issues/2632
(The recommendation to obsolete is on this ticket: https://github.com/monarch-initiative/mondo/issues/3222)

[2021-09-08 16:18] nicolevasilevsky commented on #3657
@ValWood feel free to close this issue if this answers your question. :)

[2021-09-08 16:22] ValWood commented on #3657
Thanks!

[2021-09-08 16:22] #3657 closed

[2021-09-08 16:22] nicolevasilevsky commented on #3265
Yes, we can do that! Thanks for the suggestion.
Cc @sabrinatoro

The new IDs are:
MONDO_0700088 'paroxysmal nonkinesigenic dyskinesia'
MONDO_0700089 'paroxysmal nonkinesigenic dyskinesia 1'

It usually takes OLS about 7 days to update after the Mondo release, so I expect these will be visible in OLS in another day or two?

[2021-09-08 17:28] ValWood commented on #3265
Thanks, that will be really useful for locating the discussion. Our logs only give is the old ID  so it's a lot of chasing if there is no 'replaced by' term.

[2021-09-08 17:33] nicolevasilevsky commented on #3602
Thanks! I updated the def, synonym and added a comment.

[2021-09-08 17:35] nicolevasilevsky commented on #3265
@ValWood we also have the 'consider' annotation, if there is not a 'replaced by'.

[2021-09-08 18:25] ValWood commented on #3265
Thanks, I don't think we use those, I have never seen one. That will help a lot if most obsoletions have them!

[2021-09-09 13:35] ValWood commented on #3557
Heamochromatosis shouldnt be is_a Hemosiderosis

Difference between haemochromatosis and Hemosiderosis
Hemochromatosis is a rare disease in which direct deposition of iron takes place in body organs such as liver, spleen, pancreas and skin that cause tissue damage. Hemosiderosis on the other hand side is a disorder characterized by deposition of excess iron within the body tissues that normally do

[2021-09-09 14:34] matentzn opened #3659 "Can someone comment on these clinical grouping classes?"
https://github.com/EBISPOT/otar_profiler/blob/master/templates/newterms.tsv

I would particularly like to know why they do not exist in Mondo (genuine).

[2021-09-09 14:34] matentzn commented on #3659
cc @dosumis @zoependlington

[2021-09-09 14:39] #3602 closed

[2021-09-09 14:47] nicolevasilevsky commented on #3557
Thanks @ValWood!

[2021-09-09 15:08] #3642 closed

[2021-09-09 16:34] #3603 closed

[2021-09-09 17:19] cmungall commented on #3659
Some of these we used to have but recently obsoleted

id: MONDO:0024297
name: obsolete nutritional or metabolic disease
def: "A collective term for nutritional disorders resulting from poor absorption or nutritional imbalance, and metabolic disorders resulting from defects in biosynthesis (ANABOLISM) or breakdown (CATABOLISM) of endogenous substances." [MESH:D009750]
comment: Editor note: consider

[2021-09-09 18:02] nicolevasilevsky commented on #3626
'Type ID/F Usher syndrome'
 and ('disease has basis in dysfunction of' some GENE)
 and ('disease has basis in dysfunction of' some GENE)

[2021-09-09 20:26] nicolevasilevsky commented on #3570
Per the Mondo call today, we decided that we probably want to keep Connective tissue disease as it is being used by EFO.
We propose to keep this and remove the logical definition and add a comment that says: This excludes diseases that are classically considered connective tissues like bone tissue diseases.

Removing the logical def will no longer cause the automatic classification of diseases lik

[2021-09-09 22:05] pnrobinson commented on #3570
There are many medical errors in the EFO hierarchy

https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_1001986

errors in the sense that essentially any disease can be a connective tissue disease (e.g., heart attach, because the heart contains connective tissue), but it makes no sense at all to classify them that way. I think we should feed our discussions ba

[2021-09-09 22:11] ahamosh commented on #3570
I will leave this battle to you all, but I really think we need to clean all of this up.  If the ontologies are what the AI and machine learning will use, they need to be correct so they can learn. Probably the same applies to humans...

[2021-09-10 08:49] dosumis commented on #3570
I agree that as a logical grouping it doesn't make much sense, but it's clearly a much used grouping, presumably held together by convention as much as anything:

https://my.clevelandclinic.org/health/diseases/14803-connective-tissue-diseases
https://www.mayoclinic.org/diseases-conditions/mixed-connective-tissue-disease/symptoms-causes/syc-20375147
https://www.webmd.com/a-to-z-guides/connective-ti

[2021-09-10 11:17] pnrobinson commented on #3570
@dosumis I was not trying to say that the phrase connective tissue disease is wrong. I was saying that many of classes that EFO has underneath this term would not be considered to be connective tissue diseases by physicians. Therefore, searches or AI analysis using EFO will return unexpected/undesired results for medical users.

[2021-09-10 11:25] dosumis commented on #3570
Got it.  That is useful to feed back.  I wonder how much of the error comes inference from the Mondo logical def we are now removing.  This is pulling in diseases of anatomical tissues that are considered connective tissue (and so are classified as such by Uberon) even if,  conventionally, these diseases are not classified as connective tissue diseases.

[2021-09-10 12:22] nicolevasilevsky opened #3661 "[Obsolete] Mondo meta-grouping classes"
Hi, The following terms below are proposed obsoletion candidates in Mondo. These are meta grouping classes that are under the top level 'disease or disorder' term, and upon discussion on the Mondo curation calls, it seems these are not clinically relevant and are difficult to maintain, so we propose obsoleting these terms in a future release (on or after December 2021).

| Mondo ID             |

[2021-09-10 15:23] nicolevasilevsky commented on #3661
added obsoletion tags in PR https://github.com/monarch-initiative/mondo/pull/3662

[2021-09-13 23:03] sabrinatoro opened #3664 "axiomatize 'partial chromosomal deletion'"
part of #1440

- [ ]  add axiom to 'syndrome caused by partial chromosomal deletion' (MONDO:0000761)
- [ ] 'chromosomal anomaly' and ('has modifier' some chromosomal_deletion)
- [ ]  create pattern for 'partial_chromosomal_deletion'
- [ ]  add Monochrom terms for chromosomal axiom
- [ ]  add axiom for chromosome deletion
- [ ]  review all terms

[2021-09-15 17:43] #3626 closed

[2021-09-15 17:57] nicolevasilevsky opened #3669 "[NTR] Intraosseous Spindle Cell Rhabdomyosarcoma with TFCP2/NCOA2 Rearrangements"
**Preferred term label:**
Intraosseous Spindle Cell Rhabdomyosarcoma with TFCP2/NCOA2 Rearrangements

**Synonyms**
related
intraosseous rhabdomyosarcoma defined by FUS-TFCP2 fusion
narrow
intraosseous rhabdomyosarcoma with FUS-TFCP2 fusion

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Intraosseous spindle cell rhabdomyosarcoma characterized by the fusion

[2021-09-15 20:39] sabrinatoro commented on #2507
@nicolevasilevsky can we close this issue?

[2021-09-15 20:42] nicolevasilevsky commented on #3637
@sabrinatoro to you want to start working on this. We'll need to determine if these diseases are not in fact diseases and if they should be obsoleted, and if they should be obsoleted, we should add them to this [spreadsheet](https://docs.google.com/spreadsheets/d/1tt1Wk70j9XiHLV1vKQyNiHhaazh286pobpJk1ecSCCg/edit#gid=505727337), and then add obsoletion_candidate tags to all of them via ROBOT.

[2021-09-15 20:47] nicolevasilevsky commented on #3595
I would like to double check if ClinGen is using this term before we relabel it, because they are interested in relabeling. I assigned this to the Nov release, hopefully we'll get a list of terms that ClinGen is using soon.

[2021-09-15 20:47] nicolevasilevsky commented on #3606
related to https://github.com/monarch-initiative/mondo/issues/3570

[2021-09-15 20:53] nicolevasilevsky commented on #3570
@sabrinatoro do you want to work on this? I think we should just close my other PR and separate out these issues.

- [ ] remove the logical definition from 'connective tissue disorder' and add a comment that says: This excludes diseases that are classically considered connective tissues like bone tissue diseases.
- [ ] on a separate PR, I think we still want to obsolete MONDO_0020012 'systemic or

[2021-09-15 20:57] nicolevasilevsky commented on #3586
@matentzn I added this to our agenda to work on a workflow to automatically check EFO terms against Mondo obsoletion candidates

[2021-09-15 21:01] nicolevasilevsky commented on #3410
Good question! I don't see any reason not to add this term.

@pnrobinson @ahamosh @cmungall please let us know if you have any objections, thanks!

[2021-09-15 21:11] #3669 closed

[2021-09-15 21:20] nicolevasilevsky commented on #2554
Hi @kanems sorry for the delay in revisiting this ticket. Based on your comment above (_For MONDO:0008104 Noonan Synd. 1: I think it maps best to Noonan Syndrome 1; UMLS CUI: C4551602 (The NCI and OMIM numbers are shared between the MONDO and UMLS concepts)_) - sounds like the action item it to:

- [ ] add UMLS:C4551602 as a dbxref (source: MONDO:equivalentTo) to MONDO_0008104 'Noonan syndrome 1'

[2021-09-15 23:08] nicolevasilevsky commented on #2507
I think this is confusing because GLAUCOMA, PRIMARY OPEN ANGLE, ADULT-ONSET is an 'included' entry, as is Glaucoma 1, open angle, E. Let's try to check with Chris about this on the Mondo curators call.

[2021-09-15 23:19] ahamosh commented on #3410
Neurodevelopmental disorder should be a superclass under Nervous system disorder.

[2021-09-15 23:19] nicolevasilevsky commented on #3410
Thank you @ahamosh!

[2021-09-16 09:30] dosumis commented on #3570
Suggested comment:  "Following clinical usage of the term 'connective tissue disorder' this grouping excludes some diseases affecting tissues classically considered to be connective tissue, such as bone."

[2021-09-16 11:22] pnrobinson commented on #3410
@ahamosh  I wonder if if would be a good idea to use OMIM phenotypic series, such as this https://omim.org/phenotypicSeries/PS309530, to arrange diseases that would be subclasses of a new term called **Neurodevelopmental disorder**?

[2021-09-16 15:48] #3640 closed

[2021-09-16 16:03] kanems commented on #2554
I think we can close this ticket now, thanks Nicole!

[2021-09-16 16:06] #2554 closed

[2021-09-16 16:14] nicolevasilevsky commented on #3413
We currently have 'acquired aplastic anemia' and 'inherited aplastic anemia', with 'Diamond-Blackfan anemia' (OMIM phenotypic series) as a child, and the subtypes of DBA. I think this addresses all of the comments above, i am going to close this but please reopen if other action items are needed.

![image](https://user-images.githubusercontent.com/6722114/133647823-7441ad2a-b787-4498-a89c-09ce97b9

[2021-09-16 16:14] #3413 closed

[2021-09-16 16:18] kanems opened #3673 "biliary tract neoplasm UMLS Xref [fix xref]"
**Mondo term (ID and Label):**
biliary tract neoplasm MONDO:0005304

**Xref that should be fixed (ID and label):**
UMLS:C0345913 (MONDO:equivalentTo) SHOULD be C0005426

UMLS:C0345913 is for "Extrahepatic Bile Duct Neoplasm (C0345913)" and I would presume should map to MONDO:0021385 "extrahepatic bile duct neoplasm" (Snomed IDs/ SCTID : 126855001 is a match between the Mondo and UMLS terms.)

**Yo

[2021-09-16 16:25] nicolevasilevsky commented on #3590
I think this is the case because Orphanet links this to FXN1. I agree that this is a more general grouping class and should not have the gene annotated to it, I'll remove it.

See: https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=45&Disease_Disease_Search_diseaseGroup=95&Disease_Disease_Search_diseaseType=ORPHA&Disease(s)/group%20of%20diseases=Friedreich-ataxia&title=Friedrei

[2021-09-16 17:43] nicolevasilevsky commented on #2507
Glaucoma 1, open angle, E should be the primary label

[2021-09-16 17:55] nicolevasilevsky commented on #2686
Per call, go ahead and split

[2021-09-16 17:57] nicolevasilevsky commented on #1447
Per call, yes split

[2021-09-16 21:24] #3507 closed

[2021-09-16 21:45] nicolevasilevsky commented on #3634
Discussed on Mondo call and we'll proceed with this split, we'll aim to do this for the December release.

[2021-09-16 23:36] nicolevasilevsky commented on #3190
@mgriese pinging you, thank you!

[2021-09-16 23:38] nicolevasilevsky commented on #3195
@pnrobinson and @ahamosh could you look at the comment here and let me know if you agree with the proposed action items:
https://github.com/monarch-initiative/mondo/issues/3195#issuecomment-870061610

[2021-09-16 23:38] nicolevasilevsky commented on #3226
I think this can be closed, please reopen if there are any other questions. thanks!

[2021-09-16 23:38] #3226 closed

[2021-09-16 23:39] nicolevasilevsky commented on #3228
can this be closed?

[2021-09-16 23:41] pnrobinson commented on #3195
It is not true that neurodegenerative disease is always CNS (https://pubmed.ncbi.nlm.nih.gov/31008845/):
[code]

I think this is complicated enough that we should discuss it via zoom rather than in GitHub issues!

[2021-09-16 23:41] nicolevasilevsky commented on #3333
it seems like this has already been addressed, these terms are no longer parents. Closing.

[2021-09-16 23:41] #3333 closed

[2021-09-16 23:42] nicolevasilevsky commented on #3458
Thank you Nico!

[2021-09-16 23:42] #3458 closed

[2021-09-16 23:46] nicolevasilevsky commented on #3133
I think this has been resolved, closing

[2021-09-16 23:46] #3133 closed

[2021-09-16 23:55] nicolevasilevsky commented on #3129
@lcdaugherty for some reason OLS displays an relatedTo xref as an exact match, this is a known issue. MESH:D014402 is a relatedTo on MONDO_0019341 tuberous sclerosis complex.

I agree that tuberous sclerosis 1 and 2 were incorrectly classified under tuberous sclerosis complex - this came from a broad to narrow annotation from Orphanet. I excluded these subclasses.

Thanks for reporting this.

[2021-09-17 02:17] ahamosh commented on #3195
I agree this needs an intensive discussion in vivo or in vitro.

[2021-09-17 02:17] ahamosh commented on #3195
in vitro (zoom), not Github.

[2021-09-17 07:56] #3228 closed

[2021-09-17 13:42] #3129 closed

[2021-09-17 13:45] #3673 closed

[2021-09-17 15:46] #3590 closed

[2021-09-17 18:42] mgriese commented on #3190
1) Congenital alveolar dysplasia is different from Congenital alveolar capillary dysplasia
2) Congenital alveolar capillary dysplasia (see Orphanet) is an older term; more recently the condition is labelled Alveolar capillary dysplasia with misalignment of pulmonary veins
3) Alveolar capillary dysplasia without misalignment of pulmonary veins is sometimes observed and a rare condition; not well de

[2021-09-20 20:30] sabrinatoro commented on #3637
terms are reviewed  [here](https://docs.google.com/spreadsheets/d/1H1NFRZor1t5nhZjht5d_1r9H_8xsUIanSq6tirr9rqs/edit?usp=sharing)
Most OMIM ids are
- equivalent to an obsolete MONDO term
- not referred in Mondo.

Terms that need review are Mondo terms with
- other dbxref from orphanet,GARD, DO  (--> should keep)
- dbxref to MESH and/or UMLS which refer to diseases at MESH/UMLS (should we keep?)
- d

[2021-09-20 20:54] #3247 closed

[2021-09-20 21:37] larrybabb commented on #3456
@nicolevasilevsky I didn't see `congenital renal artery stenosis` from the obsoleted terms above in the release notes with the september release. Can you verify and let me know if that was simply an oversight when crafting the release notes or did that not make it into the release?

[2021-09-20 23:04] sabrinatoro commented on #3505
looking at the classification:
![Screen Shot 2021-09-20 at 3 24 16 PM](https://user-images.githubusercontent.com/12737987/134086893-fe495f00-99a1-4605-a3ae-ab7f74e6686f.png)
- parent term =  MONDO:0007432 = DOID:13945  = OMIMPS:125310
**(no DO annotation in the Mondo record --> to be added)**
  - type1 (Notch3) = MONDO:0000914 = DOID:0111035 = OMIM:125310 → ok
  - type2 (HTRA) = MONDO:0014768 = DO

[2021-09-20 23:20] sabrinatoro commented on #3505
@ahamosh
I want to confirm that these 2 records, OMIM:616779 and OMIM:600142, refer indeed to 2 different diseases, even though the same gene is affected. The corresponding Mondo terms are parent/child (see previous comment). Is it correct?
Thank you!

[2021-09-20 23:23] sabrinatoro commented on #2826
@ahamosh
Do you have any updates on this issue?
Thank you!

[2021-09-21 01:03] ahamosh commented on #2826
Hi, yes, it is corrected in OMIM.  Situs Inversus Viscerum is now a formerly.
See below.  Thanks, Ada
# 270100
HETEROTAXY, VISCERAL, 5, AUTOSOMAL; HTX5

Alternative titles; symbols

SITUS INVERSUS VISCERUM, FORMERLY; SIV, FORMERLY

[2021-09-21 19:53] sabrinatoro opened #3680 "Add children terms for new "neurodevelopmental disorder" class"
A new term was created in #3410 : "neurodevelopmental disorder"
We need to add children to this new class.

Proposal:
- SPARQL query: find all terms with the words "neurodevelopmental disorder" in
  - term label
  - definition
- use ROBOT to update the parentage of these terms

[2021-09-21 19:54] sabrinatoro commented on #3680
@nicolevasilevsky , do you agree with this plan?

[2021-09-21 19:56] sabrinatoro commented on #3410
I created a new term "neurodevelopmental disorder".
Chidren terms will be added under this new term in #3680

[2021-09-21 20:00] ahamosh commented on #3410
Hi @pnrobinson, sorry for the delay.  I think that all the IDs (Dominant, recessive and X-linked) could be added under this, but also all the NED* in OMIM. There are many.  Happy to discuss this complicated and difficult topic...

[2021-09-21 20:54] sabrinatoro commented on #51
@nicolevasilevsky
Can we talk about this case, please? I am not sure what needs to be done.
It appears that there are some conflicting information wrt 'arthrogryposis syndrome' and 'arthrogryposis multiplex congenita', and sources report that
- these terms/concepts might need to be merged as they are used interchangeably
- these terms should stay as they currently are ('arthrogryposis syndrome' is

[2021-09-21 22:50] nicolevasilevsky commented on #51
I agree, let's consult the experts.

@ahamosh and @pnrobinson would you be able to help with this? thanks!

[2021-09-21 23:19] nicolevasilevsky commented on #3680
Yes, I love this plan!

[2021-09-21 23:19] nicolevasilevsky commented on #3680
see Ada's comment as well: https://github.com/monarch-initiative/mondo/issues/3410#issuecomment-924339251

[2021-09-21 23:36] nicolevasilevsky commented on #3190
Thanks @mgriese, very helpful!

@ahamosh FYI - I will add these diseases above that are associated with the respective genes.

[2021-09-21 23:57] nicolevasilevsky commented on #3456
Hi @larrybabb - this wasn't obsoleted after all, due to this ticket: https://github.com/monarch-initiative/mondo/issues/1741

[2021-09-22 00:03] #3410 closed

[2021-09-22 08:50] matentzn opened #3683 "Reactivate OMIM slurp with new omim.ttl"
We should test the slurping pipeline with the new OMIM ingest.

This is what needs changing:
https://github.com/monarch-initiative/mondo/blob/master/src/ontology/sources/omim/Makefile#L4

This is how the ingest pipeline is run:

[code]

If you don't have that already install ODK (follow Steps 1+2 [here](https://github.com/INCATools/ontology-development-kit/blob/master/docs/CreatingRepo.md)).

[2021-09-22 09:22] matentzn opened #3684 "OMIM import September 2021 (old pipeline)"
Remember that without @joeflack4 new and shiny great pipeline, you will still have to manually process the synonyms.

## Phenotypic series

[code]

## Other terms

[code]

[2021-09-22 15:01] #3505 closed

[2021-09-22 17:10] kanems opened #3685 "Juvenile polyposis syndrome[Merge]"
**Mondo term (ID and Label)**
MONDO:0008276 generalized juvenile polyposis/juvenile polyposis coli

**Reason for deprecation**
MONDO:0008276 generalized juvenile polyposis/juvenile polyposis coli has these X-refs
Orphanet:329971 (OMIM:174900)
OMIM:174900 (Orphanet:329971)
UMLS:CN204230 (MONDO:equivalentTo)
DOID:0050787 (MONDO:equivalentTo)
ICD10:D12.6 (Orphanet:329971)
 -- Orpha:329971 maps to TWO

[2021-09-22 17:12] kanems commented on #3685
@ana-rath-orphanet and @ahamosh I would appreciate your perspectives on this issue to harmonize all the different names/groupings of the JPS concepts. I am open to other solutions beyond what I proposed above.

[2021-09-22 17:28] nicolevasilevsky commented on #3684
I added some of these and made some notes [here](https://docs.google.com/document/d/1P3yCc0szDJXWqZDZot0mbx0fbh9MVqkyZf-rxBeCoDs/edit).

[2021-09-22 17:50] nicolevasilevsky commented on #3684
To do:

need to add:
[Term]
id: MONDO:0023670
name: bardet-biedl syndrome 20
synonym: "BARDET-BIEDL SYNDROME 20; BBS20" RELATED  [OMIM:619471]
is_a: MONDO:0015229 {source="OMIM:619471"} ! Bardet-Biedl syndrome
xref: OMIM:619471 {source="MONDO:equivalentTo"} ! bardet-biedl syndrome 20

**Need to relabel**:
MONDO_0014926 'Bardet-Biedl syndrome 20'
this is now Bardet-Biedl syndrome 22 (https://omim.o

[2021-09-22 20:20] kanems opened #3687 "brachymetapody anodontia hypotrichosis albinoidism [Merge]"
**Mondo term (ID and Label)**
MONDO:0022605,  brachymetapody anodontia hypotrichosis albinoidism

**Reason for deprecation**
This is a Synonym on OMIM 211370

**Term to be merged with**
MONDO:0008884 oculoosteocutaneous syndrome

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-09-22 20:24] #3633 closed

[2021-09-22 20:25] #3190 closed

[2021-09-22 20:49] sabrinatoro opened #3689 "Add monochrome terms to Mondo"
add the chromosome part term needed for the axiomization of chromosomal part duplication/deletion to chr_terms.txt

Term list [here](https://docs.google.com/spreadsheets/d/1fnxD0yaRBUrion_gfQnvMrcpSMuTWmMHxvqJngk6ddw/edit?usp=sharing)

[2021-09-22 21:35] kanems opened #3691 "MONDO:0004914 and MONDO:0007292 [Merge]"
**Mondo term (ID and Label)**
MONDO:0007292 celiac artery stenosis from compression by median arcuate ligament of diaphragm

**Reason for deprecation**
X-refs:  OMIM:116870 (MONDO:equivalentTo), UMLS:C1861783 (OMIM:116870),  and SCTID:9250002  are all on the same UMLS CUI.
The only other X-ref on this Mondo term is MESH:C566151 and I do not think it is an active MESH concept.

**Term to be merged

[2021-09-22 21:44] sabrinatoro commented on #3689
This issue addresses
#3492
#3664

[2021-09-23 14:18] kanems opened #3692 "Lentigines and lentigo? [Merge]"
**Mondo term (ID and Label)**
MONDO:0007889 lentigines

**Reason for deprecation**
X-ref MESH:D007911 has "lentigo" as the main term, but treats "lentiginosis," "lentigines," and "lentiginoses" as synonyms.
Also UMLS maps OMIM:150900 on C0023321 with SCTID: 767376003 and NCIT:C3159 (the only x-refs on the suggested merge term below)

**Term to be merged with**
MONDO:0021582 lentigo

**Your nano-at

[2021-09-23 14:52] kanems opened #3693 "Bazex syndrome & Bazex-Dupre-Christol syndrome[Merge]"
**Mondo term (ID and Label)**
MONDO:0015633 Bazex syndrome

**Reason for deprecation**
Seems to overlap with OMIM: 301845 (BAZEX SYNDROME; BZX , Alternative titles; symbols: BAZEX-DUPRE-CHRISTOL SYNDROME; BDCS,  FOLLICULAR ATROPHODERMA AND BASAL CELL CARCINOMAS)
MESH:C537663, and SCITD:254820002 and GARD (838; https://rarediseases.info.nih.gov/diseases/838/index) also treat these terms as synonymo

[2021-09-23 15:55] kanems opened #3694 "Cyclosporiasis/ Cyclosporosis"
**Mondo term (ID Label)**
MONDO:0005725 cyclosporiasis
MONDO:0016212 cyclosporosis

**Bug/Typo/Error description**
Both terms are defined as being caused by infection with  "Cyclospora cayetanensis."
MONDO:0005725 definition is sourced from [ NCIT:C128409 ]
MONDO:0016212 definition is sourced from [ Orphanet:210 ]

UMLS C0343398 "Cyclosporiasis" has two definitions: MSH D021866 says it is "Infecti

[2021-09-23 16:29] nicolevasilevsky commented on #3586
This is done, thank you!!

[2021-09-23 16:29] #3586 closed

[2021-09-23 17:02] kanems commented on #3694
My NCI inquiry:

I hope you can provide some clarity regarding this concept.
Thank you for your consideration and time.  -Megan

NCI's response:

[2021-09-23 17:54] nicolevasilevsky commented on #3680
discussed on Mondo call, sounds great!

[2021-09-23 19:40] kanems opened #3697 "Merge: MONDO:0006702 & MONDO:0100007 @kanems"
to do:
@nicolevasilevsky merge 'chronic inflammatory demyelinating polyneuropathy' into 'chronic inflammatory demyelinating polyradiculoneuropathy'.

The open question for Peter and Ada is below (https://github.com/monarch-initiative/mondo/issues/3697#issuecomment-942655630). I moved this to a separate ticket: https://github.com/monarch-initiative/mondo/issues/4070

_updated 2022-11-30 by @nicolev

[2021-09-23 20:27] #3689 closed

[2021-09-24 06:47] azankl opened #3698 "merge 'type 2 collagen-related bone disorder' and 'collagenopathy type 2 alpha 1'"
The group terms 'type 2 collagen-related bone disorder' (MONDO:0019686) and 'collagenopathy type 2 alpha 1' (MONDO:0022800) describe the same thing (disorders caused by mutations in type II collagen). They also contain (almost) the same disorders. I would keep the term 'type 2 collagen-related bone disorder' (MONDO:0019686). All disorders under MONDO:0022800 should be listed under MONDO:0019686 (I

[2021-09-24 06:51] matentzn commented on #3698
Best have @nicolevasilevsky manage my tickets, but that you @azankl for the issue :)

[2021-09-24 16:02] nicolevasilevsky commented on #3698
Hi @azankl. thanks for reporting this. To clarify, you want to merge MONDO:0019686 'type 2 collagen-related bone disorder' with MONDO:0022800 'collagenopathy type 2 alpha 1', right?

[2021-09-24 16:04] nicolevasilevsky commented on #3574
related to https://github.com/monarch-initiative/mondo/issues/3698

[2021-09-24 16:05] nicolevasilevsky commented on #3574
closing this, it is a duplicate of #3698

[2021-09-24 16:05] #3574 closed

[2021-09-24 16:30] kanems opened #3700 "MONDO:0022546 basal cell nevus anodontia abnormal bone mineralization[Merge]"
**Mondo term (ID and Label)**
 MONDO:0022546 basal cell nevus anodontia abnormal bone mineralization

**Reason for deprecation**
GARD:0000831 (MONDO:equivalentTo) does not appear to be an active page anymore. This name is an exact match (ignoring commas) to a syn. on MeSH C537049 (which in turn maps to UMLS C2931405- Aloi Tomasini Isaia syndrome)

**Term to be merged with**
MONDO:0021845  Aloi Tom

[2021-09-24 16:56] kanems opened #3701 "MONDO:0006674 and MONDO:0021041 [Merge]"
**Mondo term (ID and Label)**
MONDO:0006674
benign fibrous mesothelioma

**Reason for deprecation**
UMLS mapping of the various X-refs, sources for these two concepts are all lumped into C0334511.
And the definition on MeSH D054363 ("A rare neoplasm, usually benign, derived from mesenchymal fibroblasts located in the submesothelial lining of the PLEURA. It spite of its various synonyms, it has no

[2021-09-24 17:05] #3635 closed

[2021-09-24 17:42] kanems opened #3703 "MONDO:0001517 & MONDO:0045031 [Merge]"
**Mondo term (ID and Label)**
MONDO:0045031 infectious diarrheal disease

**Reason for deprecation**
MeSH D004403 equates dysentery (Preferred name) and Infectious Diarrheal Disease.
UMLS maps SCTID 19213003 to the same term as MSH D004403, UMLS CUI: C0013369

**Term to be merged with**
MONDO:0001517 dysentery

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [

[2021-09-24 17:56] nicolevasilevsky commented on #3108
@kanems thanks for the proposed hierarchy. I couldn't implement that as you outline because there were a lot of OMIM classes that were children of other OMIM classes, which wouldn't work because the OMIM classes had specific gene mutations (and the children inherit all the properties of the parent - so if the disease1 has a mutation in geneX, the child would also have a mutation in geneX , which i

[2021-09-24 18:24] nicolevasilevsky commented on #3124
@lcdaugherty I marked it as MONDO:equivalentObsolete

[2021-09-24 19:01] nicolevasilevsky commented on #3528
- I made  'isolated polycystic liver disease' and 'isolated congenital polycystic liver disease' broad synonyms on 'polycystic liver disease 1'
- I made UMLS:C4255088 equivalentObsolete
I think that addresses everything, please let me know if not. Thanks!

[2021-09-24 19:02] #3124 closed

[2021-09-24 19:03] #3108 closed

[2021-09-24 19:22] nicolevasilevsky opened #3707 "add to GitHub actions: run reports for the things in the edit file before they are released"
Per the Mondo call, can we create a pipeline in GitHub actions that runs everyday and puts edit file changes into a TSV file and we can share that with our users (ClinGen, EFO, etc.)

[2021-09-24 19:30] nicolevasilevsky commented on #3694
Thanks for reporting this @kanems.

I think these terms are equivalent, I think we should merge MONDO_0016212 cyclosporosis into MONDO_0005725 cyclosporiasis (and use the logical def  below).

'infectious disease'
 and ('disease has infectious agent' some 'Cyclospora cayetanensis')

[2021-09-24 19:40] #3528 closed

[2021-09-24 19:47] kanems opened #3709 "brachydactyly type B term issues/X-refs"
**Mondo term (ID Label)**
MONDO:0019676, brachydactyly type B
MONDO:0007220, brachydactyly type B1
MONDO:0012658 brachydactyly type B2

**Bug/Typo/Error/Suggestions description**
I think MONDO:0012658 should be a child (not sib) of MONDO:0019676, brachydactyly type B
MeSH C566196 (incorrectly) equates Brachydacytly type B and subtype B1. Not sure where to map that in Mondo.

Add Xref SCTID 3891680

[2021-09-24 19:57] kanems opened #3710 "MONDO:0003390 wrong UMLS CUI"
**Mondo term (ID and Label):**
MONDO:0003390
glycogen-rich clear cell breast carcinoma

**Xref that should be fixed (ID and label):**
Remove UMLS:C0334319;  replace with UMLS CUI: C1512224 (this is where UMLS maps NCIT:C4153)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2021-09-24 20:08] kanems opened #3711 "MONDO:0023031 and MONDO:0024455 [Merge]"
**Mondo term (ID and Label)**
MONDO:0023031 dysostosis acral with facial and genital abnormalities

**Reason for deprecation**
Appears to be synonymous with an alt name on OMIM 180700 "ACRAL DYSOSTOSIS WITH FACIAL AND GENITAL ABNORMALITIES"

**Term to be merged with**
MONDO:0024455 autosomal dominant Robinow syndrome 1

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up

[2021-09-26 22:55] azankl commented on #3698
Hi @nicolevasilevsky. Yes, 'type 2 collagen-related bone disorder' (MONDO:0019686) and 'collagenopathy type 2 alpha 1' (MONDO:0022800) should be merged. I would also change the name of MONDO:0022800 to 'type 2 collagenopathy'. This is a term commonly used.

[2021-09-26 23:02] azankl commented on #3698
Also, as outlined in my original comment, the child and ancestor relationships of 'type 2 collagen-related bone disorder' (MONDO:0019686) and 'collagenopathy type 2 alpha 1' (MONDO:0022800) should be merged as well. So the ancestor terms of MONDO:0019686 should be added as ancestors of MONDO:0022800 during the merge.

[2021-09-27 18:40] kshefchek opened #3712 "[NTR] retrograde cricopharyngeus dysfunction (R-CPD)"
**Preferred term label:**
retrograde cricopharyngeus dysfunction

**Synonyms**
R-CPD

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
PMID:31236539 - https://pubmed.ncbi.nlm.nih.gov/31236539/

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
dyskinesia of esophagus - MONDO:0004729

**Children terms (

[2021-09-27 21:48] #3710 closed

[2021-09-27 22:04] nicolevasilevsky commented on #3062
This will be obsoleted in the December release:
https://github.com/monarch-initiative/mondo/issues/3661

closing this issue.

[2021-09-27 22:04] #3062 closed

[2021-09-27 22:51] nicolevasilevsky commented on #3063
pinging @markengelstad

[2021-09-27 22:54] nicolevasilevsky commented on #3461
Hi @kallia-p do you plan to add this term, or I can go ahead and do it if you prefer.

[2021-09-27 23:06] nicolevasilevsky commented on #3685
Orpha:329971 is equivalent to MONDO_0008276 'generalized juvenile polyposis/juvenile polyposis coli'
Orphanet:2929 is a subclass of MONDO_0008276 'generalized juvenile polyposis/juvenile polyposis coli'

[2021-09-27 23:30] nicolevasilevsky commented on #3685
I made these changes:
- MONDO_0017380 'juvenile polyposis syndrome' is equiv to OMIM:174900
- MONDO_0008276 'generalized juvenile polyposis/juvenile polyposis coli' is a subclass of OMIM:174900
- MONDO_0008278 'juvenile polyposis/hereditary hemorrhagic telangiectasia syndrome' is equivalent to OMIM:175050, which has a mutation in one gene (SMAD4), so it can't be a child of MONDO_0017380 'juvenile

[2021-09-27 23:42] #3709 closed

[2021-09-27 23:51] nicolevasilevsky commented on #325
@sabrinatoro we have some of these terms in Mondo, see MONDO_0015688 'myeloid/lymphoid neoplasms associated with eosinophilia and abnormality of PDGFRA, PDGFRB, FGFR1 or JAK2'

I suggest cross-referencing the branch we currently have in Mondo with what in NCIt and add any missing terms from NCIt.

[2021-09-28 00:20] #3685 closed

[2021-09-28 00:34] nicolevasilevsky commented on #3540
pinging @ahamosh

[2021-09-28 00:37] #3712 closed

[2021-09-28 00:46] nicolevasilevsky commented on #3113
pinging @ahamosh

[2021-09-28 00:52] nicolevasilevsky commented on #153
this has been reclassified in Mondo and this ticket can be closed.

[2021-09-28 00:52] #153 closed

[2021-09-28 01:04] nicolevasilevsky opened #3719 "[Obsolete] Obsolete 'developmental disorder of mental health'"
**Mondo term (ID and Label)**
'developmental disorder of mental health'

**Reason for deprecation**
out of scope

**Suggested term to consider**
MONDO_0700092 'neurodevelopmental disorder'

[2021-09-28 08:58] kallia-p commented on #1567
premature aging syndrome MONDO:0019303 and progeroid syndrome MONDO:0015333 are disease grouping terms that are separate in Orhanet.
Premature aging ORPHA:79389 is a group of disorders classified under the Orphanet classification of Rare genetic skin disease ORPHA:68346. Progeroid syndrome ORPHA:139033 is a group of disorders classified under Rare developmental defect during embryogenesis ORPHA:93

[2021-09-28 10:31] kallia-p commented on #3461
@nicolevasilevsky @matentzn

Hi both, QC failed this PR https://github.com/monarch-initiative/mondo/runs/3731090962?check_suite_focus=true

make: *** [sparql_test_edit] Error 1
Makefile:464: recipe for target 'sparql_test_edit' failed
Error: Process completed with exit code 2.

[2021-09-28 11:50] kallia-p commented on #3165
@nicolevasilevsky

I added the NCIT term as definition dbxref, as an an exact synonym and also as a dbxref
In terms of synonyms and dbxrefs there are a few more to add please see below and the diff and let me know if this is the correct way to do it

- NCIT:C91762
https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C91762
Added NCIT:C91762 to the defin

[2021-09-28 12:30] kallia-p commented on #3165
@nicolevasilevsky @matentzn
The PR failed QC https://github.com/monarch-initiative/mondo/pull/3721/checks?check_run_id=3732031973

[2021-09-28 15:23] #3381 closed

[2021-09-28 15:26] nicolevasilevsky commented on #3461
the error is actualy this:
`FAIL Rule ../sparql/qc/general/qc-permitted-properties.sparql: 1 violation(s)
term,property,value
http://purl.obolibrary.org/obo/MONDO_0600027,http://purl.obolibrary.org/obo/mondo#created_by,http://orcid.org/0000-0002-5460-8025`

I believe it is because your created_by property is incorrect, once you fix this in preferences as outlined in https://github.com/monarch-init

[2021-09-28 18:06] #3165 closed

[2021-09-28 21:21] nicolevasilevsky commented on #7
This is out of scope, closing. We've axiomatized chromosomal diseases with monochrome.

[2021-09-28 21:21] #7 closed

[2021-09-29 01:13] joeflack4 commented on #2770
@nicolevasilevsky Thanks for adding me.
@nicolevasilevsky, @matentzn : If you guys want to explain more, that would be helpful. Can be at a meeting if that's better. Right now this does't look high on my priority list.

Merge conflicts aren't inherently wrong/bad, but they can be difficult.

I'm wondering about the nature of 'checks'. Typically this is running a test suite.

Also, this is typicall

[2021-09-29 12:31] matentzn opened #3723 "Test KGCL for the use for changelog summaries"
Currently working with @ckindermann and @jamesaoverton to set me up for prototyping KGCL diff functionality for the purpose of generating changelogs!

Some mildly related discussions here: https://github.com/cmungall/knowledge-graph-change-language/issues/20

[2021-09-29 14:42] nicolevasilevsky commented on #3723
Cool, thanks @matentzn!

[2021-09-29 15:35] #804 closed

[2021-09-29 15:37] nicolevasilevsky commented on #685
@kshefchek is this still needed?

[2021-09-29 15:39] nicolevasilevsky commented on #863
I think this has been resolved.

[2021-09-29 15:39] #863 closed

[2021-09-29 15:41] nicolevasilevsky commented on #922
this term has been obsoleted, I think this ticket can be closed, please reopen if any other action is needed

[2021-09-29 15:41] #922 closed

[2021-09-29 15:42] nicolevasilevsky commented on #1164
I think this has been addressed, closing. Please reopen if other action it needed.

[2021-09-29 15:42] #1164 closed

[2021-09-29 16:23] joeflack4 commented on #2770
@nicolevasilevsky That's a good idea, thanks for that suggestion! I see you've already added it. I'll try to remember to do that in the future. I guess basically if I create a new issue or if I make a comment that needs further response / discussion, I should add to agenda.

[2021-09-29 16:31] nicolevasilevsky commented on #2770
Yes please! Thanks!

[2021-09-29 17:12] nicolevasilevsky opened #3724 "Question about VISCERAL NEUROPATHY, FAMILIAL, 3, AUTOSOMAL DOMINANT"
@ahamosh
should https://omim.org/entry/609629 be part of this PS? The PS button is linked on this page but it’s not included in the PS.

[2021-09-29 17:14] nicolevasilevsky opened #3725 "relabel MONDO_0012317 'visceral neuropathy, familial, autosomal dominant'"
MONDO_0012317 'visceral neuropathy, familial, autosomal dominant' - label will change to visceral neuropathy, familial, 3, autosomal dominant

related to #3684

[2021-09-29 17:17] kshefchek commented on #685
We do a lot of analysis that requires us to select diseases vs disease groups (I'm working on one today), so I think this is still a nice to have.  Is the issue with something like this accuracy? I wonder if we could distribute a separate file with the disclaimer that it may contain false positives/negatives?

[2021-09-29 17:23] nicolevasilevsky opened #3726 "[NTR] Bardet-Biedl syndrome 20"
[Term]
id: MONDO:0023670
name: Bardet-Biedl syndrome 20
synonym: "BBS20" EXACT ABBREVIATION [OMIM:619471]
is_a: MONDO:0015229 {source="OMIM:619471"} ! Bardet-Biedl syndrome
xref: OMIM:619471 {source="MONDO:equivalentTo"} ! bardet-biedl syndrome 20

Need to relabel:
MONDO_0014926 'Bardet-Biedl syndrome 20'
this is now Bardet-Biedl syndrome 22 (https://omim.org/entry/617119)

related to #3684

[2021-09-29 17:25] nicolevasilevsky commented on #685
I added it to our Monarch tech call agenda on Friday. I'll see what I can find out from Nico and Chris.

[2021-09-29 17:30] nicolevasilevsky commented on #3684
action items are outlined [here](https://docs.google.com/document/d/1P3yCc0szDJXWqZDZot0mbx0fbh9MVqkyZf-rxBeCoDs/edit) (as noted above). To do in November for Dec release.

[2021-09-29 18:56] nlharris opened #3729 "Get rid of DC identifiers in Mondo"
Suggested by @cmungall in Slack in response to a tweet (https://twitter.com/cthoyt/status/1443284092246691843) that said

[2021-09-29 18:57] nicolevasilevsky opened #3730 "[NTR] Zinner syndrome"
**Preferred term label:**
Zinner syndrome

**Synonyms**
A rare condition comprising a triad of unilateral renal agenesis, ipsilateral seminal vesicle obstruction and ipsilateral ejaculatory duct obstruction.

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
A rare condition comprising a triad of unilateral renal agenesis, ipsilateral seminal vesicle obstruct

[2021-09-29 19:55] #3606 closed

[2021-09-29 20:10] nicolevasilevsky commented on #3606
FYI - this term already exists in Mondo:
MONDO:0023603

I renamed it to 'hereditary disorder of connective tissue' and added Mendelian connective tissue disorder as a synonym

[2021-09-29 21:32] #3730 closed

[2021-09-29 21:33] #3461 closed

[2021-09-30 02:33] nicolevasilevsky commented on #1834
Hi @abbe-Lai is this still needed?
I'll close this after a month if we don't hear back. Thanks!

[2021-09-30 14:57] nicolevasilevsky commented on #3134
This includes two different things:
1) ontology model of disease in Mondo
2) HPO annotations

- Need to develop an app
- curators should curate about 100 disease
- write up a paper

[2021-09-30 14:57] #3134 closed

[2021-09-30 15:33] nicolevasilevsky commented on #3530
@tibingaman for some reason this term did not come in in the latest OMIM ingest, so I just added it manually, and it will be in the release tomorrow.
The new ID is: MONDO:0100111

Note - you may not see it in OLS for another week.

Thanks for your patience!

[2021-09-30 15:33] #521 closed

[2021-09-30 15:54] nicolevasilevsky commented on #3707
https://github.com/monarch-initiative/mondo/actions/workflows/diff.yaml

[2021-09-30 16:21] kanems opened #3738 "split term: autosomal dominant primary microcephaly"
**Term to split:**
 MONDO:0007988
autosomal dominant primary microcephaly
(ORPHA:2514 lists X-refs to multiple OMIM terms, which should be children to this concept; this term should have C4755316 UMLS CUI)

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
MICROCEPHALY 18, PRIMARY, AUTOSOMAL DOMINANT; MCPH18 (X-ref OMIM 6175

[2021-09-30 16:27] nicolevasilevsky commented on #3738
Upon first glance, I am not sure if this terms needs to be split, but I think some of these terms should be reclassified. It is interesting that OMIM includes autosomal dominant forms underneath the autosomal recessive inheritance phenotypic series.

[2021-09-30 16:35] kanems commented on #3738
Agree that the OMIM PS should probably split/remove the AD ones from the AR concept list. @ahamosh do you think OMIM would consider making a PS for the AD microcephaly terms? https://omim.org/phenotypicSeries/PS251200 is described as AR, but there at least 3 specific MIM numbers that indicate AD inheritance on that list.
However, Mondo still should be careful to not equate the Orpha:2514 concept w

[2021-09-30 18:27] nicolevasilevsky commented on #3061
Would occupational disorder be a child of 'disease or disorder'?

[2021-09-30 18:31] nicolevasilevsky commented on #3061
Action items:
- [ ] create new term occupational disorder
- [ ] add definition 'disease' or disorder'
 and ('realized in response to' some 'exposure to occupation')
- [ ] add text definition: Any disorder that is realized in response to an exposure to occupation.
- [ ] exclude subclass 'mental disorder' from 'occupation-related stress disorder'
- [ ] add parent occupational disorder to 'occupation

[2021-09-30 21:21] nicolevasilevsky commented on #3707
example diff: https://github.com/monarch-initiative/mondo/blob/master/src/ontology/reports/mondo_diff.md

[2021-09-30 21:25] #3530 closed

[2021-09-30 21:48] nicolevasilevsky opened #3740 "add onset axioms"
related to https://github.com/monarch-initiative/mondo/pull/2460 and https://github.com/monarch-initiative/mondo/issues/526

- [x] add hsapdv import (we want to constrain this so it doesn't bring in all stages; or maybe we omit from the release?) (Nicole + Nico)
- [x] create pattern for late onset https://github.com/monarch-initiative/mondo/pull/3739
- [x] import late onset from HPO: http://purl.o

[2021-09-30 22:28] ireneisdoomed commented on #3122
Hello!

As @matentzn suggested in our conversation in August, we want to be able to accurately establish what are the levels of correspondence between terms so I've mapped our values of confidence to the corresponding predicates as follows:

| OT confidence | EFO relation    | SSOM predicate      |
|---------------|-----------------|---------------------|
| 1.0           | exactName       | owl:eq

[2021-09-30 23:25] #3188 closed

[2021-10-01 06:59] matentzn commented on #3122
Wow, supplying this file in sssom format is _so_ super cool. We are also about to publish the first stable release of the spec, for example: https://mapping-commons.github.io/sssom/Mapping/

The file looks good, but just to double check on your curation rules:

- if two labels match, you assign "equivalent class"
- if a label matches to an exact synonym, you assign "exact match"
- if a label match

[2021-10-01 15:33] kanems opened #3741 "epithelioid hemangioendothelioma SNOMED code"
**Mondo term (ID and Label):**
MONDO:0015523 epithelioid hemangioendothelioma

**Xref that should be fixed (ID and label):**
SCTID:403981003  maps to a concept that does not specific benign/malignant
But SCTID 54124005 includes the syn of "Epithelioid hemangioendothelioma, malignant" which more closely aligns with the definition that Mondo provides.

If the intent is that the Mondo term is generic

[2021-10-01 16:07] ireneisdoomed commented on #3122
Hi @matentzn! Yes, that is exactly the rationale the curation follows.

1. We haven't explored that. Correct me if I am wrong, but we don't have access to such synonyms since the MedDRA ontology is licensed.
2. These are all the matches we have found, i.e. a MedDRA term that our algorithm maps to an existing MONDO term.
3. There is a normalisation process being done. As you say: lower casing, stem

[2021-10-04 10:14] matentzn commented on #3122
Thank you @ireneisdoomed I have this on my list of things to deal with now, but it may take a few weeks before I get to it.

Very excited about all that and thank you for this contribution!

Just a few questions:
1) Would you be willing to keep this mapping "up to date", i.e. deploy the sssom file somewhere public and run the mapping code periodically to catch new and changed terms?
2) If I were t

[2021-10-04 14:34] tibingaman commented on #3530
No worries. Thanks, Nicole!

[2021-10-04 15:06] ireneisdoomed commented on #3122
Thank you @matentzn, I will be very happy to know your comments.

1. Sure, this is something that we can do. These MedDRA terms are picked up from our FAERS pipeline in the first place. We could implement a systematic cross-reference lookup if that is beneficial for all of us.
2. Yes.
3. I am not sure I understand what you mean. Do you want a list of the MedDRA terms that we have not been able to

[2021-10-04 15:26] nicolevasilevsky commented on #3530
Hi @tibingaman FYI - the release is not quite done, hopefully, it will be out later today. Thanks!

[2021-10-04 21:30] #3741 closed

[2021-10-04 22:03] #2782 closed

[2021-10-05 00:08] joeflack4 opened #3751 "Error: "make omim_slurp": "mirror/hp.obo at ../scripts/add-to-tbd.pl line 76""
## Description
I'm new to slurping, but I tried running this script per @matentzn's recommendation. We want to make sure that the output of the [OMIM ingest pipeline](https://github.com/monarch-initiative/omim/tree/main) is slurpable.

## Steps to reproduce
0. Optional: Clone a new copy of the repository
1. Check out my current feature branch: `git checkout origin/omim-makefile-update`
2. `cd src/

[2021-10-05 00:09] joeflack4 commented on #3751
## Description
I'm new to slurping, but I tried running this script per @nicolevasilevsky's recommendation
`src/ontology`: `sh run.sh make omim_slurp`

[2021-10-05 00:50] joeflack4 commented on #2832
I wonder if it's doing this because they're declared like that statically, or by some inference. Still a little new to this. I'm assuming these are mendelian diseases coming from OMIM? Do you think this should be an issue that I should add to [OMIM repo](https://github.com/monarch-initiative/omim/tree/main), or is something likely to be fixed here in the mondo repo?

[2021-10-05 01:02] joeflack4 commented on #1145
I've been assigned similar issue #2630. I have a loose understanding of what might be happening based on what Nicole said a couple comments up. But if anyone has a recommendation as to where to look in the codebase to fix this, thta would be helpful.

[2021-10-05 01:03] joeflack4 commented on #2630
Going to defer to #1145 for the most part.

[2021-10-05 01:24] joeflack4 commented on #1108
@nicolevasilevsky This looks like something that is more approachable for me being new to this codebase.

**Questions**
Do you have any recommendations as to which files I should look at?
Do I only need to update the QC checking code, or does this involve me working with the code that actually handles proxy merges?
How are QC checks ran?

[2021-10-05 01:33] joeflack4 commented on #1526
I am actively working on this in the [OMIM ingest repo](https://github.com/monarch-initiative/omim/tree/main), particularly right here: https://github.com/monarch-initiative/omim/blob/main/omim2obo/parsers/omim_entry_parser.py#L159

Dazhi recently handed this off to me and I did some work on it, so I am quite familiar.

The issue is that we haven't written anything to detect these kind of known sy

[2021-10-05 07:23] matentzn commented on #3122
Re 3: I meant if there is a mapping `MONDO:001 --[skos:exactMatch]--> Meddra:001` that is already in Mondo itself, would it appear in your mapping table? or did you already remove all the mappings that are already in Mondo? Anyways, so not worry :) Just wondering.

[2021-10-05 07:40] matentzn commented on #3751
I hope this was just a [missing make dependency](https://github.com/monarch-initiative/mondo/commit/372c131766106ada5fffc1cf13a91f83fdef5478)! Can you try again?

By the way, awesome work writing this ticket! I think maybe too much, but I truly appreciate your enthusiasm :) Let me know how it goes!

[2021-10-05 10:35] ireneisdoomed commented on #3122
Thank you for the clarification. I don't think any checks of whether the Xref is already present were done.

[2021-10-05 11:39] maglott commented on #1526
NCBI generated a brief list exactly for the same purpose.  I'll dig it out of the code later today. It won't be complete, but it is a start.

[2021-10-05 12:16] ireneisdoomed opened #3752 "Add cross-references from HP"
Hello,

we have identified 2 cross-references between HP and MONDO IDs that are missing:

| HP ID      | HP label             | MONDO ID      | MONDO label          |
|------------|----------------------|---------------|----------------------|
| HP_0001875 | Neutropenia          | MONDO_0001475 | neutropenia          |
| HP_0001096 | Keratoconjunctivitis | MONDO_0004768 | keratoconjunctivitis |

c

[2021-10-05 13:25] #3726 closed

[2021-10-05 13:33] maglott commented on #1526
as I said, only a start:
lower_name	cap_name	pattern
behcet	Behcet	%[ ]behcet[ ]%
brown	Brown	%[-]brown[-]%
danlos	Danlos	%[ -]danlos[ -]%
degos	Degos	%[ -]degos[ -]%
dattani	Dattani	%[ -]dattani[ -]%
dietz	Dietz	%[ -]dietz[ -]%
dreifuss	Dreifuss	%[ -]dreifuss[ -]%
gibbs	Gibbs	%[ -]gibbs[ -]%
harel	Harel	%[ -]harel[ -]%
lupski	Lupski	%[ -]lupski[ -]%
oliver	Oliver	%[ -]oliver[ -]%
Nadh	NADH	Nadh[

[2021-10-05 14:50] nicolevasilevsky commented on #1526
This is really cool @maglott, thanks for sharing!

@joeflack4 Sabrina and I can manually review the terms before they are ingested.

Regarding #2 - I'm not sure if every syndrome will start with a person's name, but we could try this approach, and then we can manually review it.

Thanks @joeflack4!

[2021-10-05 14:59] nicolevasilevsky commented on #1108
@matentzn do we already have a check for this? I feel like we do.

[2021-10-05 15:10] matentzn commented on #1108
In cases like this, check the docs:
https://mondo.readthedocs.io/en/latest/editors-guide/quality-control-tests/#qc-proxy-merge-equivsparql

@joeflack4 All our qc checks are implemented as SPARQL checks - I was hoping that the review. of the Mondo architecture would have explained that a bit but I was worried that maybe this was a bit too much stuff for one hour :P

[2021-10-05 17:26] joeflack4 commented on #3751
Thanks, Nico. Still trying to figure out the culture. Preferred level of investigation in these issues tends to vary. Just trying to make sure I try to look into the cause of the issue at least as much as I'm reasonably able. But yeah I'm generally pretty verbose by default.

I believe we have success!

[code]

[2021-10-05 17:27] #3751 closed

[2021-10-05 17:35] matentzn commented on #3751
Great!

[2021-10-05 19:26] #407 closed

[2021-10-05 19:30] nicolevasilevsky commented on #1108
thanks @matentzn. Can this ticket be closed then?

[2021-10-05 19:35] nicolevasilevsky commented on #2832
I think this has been addressed with our recent reclassification efforts. I don't know if we really need a check for this, this is something that @sabrinatoro and I can keep an eye on.

I vote to close this issue.

cc @sabrinatoro

[2021-10-05 19:42] sabrinatoro commented on #2832
@nicolevasilevsky
I agree that this has been addressed with the reclassification efforts and we can close this issue.

The issue occurs when we obsolete a class/parent term and the children do not have any other parent. The only way to avoid such terms appearing at the high-level classification is to check what happens to the children when obsoleting a term. In other words, it is the curator's res

[2021-10-05 19:50] nicolevasilevsky commented on #2832
Agreed, I will close.

[2021-10-05 19:50] #2832 closed

[2021-10-05 21:56] joeflack4 commented on #1108
Thanks, Nico. I'm just consuming lots of new info about Mondo and FHIR and lots of other stuff as well; having a hard time synthesizing everything. I've added this to my notes.

I agree w/ Nicole it does look like this check exists. Should we close?

[2021-10-05 22:07] joeflack4 commented on #1526
@maglott Thank you so much! I will utilize this. I agree this is likely just a fraction of what the total is. The only one I hesitate on is 'brown', because I imagine there could be some entries where that appears as a word in the label and not a proper person's name. But I'll use this.

@nicolevasilevsky @sabrinatoro For reviewing the OMIM files, I've started publishing them in 'releases' using t

[2021-10-05 23:44] matentzn commented on #1108
No problem :) we can close!

[2021-10-06 01:44] maglott commented on #1526
Glad it may be of use. It looks as if I had not added cases to the conversion table since 2017, and even then I would add only the recurrent ones, because by the time I browsed to find the odd cases, it was easier just to correct each then than define and test the regex

[2021-10-06 13:34] #3537 closed

[2021-10-06 16:25] #3539 closed

[2021-10-06 17:07] nicolevasilevsky commented on #2544
to do:
- [ ] UMLS:C0220769 should be MONDO:superClassOf on 'FG syndrome'
- [ ] UMLS:C0220769 should be MONDO:equivalentTo on 'FG syndrome 1'
- [ ] Orphanet:323 should be MONDO:equivalentObsolete on 'FG syndrome'

@kanems
OMIM:305400 seems to be an appropriate child of 'FG syndrome'
![image](https://user-images.githubusercontent.com/6722114/136250566-cf7366bf-253c-450d-b116-1973bbdcd072.png)

[2021-10-06 17:26] kanems commented on #3693
@nicolevasilevsky Yes, thank you for following up with Orpha and OMIM! Please always feel free to double check with the "authoritative sources" when I come with a question or suggested merge based on other database information. I am by no means an expert on 99% of the things I am asking about and will happily defer to someone with more knowledge.

[2021-10-06 17:29] kanems commented on #2544
@nicolevasilevsky Thank you for following up on this. I will review and see if I need to add this to my list of questions for UMLS.

[2021-10-06 18:13] #3541 closed

[2021-10-06 18:33] nicolevasilevsky commented on #2575
These terms should be split:
**New term 1:**
Label: Thomsen and Becker disease
syn: myotonia congenita
xrefs:
Orphanet:614
DOID:2106
GARD:0012301
ICD10:G71.1
ICD10:G71.12
ICD9:359.22
MedDRA:10028655
MedDRA:10043461
MESH:D009224
NCIT:C84912
OMIM:160800
....
Keep all the existing xrefs as is except OMIM:255300

**New term 2:**
Label: Batten-Turner congenital myopathy
xref: OMIM:255300

[2021-10-06 18:58] nicolevasilevsky commented on #2580
@kanems I'm not sure if any action is required here from Mondo? Please reopen if anything needs to be done, thanks!

[2021-10-06 19:42] #2582 closed

[2021-10-06 20:04] nicolevasilevsky commented on #2597
'spastic diplegia' is a child of 'spastic cerebral palsy', so it inherits all the properties of spastic cerebral palasy, so I think these two concepts are equivalent.

I will close this but please reopen if you would like to revisit.

[2021-10-06 20:17] nicolevasilevsky commented on #2637
https://meshb.nlm.nih.gov/record/ui?ui=D065768 is Lennox Gastaut Syndrome
https://meshb.nlm.nih.gov/record/ui?ui=C535500 is Epileptic encephalopathy, Lennox-Gastaut type

I think the annotations in Mondo are correct.

Closing, but please reopen if additional work is needed, thanks!

[2021-10-06 20:17] #2637 closed

[2021-10-06 20:36] nicolevasilevsky commented on #2668
to do:
- [ ] merge MONDO:0018348 'polyglucosan body myopathy type 1' with MONDO:0014389 'polyglucosan body myopathy 1 with or without immunodeficiency'

[2021-10-06 20:38] nicolevasilevsky commented on #2825
@ahamosh could you please comment on this?

I don't think there is any action for Mondo.

Thanks!

[2021-10-06 21:30] nicolevasilevsky commented on #522
related to https://github.com/monarch-initiative/mondo/issues/3698

[2021-10-06 22:09] nicolevasilevsky opened #3767 "[Revise subclass] 'autosomal dominant rhegmatogenous retinal detachment'"
**Mondo term (ID and Label)**
'autosomal dominant rhegmatogenous retinal detachment'

**Suggested revision and reasons**
should be a child of 'retinal disease'
exclude 'Stickler syndrome, type I, nonsyndromic ocular'

[2021-10-06 22:29] ahamosh commented on #2926
as far as I can tell orphanet:300547 is the same as the OMIMPS:143880, not just OMIM 143880.

[2021-10-07 12:58] #3767 closed, assigned to nicolevasilevsky

[2021-10-07 14:35] nicolevasilevsky commented on #2203
to do:
- [ ] relabel phaeochromocytoma to pheochromocytoma
- [ ] phaeochromocytoma should be an exact synonym

[2021-10-07 17:43] nicolevasilevsky commented on #1745
per Mondo call - unsure if the proposed plan is the best way to proceed. See paper:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3779419/

[2021-10-07 22:36] nicolevasilevsky commented on #3183
draft ROBOT template is [here](https://docs.google.com/spreadsheets/d/1tt1Wk70j9XiHLV1vKQyNiHhaazh286pobpJk1ecSCCg/edit#gid=421345331)

[2021-10-11 18:56] nicolevasilevsky opened #3776 "[Merge] 'hereditary late onset Parkinson disease' and 'late-onset Parkinson disease'"
**Mondo term (ID and Label)**
MONDO:0018466 'hereditary late onset Parkinson disease'

**Reason for deprecation**
These two terms are equivalent. 'late-onset Parkinson disease' is a child of the OMIM phenotypic series 'Parkinson disease', which is an inherited form of the disease, so the class 'late-onset Parkinson disease' inherits the hereditary form.

**Term to be merged with**
MONDO:0008199 'l

[2021-10-11 19:41] nicolevasilevsky opened #3777 "equiv between '2p21 microdeletion syndrome' and 3 other classes"
'2p21 microdeletion syndrome' is inferred to be equivalent to three other classes:
'hypotonia-cystinuria syndrome type 1'
'homozygous 2p21 microdeletion syndrome'
'hypotonia-cystinuria syndrome'

I think this may be caused by the new axioms using monochrome - this isn't right though, is it? I'm surprised the qc checks didn't catch this.

[2021-10-11 19:52] #3740 closed

[2021-10-11 20:50] matentzn commented on #3777
how did you find these? robot does not..

[2021-10-11 20:54] nicolevasilevsky commented on #3777
Hm, that link doesn't work, here is a screenshot:
![image](https://user-images.githubusercontent.com/6722114/136854319-25819de4-9da7-4910-8418-4043e6fb7a91.png)

[2021-10-11 21:05] cmungall commented on #3777
this is from a check that ensures all subClassOfs are proper subClassOfs https://douroucouli.wordpress.com/2018/09/04/debugging-ontologies-using-owl-reasoning-part-2-unintentional-entailed-equivalence/

[2021-10-11 21:32] nicolevasilevsky commented on #3777
related to: https://github.com/monarch-initiative/mondo/issues/3664

[2021-10-11 22:28] nicolevasilevsky commented on #3777
Per @cmungall's guidance, I ran the [check for unsatisfiable classes](https://mondo.readthedocs.io/en/latest/editors-guide/check-for-unsatisfiable-classes/) and this was in Protege:

![image](https://user-images.githubusercontent.com/6722114/136862673-525a48f5-3667-4099-bf85-94569d58140d.png)

![image](https://user-images.githubusercontent.com/6722114/136862684-44467d62-9799-4085-898d-5bb6bceff627

[2021-10-11 22:37] nicolevasilevsky commented on #3777
Note - in the 3rd explanation, Chris spotted this:
![image](https://user-images.githubusercontent.com/6722114/136863294-3a0f9b4c-783c-4f7c-9c5f-0318a04b295f.png)

He noted there is a comment in the mondo-edit file:

id: MONDO:0011669
name: hypotonia-cystinuria syndrome
def: “Hypotonia-Cystinuria syndrome (HCS) is a rare syndrome including neonatal and infantile hypotonia and failure to thrive, cys

[2021-10-11 23:00] nicolevasilevsky opened #3782 "Merge MONDO:0016538 'hypotonia-cystinuria syndrome type 1'"
**Mondo term (ID and Label)**
MONDO:0016538 'hypotonia-cystinuria syndrome type 1'

**Reason for deprecation**
This is labeled as a disease grouping in Mondo, that comes from Orphanet and there doesn't seem to be any evidence of this as a disease outside of Orphanet. It was causing some issues in Mondo per https://github.com/monarch-initiative/mondo/issues/3777. It appears to be a duplicate.

**Te

[2021-10-11 23:04] cmungall commented on #3777
OK there may be more work to do than a simple merge. The axiomatization is revealing all kinds of other issues

e.g. I was suspicious of this:

![image](https://user-images.githubusercontent.com/50745/136865262-0584aba5-7446-4cd7-a390-379b24bfb5cf.png)

here is the explanation:

![image](https://user-images.githubusercontent.com/50745/136865231-c9b35220-6203-46c7-8b81-44a2caa333ed.png)

[2021-10-12 00:51] nicolevasilevsky opened #3784 "need to create tickets for Chris' editor comments"
When Chris created Mondo, he added a lot of comments with editor notes.

They all say "Editor note: ...."

Could one of you do a SPARQL query to get all of the terms that have an Editor note please? Chris requested that we create tickets for these.

Thanks!

[2021-10-12 03:35] cmungall opened #3785 "various mucopolysaccharidosis classification issues"
This grouping does no work:

id: MONDO:0019302
name: mucopolysaccharidosis with skin involvement
subset: disease_grouping
subset: ordo_group_of_disorders {source="Orphanet:79388"}
synonym: "MPS with skin involvement" EXACT [Orphanet:79388]
xref: Orphanet:79388 {source="MONDO:equivalentTo"}
is_a: MONDO:0019249 {source="MONDO:cjm"} ! mucopolysaccharidosis
is_a: MONDO:0019301 {source="Orphanet:79388"

[2021-10-12 05:57] cmungall commented on #3784
Can you not search in protege?

On Mon, Oct 11, 2021, 5:51 PM Nicole Vasilevsky ***@***.***>
wrote:

[2021-10-12 18:26] matentzn commented on #3784
@sabrinatoro should be able to do this :) If problems share yasgui link and I will finish it. You should give it a go @nicolevasilevsky actually!

[2021-10-12 19:57] nicolevasilevsky opened #3787 "[Merge] MONDO:0019302"
**Mondo term (ID and Label)**
MONDO:0019302 mucopolysaccharidosis with skin involvement

**Reason for deprecation**
grouping class with a single child. It is a synonym for the child term.

**Term to be merged with**
MONDO_0010674 'mucopolysaccharidosis type 2'

related to https://github.com/monarch-initiative/mondo/issues/3785

[2021-10-12 20:03] nicolevasilevsky opened #3788 "[Obsolete] 'mucopolysaccharidoses, unclassified types'"
**Mondo term (ID and Label)**
MONDO:0009654 'mucopolysaccharidoses, unclassified types'

**Reason for deprecation**
no new evidence since 1980

**Suggested term to consider**
MONDO_0019249 mucopolysaccharidosis

Realted to https://github.com/monarch-initiative/mondo/issues/3785

[2021-10-12 20:10] nicolevasilevsky commented on #3785
Action items:
- [ ] exclude http://purl.obolibrary.org/obo/MONDO_0019249 (source MONDO:cjm) as a superclass for 'mucopolysaccharidosis-like syndrome with congenital heart defects and hematopoietic disorders'
- [ ] we need a general DP for X-like:
X or X-like
X
X-like
Note in the pattern: sometimes we feel there is insufficient reason to group, and X and X-like are not connected via shared is-a but

[2021-10-12 23:31] joeflack4 commented on #2770
Just adding some notes from our meeting on 2021/10/08. Forgive the sloppy notetaking:

infalmed neoplasm something 101. if she makes a new pullrequest, same thing -2, mondo 002. if she merges first pr into master branch, git doesn't understand that the neoplasm 2, where it should go. from git diff perspective, it should be whatever term.
basically issue is that the git chunk, same git chunk, has b

[2021-10-13 14:14] drseb opened #3790 "pneumonia icd-10 ref"
**Mondo term (ID and Label):**

pneumonia

http://purl.obolibrary.org/obo/MONDO_0005249

**Xref that should be fixed (ID and label):**

ICD-10 currently maps to the bacterial form (_Bacterial pneumonia, not elsewhere classified J15_), but the definition is etiology-agnostic with

I think a better code **could** be _Pneumonia, unspecified organism J18_ (or even J18.9), but I am not sure if that exc

[2021-10-13 19:38] pnrobinson commented on #3697
There are some problems here @nicolevasilevsky @kanems

1. Guillain-Barre syndrome, familial (MONDO:0007691) -- there is a familiar (Mendelian form) of Guillain-Barre syndrome (GBS), see [OMIM:139393](https://omim.org/entry/139393). However, most cases are not Mendelian. The definition of the familial (Mendelian) form is this: A chronic monophasic, progressive or relapsing symmetric sensorimotor d

[2021-10-13 19:42] pnrobinson commented on #3697
chronic inflammatory demyelinating polyneuropathy seems to be a separate disease category, I do not think that GBS belongs as a subtype

[2021-10-13 19:43] pnrobinson commented on #3697
see also https://github.com/monarch-initiative/mondo/issues/2830, I think these are the same issue actually, we can probably close the older one

[2021-10-14 00:08] #2203 closed

[2021-10-14 01:53] nicolevasilevsky commented on #3694
Thanks @pnrobinson!

[2021-10-14 01:55] nicolevasilevsky commented on #2830
closing - duplicate

[2021-10-14 01:55] #2830 closed

[2021-10-14 13:55] kanems opened #3796 "Merged OMIM ref"
**Mondo term (ID and Label):**
MONDO:0009494
Ketoadipicaciduria

**Xref that should be fixed (ID and label):**
OMIM:245130
Per OMIM: ^ 245130
MOVED TO 204750

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2021-10-14 14:10] kanems opened #3797 "MONDO:0007684 [Merge]"
**Mondo term (ID and Label)**
MONDO:0007684 granulomatous disease, chronic, autosomal dominant type

**Reason for deprecation**
OMIM  138990
MOVED TO 306400

**Term to be merged with**
MONDO:0010600, granulomatous disease, chronic, X-linked

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-10-14 15:16] #2630 closed

[2021-10-14 15:16] kanems opened #3799 "MONDO:0009004 [Merge]"
**Mondo term (ID and Label)**
MONDO:0009004 combined inflammatory and immunologic defect

**Reason for deprecation**
OMIM 216920 has been MOVED TO 615816

**Term to be merged with**
MONDO:0014353, PGM3-CDG (OMIM name is IMMUNODEFICIENCY 23; IMD23, does Mondo want to keep PGM3-CDG as the preferred name? This follows the latest CDG community practices in naming that I was aware of, but I seem to rec

[2021-10-14 15:22] kanems opened #3800 "MONDO:0012356 glomerulocystic kidney disease with hyperuricemia and isosthenuria [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0012356 glomerulocystic kidney disease with hyperuricemia and isosthenuria

**Reason for deprecation**
OMIM 609886 MOVED TO 162000 AND 137920

**Suggested term to consider**
? Since the disease represented by the MIM number is split into two, not sure if there is a clear merge or if this should just be obsoleted. The other OMIM numbers are presumably already in

[2021-10-14 15:26] #3790 closed

[2021-10-14 15:26] kanems opened #3801 "MONDO:0008091 abnormal neutrophil chemotactic response [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0008091 abnormal neutrophil chemotactic response

**Reason for deprecation**
OMIM 162820 MOVED TO 147060, 150550, AND 252270
No other X-refs on this term.

**Suggested term to consider**
The other MIM numbers are already represented in Mondo. (MONDO:0007883 MONDO:0009646 and MONDO:0018037)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can si

[2021-10-14 16:19] kanems opened #3803 "MONDO:0010527, microphthalmia-ankyloblepharon-intellectual disability syndrome [Merge]"
**Mondo term (ID and Label)**
MONDO:0010527,
microphthalmia-ankyloblepharon-intellectual disability syndrome

**Reason for deprecation**
OMIM 301590 moved to 309800;
OMIM says MCOPS4 is the same disorder at MCOPS1. "A form of syndromic microphthalmia, formerly designated MCOPS4, has been found to be the same entity as MCOPS1." https://www.omim.org/entry/309800

**Term to be merged with**
MONDO:001

[2021-10-14 16:37] kanems opened #3804 "[Merge] MONDO:0007815 immunodeficiency with defective leukocyte and lymphocyte function and with response to histamine-1 antagonist"
**Mondo term (ID and Label)**
MONDO:0007815,
immunodeficiency with defective leukocyte and lymphocyte function and with response to histamine-1 antagonist

**Reason for deprecation**
OMIM moved 146840 to 147600

**Term to be merged with**
MONDO:0007818,
Hyper-IgE recurrent infection syndrome 1 (where MIM:147060 maps)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up fo

[2021-10-14 16:43] kanems opened #3805 "MONDO:0008122 , olivopontocerebellar atrophy 5 [Merge]"
**Mondo term (ID and Label)**
MONDO:0008122 , olivopontocerebellar atrophy 5

**Reason for deprecation**
OMIM 164700 MOVED TO 607136

**Term to be merged with**
MONDO:0011781, spinocerebellar ataxia type 17

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-10-14 17:02] kanems opened #3807 "MONDO:0011329, cerebral palsy, spastic quadriplegic, 1[Merge]"
**Mondo term (ID and Label)**
MONDO:0011329, cerebral palsy, spastic quadriplegic, 1

**Reason for deprecation**
OMIM 603513 has been MOVED TO 619026 AND 612900 (but 619026 looks like the single clear match for the CPSQ1 concept)

**Term to be merged with**
MONDO:0033613, neurodevelopmental disorder with progressive spasticity and brain white matter abnormalities

**Your nano-attribution (ORCID)**

[2021-10-14 17:25] kanems opened #3808 "MONDO:0013172 polymicrogyria with optic nerve hypoplasia"
**Mondo term (ID and Label):**
MONDO:0013172  polymicrogyria with optic nerve hypoplasia

**Xref that should be fixed (ID and label):**
OMIM 613180 should be removed (OMIM has retired that term and merged it with another MIM number, but the new MIM number has molecular cause of SNAP29 loss of function, but the ORPHA:250972 term is linked to TUB8 variation, probably need to maintain the distinction

[2021-10-14 17:36] laurenechan opened #3809 "Restructuring poisoning branch"
The poisoning/intoxication branch may require additional structuring/hierarchy, previously discussed on #3002

I will be evaluating some review articles to assess if there are common hierarchies that are used within this area that we can utilize for this branch.

[2021-10-14 18:15] nicolevasilevsky opened #3810 "relabel 'lazy leukocyte syndrome'"
**Mondo term (ID and Label):**
'lazy leukocyte syndrome'

**Suggested new label:**
periodic fever, immunodeficiency, and thrombocytopenia syndrome

lazy leukocyte syndrome should be an exact synonym and marked A synonym that is historic and discouraged

[2021-10-14 18:27] #3785 closed, assigned to nicolevasilevsky

[2021-10-14 18:38] nicolevasilevsky opened #3811 "need to review editor comments and take action"
Chris has left a lot of Editor notes on Mondo terms when he created the ontology. The list of terms with editors notes is [here](https://docs.google.com/spreadsheets/d/1HnB4tzrEEhveexu_EpzYedJXcpjzLn0m_6WBxIDYzGs/edit#gid=2065632152).

This is a long list, but over time, we should review these comments and take appropriate action.

related to: https://github.com/monarch-initiative/mondo/issues/378

[2021-10-14 18:38] #3784 closed

[2021-10-14 20:28] nicolevasilevsky commented on #1145
@matentzn said he is pretty sure this is fixed. We should check it after the next release in November (in mid-November when OLS picks up the newest release). I'll set myself a reminder.

[2021-10-14 20:36] nicolevasilevsky commented on #3800
this is already tagged for obsoletion:
https://github.com/monarch-initiative/mondo/issues/1880#issuecomment-909821947

I will close this ticket. This will be obsoleted in the December release.

[2021-10-14 20:36] #3800 closed

[2021-10-14 21:13] nicolevasilevsky opened #3812 "make related synonyms exact synonyms when they match the primary label"
per Nico, use this command

`sh run.sh make related_to_exact_where_label`

[2021-10-14 22:13] #3812 closed

[2021-10-14 22:47] #3594 closed

[2021-10-14 22:48] #3575 closed

[2021-10-14 22:48] #3573 closed

[2021-10-14 23:05] #3442 closed

[2021-10-14 23:06] #3172 closed

[2021-10-14 23:07] #3183 closed

[2021-10-15 16:58] joeflack4 commented on #3684
New pipeline looks like it's working now!

[2021-10-15 17:55] #3808 closed, assigned to nicolevasilevsky

[2021-10-15 17:56] #3725 closed

[2021-10-16 01:59] nicolevasilevsky opened #3828 "chromosomal deletion terms should not be children of their features"
eg 2p21 microdeletion syndrome is a child of 'respiratory system disease'

related to #3777

[2021-10-17 18:16] #3777 closed, assigned to matentzn, sabrinatoro

[2021-10-17 20:55] #1145 closed

[2021-10-17 21:07] joeflack4 commented on #2339
This looks to be down my alley. Sounds like RDFLib might be good to use for this. With a returned failure, I can also easily print out all the terms that failed.

**Questions**
@cmungall @matentzn
1. When you say 'terms', I should be looking up by CURIE, is that correct?
2. Is this not the kind of thing that could be automated as part of the build process for the OMIM ingest pipeline repo?
3. If (

[2021-10-18 00:08] joeflack4 commented on #1901
@matentzn Not sure if/where to start here. Do you think this task is already largely completed? I know there are further issues related to the OMIM ingest, but I'm wondering if there's anything left in this issue that still needs to be completed. If there's anything left that isn't covered in another issue, could you enumerate what's left to be done here? Otherwise, maybe this issue is ready to be

[2021-10-18 00:18] joeflack4 commented on #897
**Questions**
I've labeled this `needs clarification` for now; I'm still not too familiar with this code base.
1. @pnrobinson What are you doing (i.e. specific commands) when this happens? That will help me know where to look.
2. @cmungall @matentzn Or if you guys can point me in a specific direction, that would be helpful. I searched the codebase for "serialization" and "json", but didn't find mu

[2021-10-18 00:24] joeflack4 commented on #2631
@matentzn I believe this is successfully handled by the current OMIM ingest pipeline. If that is correct, can you close this?

[2021-10-18 00:34] joeflack4 commented on #1199
@nicolevasilevsky Hey Nicole. I'm not even sure where to begin with this one. Maybe a good one to discuss in a call (my guess is that Dazhi was briefed on this in February) rather than a thread, but if you think you can provide me enough information here to get me started, feel free to proceed.

[2021-10-18 00:57] joeflack4 commented on #1217
@matentzn Agreed. Sorry if you guys are having to discuss these issues a second time w/ Dazhi gone. I've added `needs clarification` label to this. I have some idea as to how I would do this in OMIM, but I'm not sure where I would go within this codebase to do this work. As for making URLs resolving (if or how), I'm not too sure on that either.

[2021-10-18 01:42] joeflack4 commented on #768
@nicolevasilevsky This seems like a good first issue for me to work on. Do you think this work would be as simple for me to complete as an edit to a single line in `mondo.owl` or `mondo.obo`?

[2021-10-18 01:50] joeflack4 commented on #783
@nicolevasilevsky This seems like an easy starter. Where do I go to make these changes? It sounds like for this one i would want to edit source data or some transformative code, but not sure where to look.

[2021-10-18 02:05] joeflack4 commented on #829
Oh man, I thought that this would be an easy one given the title. But looks like this is more complex than I thought. Not sure where to start with this one. Looks like this is primarily an  [Ontobee](https://github.com/OntoZoo/ontobee) [issue](https://github.com/OntoZoo/ontobee/issues/150)? @nicolevasilevsky Is this something I should indeed be working on? I don't mind diving into a new code base

[2021-10-18 05:01] peupeubangbang opened #3829 "WWOX epileptic encephalopathy synonyms"
**Mondo term (ID and Label)**
MONDO:0014533
Developmental and epileptic encephalopathy, 28

**Synonym to be added**
WOREE syndrome
WWOX-related epileptic encephalopathy

**Synonym subtype: ie, broad/exact/narrow/related**
Exact

**Database cross reference for the synonym** Such as PubMed ID (in the format PMID:XXXXXX) or a cross-reference to another ontology, like OMIM or Orphanet.
PMID:30356099