[2020-10-13 01:40] pnrobinson commented on #1745
Orphanet itself says there is an exact match to the OMIM disease. Both are related to PAX6 mutations. I think we should ask Ada if she feels there is a case to be made for adding a new PAX6 OMIM entry to cover the Orphanet description. However, I would guess that they are both referring to the "same thing", which is a small collection of imperfectly described case reports

[2020-10-13 11:25] maglott commented on #1745
This is an example of whether we want to process by ID (Orphanet/OMIM/UMLS/NCIT), by causative gene, or by label for the condition.
If distinctions are fuzzy at best, and we should lump aplasia and hypoplasia, unilateral and bilateral, then the definitions and the xrefs should make that clear.  I am hoping we can avoid, however, equating labels and their ids as exact matches when they are related.

[2020-10-13 11:46] pnrobinson commented on #1745
What I am saying is that it is impossible to know if there truly is a separation into two distinct diseases based on the data provided and given that all diseases are variable.  If we restrict ourselves to those with a molecularly confirmed disease there are four patients described in the OMIM entry (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1180317/). Not enough information is provided by the

[2020-10-13 12:08] maglott commented on #1745
Hi Peter,
I think we are agreeing. I am asking only that Mondo be careful in its assignments of definitions , terms, synonyms (exact or related)  and XRefs when concepts fuzzy.

[2020-10-13 13:05] maglott opened #2116 "[Revise subclass] MONDO:0016587, arrhythmogenic right ventricular cardiomyopathy"
**Mondo term (ID and Label)**
MONDO:0030062 'arrhythmogenic right ventricular dysplasia, familial, 14'

**Suggested revision and reasons**
Should this be a direct child of MONDO:0016342 'familial isolated arrhythmogenic right ventricular dysplasia' rather than a sibling?

**Your nano-attribution (ORCID)**
0000-0001-7451-4467

[2020-10-13 16:16] nicolevasilevsky commented on #2116
Yes, I believe so. This is how it is classified in Orphanet, not sure why it wasn't done this way in Mondo - I will fix.
Thanks @maglott

[2020-10-13 16:36] nicolevasilevsky commented on #2083
closed by mistake - reopening

[2020-10-13 18:03] ValWood opened #2118 "[Revise subclass] Diamond-Blackfan anemia (MONDO:0015253)"
Diamond-Blackfan anemia (MONDO:0015253)

is currently
inborn disorder of purine metabolism (MONDO:0019236)

this doesn't seem correct

is there a reference for that?

( disease causing genes are mainly ribosomal proteins)

[2020-10-13 18:44] callahantiff commented on #2063
OK, synonyms and dbxrefs added as new commit to PR #2109. Happy to make any needed changes!

[2020-10-13 21:34] nicolevasilevsky commented on #2118
the reference is from Orphanet:124
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_124

@ValWood do you think we should exclude this as a parent? (There is a related ticket to review parent terms that come from Orphanet, see #1520)

[2020-10-13 21:55] ValWood commented on #2118
I would defer to an expert, as I'm not at all sure. But it seems wrong based on my cell biology knowledge. When I search PubMed for  "Blackfan" and "purine" the source is likely these 2 papers, which are disease markers.

@pnrobinson

Elevated red cell adenosine deaminase activity: a marker of disordered erythropoiesis in Diamond-Blackfan anaemia and other haematologic diseases.
Glader BE, Backer

[2020-10-13 21:56] nicolevasilevsky commented on #2118
thanks @ValWood!

[2020-10-13 22:14] pnrobinson commented on #2118
Elevated red cell adenosine deaminase level is a common feature of BDA. However, these diseases are not (to my knowledge) considered to be inborn disorders of purine metabolism, they are related to ribosomal proteins. This is ourr multiparentage problem -- if we make a parentage for every feature, then each disease will have k parents where k is the number of organs with abnormalities. I would sug

[2020-10-13 22:18] nicolevasilevsky commented on #2118
thank you @pnrobinson!

I think these two parents should be removed too, please let me know if you disagree:

- 'orofacial clefting syndrome'
- 'polymalformative genetic syndrome with increased risk of developing cancer'

[2020-10-13 22:19] nicolevasilevsky commented on #1878
@tsneddon thanks so much - I see the problem, I am working on this now.

[2020-10-13 22:21] pnrobinson commented on #2118
The other two parents are not *always* true for individual patients. What is the current "main" parent of these terms?

[2020-10-13 22:28] nicolevasilevsky commented on #2118
These are all the parents at the moment:
![image](https://user-images.githubusercontent.com/6722114/95922625-88ee2380-0d68-11eb-9f5e-686e65cca6b7.png)

If I remove the proposed parents above though, all the inferred parents go away:

![image](https://user-images.githubusercontent.com/6722114/95922685-ade29680-0d68-11eb-81a7-d6d625f4e5d9.png)

[2020-10-13 23:47] nicolevasilevsky commented on #1878
This one is complicated, it turns out!

I believe MONDO_0019510 'autosomal dominant medullary cystic kidney disease without hyperuricemia' is equivalent to MONDO_0020726 'medullary cystic kidney disease 1'.

I am going to merge these two. I'll need @cmungall to review before this can be merged into the ontology though.

I also did the following. @tsneddon let me know if anything needs clarificatio

[2020-10-13 23:48] nicolevasilevsky commented on #1878
Note - I revised the title

[2020-10-14 05:29] cmungall opened #2120 "Map to Animal Health Ontology for Livestock"
https://www.atol-ontology.com/en/erter-2/#

[2020-10-14 05:49] cmungall commented on #2120
Something wrong with the OWL

E.g.

![image](https://user-images.githubusercontent.com/50745/95948884-5236fe00-0da6-11eb-8303-093c7c568439.png)

compared to

![image](https://user-images.githubusercontent.com/50745/95948904-5cf19300-0da6-11eb-96d9-00a46713beae.png)

[2020-10-14 07:54] ValWood commented on #2118
keep some or all of
is_a anemia with erythroblastopenia.
is_a congenital anemia
is_a pure red-cell aplasia
is_a inherited aplastic anemia

remove these
is_a developmental anomaly of metabolic origin
is_a orofacial clefting syndrome
is_a polymalformative genetic syndrome with increased risk of developing cancer
is_a genetic otorhinolaryngologic disease
is_a inborn disorder of purine metabolism
is_a

[2020-10-14 09:22] aholovenko opened #2121 "Add a tag `latest` with the version of the last built"
We want to be able to download a specific file from latest build without the need to specify the name of the tag:
[code]
[code]
Is it possible to maintain such a tag?

[2020-10-14 13:21] d0choa opened #2122 "Unspecific "intrinsic" synonym"
**urethral intrinsic sphincter deficiency (MONDO_0001721)**

"intrinsic" is listed as one of the synonyms of the disease.

Follow up ticket in [EFO](https://github.com/EBISPOT/efo/issues/873)

[2020-10-14 15:00] maglott opened #2124 "MONDO:0032908: add synonyms to CEBALID syndrome"
**Mondo term (ID and Label)**
MONDO:003290 CEBALID syndrome

**Synonym to be added**
MN1 C-terminal truncation syndrome
MCTT

**Synonym subtype: ie, broad/exact/narrow/related**
exact

https://rarediseases.org/rare-diseases/mn1-c-terminal-truncation-syndrome/

**Database cross reference for the synonym** Such as PubMed ID (in the format PMID:XXXXXX) or a cross-reference to another ontology, like O

[2020-10-14 15:39] balhoff commented on #2121
@aholovenko I think what you want is "current" instead of "latest":

`https://github.com/monarch-initiative/mondo/releases/download/current/mondo-with-equivalents.owl`

However I wouldn't rely on this URL, since it could be changed to a different storage solution in the future. There are permanent URLs for accessing Mondo and other OBO ontologies, e.g.:

`http://purl.obolibrary.org/obo/mondo/mondo

[2020-10-14 16:03] #2122 closed

[2020-10-14 16:05] d0choa commented on #2122
Thanks!

[2020-10-14 20:23] nicolevasilevsky opened #2126 "Relabel terms to 'intellectual disability'"
There are still a lot of terms in the Mondo edit file and released file that use MR instead of 'intellectual disability (for example: https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0024542)

I thought all of these had been changed and the synonyms were deprecated, but it doesn't seem to be the case.

Is there a way to script in this change?

[2020-10-14 20:55] maglott commented on #1878
should the list of genes in the definition be OR rather than AND
something more like
...caused by mutations in genes encoding uromodulin (UMOD), hepatocyte nuclear factor-1β (HNF1B), renin (REN), or mucin-1 ...

[2020-10-14 23:00] cmungall commented on #2083
nicole - we need to work on the susceptibility patterns

for now how about obsoleting the existing ID, making a new one that is not mendelian, but still doing an exact xref to OMIM with the possibility of making a distinct concept later

[2020-10-15 12:33] matentzn opened #2127 "Rework mondo source update mechanism into the Mondo makefile itself"

[2020-10-15 12:40] maglott opened #2128 "[Revise subclass] glycogen storage diseases"
Action items:
- [x] relabel MONDO_0010598 to glycogen storage disease IXa1
- [x] revise def for MONDO_0010598: Def:  Any glycogen storage disease in which the cause of the disease is a mutation in the PHKA2 gene, with no PHK activity in liver or erythrocytes.
- [x] add new term glycogen storage disease IXa2, xref OMIM:306000 MONDO:siblingOf. Add synonym GSD9A2 (exact, OMIM:306000). Def:  Any glyco

[2020-10-15 13:06] matentzn opened #2129 "Reflexive annotations"
A new check spots reflexive annotations, i.e. annotations to itself. Fix?

[code]

[2020-10-15 17:01] nicolevasilevsky commented on #1640
Note to self:
Follow up with Ingo and Ada and ask if we still want to remove these age-of-onset classifications

[2020-10-15 17:24] #1975 closed

[2020-10-15 18:43] nicolevasilevsky opened #2131 "[Obsolete] X-linked recessive intellectual disability-macrocephaly-ciliary dysfunction syndrome"
id: MONDO:0019389
name: X-linked recessive intellectual disability-macrocephaly-ciliary dysfunction syndrome

Obsoleted in Orphanet

[2020-10-15 18:45] cmungall commented on #2034
I quite like the axioms we have that use NBO, but there are only a handful, I am not sure how we are with things like making a base file for NBO. May be easier to filter for now?

Does this come from the ecto import?

I'm sure this must come from the ecto import? We needed this way back before we added energy terms to envo

Switch these to ncbi gene IDs. Maybe make a ticket for this

no idea how t

[2020-10-15 19:00] cmungall opened #2133 "Add a design pattern template for phenotypic-series level terms"
Note these will not be used computationally as we typically would not have a logical def(*). Though in some cases it will have a def from another pattern, so this will be a nondisjoint DP

This will largely be a documentative yaml. See previous tickets and PRs for docs to be added.

An example is:

[code]

Briefly

 - every instance of this metaclass should be equivalent to (via annotated xref) to

[2020-10-15 19:20] cmungall commented on #2133
TBD: whether to have a sub-pattern for susceptibility PSs

[2020-10-15 19:31] galyea-gard commented on #1878
Hi!  Very interesting all of these.  In GARD we have the following:
Autosomal dominant tubulointerstitial kidney disease (parent term) that have the following subtypes:

- Autosomal dominant tubulointerstitial kidney disease due to MUC1 mutations (synonyms: MCKD1; **Medullary cystic kidney disease type 1**(which comes from OMIM); MUC1-related autosomal dominant medullary cystic kidney disease; MUC

[2020-10-15 21:00] galyea-gard commented on #1902
This is a bit complex and  GARD does not have this condition yet.  About 20% of ALS cases are associated with  FTD (which is known as ALS-FTD or as FDD-ALS).  ALS have different genetic "subtypes".  One of these, "C9orf72-Related Amyotrophic Lateral Sclerosis and Frontotemporal Dementia" I think is the most accurate on defining the cases where ALS and FTD are associated features (Please see: OMIM

[2020-10-15 23:09] cmungall commented on #2129
indeed, the semantics of excluded_subClassOfare intended to follow subClassOf  (i.e `x excluded_subClassOf y <==> not(x subClassOf y)`)  which is reflexive, so these would all be correctly flagged as unintentional

I assume these arose from merges. I'd just go ahead and remove the annotation without further examination

[2020-10-16 08:39] #2094 closed

[2020-10-16 10:14] matentzn opened #2134 "Remove related synonym where there is already an exact"
We have many cases where there are related synonyms that are already exact. The way this ticket will work is this:

1. You (@nicolevasilevsky) work through [this table](https://docs.google.com/spreadsheets/d/1at_bN5bzNiKtJKtkPXPw2tTcFyWbGttMV_q-1AQzAJk/edit#gid=0) in your own time (I gave you access in a separate email).

The table looks like this:

ID | Label | Synonym | Type | Broken and fixed
-

[2020-10-16 10:16] matentzn commented on #2134
Note this is a very labour intensive ticket - I would not try to fix it in one go. This is part of our great Mondo spring cleaning action :) Let me know if I can help you further with this!

[2020-10-16 15:56] nicolevasilevsky opened #2137 "[Obsolete] MONDO_0015560 'classic mast cell leukemia'"
**Mondo term (ID and Label)**
MONDO_0015560 'classic mast cell leukemia'

**Reason for deprecation**
obsoleted in Orphanet

**Suggested term to consider**
n/a

[2020-10-16 16:18] matentzn commented on #2134
Updated instructions:

1. If you have to check Protege in any case, delete either the related or the exact synonym. Also check that there are not multiple instances of the same exact synonym with different xrefs
2. If you can see whats what from the table, just fill in the row. Intuition is fine, does not have to be perfect.

[2020-10-16 16:37] cmungall opened #2138 "Pattern documentation"
Manually authored README:

https://github.com/monarch-initiative/mondo/blob/master/src/patterns/README.md

all links are broken

Auto-generated docs, all in one page:

https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/README.md

 - [ ] IRIs are broken
 - [ ] link to TSVs are broken
 - [ ] many say _This is auto-generated. Add your description here_ @nicolevasilevs

[2020-10-16 16:47] cmungall commented on #2138
It would be awesome if in addition to a link to a `head foo.tsv | tbl2ghwiki` to make a sample table

[code]

[2020-10-16 17:19] #2100 closed

[2020-10-16 17:50] matentzn commented on #2138
I have updated the pages:
- all links and IRIs fixed
- Data preview tables added with links to the whole tables.

The rest would have to be done by curating the patterns themselves. @cmungall can you check that, aside from the content, this looks ok to you:
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/README.md

[2020-10-16 17:51] matentzn commented on #2138
(I am using python for the generation of this table, pandas has a nice .to_markdown() function.)

[2020-10-16 18:49] tsneddon commented on #1878
@galyea-gard - it sounds like GARD is in agreement with the preferred nomenclature of the ClinGen Cystic & Ciliopathy GCEP for these genes ie ADTKD-GeneSym, thanks!

[2020-10-16 19:22] nicolevasilevsky commented on #1878
@maglott

something more like
...caused by mutations in genes encoding uromodulin (UMOD), hepatocyte nuclear factor-1β (HNF1B), renin (REN), or mucin-1

Yes! I fixed that

[2020-10-16 19:41] nicolevasilevsky commented on #1878
To do:
- [ ] need to add `Autosomal dominant tubulointerstitial kidney disease due to REN mutations` - we don't have this term from GARD: https://rarediseases.info.nih.gov/diseases/13461/autosomal-dominant-tubulointerstitial-kidney-disease-due-to-ren-mutations
- [ ] merge:

MONDO_0019511 | autosomal dominant medullary cystic kidney disease with hyperuricemia' | MONDO_0011379 | medullary cystic kid

[2020-10-16 20:00] nicolevasilevsky opened #2140 "Review hierarchy: Autosomal dominant tubulointerstitial kidney disease"
Autosomal dominant tubulointerstitial kidney disease
-'autosomal dominant medullary cystic kidney disease with hyperuricemia'
-'glomerulocystic kidney disease with hyperuricemia and isosthenuria'
-'medullary cystic kidney disease 1'
-'medullary cystic kidney disease 2'

MONDO_0000608 'familial juvenile hyperuricemic nephropathy'
-'familial juvenile hyperuricemic nephropathy type 1', **OMIM:162000*

[2020-10-16 20:20] nicolevasilevsky commented on #2140
@ahamosh @cmungall @tsneddon @galyea-gard @ana-rath-orphanet @annieolry @Orphanet

I hope this is not too confusing the follow. Seems like these terms are represented in different hierarchies in your respective terminologies.

[2020-10-16 20:20] #1878 closed

[2020-10-16 20:29] #2129 closed

[2020-10-16 20:30] nicolevasilevsky opened #2141 "need a pattern for polygenic disorder"
need a pattern for diseases that have more than one gene mutation, see monogenic disease pattern.

Once this is done, I should ask Nico to implement a check that checks that there are no monogenic children underneath a parent with multiple genes implicated.

see https://github.com/monarch-initiative/mondo/pull/2119 for more context/an example

[2020-10-16 21:25] nicolevasilevsky opened #2145 "[Obsolete] 'polymalformative genetic syndrome with increased risk of developing cancer'"
**Mondo term (ID and Label)**
MONDO_0015945 'polymalformative genetic syndrome with increased risk of developing cancer'

**Reason for deprecation**
this is a grouping class from ORDO and is not used in the primary literature, from what I can tell.

**Suggested term to consider**
N/A

[2020-10-19 02:01] #2118 closed

[2020-10-19 06:22] #1450 closed

[2020-10-19 06:45] cmungall opened #2147 "Something is badly wrong with the OLS version of MONDO"
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0016587

![image](https://user-images.githubusercontent.com/50745/96410545-f2709680-119b-11eb-8588-596c52b570e9.png)

these should not be subclasses of ARVC14!

ontobee is fine:

http://www.ontobee.org/ontology/MONDO?iri=http://purl.obolibrary.org/obo/MONDO_0030062

[2020-10-19 06:46] cmungall commented on #2147
![image](https://user-images.githubusercontent.com/50745/96410661-1af89080-119c-11eb-9cb9-a3308dd1d78f.png)

[2020-10-19 06:56] cmungall commented on #2116
agreed, but can you look a bit deeper here @nicolevasilevsky?

There should be a logical axiom connecting fiARVC and ARVC. I believe it should be fiARVC = ARVC and has-characteristic isolated

(Note ARVC is already inherited: https://www.cardiomyopathy.org/arrhythmogenic-right-ventricular-cardiomyopathy/intro )

AFAICT the only non-isolated form is Naxos.

The PS appears to collect only the isolat

[2020-10-19 06:58] cmungall commented on #2116
@matentzn - we should connect the isolated dp to some kind of annotation check, not sure how to implement, e.g. semantic similarity threshold... or maybe isolated Xs should also always be accompanied by disjointness axioms?

[2020-10-19 07:08] cmungall opened #2148 "[Obsolete] Futcher line"
**Mondo term (ID and Label)**

MONDO:0007641 Futcher line

**Reason for deprecation**

This should not be classified as a disease.

The OMIM refs are from 1938, 1940, and 1975, nothing more recent. The language in the entry is dated.

When obsoleting, add synonyms: Voigt lines, pigmentary demarcation lines.

I think this could be considered as a phenotypic feature/trait, but I'm not sure if belong

[2020-10-19 15:14] #1930 closed

[2020-10-19 15:47] nicolevasilevsky commented on #2147
very strange!

[2020-10-19 18:02] #2107 closed

[2020-10-19 18:06] cmungall commented on #2134
I think 95% of the checking can be automated

can we add to the table whether the exact syn is justified by a DP? I don't think dosdp-generate uses synonyms yet so you may need to use the python or coordinate with Jim

we also need to codify the omim patterns.

e.g this is justified, consistent PS acronym + number

MONDO:0014929> | retinitis pigmentosa 76 | RP76 |   |   |   |   |   |   |   |   |  

[2020-10-19 18:21] nicolevasilevsky commented on #2133
Note to self, to do:
- [ ] create DP
- [ ] outline the QC checks that are needed and Nico will implement them

[2020-10-19 18:41] nicolevasilevsky commented on #2133
@cmungall looking at this, I realized I don't know how to make a design pattern that would specify all the things you want above. Is it possible to do this?

[2020-10-19 18:41] pnrobinson commented on #2145
This is an important category, although I do not know of a name for it. Here is a review https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4416231/
We should ask Ada for her opinion.
Alternatively we can treat the cancer risk as a phenotypic feature

[2020-10-19 20:14] nicolevasilevsky commented on #2133
@matentzn

I think we could create QC checks for all the things Chris mentions above, I'll describe in more detail below:

## QC check needed (@matentzn):

- **A Mondo term that is equiv to an OMIMPS will never have an asserted causative gene as logical axiom (and no single causative gene in text def)**: _for example, MONDO:0016296 holoprosencephaly  does not have a logical axiom or any subclass a

[2020-10-19 20:34] maglott commented on #2133
I have also found that some of the alternate terms for the first gene-specific record (i.e. those with MIM number corresponding to the PS ), should be treated  as alternate names for the PS and NOT for the gene-specific record

e.g  for https://www.omim.org/entry/273750, the alternate name 3M SYNDROME belongs to OMIMPS:273750
I believe this is included in the first member will usually have the sam

[2020-10-19 20:45] nicolevasilevsky opened #2156 "question about pattern: location_top"
How is the location_top pattern different from the location pattern?
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/location_top.yaml

https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/location.yaml

[2020-10-19 21:17] nicolevasilevsky commented on #2133
Thanks for that great insight, @maglott! @matentzn, will it be possible to check this in a QC check? I think something like the child class should not have an exact synonym that is identical to the parent class.

[2020-10-19 21:20] matentzn commented on #2133
I put it on the agenda for our next meeting :)

[2020-10-20 02:06] cmungall commented on #2138
much better than my hack, awesome. pandas + dosdp-query is a powerful combo!

[2020-10-20 02:07] cmungall commented on #2138
@nicolevasilevsky when curating patterns take a look at the patternizer output to see if there is useful stuff to add

E.g.

https://github.com/cmungall/owl_patternizer/blob/master/examples/mondo/X_has_modifier_has_an_isolated_presentation.yaml#L38-L43

looks like a good synonym pattern for isolated!

See https://github.com/monarch-initiative/mondo/pull/2162/files

[2020-10-20 02:16] cmungall commented on #2138
the new markdown is looking great

I don't think the vars field is correct
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/README.md#isolated

![image](https://user-images.githubusercontent.com/50745/96531841-62842880-123f-11eb-8609-c3a5f738a332.png)

it should say `disease (owl:Thing)` based on:

[code]

of course, we should just change the range to the root of

[2020-10-20 02:35] cmungall commented on #2148
@pnrobinson would you agree with this?

[2020-10-20 09:54] matentzn commented on #2138
Are you sure that is how you want the variable slot to be rendered? Just check the second example you posted (https://github.com/cmungall/owl_patternizer/blob/master/examples/mondo/X_has_modifier_has_an_isolated_presentation.yaml#L11). IN this case, the overview would read: v0 (MONDO:0000001). Anyways, I will do this now, but better double-check this is what you want.

[2020-10-20 10:39] pnrobinson commented on #2148
This is definitely a phenotypic feature, see for instance https://pubmed.ncbi.nlm.nih.gov/24087785/
We should probably add it as an HPO term!

[2020-10-20 11:32] matentzn commented on #2147
These are subclasses of every class. There is only one way this can happen..
![image](https://user-images.githubusercontent.com/7070631/96577390-770e0280-12cb-11eb-9131-c4f7b1cadf72.png)

And yes, its true.. They are all unsatisfiable! I will fix them, and then you can do another patch release.. However, they must have always been unsatisfiable.

This ticket needs to stay open until we find a way

[2020-10-20 12:34] matentzn opened #2180 "Align mediastinitis with inflammation pattern"
![image](https://user-images.githubusercontent.com/7070631/96586399-de7e7f00-12d8-11eb-91e0-75d41c13ca78.png)

@cmungall please advise.

[2020-10-20 12:36] matentzn opened #2181 "Unsatisfiable 'gastric neuroendocrine tumor, well differentiated, low or intermediate grade'"
![image](https://user-images.githubusercontent.com/7070631/96586607-21d8ed80-12d9-11eb-8783-28193d355709.png)
 @cmungall please advice, see #2147

[2020-10-20 12:39] matentzn commented on #2181
Looks like 'has modifier; is the totally wrong relation. Maybe @nicolevasilevsky you can suggest a better one?

[2020-10-20 12:40] matentzn commented on #2180
see #2147

[2020-10-20 12:43] matentzn opened #2182 "Unsatisfiable 'infective arthritis'"
![image](https://user-images.githubusercontent.com/7070631/96587364-281b9980-12da-11eb-9fa9-c3295af8d76a.png)

[2020-10-20 12:43] matentzn commented on #2182
see #2147
@cmungall

[2020-10-20 12:45] matentzn commented on #2182
Same for bacterial arthritis:

![image](https://user-images.githubusercontent.com/7070631/96587676-88aad680-12da-11eb-95c4-cb5a10730b8a.png)

[2020-10-20 12:48] matentzn commented on #2181
Same with: 'gastric neuroendocrine tumor, well differentiated, low or intermediate grade'. Fixing the modifer has stomach would fix the whole branch!

[2020-10-20 12:50] matentzn opened #2183 "Unsatisfiable 'maple bark strippers'"
![image](https://user-images.githubusercontent.com/7070631/96588102-1ab2df00-12db-11eb-806c-f6c853572cc6.png)

@cmungall seems we should have used `realized in response to stimulus` maybe?
see #2147

[2020-10-20 12:52] matentzn commented on #2147
Ok, I linked all the related issues. These should be super easy to fix but high priority. If these are fixed, no more unsats (minimal set, rest depends on these).

[2020-10-20 15:48] balhoff commented on #2147
This is important to know! We should probably accelerate efforts to adopt it.

[2020-10-20 16:04] nicolevasilevsky commented on #2183
yes, I agree it should be `realized in response to stimulus`
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/infectious_disease_by_agent.yaml

[2020-10-20 16:17] nicolevasilevsky commented on #2182
I fixed bacterial arthritis, but I am not sure how to fix 'infective arthritis'.

There is no logical def for 'infectious disease'.

My best guess is to remove the logical def from 'infective arthritis', but @cmungall probably has better insights.

[2020-10-20 16:21] matentzn opened #2188 "Make travis fail if Jenkins could not be triggered"
https://github.com/monarch-initiative/mondo/blob/master/.travis.yml

We had an incident that the Jenkins server disappeared for two weeks, but travis did not fail, which gave the impression that all the QC succeeded.

I need some help with figuring out why travis did not fail:
https://travis-ci.org/github/monarch-initiative/mondo/builds/737340065#L215

I will try with adding `--fail`.

[2020-10-20 16:24] matentzn commented on #2188
Actually that is already there. Maybe we can try this:
https://superuser.com/questions/590099/can-i-make-curl-fail-with-an-exitcode-different-than-0-if-the-http-status-code-i

[2020-10-20 16:44] nicolevasilevsky commented on #2180
I think changing the range for 'disease has inflammation site' to 'anatomical entity' (UBERON:0001602) will fix this- but does this have to be done in RO, not in Mondo?

[2020-10-20 16:50] cmungall commented on #2188
can we also investigate making things run fast enough such that we can just use travis?

or pay for travis enterprise?

[2020-10-20 16:58] nicolevasilevsky commented on #2148
- [ ] note to self: when Peter adds this to HPO, add a consider in Mondo

[2020-10-20 17:33] cmungall commented on #2182
bacterial arthritis, infective arthritis, infectious disease are all the same pattern. A general disease with differentia that is the pathogen

[2020-10-20 17:33] #2183 closed

[2020-10-20 17:35] nicolevasilevsky commented on #2182
but what should the pathogen be for infective arthritis & infectious disease ?

[2020-10-20 17:41] matentzn commented on #2182
Ncbitaxon root?

[2020-10-20 17:57] nicolevasilevsky commented on #2182
organism is the parent for the NCBITaxon classes

[2020-10-20 18:27] cmungall commented on #2182
not obi, we don't have an obi import

i dislike the name root but this is consistent. maybe we need a more
specific relation

On Tue, Oct 20, 2020 at 10:57 AM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-10-20 18:29] nicolevasilevsky commented on #2182
I will close this PR, but I'm not clear what the path forward is.

[2020-10-20 22:27] FuqiX opened #2195 "inaccurate synonyms for term "COVID-19"?"
Hi,
I am looking into term `COVID-19` http://purl.obolibrary.org/obo/MONDO_0100096.

I am surprised to see `severe acute respiratory syndrome coronavirus 2`, `SARS-CoV-2`, `SARS-coronavirus 2` listed as the exact synonyms of `COVID-19`.

SARS-CoV-2 is the name of the virus, and COVID-19 is the name of the disease. I am not sure if these two concepts should be mixed together. Maybe listing these as

[2020-10-21 12:48] aholovenko commented on #2121
@balhoff Thanks! Closing the issue.

[2020-10-21 12:48] #2121 closed

[2020-10-21 13:30] zoependlington commented on #2039
@AntoniaLock @matentzn @nicolevasilevsky  Just wanted to check if this is within scope for the next Mondo release? Related to EFO ticket: https://github.com/EBISPOT/efo/issues/865 Thanks!

[2020-10-21 13:39] matentzn commented on #2039
We will prioritise them soon Zoe, but the next release is too soon; we will do it for the release after. I can try to push for 10 November so you have time to sync with the EFO November release?

[2020-10-21 13:40] zoependlington commented on #2039
That's great Nico, thanks!

[2020-10-21 15:02] aholovenko commented on #2147
Hi, how long will it take to fix it in OLS?

[2020-10-21 15:06] matentzn commented on #2147
Working for this to be fixed soon (this week, hopefully tomorrow)

[2020-10-21 15:36] matentzn commented on #2147
@nicolevasilevsky I know you are stretched thin but can we attack this from both sides? fix all the unsats, while the EBI spot team reloads Mondo?

[2020-10-21 16:10] nicolevasilevsky commented on #2147
dependent on:
https://github.com/monarch-initiative/mondo/issues/2182
https://github.com/monarch-initiative/mondo/issues/2181
https://github.com/monarch-initiative/mondo/issues/2180

https://github.com/monarch-initiative/mondo/pull/2191

@cmungall

[2020-10-21 16:53] nicolevasilevsky commented on #2147
@matentzn I've done everything I can on this and am blocked

[2020-10-21 17:41] #2181 closed

[2020-10-21 17:44] matentzn commented on #2180
We fixed this by redefining as `inflammatory diseases and has location some mediastinum`

[2020-10-21 17:49] nicolevasilevsky opened #2198 "pattern: inflammatory disease"
Nico and I changed the logical def of mediastinitis to make it satisfiable (see: https://github.com/monarch-initiative/mondo/issues/2180) and to fix the display in OLS (https://github.com/monarch-initiative/mondo/issues/2147).

We changed it to:

'inflammatory disease'
 and ('disease has location' some mediastinum)

This does not conform to the current pattern:
https://github.com/monarch-initiativ

[2020-10-21 17:50] nicolevasilevsky commented on #2198
cc @matentzn

[2020-10-21 17:58] matentzn commented on #2180
Ok so I made a PR on RO to loosen the range of 'disease has inflammatory site':

https://github.com/oborel/obo-relations/pull/406

[2020-10-21 18:45] matentzn commented on #2180
We will keep this open until https://github.com/monarch-initiative/mondo/issues/2198 is decided.

[2020-10-21 19:46] #2182 closed

[2020-10-21 19:49] nicolevasilevsky commented on #2147
@matentzn and I worked on the dependent tickets. I am running a new release now.

[2020-10-21 19:57] kanems commented on #696
@ahamosh Can you weigh in on this OMIM merge where others have maintained separate records for these X-linked disorders?

[2020-10-21 21:57] cmungall commented on #2198
what exactly does mediastinitis mean?

not a trick question, I can read online definitions. formally, what does it
mean?

is it the inflammation of an immaterial entity?

On Wed, Oct 21, 2020 at 10:50 AM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-10-21 22:01] cmungall commented on #2138
of course we should rename v0 to something meaningful

On Tue, Oct 20, 2020 at 2:55 AM Nico Matentzoglu <notifications@github.com>
wrote:

[2020-10-21 22:02] nicolevasilevsky commented on #2198
yes, the mediastinum is an 'anatomical cavity' which is an immaterial entity

[2020-10-21 22:05] cmungall commented on #2198
how can an immaterial entity be inflamed?

On Wed, Oct 21, 2020 at 3:02 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-10-21 22:10] nicolevasilevsky commented on #2198
The text def in mondo says:
An inflammatory process affecting the mediastinum.

From: [Mediastinitis: MedlinePlus Medical Encyclopedia](https://medlineplus.gov/ency/article/000081.htm#:~:text=Mediastinitis%20is%20swelling%20and%20irritation,lymph%20nodes%2C%20and%20connective%20tissue)

Mediastinitis is swelling and irritation (inflammation) of the chest area between the lungs (mediastinum). This

[2020-10-21 22:49] cmungall commented on #2198
There is nothing needing urgently fixed just now but it is worth pursuing
this

you are right, it refers to an area with a lot of tissues, not an
immaterial entity

another thing: if the area contains the heart, why isn't heart inflammation
a subtype?

On Wed, Oct 21, 2020 at 3:10 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-10-21 23:10] nicolevasilevsky commented on #2147
release is done:
https://github.com/monarch-initiative/mondo/releases/tag/v2020-10-21

[2020-10-22 00:31] nicolevasilevsky commented on #2198
I think these are uberon questions, right? In Uberon, it doesn't look like the heart is part of the thoracic cavity

[2020-10-22 01:11] cmungall commented on #2198
what would you like uberon to say? the encyclopedia entry you picked says
that mediastinitis contains the heart. But we have a not-subClassOf between
myocardiatis and mediastinitis

On Wed, Oct 21, 2020 at 5:31 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-10-22 13:13] matentzn commented on #2147
Problem solved! Great work @nicolevasilevsky that was a bit exciting but a bit satisfying as well :D Nicely done.

https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0016587

[2020-10-22 13:13] #2147 closed

[2020-10-22 14:33] nicolevasilevsky commented on #2147
you too, @matentzn !

[2020-10-22 15:09] nicolevasilevsky opened #2199 "[Merge] 'catecholamine-producing tumor'"
**Mondo term (ID and Label)**
MONDO:0019116 'catecholamine-producing tumor'

**Reason for deprecation**
Orphanet obsoleted this and merged it with Orphanet:100091 Adrenal/paraganglial tumor

**Term to be merged with**
MONDO:0015077 'adrenal/paraganglial tumor'

cc @drseb

[2020-10-22 15:22] #2063 closed

[2020-10-22 15:25] drseb commented on #2199
thanks for putting it here

[2020-10-22 17:35] nicolevasilevsky commented on #2096
I think this is done?

[2020-10-22 18:01] matentzn commented on #2096
yes!

[2020-10-22 18:02] #2096 closed

[2020-10-22 19:28] matentzn opened #2202 "Weave in new OMIMPS terms"
I hope you know what to do :D @nicolevasilevsky

- [x] [Term]
id: MONDO:X
name: spondylometaphyseal dysplasia
xref: OMIMPS:184255 {source="MONDO:equivalentTo"} ! spondylometaphyseal dysplasia

- [x] [Term]
id: MONDO:X
name: growth hormone insensitivity syndrome with immune dysregulation
xref: OMIMPS:245590 {source="MONDO:equivalentTo"} ! growth hormone insensitivity syndrome with immune dysregulat

[2020-10-22 23:31] nicolevasilevsky opened #2203 "question - relationship b/w phaeochromocytoma + Adrenal/paraganglial tumor"
@drseb was asking about the relationship between MONDO_0008233 (OMIM:171300) `phaeochromocytoma` and MONDO_0015077 (Orphanet:100091) `Adrenal/paraganglial tumor`.

**Note**-  MONDO_0019116 `catecholamine-producing tumor` was obsoleted in Orphanet, and merged with MONDO_0015077 (Orphanet:100091) `Adrenal/paraganglial tumor`. I created a ticket #2199 to suggest merging these in Mondo.

The descripti

[2020-10-23 00:09] pnrobinson commented on #2203
I do not think it is the case that pheochromocytoma is *always* an adrenal/paraganglial tumor.
Also not that phaeo... is the UK spelling, but MONDO otherwise seems to prefer US spelling.
This needs to be revised, let's discuss it on an upcoming call.

[2020-10-23 10:29] matentzn opened #2206 "Harmonise representation of gene (products)"
Right now we use a lot of PR terms to denote gene products (proteins), see #2034.

As [recommended](https://github.com/monarch-initiative/mondo/issues/2034#issuecomment-709521152) by @cmungall, we should normalise these to use ncbi gene ID (i.e. replace all PR terms in logical axioms with their corresponding ncbi gene ID.

- [ ] PR:000001002
- [ ] PR:000001003
- [ ] PR:000001004
- [ ] PR:000001006

[2020-10-23 10:36] matentzn commented on #2034
[code]

Seems like this references the class "Rare Non-Neoplastic Disorder" (which I cant find in the ontology, but maybe someone else can): https://www.ncbi.nlm.nih.gov/medgen/354119

Solution 1: we just delete the `is_a`
Solution 2: We create a Mondo term for "Rare Non-Neoplastic Disorder", xref UMLS:C1709838 to that and replace the is a with the new Mondo term.

@cmungall your call!

[2020-10-23 11:35] maglott commented on #2202
I think this should be
[Term]
id: MONDO:X
name: IFAP syndrome
xref: OMIMPS:308205 {source="MONDO:equivalentTo"} ! ifap syndrome

[2020-10-23 14:42] nicolevasilevsky commented on #2206
@matentzn I think these PR terms are being used in the CL import, not in Mondo classes.

[2020-10-23 14:52] matentzn commented on #2206
Thank you @nicolevasilevsky

Can you add to the agenda:
- Should we delete floating entities from imports? (I am thinking of a sparql query that deletes all classes from an import without a label)?

[2020-10-23 20:31] kanems opened #2208 "Distal vs. proximal myopathy with early respiratory failure"
Trying to determine if both of these terms are still necessary?

MONDO:0011362   hereditary proximal myopathy with early respiratory failure; Links to OMIM:603689  &  OrphaNet: 178464   MONDO:0011859   Distal myopathy with early respiratory muscle involvement ; Links to OMIM:607569 &  Orphanet:34521; UMLS:C4518808 (MONDO:equivalentTo)

OMIM entry 607569  is now merged with 603689: "Myopathy, myofi

[2020-10-26 18:02] ValWood opened #2209 "[Revise subclass]"
Cornelia de Lange syndrome (MONDO:0016033)

is currently

is_a

is_a Pierre Robin syndrome associated with bone disease

but I don't think that this parentage is correct?

[2020-10-26 18:36] lcdaugherty opened #2210 "Suggested terms with missing xref where MeSH ID could be added as equivalent axiom"
The attached lists 28 MONDO terms have been highlighted in a recent data check that seem to be missing MeSH IDs (neither closeMatch or exactMatch) where there is an MeSH ID exactMatch (the definitions are the same)

[mondo-missing-xref-exactmatch.xlsx](https://github.com/monarch-initiative/mondo/files/5440696/mondo-missing-xref-exactmatch.xlsx)

[2020-10-26 18:51] lcdaugherty opened #2211 "MeSH:C537772 is not a recognised xref for microtia (MONDO:0010920)"
microtia (MONDO:0010920) it has a exactMatch to MeSH:C537772
But that ID is not found/does not exist : https://www.ncbi.nlm.nih.gov/mesh/?term=C537772

For microtia (MONDO:0010920) should the MeSH ID be the following? based on 'has related synonym
M-A, microtia-anotia'
Microtia-Anotia https://www.ncbi.nlm.nih.gov/mesh/?term=C563457

[2020-10-26 19:05] lcdaugherty opened #2212 "Suggested updates to current exactMatch xref MeSH ID"
The following  MONDO terms have been highlighted in a recent data check where the listed MeSH ID exactMatch needs review, I have made suggestions below to review.

- [x] MONDO:0004691 autosomal dominant polycystic kidney disease
Currently closeMatch is parent MeSH term D007690 Polycystic Kidney Diseases, suggest change to child MeSH term D016891 Polycystic Kidney, Autosomal Dominant

- [x] MONDO:0

[2020-10-26 19:13] lcdaugherty opened #2213 "Suggested updates to someMONDO terms where xref MeSH IDs from closeMatch to exactMatch"
The following list are MONDO terms where xref MeSHID is currently defined as closeMatch, but I was wondering if they should be exactMatch?

- [x] anterior uveitis (disease); MONDO:0006651; D014606
->_I am not sure, the text definitions are not exactly the same:
MeSH: Inflammation of the anterior uvea comprising the iris, angle structures, and the ciliary body.
Mondo: Inflammation of the iris and a

[2020-10-26 19:30] RedRiver1816 opened #2214 "[NTR] Collagen VI-Related Myopathy"
**Preferred term label:**
collagen 6-related myopathy

**Synonyms:**
collagen VI-related myopathy
collagen VI-related muscle disorder
collagen VI-related muscular dystrophy

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######):**
Collagen VI-Related Myopathy covers a wide spectrum of musculoskeletal phenotypes caused by dominant and recessive mutations in the thre

[2020-10-27 16:40] kanems commented on #343
Requesting further clarification on the Epilepsy branch:

The primary parent node "Epilepsy" (MONDO:0005027) lists "epileptic syndrome," "epilepsy syndrome," and "seizure disorder" as synonyms. However, this term also has a Child "epilepsy syndrome" MONDO: 0015650 as a separate entity with mapping to OrphaNet 166463
Suggest splitting synonyms on "epilepsy" so as not to equate the general concept w

[2020-10-27 16:49] lcdaugherty opened #2218 "pleural mesothelioma (MONDO:0003308) incorrect exactMatch DOID:5157 benign pleural mesothelioma"
Current:
pleural mesothelioma (MONDO:0003308) has exactMatch DOID:5157 benign pleural mesothelioma, but the term itself is broad and is parent to a malignant version, no I not sure if this is correct match?

[2020-10-27 17:13] nicolevasilevsky opened #2219 "improve Mondo documentation"
- [x] update the landing page: https://mondo.readthedocs.io/en/latest/
- [x] make Rare Disease analysis in Mondo less prominent
- [x] https://mondo.readthedocs.io/en/latest/build-release/ - update content, combine with other release process page
- [ ] integrate developers guide with editors guide
- [x] add user facing content to http://obofoundry.org/ontology/mondo
- [x] remove MOSS-cide content
-

[2020-10-27 20:54] nicolevasilevsky commented on #2219
@matentzn

do you think we want to include this content on the release documentation?

## Tests

See Makefile for details

* Robot reason - detects logically inconsistency and equivalence between names classes in Mondo
* Sparql checks
    * Standard obo
        * ...
    * Mondo specific
        * ...

Do we want to include this?

[2020-10-27 22:00] nicolevasilevsky opened #2223 "should 'holoprosencephaly 13, x-linked' be a child of holoprosencephaly?"
@ahamosh in Mondo, we think that MONDO_0026763 'holoprosencephaly 13, x-linked' be a child of MONDO_0016296 holoprosencephaly. 'holoprosencephaly 13, x-linked' is not part of the holoprosencephaly PS (https://omim.org/phenotypicSeries/PS236100). Is OMIM planning to add the type 13 to the PS?

Thanks!

cc @cmungall
Related to https://github.com/monarch-initiative/mondo/pull/2201

[2020-10-27 22:10] nicolevasilevsky opened #2224 "OMIM ingest to do's"
From PR https://github.com/monarch-initiative/mondo/pull/2201

- [ ] there is the question whether to combine the OMIM PR with a normalization PR. Consider gh actions to periodically normalize axiom annotations. Nico's notes said that he should run normalization after adding the OMIMs in. Question for @cmungall - Is it better to run normalization in a completely separate step then?
- [ ] question

[2020-10-28 15:12] maglott opened #2225 "capitalize DNA in these labels"
**Mondo term (ID Label)**

MONDO_0020845   progressive external ophthalmoplegia with mitochondrial dna deletions, autosomal recessive 5
MONDO_0024528   progressive external ophthalmoplegia with mitochondrial dna deletions, autosomal dominant 1
MONDO_0032799   mitochondrial dna depletion syndrome 16 (hepatic type)
MONDO_0032932   mitochondrial dna depletion syndrome 18

**Bug/Typo/Error description

[2020-10-28 17:24] matentzn commented on #2219
Absolutely! I would love to see this, but not right this moment. I have now some ideas to simplify the whole QC business further!

[2020-10-28 19:46] maglott opened #2226 "should terms and XRefs for MIM numbers or phenotypic series be limited to genetic disorders"
Megan and I were looking again at porencephaly.

Brain small vessel disease - PS175780  is an XRef for porencephaly MONDO:0017410  rather than familial porencephaly MONDO_0020496

The membership of the phenotypic series suggests a better match for the XRef would be MONDO_0020496

How many other cases are there for an XREF  for OMIM not being connected to the familial concept when there is one?

[2020-10-29 01:31] ahamosh commented on #2223
Done.  Thanks for letting us know.
Ada

[2020-10-29 15:10] nicolevasilevsky commented on #2223
Awesome, thanks @ahamosh!

[2020-10-29 17:13] matentzn commented on #2226
NOte to self:

design patter for PS:

if X is a pattern instance of the `PS` pattern and also `familial/inherited X` and if there is an instance of another pattern such that the filler for that pattern is X, you need flag that.

[2020-10-29 22:57] nicolevasilevsky opened #2228 "[NTR] Long COVID"
**Preferred term label:**
long COVID-19

**Synonyms**
long haul COVID-19
long-haul COVID-19

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
COVID-19 characterized by persistent symptoms in patients who recovered from the acute phase of the SARS-CoV-2 infection, which may include fatigue, coughing, dyspnea, clouding of mentation, sleep disturbances, exercis

[2020-10-30 10:31] johannaest opened #2229 "[NTR] Rapidly progressive primary central nervous system vasculitis"
**Preferred term label:**
Rapidly progressive primary central nervous system vasculitis

**Synonyms**
Rapidly progressive PCNSV

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
an uncommon condition that affects the brain and spinal cord.
DOI: https://doi.org/10.1093/rheumatology/keq303

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo),

[2020-10-30 10:36] johannaest opened #2230 "[NTR/gene] A20 Haploinsufficiency/TNFAIP3"
**Preferred gene-related syndrome label**
A20 Haploinsufficiency

**Synonyms**
HA20

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
http://purl.obolibrary.org/obo/MONDO_0015710

**Definition**
Any immune dysregulation disease in which the cause of the disease is a mutation in the TNFAIP3 gene.

**Definition source (Please give PubMed ID,

[2020-10-30 14:41] nicolevasilevsky commented on #696
cc @galyea-gard

[2020-10-30 16:28] matentzn opened #2231 "HGNC genes should be classes, not punned to individuals"
Make sure that HGNC genes are only subclass of (a subclass of) gene, and nothing else.

[2020-10-30 16:46] #1935 closed

[2020-10-30 16:49] #1992 closed

[2020-10-30 16:50] #1466 closed

[2020-10-30 16:53] nicolevasilevsky commented on #2213
Talked to Chris - make anterior uveitis equiv to Mondo

[2020-10-30 16:53] #2148 closed

[2020-10-30 18:31] #433 closed

[2020-10-30 18:32] #1085 closed

[2020-10-30 18:32] #1021 closed

[2020-10-30 18:32] #1501 closed

[2020-10-30 18:34] nicolevasilevsky commented on #2027
pinging @ihelbig

[2020-10-30 18:41] nicolevasilevsky commented on #2045
@tibingaman pinging you about the question above ^

[2020-10-30 18:47] tibingaman commented on #2045
Hi @nicolevasilevsky I completely missed this so thank you for pinging me! I think that 'panhypopituitarism, X-linked' can be a class under the parent term that I am requesting for 'X-linked intellectual disability with hypopituitarism' which is Hypopituitarism MONDO: 0005152. Please let me know if you have any other questions!

[2020-10-30 20:30] #2202 closed

[2020-10-30 20:32] #1957 closed

[2020-10-30 21:11] nicolevasilevsky opened #2234 "unsatisfiable classes due to 'realized in response to stimulus' to water exposure"
there are three unsatisfiable classes in Mondo - I think these showed up when the exposure imports were refreshed

![image](https://user-images.githubusercontent.com/6722114/97757301-b1408680-1ab9-11eb-92b6-053d6f49723c.png)

I think this is because off the logical defs:

![image](https://user-images.githubusercontent.com/6722114/97757315-b7366780-1ab9-11eb-8f44-f6434f139801.png)

the range for 'r

[2020-10-30 21:14] nicolevasilevsky commented on #2234
according to the pattern, we should use 'environmental material':
https://raw.githubusercontent.com/monarch-initiative/mondo/master/src/patterns/dosdp-patterns/environmental_stimulus.yaml

[2020-10-30 21:19] nicolevasilevsky opened #2236 "change variable in environmental_stimulus pattern"
https://raw.githubusercontent.com/monarch-initiative/mondo/master/src/patterns/dosdp-patterns/environmental_stimulus.yaml

The variable is environmental material: ENVO:00010483 but the examples use fillers that are broader, like 'Colorado tick fever virus' in MONDO_0005708 'Colorado tick fever'.

[2020-10-30 22:18] nicolevasilevsky commented on #2045
@tibingaman looking at this more closely, I don't see any evidence that 'panhypopituitarism, X-linked'  has intellectual disability as a primary feature. I am not sure that it should be a subclass of 'X-linked intellectual disability with hypopituitarism'

[2020-10-30 23:49] nicolevasilevsky opened #2241 "connect the isolated design pattern to some kind of annotation check"
per Chris on #2116

[isolated design patter](https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/isolated.yaml)

[2020-10-31 00:08] #2236 closed

[2020-10-31 00:14] nicolevasilevsky commented on #2230
@johannaest is this related to MONDO_0014761 'hereditary pediatric Behçet-like disease' at all?

[OMIM:616744](www.omim.org/616744)

[2020-10-31 00:15] nicolevasilevsky commented on #2230
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_476102

[2020-10-31 00:16] nicolevasilevsky commented on #2230
I think there is just a causal link - hereditary pediatric Behçet-like disease is caused by A20 Haploinsufficiency

[2020-10-31 00:30] #2234 closed

[2020-10-31 00:31] nicolevasilevsky commented on #2234
For the record, the pattern that was meant to be used is:
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/realized_in_response_to.yaml

[2020-10-31 02:07] ahamosh commented on #2027
Nicole, Ingo answered Joanna directly. We are calling the development and epileptic encephalopathy (DEE) and we are going through them now.  It will take a little while.
Thanks,
Ada

[2020-11-01 15:53] maglott opened #2245 "[Obsolete] MONDO_0007678"
**Mondo term (ID and Label)**

   "iri" : "http://purl.obolibrary.org/obo/MONDO_0007678",
      "label" : "glycoprotein, renal",
**Reason for deprecation**
https://omim.org/entry/138710 is an electrophetic finding

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2020-11-02 17:10] galyea-gard commented on #696
After reviewing these we will retire the Brooks Wisniewski Brown syndrome (when we finish updating) and leave only the Turner type, now that the molecular cause was found.  Thank you Nicole!

[2020-11-02 17:32] galyea-gard commented on #2199
Catecholamine-producing tumors may arise in the adrenal medulla (pheochromocytomas) or in extraadrenal chromaffin cells (secreting paragangliomas - paragangliomas (PGLs) are  tumors arising from the paraganglia (neural crest-derived paraxial autonomic ganglia). Does this help?  Thanks!  Gioconda

[2020-11-02 19:39] matentzn opened #2246 "Change stimuli of "occupational diseases""
`occupational lung disease` and `occupational asthma` both have exposure terms as stimuli; stimuli can only be material entities. (see pattern #2171)

What would be the right stimuli for these patterns? Or do we really want these "exposure to occupation" classes in ECTO?

[code]

[code]

[2020-11-02 20:46] kshefchek opened #2247 "Consider synonyms "ATTR-CM" "hereditary transthyretin-mediated amyloidosis" for MONDO:0019441"
**Mondo term (ID and Label)**
MONDO:0019441, ATTRV122I amyloidosis

**Synonym to be added**
ATTR-CM
hereditary transthyretin-mediated amyloidosis (could also be primary label)

**Synonym subtype: ie, broad/exact/narrow/related**
Broad - ATTR-CM
Broad - transthyretin-mediated amyloidosi
Exact - hereditary transthyretin-mediated amyloidosis

**Database cross reference for the synonym** Such as PubMe

[2020-11-02 20:52] kshefchek commented on #2247
this might instead apply to MONDO:0017132

[2020-11-02 21:21] kanems opened #2248 "OMIM Phenotypic Series for CDG type I on two MONDO terms?"
It looks like the OMIM Phenotypic series for type I CDGs has inappropriately been assigned to both the parent "congenital disorder of glycosylation" term AND the CDG type I term.  Is this intentional?
(PS212065 cross ref'd by MONDO:0015286 and MONDO:0005500)

In contrast: the OMIM PS PS212066  for CDG type II maps only to  MONDO:0005501.

[2020-11-03 08:25] #2231 closed

[2020-11-04 16:32] matentzn opened #2249 "OMIM slurp 4. November 2020"
I get these suggestions:

[code]

[2020-11-04 16:42] maglott commented on #2249
When we pull data from OMIM, we split titles like GROWTH HORMONE INSENSITIVITY SYNDROME WITH IMMUNE DYSREGULATION 2, AUTOSOMAL DOMINANT; GHISID2 on the ';' into
GROWTH HORMONE INSENSITIVITY SYNDROME WITH IMMUNE DYSREGULATION 2, AUTOSOMAL DOMINANT as OMIM's preferred full name and GHISID2 as OMIM's preferred abbreviation.  I think it is useful to generate GHISID2 as an in
dependent
exact synonym

[2020-11-04 17:08] matentzn commented on #2249
Yeah, I was hoping this is what @nicolevasilevsky would do.. I am only pulling the original data right now, but she will rename those for sure! Thank you for pointing it out @maglott !

[2020-11-05 16:37] nicolevasilevsky commented on #2246
could we use this pattern:
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/realized_in_response_to.yaml

[2020-11-05 18:07] nicolevasilevsky commented on #2249
I will add these

[2020-11-05 18:51] #2225 closed

[2020-11-05 18:56] dhimmel opened #2251 "Additional xrefs for MONDO:0100096, COVID-19"
**Mondo term (ID and Label):**

COVID-19
http://purl.obolibrary.org/obo/MONDO_0100096
MONDO:0100096

**Xref that should be fixed (ID and label):**

Current xrefs as per ontobee

1. `mesh:C000657245` https://id.nlm.nih.gov/mesh/C000657245.html COVID-19
2. `snomedct:840539006` Disease caused by Severe acute respiratory syndrome coronavirus 2 (disorder) [source](https://browser.ihtsdotools.org/?persp

[2020-11-05 20:46] #2249 closed

[2020-11-05 20:47] nicolevasilevsky commented on #2039
All of these terms are in Mondo now and will be available in the next release.

[2020-11-05 20:47] #2039 closed

[2020-11-05 20:57] nicolevasilevsky commented on #2247
@pnrobinson do you know which Mondo term is synonymous for Transthyretin Amyloid Cardiomyopathy?

I think these synonyms should be applied to MONDO:0017132 'hereditary ATTR amyloidosis' but I'm not totally sure. Thanks!

[2020-11-05 21:33] matentzn opened #2255 "Synonyms from NCIT/OMIM/GARD/Orphanet, should be exact"

[2020-11-05 21:36] matentzn commented on #2246
This would be the pattern! But does the definition make sense? I mean, saying that a disease is realised in response to some occupation? Maybe some chemicals enhaled as part of an occupation (chemical exposure) but just exposed to an occupation?

[2020-11-05 22:14] nicolevasilevsky commented on #2027
I renamed all the classes to be developmental and epileptic encephalopathy, to match OMIM

[2020-11-05 22:26] nicolevasilevsky opened #2257 "OMIM ingest - need OMIM:301044"
this did not make it into the last OMIM ingest:
https://omim.org/entry/301044

[2020-11-05 22:28] nicolevasilevsky commented on #2246
I see what you mean. Personally, I think it's okay, I see how it sounds kind of weird, but I think it's intended to mean exposure to chemicals (or anything) that you are exposed to as part of working in an occupation.

@cmungall what do you think?

[2020-11-05 22:31] nicolevasilevsky commented on #2199
@galyea-gard from what you're saying, it sounds like these two classes should not be merged?

[2020-11-05 22:34] nicolevasilevsky commented on #2248
Hi @kanems

the dbxref on MONDO:0015286 'congenital disorder of glycosylation' is not an equivalent reference, it looks like it was brought in from the Disease Ontology (DO)- they had an xref to this OMIMPS. We would like to keep it there to maintain the provenance. Thee dbxref on MONDO:0005500 'congenital disorder of glycosylation type I' is an equivalence axiom, meaning this class is equivalent

[2020-11-05 22:34] #2248 closed

[2020-11-05 22:40] cmungall commented on #2246
This should use the ecto dp. The ecto class would be 'occupational
exposure', so the derived def would make sense

On Thu, Nov 5, 2020 at 2:29 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-11-05 22:54] nicolevasilevsky commented on #696
@galyea-gard thanks! What is the GARD ID for the Turner type?

[2020-11-05 22:57] #2245 closed

[2020-11-05 23:38] pnrobinson commented on #2247
ATTR amyloid is essentially the same thing as Transthyretin Amyloid.
However, not all ATTR amyloidosis is hereditary/Mendelian. Also, the amyloid is not necessarily limited to the heart nor does it always cause heart dysfunction (cardiomyopathy). So there are two reasons why these items are not synonymous.

The next question is how to represent amyloid diseases.

I am not an expert, but I think th

[2020-11-05 23:45] matentzn commented on #2246
So you find the concept of occupational diseases and their
Definition a useful thing - this means we need to get @diatomsRcool to recreate the exposure to occupation class again. Can you do that Anne?

[2020-11-06 00:31] galyea-gard commented on #2199
Hi!  The  pheochromocytoma-paraganglioma ORPHA:573163 is classified under Adrenal/paraganglial tumors (so, pheochromocytoma and paraganglioma (which Orphanet group together) are subtypes of the Adrenal/paraganglial tumors).  Because they have several common characteristics (they both come from the same type of tissue, (pheo form in the adrenal gland and paraganglioma form outside the adrenal gland

[2020-11-06 00:34] galyea-gard commented on #696
Hi Nicole!  It is 5604.  Thank you! Gioconda
From: Nicole Vasilevsky <notifications@github.com>
Sent: Thursday, November 5, 2020 5:54 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] Brooks Wisniewski Brown syndrome and MENTAL RETARDATION, X-LINKED, S

[2020-11-06 00:35] cmungall commented on #2246
If others find the concept useful then we should house it - but we can
certainly annotate this class with our own views as to whether we think
it's relevant

either way, it seems "occupational exposure" is a common grouping, if vague
and neutral wrt mechanism, route etc

https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=%22occupational+asthma%22&btnG=
34k
https://scholar.google.com/scholar?h

[2020-11-06 10:01] matentzn commented on #2257
@cmungall

I have this in omim.obo:

[code]

I get this in tbd:

[code]

Somehow this is filtered out by:

[code]

Idea what it is?

[2020-11-06 10:02] matentzn commented on #2257
(I tried to look up `MONDO:9024803` but it does not appear anywhere I can see)

[2020-11-06 11:07] matentzn commented on #1931
Notes:

we need to know these stale OMIMs (issue)
If this were tagged then the bad smell would be more immediately obvious.
“auto-tag ancient OMIMs”
Last edit
Last publication, for example: https://omim.org/entry/271220, publications are from the 1970’s
Tag ancient

[2020-11-06 11:08] matentzn opened #2259 "Check for proxy merges"
WARN when new proxy-merges occur (two classes of the same ontology get merged)
Annotate all proxy merges (there may be some annotations)
Query over reasoned graph
ERROR: No MONDO class should ever be equivalent to a leaf OMIM and an OMIMPS (no proxy merge) (issue)
NO OMIM sub OMIM classes

[2020-11-06 14:25] tibingaman commented on #2045
@nicolevasilevsky If it does not have any evidence of intellectual disability as a primary feature then it should not be included as a subclass of the newly requested term. Will this term be released at the end of November? Thank you!

[2020-11-06 14:48] nicolevasilevsky commented on #2257
I agree, it seems like a legitimate disease

[2020-11-06 15:14] #2027 closed

[2020-11-06 17:10] cmungall commented on #2257
my mistake. Should not be in the exclusion set.

[2020-11-06 18:28] nicolevasilevsky opened #2260 "[Obsolete] MONDO_0033571 'skeletal muscle glycogen content and metabolism quantitative trait locus'"
**Mondo term (ID and Label)**
MONDO_0033571 'skeletal muscle glycogen content and metabolism quantitative trait locus'

**Reason for deprecation**
not a disease

**Suggested term to consider**
none

[2020-11-06 20:56] kanems opened #2262 "nonpapillary Renal cell carcinoma & clear cell renal carcinoma"
There is a comment on MONDO:0007763 "nonpapillary renal cell carcinoma" about "consider merging into MONDO:0005005" ("clear cell renal carcinoma"). What is the status of this potential merge?

UMLS C0279702 "Conventional (Clear Cell) Renal Cell Carcinoma" maps the "nonpapillary RCC" terms from OMIM and HPO as synonyms, HPO treats these two terms as synonyms as well.

[2020-11-06 21:17] nicolevasilevsky commented on #2251
Hi @dhimmel! We can remove the UK SNOMED xref. Do you want to do it and do a PR? I'd be happy to meet with you and walk you through it. Do you want to email me and we can find some time to meet?

Here is our editors guide for reference: https://mondo.readthedocs.io/en/latest/editors-guide/

[2020-11-06 21:29] nicolevasilevsky commented on #2262
@kanems thanks for this ticket - looks like no work has begun on this yet.

@galyea-gard, do you have thoughts about this merger?

[2020-11-06 21:48] nicolevasilevsky commented on #2045
yes- I'll get it into the next release, apologies for the delay.

[2020-11-06 21:54] nicolevasilevsky commented on #2262
Note to self - emailed Lori and Lyuba at NCIT

[2020-11-06 23:02] #2045 closed

[2020-11-06 23:49] #2260 closed

[2020-11-06 23:55] galyea-gard commented on #2262
OMIM groups the several renal carcinomas that are not "papillary" under "nonpapillary".  Renal cancer is classified into clear cell RCC (the most common subtype) that can be hereditary (the one listed on Orphanet and in NCI thesaurus with Code C36260) or non-hereditary.  See NCI thesaurus for classification: https://ncithesaurus.nci.nih.gov/ncitbrowser/pages/concept_details.jsf?dictionary=NCI_Thes

[2020-11-07 13:48] dhimmel commented on #2251
Hi @nicolevasilevsky. The docs are helpful. Let me try making a PR myself, and I'll report back if I get stuck.

Notes from my process:

- read about where to install packages on linux, decided on `/opt`, so I now have `/opt/Protege-5.5.0`.
- took a little while to figure out how to increase memory for protege on linux. I ended up editing `run.sh` to set `-Xmx16G`.

[2020-11-07 16:08] matentzn opened #2266 "New OMIMPS: mitochondrial complex iv deficiency, nuclear-type"
[code]

[2020-11-08 12:30] maglott opened #2269 "capitalize roman numerals"
**Mondo term (ID Label)**
MONDO_0008659|transcobalamin i deficiency
MONDO_0010961|obesity due to prohormone convertase i deficiency
MONDO_0013422|type i complement component 8 deficiency

**Bug/Typo/Error description**
I did not do an exhaustive search, but found these looking for a lower case letter bounded by spaces that could be a roman numeral
**Your nano-attribution (ORCID)**
If you don't hav

[2020-11-09 13:10] johannaest commented on #2230
Hello,

there might be an association, but having hereditary pediatric Behçet-like
 disease is caused by A20 Haploinsufficiency isn't necessarily linked to A20 Haploinsuficency.

PMID:  29890348 

Von: Nicole Vasilevsky <notifications@github.com>
Gesendet: Samstag, 31. Oktober 2020 01:16
An: monarch-initiative/mondo
Cc: Est, Johanna Ligaya; Mention
Betreff: Re: [monarch-initiative/mondo] [NTR/gene

[2020-11-09 14:15] dhimmel commented on #2251
Here's a screenshot of the editing process in protege (for memory's sake):

![2020-11-09_protege-editing-MONDO-xrefs](https://user-images.githubusercontent.com/1117703/98552092-0fb0f600-226c-11eb-8cc3-87d514bbdb81.png)

[2020-11-09 18:56] nicolevasilevsky commented on #2269
@matentzn I fixed these examples above, but is there a way to easily find all the cases of terms that should have capitalized roman numerals and automatically fix this?

If not, I can just keep an eye out for these and fix them as needed.

Thanks @maglott for reporting this issue!

[2020-11-09 18:57] nicolevasilevsky commented on #2262
From Lori at NCIt:

Non-papillary RCC should definitely not be merged with clear cell RCC. If you can it would be best to eliminate the term non-papillary RCC.

Clear cell RCC and papillary RCC are not the only RCCs described. The list also includes the sarcomatoid RCC, chromophobe RCC, tubulocystic RCC and a wide variety of RCCs associated with translocations/gene fusions of various transcription

[2020-11-09 19:54] matentzn commented on #2269
search for `\s(i?i?i|iv|v|vi+|i+x|x|x+i+)\s` remember to keep capitalisation `aA` sensitive and regex on.

[2020-11-09 19:57] matentzn opened #2273 "Investigate why some diseases match to multiple patterns"
See this comment as an example:

https://github.com/monarch-initiative/mondo/pull/2268#issue-517185148

[2020-11-09 21:43] #2269 closed

[2020-11-09 22:05] nicolevasilevsky commented on #2251
I like this idea. Not sure if this is possible, @matentzn ?

[2020-11-10 00:42] nicolevasilevsky commented on #2273
[inflammatory_disease_by_site.yaml](https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/inflammatory_disease_by_site.yaml) is the correct pattern for the example in #2268

[specific_infectious_disease_by_location](https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/specific_infectious_disease_by_location.yaml) - the variable is  MONDO

[2020-11-10 00:42] nicolevasilevsky commented on #2273
Are there other cases like this, @matentzn?

[2020-11-10 01:00] nicolevasilevsky commented on #2262
@kanems I am going to remove the comment, and we won't merge these terms.
Thanks!

[2020-11-10 11:28] matentzn commented on #2273
I think you are right! You should fix these patterns as you suggest! Other cases of overlapping patterns:

- [ ] allergic_form_of_disease.yaml	basis_in_disruption_of_process.yaml
- [ ] allergic_form_of_disease.yaml	disrupts_process.yaml
- [ ] allergy.yaml	environmental_stimulus.yaml
- [ ] allergy.yaml	specific_infectious_disease_by_agent.yaml
- [ ] autoimmune_inflammation.yaml	specific_infectious_

[2020-11-10 11:38] matentzn commented on #2251
I totally agree it would be ideal.. Unfortunately we are hindered by two things to do this: missing expert programmers that can do this (the docs on writing such plugins is so bad that even people with experience take a long to to write anything reasonable), 2) politics -> chronic weariness of Protege and its dried out funding prevent any concerted efforts to find resources. We are basically pushi

[2020-11-10 11:47] matentzn commented on #1987
Ok this is now being done, closing for now.

[2020-11-10 11:47] #1987 closed

[2020-11-10 13:19] kanems commented on #2262
Thank you all for clarifying!

From: Nicole Vasilevsky <notifications@github.com>
Sent: Monday, November 9, 2020 8:01 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] <megan.kane@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] nonpapillary Renal cell carcinoma & clear cell renal carcinoma (#2262)

@kanems<https://g

[2020-11-10 16:49] cmungall commented on #2273
hmm, for the specific_X patterns is there a way to say that filler should be a proper subclass of disease?

[2020-11-10 16:52] nicolevasilevsky commented on #2273
I think you just have to say the variable is the more specific subclass, like  for specific_infectious_disease_by_location

it should be:

classes:
    infectious disease: MONDO:0005550
    anatomical structure: UBERON:0000061

[2020-11-10 18:07] matentzn commented on #2273
@nicolevasilevsky suggestion is the only way - you cant say "proper subclass" as in "any class that is a subclass of the filler, but not the filler itself.

[2020-11-10 19:55] matentzn commented on #2273
@cmungall Is there any problem with Nicoles suggestion?

[2020-11-10 20:41] kanems commented on #48
I am looking for clarification on these disease terms.
OMIM 606002 combines SCAN2, AOA2 and SCAR1 as equivalent/alternate names for the same disorder, as does UMLS/SNOMEDCT (UMLS CUI: C1853761). NCI equates SCAN2 and AOA2 (NCI Thesaurus Code:  C165500) (SCAR1 is apparently no longer represented in NCIT as it's own entity, still attached to SETX wt allele entry).

However, MONDO represents SCAN2 (M

[2020-11-10 21:14] kanems opened #2277 "Mitochondrial complex I deficiency, nuclear type 1"
I see the parent term mitochondrial complex I deficiency, nuclear type covers sub-types/children numbered between 2 and 34, but no term for type 1. This is represented by OMIM 252010 and has a unique genetic etiology (NDUFS4); the OMIM PS 252010 does certainly seem to belong on  MONDO:0009640, but I wonder if  there should be a separate child for "mitochondrial complex I deficiency, nuclear type 1

[2020-11-11 01:31] #2266 closed

[2020-11-11 01:42] #2251 closed

[2020-11-11 01:45] nicolevasilevsky commented on #2277
@kanems good catch - yes, we should split OMIMPS:252010 and OMIM:252010

[2020-11-11 01:48] nicolevasilevsky commented on #2277
syndromic neurometabolic disease with X-linked intellectual disability is being inferred as a parent because mitochondrial complex I deficiency, nuclear type is a child of 'X-linked syndromic intellectual disability'. I'll exclude this parent and this will be fixed.

Thanks!!

[2020-11-11 01:49] nicolevasilevsky commented on #2277
@matentzn do we have a check (or warning) if a term has an OMIM and OMIMPS that are both annotated with MONDO:equivalentTo?

[2020-11-11 01:51] nicolevasilevsky commented on #2277
For the record, I think this was a mistake that I made, see this ticket: https://github.com/monarch-initiative/mondo/issues/1042

[2020-11-11 01:59] nicolevasilevsky commented on #2277
to do:
- [ ] create new class 'mitochondrial complex I deficiency, nuclear type'
- [ ] create new class 'mitochondrial complex I deficiency, nuclear type, type 1'
- [ ] merge MONDO:0009640 'mitochondrial complex I deficiency, nuclear type' with 'mitochondrial complex I deficiency, nuclear type, type 1'
- [ ] make sure all the same parents (from Orphanet) are added to 'mitochondrial complex I defic

[2020-11-11 04:56] dhimmel commented on #2251
@matentzn thanks for the info on the limitations the field is working with. The CI checks seem like a reasonable alternative. Immediate feedback is ideal, but my main concern is standardized data and schema enforcement which can all happen at the CI level. Looking forward to learning more about the SPARQL violation queries and contributing them whenever possible.

[2020-11-11 09:43] matentzn opened #2279 "Orphanet slurp"
I just ran the Orphanet slurp yesterday (@cmungall), and this is what it came up with:

I don't know what to do with this; @nicolevasilevsky maybe you can figure it out?

[code]

[2020-11-11 11:43] matentzn commented on #2257
Fixed.

[2020-11-11 11:48] matentzn commented on #2257
Sorry reopening until I have have actually made a PR

[2020-11-11 11:55] matentzn opened #2281 "No class should be equivalent to an OMIM and OMIMPS"
See https://github.com/monarch-initiative/mondo/issues/2277#issuecomment-725075741

[2020-11-11 11:58] matentzn commented on #2257
Here is the term to be added:

[code]

I will assign back to you.

[2020-11-11 12:13] matentzn commented on #2251
I totally agree. Even all this SPARQL checking is not ideal - if we had the resources (I would love to do it), we would dig into shape languages like shex and shacl, and do this kind of constraint checking in there. Right now, we basically encode antipatterns (like a piece of broken ontology) in a SPARQL query - and if the query returns something, that's considered a violation. It works well enoug

[2020-11-11 15:57] nicolevasilevsky commented on #2257
I did add it on the PR: https://github.com/monarch-initiative/mondo/pull/2267/files
I just renamed it, as we are renaming those terms (and so is OMIM, they just haven't finished yet).

[2020-11-11 16:09] matentzn commented on #2257
great!

[2020-11-11 16:10] matentzn commented on #2257
I will leave it to you to close it then with that PR

[2020-11-11 16:11] nicolevasilevsky commented on #2257
I did have a question for you on that PR

[2020-11-11 22:34] nicolevasilevsky commented on #2279
seems like we do have some of these already in Mondo, from different sources. In those cases, I'll add the Orphanet xref.

Otherwise I'll add these as new terms. I assume that is what is supposed to be done, but I don't know for sure.

[2020-11-11 22:58] matentzn commented on #2279
Yeah sounds good I think.. Makes sense. Check them 1 by 1, add xrefs were missing and new terms where necessary! Cool!

[2020-11-12 14:38] kanems opened #2283 "Add term for the OMIM PS191830, renal hypoplasia/aplasia[NTR]"
**Preferred term label:**
Renal hypodysplasia/aplasia

**Synonyms**
Renal agenesis/hypoplasia (HP:0008678)
Absent/small kidney
Absent/underdeveloped kidney

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Absence or underdevelopment of the kidney.

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
htt

[2020-11-12 15:34] kanems opened #2284 "Merge Status: MONDO:0013517 (beta thalassemia)"
On MONDO:0013517 (beta-thalassemia HBB/LCRB), there is an "editor note: consider merging into parent." What is the status of this merge?

[2020-11-12 15:39] nicolevasilevsky commented on #2284
I think we should remove this comment, based on discussion in this ticket https://github.com/monarch-initiative/mondo/issues/1756, it seems like this is a valid term.

[2020-11-12 16:20] maglott opened #2286 "[Revise logical def] MONDO_0005120"
**Mondo term (ID and Label)**
MONDO_0005120/Drosophila C virus infection

**Suggested revision of logical definition**
Should this be a child of MONDO:0005583?  As far as I can tell there are no reports of the virus infecting humans.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2020-11-12 16:25] maglott opened #2287 "[Obsolete] alpha satellite DNA"
**Mondo term (ID and Label)**
MONDO_0007468/DNA, satellite, alpha type

**Reason for deprecation**
Not a disorder

**Suggested term to consider**

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2020-11-12 19:07] kanems commented on #204
Additional clarification requested on NBIA2A.

Per OMIM, "Neurodegeneration with brain iron accumulation-2A is an autosomal recessive neurodegenerative disease characterized by onset in the first 2 years of life; it is also referred to as infantile neuroaxonal dystrophy (INAD). "  https://www.omim.org/entry/256600

So should MONDO:0009739 (infantile neuroaxonal dystrophy) merge with MONDO:0024457

[2020-11-12 21:35] #2284 closed

[2020-11-12 21:47] kanems commented on #1223
@nicolevasilevsky Following up on this... can we check with the OMIM team to get some clarification on whether WWS and MDDGA type are equivalent terms? Looking at the existing hierarchy/tree of children to MDDG type A MONDO:0000171, they all seem to be subtypes that match to the same Children of WWS MONDO:0019523.

[2020-11-13 01:56] nicolevasilevsky commented on #2286
viral infectious disease is not restricted to humans though.
I can add the parent 'non-human animal disease', does that work?

[2020-11-13 02:01] nicolevasilevsky commented on #2283
We already have this:
MONDO_0018470 'renal agenesis (disease)'

Please reopen if anything else is needed.

[2020-11-13 02:01] nicolevasilevsky commented on #2283
Oh wait - I'll add the xrefs

[2020-11-13 12:03] maglott commented on #2286
Thanks, Nicole.  That helps because MedGen excludes all children of non-human animal disease for automatic processing.

[2020-11-13 16:55] #2286 closed

[2020-11-13 16:56] #2283 closed

[2020-11-13 17:05] #2287 closed

[2020-11-13 17:15] nicolevasilevsky commented on #2247
Need to discuss with @mellybelly and @cmungall and @ahamosh - we should improve the classification of amyloidosis (ie organ affected, proteins involved, etc.)

[2020-11-13 17:16] nicolevasilevsky commented on #2247
need better documentation on how we are classifying these hierarchies. The patterns are meant to (partially) address this.

[2020-11-13 17:19] nicolevasilevsky commented on #2247
@kshefchek do you mind if we hold off on adding these synonyms? We need to restructure this hierarchy.

[2020-11-13 17:31] ahamosh commented on #2247
I am not (at all) an expert on amyloidosis, but I think the trouble is that it can address multiple organs (or just one) and can be hereditary or acquired and there are different etiologies.  TTR is important because it now has a specific treatment.  I did a very quick search in OMIM and there are 41 amyloidoses with clinical synopses.  It would take me a while to sort through all this...

[2020-11-13 18:15] nicolevasilevsky commented on #2145
Sounds like we should keep this. I will close.

[2020-11-13 18:15] #2145 closed

[2020-11-13 18:22] nicolevasilevsky commented on #1223
@ahamosh could you please give us some advice on this? Thank you!

[2020-11-13 18:24] nicolevasilevsky commented on #2208
Seems like
MONDO:0011859 Distal myopathy with early respiratory muscle involvement should be merged with MONDO:0011362 hereditary proximal myopathy with early respiratory failure

[2020-11-13 18:44] ahamosh commented on #1223
MDDGAs are WWS.  The number after MDDGA is which gene.  The MDDGBs are congenital muscular dystrophies with or without ID.  The MDDGCs are later-onset limb-girdle muscular dystrophies.  We lumped WWS and Muscle-Eye-Brain because the outcome difference largely depends upon medical intervention or lack thereof...

[2020-11-13 18:56] #2257 closed

[2020-11-13 18:58] #1684 closed

[2020-11-13 18:59] #2277 closed

[2020-11-13 19:01] nicolevasilevsky commented on #2104
Looks like NCIT does not have a replacement or consider term:
https://ncithesaurus.nci.nih.gov/ncitbrowser/pages/concept_details.jsf?dictionary=NCI_Thesaurus&version=20.10d&code=C7588&ns=ncit&type=all&key=null&b=1&n=0&vse=null

[2020-11-13 19:03] RedRiver1816 commented on #2214
Updating request status. Any further information necessary?

[2020-11-13 19:05] nicolevasilevsky commented on #2214
thanks for the nudge @RedRiver1816- I will try to work on this today!

[2020-11-13 19:40] cmungall commented on #2230
Is this not the same as https://www.omim.org/entry/616744 ?

[2020-11-13 19:48] #2015 closed

[2020-11-13 21:43] nicolevasilevsky opened #2304 "need an iatrogenic DP"
To do:
- [x] review PR with Chris: https://github.com/monarch-initiative/mondo/pull/3982
- [ ] need to create DP
- [x] add axioms to spontaneous diseases too? no

----

need an iatrogenic DP

see https://github.com/monarch-initiative/mondo/pull/2282

[2020-11-13 22:00] #2195 closed

[2020-11-13 22:01] #2209 closed

[2020-11-13 22:02] #2211 closed

[2020-11-13 22:02] #2104 closed

[2020-11-13 22:27] #2099 closed

[2020-11-13 22:35] nicolevasilevsky commented on #2218
good catch, thanks!

[2020-11-13 22:42] #2137 closed

[2020-11-13 22:43] #1842 closed

[2020-11-14 00:21] nicolevasilevsky commented on #2230
@johannaest could you reply to Chris' comment above? Please also see his comment here: https://github.com/monarch-initiative/mondo/pull/2275#issuecomment-726995626

Thanks!

[2020-11-16 09:44] johannaest commented on #2230
A20 haploinsufficiency is a monogenic autoinflammatory disease with highly variable clinical manifestations. This extensive heterogeneity makes it difficult to set a clinical
 diagnostic criteria, and genetic sequencing is necessary for a definitive diagnosis.

A simple genotype- phenotype correlation does not exist, PMID:29317407​,
 PMID: 26642243​
​

Von: Nicole Vasilevsky <notifications@github.

[2020-11-16 20:25] kanems opened #2309 "Is ulna(r) hypoplasia the same as upper limb mesomelic dysplasia?"
Question for community, seeking consensus regarding MONDO:0008620; upper limb mesomelic dysplasia, synonyms: ulna hypoplasia, and Fryns-Hofkens-Fabry syndrome (with potentially redundant related synonyms "Fryns Hofkens Fabry syndrome" and "ulnar hypoplasia").
Is "ulna hypoplasia" truly an exact match? Is "ulnar hypoplasia" a distinct, but related concept?

OMIM 191440 uses "ulnar hypoplasia" as th

[2020-11-16 20:29] nicolevasilevsky opened #2310 "update MR to intellectual disability"
We still have labels and synonyms that use 'mental retardation', which should be updated to 'intellectual disability' and any synonym that uses MR should have a deprecate tag: https://mondo.readthedocs.io/en/latest/editors-guide/f-entities/#depracate-synonyms

Chris said this could probably be done via a SPARQL query.

Thanks @matentzn!

[2020-11-16 22:15] nicolevasilevsky commented on #2309
I think @ahamosh may be best able to answer this. Thanks in advance, @ahamosh. :)

[2020-11-16 22:55] pnrobinson commented on #2309
I would regard "upper limb mesomelic dysplasia" as a phenotypic feature, that is at least close to this:
https://hpo.jax.org/app/browse/term/HP:0005011
Fryns-Hofkens-Fabry syndrome is defined as *isolated* upper limb mesomelic dysplasia, which is a disease since it is definiing not one phenotyic feature but the patient ("isolated").
Ulnar hypoplasia is undergrowth of the ulna (one of the two forea

[2020-11-16 23:33] #2212 closed

[2020-11-16 23:34] #2218 closed

[2020-11-16 23:35] #2213 closed

[2020-11-16 23:57] cmungall commented on #2310
or sed

On Mon, Nov 16, 2020 at 12:29 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-11-17 01:03] nicolevasilevsky opened #2312 "[Obsolete] atrophy terms"
related to https://github.com/monarch-initiative/mondo/issues/528

I obsoleted 'degenerative disorder' on PR https://github.com/monarch-initiative/mondo/pull/2311

There were several atrophy terms that were children, which should possibly be obsoleted too and consider HPO terms instead:

MONDO term | HPO ID | HPO term | Proposed action
-- | -- | -- | --
atrophy of lacrimal gland | | n/a | New term

[2020-11-17 01:26] nicolevasilevsky commented on #2312
cc @galyea-gard GARD has Wallerian degeneration, there is a comment on this term in Mondo: this may represent a process. Consider ceding to HPO

We welcome your comments - thanks!

[2020-11-17 01:33] nicolevasilevsky commented on #1611
@pnrobinson - if you have time, your input on this would be appreciated! Thanks!

[2020-11-17 01:34] pnrobinson commented on #2312
Wallerian degeneration is neither a disease nor a phenotype. I am not sure we can easily represent it -- https://en.wikipedia.org/wiki/Wallerian_degeneration   we need a pathophysiology ontology

[2020-11-17 01:38] nicolevasilevsky commented on #2312
Thanks @pnrobinson! I won't add it as a synonym to HP_0003378 'Axonal degeneration/regeneration', but I could still add a consider annotation, since that term is related.

[2020-11-17 01:43] cmungall commented on #2312
Fine with obsoletion. I don't think the consider annotation buys us much.

We may want to coordinate with NCIT who model as a disease:

https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C85223

_A condition caused by degeneration, atrophy, and destruction of the distal part of a nerve fiber's axon and myelin, when continuity with the neural cell nucl

[2020-11-17 01:44] nicolevasilevsky commented on #1834
@abbe-Lai have you had a chance to rethink this term?

Using gene names in terms is fine if needed. :)

[2020-11-17 01:44] nicolevasilevsky commented on #1830
@abbe-Lai following up, please let me know if the proposed label and definition above look okay, whenever you have a chance. Thanks!

[2020-11-17 01:45] nicolevasilevsky commented on #2312
I'll follow up with NCIT, thanks!

[2020-11-17 01:48] nicolevasilevsky commented on #2312
Emailed NCIT 11/16/20

[2020-11-17 01:50] #2279 closed

[2020-11-17 01:51] #2131 closed

[2020-11-17 01:56] nicolevasilevsky commented on #1640
@ahamosh Not sure if I ever followed up with you about this.

I feel like these classifications are wanted amongst the epilepsy community, what are your thoughts? I can follow up with Ingo too.

[2020-11-17 02:04] nicolevasilevsky commented on #1372
@ana-rath-orphanet @annieolry @Orphanet
do you have any objections to merging these three terms?
Thanks!

[2020-11-17 03:48] abbe-Lai commented on #1830
Hello,

We have come up with a new idea! Should I submit it in a new github ticket? The majority of our panel members have decided that a single term would be sufficient.

Best,
Abbe Lai

From: Nicole Vasilevsky <notifications@github.com>
Reply-To: monarch-initiative/mondo <reply@reply.github.com>
Date: Monday, November 16, 2020 at 8:45 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc

[2020-11-17 04:43] nicolevasilevsky commented on #1830
Great - a new ticket is great, I'll close this one, thanks!

[2020-11-17 04:43] #1830 closed

[2020-11-17 04:44] #1741 closed

[2020-11-17 05:28] galyea-gard commented on #2312
Hi Nicole!  I believe we will retire this term, which is a mechanism of axon degeneration. Thanks!  Gioconda

From: Nicole Vasilevsky <notifications@github.com>
Sent: Monday, November 16, 2020 8:49 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] [Obs

[2020-11-17 05:44] nicolevasilevsky commented on #1524
@cmungall you created this grouping class, I am not sure we want to obsolete it.

[2020-11-17 05:48] nicolevasilevsky commented on #1524
I am going to close this, please reopen if you'd like to discuss further.

[2020-11-17 05:48] #1524 closed

[2020-11-17 05:50] nicolevasilevsky commented on #1576
@galyea-gard
do you have any objections to obsoleting this term in Mondo?
thanks!

[2020-11-17 07:29] ana-rath-orphanet commented on #1372
Hello, Orphanet has already deprecated ORPHA:370938 and ORPHA:171714 to ORPHA:370933.
It is both reflected in the website and in the nomenclature files.

I don't know which version are you looking at?

Cheers

Ana

[2020-11-17 12:07] matentzn commented on #2281
Closing in favour of https://github.com/monarch-initiative/mondo/issues/1455

[2020-11-17 12:07] #2281 closed

[2020-11-17 12:07] matentzn commented on #1455
see https://github.com/monarch-initiative/mondo/issues/2277#issuecomment-725075741

[2020-11-17 14:56] ahamosh commented on #1640
Hi Nicole,  I am not sure that I understand the question here.  Age of onset for epilepsy are quite variable, although usually organized broadly by infantile, childhood and adulthood, but there will be variability even among these.  I would definitely check with Ingo about how the Epilepsy GCEP of ClinGen is looking at this.  Let me know.

[2020-11-17 19:27] #2230 closed

[2020-11-17 20:31] nicolevasilevsky commented on #2312
NCIT recommends Mondo keep this valid term ['Wallerian degeneration']. It is the result of axon degeneration caused by trauma. It is a specific morphologic and biochemical process that results in the regeneration of the axon.

Decision - I will keep it and classify it.

[2020-11-17 21:42] nicolevasilevsky commented on #1455
I will work on these three first:

- [ ] MONDO_0008546,thanatophoric dysplasia type 1, MONDO_0014658,severe achondroplasia-developmental delay-acanthosis nigricans syndrome,,
- [ ] MONDO_0010273,"lymphoma, Hodgkin, X-linked pseudoautosomal", MONDO_0009348,classic Hodgkin lymphoma,,
- [ ]  MONDO_0013236,"pancreatic cancer, susceptibility to, 3", MONDO_0015278,familial pancreatic carcinoma,,

[2020-11-17 22:17] nicolevasilevsky commented on #1455
Summary:
1. excluded superclass from MONDO_0008546 thanatophoric dysplasia type 1 - _this did not have a source for the superclassOf assertion and it seemed like it was a mistake. `MONDO_0008546 thanatophoric dysplasia type 1` was the only child of `MONDO_0014658,severe achondroplasia-developmental delay-acanthosis nigricans syndrome`, which Chris says is a "bad smell"
2. I reclassified MONDO_0010

[2020-11-18 15:54] galyea-gard commented on #2312
Hi Nicole!  For us, because we only will keep the rare or genetic disorders, most probably it will retired.  Thank you!  Gioconda

From: Nicole Vasilevsky <notifications@github.com>
Sent: Tuesday, November 17, 2020 3:32 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-

[2020-11-18 16:17] kanems opened #2323 "Kilquist Syndrome [NTR]"
**Preferred term label:**
Kilquist Syndrome (source: https://www.omim.org/entry/619080)

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Kilquist syndrome (KILQS) is an autosomal recessive multisystem disorder characterized by neurologic, gastrointestinal, and secretory dysfunction. Affected individuals present at birth with hypotonia, feeding

[2020-11-18 16:42] nicolevasilevsky commented on #2323
@matentzn will this come in the next OMIM ingest? Thanks!

[2020-11-18 16:56] nicolevasilevsky commented on #2312
Sounds good, thanks @galyea-gard!

[2020-11-18 18:57] kanems opened #2325 "Heritable pulmonary arterial hypertension"
Should heritable pulmonary arterial hypertension (MONDO:0017148) be a parent term to primary pulmonary hypertensions 1-4  rather than a sibling?
Orphanet 275777 Maps to OMIM 178600 (PPH1) and  615342 (PPH3),
UMLS C0340543 (Familial PPH, aka HPAH) appears to be a parent term to PPH1, PPH2, PPH3, PPH4, (and others) but child to "idopathic pulmonary hypertension" Supporting a more "nested" view of th

[2020-11-18 19:44] kanems opened #2326 "Merge status? MONDO:0024462"
MONDO:0024462
familial cutaneous melanoma

Has a note: "Editor note: consider merge with parent"
What is the status of this merge?

[2020-11-18 20:05] kanems opened #2327 "telangiectasia, hereditary hemorrhagic, of Rendu, Osler, and Weber; HTT1"
**Mondo term (ID and Label)**
MONDO:0008535 telangiectasia, hereditary hemorrhagic, of Rendu, Osler, and Weber

**Synonyms to be added**
 Telangiectasia, hereditary hemorrhagic, type 1
HTT1

**Synonym subtype: ie, broad/exact/narrow/related**
Exact
(Per OMIM's display, this "Telangiectasia, hereditary hemorrhagic, type 1" name is the preferred name)

**Database cross reference for the synonym** Su

[2020-11-18 20:51] kanems opened #2328 "MONDO:0007269 and MONDO:0022651 [Merge]"
**Mondo term (ID and Label)**
MONDO:0022651 "cardiomyopathy dilated with conduction defect type 1"

**Reason for deprecation**
Seems to be a bit of an orphan term; one cross-ref from GARD but the string is a near exact match (and concepts seem to be an exact match) for another term in MONDO.
Also the "Monarch Initiative" link from GARD 1104 page (https://rarediseases.info.nih.gov/diseases/1104/car

[2020-11-18 21:21] kanems opened #2329 "MRX52 and ARX-related MR [Merge]"
**Mondo term (ID and Label)**

MONDO:0010346 "MRX52"

**Reason for deprecation**
Cross references to OMIM (300504 now merged with 300419) and UMLS CUI C1845298 are no longer valid.
Following OMIM's lead, merge with term linked with OMIM:300419.

**Term to be merged with**
MONDO:0010317 "intellectual disability, X-linked, with or without seizures,   arx-related"

**Your nano-attribution (ORCID)**
0

[2020-11-18 21:52] kanems opened #2330 "Long QT syndromes [Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0002442
"Long QT syndrome"

**Suggested revision and reasons**
The definition on this parent term describes "The two major forms are Romano-Ward syndrome and Jervell-Lange Nielsen syndrome." and then Children of this term are "Jervell-Lange Nielsen syndrome" and "familial long QT syndrome" (and under this familial long QT term I see "Jervell and Lange-Nielsen sy

[2020-11-18 22:03] matentzn opened #2331 "OMIM update 18. Nov. 2020"
[code]

[2020-11-18 22:04] matentzn commented on #2331
the synonyms still need processing, such an annoyance. sorry nicole!

[2020-11-19 07:46] annieolry commented on #2208
Hi,
ORPHA:34521 Distal myopathy with early respiratory muscle involvement has been deprecated and moved to ORPHA:178464 Hereditary myopathy with early respiratory failure in September 2018.
Just wondering if you are using the latest Orphanet version.

[2020-11-19 15:38] nicolevasilevsky commented on #2208
Thanks @annieolry!

[2020-11-19 18:15] nicolevasilevsky opened #2334 "disease susceptibility should not be a subclass of the disease"
@matentzn please do a SPARQL query to find all susceptibility of classes and remove superclass assertions to the the parent disease. For example:

MONDO:0012863 `attention deficit-hyperactivity disorder, susceptibility to, 6` should not be a child of MONDO:0007743  `attention deficit-hyperactivity disorder`

cc @cmungall

[2020-11-19 19:16] maglott commented on #2334
How should susceptibilities be treated?  Are they phenotypes and not disorders?

[2020-11-19 20:03] nicolevasilevsky commented on #2334
Good question @maglott, I think that is a bigger question.
@pnrobinson opened this ticket (https://github.com/monarch-initiative/mondo/issues/496) a while ago suggesting we obsolete susceptibility terms.

For now, I think we'll move these OMIM susceptibility terms to children of Mendelian disease.

[2020-11-20 00:40] cmungall commented on #2334
I think you mean outside of Mendelian?

yes the susceptibilities should be outside the main hierarchy

On Thu, Nov 19, 2020 at 12:03 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-11-20 00:44] nicolevasilevsky commented on #2334
right now, these OMIM terms are classified as Mendelian diseases too (such as 'attention deficit-hyperactivity disorder, susceptibility to, 6' is a child of Mendelian disease and 'attention deficit-hyperactivity disorder'.

I guess they should be asserted to be children of MONDO_0020573 'inherited disease susceptibility', yes?

[2020-11-20 01:58] cmungall commented on #2334
yes

we'll work towards making disease susceptibility and disease disjoint...
incremental progress

On Thu, Nov 19, 2020 at 4:44 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2020-11-20 10:48] pnrobinson commented on #2334
@cmungall  Please do not do this. There is no disease called X susceptibility. The disease is simply "X". Once can only infer "X susceptibility if one figures out that say Y% people with a mutation in some gene have the disease where Y% is higher than in people without a mutation in the gene. But people with the mutation either have or do not have the disease. @ahamosh could we set up a call to di

[2020-11-20 12:01] maglott commented on #2334
ClinVar has been inconsistent with this, and would appreciate consensus on a way to go forward.  When variants contribute to susceptibility to  disorder D, we have curated some to be an interpretation of susceptibility to disorder D, removing the record for "susceptibility to disorder D".  But we don't have enough curation resources to maintain all these, and thus  have let most be retained as phe

[2020-11-20 14:13] ahamosh commented on #2334
This definitely requires a conversation. Some "susceptibility to" are for germline increased risk that requires additional factors (genetic or environmental), for example:  BRCA1 or BRCA2 and Breast and Ovarian Cancer.  Having the variant doesn't give you the disease, you need to accumulate more somatic mutations, but it significantly increases the risk.  Also UNC93B and HSV encephalitis: if you a

[2020-11-20 16:36] nicolevasilevsky commented on #2334
@ahamosh we have weekly meetings scheduled on Fridays at 9am PT/12pm ET - are you available then? The meeting is canceled next week due to TG. If that doesn't work, we can find another time. Thanks!

[2020-11-20 17:38] #2083 closed

[2020-11-20 17:44] nicolevasilevsky commented on #2214
@RedRiver1816 do you mean 'Bethlem myopathy 1' should be a subclass of collagen 6-related myopathy? 'Bethlem myopathy 2' has a defect in collagen 12, not collagen 6.

[2020-11-20 17:46] nicolevasilevsky commented on #2214
- [ ] to do: check the other subclasses and make sure they are col6 deficiencies.

[2020-11-20 17:59] nicolevasilevsky commented on #2214
to do:
- [ ] 'obsolete non-dystrophic myopathy with collagen 6 anomaly'
- [ ] make a ticket - is myosclerosis a myopathy?

[2020-11-20 19:41] #1522 closed

[2020-11-20 20:07] #2208 closed

[2020-11-20 21:15] kanems commented on #379
What is the status of this merge? The OrphaNet cross-ref on MONDO:0016603 points back to the same concepts on MONDO:0011326 "citrullinemia, type II, adult onset" so it would seem most sources agree these are equivalent concepts.

[2020-11-20 21:50] kanems opened #2337 "autosomal recessive cutis laxa type 2, classic type"
I am confused by the distinction/cross references on
autosomal recessive cutis laxa type 2, classic type MONDO:0009054
and
autosomal recessive cutis laxa type 2A MONDO:0018163 .

OMIM 219200 https://www.omim.org/entry/219200  should maybe map to ARCL2A (not Classic type)? Same for GARD 0001638 https://rarediseases.info.nih.gov/diseases/1638/cutis-laxa-autosomal-recessive-type-2a

Orphanet 357074

[2020-11-20 21:57] ahamosh commented on #2334
Hi Nicole,  I have to run a clinical faculty meeting at 9 am on 12/4, but I can do 12/11 barring a patient emergency because I will be on call.  Can I have Joanna join?

[2020-11-20 23:04] nicolevasilevsky commented on #2334
Hi @ahamosh - great, I'll send you and Joanna an appointment - we'd love to have Joanna join!

[2020-11-20 23:16] #1372 closed

[2020-11-20 23:17] #528 closed

[2020-11-20 23:18] #2312 closed

[2020-11-20 23:18] #696 closed

[2020-11-20 23:19] #2116 closed

[2020-11-20 23:20] #1594 closed

[2020-11-20 23:51] nicolevasilevsky commented on #2331
@matentzn bring in corresponding genes for OMIM terms. Genes should be in the resulting RDF file - we should add the equiv axioms, where applicable

[2020-11-20 23:52] nicolevasilevsky commented on #2331
@nicolevasilevsky
review this PR to bring in abbrev tags

[2020-11-20 23:54] nicolevasilevsky opened #2338 "Need to see what has been obsoleted in Orphanet and sync"
review obsoleted terms in Orphanet and make sure they are obsoleted in Mondo too

Let @nicolevasilevsky if she can help 👍

[2020-11-21 00:20] nicolevasilevsky commented on #1576
pinging @galyea-gard

[2020-11-21 00:58] nicolevasilevsky commented on #1687
owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0010071 MONDO:0011939 -o -f obo mondo-edit.obo

[2020-11-21 02:36] #1521 closed

[2020-11-21 04:15] cmungall opened #2339 "check for valid PS IDs"
e.g

[code]

https://www.omim.org/phenotypicSeries/PS610799

Says invalid

You can see what is going in here by looking at the prototype entry:
https://www.omim.org/entry/610799

moved to https://www.omim.org/entry/607676

which has this PS

https://www.omim.org/phenotypicSeries/PS300755

(different than original)

[2020-11-23 02:10] galyea-gard commented on #1576
I added this one to my list of terms to be retired when our review process is done.  Thank you Nicole!  Gioconda

From: Nicole Vasilevsky <notifications@github.com>
Sent: Friday, November 20, 2020 7:21 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo]

[2020-11-23 14:16] matentzn commented on #2338
[ordo_deprecated.txt](https://github.com/monarch-initiative/mondo/files/5583544/ordo_deprecated.txt)

Can you manually check some of these please @nicolevasilevsky

[2020-11-23 18:13] galyea-gard opened #2342 "NTR: VEXAS syndrome"
Hi Nicole:  I received a message from a NIH coding staff about a new syndrome known as "VEXAS syndrome" (please see:  https://pubmed.ncbi.nlm.nih.gov/33108101/).    The syndrome is already in OMIM: https://omim.org/entry/301054?search=VEXAS&highlight=vexas and it was researched by the NIAMS.  Please let me know if you can add this one and I will also add it to GARD.  Thank you! Gioconda

[2020-11-23 21:23] kanems commented on #1708
What is the status of this merge?

[2020-11-24 06:43] #2331 closed

[2020-11-24 16:22] matentzn opened #2343 "Bring in corresponding genes for OMIM terms"
- [ ] @matentzn bring in corresponding genes for OMIM terms. Genes should be in the resulting RDF file - we should add the equiv axioms, where applicable

[2020-11-24 19:32] cmungall commented on #2342
We added this (this PR #2332) and will be in next release!

[2020-11-24 21:13] kanems opened #2345 "Crisponi syndrome a synonym or distinct disorder?"
"Cold induced sweating syndrome" MONDO:0015526 is a parent to 3 children conditions: "Crisponi syndrome" (aka cold induced sweating syndrome 1),  "cold induced sweating syndrome 2" and "cold induced sweating syndrome 3." However, "Crisponi syndrome" is given as a synonym for this parent term.

Can we clarify where "Crisponi syndrome" belongs? It is a synonymous term for broad parent, or the prefer

[2020-11-24 22:26] nicolevasilevsky commented on #2338
I spot checked this list and it looks good!

[2020-11-24 22:27] #2342 closed

[2020-11-24 23:55] nicolevasilevsky commented on #1692
these were already merged

[2020-11-25 08:57] matentzn commented on #2338
So how are we ideally going about this? I could Mark them for obsoletion (put a property on them like to-be-obsoleted true), but I can't obsolete them.. or do you just want to work down the list until it's done?

[2020-11-25 15:25] nicolevasilevsky commented on #2338
Oh, if it is not possible for you to bulk obsolete them, then yes, I can work down the list and manually obsolete them.

[2020-11-25 15:26] nicolevasilevsky commented on #2338
There isn't much of an advantage to giving them the 'obsoletion candidate' subset tag. I'll work on this asap.

[2020-11-25 16:14] kanems opened #2354 "Distal hereditary motor neuropathy type 5/ 5A[Merge]"
**Mondo term (ID and Label)**
MONDO:0010935, neuronopathy, distal hereditary motor, type 5A

**Reason for deprecation**
OMIM has merged this term with distal hereditary motor neuropathy type 5 (MIM # 600794 apparently maps to both terms)

**Term to be merged with**
MONDO:0015353 , distal hereditary motor neuropathy type 5

**Your nano-attribution (ORCID)**
0000-0001-5493-2602

[2020-11-25 20:38] galyea-gard commented on #2342
Thank you Nicole!

[2020-11-25 21:57] #1692 closed

[2020-11-26 02:43] nicolevasilevsky opened #2358 "[Merge] 'Goldenhar syndrome'"
**Mondo term (ID and Label)**
'Goldenhar syndrome'

**Reason for deprecation**
@ahamosh and @ana-rath-orphanet - is 'Goldenhar syndrome' the same as MONDO_0015398 'hemifacial microsomia'?

OMIM uses 'hemifacial microsomia' as the primary label and Orphanet obsoleted Orphanet:374 'Goldenhar syndrome'.

Thanks!

[2020-11-26 12:15] pnrobinson opened #2360 "[NTR] Subtypes in MONDO"
Open question:
Should we have two subtypes of Ichthyosis vulgaris, corresponding to a mild and severe form. We may need to bring Courtney into this discussion.

_Update 2022-11-30 by @nicolevasilevsky _

---

Ichthyosis vulgaris (https://omim.org/entry/146700) has currently one entry in MONDO (http://purl.obolibrary.org/obo/MONDO_0024304). However, heterozygote FLG mutation carriers have mild mani

[2020-11-26 18:57] #2214 closed

[2020-11-26 18:59] nicolevasilevsky opened #2361 "is myosclerosis a myopathy?"
Currently MONDO_0009714 myosclerosis is a subclass of MONDO_0100225 'collagen 6-related myopathy' - is this the best parent?

related to https://github.com/monarch-initiative/mondo/issues/2214

[2020-11-27 13:57] Antonialock opened #2362 "[NTR/gene] map UniProtKB 2021_01 release to MONDO"
Hi,

for Uniprot release 2021-01 we require the following MONDO terms for mapping:

Not sure how the omim ingests work now on your end, so thought I'd raise this request. I have attached the DI defs after the table in case they are useful.
There were a few odd terms that are shown in the monarch explorer, but they are only associated with the MIM ID and a DO ID - not sure why they don't have a MON

[2020-11-27 14:39] matentzn commented on #2362
Hey @Antonialock

I just eyeballed 10 of them and they all, or at least the majority, of these terms will show up in the next release!

[2020-11-28 15:12] ahamosh commented on #2358
Hi Nicole, yes, Goldenhar syndrome and hemifacial microsomia are the same things.

[2020-11-28 15:17] ahamosh commented on #2360
Hi Peter,
The feeling in ClinGen is that if homozygous affected have the same kind (but more severe phenotype) to keep it as one disease.  OMIM has usually done the same thing, but not always.  We create a new phenotype if it is clinically different rather than more severe.  I am happy to discuss.  We should bring Joanna and Carol from OMIM in.  Might want to include Courtney Thaxton from ClinGen.

[2020-11-28 16:20] pnrobinson commented on #2360
Hi Ada,
the reason for having two entities (which we can consider as one disease) is that it makes it easier to investigate genotype phenotype correlations, since databases etc often use the OMIM identifier to denote the disease entity. As always, there is more than one way of doing things, and if the community decides for lumping, then the HPO project will need to record this information in a sep

[2020-11-28 18:27] mellybelly commented on #2360
@nicolevasilevsky can we go through all the tickets and flag ones like this one with a new tag for "lumping and splitting" implementation guidelines? Obviously what we want to avoid is applying our classifications different in different contexts. Working with the lumping and splitting group will be a terrific way to operationalize and set up axiom consistency checks for Mondo as things mature.

[2020-11-28 21:01] maglott commented on #2360
Is the design option to retain a 1:1 relationship between MIM number and Mondo ID

[2020-11-30 15:30] kanems opened #2363 "Lesch-Nyhan syndrome and hypoxanthine-guanine phosphoribosyltransferase deficiency"
"Lesch-Nyhan syndrome" MONDO:0010298 is both a child of "hypoxanthine-guanine phosphoribosyltransferase deficiency" MONDO:0016088 and has "hypoxanthine-guanine phosphoribosyltransferase deficiency" as an exact synonym.
Which relationship is correct?

[2020-11-30 19:19] nicolevasilevsky commented on #1708
I'll try to get this in for the next release.

[2020-11-30 20:54] #1687 closed

[2020-11-30 20:56] #1685 closed

[2020-11-30 22:16] #1699 closed

[2020-11-30 22:30] nicolevasilevsky commented on #2358
cc @galyea-gard

[2020-11-30 23:21] #1690 closed

[2020-11-30 23:40] galyea-gard commented on #2358
Hi Nicole!  This is one that is in my list for terms to be reviewed.  This is indeed a tough one because the nomenclature is not clear.  OMIM and Orphanet used different names and so does GHR.  Goldenhar syndrome is a birth defect of the first and second branchial arch derivative and so is microfacial microsomia.   I think that this is a good candidate of a term to ask  Orphanet about the nomencla

[2020-12-01 00:09] nicolevasilevsky commented on #534
@maglott - I fixed this instance you mentioned above.

@matentzn I know we've talked about this but don't remember the answer - is there a way to go through and split out all the OMIM synonyms that are followed by an abbrevation?

Thanks!

[2020-12-01 00:10] #1691 closed

[2020-12-01 01:09] nicolevasilevsky commented on #2326
I'll look into this

[2020-12-01 01:12] nicolevasilevsky commented on #2362
Yes, these will be available in the next release - I plan to do it on Wed this week.

[2020-12-01 01:12] #2362 closed

[2020-12-01 10:01] matentzn commented on #534
Yes! This will be fixed when I start working on the OMIM ingest again!

[2020-12-01 12:09] Antonialock commented on #2362
thanks!

[2020-12-01 15:45] smcnulty13 opened #2368 "[NTR/gene] LAMA2-Related Muscular Dystrophy"
**Preferred gene-related syndrome label**
LAMA2-related muscular dystrophy

**Synonyms**

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
MONDO:0016149 (qualitative or quantitative defects of merosin)

**Definition**
Any muscular dystrophy in which the cause of the disease is a mutation in the LAMA2 gene.

**Definition source**
PMID:300550

[2020-12-01 15:55] nicolevasilevsky commented on #534
Ok great, I am going to close this ticket.

[2020-12-01 15:55] #534 closed

[2020-12-01 20:01] kanems opened #2369 "MONDO:0022652 cardiomyopathy dilated with conduction defect type 2 [Obsolete]"
**Mondo term (ID and Label)**
MONDO:0022652; cardiomyopathy dilated with conduction defect type 2

**Reason for deprecation**
GARD is the only cross-reference for this concept and it appears to be a bit of an "orphan" term (not in a logical hierarchy)
and the GARD page seems only to refer back to the Monarch Initiative ... https://rarediseases.info.nih.gov/diseases/5644/cardiomyopathy-dilated-with

[2020-12-01 20:38] jennygoldstein opened #2370 "Change label for MONDO:0014567 (GPT2)"
The current label for MONDO:0014567 is "postnatal microcephaly-infantile hypotonia-spastic diplegia-dysarthria-intellectual disability syndrome". Upon discussion with the ClinGen Aminoacidopathy Gene Curation Expert panel, which is curating the gene for this disorder (GPT2), we request your consideration of changing the label to "Glutamate pyruvate transaminase 2 deficiency". This is a more genera

[2020-12-01 23:09] #1689 closed

[2020-12-02 01:22] nicolevasilevsky commented on #2369
cc @galyea-gard

[2020-12-02 01:58] nicolevasilevsky commented on #2326
This is the parent for susceptibility terms in OMIM, we are planning to discuss these with Ada on a call next month. @kanems if you don't mind, we'll revisit this ticket then.

[2020-12-02 02:01] nicolevasilevsky opened #2373 "Review susceptibility terms"
Prior to our call with Ada in January 2021, @matentzn could please gather the following info:

1. which classes are tagged with the susceptibility pattern by logical def - _nico to teach nicole yasgui+SPARQL for susceptibility_
2. which classes lexically indicate they should be susceptibility - _nico to teach nicole yasgui+SPARQL for susceptibility_
3. how are we treating susc. phenotypic series (

[2020-12-02 02:13] nicolevasilevsky commented on #620
Hi @lefailla is this still needed? It fell off my radar again. If yes, I'll prioritize, if not, I'll close. Thank you!

[2020-12-02 02:17] nicolevasilevsky commented on #608
We are meeting with Ada in January to work on susceptibility terms and make a proper plan, I am going to close this because it should be addressed in our big push.

[2020-12-02 02:17] #608 closed

[2020-12-02 02:19] nicolevasilevsky commented on #555
We have a plan to meet with Ada in January and address susceptibility issues and this should be addressed then.

[2020-12-02 02:19] #555 closed

[2020-12-02 02:23] #36 closed

[2020-12-02 02:43] #1708 closed

[2020-12-02 02:49] nicolevasilevsky commented on #2363
I excluded the synonyms

[2020-12-02 02:59] nicolevasilevsky commented on #1574
@pnrobinson and @cmungall could you weigh in on this?

I agree that the children don't seem appropriate ('bagatelle Cassidy syndrome' and 'Krauss Herman Holmes syndrome')- I think we should exclude hypertelorism as a parent.

[2020-12-02 04:23] nicolevasilevsky commented on #1223
Thanks @ahamosh!

@kanems yes, the MDDG type A terms are children of both MDDG type A MONDO:0000171 and WWS MONDO:0019523.

@ahamosh or @kanems, are we missing a relationship between WWS and MDDG? Should MDDG type A be a subclass of WWS MONDO:0019523?

Thanks!

[2020-12-02 04:31] #2327 closed

[2020-12-02 04:47] nicolevasilevsky commented on #2339
Got it.

@cmungall In this example the children should be merged with the Mondo term that is equiv to the OMIM term that OMIM merged with, right?

[2020-12-02 04:51] nicolevasilevsky commented on #2339
(Maybe you were implying this, just wanted to clarify!)

[2020-12-02 05:25] #2363 closed

[2020-12-02 05:26] #2370 closed

[2020-12-02 05:26] ahamosh commented on #1223
So I tried to look at this as graphs and trees and now I am confused.   As far as I can tell MONDO:0019523 is a generic WWS, which would be a generics MDDGA in OMIM, except that we don't have generics.  MDDGA1-13 are each of the WWS by gene.  We discuss the genetic heterogeneity in MIM:236670.  We also have them organized in a phenotypic series.  If this still isn't clear it might require a brief

[2020-12-02 05:28] nicolevasilevsky commented on #2339
@cmungall - Another question - do you want me to try to check all the existing PS?
Or is this something @matentzn could do - to check to see if any of the OMIMPS terms have been obsoleted in OMIM? (not sure if there is an easy way to do that)

[2020-12-02 06:12] cmungall commented on #2373
@nicolevasilevsky can you fix the yaml first; then we can use dosdp tools

inherited_susceptibility.yaml:

 - migraine example is wrong
 - has incorrect pattern name
 - add more synonym patterns (`%s, susceptibility`, `%s, susceptibility to`)
 - def is wrong

susceptibility_by_gene.yaml

 - def prob needs improved to mention genus
 - add a name/syn pattern `%s susceptibility caused by %s`

[2020-12-02 06:14] cmungall commented on #2339
please don't manually look up all of these! we can make a report of all equiv xrefs that point to an obsolete or removed record

[2020-12-02 13:24] kanems commented on #2326
That will be great, thanks!

From: Nicole Vasilevsky <notifications@github.com>
Sent: Tuesday, December 1, 2020 8:58 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] <megan.kane@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] Merge status? MONDO:0024462 (#2326)

This is the parent for susceptibility terms in OMIM,

[2020-12-02 15:58] nicolevasilevsky commented on #2339
@matentzn - I am reassigning this to you - can you create the report that Chris mentioned above?
Thank you!

[2020-12-02 17:05] pnrobinson commented on #1574
Hypertelorism is a phenotypic feature. Rarely it occurs as an isolated finding, but in that case the disease should be called Isolated or perhaps Idiopathic hypertelorism.
I do not think it makes sense to have Hypertelorism be a grouping node in MONDO -- if we had it, then that would mean that we woulc logically need to mirror the entire HPO in MONDO. So I would suggest obsoletion.

[2020-12-02 17:57] kanems opened #2377 "Diabetes mellitus, noninsulin-dependent [Merge]"
**Mondo term (ID and Label)**
MONDO:0007455, diabetes mellitus, noninsulin-dependent

**Reason for deprecation**
Only cross-reference for this term is MIM 125853, which now has TYPE 2 DIABETES MELLITUS; T2D as the primary name and UMLS C0011860 "diabetes mellitus, non-insulin dependent" cites this MIM number along with NCIT C26747, which seem to be a better fit with MONDO:0005148 "type 2 diabetes

[2020-12-02 19:06] kanems opened #2378 "Spastic paraplegia 35/FAHN"
I am trying to figure out if there are duplicate entries for spastic paraplegia 35/fatty acid hydroxylase-associated neurodegeneration or if these are indeed distinct disorders.

_MONDO:0012866- hereditary spastic paraplegia 35._ Cross references: OrphaNet 171629 (Which in turn points to OMIM 612319), OMIM 612319, UMLS C3496228 and SCTID:764688002 (Note: this SNOMEDCT PT maps to UMLS C4707091 ) Ha

[2020-12-02 21:38] kanems opened #2379 "OMIM PS105400 for ALS on multiple entries?"
OMIMPS:105400 for Amyotrophic lateral sclerosis is showing up on two MONDO terms:

MONDO:0004976 , amyotrophic lateral sclerosis
and
MONDO:0005144, familial amyotrophic lateral sclerosis

And the children ALS types appear to be split between these two terms.  Is this because some ALS forms are NOT familial?
In at least one tree view familial ALS is a child of the ALS term (see attached)
![ALS_MOND

[2020-12-02 22:14] nicolevasilevsky commented on #2358
@ana-rath-orphanet @Anne-Pariser @Orphanet

[2020-12-02 22:17] nicolevasilevsky commented on #2358
Emailed Ana on 12/02/20

[2020-12-02 22:26] nicolevasilevsky commented on #2379
OMIMPS:105400 is **_not_** equivalent to MONDO_0004976. This xref comes from DO.
OMIMPS:105400 is equivalent to MONDO_0005144.

Does this answer your question?

[2020-12-02 22:34] nicolevasilevsky commented on #2378
_MONDO:0012866- hereditary spastic paraplegia 35_
There is an 'exclude' tag on the FAHN synonyms (which I guess doesn't prevent the synonyms from showing up in OLS- @cmungall and @matentzn is there anything we could do about that? Has this been discussed before?)
The exclude tag means the synonym should be removed from public release but maintained in the edit version as a record of external usage

[2020-12-02 22:56] ahamosh commented on #2378
OMIM considers FAHN the most severe (and rare) end of the spectrum of Spastic Paraplegia 35.  We did not separate.  Not sure how you want to handle it.

[2020-12-02 23:37] nicolevasilevsky commented on #2140
@ahamosh @tsneddon @galyea-gard @ana-rath-orphanet @annieolry @Orphanet

pinging you all again :)

[2020-12-02 23:39] nicolevasilevsky commented on #1686
@galyea-gard this has been obsoleted in both OMIM and Orphanet. I will obsolete it in Mondo.

[2020-12-02 23:48] matentzn commented on #2378
Can you put on Qc agenda, I think we should consider to sparql remove excluded synonyms from the release, but there might be a better way I don't know about!

[2020-12-02 23:51] matentzn commented on #2339
Yes, no problem. Please add ticket to QC board and sort into the appropriate spot of the "next" column. Generally it would be good if you could do that whenever you make a new ticket - this ensures that I will do the most important ticket next.

[2020-12-02 23:57] nicolevasilevsky commented on #1695
@ahamosh
OMIM obsoleted this term 'gynecomastia, familial' and merged it with ANDROGEN INSENSITIVITY, PARTIAL; PAIS (https://omim.org/entry/312300), which doesn't really seem equivalent, as gynecomastia seems to be is a feature of this disease, but not the same thing

As @galyea-gard suggested, I could merge MONDO:0010601 gynecomastia, familial into MONDO_0007690 'aromatase excess syndrome', which

[2020-12-03 00:19] nicolevasilevsky commented on #2326
related to #407

[2020-12-03 00:26] #374 closed

[2020-12-03 00:30] nicolevasilevsky commented on #379
@ahamosh do you have any objections to merging this with the parent term 'citrullinemia type II'? Orphanet has 'citrullinemia type II adult onset' as synonyms. Or do you think we need a distinct class?

Thanks!

[2020-12-03 00:33] nicolevasilevsky commented on #382
I don't think it makes sense to merge MONDO_0000583 'immunoglobulin beta deficiency' with MONDO_0012987 'agammaglobulinemia 6, autosomal recessive'

[2020-12-03 00:38] nicolevasilevsky commented on #385
the child seems incorrectly classified:
'hypersensitivity pneumonitis, familial'

[2020-12-03 00:41] nicolevasilevsky commented on #391
I think this makes more sense to merge with coloboma.

[2020-12-03 00:43] nicolevasilevsky commented on #381
@pnrobinson do you think this should be obsoleted from Mondo?

[2020-12-03 00:47] nicolevasilevsky commented on #1489
@ahamosh do you think the OMIM phenotypic series for tuberous sclerosis is equivalent to tuberous sclerosis complex MONDO:0019341 (Orphanet_805)?

Thanks!

[2020-12-03 00:57] ahamosh commented on #379
They are different manifestations, but the same deficiency.  Some with adult manifestations had some manifestations in the neonatal period.  Let me talk with Joanna and the team see what they say.

[2020-12-03 01:00] pnrobinson commented on #381
This is a phenotypic feature and belongs in the HPO, see eg.https://www.ncbi.nlm.nih.gov/books/NBK538291/

[2020-12-03 01:05] nicolevasilevsky commented on #1201
these seem equivalent to me too.

note to self, add synonyms:
Okihiro syndrome GARD:0009182, OMIM:607323

[2020-12-03 01:40] #380 closed

[2020-12-03 01:51] nicolevasilevsky commented on #1574
Thank you @pnrobinson!

[2020-12-03 02:14] nicolevasilevsky commented on #1223
this is confusing! I drew a picture

![image](https://user-images.githubusercontent.com/6722114/100954777-1842c800-34ca-11eb-8986-65cbfbac3e12.png)

[2020-12-03 02:55] ahamosh commented on #1223
Yes!
Ada

[2020-12-03 03:00] #1686 closed

[2020-12-03 12:13] matentzn opened #2385 "Defining canonical order for elements in DOSDP patterns"
Standardise across repos as well.

[2020-12-03 12:32] maglott opened #2386 "exact synonyms that match preferred terms for other records"
Should having a synonym match a  label be prevented?
Case:  I was trying to identify the distinction between
* MONDO_0011962,  "label" : "endometrial cancer", and
* MONDO_0002447, "label" : "endometrial carcinoma (disease)",  "synonyms" : [ "carcinoma, endometrial, malignant", "carcinoma of endometrium", "carcinoma of the endometrium", "endometrial cancer", "endometrial carcinoma", "endometrium ca

[2020-12-03 13:25] matentzn commented on #2386
Thank you @maglott This makes great sense.
I will do all the synonym related tickets in one big go in the next weeks!

[2020-12-03 14:07] maglott commented on #2386
Thanks.  This will help NCBI a lot in completing the integration of MONDO XRefs.  From the October release (yes, we are a bit behind), I found 367 such cases.  I expect the corrections will take some time, given that some content expert will have to make the decision about whether to merge or to remove the exact synonym.

[2020-12-03 16:39] #382 closed

[2020-12-03 16:49] nicolevasilevsky commented on #381
perfect, thanks @pnrobinson!

[2020-12-03 17:01] nicolevasilevsky commented on #379
Thanks @ahamosh!

[2020-12-03 17:08] nicolevasilevsky commented on #2199
Per Dr. Sioutos the EVS pathologist (NCIt):

Tumors that secrete catecholamines are called sympathetic paragangliomas. They are located along sympathetic nerves and include extraadrenal sympathetic paragangliomas and pheochromocytromas. So, if you don’t have the term sympathetic paraganglioma, it is ok to merge the term catecholamine-producing tumor to the wider category adrenal/paraganglial tumor

[2020-12-03 17:26] nicolevasilevsky commented on #1695
Update- per discussion with Chris, I'll just obsolete this term and add consider MONDO:0010720 partial androgen insensitivity syndrome and MONDO_0007690 'aromatase excess syndrome'

[2020-12-03 18:18] galyea-gard commented on #1695
Thank you Nicole!

[2020-12-03 18:34] nicolevasilevsky opened #2391 "update pattern for infectious disease"
dependent on https://github.com/oborel/obo-relations/pull/412

https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/infectious_disease_by_agent.yaml
- [x] relation should be 'disease has infectious agent'

Next:
- [ ] need to update the logical definitions in Mondo for the infectious disease terms (@matentzn)

[2020-12-03 19:30] nicolevasilevsky commented on #2323
This is now in Mondo:
MONDO_0033664

[2020-12-03 19:30] #2323 closed

[2020-12-03 21:10] #1902 closed

[2020-12-03 21:31] #1697 closed

[2020-12-04 00:25] nicolevasilevsky commented on #1709
cc @galyea-gard

[2020-12-04 10:26] matentzn commented on #2391
We should probably do this only after RO had another release..

[2020-12-04 15:48] nicolevasilevsky opened #2408 "[Obsolete] sex dev terms"
**Mondo term (ID and Label)**
- [x]  [Term]
id: MONDO:0017976
name: disorder of sex development of gynecological interest
subset: ordo_group_of_disorders {source="Orphanet:325620"}
synonym: "DSD of gynecological interest" EXACT [Orphanet:325620]
xref: Orphanet:325620 {source="MONDO:equivalentTo"}
xref: UMLS:CN227237 {source="MEDGEN:kboom-pr98-c99", source="MONDO:equivalentTo"}
is_a: MONDO:0019937

[2020-12-04 15:50] nicolevasilevsky opened #2409 "reclassify chromosomal disorders"
Follow groupings in wikipedia, see table: https://en.wikipedia.org/wiki/Turner_syndrome

![image](https://user-images.githubusercontent.com/6722114/101184229-52fd4b00-3605-11eb-91b0-0425d818488d.png)

compare with:
is_a: MONDO:0001967 {source="DOID:3491", source="MESH:D014424", source="NCIT:C26900"} ! gonadal dysgenesis
is_a: MONDO:0015218 {source="Orphanet:881"} ! syndromic developmental defect o

[2020-12-04 17:32] #1579 closed

[2020-12-04 17:40] galyea-gard commented on #2199
So you will merge these under "sympathetic paragangliomas"? We don't have this term (we probably won't add it because it is a parent term - we won't also add the wider category adrenal/paraganglial tumor).  Of note, the catecholamine-producing tumors include both the pheochromocytoma and extraadrenal paraganglioma and also the ganglioneuroma.    Adrenal/paraganglial tumors is much broader and it i

[2020-12-04 17:45] nicolevasilevsky commented on #2199
@galyea-gard
I think rather than merging it, maybe it is best to just obsolete this term and add annotations to consider sympathetic paraganglioma and MONDO:0015077 'adrenal/paraganglial tumor'.

[2020-12-04 18:47] nicolevasilevsky opened #2414 "[Merge] 'phosphoribosylpyrophosphate synthetase deficiency'"
**Mondo term (ID and Label)**
MONDO:0043176 ['phosphoribosylpyrophosphate synthetase deficiency'](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0043176)

**Reason for deprecation**
Duplicate

**Term to be merged with**
MONDO:0010395 ['phosphoribosylpyrophosphate synthetase superactivity'](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=htt

[2020-12-04 18:50] #1726 closed

[2020-12-04 19:17] nicolevasilevsky commented on #1223
@galyea-gard - FYI I merged MONDO:0019523 WWS  and MONDO:0000171 MDDG type A

[2020-12-04 19:17] darintay opened #2416 "Missing MONDO -> EFO xref for Bronchitis"
**Mondo term (ID and Label):**
MONDO_0003781 (Bronchitis)
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0003781

**Xref that should be fixed (ID and label):**
EFO_0009661 (Bronchitis)
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0009661

**Other comments:**
Not an expert here, but the terms seem iden

[2020-12-04 19:28] nicolevasilevsky commented on #2416
you are correct @darintay, thank you!

I fixed this on a PR, it will be available in the next release.

[2020-12-04 19:29] #381 closed

[2020-12-04 19:46] kanems opened #2419 "Clarification request- Sudden cardiac arrest/death"
I am wondering about MONDO:0007264, "sudden cardiac arrest."

The cross references map to multiple things: "sudden cardiac death" (SCTID:95281009), "cardiac conduction disorder" or defect NCIT: C78245 & OMIM 115080.

Should this term be renamed to "sudden cardiac death" to reflect the SNOMED and OMIM names? I think it would also map to UMLS C0085298, based on current cross references in UMLS.
For

[2020-12-04 20:12] kanems opened #2420 "MONDO:0014206 Cross ref to UMLS"
**Mondo term (ID and Label):**

MONDO:0014206, severe early-onset pulmonary alveolar proteinosis due to MARS deficiency

**Xref that should be fixed (ID and label):**
UMLS:C3809651 (OMIM:615486) "INFANTILE LIVER FAILURE SYNDROME 2" should probably not be used (Per MIM 615486, this is a former term for this disease)
UMLS also maps this OMIM number to C4225400 "Interstitial lung and liver disease" (

[2020-12-04 21:13] #1695 closed

[2020-12-04 21:16] #1701 closed

[2020-12-04 21:31] #388 closed

[2020-12-04 21:36] #366 closed

[2020-12-04 21:37] #1711 closed

[2020-12-04 21:38] #372 closed

[2020-12-04 21:39] #377 closed

[2020-12-04 21:59] #1707 closed

[2020-12-04 22:05] #383 closed

[2020-12-05 01:29] #2416 closed

[2020-12-05 21:28] cmungall opened #2421 "envo imports has too many terms"
terms like this cause confusion if searching ching for depression as in depressive disorder in mondo:

[code]

not clear why this is in the import. we need a small number of envos for complex mixtures for exposure (and these should be replaced by ecto anyway)

[2020-12-07 16:26] #620 closed

[2020-12-07 16:44] nicolevasilevsky opened #2422 "tidy up of the axiom annotations on xrefs"
- [x] delete kboom scores from Mondo terms; the scores no longer convey much that is meaningful. The scores are annotated as 'confidence' annotations
- [ ] delete 'ontobio' as a source from Mondo terms

cc @cmungall

[2020-12-07 16:46] nicolevasilevsky opened #2423 "Psychiatric and mental disorders - align with wikipedia/DSM5"
align Mondo psychiatric and mental disorders with DSM5 as a source and add definitions of psychiatric diseases

[2020-12-07 16:48] #1702 closed

[2020-12-07 16:50] #1727 closed

[2020-12-07 16:55] #1596 closed

[2020-12-07 16:58] #2199 closed

[2020-12-07 16:59] #1710 closed

[2020-12-07 17:02] #1709 closed

[2020-12-07 17:04] #1201 closed

[2020-12-07 17:08] #391 closed

[2020-12-07 17:16] #385 closed

[2020-12-07 17:17] #1706 closed

[2020-12-07 17:45] #1223 closed

[2020-12-07 21:26] nicolevasilevsky commented on #2391
@matentzn do you know how often RO does a release?

[2020-12-08 03:50] galyea-gard commented on #1223
Hi Nicole!  I apologize that I did not see your message before.  We will still keep it in GARD because it is still used in the medical literature, but I will add it to the list for terms to review. While I believe you are right merging the terms MONDO:0019523 WWS and MONDO:0000171 MDDG type A I think that OMIM 236670 is not equivalent but a subtype of MDDG type A.  As commented, WWS can be caused

[2020-12-08 12:17] matentzn commented on #2391
I check wether perhaps I can just run RO releases.

[2020-12-08 16:23] kanems opened #2425 ""Spondyloepiphyseal dysplasia" and "brachyolima" Maroteaux type"
Are
brachyolmia, Maroteaux type (MONDO:0013360), https://www.omim.org/entry/613678
and
spondyloepiphyseal dysplasia, Maroteaux type (MONDO:0008473) https://www.omim.org/entry/184095
truly distinct disorders?

UMLS Metathesaurus equate them under C3159322, but I am not familiar enough with this topic to know which is correct.

[2020-12-08 16:27] nicolevasilevsky commented on #2425
@ahamosh could you comment? Thank you!

@kanems looks like they are distinct diseases in Orphanet too:
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=93302
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=263482

[2020-12-08 17:15] #1696 closed

[2020-12-08 17:27] #1703 closed

[2020-12-08 21:45] kanems opened #2427 "Sugarman "syndrome" vs. "brachydactyly""
UMLS has merged "Sugarman syndrome" aka "OFD III" and "Sugarman brachydactyly" into one concept (C0406726), potentially following MeSH's similar treatment of these two concepts (C557817).

However, OMIM, GARD and OrphaNet treat them as distinct concepts:  OFDIII (MIM 258850; OrphaNet 2752; GARD 10518) and Sugarman brachydactyly (MIM 272150, OrphaNet 498602, GARD 5058).  From the OMIM phenotypic de

[2020-12-08 23:54] nicolevasilevsky commented on #2369
pinging @galyea-gard, please let me know what you think about obsoleting this term, thanks!

[2020-12-09 01:27] nicolevasilevsky commented on #1223
Yes, we have OMIM 236670 represented as a subtype of MDDG type A (it is equivalent to MONDO_0009364 'muscular dystrophy-dystroglycanopathy (congenital with brain and eye anomalies), type A1').

Thanks for the feedback @galyea-gard!

[2020-12-09 01:50] ahamosh commented on #1223
Hi Nicole,
I think that the PS236670 (the whole series) is the overall matching of the overall WWA and MDDGA.  MDDGA1 is WWS1 or MDDGA1, which are equivalent.

[2020-12-09 02:45] nicolevasilevsky commented on #1223
Yes, it's now like this:
![image](https://user-images.githubusercontent.com/6722114/101567388-91886200-3985-11eb-9e83-9abfb5d7d383.png)

[2020-12-09 02:54] ahamosh commented on #1223
Perfect!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Tuesday, December 8, 2020 9:46:12 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Ada Hamosh <ahamosh@jhmi.edu>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] MONDO_0019523 Walker-Warburg syndrome (#1223)

Yes,

[2020-12-09 23:01] nicolevasilevsky commented on #2427
@ahamosh could you comment from OMIM's perspective?
@galyea-gard could you comment from GARD's perspective?

Thank you!

[2020-12-09 23:02] #1576 closed

[2020-12-09 23:03] #2408 closed

[2020-12-09 23:04] #1574 closed

[2020-12-10 00:15] ahamosh commented on #2427
This is from Joanna:
This looks like a UMLS computed conflation.  Brachydactyly is not OFD.
This is similar to the Maroteaux problem yesterday.  I'll let the UMLS
know.

[2020-12-10 00:31] nicolevasilevsky commented on #2427
Thanks @ahamosh.
I'll close this, but feel free to reopen @kanems if you'd like to discuss further.

[2020-12-10 00:31] #2427 closed

[2020-12-10 01:03] nicolevasilevsky commented on #2325
@cmungall is it okay to nest the OMIM terms lower in the hierarchy, and not directly below the OMIMPS?

![image](https://user-images.githubusercontent.com/6722114/101707659-81818880-3a40-11eb-8c14-5a50b3ffade0.png)

[2020-12-10 01:13] nicolevasilevsky commented on #2330
Looks like Romano-Ward syndrome UMLS C0035828 is equivalent to MONDO_0008646 'long QT syndrome 1'.

I excluded the synonym of Romano-Ward syndrome from MONDO:0002442 long QT syndrome

[2020-12-10 01:14] ahamosh commented on #2425
Also from Joanna:
I believe they are different.  The SNOMED has 2 numbers for them and
OrphaNet has 2 numbers.

184095:
"(SED) of Maroteaux for a form of spondyloepiphyseal dysplasia with
manifestations limited to the musculoskeletal system and with other
features distinguishing it from Morquio syndrome of any type
X-linked SED tarda, brachyolmia, and spondylometaphyseal dysplasia
of Kozlowski."

[2020-12-10 01:36] nicolevasilevsky commented on #2330
I've reorganized this hierarchy a bit:
![image](https://user-images.githubusercontent.com/6722114/101709790-fbb40c00-3a44-11eb-80be-710a04e1d21c.png)

Let me know if you'd like further changes

[2020-12-10 01:36] nicolevasilevsky commented on #2330
I revised the def for long QT syndrome:

A condition that is characterized by episodes of fainting (syncope) and varying degree of ventricular arrhythmia as indicated by the prolonged QT interval. The inherited forms are caused by mutation of genes encoding cardiac ion channel proteins. The two major forms are Romano-Ward syndrome (also known as long QT syndrome 1) and Jervell-Lange Nielsen syndro

[2020-12-10 01:39] nicolevasilevsky commented on #2425
Thanks @ahamosh and Joanna!

@kanems I will close this but please feel free to reopen if more discussion is needed.

[2020-12-10 01:39] #2425 closed

[2020-12-10 01:41] nicolevasilevsky commented on #19
Ohtahara syndrome has been obsoleted, this can be closed.

[2020-12-10 01:41] #19 closed

[2020-12-10 01:42] nicolevasilevsky commented on #29
'Ohtahara syndrome' has been obsoleted, this can be closed.

[2020-12-10 01:42] #29 closed

[2020-12-10 01:43] nicolevasilevsky commented on #27
this can be closed, ALG13-CDG is a child of 'developmental and epileptic encephalopathy'

[2020-12-10 01:43] #27 closed

[2020-12-10 01:44] nicolevasilevsky commented on #32
Nico - this is a super old ticket, I am reassigning to you. It's not high priority.

[2020-12-10 01:46] nicolevasilevsky commented on #34
duplicate of #2310.

Reassigning to Nico.

[2020-12-10 01:50] #37 closed

[2020-12-10 02:03] cmungall commented on #2325
surely all PSs are hereditary? i.e move the PS down one. And nest the OMIMs under this of course

These kinds of cases should be easy to check for automatically. Can you make a ticket? We'd auto add an axiom to all PSs to this effect, then the reasoner pipeline will alert us to everything needing attention

[2020-12-10 02:08] nicolevasilevsky commented on #2325
Chris shared this:
obo-sed.pl -r 'xref: OMIMPS.*equivalent' 's/name:/relationship: has_modifier MONDO:0021152 {source="TICKET"}\nname:/' mondo-edit.obo
@matentzn

[2020-12-10 02:27] nicolevasilevsky commented on #2345
This synonym on 'cold-induced sweating syndrome' is meant to be excluded:

![image](https://user-images.githubusercontent.com/6722114/101711615-c27d9b00-3a48-11eb-8aaa-ec840014779a.png)

This is similar to another ticket.

[2020-12-10 02:28] nicolevasilevsky commented on #2345
I updated the label - thanks for letting me know about that!

[2020-12-10 02:46] nicolevasilevsky opened #2436 "check that OMIMPS are xref'd on heritable forms of disease"
related to:
https://github.com/monarch-initiative/mondo/issues/2325

Alll OMIM phenotypic series are hereditary, so they should be xref'd on the hereditary form of the disease.

These kinds of cases should be easy to check for automatically. We'd auto add an axiom to all PSs to this effect, then the reasoner pipeline will alert us to everything needing attention

obo-sed.pl -r 'xref: OMIMPS.*equiv

[2020-12-10 17:39] galyea-gard commented on #2427
Hi!  GARD will most likely retire Sugarman syndrome because there are not any new descriptions since 1982, but it still will be reviewed . Thanks, Gioconda

[2020-12-10 19:33] nicolevasilevsky commented on #1532
see report
https://github.com/monarch-initiative/mondo/blob/master/src/ontology/reports/mondo_analysis.md#check-no-subclass-between-genetic-disease-warning

[2020-12-10 19:45] kanems opened #2438 "MONDO:0016424 into MONDO:0011660[Merge]"
**Mondo term (ID and Label)**
MONDO:0016424 , progressive sensorineural hearing loss-hypertrophic cardiomyopathy syndrome

**Reason for deprecation**
The only active cross-ref on this term is Orphanet:228012, which points to https://omim.org/entry/606346 , which is already mapped to MONDO:0011660. (UMLS CN201381 is not an active identifier, as far as I can tell.)

**Term to be merged with**
MONDO:

[2020-12-10 21:03] mbaudis commented on #1148
@nicolevasilevsky AFAIK @paulacarrio & @qingyao have submitted a list of term requests. But we have now a icdom + icdot <-> NCIt service online, w/ GH repo etc.:

* https://progenetix.org/service-collection/ontologymaps
* repo https://github.com/progenetix/ICDOntologies
* JSON for all current https://progenetix.org/services/ontologymaps?filters=NCIT,icdom,icdot
* some documentation ... https://inf

[2020-12-10 22:31] #2345 closed

[2020-12-10 22:38] #2368 closed

[2020-12-10 22:39] #2325 closed

[2020-12-10 22:51] nicolevasilevsky commented on #2330
@kanems I merged these changes, please feel free to reopen if you'd like further changes. :)

[2020-12-10 22:59] #59 closed

[2020-12-10 23:15] nicolevasilevsky commented on #1532
This came up on the QC check:
'congenital fiber-type disproportion myopathy' subclass of actinopathy

actinopathy: 'disease has basis in dysfunction of' some ACTA1

'congenital fiber-type disproportion myopathy' has mutations in several genes, including ACTA1

@matentzn is there a way to relax this check so this is acceptable?

[2020-12-10 23:29] matentzn commented on #1532
Are we sure that the genetic disease pattern with multiple genes is correct? Isn't there an implicit "and has basis in dysfunction of only ATC" that is simply being closed by the definition definition? This needs the be run by @cmungall. I kind of would assume that "has basis in dysfunction of" implies an exhautive enumeration..

[2020-12-10 23:34] nicolevasilevsky commented on #1532
Good question @matentzn. I'll send Chris a message on Slack.

There is one more example here - same thing as above: MONDO:0009711  congenital fiber-type disproportion myopathy, child of actinopathy

[2020-12-10 23:38] nicolevasilevsky commented on #1532
Note to self - these all should have been addressed on PR #2440 except

term | term_label | d2 | d2_label
-- | -- | -- | --
MONDO:0009711 | congenital fiber-type disproportion myopathy | MONDO:0100084 | actinopathy
MONDO:0009711 | congenital fiber-type disproportion myopathy | MONDO:0100084 | actinopathy

[2020-12-10 23:54] cmungall commented on #1532
See comments in #900 - rename MONDO:0100084 to alpha-actinopathy (there is a good argument to obsoleted and create a new). I'm wondering where it came from, looks like an orphanet term...

[2020-12-10 23:56] cmungall commented on #1532
"'congenital fiber-type disproportion myopathy' subclass of actinopathy"

the check is doing it's work as there are multiple things wrong here

name: congenital fiber-type disproportion myopathy
def: "A rare genetic disorder caused by mutations in the TPM3, ACTA1, RYR1 and SEPN1 genes. It is inherited in an autosomal dominant or recessive pattern and rarely in an X-linked pattern. It manifests wit

[2020-12-11 01:01] nicolevasilevsky commented on #1532
@cmungall the definition says AND:
"...disorder caused by mutations in the TPM3, ACTA1, RYR1 **and** SEPN1 genes."

Also, it is a child of other single gene terms:
'RYR1-related myopathy'
'TPM2-related myopathy'
'TPM3-related myopathy'

these didn't come up as an error though.

I am more confused now!

[2020-12-11 01:50] nicolevasilevsky commented on #1532
For the record, Chris clarified for me - this is not a polygenic disease, the def is meant to imply 'or', not 'and'. I removed the gene annotations and the gene-related parents.

[2020-12-11 02:01] nicolevasilevsky opened #2442 "split term: MONDO_0009711 Myopathy, congenital, with fiber-type disproportion"
**Term to split:**
MONDO_0009711 Myopathy, congenital, with fiber-type disproportion

Asked OMIM if they would consider splitting this term into 3 separate diseases corresponding to each gene?

If OMIM did so, we’d have this OMIM correspond to an autosomal dominant pattern and have OMIM: 300580 Myopathy, congenital, with fiber-type disproportion, X-linked as a sibling, all of them grouped under th

[2020-12-11 04:32] nicolevasilevsky commented on #2442
OMIM is working on this. They are gradually working through entries with more than one gene in them and splitting them all.

[2020-12-11 15:43] #1532 closed

[2020-12-11 15:45] nicolevasilevsky opened #2444 "no one disease should have >1 gene unless it's polygenic"
related to https://github.com/monarch-initiative/mondo/issues/1532

we should check all genes coming from NCIT

[2020-12-11 16:43] nicolevasilevsky commented on #1794
Action items:
- [ ] All OMIM synonyms should be exact (not related)
- [ ] OMIM synonyms should be broken into synonyms - main term and abbreviation, for example [add]
- [ ] Any synonym that is exact and related, make it exact (need to move the source annotations to the exact synonym)

[2020-12-11 18:45] #2310 closed

[2020-12-11 18:46] #34 closed

[2020-12-11 21:48] nicolevasilevsky commented on #300
Sorry for the super long delay! This is in Mondo:
MONDO_0033044 'Meckel syndrome 13'

I added the synonym

[2020-12-11 21:49] nicolevasilevsky commented on #306
This is in Mondo:
MONDO_0033203 'nephrotic syndrome 14'

[2020-12-11 21:56] nicolevasilevsky commented on #308
MONDO_0033280

[2020-12-11 21:56] nicolevasilevsky commented on #307
MONDO_0033262

[2020-12-11 22:09] maglott commented on #1794
I am a bit skeptical about 'All OMIM synonyms should be exact (not related)'
* there are cases like https://www.omim.org/entry/602429 and https://www.omim.org/entry/603383 where the same alternate name is used on multiple records.
* there are cases like the records for gene-specific name 1 where one of the alternate name is likely synonymous with the phenotypic series,  not the gene-specific entit

[2020-12-11 22:40] nicolevasilevsky commented on #1794
good point @maglott, we'll look into this. Thank you!

[2020-12-12 01:07] #300 closed

[2020-12-12 01:08] #306 closed

[2020-12-12 01:23] nicolevasilevsky commented on #1794
I think we could do this:
1) change all OMIM synonyms from related to exact,
2) then check where there are duplicate synonyms coming from OMIM and manually review these, and then make them related synonyms, if applicable (or maybe broad, in the example from Donna above). (it would probably be good to do this for all synonyms).

[2020-12-12 01:34] nicolevasilevsky commented on #1640
I emailed @ihelbig on 12/11//20:

This ticket is suggesting we obsolete the of the age of onset epilepsy terms, such as MONDO_0020071 'infantile epilepsy syndrome', etc. There is a comment on these terms:
This type of grouping class represents an older way of classifying diseases, and represented here https://www.epilepsydiagnosis.org/index.html.

However, I remember sitting down and talking with

[2020-12-12 03:36] #307 closed

[2020-12-12 03:36] #308 closed

[2020-12-12 15:58] #2422 closed

[2020-12-14 01:51] nicolevasilevsky commented on #2328
@galyea-gard
Are you okay with merging MONDO:0022651 "cardiomyopathy dilated with conduction defect type 1" with MONDO:0007269 "dilated cardiomyopathy 1A"?

Also, I noticed MONDO_0022652 'cardiomyopathy dilated with conduction defect type 2' points to MONDO:0011003 'dilated cardiomyopathy 1E' from the GARD page (via the Monarch link), so perhaps these two classes should be merged as well?

Thanks!

[2020-12-14 12:42] maglott commented on #1794
Sounds good.  With, perhaps, a special review of alternate names for 'disease name 1' because it may be that some of the alternate names are more correctly synonyms for 'disease name'

[2020-12-14 15:49] #2329 closed

[2020-12-14 15:51] #2354 closed

[2020-12-14 15:59] kanems opened #2457 "Clark-Baraitser syndrome OMIM Xref update"
**Mondo term (ID and Label):**
MONDO:0010372, Clark-Baraitser syndrome

**Xref that should be fixed (ID and label):**
OMIM 300602 now points to 617752.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2020-12-14 16:27] ValWood opened #2458 "[Revise subclass] early-onset autosomal dominant Alzheimer disease"
early-onset autosomal dominant Alzheimer disease (MONDO:0015140)
Early-onset autosomal dominant Alzheimer disease (EOAD) is a progressive dementia with reduction of cognitive functions. EOAD presents the same phenotype as sporadic Alzheimer disease (AD) but has an early age of onset, usually before 60 years old.

is not related to
familial Alzheimer disease (MONDO:0100087)
A degenerative disease o

[2020-12-14 19:17] matentzn commented on #1794
Wait a moment; I am not anymore sure that all this is needed..

Check this [query](https://yasgui.triply.cc/#query=prefix%20owl%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23%3E%0Aprefix%20oboInOwl%3A%20%3Chttp%3A%2F%2Fwww.geneontology.org%2Fformats%2FoboInOwl%23%3E%0Aprefix%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0A%0ASELECT%20%3Fterm%20%3Fterm_label%20%3Frelat

[2020-12-14 19:19] matentzn commented on #1794
@cmungall for the second query above, I notice a lot of this:

![image](https://user-images.githubusercontent.com/7070631/102125180-2afdbb00-3e41-11eb-9520-b0f259bba117.png)

Can we maybe just fix these quickly those seems to contribute most of about 1000 cases.. The rest could even be done manually!

[2020-12-14 19:32] matentzn commented on #1794
Sorry this ticket needs to me reconciled with #2386 #1145 #2255 we need a unified strategy..

[2020-12-14 19:33] matentzn commented on #2255
I dont believe this is a good idea anymore in that generality! See #1794

[2020-12-14 21:15] ireneisdoomed opened #2461 "[Open Targets] Add synonyms from Genomics England phenotypes"
Hello,

we have identified 6 terms from one of our sources where the phenotype indicated at source is present for the Orphanet ID that we map but not for the MONDO ID.

It would be great if these could be potentially imported as a synonym so that we can downstream benefit from their inclusion in EFO and have a better mapping.

Cross reference | Synonym to be added | MONDO ID | MONDO Label
-- | --

[2020-12-14 21:39] #2377 closed

[2020-12-14 21:51] nicolevasilevsky commented on #1794
I had a question about the location top pattern:
https://github.com/monarch-initiative/mondo/issues/2156

What does location_top mean?

[2020-12-14 23:00] kanems opened #2462 "Fibrous dysplasia[Merge]"
**Mondo term (ID and Label)**

MONDO:0016640, fibrous dysplasia of bone

**Reason for deprecation**
Appears to be same concept (slightly different Xrefs, but same overall concept) as MONDO:0000845, fibrous dysplasia

**Term to be merged with**
MONDO:0000845, fibrous dysplasia
(SCTID 254145001  might be retired or merged with 10623005 ? I cannot find a record of that first SCTID.)

**Your nano-attr

[2020-12-15 01:36] nicolevasilevsky commented on #2461
@ireneisdoomed thanks for your request! It actually brings up a bigger issue, where I think some of these terms should be merged with other Mondo terms:

MONDO ID | MONDO Label | Term to merge with (Mondo ID) | (Term to merge with (Mondo label)
-- | -- | -- | --
http://purl.obolibrary.org/obo/MONDO_0033939 | hypohidrosis-electrolyte imbalance-lacrimal gland dysfunction-ichthyosis-xerostomia syndro

[2020-12-15 02:16] galyea-gard commented on #2328
Hi! Yes, I do agree with the merging.  Also, you are right that cardiomyopathy dilated with conduction defect type 2 is the same as OMIM (dilated cardiomyopathy 1E).  I made the changes in GARD but I believe we won't have these subtypes when our review process is finished.  Thank you!  Gioconda

[2020-12-15 03:23] nicolevasilevsky opened #2465 "add check to xref annotations"
we shouldn't have an xref annotation that is MONDO:equivalentTo and MONDO:subclassOf or MONDO:related to or MONDO:superclassOf

ie we should only have one of these types of sources on an xref

[2020-12-15 03:29] nicolevasilevsky commented on #2465
Here is an example:
![image](https://user-images.githubusercontent.com/6722114/102167138-a14eed00-3e42-11eb-8c0c-76290cb9e786.png)

I fixed this on PR https://github.com/monarch-initiative/mondo/pull/2464

[2020-12-15 06:51] nicolevasilevsky commented on #407
Looking at this again, I do think that MONDO_0024462 'familial cutaneous melanoma' (https://omim.org/phenotypicSeries/PS155600) is equivalent to MONDO_0018961 'familial melanoma' (https://rarediseases.info.nih.gov/diseases/3460/hereditary-melanoma, [Orphanet:618](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_618))

@ahamosh would you mind looking

[2020-12-15 06:57] nicolevasilevsky commented on #1572
I don't know the biology well enough here to comment.

@pnrobinson could you help?

[2020-12-15 11:49] pnrobinson commented on #1572
Well yes the urea cycle performs ammonia detoxification, and so there is no need to write "and ammonia detoxification".
These are inborn errors and so "urea cycle disorder' implies that they are genetic diseases. There are very rare exceptions to this rule, though, for instance, there have been reports of liver transplantation leading to a urea cycle disorder because the donor had the disease (htt

[2020-12-15 17:23] nicolevasilevsky commented on #1572
Perfect, thank you, @pnrobinson!

[2020-12-15 19:35] #1693 closed

[2020-12-15 19:40] nicolevasilevsky commented on #2457
need to merge:
MONDO:0010372, Clark-Baraitser syndrome

with MONDO_0030914 'intellectual disability, autosomal dominant 49'

[2020-12-15 19:40] nicolevasilevsky commented on #2457
thanks @kanems!

[2020-12-15 22:58] nicolevasilevsky commented on #139
the gard page is working now:
https://rarediseases.info.nih.gov/diseases/10562/primary-localized-cutaneous-nodular-amyloidosis

[2020-12-15 23:01] nicolevasilevsky commented on #690
I've been adding the ORCID as a dbxref on the def or syn.

[2020-12-15 23:02] #709 closed

[2020-12-15 23:04] #1230 closed

[2020-12-15 23:04] #1269 closed

[2020-12-15 23:10] #1371 closed

[2020-12-15 23:16] nicolevasilevsky commented on #1728
@tibingaman pinging you about the question above.

[2020-12-15 23:21] #1937 closed

[2020-12-15 23:31] nicolevasilevsky commented on #38
it is not in the MedGen spreadsheet

[2020-12-15 23:40] nicolevasilevsky commented on #2461
Peter emailed:
I am not sure about kyphoscoliotic EDS, OMIM is listing two subforms and so we would probably need to not merge the grouping term with subform 1

[2020-12-16 01:48] galyea-gard commented on #2369
I do agree with the merging. Also, you are right that “cardiomyopathy dilated with conduction defect type 2” is a synonym of  “dilated cardiomyopathy 1E”.  I made the changes in GARD (so now we have “dilated cardiomyopathy 1A” and “dilated cardiomyopathy 1E” as the main terms for these disorders). However, I believe we won't have these subtypes when our review process is finished.
Note:  These ter

[2020-12-16 02:12] galyea-gard commented on #2414
Phosphoribosylpyrophosphate synthetase deficiency:  They are two different disorders; In GARD we currently have the phosphoribosylpyrophosphate synthetase superactivity (we had  phophoribosylpyrophosphate synthetase deficiency as a synonym but I fixed this issue). Missense mutations in PRPS1 are rare and may result in increase or decrease in PRS-I activity (PRS-I deficiency is VERY rare (only 12 f

[2020-12-16 18:11] nicolevasilevsky commented on #343
Suggest splitting synonyms on "epilepsy" so as not to equate the general concept with a specific epileptic syndrome. UMLS has C0014544 "Epilepsy" as broader term for C4505072 "Epileptic Syndromes."

Great suggestion @kanems - done (on PR #2472)

[2020-12-16 18:29] #2328 closed

[2020-12-16 18:32] #1572 closed

[2020-12-16 18:56] nicolevasilevsky commented on #2414
Thank you @galyea-gard, I'll close this.

[2020-12-16 18:56] #2414 closed

[2020-12-16 19:00] nicolevasilevsky commented on #2369
this has been addressed

[2020-12-16 19:00] #2369 closed

[2020-12-16 19:34] tibingaman commented on #1728
Hi @nicolevasilevsky, thank you for the reminder. I don't believe that the words "severe" and "progressive" are terms that accurately represent what we are trying to describe. Because the severity and how it changes over time is unknown, we would rather select a term that does not have these factors, like Intellectual disability and spastic paraplegia. I think that is a good idea to include the PM

[2020-12-16 19:42] nicolevasilevsky commented on #139
@galyea-gard do you think it is okay to merge these two terms?

MONDO_0022446 'amyloidosis nodular localized cutaneous' (GARD:0010562) with
MONDO_0015302 'nodular cutaneous amyloidosis'(Orphanet:137810)

thanks!

[2020-12-16 19:46] nicolevasilevsky commented on #2461
From Gioconda (GARD):
**Myopathic EDS** -  For this one, OMIM linked to a wrong Orpha ID, however Myopathic EDS is one of the official EDS subytpes. (Note: Orphanet page was updated on 12/15): ORPHA:536516; We don’t have this subtype in GARD but I plan on add it.

**Kyphoscoliotic  Ehlers-Danlos syndrome** – The Kyphoscoliotic Ehlers-Danlos syndrome 1 is a subtype of Kyphoscoliotic Ehlers-Danlos s

[2020-12-16 19:46] nicolevasilevsky commented on #2457
From Gioconda (GARD):
This was a great finding! We have this one duplicated with  AD intellectual disability 49;  I will fix this issue ASAP.

[2020-12-16 19:47] nicolevasilevsky commented on #2462
From Gioconda (GARD):
We already have this one as fibrous dysplasia but kept “fibrous dysplasia of the bone” as a synonym

[2020-12-16 19:48] nicolevasilevsky commented on #2438
from Gioconda (GARD):
We have this under Deafness, autosomal dominant nonsyndromic sensorineural 22, however I don’t think that the first term should be included here even so that OMIM includes it because the whole point here is that the deafness is not syndromic

[2020-12-16 19:51] galyea-gard commented on #139
Hi Nicole!  We have this one under “Primary localized cutaneous nodular amyloidosis” which is a synonym of nodular cutaneous amyloidosis.  Thanks, Gioconda

From: Nicole Vasilevsky <notifications@github.com>
Sent: Wednesday, December 16, 2020 2:42 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Mention <mention@noreply.github

[2020-12-16 21:22] nicolevasilevsky commented on #1728
Got it, thanks for the clarification @tibingaman.

I think this is what I should add, I'd like to verify this with @cmungall

**label:** AP4B1-related intellectual disability and spastic paraplegia

**subclassOf:**
MONDO_0019064 'hereditary spastic paraplegia'
MONDO_0000508 'syndromic intellectual disability'
'disease has basis in dysfunction of' some AP4B1

**Def:**
A disorder that presents with

[2020-12-16 21:38] tibingaman commented on #1728
Thanks @nicolevasilevsky! We also know that this caused by variants in AP4E1, AP4M1, and AP4S1. So for right now, we would like to request the name not reference just one of the AP4 genes. Please let me know your thoughts and if you need any clarification from me.

[2020-12-16 22:27] kanems opened #2474 "vitreoretinal degeneration MONDO:0020248"
**Mondo term (ID and Label):**
MONDO:0020248  "Vitreoretinal degeneration"

**Xref that should be fixed (ID and label):**
Orphanet 98670  https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=EN&Expert=98670 is obsolete.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2020-12-16 22:27] cmungall commented on #1728
Is it correct to say that the common molecular feature is variants in members of the AP-4 adaptor complex?

I am not convinced we need a separate concept than MONDO:0017241/Orphanet:280763

Orphanet already calls this  "AP4 deficiency syndrome"

The objection is that "severe" and "progressive" do not apply to all cases. I think we just relabel this as  "AP4 related  intellectual disability and spa

[2020-12-16 22:32] nicolevasilevsky commented on #1728
see related ticket:
https://github.com/monarch-initiative/mondo/issues/1729

[2020-12-16 22:33] nicolevasilevsky commented on #1728
another related ticket:
https://github.com/monarch-initiative/mondo/pull/1877

[2020-12-16 22:42] nicolevasilevsky commented on #48
This is what we currently have:
![image](https://user-images.githubusercontent.com/6722114/102415185-9c0db180-3fac-11eb-904f-9f9b616224ca.png)

[2020-12-16 22:43] nicolevasilevsky commented on #48
@kanems is proposing we make MONDO:0014048 a sibling of MONDO:0018996 (this looks confusing, but I think this is how it would look):
![image](https://user-images.githubusercontent.com/6722114/102415415-f9096780-3fac-11eb-8710-b85e1cf0a09a.png)

[2020-12-16 22:44] nicolevasilevsky commented on #48
related ticket:
https://github.com/Orphanet/ORDO/issues/11

[2020-12-16 23:23] nicolevasilevsky commented on #48
FYI
@galyea-gard
@ahamosh
@ana-rath-orphanet

[2020-12-17 00:21] nicolevasilevsky commented on #2474
Thanks @kanems!

Are you on our Mondo users mailing list? If not, could I add you? Could you share your email? (I'll delete it on here once I get it).

Thanks for all your tickets, they have been incredibly helpful in improving Mondo. :)

[2020-12-17 00:50] nicolevasilevsky commented on #1728
@ana-rath-orphanet @Anne-Pariser @Orphanet
we renamed MONDO:0017241/Orphanet:280763 to 'AP4-related intellectual disability and spastic paraplegia'. FYI, in case you'd like to follow suit.

[2020-12-17 01:15] nicolevasilevsky commented on #1728
@tibingaman I made the changes Chris suggested here:
https://github.com/monarch-initiative/mondo/issues/1728#issuecomment-747078176

But now I am wondering how this is different from MONDO_0100176 'AP-4 deficiency syndrome'? Looks like it is more narrow in scope from the definition. So should `MONDO:0017241 'AP4-related intellectual disability and spastic paraplegia'` be a child of `MONDO_0100176

[2020-12-17 14:24] ValWood opened #2479 "PBAT, obsoleted, no replacement"
could not find cvterm for MONDO:0014964 - maybe obsolete? encephalopathy_progressive_early_onset_with_brain_atrophy_and_thin_corpus_callosum

has been obsoleted.
This is the name of the disease  causal gene  TBCD
https://www.omim.org/entry/617193

what would the replacement be?

[2020-12-17 14:26] kanems commented on #2474
Yes, Nicole, I am on the mailing list (I get your “obsoletion candidates” and monthly release emails, so I presume that’s the list you mean.)  I’m happy to contribute to improving the ontology and resource. 😊

From: Nicole Vasilevsky <notifications@github.com>
Sent: Wednesday, December 16, 2020 7:21 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] <mega

[2020-12-17 15:45] ValWood opened #2480 "Rajab interstitial lung disease with brain calcifications, obsoleted"
Rajab interstitial lung disease with brain calcifications (RILDBC1; 613658),
has been obsoleted with no replacement.

https://www.omim.org/entry/613658
causative gene is FARSB

[2020-12-17 16:08] ValWood opened #2481 "[NTR] MULTIPLE CONGENITAL ANOMALIES-HYPOTONIA-SEIZURES SYNDROME 4"
MULTIPLE CONGENITAL ANOMALIES-HYPOTONIA-SEIZURES SYNDROME 4

for PIGQ
https://www.omim.org/entry/618548?search=MULTIPLE%20CONGENITAL%20ANOMALIES-HYPOTONIA-SEIZURES%20SYNDROME%204&highlight=%22anomaly%7Chypotonia%7Cseizure%22%20%28anomalieshypotoniaseizure%7C%20%28multiple%7Cmultiplicity%29%20%28syndrome%7Csyndromic%29%20%29%204%20congenital

https://www.omim.org/entry/605754#animalModel

[2020-12-17 16:10] ValWood commented on #2481
You have syndrome 2 for PIGA, should be siblings

[2020-12-17 16:30] ValWood opened #2482 "[NTR] X-linked recessive mitochondrial myopathy, lactic acidosis, cognitive impairment and autistic features"
X-linked recessive mitochondrial myopathy, lactic acidosis, cognitive impairment and autistic features

BenincÃ¡ C, Zanette V, Brischigliaro M, Johnson M, Reyes A, Valle DAD, J Robinson A, Degiorgi A, Yeates A, Telles BA, Prudent J, Baruffini E, S F Santos ML, R de Souza RL, Fernandez-Vizarra E, J Whitworth A, Zeviani M. | Related Articles
-- | --
  | Mutation in the MICOS subunit gene APOO (MIC26

[2020-12-17 16:54] nicolevasilevsky commented on #2480
@ValWood this is in Mondo:
MONDO_0100215 'Rajab interstitial lung disease with brain calcifications 1'

[2020-12-17 16:54] #2480 closed

[2020-12-17 16:57] nicolevasilevsky commented on #2474
@kanems Oh good! :) (I didn't check the list before I asked you, haha!)

[2020-12-17 17:12] galyea-gard commented on #48
Spinocerebellar ataxia with axonal neuropathy type 2 and AOA2 are the same. Autosomal recessive spinocerebellar ataxia with axonal neuropathy-1 is the same as Spinocerebellar ataxia with axonal neuropathy type 1 (SCAN1). GARD decided to use AOA2 after a message from an organization back in 2018 but kept the other terms as synonyms. Thank you! Gioconda

[2020-12-17 17:51] ValWood commented on #2480
That's odd. When I search Monarch don't find this term.

I also wanted to ask, is there any reason in these cases why terms can't be merged so that  we don't need to reannotate?

[2020-12-17 17:59] nicolevasilevsky commented on #2480
@ValWood you are right! I know Monarch is not in sync with Mondo, it's a bit behind, I'll report this on the Monarch tracker.

In this case MONDO_0013346 is replaced by MONDO:0100215, I don't know why this isn't displayed in Monarch. I'll report this to Monarch.

[2020-12-17 19:35] nicolevasilevsky commented on #2479
MONDO:0044646 'early-onset progressive diffuse brain atrophy-microcephaly-muscle weakness-optic atrophy syndrome'

is the replacement.

[2020-12-17 19:35] #2479 closed

[2020-12-17 19:49] nicolevasilevsky commented on #1728
Not sure how to address this.

[2020-12-17 19:56] nicolevasilevsky commented on #2481
what is the ID for syndrome 2 for PIGA?

this term already exists in Mondo as MONDO_0032808 'developmental and epileptic encephalopathy, 77', I added the synonym

[2020-12-17 19:57] #139 closed

[2020-12-17 19:59] #2458 closed

[2020-12-17 20:00] #2474 closed

[2020-12-17 22:48] nicolevasilevsky commented on #2427
From Joanna at OMIM:
My contact at the UMLS is splitting the conflated Maroteaux and
Sugerman entities.  The problem started with MESH and she has put in a
request at MESH to fix it there also.

[2020-12-18 13:23] ValWood commented on #2481
The PIGA  related disease is:
multiple congenital anomalies-hypotonia-seizures syndrome 2 (MONDO:0010466)

[2020-12-18 16:14] matentzn commented on #1208
I will reopen it when necessary

[2020-12-18 16:14] #1208 closed

[2020-12-18 17:22] nicolevasilevsky commented on #2482
yes, we can add this! we'll coordinate with OMIM after they add it.
cc @ahamosh

[2020-12-18 17:24] nicolevasilevsky commented on #2228
@pnrobinson do you have thoughts on this?
thanks!

[2020-12-18 17:24] nicolevasilevsky commented on #2423
Chris has an idea how to do this, we'll discuss later

[2020-12-18 17:29] nicolevasilevsky commented on #1494
to do:
- [ ] remove this parent class, reference this ticket on the ExcludeSubclassOf, include Val's ORCID
- [ ] let NCIt know we removed this relationship

[2020-12-18 17:37] nicolevasilevsky commented on #1490
- [ ] Zwelleger should not be an exact syn for 'peroxisome biogenesis disorder'
- [ ] add grouping class for 'Heimler syndrome 1' and 'Heimler syndrome 2' (https://en.wikipedia.org/wiki/Heimler_syndrome)

@maglott https://rarediseases.org/rare-diseases/zellweger-spectrum-disorders/
based on the NORD page, it doesn't seem that zellweger spectrum disorders is justified as a separate class (discussin

[2020-12-18 19:02] pnrobinson commented on #2228
@nicolevasilevsky I think this is a good cocept for Mondo.
However, the definition may not be always correct "who recovered from the acute phase of the SARS-CoV-2 infection" -- since I some individuals may go directly from acute to long-haul. Here is a slightly revised version:

[code]

[2020-12-18 19:23] nicolevasilevsky commented on #834
- [ ] Consider obsoleting: 'oculomotor apraxia or related oculomotor disease', do we need this grouping class?

[2020-12-18 19:48] nicolevasilevsky commented on #2482
Actually, looks like we already have this term:
MONDO_0100138 'X-linked recessive mitochondrial myopathy'

I'll add a synonym

[2020-12-18 19:50] #2481 closed

[2020-12-18 20:39] #1494 closed

[2020-12-18 22:06] maglott commented on #1490
Thanks

[2020-12-19 16:09] #1490 closed

[2020-12-19 16:23] #2482 closed

[2020-12-20 02:42] cmungall opened #2492 "Use gencc associations"
TSV:

https://search.thegencc.org/download

 - [ ] make sure that everything in this subset is tagged. We will need to carefully coordinate any obsoletions if the ID is used by GENCC
 - [ ] check this against all axioms in the ontology
 - [ ] decide on strength/confidence threshold
 - [ ] consider tsv2owl (possibly via kgx) and include in release. but coordinate with dipper on object properties @k

[2020-12-21 15:45] Mohan-Shruthi opened #2493 "Fatty acyl-coA reductase 1 dysregulation[NTR]"
**Preferred term label:** fatty acyl-coA reductase 1 dysregulation

**Synonyms** none

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)** autosomal dominant neurological disorder that results in uncontrolled synthesis of ether lipids (PMID: 33239752)

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)** MON

[2020-12-26 13:45] maglott opened #2494 "Obsolete 'unclassified' terms"
Action item:
obsolete these terms:

**Done (on PR):**
id |  label | consider
-- | -- | --
MONDO_0017957 | 'unclassified autoinflammatory syndrome' | 'autoinflammatory syndrome'
MONDO_0020241 | 'unclassified familial retinal dystrophy' | 'inherited retinal dystrophy'
MONDO_0019299 | 'unclassified genetic skin disorder' | 'skin disease'
MONDO_0015192 | 'unclassified intestinal pseudoobstruction' | '

[2020-12-27 20:00] cmungall commented on #2494
Agreed and we should go further and obsolete similar grouping classes that
have 'unclassified' and disjunctions in the name

On Sat, Dec 26, 2020, 05:46 maglott <notifications@github.com> wrote:

[2021-01-02 17:27] ahamosh commented on #407
Hi Nicole, OMIM is treating all the germline (and therefore possibly familial or hereditary) malignant cutaneous melanomas in the same series.  So, yes, equivalent, but we are separating each one by gene (as we do).

[2021-01-05 23:11] cmungall opened #2495 "split: skin basal cell carcinoma"
**Term to split:**

MONDO:0005341

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.

keep MONDO:0005341 but make a separate concept for the more general basal cell carcinoma

Follow NCIT and DPs

https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C3784

![image](https://user-im

[2021-01-05 23:13] cmungall commented on #2495
Also check

[code]

[2021-01-06 00:20] cmungall commented on #2495
Note:

![image](https://user-images.githubusercontent.com/50745/103713663-c6320e00-4f71-11eb-846c-f2625de22061.png)

one-child, bad-smell

when we try and replicate this in mondo we infer these are equivalent, as basal cells Ns are epithelial Ns. @nicolevasilevsky can you open an NCIT ticket?

[2021-01-06 10:31] mshadbolt opened #2497 "[Revise subclass] HP:0002140 Ischemic stroke move within stroke disorder, add definition"
**Mondo term (ID and Label)**
HP:0002140 Ischemic stroke

**Suggested revision and reasons**
The term above appears to have been imported into MONDO from HP but it doesn't appear linked to other MONDO terms in a meaningful way within the hierarchy. I believe it would make sense for it to appear as a subclass of `MONDO:0005098 stroke disorder`
https://en.wikipedia.org/wiki/Stroke#Ischemic

The term

[2021-01-06 19:22] matentzn opened #2498 "Add @hrshdhgd as contributor"
Please add @hrshdhgd as contributor to Mondo so he can use the boards and make PRs..

[2021-01-06 19:38] cmungall commented on #2498
done, and yr now an admin!

[2021-01-06 19:38] #2498 closed

[2021-01-06 19:39] matentzn commented on #2498
Merci

[2021-01-07 14:13] paolaroncaglia commented on #2497
Hi @mshadbolt ,

Mondo imports HP terms and uses them to axiomatise diseases. This is clearer when looking at [the Ontobee entry for 'ischemic stroke'](http://www.ontobee.org/ontology/MONDO?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FHP_0002140), but for some reason visualization of HP terms in Mondo via OLS is currently impaired. Tagging @matentzn and @nicolevasilevsky to look into this. More in

[2021-01-07 23:55] matentzn opened #2499 "Clean up our SKOS content"
Currently, our skos content is a bit dirty: many duplicates. For example, these are the results when querying for skos:exactMatch:

# OMIM duplicates:

OMIM | MONDO
-- | --
http://identifiers.org/omim/112500 | http://purl.obolibrary.org/obo/MONDO_0020701
http://identifiers.org/omim/112500 | http://purl.obolibrary.org/obo/MONDO_0007215
http://identifiers.org/omim/119580 | http://purl.obolibrary.org

[2021-01-08 09:37] matentzn opened #2500 "Clean up incomplete equivalencies"
Looking at Mondos equivalencies.owl, I found these:

<http://purl.obolibrary.org/obo/HP_0003150>
<http://purl.obolibrary.org/obo/HP_0003530>
<http://purl.obolibrary.org/obo/HP_0010865>
<http://purl.obolibrary.org/obo/HP_0100633>
<http://purl.obolibrary.org/obo/ICD11_RA01.0>
<http://purl.obolibrary.org/obo/KEGG_04930>
<http://purl.obolibrary.org/obo/KEGG_04940>
<http://purl.obolibrary.org/obo/KEGG_

[2021-01-08 09:46] matentzn opened #2501 "Rethink ID spaces for external sources"
We use the following namespaces (aside from some spurious ones #2500) in Mondo. I am wondering whether we should use the official namespace (esp. SCTID, OMIM) for these. It seems like these would be much more valuable if they could be more easily linked! Also, what is DC and COHD?

- [ ] http://purl.obolibrary.org/obo/COHD_
- [ ] http://purl.obolibrary.org/obo/DC_
- [ ] http://purl.obolibrary.org/

[2021-01-08 12:04] matentzn commented on #2499
Actually I was wrong, maybe more work needed:

[code]

[2021-01-08 12:10] matentzn commented on #2499
OMIM to mondo:

http://purl.obolibrary.org/obo/OMIM_607596	http://purl.obolibrary.org/obo/MONDO_0011866
http://purl.obolibrary.org/obo/OMIM_607596	http://purl.obolibrary.org/obo/MONDO_0016396

Mondo to Omim:

source | mondo
 -- | --
http://purl.obolibrary.org/obo/OMIMPS_251279 | http://purl.obolibrary.org/obo/MONDO_0000181
http://purl.obolibrary.org/obo/OMIMPS_251270 | http://purl.obolibrary.org/o

[2021-01-08 12:58] maglott commented on #2501
Is http://linkedlifedata.com/resource/umls/id/ truly official for UMLS?
There is an api from UMLS: https://documentation.uts.nlm.nih.gov/rest/home.html

[2021-01-08 13:23] matentzn commented on #2501
Thanks @maglott I unchecked the UMLS iri just in case we want to go over this again!

[2021-01-12 00:25] nicolevasilevsky opened #2502 "[Revise subclass] sex-cord gonadal tumor"
**Mondo term (ID and Label)**
sex-cord gonadal tumor

need to review the sex-cord gonadal tumor hierarchy

MONDO_0018194 'sex cord-stromal tumor of testis'

see this paper:
https://www.ncbi.nlm.nih.gov/books/NBK558916/

[2021-01-12 19:09] pnrobinson commented on #2042
Might be good to ask Ada.
I do not think that "rare genetic" is good, but "Mendelian ID" might be reasonable. We should also look at the Delta in Mondo, i.e., what entries do we have that are not Mendelian?

[2021-01-12 22:07] nicolevasilevsky commented on #2497
thanks @paolaroncaglia.

What do you mean by the visualization of HP terms in Mondo via OLS is currently impaired - what do you see that looks wrong? I am not sure if this is something we could fix on the Mondo side.

@mshadbolt could you please report the definition suggestion in the HPO tracker, as @paolaroncaglia suggested? thank you!

https://github.com/obophenotype/human-phenotype-ontology

[2021-01-13 01:53] cmungall opened #2504 "ecto_import is inconsistent"
![image](https://user-images.githubusercontent.com/50745/104396176-090a5d80-54ff-11eb-9c07-4d2e86c43d66.png)

the question why is Yemen even in ecto?

[2021-01-13 05:49] cmungall commented on #2504
so it seems Yemen ecoregion instance comes from envo. I'm guessing this is something to do with the 'feature' of SLME where instances are always included?

the main problem here seems to be an issue with the version of envo included in ecto, when you superimpose with the envo import you get ecoregion being both material and immaterial

[2021-01-13 16:45] mshadbolt commented on #2497
created issue here: https://github.com/obophenotype/human-phenotype-ontology/issues/6558

[2021-01-13 18:27] paolaroncaglia commented on #2497
@nicolevasilevsky

No, don't worry, it's not a real issue, rather a choice (on OLS' part) of how to visualize terms. No action item for Mondo. If you're curious, see discussion here: https://github.com/EBISPOT/OLS/issues/311

All the best,
Paola

[2021-01-13 18:30] nicolevasilevsky commented on #2497
Thanks @paolaroncaglia!

I'll close this ticket.

[2021-01-13 18:30] #2497 closed

[2021-01-13 19:27] kanems opened #2505 "MONDO:0005258, “Autism spectrum disorder”"
**Mondo term (ID Label)**

 MONDO:0005258, “Autism spectrum disorder”

**Bug/Typo/Error description**
ASD Lists "pervasive developmental disorders" as a synonym but is also a child of MONDO:0000594 "pervasive developmental disorder"

Also unsure of the best hierarchy structure. UMLS has ASD as the parent term C1510586 with PDD as a narrower concept (C0524528)
HPO treats "ASD" and "PDD" as synonyms

[2021-01-13 21:26] kanems opened #2506 "MONDO:0005380 Osteonecrosis"
**Mondo term (ID Label)**
MONDO:0005380 Osteonecrosis

**Bug/Typo/Error description**
This term lists avascular necrosis as a synonym, but this term already exists as a separate concept in MONDO MONDO:0018373 (Avascular necrosis) and is a child of Osteonecrosis.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-01-14 00:57] cmungall opened #2507 "split POAG"
MONDO:0007665 conflates the generic POAG with a gene-specific form; in that it follows https://omim.org/entry/137760

from that entry:

Other forms of primary open angle glaucoma include GLC1A (137750), caused by mutation in the MYOC gene (601652) on chromosome 1q24; GLC1B (606689) on chromosome 2cen-q13; GLC1C (601682) on chromosome 3q21-q24; GLC1D (602429) on chromosome 8q23; GLC1F (603383), cau

[2021-01-14 16:58] matentzn opened #2508 "revise seeding mechanism"
currenly additive only

[2021-01-14 18:43] nicolevasilevsky opened #2509 "review eye carcinoma class"
check what does eye carcinoma mean? - is it a carcinoma of the eyeball or the eye in the more general sense, should it include the eyelid?

[2021-01-14 18:44] nicolevasilevsky commented on #2509
eyelid carcinoma is a subclass - is this correct?

[2021-01-14 19:00] nicolevasilevsky commented on #2509
From Chris:
![image](https://user-images.githubusercontent.com/6722114/104636080-a7113b80-5657-11eb-91b3-f330e2280661.png)

this is how oncologists view it:
https://www.cancer.gov/publications/dictionaries/cancer-terms/def/eye-cancer

[2021-01-14 19:25] kanems opened #2510 "bilateral striopallidodentate calcinosis MONDO:0008947"
This MONDO ID is supposed to represent the parent class of multiple types of basal ganglia degeneration with calcification, but currently lists the gene-specific subtype 1 as synonyms (this is a child of this term)

Synonyms to remove:
basal ganglia calcification, idiopathic, type 1
idiopathic basal ganglia calcification 1

Xref errors: SCTID 110997000  maps to UMLS CUI: C0393590, Fahr's syndrome/

[2021-01-14 19:25] kanems opened #2511 "Errors on bilateral striopallidodentate calcinosis MONDO:0008947"
This MONDO ID is supposed to represent the parent class of multiple types of basal ganglia degeneration with calcification, but currently lists the gene-specific subtype 1 as synonyms (this is a child of this term)

Synonyms to remove:
basal ganglia calcification, idiopathic, type 1
idiopathic basal ganglia calcification 1

Xref errors: SCTID 110997000  maps to UMLS CUI: C0393590, Fahr's syndrome/

[2021-01-14 19:26] #2510 closed

[2021-01-14 19:26] kanems commented on #2510
created this ticket twice in error.

[2021-01-15 14:49] pnrobinson opened #2512 "acute adenoiditis"
**Mondo term (ID Label)**
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0020686

**Bug/Typo/Error description**
The adenoids  are the superior-most of the tonsils. Therefore, tonsillitis and adenoiditis are not exact synoynyms. I am not sure if it is a good idea to subclass according to each tonsil because typical acute bouts of tonsillitis aff

[2021-01-15 17:53] matentzn opened #2513 "Investigate the GTR xrefs"
We have many xrefs to something called GTR:

[code]

According to grep, this could be Genetic Testing Registry:

[code]

However, there is no indication what `AN1124590` could stand for.

The only thing I have found so far is this:

[code]

If someone else has an idea, let me know!

[2021-01-15 17:53] matentzn commented on #2513
@cthoyt thanks for pointing that out!

[2021-01-15 19:49] matentzn opened #2514 "Medgen fails currently because of a small number of wrong ids"
[code]
Results in ids like:

[code]

There are about 320K correct ids in Medgen and about 2000 such cases. Not sure where the fault lies, maybe with us?

[2021-01-15 19:55] cmungall commented on #2514
hmm. Taking one of these at random `1-hexacosanol`

with my older slurp from the ftp, I get

[code]

[2021-01-15 20:43] matentzn commented on #2514
Any strategy to debug? I have never touched the Medgen slurp code..

[2021-01-16 12:18] matentzn commented on #2514
I agree this term is there. But check this:

[code]

[2021-01-16 12:18] matentzn commented on #2514
Both seem to be!

[2021-01-16 12:34] maglott commented on #2514
What is the source of the slurp from medgen?  The docsums or files on the ftp site?
Just wondering what NCBI can do to help.

[2021-01-16 13:17] maglott commented on #2513
AN is the  format of the AUI (atom unique identifier) https://www.nlm.nih.gov/research/umls/new_users/glossary.html.
`AUI- Atom Unique Identifier.  An identifier for the atom in the UMLS.  It is the primary key to the concepts table.`
MedGen in many ways is an offshoot of UMLS, and retaines many of the identifier systems.
It is documented  (sort of) in  https://ftp.ncbi.nlm.nih.gov/pub/medgen/READ

[2021-01-16 18:35] cmungall commented on #2513
Thanks Charles, Donna, Nico! Let's excise these xrefs. I believe they only
occur as synonym annotations?

On Sat, Jan 16, 2021, 05:17 maglott <notifications@github.com> wrote:

[2021-01-16 18:36] cmungall commented on #2514
Ftp files

On Sat, Jan 16, 2021, 04:34 maglott <notifications@github.com> wrote:

[2021-01-16 19:11] cthoyt commented on #2513
GTR is popping up both as the prefix in xrefs and also as the source in synonyms
<img width="1162" alt="Screen Shot 2021-01-16 at 20 10 07" src="https://user-images.githubusercontent.com/5069736/104820684-dd58e180-5836-11eb-8b2f-0c9154b64f71.png">

[2021-01-16 21:01] matentzn commented on #2513
There are `144 GTR:AN...` references, 73 of which are xrefs of the type:

[code]

The rest are xrefs on synonyms:

[code]

If we remove them all we lose the source evidence for cases like this:

[code]

Still ok for removing all uses of GTR and these atomic identifiers?

[2021-01-17 02:44] cmungall commented on #2513
so we could use something that expands to
https://www.ncbi.nlm.nih.gov/gtr/conditions/CN035778/

e.g. medgen.gtr:CN....

may be simpler just to use the UMLS:CN035778 ID

but while we are here, UMLS:CN035778 IDs are also fake

these are medgen IDs. Medgen actually has two id spaces, the native numeric
one and the UMLS extension, identifiers.org conflates these

https://registry.identifiers.org/regi

[2021-01-17 02:58] cmungall commented on #2500
agreed

On Fri, Jan 8, 2021 at 1:37 AM Nico Matentzoglu <notifications@github.com>
wrote:

[2021-01-18 09:11] zoependlington opened #2515 "MONDO:0020802 is obsolete with subclass"
**Mondo term (ID Label)**
MONDO:0020802 (obsolete_basal cell cancer)

**Bug/Typo/Error description**
This obsolete term still has the subclass of "basal cell carcinoma", which was picked up as an error in the EFO release build.

![image](https://user-images.githubusercontent.com/36990116/104894729-f95e9f00-596c-11eb-98fb-d6c4f62bff6c.png)

[2021-01-18 14:24] cthoyt commented on #2513
@cmungall I'd support the change to medgen - this seems the most elegant

[2021-01-18 17:13] james-skelton opened #2516 "Mix of ICD-10 and ICD-10-CM codes"
I'm a researcher in the UK using MONDO as part of a study, and I can't seem to figure out which version of ICD-10 is being used by MONDO.

For example, http://purl.obolibrary.org/obo/MONDO_0018378 is osteonecrosis of the jaw and cross-references to K10 -- in ICD-10, this is correct, but in ICD-10-CM this should (probably) be M87. Additionally, I'm not sure K10 exists in ICD-10-CM. Conversely, http

[2021-01-18 17:15] matentzn commented on #2516
Thank you for the issue @james-skelton

I will confer with masterminds behind the mappings and will come back to you soon!

[2021-01-18 18:55] matentzn commented on #2516
Ok, most of our ICD mappings are coming from elsewhere, for example your case:

[code]

is imported from Orphanet. It is difficult to give a general answer to your question, but my sense ist that ICD10 should point to ICD10 proper, and xrefs using the prefix `ICD10CM` refer to ICD10-CM.

Here an ICD10CM example:

[code]

We cannot guarantee that this is correct in all cases because we rely on our

[2021-01-18 21:59] maglott opened #2518 "attaching a list of CUI from UMLS in the december release that are not current in UMLS"
**Mondo term (ID and Label):**
see attached

**Xref that should be fixed (ID and label):**
delete these.  I spot-checked, and believe that these are indeed no longer current
[cui_not_current_for_mondo.txt](https://github.com/monarch-initiative/mondo/files/5832546/cui_not_current_for_mondo.txt)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orc

[2021-01-19 19:27] nicolevasilevsky commented on #2518
Thanks @maglott, I'll take a look at this asap.

[2021-01-20 02:00] nicolevasilevsky commented on #2509
I think this can be closed.

[2021-01-20 02:00] #2509 closed

[2021-01-20 18:50] nicolevasilevsky commented on #2493
@Mohan-Shruthi - I added a parent 'nervous system disorder' and added the annotation that this disease is caused by dysfunction in the FAR1 gene. If any of this is incorrect, please let me know. This will be available in the next release around Feb 01.

[2021-01-21 11:39] james-skelton commented on #2516
Thanks for the update, I appreciate it. I think there's quite a few ICD-10-CM codes that are recorded as ICD-10,  but I'm not 100% sure. I'm using https://icd.who.int/browse10/2019/en#/ as my source for deciding if an ICD-10 code is valid and https://www.icd10data.com/ as my source for determining if an ICD-10-CM code is valid.

By running a Python script that uses regular expressions to try find

[2021-01-21 11:55] matentzn commented on #2516
Thank you so much for your help! Highly appreciated. I have circulated your approach for an terminology expert to look at (@hsolbrig) to look at, and if it is fine, I will fix all the prefixes according to your approach! If anyone else here knows (@maglott, @cmungall) feel free to chime in!

[2021-01-21 15:11] lcdaugherty opened #2520 "48, XXYY syndrome (MONDO:0015028) incorrect exactmatch MeSH ID:D007713"
I do not think MeSH:D007713 should be an exact match to 48, XXYY syndrome (MONDO:0015028).
Rather MeSH:D007713 should be an exact match to Klinefelter syndrome (MONDO:0006823)

[2021-01-21 15:55] maglott opened #2521 "[Obsolete]MONDO:0008220, pepsinogen 3, group 1"
**Mondo term (ID and Label)**
MONDO:0008220, pepsinogen 3, group 1

**Reason for deprecation**

not a disease
**Suggested term to consider**

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-01-21 16:00] maglott opened #2522 "[Obsolete] MONDO:0011204"
**Mondo term (ID and Label)**

MONDO:0011204/cerebellar degeneration-related autoantigen 3

**Reason for deprecation**
https://omim.org/entry/602197 is not a disorder

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-01-21 16:17] Mohan-Shruthi commented on #2493
Hi Nicole,

Thank you for the update. I’ll let the group know and get back to you with any additional comments.

Thanks,
Shruthi
-----------------------------
Shruthi Mohan, Ph.D.
ClinGen Biocurator, Berg Lab | Department of Genetics | UNC – Chapel Hill
Desk: 919-843-3549

From: Nicole Vasilevsky <notifications@github.com>
Sent: Wednesday, January 20, 2021 1:50 PM
To: monarch-initiative/mondo <mon

[2021-01-21 19:22] #2493 closed

[2021-01-21 19:23] kanems opened #2524 "[NTR] Paroxysmal familial ventricular fibrillation"
**Preferred term label:**
Paroxysmal familial ventricular fibrillation

**Synonyms**
Ventricular fibrillation, paroxysmal familial
Paroxysmal familial ventricular fibrillation (disorder)
Idiopathic ventricular fibrillation, non Brugada type (ORPHA:228140)

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
_No definition on UMLS C0340493, probably best to use

[2021-01-21 19:23] nicolevasilevsky commented on #2493
Thanks @Mohan-Shruthi.
I added this term and closed this ticket, but please do let me know if any changes are needed. Thank you!

[2021-01-21 22:02] nicolevasilevsky commented on #2524
Thanks @kanems! I'll work on this asap

[2021-01-21 22:17] nicolevasilevsky commented on #2515
Thanks @zoependlington I'll look at this asap.

[2021-01-21 22:21] nicolevasilevsky commented on #2512
thanks @pnrobinson I'll take a look into this asap

[2021-01-21 22:22] nicolevasilevsky commented on #2511
thanks @kanems I'll work on this asap :)

[2021-01-21 22:24] nicolevasilevsky commented on #2521
Thanks @maglott I'll send an email to the list to get community input.

[2021-01-21 22:24] nicolevasilevsky commented on #2522
Thanks @maglott I'll send an email to the list to get community input.

[2021-01-21 22:29] nicolevasilevsky commented on #2520
Thanks @kanems good catch.

@Orphanet @annieolry @ana-rath-orphanet the incorrect xfef came from Orphanet, FYI.

[2021-01-21 23:10] nicolevasilevsky commented on #2511
good catch @kanems. You submit really great issues, thanks for your work to improve Mondo.

[2021-01-22 00:03] nicolevasilevsky commented on #2512
@pnrobinson I am not sure where the label acute adenoiditis came from, the term is equiv to NCIT:C97142 acute tonsillitis, so I made that the primary label.

I revised the logical def to use tonsillitis instead of adenoiditis, so the inferred parent is now tonsillitis.

The logical def is now:
`tonsillitis
 and ('has modifier' some acute)`

[2021-01-22 00:04] nicolevasilevsky commented on #2512
I made `acute adenoiditis` a narrow synonym

[2021-01-22 00:21] nicolevasilevsky commented on #2524
@kanems do you have an ORCID?
https://orcid.org/

[2021-01-22 01:11] pnrobinson commented on #2512
This seems reasonable. Perhaps it would also be good to make acute tonsillitis the 1. label?

[2021-01-22 01:22] nicolevasilevsky commented on #2512
yes, I did make acute tonsilitis the primary label :)

[2021-01-22 14:53] maglott opened #2531 "OMIMPS:125310 AND MONDO:0007432"
**Mondo term (ID and Label):**
 MONDO:0007432/CADASIL

**Xref that should be fixed (ID and label):**

OMIMPS:125310

The phenotypic series is NOT limited to autosomal dominant forms, and thus should not be equated with CADASIL.
**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2021-01-22 14:56] kanems commented on #2524
Yes, but I am always too lazy to go look it up when I submit tickets 😃
0000-0001-5493-2602

From: Nicole Vasilevsky <notifications@github.com>
Sent: Thursday, January 21, 2021 7:22 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] <megan.kane@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] [NTR] Paroxysmal familial

[2021-01-22 15:30] mellybelly commented on #2524
@nicolevasilevsky perhaps we can come up with a workflow for frequent fliers so that they don't need to supply ORCIDS with every ticket?

[2021-01-22 16:08] kanems opened #2532 "MONDO:0000128 "Giant axonal neuropathy""
**Mondo term (ID and Label):**
MONDO:0000128 "Giant axonal neuropathy"

**Xref that should be fixed (ID and label):**
UMLS cross-ref should be C5200933
(the current reference: UMLS:C1850386 goes to GAN type 1)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)
0000-0001-5493-2602

**Other comments:**

[2021-01-22 16:23] maglott opened #2533 "[Merge] MONDO:0000170 and MONDO:0010303"
**Mondo term (ID and Label)**
 microphthalmia, isolated, with coloboma and colobomatous microphthalmia

**Reason for deprecation**
microphthalmia, isolated, with coloboma seems to be based on the phenotypic series, which seems to have the same children as colobomatous microphthalmia.  If there is no distinction, would you consider a merge?

Also, please consider having full names as the preferred

[2021-01-22 16:30] kanems opened #2534 "MONDO:0000865 congenital fiber-type disproportion"
The only X-ref on this entry in MONDO is DOID:0080102 (MONDO:equivalentTo)
Looking at that reference over on DiseaseOntology.org it cites

So I think this entry should be merged with MONDO:0009711 "congenital fiber-type disproportion myopathy"
Also NCIT C120046 has Preferred term of Congenital Fiber-Type Disproportion and syn. of Congenital Fiber-Type Disproportion Myopathy.

[2021-01-22 16:42] maglott opened #2535 "rules assigning XRefs to Orphanet"
If an Orphanet id, like https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=98810, maps to multiple MIM numbers, should that Orphanet id be an equivalent XRef to record specific to only 1 MIM number?

In other words, should MONDO:0007326 have an exact reference to orphanet 98810?
Not sure how many cases there are like this, but NCBI keeps stumbling across cases and if there is going to be a gen

[2021-01-22 17:42] nicolevasilevsky commented on #2535
This is a really good question @maglott. I'll look into this further and get back to you.

[2021-01-22 17:46] nicolevasilevsky commented on #2535
Immediate to do:
- [ ]  MONDO_0012629 'paroxysmal nonkinesigenic dyskinesia 2' should not be  a subclass of MONDO_0007326 'paroxysmal nonkinesigenic dyskinesia 1'

[2021-01-22 19:33] kanems opened #2536 "left bundle branch block/hemiblock"
**Mondo term (ID and Label):**
MONDO:0000991
left bundle branch block

**Xref that should be fixed (ID and label):**
SCTID:4973001 (MONDO:equivalentTo)
UMLS:C0155702 (MONDO:equivalentTo)
ICD9:426.2 (i2s)
ICD10:I44.60 (DOID:10272)

All of these Xrefs map to "left bunch branch hemiblock," per UMLS. Within the UMLS hierarchy, this "hemiblock" term is a child of :
"left bunch branch block"  which has

[2021-01-22 19:46] kanems commented on #2524
I edited my GitHub profile to include my ORCID weblink (I don’t have a website, so it was easy enough to plug that in there) not sure if there is a way to pull info from that part of my profile..?

From: Melissa Haendel <notifications@github.com>
Sent: Friday, January 22, 2021 10:31 AM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] <megan.kane@nih.gov>;

[2021-01-22 22:47] nicolevasilevsky commented on #2531
Great catch @maglott. I agree.

I think we could leave MONDO:0007432/CADASIL equiv to OMIMPS:125310, but Orphanet:136 Cerebral autosomal dominant arteriopathy-subcortical infarcts-leukoencephalopathy is equiv to MONDO_0000914 'CADASIL 1'.

I am moving other xrefs as well to the appropriate subclasses, it seems like there is some conflation going on.

[2021-01-23 12:21] matentzn opened #2539 "New OMIM terms 23. Jan 2021"
## Phenotypic series

[code]

## Diseases

[code]

[2021-01-23 12:22] matentzn commented on #2539
As always, synonyms need manual fixing!

[2021-01-23 17:16] matentzn opened #2540 "New ORDO terms 23.01.2021"
[code]

I would think a bit about these maybe.. Like whether we really want a name like `acute myeloid leukemia with t(9;22)(q34.1;q11.2)`

[2021-01-23 21:35] #2520 closed

[2021-01-23 21:37] #2511 closed

[2021-01-23 21:38] #2515 closed

[2021-01-23 21:38] #2512 closed

[2021-01-23 21:45] nicolevasilevsky commented on #2540
Personally, I think this is okay - this is referring to a specific chromosomal translocation, I think it is in the BCR-ABL genes. There is a drug that was developed at OHSU called Gleevac that is a targeted treatment for this type of leukemia, it is a very successful drug, but unfortunately some patients develop new mutations/translocations and become unresponsive to the drug because cancer sucks

[2021-01-24 16:45] pnrobinson opened #2541 "[NTR] Shrinking lung syndrome"
**Preferred term label:**
shrinking lung syndrome

**Synonyms**
shrinking of the lung [broad]
vanishing lung syndrome [exact]
small lungs [related]

**Definition (free text, please give PubMed ID)**
A rare pulmonary complication of an underlying autoimmune disorder that is reported in association with systemic lupus erythematosus (SLE). Reduced lung volumes result in restrictive ventilatory defect

[2021-01-25 13:31] maglott opened #2542 "familial hypoaldosteronism"
**Mondo term (ID and Label):**
familial hypoaldosteronism/MONDO:0018541

**Xref that should be fixed (ID and label):**

https://www.omim.org/phenotypicSeries/PS103900

This should be removed from familial hypoaldosteronism and added to familial hyperaldosteronism MONDO:0016525
**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)
 0000-000

[2021-01-25 14:41] maglott opened #2543 "Epilepsy, idiopathic generalized and OMIM's cross references"
**Mondo term (ID and Label):**
MONDO:0010918, EIG1 references OMIM https://omim.org/entry/600669 which is named EIG and has an included title of EIG1
MONDO:0005579, EIG references https://omim.org/phenotypicSeries/PS600669, the phenotypic serices

**Xref that should be fixed (ID and label):**
I don't know what should be done, but NCBI has always honored the titles. Thus if the OMIM phenotypic seri

[2021-01-25 17:56] kanems opened #2544 "MONDO:0002010 FG Syndrome"
MONDO:0002010 , "FG Syndrome" (with multiple "FGS" subtype children.)
Current Xrefs:

UMLS:C0220769   \| OMIMPS:305400 \| ORPHANET: 323
--
The current UMLS xref is to FGS type 1 and there is no link to the OMIM PS from number OMIM 305400, possibly because the disorder ("FGS 1") is now called OPITZ-KAVEGGIA SYNDROME; OKS. The MONDO term itself seems to be a bit of an "orphan" with poorly define hie

[2021-01-25 18:03] kanems opened #2545 "Rolandic epilepsy MONDO:0007295"
Rolandic epilepsy MONDO:0007295- what concept is trying to be captured here?
Current X-refs to UMLS and other terms are a wee-bit confusing (UMLS:C0376532 | UMLS:C2363129 | UMLS:CN200685)

1. Delete the CN200685 UMLS code (not active in MedGen, not sure where this identifier came from)
2.  Do you want this entry to be the generic parent term for all forms of "RE" or the "benign RE" term?

-  You h

[2021-01-25 18:04] kanems opened #2546 "MONDO:0007245 neurofibromatosis type 6"
**Mondo term (ID Label)**
MONDO:0007245 neurofibromatosis type 6

**Bug/Typo/Error description**
multiple typos in the synonyms and the definition, probably related to the display of the e with accent:  "multiple cafC)-au-lait syndrome"

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-01-25 18:53] abbe-Lai opened #2547 "[NTR] Overgrowth syndrome and/or cerebral malformations due to abnormalities in MTOR pathway genes"
**Preferred term label:**
Overgrowth syndrome and/or cerebral malformations due to abnormalities in MTOR pathway genes

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
The disease caused by mosaic gain-of-function (GoF) several genes in the MTOR pathway (MTOR, PIK3CA, PIK3R2 and AKT3) are functionally the same despite significant phenotypic va