[2021-01-25 22:49] nicolevasilevsky commented on #2533
Thanks @maglott I'll send this to the users list and hope to get to this soon.

[2021-01-25 22:51] nicolevasilevsky commented on #2544
Thanks @kanems - I'll look into this asap

[2021-01-25 22:52] nicolevasilevsky commented on #2547
Thanks @abbe-Lai I'll work on this asap

[2021-01-25 23:07] #2531 closed

[2021-01-25 23:18] nicolevasilevsky commented on #2539
@matentzn do you know why this term isn't on the list to bring in? https://omim.org/entry/619161
It is part of the carpel tunnel syndrome series:
https://omim.org/phenotypicSeries/PS115430

I can add it, if needed

[2021-01-25 23:20] matentzn commented on #2539
Well maybe it's too new? It would come in with the next round?

[2021-01-25 23:21] matentzn commented on #2539
Also, remember: if it's part of a new OMIMPS it won't come in until after all OMIMPS are added!

[2021-01-25 23:31] nicolevasilevsky commented on #2539
Ah, okay, got it! That makes sense :)

[2021-01-26 00:27] nicolevasilevsky commented on #2540
from @cmungall

1. if it goes in it certainly should not go in under the root

2. if we do add these then we want a DP for these.

3. A DP will require axiomatization, and for this DP the ontology we need is Monochrom. What is the status of Monochrom?

4. How is monochrom aligned with NCIT? Should we use NCIT directly here? https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obol

[2021-01-26 00:28] nicolevasilevsky commented on #2540
to do:
- [ ] make a placeholder DP for these

[2021-01-26 01:07] nicolevasilevsky opened #2550 "create design pattern for cancer chromosomal locations"
For terms like this one from Orphanet:
[Term]
id: MONDO:0035087
name: acute myeloid leukemia with t(9;22)(q34.1;q11.2)
subset: ordo_disease
is_a: MONDO:0000001 {source="Orphanet:585867"} ! disease or disorder
is_a: MONDO:0020078 {source="Orphanet:585867"} ! acute myeloid leukemia with recurrent genetic anomaly
xref: Orphanet:585867 {source="MONDO:equivalentTo"} ! acute myeloid leukemia with t(9;22

[2021-01-26 01:07] nicolevasilevsky commented on #2550
from @cmungall

if it goes in it certainly should not go in under the root

if we do add these then we want a DP for these.

A DP will require axiomatization, and for this DP the ontology we need is Monochrom. What is the status of Monochrom?

How is monochrom aligned with NCIT? Should we use NCIT directly here? https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2

[2021-01-26 01:07] nicolevasilevsky commented on #2550
from @matentzn

No progress on monochrom, and there wont be without pushing its importance.. I can guide someone through it, but I cant do it myself.

[2021-01-26 01:27] nicolevasilevsky commented on #2542
thanks Donna, good catch!

[2021-01-26 01:29] nicolevasilevsky commented on #2543
I'll look into this asap :)

[2021-01-26 01:35] #2228 closed

[2021-01-26 14:07] maglott opened #2552 "OMIMPS:311360 and ovarian failure"
**Mondo term (ID and Label):**
MONDO:0005387 /primary ovarian failure

**Xref that should be fixed (ID and label):**

OMIMPS:311360.
Given that OMIM is restricted to inherited disorders, shouldn't OMIMPS:311360 be connected to MONDO:0019852, inherited primary ovarian failure instead

Also, the label for the phenotypic series is 'premature ovarian failure' but I don't see that label in Mondo.
**You

[2021-01-26 18:20] mbalzotti opened #2553 "Roberts-SC phocomelia syndrome/ESCO2"
**Preferred gene-related syndrome label**
Roberts-SC phocomelia syndrome

**Synonyms**
Roberts syndrome
SC phocomelia syndrome

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
Roberts syndrome (MONDO:0009997)

**Definition**
Any Roberts syndrome or SC phocomelia in which the cause of the disease is a mutation in the ESCO2 gene.

**Definiti

[2021-01-26 18:27] mbalzotti commented on #2553
@nicolevasilevsky This request is coming from the ClinGen Syndromic Disorders GCEP. We were hoping to merge Roberts syndrome with SC phocomelia syndrome as Roberts-SC phocomelia syndrome. Currently, SC phocomelia syndrome (MONDO:0010009) is organized under Roberts syndrome (MONDO:0009997) as a mild variant of Roberts syndrome. Please don't hesitate to reach out to me for any additional information

[2021-01-26 18:48] #2540 closed

[2021-01-26 18:49] hsolbrig commented on #2516
(To the best of my recollection -- it's been a while), ICD-10, which is published by the WHO, has a single digit after the decimal point.  As an example, H52.3 is the code for "Other disorders of binocular vision".  The US ICD-10-CM (Clinical modifications) adds an extra digit -- thus "H52.32" is the code for  Aniseikonia -- an ocular condition where there is a significant difference in the percei

[2021-01-26 18:49] kanems opened #2554 "Noonan-like syndrome(s)"
I am looking for clarification/verification for the cross-reference mapping of the concept(s) for "Noonan-like syndrome"
MONDO:0020297 "noonan-related and noonan syndrome" should have a syn of "noonan-like" based on MESH:C537846 X-ref., however based on ticket #623 https://github.com/monarch-initiative/mondo/issues/623, Noonan-like syndrome is treated as a synonym for CBL-disorder (MONDO:0013308)

[2021-01-26 18:51] nicolevasilevsky commented on #2524
@kanems - that works, I can grab your ORCID from your profile going forward, thanks!

[2021-01-26 18:51] #2524 closed

[2021-01-26 18:52] #2542 closed

[2021-01-26 19:00] nicolevasilevsky commented on #2552
Thanks @maglott, I agree

[2021-01-26 20:10] lschriml commented on #2552
Hello Nicole,
  notes on the updated nomenclature and classification of this disease are in:
https://github.com/DiseaseOntology/HumanDiseaseOntology/issues/926

Cheers,
Lynn

[2021-01-26 20:20] matentzn commented on #2539
That is all for now!
[code]

[2021-01-26 20:29] nicolevasilevsky commented on #2552
Thanks @lschriml!

[2021-01-26 21:24] lschriml commented on #2552
Welcome Nicole !!
I appreciate our coordination of disease terms !!

On Tue, Jan 26, 2021 at 3:29 PM Nicole Vasilevsky <notifications@github.com>
wrote:

--
Lynn M. Schriml, Ph.D.
Associate Professor

Institute for Genome Sciences
University of Maryland School of Medicine
Department of Epidemiology and Public Health
670 W. Baltimore St., HSFIII, Room 3061
Baltimore, MD 21201
P: 410-706-6776 |  F:

[2021-01-27 02:03] #2539 closed

[2021-01-27 10:35] matentzn commented on #2516
Thank you very much @hsolbrig that is very helpful!

[2021-01-27 15:48] #2552 closed

[2021-01-27 18:19] kanems opened #2558 "MONDO:0007522 Ehlers-Danlos syndrome, classic type"
**Mondo term (ID and Label):**
MONDO:0007522 Ehlers-Danlos syndrome, classic type

**Xref that should be fixed (ID and label):**
OMIM:130000 (Orphanet:287)

The OrphaNet page (287) points to TWO OMIM entries 130000 & 130010

So this term, as shown in MONDO, is actually the parent concept for both EDS Classic type 1 and type 2 and there isn't a specific OMIM PS# for classic EDS types (just the PS f

[2021-01-27 21:33] nicolevasilevsky opened #2559 "[NTR] Respiratory syncytial virus bronchiolitis"
Preferred term label:
Respiratory syncytial virus bronchiolitis

Synonyms
RSV bronchiolitis

Definition (free text, please give PubMed ID)
Inflammation of the bronchioles, caused by the respiratory syncytial virus.
PMID: 28722988

Parent term (use hpo.jax.org/app)
Bronchiolitis

Related:
https://github.com/obophenotype/human-phenotype-ontology/issues/6660

[2021-01-27 21:36] kanems opened #2562 "split term: Waldenstrom macroglobulinemia"
**Term to split:**
MONDO:0007926 Waldenstrom macroglobulinemia
**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
Waldenstrom macroglobulinemia
MACROGLOBULINEMIA, WALDENSTROM, SUSCEPTIBILITY TO, 1; WM1 (new term, make as a child to WM, sibling to WM2)

**List properties that should be moved to new term:** Note- ORDO tends to

[2021-01-28 00:18] nicolevasilevsky commented on #2558
@kanems I agree, I'll fix this.

I wonder if we should obsolete MONDO_0007522 'Ehlers-Danlos syndrome, classic type', it seems this has been split into classic type 1 and 2 in OMIM ([type 1 ](https://omim.org/entry/130000)and [type 2](https://omim.org/entry/130010)).

@ahamosh @annieolry/ @ana-rath-orphanet / @Orphanet  @galyea what do you think?

[2021-01-28 00:23] nicolevasilevsky commented on #2558
although it looks like Orphanet obsoleted type 1, so maybe it's best to keep the grouping class to stay aligned with Orphanet?

[2021-01-28 01:05] nicolevasilevsky commented on #2546
thanks @kanems, there were a lot of typos! I think it's a Protege problem.

[2021-01-28 01:16] nicolevasilevsky commented on #2553
@mbalzotti There is an exact synonym on SC phocomelia syndrome that is Roberts-SC phocomelia syndrome (see [NCIT](https://ncithesaurus.nci.nih.gov/ncitbrowser/pages/concept_details.jsf?dictionary=NCI_Thesaurus&version=20.11e&code=C4681&ns=ncit&type=properties&key=null&b=1&n=0&vse=null)).

I'm not sure I understand how your proposed term is different?

Thanks!

[2021-01-28 01:26] nicolevasilevsky commented on #2547
@abbe-Lai is CCND2 included in the MTOR pathway? This disease ('megalencephaly-polymicrogyria-polydactyly-hydrocephalus syndrome 3') would be a child of this proposed new term.

Also TSC1 and TSC2, these genes would be classified under this proposed new term (see https://omim.org/entry/607341).

Thank you for checking!

[2021-01-28 01:39] nicolevasilevsky commented on #2562
Hi @kanems We are planning to discuss how to address terms like this that combine the disease and susceptibility to the disease, we have a meeting scheduled in a few weeks, so I'm going to put this on hold until after we meet and come up with a plan.

Thanks for reporting this!

[2021-01-28 01:43] nicolevasilevsky opened #2567 "pav:status on patterns"
Can we add a pav:status on patterns? How do we distinguish implemented patterns?

[2021-01-28 01:49] ahamosh commented on #2558
Ok, my read of this is EDS 1 is now EDS, classic type.  OMIM has made EDS, classic 1 and classic 2 to distinguish COL5A1 and COL5A2. There is no clinical distinction between the two, just a split for molecular basis.

[2021-01-28 06:08] ana-rath-orphanet commented on #2558
Hello, Orphanet follows the international consensus classification of EDS https://doi.org/10.1002/ajmg.c.31552. Accordingly, Classical EDS (cEDS) is the single recognized entity, including  COL5A1, COL5A2 and COL1A1 cases.

[2021-01-28 10:25] matentzn commented on #2567
Can you give some more detail? This is a ticket for the DOSDP spec:
https://github.com/INCATools/dead_simple_owl_design_patterns

 But make sure you know what you are asking for.. Just like that I am not sure I understand the point of

[code]

That seems to be secondary information that you can see using our `conformsTo` tags on the classes implementing a pattern..

[2021-01-28 14:58] nicolevasilevsky commented on #2567
Yes, I think this is what Chris wants. This came on the email thread about chromosomal translocations, and I created that new pattern that is just descriptive at the moment, so he wants a way to differentiate those.

Thank you @matentzn!

[2021-01-28 17:36] #2546 closed

[2021-01-28 19:50] galyea-gard commented on #2558
I agree. OMIM tends to have subtypes if the molecular basis is different but it is a single recognized entity.  Thanks! Gioconda

From: ana-rath-orphanet <notifications@github.com>
Sent: Thursday, January 28, 2021 1:08 AM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Alyea, Gioconda (NIH/NCATS) [C] <gioconda.alyea@nih.gov>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-i

[2021-01-28 20:03] mbalzotti commented on #2553
@nicolevasilevsky - I believe the GCEP thinks that having a single entry with the blended name would be better than having two entries (Roberts syndrome - MONDO:0009997 and SC phocomelia syndrome - MONDO:0010009), even though they are synonymous, because the blended name, Roberts-SC phocomelia syndrome, would make it clear in future publications that the two disease entities are synonymous.

[2021-01-29 16:50] dosumis commented on #2567
https://github.com/INCATools/dead_simple_owl_design_patterns/pull/61

[2021-01-29 18:52] kanems opened #2575 "MONDO:0009710 myotonia congenita"
Clarification request and some clean up needed.

It appears this term is meant to be the generic parent term to the AD and AR forms of myotonia congenita (NOT to be confused with “congential myotonia”)

- [x] Syns are incorrect. Anything specific to “Thomsen” or “autosomal dominant form” should be on the AD form. “Thomsen and Becker disease” is the Orpha614 name, is an acceptable syn for “myotonia

[2021-01-29 22:53] kanems opened #2576 "Congenital intrinsic factor deficiency MONDO:0009852"
Looking to get clarification on the term Congenital intrinsic factor deficiency,  MONDO:0009852. and how to map it to UMLS's concepts/CUIs.

The OMIM # (261000), GARD 3024, Orpha332 and MESH C563242 all support a match to the UMLS concept for 'intrinsic factor deficiency" (C1394891)

However SCTID 34925000  maps to "Megaloblastic anemia due to inborn errors of metabolism" which seems to be a near

[2021-01-30 01:24] nicolevasilevsky opened #2577 "[Merge] 'amyotrophic lateral sclerosis type 17'"
**Mondo term (ID and Label)**
MONDO:0013861 'amyotrophic lateral sclerosis type 17'

**Reason for deprecation**
merged in OMIM

**Term to be merged with**
MONDO:0010936 'frontotemporal dementia, chromosome 3-linked'

[2021-01-30 15:55] nicolevasilevsky opened #2578 "split term: MONDO_0016643 'frontonasal dysplasia'"
**Mondo term (ID and Label)**
MONDO_0016643 'frontonasal dysplasia'

**Suggested revision and reasons**
This term has many children but the text def is:
Frontonasal dysplasia caused by mutations in the ALX3 gene, encoding homeobox protein aristaless-like 3. It is inherited in an autosomal recessive fashion.

I think the def should be revised to the Orphanet def:

A group of rare bone development d

[2021-02-01 12:50] maglott opened #2579 "[Merge] Freire-Maia odontotrichomelic syndrome MONDO:0023191 and odontotrichomelic syndrome MONDO:0010111"
**Mondo term (ID and Label)**
Freire-Maia odontotrichomelic syndrome MONDO:0023191 and odontotrichomelic syndrome MONDO:001011

**Reason for deprecation**
Based on identifiers and terms, I am not certain there is any distinction.
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=2723 provides https://omim.org/entry/273400 as a cross reference.  OMIM provides odontotrichomelic syndrome as an a

[2021-02-01 15:21] kanems opened #2580 "Wilson-Turner Syndrome MONDO:0010665"
Based on the x-refs on this term, I'm confused as to the molecular basis of this disorder and thus how to effectively map it in the GTR/MedGen database.  UMLS has two entries that match the x-refs on this MONDO term: The SNOMED ID is on Wilson Turner syndrome (C0796255) , but  the OMIM ID is on “Wilson-Turner X-linked mental retardation syndrome” C1839736, which is the CUI that OrphaNet cites.

OM

[2021-02-01 16:41] kanems opened #2581 "MONDO:0012455 Kleefstra syndrome"
**Mondo term (ID and Label):**
MONDO:0012455
Kleefstra syndrome

**Xref that should be fixed (ID and label):**

- UMLS:C0795833 This CUI links to a term called KLEEFSTRA SYNDROME 1
Replacement UMLS concept: C4551771 "Kleefstra syndrome" (which is the parent for the "1" type)

- ORPHA:261494 points a term that has the generic name of "Kleefstra syndrome" but links only to the OMIM page and UMLS CUI

[2021-02-01 20:22] cmungall opened #2582 "NP: traumatic X"
I think we can use the injury branch to axiomatize for now

[2021-02-01 23:08] saramsey commented on #1921
Hello MONDO team, any update on this?

[2021-02-01 23:13] nicolevasilevsky commented on #1921
Hi, My apologies for the long delay! I'll look at this now.

[2021-02-01 23:20] nicolevasilevsky commented on #1921
good catch @saramsey and @asmvernon
I fixed this on a PR, it will be resolved in the next release in early March

[2021-02-01 23:22] nicolevasilevsky commented on #1395
Update - we have a meeting scheduled later this month to address issues with susceptibility, so I'm hoping we can get this resolved soon. Thanks for your patience. :)

[2021-02-01 23:24] nicolevasilevsky commented on #2229
@johannaest sorry for the delay, I hope to get to this soon. :)

[2021-02-01 23:24] nicolevasilevsky commented on #2337
@kanems sorry for the delay, I hope to get to this soon. :)

[2021-02-01 23:25] nicolevasilevsky commented on #2461
@ireneisdoomed Sorry for the delay on following up on this, I hope to get to it soon. If it's high priority, please let me know.

[2021-02-01 23:26] nicolevasilevsky commented on #2505
thanks @kanems - I'll try to get to this soon. :)  If it's high priority, please let me know.

[2021-02-01 23:29] nicolevasilevsky commented on #1990
@fmjabato sorry for the delay on this - could you let me know about the question above when you have a chance? Thanks!

[2021-02-02 01:50] nicolevasilevsky commented on #605
I think this can be closed. Please reopen if needed.

[2021-02-02 01:50] #605 closed

[2021-02-02 02:01] #1921 closed

[2021-02-02 02:15] nicolevasilevsky commented on #2337
@kanems
- I made OMIM:219200 equiv to 'autosomal recessive cutis laxa type 2A', as you requested.
- made GARD:0001638 equiv to 'autosomal recessive cutis laxa type 2A' as well
- moved synonyms from classic type to 'autosomal recessive cutis laxa type 2A'

Looks like Type 2C and 2D are no longer children of CT

![image](https://user-images.githubusercontent.com/6722114/106542814-5ef87280-64b9-11eb-

[2021-02-02 02:33] saramsey commented on #1921
thank you!

[2021-02-02 09:22] fmjabato commented on #1990
Never mind @nicolevasilevsky . Let me reformule the question.

We are working with HPO in order to study genetic diseases (coded, for example, using OMIM and ORPHANET). We are studying your MONDO ontology and we found that you directly reference MONDO items with HPO IDs (forget the short/extended matter).

If we take the direct references, we found 563 MONDO with phenotypes (HPO ids). We have used

[2021-02-02 16:36] kanems commented on #24
Is this term equivalent to https://hpo.jax.org/app/browse/term/HP:0031576 ? Based on the names and cross-references, I'm not sure how to map this concept for MedGen.

UMLS has different identifiers for the HPO term and the OMIM presentation, and the names/synonyms used by the various groups seems to be variably interchangeable...
 The OMIM number is on UMLS C1838348, "oculomaxillofacial dysostosis

[2021-02-02 19:05] abbe-Lai commented on #2547
Hello,

Hello CCND2 most definitely would be appropriate for this term. MPPH3 would be the child term as well. However, for TSC1 and TSC2 this would likely be just one of the branches for these genes since they have other risks like cancer associated with TS.

We have not curated these genes yet though so before we make a finalized decision we will plan to curate these genes first? Would that be o

[2021-02-02 20:20] drseb commented on #1990
I think you are mixing up the concept of an "xref" and a "disease-to-clinical-feature association". These are not the same. An xref is not much - the obo guide mentions something like "This xref is of relevance to the current entity". The HPO-annotation files you are using are more, they clearly associate a disease concept (D) with individual clinical features that patients with the diagnosis D ar

[2021-02-02 20:49] pnrobinson commented on #24
This again gets to the distinction between diseases and phenotypes. If a person has a tessier type 4 cleft as their only clinical problem, it is possible to treat it as a disease. On the other had, various kinds of clefts can be observed as features of other diseases.
In general, I would propose that a disease consists of a clincial course, response to treatment, and an etiology. This distinguishe

[2021-02-02 21:48] RedRiver1816 opened #2587 "[Relabel] Remove "Hypermethioninemia due to" from disease entity"
**Mondo term (ID and Label):**
Hypermethioninemia due to adenosine kinase deficiency; MONDO:0013676

**Suggested new label:**
Adenosine kinase deficiency OR ADK deficiency

**Your nano-attribution (ORCID)**
Aminoacidopathy Expert Panel (https://www.clinicalgenome.org/affiliation/40011/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
Although there are very

[2021-02-02 21:55] maglott commented on #2587
I am concerned about defining what a Mondo ID represents.  I failed to speak up when gyrate atrophy was renamed to be Ornithine aminotransferase deficiency.  In this case, a relabeling will broaden the concept represented by the ID.  Seems if we want a general concept, a new record should be created for it.  Created a new node, not redefine an existing one. Just my opinion, of course.

[2021-02-03 00:41] #2337 closed

[2021-02-03 00:42] nicolevasilevsky commented on #2587
Hi @RedRiver1816 thanks for the request, I will look at this more closely.

@maglott very good point, let me look into this further.

[2021-02-03 00:51] nicolevasilevsky commented on #2229
I added this as MONDO_0100248

[2021-02-03 01:06] nicolevasilevsky commented on #962
Sorry for the long delay, I think I know what I need to do now, I will review these terms below and ensure they are not children of classes that are equiv to other OMIM terms.

@maglott I'll address your comment above too
- [ ] https://monarchinitiative.org/disease/MONDO:0008897 should have https://omim.org/entry/211900 /, tumoral calcinosis, HYPERPHOSPHATEMIC, familial, 1; HFTC1 split out.

- [ ]

[2021-02-03 01:48] nicolevasilevsky opened #2590 "[Merge] MONDO_0043181 'Refsum disease with increased pipecolic acidemia'"
**Mondo term (ID and Label)**
MONDO:0043181 'Refsum disease with increased pipecolic acidemia'

**Reason for deprecation**
these terms were merged in OMIM
https://www.omim.org/entry/600964

cc @galyea-gard

**Term to be merged with**
MONDO:0009958 'adult Refsum disease'

related to https://github.com/monarch-initiative/mondo/issues/962

[2021-02-03 09:23] micheldumontier opened #2595 "Bioportal version not current"
**Bug/Typo/Error description**
last version parsed is may of 2019:

https://bioportal.bioontology.org/ontologies/MONDO

did the file locations change?

m.

[2021-02-03 11:19] fmjabato commented on #1990
Okey, at this point I have some doubts. I understand that the HPO file relates phenotypes with diseases. At this point, I'm interested on use your MONDo hierarchy to work with MONDO items.

Specifically, I want to assign phenotype profiles (HPO IDs) to MONDO terms in order to apply some semantic and other mathematical studies.

And I do the following:

1. I use your mondo.obo file and use **xref**

[2021-02-03 14:15] lcdaugherty opened #2596 "autosomal dominant polycystic kidney disease (MONDO:0004691) incorrect exactMatch UMLS CN119611 (not found)"
Current:
autosomal dominant polycystic kidney disease (MONDO:0004691) has exactMatch UMLS CN119611 (unknown? I am not sure if this is a true UMLS, as I can't find an explanation to that title and the CN prefix is unusual?).
However, I suggest: UMLS CUI: C0085413 is currently a closematch but this is ADPKD and should be an exactmatch for autosomal dominant polycystic kidney disease (MONDO:0004691).

[2021-02-03 15:59] nicolevasilevsky commented on #2595
Thanks @micheldumontier, I will look into this.

[2021-02-03 16:00] matentzn commented on #2595
@graybeal can you help with this one? Doesnt Bioportal use OBO config?

[2021-02-03 16:27] maglott commented on #2596
This seems to be a specific aspect of 'CUI' that should be removed. MedGen currently reports https://www.ncbi.nlm.nih.gov/medgen/C0085413 for MONDO:0004691.  I'll send another list of CN CUI that could be purged.

[2021-02-03 16:49] #2229 closed

[2021-02-03 16:51] graybeal commented on #2595
We're looking into it, will update with more information before too long.

[2021-02-03 17:48] maglott opened #2597 "Spastic Diplegia Cerebral Palsy or spastic diplegia"
UMLS makes a distinction between these concepts.
I see that the GARD link from spastic diplegia MONDO:0001167 goes to
Spastic diplegia cerebral palsy

Was it agreed that there should be no distinction?  If so , we will contact UMLS.

[2021-02-03 20:24] jvendetti commented on #2595
I manually uploaded the latest release of mondo.obo (`data-version: releases/2021-01-29/reasoned.owl.owl`). It's fully processed and available via the BioPortal web application and REST API:

https://bioportal.bioontology.org/ontologies/MONDO?p=classes
https://data.bioontology.org/ontologies/MONDO/

Note that we had to disable our nightly pull mechanism that checks for new versions of MONDO. There

[2021-02-03 22:31] nicolevasilevsky commented on #3
@cmungall @balhoff has this been fixed? Can this be closed?

[2021-02-03 22:34] nicolevasilevsky commented on #7
related to https://github.com/monarch-initiative/mondo/discussions/2584

[2021-02-03 22:35] nicolevasilevsky commented on #6
@cmungall is this still needed?

[2021-02-03 22:37] nicolevasilevsky commented on #1600
I believe this has been address. Please reopen if needed.

[2021-02-03 22:37] #1600 closed

[2021-02-03 22:53] nicolevasilevsky commented on #85
I think we are doing this now

[2021-02-03 22:53] #85 closed

[2021-02-03 22:54] nicolevasilevsky commented on #559
see
 https://github.com/monarch-initiative/mondo/discussions/2598

[2021-02-03 22:55] nicolevasilevsky commented on #494
closing here, added to Monarch UI github

[2021-02-03 23:02] nicolevasilevsky commented on #550
@pnrobinson The superclass of 'rheumatologic disorder' comes from EFO. Would it be sufficient to exclude this superclass?

[2021-02-03 23:07] nicolevasilevsky commented on #497
this is done

[2021-02-03 23:07] #497 closed

[2021-02-03 23:15] nicolevasilevsky commented on #492
In OMIM, this is called CLEFT LIP/PALATE-ECTODERMAL DYSPLASIA SYNDROME https://www.omim.org/entry/225060

[2021-02-03 23:16] nicolevasilevsky commented on #492
and Orphanet has renamed this to Orphanet:3253 Cleft lip/palate-ectodermal dysplasia syndrome

[2021-02-03 23:18] nicolevasilevsky commented on #492
MONDO_0017911 'cleft lip/palate-ectodermal dysplasia syndrome' has been obsoleted from Orphanet, I'll merge it with MONDO_0009151 'Zlotogora-Ogur syndrome', following Orphanet

[2021-02-03 23:27] nicolevasilevsky commented on #548
this would need to be changed in Uberon. Do we want to do that, or can this be closed?

[2021-02-03 23:31] nicolevasilevsky commented on #501
@pnrobinson the definition from MESH describes it as inflammation:
https://meshb.nlm.nih.gov/record/ui?ui=D015299

this term is also in DO, as a child of cartilage disease, with no def:
https://www.ebi.ac.uk/ols/ontologies/doid/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDOID_10986

Do you think we should remove all the references to MESH? (including the def, logical def, etc)

[2021-02-03 23:32] nicolevasilevsky commented on #533
![image](https://user-images.githubusercontent.com/6722114/106822985-05b54e00-6635-11eb-95f5-bd2f08eb1a99.png)

looks like this has been addressed

[2021-02-03 23:32] #533 closed

[2021-02-03 23:34] nicolevasilevsky commented on #532
looks like acute stress reaction has been obsoleted and merged with acute stress disorder.

closing, reopen if further action is needed

[2021-02-03 23:34] #532 closed

[2021-02-03 23:39] nicolevasilevsky commented on #542
![image](https://user-images.githubusercontent.com/6722114/106823515-f08cef00-6635-11eb-940d-17bcb9e4402e.png)

this comes from Uberon. @pnrobinson do you want to submit a ticket to Uberon?

[2021-02-03 23:40] nicolevasilevsky commented on #537
I think this has been addressed
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0100038

Please reopen if further action is needed

[2021-02-03 23:40] #537 closed

[2021-02-03 23:44] nicolevasilevsky commented on #544
@vanessaboulanger My apologies for the super long delay. I think this has been resolved, but please reopen if this is not the case.
Thanks for reporting this ticket to Mondo.

[2021-02-03 23:44] #544 closed

[2021-02-03 23:48] nicolevasilevsky commented on #557
Hi @pjbrooksphd sorry for the long delay in addressing this ticket.

I see xeroderma pigmentosum is classified as a 'hereditary photodermatosis', which is classified as an inherited disease. I think this addresses your issue.

If not, please reopen.

Thanks for reporting this to Mondo.

[2021-02-03 23:48] #557 closed

[2021-02-04 00:01] nicolevasilevsky commented on #1535
HI @maglott I hope to get to this soon, we're planning to have a call to discuss how to address susceptibility terms soon. Thanks for reporting this

[2021-02-04 00:06] pnrobinson commented on #548
In general usage, the heart muscle is not considered part of the musculoskeletal system. Most clinicians would think it a mistake if heart wasa put under musculoskeletal system.

[2021-02-04 00:10] nicolevasilevsky commented on #1566
I added cardiomyopathy as a superclass of 'fatal infantile encephalocardiomyopathy'

I don't think it makes sense for MONDO:0004994 cardiomyopathy to be a child of mitochondrial disease with hypertrophic cardiomyopathy (MONDO:0016327).

[2021-02-04 00:10] pnrobinson commented on #550
I think that for instance rheumatoid arthritis is a valid subclass of arthritis but not vice versa so I would remove the EFO superclass.

Also, I think that ``Arthritis`` is the proper label for the phenotypic feature. The label for the grouping term in MONDO should probably be ``Arthritic joint disease`` with arthritis as a synonym.

[2021-02-04 00:14] nicolevasilevsky commented on #2128
Sorry for the delay @maglott - this is on my high priority list

[2021-02-04 00:19] pnrobinson commented on #542
@nicolevasilevsky @cmungall @matentzn  Am I correct to assume that the problem in UBERON is that surface structure is a subclass of integumental system, but actually it should be the other way around?

[2021-02-04 00:20] nicolevasilevsky commented on #2596
thanks - this is on my to do list, I hope to get to it soon :)

[2021-02-04 00:23] nicolevasilevsky commented on #501
Shall we consider obsoleting this and added it to HPO instead then?

[2021-02-04 00:24] nicolevasilevsky commented on #548
I'll have to ask @cmungall for guidance what to do here. And I'll add it to our workshop board.

[2021-02-04 00:27] nicolevasilevsky commented on #542
Yes, I believe that is the case, surface structure is a subclass of integumental system in Uberon. I'm not sure what the correct classification is though.

[2021-02-04 00:56] nicolevasilevsky commented on #2558
Thanks all! Appreciate your comments

[2021-02-04 01:06] pnrobinson commented on #501
I would say that the cross product of discitis plus each of the etiologies in this https://www.ncbi.nlm.nih.gov/books/NBK541047/ are valid Mondo terms. I do think that we should all @drseb @matentzn @cmungall @mellybelly agree on what to do in cases like this since there will be many others throughout MONDO.
The solution I am proposing would work very well to integrate MONDO with HPO as we move fo

[2021-02-04 01:24] nicolevasilevsky commented on #501
these are the etiologies:
direct inoculation, hematogenous spread, or less commonly contiguous spread

?

[2021-02-04 01:26] nicolevasilevsky commented on #501
I am into the discussion board, we can discuss further here:
https://github.com/monarch-initiative/mondo/discussions/2598

[2021-02-04 01:36] #492 closed

[2021-02-04 01:39] #540 closed

[2021-02-04 01:40] #1566 closed

[2021-02-04 01:42] #556 closed

[2021-02-04 02:17] pnrobinson commented on #501
The etiology also includes the agent, e.g.  Staphylococcus aureus. We are getting into lumper/splitter alarm territory very quickly. But in any case, the agent plus to route of infection are important clinically and in a sense define different diseases -- whether we want to have all of these things and their combinations lead to MONDO terms might be another question.

[2021-02-04 02:46] #1724 closed

[2021-02-04 02:47] #2124 closed

[2021-02-04 02:47] #2558 closed

[2021-02-04 05:13] nicolevasilevsky commented on #2358
@galyea-gard any objections to following OMIM and merging these terms? It's been over 2 months and I haven't heard back from Orphanet.
thanks!

[2021-02-04 07:17] cmungall commented on #542
Oh dear this is a terrible uberon error

Let's just get rid of surface structure,  it is a silly grouping

On Wed, Feb 3, 2021, 16:28 Nicole Vasilevsky <notifications@github.com>
wrote:

[2021-02-04 07:19] cmungall commented on #494
Shouldn't be hardcoded in Ui. Shoukd be metadata others eg OLS can use

On Wed, Feb 3, 2021, 14:56 Nicole Vasilevsky <notifications@github.com>
wrote:

[2021-02-04 11:57] matentzn commented on #2595
Seems like a significant problem as I know of around 20 ontologies using the GitHub release mechanism to publish their releases.. MP, Mondo, MRO, STATO, GNO and others can only be accessed that way!

[2021-02-04 15:15] nicolevasilevsky commented on #542
Thanks @dosumis for creating the ticket in Uberon :)

[2021-02-04 15:44] #48 closed

[2021-02-04 16:05] nicolevasilevsky commented on #2595
Thanks all, thanks @micheldumontier for reporting this. I'll close this here.

[2021-02-04 16:05] #2595 closed

[2021-02-04 17:35] graybeal commented on #2595
We are going to have a look to see if the problem affects BioPortal widely. I do not believe that it does but we will confirm.

[2021-02-04 18:17] nicolevasilevsky opened #2608 "missing logical definitions from mondo.obo file"

[2021-02-04 18:30] nicolevasilevsky opened #2609 "migrate from Travis to GitHub actions"
want to migrate from Travis to GitHub actions, ie we want the Jenkins build commands to be executed by GitHub actions instead.

Action:
- transfer the logic of travis such that when a PR is created, instead of using Travis, we use GitHub actions.
- review the sleeping commands - what is this?

To do:
- [ ] @matentzn give @jiaola access to Travis account

[2021-02-04 20:27] jvendetti commented on #2595
@matentzn - the log files on our production servers show the nightly pull failures that I mentioned above for 3 ontologies:

- gno
- mro (MHCRO in our system)
- zp

With regard to the other ontologies in your list:

**mp**: currently configured to pull from http://www.informatics.jax.org/downloads/reports/MPheno_OBO.ontology. I assume this is an outdated pull URL?

**stato**: up to date in BioPort

[2021-02-04 21:49] #2521 closed

[2021-02-04 21:57] nicolevasilevsky commented on #1728
@tibingaman my apologies for the delay in getting back to this ticket.
MONDO_0017241 is renamed 'AP4-related intellectual disability and spastic paraplegia', these updates will be available in the next release at the beginning of March.

[2021-02-04 22:52] matentzn commented on #2595
@jvendetti Great you are very aware of these; You are right, its possible that many ontologies still redirect to raw.github, despite using github releases. Maybe its not such a big deal after all!

Regarding MP ->  I think you should be using the purl for this. You are using basically the MGI dump, which should be up to date, but is not really a purl - you can check in with @sbello for any prefere

[2021-02-04 23:01] matentzn commented on #2608
Maybe this is intended after all. There a a handful (1000 or so) logical definitions in mondo.obo - a quick search through the reveals to me that they are those defs that only have mondo references, such as:

[code]

@cmungall can you please review whether the following are still the intended main release rules:

[code]

[2021-02-05 00:06] nicolevasilevsky opened #2614 "split term: MONDO_0010898 'Autosomal dominant epilepsy with auditory features'"
**Term to split:**
MONDO_0010898 'Autosomal dominant epilepsy with auditory features'

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
'Autosomal dominant epilepsy with auditory features'
Epilepsy, familial temporal lobe, 1 https://omim.org/entry/600512

related to:
https://github.com/monarch-initiative/mondo/issues/1134

[2021-02-05 00:51] cmungall commented on #2608
we dumbed down mondo.obo for OLS, e.g. no ECs between NCs

we do need to better document the different products. but it is common for the obo to be only the IDs in the main ontology

[2021-02-05 01:00] matentzn commented on #2608
But shouldn't we at least drop all ECs instead of keeping a random few that happen to contain only MONDO IDs?

[2021-02-05 01:06] #1728 closed

[2021-02-05 10:20] matentzn commented on #2609
This will involve, in particular, to figuring out how to replace the TRAVIS_*** environment variables. Maybe the best strategy is to set up a github actions workflow on a branch, and then just work with echo's to figure out which GH environment variables we need.

[2021-02-05 10:40] matentzn commented on #732
@nicolevasilevsky
Here is an up-to-date list:
https://docs.google.com/spreadsheets/d/1CJPJ8VasB-kGaUqY0jBBvFf2IwW5xbd3ZiZazx67eHo/edit?usp=sharing

Let me know how you want to go about this.

[2021-02-05 10:41] matentzn commented on #732
FYI, This is the check:

[code]

I eyeballed some and some of these equivalencies come from Orphanet.

[2021-02-05 10:42] matentzn commented on #732
(The important thing here is to identify a systematic mistake we can just break in one go, or just keep going through the table until its done)

[2021-02-05 11:02] matentzn opened #2618 "Predisposes to X should never be subclass to X"
We have around 170 cases where a disease X could predispose_towards another disease Y, for example:

[code]

We want to make sure that if that is the case, X should never be a subclass of Y. So given the example above, MONDO:0000065 should not be a subclass of MONDO:0005266.

Steps:
1. Create a new sparql check. To do that copy and existing one (that ends in `-violation.sparql`).
2. Implement the

[2021-02-05 11:15] lcdaugherty commented on #2210
@nicolevasilevsky I think some of these have been resolved in time, but not all of them. Let me know if you need this in a different format? thanks

[2021-02-05 11:22] matentzn opened #2619 "Mondo Pattern Library 2.0"
All our logical patterns can be found [here](https://github.com/monarch-initiative/mondo/tree/master/src/patterns/dosdp-patterns). We want to achieve two things:

1. Standardise the patterns a bit better
2. Create beautiful, user friendly documentation for each of them

## Standardisation

Standardisation can be a bit tedious, and once we have a schema, @nicolevasilevsky and I can help with this.

[2021-02-05 12:03] matentzn commented on #1794
There are now only 39 cases left @nicolevasilevsky: I would suggest you do them manually
I am saying that, because I can see that some of them (see the first) are better classified as related, and not as exact. Hope you agree :)

- [ ] MONDO:0002967	"dermatophytosis of scalp or beard"	"dermatophytosis of scalp"
- [ ] MONDO:0003816	"articular cartilage disease"	"articular cartilage of joint disease

[2021-02-05 12:14] matentzn commented on #1794
I started here:
https://github.com/monarch-initiative/mondo/pull/2620

If you find the time, you can just finish the rest. I have also added the hard test, so when its done, the issue should be solved for good.

[2021-02-05 15:53] nicolevasilevsky commented on #732
I'll take a look at this and think about it.

Some of these are being addressed in this ticket:
https://github.com/monarch-initiative/mondo/issues/962

[2021-02-05 15:55] nicolevasilevsky commented on #732
There are some cases where terms like this (https://omim.org/entry/109100) are used as grouping classes, which I don't necessarily think is wrong, but it is going to flag errors for this check.

[2021-02-05 16:52] ana-rath-orphanet commented on #2438
Hello, I disagree with the obsoletion if this entry: two different entities are represented in OMIM  606346 (clearly stated in the page as an 'inclusion' term). This entity is a syndromic one, even though there are very few cases.

[2021-02-05 16:56] #2590 closed

[2021-02-05 16:59] lcdaugherty opened #2621 "MeSH query when ExactMatch same for two MONDO IDs amyopathic dermatomyositis MONDO:0043317 and juvenile dermatomyositis MONDO:0008054"
Can there be two instances of ExactMatch for MeSH xref for two different MONDO ids?
amyopathic dermatomyositis MONDO:0043317
ExactMatch
**http://identifiers.org/mesh/C538250**

juvenile dermatomyositis MONDO:0008054
ExactMatch
**http://identifiers.org/mesh/C538250**
http://identifiers.org/mesh/C000598745 (> obsolete)

[2021-02-05 17:00] nicolevasilevsky commented on #732
- [ ] This needs to be fixed. I'll fix this.

The other example above from @maglott has been resolved. (Thanks for your comments @maglott!)

[2021-02-05 17:02] ana-rath-orphanet commented on #2461
Comment from the obsoletions table received: Keep Myopathic Ehlers-Daanlos syndrome as the preferred term, as per the official classification? Bethlem myopathy type 2 is not an agreed term, and it leads to confusion. Thank you

[2021-02-05 17:06] galyea-gard commented on #2358
As per my review, and agreeing with Orphanet,  hemifacial microsomia and Goldenhar syndrome are considered variants under  "oculoauriculovertebral spectrum (OAVS)" . I think the confusion is with OMIM.  Classically, the term "Craniofacial microsomia" is the parent term that include HM, GS and other diseases embryologically similar.  It makes the more sense to actually merge GS with OAVS. Thanks!

[2021-02-05 18:13] nicolevasilevsky commented on #2621
@lcdaugherty we should only have one exact match to an external source (with some rare exceptions that we call a 'proxy merge'). It looks like in the case you reported, one fo the MESH term is obsoleted, so I need to mark it as such in Mondo.

Thanks for reporting this - I'll fix it asap.

[2021-02-05 20:08] cmungall commented on #1455
remember try and encode as formally as possible in the DP

[2021-02-05 21:35] #1794 closed

[2021-02-05 21:43] nicolevasilevsky commented on #1794
This ticket has two issues on it- the issue in the title is fixed. I'm moving the other issue to a new ticket

[2021-02-05 21:44] nicolevasilevsky opened #2629 "OMIM synonym scope needs review"
Action items:
- [ ] most OMIM synonyms should be exact (not related) _- see comment below_
- [ ] OMIM synonyms should be broken into synonyms - main term and abbreviation
- [x] Any synonym that is exact and related, make it exact (need to move the source annotations to the exact synonym) - _this should be done per https://github.com/monarch-initiative/mondo/issues/1794

Related to https://github.c

[2021-02-05 21:45] nicolevasilevsky commented on #2629
From @maglott  on #1794
(Just copying over the comments)

I am a bit skeptical about 'All OMIM synonyms should be exact (not related)'
* there are cases like https://www.omim.org/entry/602429 and https://www.omim.org/entry/603383 where the same alternate name is used on multiple records.
* there are cases like the records for gene-specific name 1 where one of the alternate name is likely synonymou

[2021-02-05 21:47] nicolevasilevsky commented on #2255
I just created a duplicate ticket, I am going to close this one and consolidate.

[2021-02-05 21:47] #2255 closed

[2021-02-05 22:15] nicolevasilevsky commented on #1145
@cbizon
In the example above, ' Brown-Vialetto-van Laere syndrome' has now been obsoleted.

I looked through 6 examples in the [spreadsheet](https://docs.google.com/spreadsheets/d/10vJr5zLouJr6VRG9VQMh46yWAotRHZZcUtVCprPMOKM/edit#gid=0) and noted that in all of the cases, the two Mondo terms do have xrefs to the same source ID, but the xrefs are not equivalentTo, so that does not mean that the two

[2021-02-05 22:19] nicolevasilevsky opened #2630 "need a check for cases of duplicate xrefs on Mondo terms"
Need a check for duplicate xrefs on Mondo terms. For example, an xref to an OMIM, Orphanet, etc class with an MONDO:equivalentTo annotation on more than one Mondo class.

Related to:
https://github.com/monarch-initiative/mondo/issues/1145

Not sure if this already exists? If yes, please close this.
(I feel like this does exist)

[2021-02-05 22:21] nicolevasilevsky opened #2631 "OMIM synonyms should be broken into synonyms - main term and abbreviation"
related to https://github.com/monarch-initiative/mondo/pull/2548)

[2021-02-06 01:28] nicolevasilevsky opened #2632 "[Revise subclass] Revise subclasses of peroxisomal disease (MONDO:0019053) (ClinGen request)"
The ClinGen Peroxisomal disorders expert recommends renaming and reclassification of many Mondo terms in the peroxisomal disease (MONDO:0019053) hierarchy.

This will affect naming of some OMIM terms (cc @ahamosh).

We welcome community feedback on these proposed changes. Please feel free to comment here or on the google doc.

See proposed changes [here (clean version)](https://docs.google.com/doc

[2021-02-06 02:57] cmungall commented on #1145
Good summary but I'll explain in more detail later. We want to avoid proxy
internal mergers even with weaker skos

On Fri, Feb 5, 2021, 14:15 Nicole Vasilevsky <notifications@github.com>
wrote:

[2021-02-06 16:45] nicolevasilevsky opened #2634 "split term: insomnia (disease) MONDO_0013600"
**Term to split:**
insomnia (disease) MONDO_0013600

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
- insomnia (disease) - should keep current xrefs except OMIM
- delayed sleep phase syndrome, susceptibility to - xref OMIM:614163 (https://omim.org/entry/614163)

related to https://github.com/monarch-initiative/mondo/issue

[2021-02-07 14:30] #2504 closed

[2021-02-07 21:25] TomConlin opened #2636 "Replaced curies should not be literals"
**Mondo term (ID Label)**

MONDO:0004589
N.A.  replaced  terms do not keep labels

**Bug/Typo/Error description**

replaced term is expressed as as string in the form of a curie instead of a curie
[code]
**Your nano-attribution (ORCID)**

orcid.org/0000-0003-0355-5581

[2021-02-07 23:36] TomConlin commented on #2636
Noting I suspect there may be 1,614 occurrences of

    <URI>  <term replaced by> "literal"^^<http://www.w3.org/2001/XMLSchema#string> .

in the current release.

[2021-02-08 11:14] lcdaugherty opened #2637 "Lennox-Gastaut syndrome MONDO:0016532 incorrect exactmatch MeSH C535500"
Currently  Lennox-Gastaut syndrome MONDO:0016532 has two exactmatch xrefs for MeSH
MeSH C535500 Lennox-Gastaut syndrome
MeSH D065768 Epileptic encephalopathy, Lennox-Gastaut type
I think MeSH D065768 should be removed as an exact match from this MONDO entry

I would also query the exact match to http://identifiers.org/omim/606369 (MACROCEPHALY AND EPILEPTIC ENCEPHALOPATHY), given the subclasses fo

[2021-02-08 12:20] maglott commented on #2632
For my own reference: https://github.com/monarch-initiative/mondo/issues/1490

[2021-02-08 17:55] nicolevasilevsky commented on #2637
thanks @lcdaugherty, I'll work on this asap

[2021-02-08 19:05] lcdaugherty commented on #1787
Sorry @nicolevasilevsky  I am still have problems resolving this entry.
The orphanet terms have a child/parent relationship, but are both exactmatch in
mucolipidosis type III MONDO:0018931 :
exactMatch Orphanet_577 Mucolipidosis type III
exactMatch Orphanet_423461 Mucolipidosis type III alpha/beta

[2021-02-09 12:03] lcdaugherty opened #2638 "mucopolysaccharidosis type 4 MONDO:0018938 incorrect exactmatch UMLS C0086651"
Currently mucopolysaccharidosis type 4 MONDO:0018938 has two exactmatch xrefs for UMLS
http://linkedlifedata.com/resource/umls/id/C0086651 Mucopolysaccharidosis, MPS-IV-A
http://linkedlifedata.com/resource/umls/id/C0026707 Mucopolysaccharidosis IV

I think UMLS C0086651  Mucopolysaccharidosis, MPS-IV-A should be removed as an exact match from this MONDO entry, UMLS C0086651 it is better placed as

[2021-02-09 12:51] maglott opened #2639 "MONDO:0012292 /susceptibility to hepatitis C"
**Mondo term (ID Label)**

MONDO:0012292/hepatitis c virus, susceptibility to
**Bug/Typo/Error description**

Please capitalize the 'C'.  I did not check any other entries
**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-02-09 14:34] balhoff commented on #3
I'm not sure.

[2021-02-09 16:22] nicolevasilevsky commented on #3
This is a super old ticket, I will close. @cmungall please reopen if this is still needed.

[2021-02-09 16:22] #3 closed

[2021-02-09 20:44] cmungall commented on #2636
I'm reassigning to @matentzn as this is a technical issue not a biological one

Let me try and restate to see if I understand:

Currently Mondo is consistent in how it uses IAO_0100001, with values being:

 1. A string literal containing a CURIE
 2. An untyped literal containing a CURIE
 3. A URI/rdf resource

If we look at other ontologies we see another options - eg FOODON uses URIs with anyURI

[2021-02-09 21:52] nicolevasilevsky commented on #2358
Thanks @galyea-gard. I will do that (I see that is what Orphanet did too).

[2021-02-09 21:55] nicolevasilevsky commented on #2358
Note to self- To do:
merge:
MONDO:0008112 'Goldenhar syndrome'

with
MONDO:0015397 'oculo-auriculo-vertebral spectrum'

owltools --use-catalog mondo-edit.obo  --obsolete-replace MONDO:0008112 MONDO:0015397 -o -f obo mondo-edit.obo

[2021-02-09 22:23] TomConlin commented on #2636
Noting that  Github (actions?) made the original issue assignment and attributed it to the issue author.

Mondo is indeed consistent and has no instances where the new/replacing term is anything but a literal, I should have added that I checked for this.

Indeed adjusting  `IAO:0100001` to suggest or recommend  that
[code]
implies the two representations of "term" ought to be compatible in a machi

[2021-02-09 23:43] nicolevasilevsky commented on #2621
@lcdaugherty I don't see that http://identifiers.org/mesh/C538250 is an ExactMatch to juvenile dermatomyositis MONDO:0008054, where do you see that?
![image](https://user-images.githubusercontent.com/6722114/107443204-3e4d9f80-6aed-11eb-80e5-7d1f3c6c4583.png)

I annotated http://identifiers.org/mesh/C000598745 as equivalentObsolete.

[2021-02-10 00:30] #2638 closed

[2021-02-10 00:48] nicolevasilevsky commented on #1787
@lcdaugherty no need to apologize!

Looks like we obsoleted 'pseudo-Hurler polydystrophy', which was equivalent to Orphanet_423461 Mucolipidosis type III alpha/beta, and merged it with mucolipidosis type III MONDO:0018931.

I revised the xref to Orphanet_423461 on mucolipidosis type III to be MONDO:obsoleteEquivalent, which is used for cases where we have exact 1:1 matches between an obsolete in M

[2021-02-10 00:50] nicolevasilevsky commented on #2438
Thanks @ana-rath-orphanet!

@kanems I will close this, since we'll follow Orphanet's advise and not merge, but please reopen if further action is needed.

[2021-02-10 00:50] #2438 closed

[2021-02-10 01:05] nicolevasilevsky commented on #2545
Thanks for this ticket @kanems.
I'd like to ask for expert feedback before I proceed - @ahamosh @ana-rath-orphanet, would you mind reviewing these suggested changes and letting us know if you have any feedback?
Thank you!

[2021-02-10 01:07] nicolevasilevsky commented on #2545
I annotated this as MONDO:equivalentObsolete:
Used for cases where we have exact 1:1 matches between a live class in Mondo and an obsolete class in the source ontology.We want to avoid making an equivalence axiom (MONDO:equivalentTo) here. (I wanted to preserve the provenance though, hence I did not delete it).

[2021-02-10 01:27] nicolevasilevsky commented on #2210
related https://github.com/monarch-initiative/mondo/issues/2212

[2021-02-10 01:59] nicolevasilevsky commented on #2210
this MESH ID seems invalid:
C537045
https://meshb.nlm.nih.gov/search?searchInField=ui&sort=&size=20&searchType=exactMatch&searchMethod=FullWord&q=C537045

[2021-02-10 02:05] nicolevasilevsky commented on #2210
No, all good. I just did this and created a pull request - this will be available in the next release around March 01

[2021-02-10 14:30] lcdaugherty commented on #2210
re: C537045 seems valid?
https://meshb-prev.nlm.nih.gov/record/ui?ui=C537045

[2021-02-10 15:52] nicolevasilevsky commented on #2210
Oh, thanks @lcdaugherty - I'll add that to Mondo.

[2021-02-10 17:45] #1787 closed

[2021-02-10 20:16] nicolevasilevsky commented on #2505
@pnrobinson could I ask you for feedback on this?

[2021-02-10 20:22] nicolevasilevsky commented on #2505
Looks like the synonym 'pervasive developmental disorders' comes from NCIt. @kanems I can ask them about it too, if it's helpful. Let me know.

[2021-02-10 20:29] nicolevasilevsky commented on #2553
@mbalzotti I am unsure of the best approach here for Mondo, I need to ask @cmungall for advise.

Note:
Mondo currently has two separate classes. But both of these classes have an exact synonym of Roberts-SC phocomelia syndrome.
It's problematic that there are duplicate exact synonyms on both terms.

[2021-02-10 20:38] nicolevasilevsky commented on #2128
I think the OLS display is resolved
![image](https://user-images.githubusercontent.com/6722114/107569207-e5d5db00-6b9c-11eb-9687-118013d94f0b.png)

[2021-02-10 20:42] nicolevasilevsky commented on #2128
It still exists in DO, MeSH and GARD, but I can add it as a candidate for obsoletion and send it to the list. I'll create a separate ticket.

https://www.ebi.ac.uk/ols/ontologies/doid/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDOID_2751
https://rarediseases.info.nih.gov/diseases/6538/glycogen-storage-disease-8
https://meshb.nlm.nih.gov/record/ui?ui=D006015

[2021-02-10 20:45] nicolevasilevsky opened #2648 "[Merge] MONDO:0006772 'glycogen storage disease VIII'"
**Mondo term (ID and Label)**
MONDO:0006772 'glycogen storage disease VIII'

**Reason for deprecation**
Obsoleted in OMIM

**Suggested term to be merged with**
MONDO:0010598 'glycogen storage disease IXa'
https://www.omim.org/entry/306000

This term still exists in DO, MeSH and GARD:

https://www.ebi.ac.uk/ols/ontologies/doid/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDOID_2751
https://rar

[2021-02-10 21:55] pnrobinson commented on #2505
The classification of this has changed, see the first paragraph here
https://www.autismspeaks.org/pervasive-developmental-disorder-pdd-nos
I would suggest reviewing the entire hierarchy here and making sure it corresponds to DSM5 -- we can do this on a future call.

[2021-02-10 22:06] nicolevasilevsky commented on #2128
we have MONDO_0010598 'glycogen storage disease IXa'

I'm not sure if we want to split out the terms from the OMIM record, I need to ask @cmungall how to handle that.

[2021-02-10 22:41] nicolevasilevsky commented on #2544
Yes, it should be a subclass because it is part of the phenotypic series. I'll make this change.

[2021-02-10 22:41] nicolevasilevsky commented on #2544
@ana-rath-orphanet @ahamosh
Please see the questions above - thank you!

[2021-02-10 22:55] nicolevasilevsky commented on #2554
Good question. This term was requested by the ClinGen RASopathy Expert Panel (https://www.clinicalgenome.org/affiliation/40021/), maybe we should ask them? I'll email them and cc you.

[2021-02-10 23:05] nicolevasilevsky commented on #2554
Looks like UMLS:C1834120 was equiv to MONDO_0023873 Noonan-like/multiple giant cell lesion syndrome, which has been obsoleted, and it recommends considering:
MONDO:0008104 Noonan Syndrome 1
or
MONDO:0012547 Noonan Syndrome 4

It looks like this was obsoleted in OMIM and OMIM moved that term to the terms above (see https://omim.org/entry/163955).

@kanems should C1834120 be an equiv xref for one of

[2021-02-10 23:07] #2358 closed

[2021-02-10 23:12] nicolevasilevsky commented on #2596
![Uploading image.png…]()

[2021-02-10 23:15] #2210 closed

[2021-02-10 23:31] nicolevasilevsky commented on #1405
Google spreadsheet [here](https://docs.google.com/spreadsheets/d/1pASj2MnBI285ogOeKVqEVe2TsKCvOWDFFNq_ekN2juw/edit#gid=0)

[2021-02-10 23:34] nicolevasilevsky commented on #2587
Looking at this - I agree with @maglott, we should obsolete this term and create a new term called 'adenosine kinase deficiency'.

I'll email the Mondo users list to make sure there are no objections.

cc @ana-rath-orphanet

[2021-02-10 23:35] nicolevasilevsky commented on #2587
@RedRiver1816 for now, I can create a new class called adenosine kinase deficiency

[2021-02-10 23:42] nicolevasilevsky commented on #2587
@RedRiver1816
**is this text def okay:**

A rare inborn error of metabolism characterized by persistent hypermethioninemia with increased levels of S-adenosylmethionine and S-adenosylhomocysteine which manifests with encephalopathy, severe global developmental delay, mild to severe liver dysfunction, hypotonia and facial dysmorphism (most significant is frontal bossing, macrocephaly, hypertelorism

[2021-02-11 00:01] nicolevasilevsky commented on #2547
Hi @abbe-Lai - of course, take all the time you need. Please let me know when you are ready to proceed.

[2021-02-11 00:14] cmungall commented on #2128
I have no objection to making subtypes of an instance of an OMIM, if this is clinically justified.

I would recommend making a DP (e.g. "clinical subtype") and tagging the term with this, and having a rule that flags any subclass of an OMIM not in this category

[2021-02-11 00:16] nicolevasilevsky commented on #2575
I'm not sure about this. My inclination is OMIM:255300 should be an equivalent xref on MONDO:0019952 'congenital myopathy'.

cc @ahamosh

[2021-02-11 00:31] nicolevasilevsky commented on #2128
Thanks @cmungall! So does that mean I could have two (or more) terms in Mondo that have a MONDO:equivalentTo xref on the term?

[2021-02-11 02:29] nicolevasilevsky commented on #2545
From OMIM:
 The only entry that is solely Rolandic
epilepsy is 117100.  It is a clinical finding in the other entries
mentioned in the ticket and a finding in many more entries than the
ones mentioned.

Some patients with Rolandic epilepsy have been reported with GRIN2A
mutations, but it is often called atypical or is associated with other
clinical features.

[2021-02-11 13:26] maglott opened #2656 "MELANOMA, UVEAL"
**Mondo term (ID and Label):**
MONDO:0007966 / susceptibility to uveal melanoma

**Xref that should be fixed (ID and label):**
https://omim.org/entry/155720

This may be another example of making a distinction between a disorder and the susceptibility to it. OMIM does not label this record as susceptibility, and UMLS has mapped the MIM number to uveal melanoma based on the term OMIM uses, rather t

[2021-02-11 14:46] mayherpatel opened #2657 "[NTR/TCF12]"
**Preferred gene-related syndrome label**
TCF12-related craniosynostosis

**Synonyms**
MONDO:0014128

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
MONDO:0015469

**Definition**
Any craniosynostosis in which the cause of the disease is a mutation in the TCF12 gene.

**Definition source (Please give PubMed ID, if applicable, in format PMI

[2021-02-11 15:47] #550 closed

[2021-02-11 15:56] kanems commented on #2554
If MONDO no longer has a concept for Noonan-like/multiple giant cell lesion syndrome, then there may not be a good map for the UMLS C1834120 term... UMLS's cross-references on this CUI are the MSH term- C537846 (which MONDO maps to MONDO:0020297).
From MedGen's perspective, we need to have this CUI/term to support submissions from our users, but it can exist without a MONDO ID if MONDO does not su

[2021-02-11 18:38] nicolevasilevsky commented on #2128
per discussion on the Mondo call - cannot have two OMIM equiv xrefs on two terms

[2021-02-11 18:51] #2608 closed

[2021-02-11 18:59] nicolevasilevsky commented on #2334
- [x] check for 'predisposes towards'
- [ ] check for lexical pattern (susceptibility), such as MONDO_0012682 'susceptibility to infection due to TYK2 deficiency' and is a child of any disease that is not 'inherited disease susceptibility' (ie the parent of this class is: 'autosomal recessive mendelian susceptibility to mycobacterial diseases due to a partial deficiency') (or the superclass does n

[2021-02-11 20:29] nicolevasilevsky commented on #2373
I believe all of this is done.

[2021-02-11 20:29] #2373 closed

[2021-02-11 20:45] nicolevasilevsky commented on #2554
Emma from ClinGen will get back to us

[2021-02-11 20:46] mhughes5 opened #2659 "[NTR/TWIST1]"
**Preferred gene-related syndrome label**
TWIST1-related craniosynostosis

**Synonyms**
MONDO:0007399

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
MONDO:0015469

**Definition**
Any craniosynostosis in which the cause of the disease is a mutation in the TWIST1 gene.

**Definition source (Please give PubMed ID, if applicable, in format P

[2021-02-11 20:52] RedRiver1816 commented on #2587
@nicolevasilevsky That all looks great! Let me know if you need any more info to finalize things.

[2021-02-11 21:49] nicolevasilevsky opened #2660 "OMIM terms should use primary OMIM label"
Need to normalize the names that come from OMIM.

Currently, the labels in Mondo do not necessarily match the names OMIM. We should use the primary label from OMIM, existing Mondo labels need to be updated.

Related
https://github.com/monarch-initiative/mondo/issues/1526

There is improper capitalization of Mondo labels in terms that come from OMIM (and Orphanet).

[2021-02-11 21:54] nicolevasilevsky commented on #2659
@mhughes5 if this is synonyms with an existing Mondo term, why not use the existing Mondo term?

I can add TWIST1-related craniosynostosis as a synonym.

I do appreciate that the name 'craniosynostosis 1' is not very intuitive for users, but we do try to keep the naming consistent for terms that are part of an OMIM phenotypic series. You can see how the hierarchy looks below.

Thank being said tho

[2021-02-11 22:35] ahwagner opened #2661 "Broken link at https://mondo.monarchinitiative.org/"
The [MONDO homepage](https://mondo.monarchinitiative.org/) link to the [JSON Edition](http://purl.obolibrary.org/obo/mondo/mondo-with-equivalents.json) is broken.

[2021-02-11 22:38] nicolevasilevsky commented on #2661
mondo-with-equivalent is also broken

[2021-02-11 22:47] nicolevasilevsky commented on #2661
@matentzn these links are broken and they are broken on the OBO Foundry page too:
http://obofoundry.org/ontology/mondo.html

Do you know what the correct links are?

[2021-02-11 23:13] matentzn commented on #2661
The website does not use the PURLs which it really should. I don't know how to change the mondo website, but no ontology should ever be linked through its GitHub url; always purls! Our purl config changed recently; https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/mondo.yml

But that does not matter; how can I edit this website?

[2021-02-11 23:42] nicolevasilevsky commented on #2661
https://mondo.readthedocs.io/en/latest/editors-guide/mondo-website-editing/

[2021-02-11 23:54] nicolevasilevsky commented on #2575
from OMIM:
Carol has changed this to BATTEN-TURNER CONGENITAL MYOPATHY.  The
general "MYOPATHY, CONGENITAL" has been removed from the entry.

[2021-02-12 01:04] ahamosh commented on #2656
This is OMIM's response (from Joanna):

There are 3 entries for Uveal melanoma.

%606660 MELANOMA, UVEAL, SUSCEPTIBILITY TO, 1 mapping to 3q24-q26

%606661 MELANOMA, UVEAL, SUSCEPTIBILITY TO, 2  mapping to 3p25.2-p25.1

And a more generic entry #155720 MELANOMA, UVEAL.

155720 is a generic entry or description of the disease, uveal
melanoma.  It is not bound to any particular gene per se.
Fundamen

[2021-02-12 03:08] nicolevasilevsky opened #2662 "review classes in subset ordo_group_of_disorders"
and potentially obsolete these. High priority pre-workshop.

@jiaola or @matentzn can you do a sparql query for all classes that are:
- in the subset 'ordo_group_of_disorders'
- don't have xrefs from any other source
- can you include the subclasses of the ordo terms
- if possible, can you note if the subclasses don't have any other parents (ie the parent is only the ordo term)?

Can you also note

[2021-02-12 03:13] nicolevasilevsky commented on #2618
this is done, right?

[2021-02-12 03:15] nicolevasilevsky commented on #2436
I think this is done?
cc @matentzn

[2021-02-12 10:15] matentzn commented on #2436
Not sure. Need to check in next meeting!

[2021-02-12 11:12] matentzn commented on #2661
Fixed here: https://github.com/OBOFoundry/purl.obolibrary.org/pull/729

Double check it works and can be closed then!

[2021-02-12 11:39] lcdaugherty commented on #2621
@nicolevasilevsky I use OLS to view and get info info- it shows exactmatch C538250
[OLS_MONDO0008054.pdf](https://github.com/monarch-initiative/mondo/files/5971457/OLS_MONDO0008054.pdf).
Is this a version issue? Should I be looking elsewhere for this sort info?

[2021-02-12 11:59] maglott commented on #2656
Thanks, Joanna/Ada
Nicole, does this mean that OMIM:155720 should be an XRef to Uveal melanoma and NOT susceptibility to uveal melanoma?

[2021-02-12 14:31] mhughes5 commented on #2659
Hi @nicolevasilevsky,
The Craniofacial malformations GCEP prefers to use gene-based naming because that is how their community is shifting. Changing this from craniosynostosis 1 is consistent with other recent requests (TCF12-related craniosynostosis, synonym craniosynostosis 3) and we expect to request more gene-centered terms in the near future.
Thanks,
Madeline

[2021-02-12 18:56] nicolevasilevsky commented on #2621
@lcdaugherty you are right, I see that too! OLS is a good place to look, I am not sure why that shows up that way.

@cmungall @matentzn can you offer any insight?

In the mondo-edit file, I see this is marked as a directSiblingOf, not equivalentTo. Does OLS treat these as exact matches?

[2021-02-12 19:12] matentzn commented on #2621
Could it be an older version of Mondo in OLS?

[2021-02-12 19:14] nicolevasilevsky commented on #2621
Could be, but it is my understanding that OLS picks up the latest Mondo release each month

[2021-02-12 19:16] matentzn commented on #2621
You could open mondo.owl from the latest release in protege to confirm. If its correct there, I am confident that OLS did not pick up the latest release..

[2021-02-12 19:19] nicolevasilevsky commented on #2621
Ooooh the mondo.obo has this as an exact match:
![image](https://user-images.githubusercontent.com/6722114/107812168-24e26880-6d24-11eb-8694-fe6beee9bf2b.png)

[2021-02-12 19:20] nicolevasilevsky commented on #2621
so directSiblingOf is treated like an exact match?
that doesn't seem right to me...

[2021-02-12 19:20] matentzn commented on #2621
Definietly not! Prioritise for QC board!

[2021-02-12 19:21] nicolevasilevsky commented on #2621
Thanks @lcdaugherty for bringing this to our attention! :)

[2021-02-12 20:31] nicolevasilevsky commented on #2661
fixed, thanks @matentzn!

[2021-02-12 20:31] #2661 closed

[2021-02-12 20:56] kanems opened #2663 "Extrahepatic biliary atresia (OMIM 210500)[NTR]"
**Preferred term label:**
Extrahepatic biliary atresia

**Synonyms**
BILIARY ATRESIA, EXTRAHEPATIC
 EHBA

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
See OMIM 210500.

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**
MONDO:0008867 "biliary atresia"

**Children terms (if applicable)** Should any e

[2021-02-12 21:05] kanems opened #2664 "split term: hyperphosphatemic familial tumoral calcinosis"
**Term to split:**

hyperphosphatemic familial tumoral calcinosis MONDO:0008897

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
hyperphosphatemic familial tumoral calcinosis  (MONDO:0008897)
hyperphosphatemic familial tumoral calcinosis, 1 (MONDO TBD, should be a child of the term above, sib to HFTC 2 and 3, which are alr

[2021-02-12 21:39] kanems opened #2665 "congenital neuronal ceroid lipofuscinosis"
I am looking for clarification on congenital neuronal ceroid lipofuscinosis, MONDO:0008956 Some of the X-refs are getting me a bit confused.

-OMIM 214200 is a clinical description named "CEROID STORAGE DISEASE" alt name "LIPOFUSCIN STORAGE DISEASE" which doesn't seem to be equivalent to congenital NCL (an "included in" term from OMIM 610127)

-SNOMED 720830009 does say the preferred term is conge

[2021-02-16 02:40] galyea-gard commented on #2587
Hi!  We don't have this condition in GARD.  As we do not name diseases I would probably use as main term the name "Adenosine kinase deficiency" as per my review in Pubmed and include as synonyms the names that Orphanet (note that this was recently updated) and OMIM use which reflect the biochemical defect affecting methionine metabolism,

[2021-02-16 14:32] maglott opened #2667 "[Revise text def]MONDO:0019903"
**Mondo term (ID and Label)**

MONDO:0019903/Ring chromosome 2
**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
Something is very wrong with this record.  The definition seems to be for Gene expression cluster 2 as determined by Recognition of Outliers by Sampling Ends (ROSE), rather than something like this (From orphanet)
Ring c

[2021-02-16 16:56] ahamosh commented on #2632
Hi All,  We (OMIM) went to the google doc and we are confused because almost everything has a strike through it.  Also, we are concerned about eliminating the distinction between Zellweger (lethal) and less severe.  OMIM tends to divide by severity.  Peter Robinson suggested that that be done for everything.  Finally, I am not sure that clinicians will be able to follow this.  Also what is CADDS?

[2021-02-16 18:06] nicolevasilevsky commented on #2632
CADDS is:
- contiguous ABCD1 DXS1357E deletion syndrome
- Zellweger-like contiguous gene deletion syndrome

(see [Orphanet:369942](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_369942) and GARD:[12472](https://rarediseases.info.nih.gov/diseases/12472/deafness-dystonia-and-cerebral-hypomyelination))

[2021-02-16 18:21] nicolevasilevsky commented on #2632
@ahamosh I'm not sure I understand the concern about eliminating the distinction between Zellweger (lethal) and less severe - is that what is happening with these proposed changes?

@Mohan-Shruthi can you help address these concerns?

Would it make sense to have a call @ahamosh and @mohan-shruthi?

[2021-02-16 20:00] ahamosh commented on #2632
Hi Nicole,
Yes, if PBD #A and PBD#B are consolidated, it eliminates the A group which is lethal Zellweger vs. the B which already aggregates others, but leaves alone the infantile lethal form.  Just making sure that everyone is on board with that.
Thanks,
Ada

Ada Hamosh, MD, MPH
Dr. Frank V. Sutland Professor
McKusick-Nathans
Department of Genetic Medicine (DGM)
Clinical Director, DGM
Scientific

[2021-02-16 22:58] nicolevasilevsky commented on #89
this is not longer a syn for Marfan.

[2021-02-16 23:00] monicacecilia commented on #89
Bigger picture: we need to look into ingest for GARD, would need to review >4K synonyms - manually.

[2021-02-16 23:05] nicolevasilevsky commented on #89
I think this should be closed, as this is likely a one-off event. Closing for now.

[2021-02-16 23:05] #89 closed

[2021-02-16 23:11] nicolevasilevsky commented on #79
What is needed:
1. do SPARQL query for missing defs for GARD terms
2. write definitions

[2021-02-16 23:16] nicolevasilevsky commented on #77
🎂 happy 3rd birthday, ticket!
h/t @monicacecilia

we will continue to follow ORDO as mentioned above. We can consider re-reviewing at a later time. Closing for now.

[2021-02-16 23:16] #77 closed

[2021-02-16 23:20] nicolevasilevsky commented on #76
An explanation was given above, I think this satisfies this question. closing.

[2021-02-16 23:20] #76 closed

[2021-02-16 23:22] nicolevasilevsky commented on #70
Orphanet:90022 Cardiomyopathy-renal anomalies
Orphanet:93567 Pediatric systemic sclerosis

these have been obsoleted in Orphanet.

We're doing regular Orphanet slurps now

[2021-02-16 23:22] #70 closed

[2021-02-16 23:24] nicolevasilevsky commented on #60
estimated time of completion: 10 min

[2021-02-16 23:27] nicolevasilevsky commented on #58
We think has been addressed, closing.

[2021-02-16 23:27] #58 closed

[2021-02-16 23:28] nicolevasilevsky commented on #57
This request is now obsolete.

[2021-02-16 23:28] #57 closed

[2021-02-17 00:46] nicolevasilevsky commented on #55
Consider obsoleting MONDO_0021570 'Hauptmann-Thannhauser muscular dystrophy'
merge with
MONDO_0021569 'Emery-Dreifuss muscular dystrophy 2, autosomal dominant'

[2021-02-17 00:49] nicolevasilevsky commented on #47
@jmcmurry @monicacecilia @kshefchek is this still needed? If yes, the QC team should be able to do this. If not, please close.

[2021-02-17 00:50] nicolevasilevsky commented on #45
duplicate of https://github.com/monarch-initiative/mondo/issues/2629

[2021-02-17 00:50] #45 closed

[2021-02-17 00:53] nicolevasilevsky commented on #20
This would involve querying for all the subclassOf relations that don't have a source annotation.

If the provenance is not there though, I am not sure where to find it?

[2021-02-17 00:54] nicolevasilevsky commented on #6
🎂

[2021-02-17 00:57] nicolevasilevsky commented on #100
I'm not sure what the action is here. Closing.

[2021-02-17 00:57] #100 closed

[2021-02-17 01:06] nicolevasilevsky commented on #150
to do:
- [ ] check if the terms [here](https://github.com/monarch-initiative/mondo/issues/150#issuecomment-384799993) are in Mondo
- [ ] if they are not in Mondo, check OLS to see if they have been obsoleted from Orphanet
- [ ] if they are in Orphanet and not in Mondo, make a new ticket and mention the term(s) needs to be added in next Orphanet slurp and mention this ticket

[2021-02-17 01:06] nicolevasilevsky commented on #152
old ticket, closing

[2021-02-17 01:06] #152 closed

[2021-02-17 01:08] nicolevasilevsky commented on #154
this has been resolved

[2021-02-17 01:08] #154 closed

[2021-02-17 01:10] nicolevasilevsky commented on #159
I am not sure what this means.

@galyea-gard, do you know if this is still needed? If not, I'll close, thanks!

[2021-02-17 01:10] nicolevasilevsky commented on #161
I don't think this will be addressed.

[2021-02-17 01:10] #161 closed

[2021-02-17 01:12] nicolevasilevsky commented on #165
This issue is 2.5 years old, I am going to assume this is no longer needed.

[2021-02-17 01:12] #165 closed

[2021-02-17 01:13] #167 closed

[2021-02-17 01:14] nicolevasilevsky commented on #181
There is a class 'biological anomaly without phenotypic characterization' in Mondo, I wonder if we should consider obsoleting this and all of the children?

[2021-02-17 01:18] #191 closed

[2021-02-17 01:19] #192 closed

[2021-02-17 01:20] nicolevasilevsky commented on #194
I think this can be closed

[2021-02-17 01:20] #194 closed

[2021-02-17 01:24] nicolevasilevsky commented on #252
related to https://github.com/monarch-initiative/mondo/discussions/2584

[2021-02-17 01:25] nicolevasilevsky commented on #253
this has been fixed

[2021-02-17 01:25] #253 closed

[2021-02-17 01:26] nicolevasilevsky commented on #324
to do:
- [ ] syndrome associated with X should have X as a feature rather than subtype of X

[2021-02-17 01:30] nicolevasilevsky commented on #356
@balhoff can this be closed?

[2021-02-17 01:30] nicolevasilevsky commented on #379
@ahamosh gentle reminder to follow up with Joanna, thank you!

[2021-02-17 01:33] nicolevasilevsky commented on #439
I think this has been resolved now

[2021-02-17 01:33] #439 closed

[2021-02-17 01:34] nicolevasilevsky commented on #461
Can this be closed?

[2021-02-17 01:34] nicolevasilevsky commented on #473
We're working on updating DPs, I think this ticket can be closed.

[2021-02-17 01:34] #473 closed

[2021-02-17 01:35] nicolevasilevsky commented on #493
This has not been implemented. I'm not sure if we still want to do this.

[2021-02-17 01:35] #493 closed

[2021-02-17 02:11] nicolevasilevsky commented on #498
@matentzn I thought we worked on a similar ticket like this together at one point.

I put this on our to do list.

[2021-02-17 02:12] ahamosh commented on #379
Hi Nicole, I did ask and then forgot to post here.  This is what Joanna said: Citrullinemia type II - I think the adult onset is significantly different from the neonatal onset.  The adults have sudden onset disease.  Do internal medicine docs know about this?  It is interesting that some people don't manifest disease until much later in life.

Some states (and countries) now screen for citrulline

[2021-02-17 02:17] nicolevasilevsky commented on #166
this is now in Mondo, just needs to have the def added

[2021-02-17 02:24] nicolevasilevsky commented on #379
Thank you @ahamosh! :)

[2021-02-17 11:26] pnrobinson commented on #498
I do not think that Allergy to X should be called a disease. Usually, people with Allergies have sensitivity to more than one antigen. So there would be few people to actually have ``Atlantic cod allergy``, instead, one person would have Atlantic, Pacific Cod, Shrimp, Swordfish,... Allergy. This entire subsection should be revised.

Probably the only diseases are things like
Allergic rhinitis
Alle

[2021-02-17 14:32] balhoff commented on #356
Yes! Excellent work. :-)

[2021-02-17 14:32] #356 closed

[2021-02-17 15:25] jiaola commented on #2618
I think so. Can we close it?

[2021-02-17 15:41] maglott opened #2668 "[Merge]PGBM1/MONDO:0014389 /MONDO:0018348"
**Mondo term (ID and Label)**

polyglucosan body myopathy type 1 vs. POLYGLUCOSAN BODY MYOPATHY 1 WITH OR WITHOUT IMMUNODEFICIENCY
**Reason for deprecation**
Is there really a distinction here? Both OMIM (POLYGLUCOSAN BODY MYOPATHY 1 WITH OR WITHOUT IMMUNODEFICIENCY) and Orphanet (polyglucosan body myopathy type 1) provide PGBM1 as the symbol.
Should there be a general review of labels containing

[2021-02-17 15:53] galyea-gard commented on #159
Hi Nicole!  I am not sure what this means or who opened this ticket. It seems to me that this is regarding a bigger picture than just one specific question.  If needed we can open a new ticket in the future. Please let me know what you think. Thank you! Gioconda

[2021-02-17 16:01] nicolevasilevsky commented on #159
Sounds good, i will close, thank you!

[2021-02-17 16:01] #159 closed

[2021-02-17 16:28] #509 closed

[2021-02-17 16:30] nicolevasilevsky commented on #512
Note- this is an inferred superclass, probably due to Uberon. Need to look into this further.

[2021-02-17 16:39] nicolevasilevsky commented on #516
This ticket is very old, not sure if this is still needed. Please reopen if needed.

[2021-02-17 16:39] #516 closed

[2021-02-17 16:40] nicolevasilevsky commented on #518
to do:
- [ ] exclude superclass 'systemic or rheumatic disease'

[2021-02-17 16:41] nicolevasilevsky commented on #519
this has been fixed

[2021-02-17 16:41] #519 closed

[2021-02-17 16:43] nicolevasilevsky commented on #523
I'm not sure what the action item is. @ihelbig is this still needed? (Apologies for the long delay)

[2021-02-17 16:46] nicolevasilevsky commented on #527
related to https://github.com/monarch-initiative/mondo/issues/130

[2021-02-17 16:47] nicolevasilevsky commented on #535
related to https://github.com/monarch-initiative/mondo/issues/130

[2021-02-17 16:52] nicolevasilevsky commented on #579
fixed

[2021-02-17 16:52] #579 closed

[2021-02-17 16:53] nicolevasilevsky commented on #804
@kshefchek is this still an issue?

[2021-02-17 16:56] nicolevasilevsky commented on #591
this has been obsoleted

[2021-02-17 16:56] #591 closed

[2021-02-17 16:58] #607 closed

[2021-02-17 16:58] nicolevasilevsky commented on #610
closing, please reopen if needed

[2021-02-17 16:58] #610 closed

[2021-02-17 17:04] nicolevasilevsky commented on #634
I think this is resolved

[2021-02-17 17:04] #634 closed

[2021-02-17 17:05] nicolevasilevsky commented on #636
fixed

[2021-02-17 17:05] #636 closed

[2021-02-17 17:05] nicolevasilevsky commented on #637
fixed

[2021-02-17 17:05] #637 closed

[2021-02-17 17:13] #2618 closed

[2021-02-17 17:13] #638 closed

[2021-02-17 17:13] #639 closed

[2021-02-17 17:13] #640 closed

[2021-02-17 17:18] nicolevasilevsky commented on #657
this is no longer an issue

[2021-02-17 17:18] #657 closed

[2021-02-17 17:20] nicolevasilevsky commented on #2662
related to https://github.com/monarch-initiative/mondo/issues/667

[2021-02-17 17:21] nicolevasilevsky commented on #681
closing, please reopen if needed

[2021-02-17 17:21] #681 closed

[2021-02-17 17:22] nicolevasilevsky commented on #690
I think this can be closed

[2021-02-17 17:22] #690 closed

[2021-02-17 17:26] nicolevasilevsky commented on #2662
related to https://github.com/monarch-initiative/mondo/issues/704

[2021-02-17 17:26] nicolevasilevsky commented on #2662
@jiaola are you able to do this SPARQL query?

[2021-02-17 17:28] ihelbig commented on #523
Ok to remove due to lack of gene validity

From: Nicole Vasilevsky <notifications@github.com>
Reply-To: monarch-initiative/mondo <reply@reply.github.com>
Date: Wednesday, February 17, 2021 at 11:44 AM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: "Helbig, Ingo" <HELBIGI@chop.edu>, Mention <mention@noreply.github.com>
Subject: [External] Re: [monarch-initiative/mondo] Remove http://pu

[2021-02-17 17:53] nicolevasilevsky commented on #523
@ihelbig Sorry, I'm still unclear. Do you mean you recommend that this term should be obsoleted?

cc @ahamosh

[2021-02-17 17:59] ihelbig commented on #523
Yes, that’s ok.

From: Nicole Vasilevsky <notifications@github.com>
Reply-To: monarch-initiative/mondo <reply@reply.github.com>
Date: Wednesday, February 17, 2021 at 12:53 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: "Helbig, Ingo" <HELBIGI@chop.edu>, Mention <mention@noreply.github.com>
Subject: [External] Re: [monarch-initiative/mondo] Remove http://purl.obolibrary.org/obo/MOND

[2021-02-17 18:10] nicolevasilevsky commented on #743
I think this is no longer an issue
closing, please reopen if needed

[2021-02-17 18:10] #743 closed

[2021-02-17 18:10] nicolevasilevsky commented on #748
@simonjupp is this still needed?

Sorry for the long delay!

[2021-02-17 18:11] matentzn commented on #743
Hopefully never again :D

[2021-02-17 18:11] nicolevasilevsky commented on #753
@pnrobinson is this still needed?

[2021-02-17 18:12] nicolevasilevsky commented on #756
to do - look into this

[2021-02-17 18:13] nicolevasilevsky commented on #759
@jiaola would you be able to work on this?
If not, let's close.

[2021-02-17 18:38] nicolevasilevsky commented on #1455
note to self - review this ticket and see if action is still needed

[2021-02-17 18:40] nicolevasilevsky commented on #1356
this is done

[2021-02-17 18:40] #1356 closed

[2021-02-17 18:41] nicolevasilevsky commented on #1339
closing, please reopen if needed

[2021-02-17 18:41] #1339 closed

[2021-02-17 18:42] nicolevasilevsky commented on #1221
@matentzn something we can work on together someday

[2021-02-17 18:45] nicolevasilevsky commented on #741
to do - review this ticket and determine what the next steps are

[2021-02-17 18:47] pnrobinson commented on #753
I think this issue has gotten stale. We are not going to be using MONDO for Phenoseries. There are still issues with obographs etc but they do not need to be on this tracker.

[2021-02-17 18:47] #753 closed

[2021-02-17 18:48] nicolevasilevsky commented on #2662
related to https://github.com/monarch-initiative/mondo/issues/834

[2021-02-17 18:50] nicolevasilevsky commented on #879
Hi @gtsueng - thanks for this ticket. I'm unclear what the action item is.
Apologies for the long delay.

[2021-02-17 18:51] nicolevasilevsky commented on #889
@matentzn do you know if this can be closed? If not, do you know what the action items are?
thanks!

[2021-02-17 18:53] nicolevasilevsky commented on #892
I think this is fixed, this is 'pulmonary branch stenosis'

[2021-02-17 18:53] #892 closed

[2021-02-17 18:53] nicolevasilevsky commented on #894
closing, please reopen if needed

[2021-02-17 18:53] #894 closed

[2021-02-17 18:55] nicolevasilevsky commented on #981
closing, please reopen if needed

[2021-02-17 18:55] #981 closed

[2021-02-17 18:55] nicolevasilevsky commented on #1031
closing, please reopen if needed

[2021-02-17 18:55] #1031 closed

[2021-02-17 18:58] nicolevasilevsky commented on #1116
@maglott pinging you - thanks!

[2021-02-17 19:00] nicolevasilevsky commented on #1489
pinging @ahamosh
thank you!

[2021-02-17 19:03] nicolevasilevsky commented on #1583
related https://github.com/monarch-initiative/mondo/issues/1665

[2021-02-17 19:03] nicolevasilevsky commented on #1589
related #239

[2021-02-17 19:04] nicolevasilevsky commented on #1595
I think this is done

[2021-02-17 19:04] #1595 closed

[2021-02-17 19:08] nicolevasilevsky commented on #2662
related to https://github.com/monarch-initiative/mondo/issues/1674

[2021-02-17 19:11] nicolevasilevsky commented on #1844
I think this may be done, need to check

[2021-02-17 19:12] nicolevasilevsky commented on #1938
@matentzn can this be closed?

[2021-02-17 19:18] nicolevasilevsky commented on #2087
@matentzn can we close this?

[2021-02-17 19:19] nicolevasilevsky commented on #2120
is this still needed?

[2021-02-17 19:20] nicolevasilevsky commented on #2134
I think this is done? @matentzn

[2021-02-17 19:26] matentzn commented on #2087
No action items. Closing.

[2021-02-17 19:26] #2087 closed

[2021-02-17 19:52] ahamosh commented on #1489
Yes.  1) Tuberous sclerosis complex is an alternate title for each of the entries and 2)they are linked to Orpha 805 (which you can check from the ICD+  link at the upper right of phenotype entries.  I don't think that you need to eliminate TS as a name. Both are used. Thanks.

[2021-02-17 20:11] ahamosh commented on #523
Is there a question a question in here for me?
Thanks,
Ada

Ada Hamosh, MD, MPH
Dr. Frank V. Sutland Professor
McKusick-Nathans
Department of Genetic Medicine (DGM)
Clinical Director, DGM
Scientific Director, OMIM
Johns Hopkins University
Blalock 1007
600 N. Wolfe St
Baltimore, MD 21287-4922
Phone:  410-614-3313
Fax: 410-367-3231 (Please Note new FAX number)
ahamosh@jhmi.edu

Assistant:  Heather D

[2021-02-17 20:59] tibingaman opened #2670 "[NTR]: X-linked intellectual disability"
**Preferred term label: X-linked intellectual disability

**Synonyms: None

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######): The term X-linked intellectual disability is being requested as a parent term for X-linked syndromic intellectual disability (Mondo:0020119) and non-syndromic X-linked intellectual disability (Mondo: 0019181). In situations in which not

[2021-02-17 22:21] nicolevasilevsky commented on #523
@ahamosh yes- are you okay with obsoleting this class in Mondo?
Thank you!

[2021-02-17 23:04] maglott commented on #1116
Looks OK to me. thanks

[2021-02-18 01:17] nicolevasilevsky commented on #1116
Thanks! Closing. :)

[2021-02-18 01:17] #1116 closed

[2021-02-18 02:10] nicolevasilevsky commented on #2656
@ahamosh ^see comment above

[2021-02-18 02:12] nicolevasilevsky commented on #496
moving this to a discussion:
https://github.com/monarch-initiative/mondo/discussions/2672

[2021-02-18 02:12] #496 closed

[2021-02-18 02:16] nicolevasilevsky commented on #699
closing this ticket, moving to the discussion: https://github.com/monarch-initiative/mondo/discussions/2672

[2021-02-18 02:16] #699 closed

[2021-02-18 02:25] nicolevasilevsky commented on #2334
moved to a discussion: https://github.com/monarch-initiative/mondo/discussions/2672

[2021-02-18 02:25] #2334 closed

[2021-02-18 02:35] #2105 closed

[2021-02-18 02:36] nicolevasilevsky commented on #689
closing this - I move this to: https://github.com/monarch-initiative/mondo/discussions/2673

[2021-02-18 02:36] #689 closed

[2021-02-18 02:43] #1642 closed

[2021-02-18 02:46] nicolevasilevsky commented on #1357
closing this, hopefully this will happen as a outcome of the Mondo workshops.

[2021-02-18 02:46] #1357 closed

[2021-02-18 02:47] #183 closed

[2021-02-18 03:00] #535 closed

[2021-02-18 03:01] nicolevasilevsky commented on #130
pain disorder has been obsolete. I converted this to a discussion

[2021-02-18 03:01] #130 closed

[2021-02-18 03:02] nicolevasilevsky commented on #527
moved to discussion: https://github.com/monarch-initiative/mondo/discussions/2678

[2021-02-18 03:02] #527 closed

[2021-02-18 03:04] nicolevasilevsky commented on #2423
moved to discussion:
https://github.com/monarch-initiative/mondo/discussions/2678

[2021-02-18 03:04] #2423 closed

[2021-02-18 04:34] ahamosh commented on #2656
Hi Donna, Yes, 155720 is the disease itself.

[2021-02-18 05:05] ahamosh commented on #498
I agree and view this as Peter does.

[2021-02-18 05:11] nicolevasilevsky commented on #498
Thanks @pnrobinson and @ahamosh!

Sounds like the action item is to obsolete the X allergy terms. Looks like most of these come from DO.

cc @cmungall

[2021-02-18 05:13] mellybelly commented on #498
+1; allergies should be dealt with outside of mondo

[2021-02-18 10:06] matentzn commented on #2134
This ticket can be closed, it will be dealt with by our wider synonym revision plan.

[2021-02-18 10:07] #2134 closed

[2021-02-18 10:10] matentzn commented on #1938
Yes, done:

[code]

[code]

[2021-02-18 10:10] #1938 closed

[2021-02-18 10:21] matentzn commented on #889
Obsolete classes have labels:

[code]

However, the term Peter selected does not have a label, because it has a replacement id, as per convention. There are [117 such terms in mondo](https://api.triplydb.com/s/j23P1GzZT).

_The question in this ticket is:_
Given that there is `colorectal adenocarcinoma` in Mondo (MONDO:0000528) and there is another term MONDO:0005008 that was deprecated and replac

[2021-02-18 10:24] matentzn commented on #1217
Need to be discussed in meeting.

[2021-02-18 12:36] maglott commented on #2656
Thanks, Ada.

[2021-02-18 13:24] pnrobinson commented on #889
In HPO we do just this. But we do not display obsolete terms in the browser.

[2021-02-18 13:27] matentzn commented on #889
Yeah! I kinda agree. However, the question here is not so much about the browser, but the user of the ontology. Lets say they open it, in whatever browser tool they want, would it be more helpful to see the `obsolete colorectal adenocarcinoma` or would it confuse them?

[2021-02-18 16:19] cmungall commented on #498
yes, obsolete all following the allergic-to-X pattern (do you know how to do batch obsoletions?) but coordinate with eg EFO, they are using some, I think most of these have HPO replacements but check

[code]

[2021-02-18 16:52] nicolevasilevsky commented on #2662
Nico and I did the SPARQL query:
https://api.triplydb.com/s/cbPIfOs-u

[2021-02-18 17:25] nicolevasilevsky commented on #2662
[spreadsheet](https://docs.google.com/spreadsheets/d/1bOzW56cfYMEz2PFcRBvfSkIuo5o41zHVrXJHtH-RxSU/edit#gid=833835031)

[2021-02-18 18:34] nicolevasilevsky commented on #881
We need this info for a table/for the website
Want SSSOM files from Mondo to source
- each file gets a header
- indication of the mapping quality (ie high quality, etc.)
- categorization of sources into fully covered, maintained, refresh date,

[2021-02-18 19:04] nicolevasilevsky commented on #2621
Nico ran the SKOS generation process and the exactMatch to the juvenile term does not appear to be there anymore.

to do:
- [ ] Double check in next release, and close.

[2021-02-18 20:59] jiaola commented on #2609
Moved the qc process to github actions. See PR #2680. Will keep this ticket open for a few more days and clean up the travis/jenkins setup.

[2021-02-18 21:09] nicolevasilevsky commented on #498
[spreadsheet here](https://docs.google.com/spreadsheets/d/12xlKSTwsMMiujzA-M5CqMdtaiH-T-N8mm5_0I1HQ-uE/edit#gid=833835031)

[2021-02-18 21:13] nicolevasilevsky opened #2682 "[NTR] new OMIM and Orphanet terms"
- [x] xref:  {source="MONDO:equivalentTo"} !
[Term]
id: MONDO:0030923
xref: OMIMPS:105500 {source="MONDO:equivalentTo"} ! amyotrophic lateral sclerosis

- [x] xref:  {source="MONDO:equivalentTo"} !
[Term]
id: MONDO:0035112
name: acute myeloid leukemia with t(9;22)(q34.1;q11.2)
subset: ordo_disease
synonym: "AML with BCR-ABL1" EXACT  [Orphanet:585867]
synonym: "AML with t(9;22)(q34.1;q11.2)" EXACT

[2021-02-19 00:01] matentzn commented on #2609
Awesome works very well! Thank you! Lets have a tag for qc-call @nicolevasilevsky what do you think? That way we can just flag an issue we need to look at in person at the next QC call!

[2021-02-19 00:01] matentzn commented on #2609
We can review last weeks runs at the next call and then simply deactivate travis - that's all that's needed.

[2021-02-19 02:31] #2596 closed

[2021-02-19 13:00] maglott opened #2683 "ILFS2 and ORPHA:464724"
**Mondo term (ID and Label):**
MONDO:0014659/fever-associated acute infantile liver failure syndrome and xref to ORPHA:464724

**Xref that should be fixed (ID and label):**
ORPHA:464724 points to 2 genes and 2 MIM numbers, yet https://www.omim.org/entry/616483, which appears to define MONDO:0014659, corresponds to the subset caused by NBAS

I suggest the XRef for  ORPHA:464724 be moved to MONDO:00

[2021-02-19 14:02] maglott opened #2684 "split term: <enter name>MONDO:0009989 and Goldmann-Favre syndrome"
**Term to split:**
enhanced S-cone syndrome
**Name for new terms:**
enhanced S-cone syndrome and Goldmann-Favre syndrome
**List properties that should be moved to new term:**
If the clinical community agrees that these are distinct entities, then the munge of XRefs and labels under this MondoID should be cleaned up
* OMIM and Snomed make a disctinction between these concepts.
The definition of Gol

[2021-02-19 14:53] brookepalus commented on #1765
Hi @nicolevasilevsky, I want to follow up with this previous request for MYH7-related skeletal myopathy. I understand that  MYH7-related skeletal myopathy and Laing distal myopathy are now synonyms, but is there any way that MYH7-related skeletal myopathy could be used as the primary Mondo term? This is at request from the experts of the ClinGen Congenital Myopathies GCEP. Please let me know if yo

[2021-02-19 15:09] nicolevasilevsky opened #2686 "split term: 'benign paroxysmal positional nystagmus'"
**Term to split:**
'benign paroxysmal positional nystagmus'

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
'benign paroxysmal positional nystagmus'
VERTIGO, BENIGN RECURRENT (OMIM)

From https://github.com/monarch-initiative/mondo/pull/2628
the OMIM entry does not mention nystagmus

The MESH (MESH:D065635) definition is:

[2021-02-19 16:19] mellybelly opened #2687 "make lay description annotation property and coordinate with GARD"
This is a great area of coordination if we had a pipeline for ingest and coordination (and an annotation property).

[2021-02-19 16:44] nicolevasilevsky commented on #1765
Of course @brookepalus, no problem at all. This will be updated in the next release in early March.

[2021-02-19 16:45] #962 closed

[2021-02-19 17:28] nicolevasilevsky opened #2689 "rename 'unclassified acute myeloid leukemia'"
**Mondo term (ID and Label):**
'unclassified acute myeloid leukemia'

**Suggested new label:**
'acute myeloid leukemia by FAB classification'
https://www.cancer.org/cancer/acute-myeloid-leukemia/detection-diagnosis-staging/how-classified.html'

Per Mondo call on 2021-02-19

[2021-02-19 17:29] nicolevasilevsky commented on #2689
add ticket to NCIt - ask why the node is 'unclassified acute myeloid leukemia' and the children are classified?

[2021-02-19 17:30] nicolevasilevsky commented on #1639
Per mondo call - these are diseases

[2021-02-19 17:34] nicolevasilevsky commented on #1639
'occupational allergic alveolitis' should be a child of occupational lung disease

[2021-02-19 17:38] nicolevasilevsky commented on #1639
to do: add some of these top level terms, add some synonyms

[2021-02-19 17:48] nicolevasilevsky commented on #2553
@ahamosh can we run this by you? This is our proposed solution:

create a grouping class:
New term: Roberts-SC phocomelia syndrome
children:
-MONDO_0009997 'Roberts syndrome' (OMIM:268300)
-MONDO_0010009 'SC phocomelia syndrome' (OMIM:269000)

(as siblings)

per Mondo call 2021-02-19
cc @pnrobinson @cmungall

[2021-02-19 17:54] nicolevasilevsky commented on #2553
note to self - consider making a design pattern for this

[2021-02-19 18:47] #1765 closed

[2021-02-20 14:32] ahamosh commented on #2553
Hi All,  Sorry for the delay. OMIM will call this Roberts SC phocomelia syndrome and combine the entries.  I will get the number back to you shortly (it will be merged into one of the existing entries).    Although the outcome for this query, making a parent with two children as siblings is the way that I would deal with many of the requests coming from ClinGen, but let's continue to discuss on a

[2021-02-20 19:46] ahamosh commented on #2553
FYI we will combine these 2 in 268300.
Thanks!

[2021-02-22 15:35] kanems commented on #2562
@nicolevasilevsky Any updates on this potential split?

[2021-02-22 17:01] nicolevasilevsky commented on #2562
Hi @kanems - On our call the other week, we weren't able to fully finish the conversation and decide how to address issues like this but I agree with your proposal to split these terms.
I'll do my best to get this in for the next release in early March. Thanks!

Summarizing the action plan below:

### We currently have:

MONDO_0007926 'Waldenstrom macroglobulinemia' ([OMIM:153600](https://omim.org

[2021-02-22 17:50] kanems opened #2690 "[Merge] MONDO:0019663 and MONDO:0013127"
**Mondo term (ID and Label)**
MONDO:0019663 "short rib-polydactyly syndrome, Saldino-Noonan type"
MONDO:0013127 "asphyxiating thoracic dystrophy 3"

**Reason for deprecation**
Both terms have syn of "short rib-polydactyly syndrome type 1/I" and according to https://www.omim.org/entry/613091, they are alternate names for the same condition.

**Term to be merged with**
MONDO:0013127 "asphyxiating th

[2021-02-22 18:05] kanems opened #2691 "[Merge]MONDO:0010261 and MONDO:0017125"
**Mondo term (ID and Label)**
MONDO:0010261 "microphthalmia, syndromic 2"

**Reason for deprecation**
Both OMIM  https://www.omim.org/entry/300166 and SNOMED CT 699300009 treat MCOPS2 and OCULOFACIOCARDIODENTAL SYNDROME as synonyms.

**Term to be merged with**
MONDO:0017125  oculofaciocardiodental syndrome

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here

[2021-02-22 23:04] nicolevasilevsky opened #2692 "fix nav for mondo editors guide"
see example in CL.

@matentzn I am hoping we can do this together on one of our calls

<img width="463" alt="Screen Shot 2021-02-22 at 10 56 24 AM" src="https://user-images.githubusercontent.com/6722114/108781846-67275900-751f-11eb-87a3-7dd0aaa319a4.png">

[2021-02-22 23:10] kanems opened #2693 "OrphaNet IDs and one (of multiple) OMIM IDs lumped into same term"
I've noticed this a few times, I'll give one example below: (Ok, this is a problematic example because the disease name from OMIM is rather generic, but I'll comment with additional examples later as I run into them.)
**Mondo term (ID Label)**
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0008345
MONDO:0008345 "idiopathic pulmonary fibrosis"

*

[2021-02-22 23:36] nicolevasilevsky commented on #2693
Thanks @kanems!

In this case, Orphanet xrefs 3 OMIM terms, as you noted. The two more specific terms (OMIM:616371 PFBMFT4 and OMIM:616373 PFBMFT3) are part of a phenotypic series (see [here](https://omim.org/phenotypicSeries/PS614742)), which corresponds to MONDO_0000148 'pulmonary fibrosis and/or bone marrow failure, telomere-related'.

These gene specific classes are also sub-classified under M

[2021-02-22 23:54] nicolevasilevsky commented on #2684
@ahamosh and @pnrobinson can you please give us your thoughts? Thanks!

[2021-02-23 00:08] nicolevasilevsky commented on #2682
@matentzn are you sure there is an OMIMPS that is 105500?

I don't see it in OMIM: https://omim.org/phenotypicSeries/PS105500

I see this:
https://omim.org/phenotypicSeries/PS105400

[2021-02-23 00:11] pnrobinson commented on #2684
@nicolevasilevsky  This is a classic lumper/splitter debate. The OMIM entry's text differentiates the two diseases and the entry 268100 says it INCLUDES Goldmann-Favre syndrome. @ahamosh we should discuss whether we can reliably infer that INCLUDES means subtype, or if we should do a in depth analysis on the ClinGen lumper/splitter meetings.

[2021-02-23 00:46] nicolevasilevsky commented on #2581
Since the orphanet record is for the generic class, I'd prefer to keep this xref in Mondo. We can ask Orphanet to revise their xref to OMIM, and xref to the phenotypic series instead: https://omim.org/entry/610253
cc @ana-rath-orphanet @Orphanet

[2021-02-23 00:49] nicolevasilevsky commented on #2581
thanks @kanems!

[2021-02-23 00:50] #2683 closed

[2021-02-23 01:12] nicolevasilevsky commented on #756
Looks like this has been resolved

[2021-02-23 01:12] #756 closed

[2021-02-23 01:18] nicolevasilevsky commented on #566
looks like Peutz-Jeghers has already been addressed

[2021-02-23 01:19] #60 closed

[2021-02-23 01:20] nicolevasilevsky commented on #379
@kanems as OMIM will keep these as separate concepts, Mondo will too.

[2021-02-23 01:20] #379 closed

[2021-02-23 01:22] nicolevasilevsky commented on #1489
@maglott we will keep both terms, per OMIM's advice.

thank you @ahamosh!

[2021-02-23 01:24] nicolevasilevsky commented on #2379
@kanems I am closing this, please reopen if you have further questions.

[2021-02-23 01:24] #2379 closed

[2021-02-23 01:41] nicolevasilevsky commented on #2659
@mhughes5 - no problem! I updated this label.

[2021-02-23 01:48] #2506 closed

[2021-02-23 11:26] ireneisdoomed opened #2704 "[Open Targets] Add synonyms from Genomics England phenotypes"
Hello,

we have identified 3 terms from one of our sources where the phenotype indicated at source cannot be programmatically mapped to their correspondent MONDO IDs.

It would be great if these could be potentially imported as a synonym so that we can downstream benefit from their inclusion in EFO and have a better mapping.

Synonym to add | MONDO Term | MONDO Label | Xref
 -- | -- | -- | --
 "Au

[2021-02-23 14:06] maglott opened #2705 "[Merge] MONDO:0024548 and MONDO:0016992"
**Mondo term (ID and Label)**
MONDO:0016992/Peeling skin syndrome type B from Orphanet
MONDO:0024548/peeling skin syndrome 1 from OMIM

**Reason for review**
Both refer to CDSN as the genetic basis. Is there a distinction to be retained, or should these be merged?

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)
0000-0001-7451-4467

[2021-02-23 15:27] kanems commented on #2693
![image](https://user-images.githubusercontent.com/71083858/108864038-d2286c80-75bf-11eb-9973-d0c3b9223a62.png)
It looks to me that the way the X-refs are displayed in the EBI browser, the MIM number and the OrphaNet ID are coming in together (and cite one another as the source), but the OrphaNet page has 3 different OMIM numbers and only one is attached to this term, which is the recurring patter

[2021-02-23 15:34] kanems commented on #2693
Another instance of an OrphaNet disease class and ONE OMIM ref coming in on the same term: MONDO:0007926 Waldenstrom macroglobulinemia
the Orphanet term points to two OMIM numbers: https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=10313&Disease_Disease_Search_diseaseGroup=33226&Disease_Disease_Search_diseaseType=ORPHA&Disease(s)/group%20of%20diseases=Waldenstrom-macroglobuline

[2021-02-23 15:37] ewilcox19 opened #2706 "Relabel ‘spondyloepiphyseal dysplasia, Maroteaux type’"
**Mondo term (ID and Label):**
spondyloepiphyseal dysplasia, Maroteaux type (MONDO:0008473)

**Suggested new label:**
spondyloepimetaphyseal dysplasia, Maroteaux type

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)
https://orcid.org/0000-0003-4972-2947

**_Optional_: Any additional information (like supporting evidence, PubMed ID, e

[2021-02-23 15:44] ahamosh commented on #2693
this is tough example.  Idiopathic pulmonary fibrosis as an isolate entity is 178500 in OMIM.  IPF is a prominent feature (and sometimes the only one) of telomere disorders that can include liver disease and bone marrow failure.  Because of telomere shortening these diseases also show anticipation with more and earlier manifestations in subsequent generations.  PS614742 is the phenotypic series fo

[2021-02-23 15:47] ahamosh commented on #2693
The waldenstrom example is because OMIM hasn't made a phenotypic series.  Discussion of genetic heterogeneity always resides in the lowest number of the series.

[2021-02-23 16:36] nicolevasilevsky commented on #2705
I agree these should be merged. Looks like OMIM and Orphanet xfef each other too.

I'll email the list.

[2021-02-23 16:37] nicolevasilevsky commented on #2704
will do!

[2021-02-23 16:38] nicolevasilevsky commented on #2690
Thanks @kanems, I'll email the list before proceeding.

[2021-02-23 16:39] nicolevasilevsky commented on #2693
related ticket:
https://github.com/monarch-initiative/mondo/issues/2562#issuecomment-783460282

[2021-02-23 16:39] #2657 closed

[2021-02-23 16:39] #2659 closed

[2021-02-23 16:40] #566 closed

[2021-02-23 16:41] #2639 closed

[2021-02-23 16:42] #2581 closed

[2021-02-23 16:47] nicolevasilevsky commented on #2553
Great, thank you @ahamosh. I'll do the same in Mondo.

[2021-02-23 17:19] nicolevasilevsky commented on #770
this has been added as MONDO_0400005
closing

[2021-02-23 17:19] #770 closed

[2021-02-23 17:57] ahamosh commented on #2684
Included is always a distinct entity as opposed to a synonym or alternate title.  It may or may not mean subtype.

[2021-02-23 18:13] abbe-Lai commented on #2547
Hello Nicole,

We discussed this at our meeting today.

This disease term does apply to CCND2.

For TSC1 and TSC2 we felt that one of the branches for the tree could be this term. Given there are known cortical malformations in some of these patients and hemimegalencephaly has been seen for these cases in the mosaic state it makes sense.

best,
Abbe Lai, MS, CGC
Licensed Genetic Counselor
Coordina

[2021-02-23 18:18] nicolevasilevsky commented on #2547
thanks! I'll work on this asap

[2021-02-23 18:22] #2704 closed

[2021-02-23 18:23] #2706 closed

[2021-02-23 21:24] #2553 closed

[2021-02-23 22:57] #716 closed

[2021-02-24 03:30] galyea-gard commented on #1489
As commented, GARD changed from "Tuberous sclerosis" to "Tuberous sclerosis complex" as the main term on May 18, 2020,  but kept "tuberous sclerosis" as a synonym.  Thank you!

[2021-02-24 04:28] nicolevasilevsky commented on #2587
@RedRiver1816 This is all set, thanks! It will be available in the next release.

[2021-02-24 04:58] nicolevasilevsky commented on #2547
@abbe-Lai I'm not totally sure if I follow. The hierarchy you proposed is displayed below

![image](https://user-images.githubusercontent.com/6722114/108949656-aafe8900-7619-11eb-8049-9fb74a7eeeb3.png)

'isolated focal cortical dysplasia type II' is equivalent to OMIM:607341, which includes mutations in MTOR and TSC1 and TSC2.

Is this okay?

[2021-02-24 04:58] nicolevasilevsky commented on #2547
@abbe-Lai I'm happy to have a call if that is easier!

[2021-02-24 16:30] #2587 closed

[2021-02-24 17:10] nicolevasilevsky opened #2715 "add syn to long COVID"
**Mondo term (ID and Label)**
long COVID-19

**Synonym to be added**
Post-Acute Sequelae of SARS-CoV-2 infection (PASC)

**Synonym subtype: ie, broad/exact/narrow/related**
exact

**Database cross reference for the synonym** Such as PubMed ID (in the format PMID:XXXXXX) or a cross-reference to another ontology, like OMIM or Orphanet.
https://www.nih.gov/about-nih/who-we-are/nih-director/statements

[2021-02-24 17:15] kanems commented on #2693
Another example:
MONDO:0007326 paroxysmal nonkinesigenic dyskinesia 1
X-refs Orpha and one OMIM:
OMIM:118800 (Orphanet:98810)
...
Orphanet:98810 (OMIM:118800)
But the OrphaNet term has two OMIM X-refs (PNKD1 and PNKD1 OMIM: 118800  611147)

Suggested clean up: Keep MIM118800 here. Move Orphanet:98810 (and GARD 8722) to a new parent term of "Paroxysmal non-kinesigenic dyskinesia" (with subtypes 1 a

[2021-02-24 17:21] ahamosh commented on #2693
Yes.  This is how to do this.

[2021-02-24 19:22] nicolevasilevsky opened #2717 "[Obsolete] MONDO_0028737 'biliary atresia disorder'"
**Mondo term (ID and Label)**
MONDO_0028737 'biliary atresia disorder'

**Reason for deprecation**
This is a term from Orphanet, that has  no children in Mondo and is very similar to MONDO_0008867 'biliary atresia'. In Orphanet, this is labeled 'Biliary atresia and associated disorders' and has one child Orphanet:498350 'Syndromic biliary atresia'. We don't have this child term in Mondo.

It shoul

[2021-02-24 19:23] #2667 closed

[2021-02-24 19:24] #2670 closed

[2021-02-24 19:29] nicolevasilevsky commented on #2664
@kanems I think this was already done per this ticket:
https://github.com/monarch-initiative/mondo/issues/962

We have:
![image](https://user-images.githubusercontent.com/6722114/109055004-7cbd8f80-7693-11eb-8d47-b99c9c626bc1.png)

Does this address your concerns?

I don't think this has been released yet, I plan to do a release next week

[2021-02-24 19:39] nicolevasilevsky commented on #2665
@ahamosh could I ask for your expert advice?

The question is should OMIM:214200 CEROID STORAGE DISEASE be a child of MONDO_0008956 'congenital neuronal ceroid lipofuscinosis', or should it remain as an equivalent dbxref on MONDO_0008956 'congenital neuronal ceroid lipofuscinosis'?

The description on the OMIM record suggests that it may be equivalent to MONDO_0009744 'neuronal ceroid lipofuscinos

[2021-02-24 19:49] nicolevasilevsky commented on #2534
@kanems I agree. I'll email the users list.

Obsolete:
MONDO:0000865 'congenital fiber-type disproportion'

Term replaced by:
MONDO:0009711 'congenital fiber-type disproportion myopathy'

[2021-02-24 19:57] nicolevasilevsky commented on #1218
Here is a table showing Donna's comments above:

ID | label | syn | syn xref
-- | -- | -- | --
MONDO_0000004 | 'adrenocortical insufficiency'
MONDO_0015129 | 'chronic primary adrenal insufficiency' | Addison disease | NCIT:C26689
MONDO_0009410 | 'Addison disease' | primary adrenocortical insufficiency | DOID:13774

Seems like we could merge 'chronic primary adrenal insufficiency' and 'Addison dise

[2021-02-24 20:03] ahamosh commented on #2665
Hi Nicole, I forwarded your question to Joanna and Carol.  I think this (214000) is an old entry that likely needs to be folded into 256730, but I want the database gurus to answer.

[2021-02-24 20:54] nicolevasilevsky commented on #2665
perfect, thanks @ahamosh!

[2021-02-24 20:58] nicolevasilevsky commented on #624
Thanks @annieolry!

@agrant9394, sorry for the delayed reply! I think Mondo would prefer to follow Orphanet and keep these entities separate.

[2021-02-24 20:58] #624 closed

[2021-02-24 21:31] ahamosh commented on #1376
In OMIM, we folded all the MYH9-related disorders into # 155100. MACROTHROMBOCYTOPENIA AND GRANULOCYTE INCLUSIONS WITH OR WITHOUT NEPHRITIS OR SENSORINEURAL HEARING LOSS; MATINS.  We don't call them MYH9-related disorders.  There is a separate isolated autosomal dominant deafness (DFNA17, MIM:603622) due to MYH9.

This is the description in OMIM:
Macrothrombocytopenia with or without granulocyte i

[2021-02-24 21:31] nicolevasilevsky commented on #2536
@pnrobinson I wonder if these term should be in HPO and not in Mondo?

Can you give your thoughts?

see:
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0020803

MONDO_0007241 bundle branch block, familial isolated complete right xrefs OMIM:113950, so this seems like an appropriate disease term, but I'm not sure about the other terms.

Thanks for

[2021-02-24 21:44] nicolevasilevsky commented on #1376
Thanks @ahamosh! I just reversed the order above, ie MONDO:0007954 May-Hegglin anomaly should be obsoleted and replaced by MONDO:0015912 MYH-9 related disease, and I believe this is consistent with what you noted above.

[2021-02-24 21:55] pnrobinson commented on #2536
LBB is a phenotypic feature and not a disease. It already is in HPO
https://hpo.jax.org/app/browse/term/HP:0011713

I agree that MONDO_0007241 bundle branch block, familial isolated complete right xrefs OMIM:113950 is a good MONDO term.

[2021-02-24 21:56] ahamosh commented on #1376
But please don’t call it MYH9-related disease. Call it the long OMIM name, please.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Wednesday, February 24, 2021 4:44:49 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Ada Hamosh <ahamosh@jhmi.edu>; Mention <mention@noreply.github.com>
Subject: Re: [m

[2021-02-24 22:40] nicolevasilevsky commented on #1376
Sure thing, will do!

[2021-02-24 23:12] #2559 closed

[2021-02-25 00:12] #2533 closed

[2021-02-25 00:13] #2462 closed

[2021-02-25 00:23] #2457 closed

[2021-02-25 00:24] #2579 closed

[2021-02-25 01:57] nicolevasilevsky commented on #2536
**proposal to obsolete:**
MONDO_0020803 'bundle branch block', consider HP:0011710 Bundle branch block
MONDO_0000991 'left bundle branch block', consider HP:0011713 Left bundle branch block
MONDO_0001662 'right bundle branch block (disease)', consider HP:0011712 Right bundle branch block
MONDO_0020755 'heart block', consider HP:0012722 Heart block

[2021-02-25 02:04] nicolevasilevsky commented on #2461
to do:
- [ ] on 'Ehlers-Danlos syndrome, kyphoscoliotic type 1', there is an xref to Orphanet:1900, remove MONDO:superClassOf, this should be equiv to.
- [ ] do the 3 mergers listed [here](https://github.com/monarch-initiative/mondo/issues/2461#issuecomment-744976177)

[2021-02-25 03:58] galyea-gard commented on #2648
Hi!  The GSD 8 was added a while ago and the term is not in use anymore.  We will fix this when our review process is over. I would suggest to use the Orphanet term "Glycogen storage disease due to liver phosphorylase kinase deficiency" because it is more descriptive and all the correspondent synonyms including the term from OMIM. Thank you, Gioconda

[2021-02-25 04:38] nicolevasilevsky commented on #2648
Thanks @galyea-gard!

[2021-02-25 05:40] nicolevasilevsky commented on #2461
@ireneisdoomed I added all the synonyms you requested, these changes will be available in the next release (March)

[2021-02-25 05:41] #503 closed

[2021-02-25 05:42] #2577 closed

[2021-02-25 05:50] nicolevasilevsky commented on #2693
Got it! This makes sense, I will do this.

My action items/note to self:
- [ ] create new term paroxysmal non-kinesigenic dyskinesia, xref Orphanet:98810 (and GARD 8722), parent of type 1 & 2
- [ ] obsolete 'paroxysmal nonkinesigenic dyskinesia 1' and create new class with same label, xref OMIM:118800

[2021-02-25 05:52] nicolevasilevsky commented on #2693
@kanems I need to look at these two other examples more closely, I'll get back to you on those

[2021-02-25 05:54] nicolevasilevsky commented on #2693
to do:
- [ ] exclude superclass 'idiopathic pulmonary fibrosis' for
'pulmonary fibrosis and/or bone marrow failure, Telomere-related, 1'
'pulmonary fibrosis and/or bone marrow failure, Telomere-related, 3'
'pulmonary fibrosis and/or bone marrow failure, Telomere-related, 4'

[2021-02-25 09:21] ireneisdoomed commented on #2461
Thank you very much @nicolevasilevsky. I'm very glad this ticket has triggered many actions. Have a lovely day!

[2021-02-25 10:32] kallia-p commented on #1395
A comment on susceptibility for common complex disorders using osteoarthritis as an example (which I worked with for many years as a GWAS geneticist). It's not correct currently to assign one gene for susceptibility to osteoarthritis, which is a common complex disease caused by the complex interplay between hundreds of genetic variants and environmental risk factors. I think that all three MONDO o

[2021-02-25 12:21] lcdaugherty commented on #707
@nicolevasilevsky I think 'amyotrophic lateral sclerosis type 13' http://purl.obolibrary.org/obo/DOID_0060204 be removed as ExactMatch from MONDO:0008458 spinocerebellar ataxia type 2
(It also has ExactMatch http://purl.obolibrary.org/obo/DOID_0050955  spinocerebellar ataxia type 2 which is the correct DOID)

[2021-02-25 13:13] tsneddon opened #2726 "ALG9 and ADPKD"
**Preferred term label:**
ALG9-associated ADPKD

**Synonyms**

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
PMID: 31395617
https://search.clinicalgenome.org/kb/gene-validity/CGGV:assertion_38d817af-0a28-4453-a00f-ffccadbd9936-2020-08-28T153435.272Z

**Parent term (use [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo), or your favorite ontology browser)**

[2021-02-25 13:59] lcdaugherty opened #2727 "thrombocytopenia-absent radius syndrome MONDO:0010121 closeMatch to exactMatch for MeSH: C536940"
Currently thrombocytopenia-absent radius syndrome MONDO:0010121 has closeMatch Absent radii and thrombocytopenia MeSH: C536940 but I think it should be exactMatch
https://meshb-prev.nlm.nih.gov/record/ui?ui=C536940

[2021-02-25 16:52] nicolevasilevsky commented on #2436
wait until after next release

[2021-02-25 16:55] nicolevasilevsky commented on #2682
https://omim.org/phenotypicSeries/?phenotypicSeriesNumber=PS105550,PS105400

[2021-02-25 18:08] matentzn commented on #2619
https://mondo.readthedocs.io/

[2021-02-25 18:27] matentzn commented on #2619
Step 1: Create automatically

/docs/

- create subdir /docs/editors-guide/patterns
- for every pattern, generate a nice markdown view of pattern in patterns dir
- generate a nice overview for all patterns

Step 2:
- Group related patterns.
- Option 1: category based (all patterns in `cancer` category are grouped together)
- Option 2: pattern relation based : patterns (in overview) are rendered in

[2021-02-25 18:33] matentzn commented on #2619
also replace all instances

disease: owl_thing

disease: MONDO:0000001

and adjust the variable names.

-

[2021-02-25 18:39] nicolevasilevsky opened #2732 "Mondo.owl does not show all inference in the top level of the class hierarchy"
The release version (mondo.owl) has the asserted top level view, we would like to see the inferred view

![image](https://user-images.githubusercontent.com/6722114/109200677-be167380-7755-11eb-8483-f9be15b6a79c.png)

[2021-02-25 20:06] kanems commented on #2330
Hi @nicolevasilevsky I am still not sure the terms in this tree are clarified sufficiently. Sorry it has taken me a while to circle back around to this.
OrphaNet's Romano Ward Syndrome https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=101016 is a generic concept, not the specific long QT1 syndrome. So the Orphanet ID doesn't belong on MONDO:0008646 with OMIM:192500 (this is another instance o

[2021-02-25 20:41] #2461 closed

[2021-02-25 20:41] #2727 closed

[2021-02-25 21:10] kanems opened #2733 "Merge MONDO:0012215 and MONDO:0008032?"
Should MONDO:0008032 autosomal dominant limb-girdle muscular dystrophy type 1A and MONDO:0012215
myofibrillar myopathy 3 be merged?
The MIM Number on MONDO:0008032 (OMIM:159000) has been merged with the MIM number on MONDO:0012215  (OMIM:609200) and OMIM cites https://pubmed.ncbi.nlm.nih.gov/30055862/ as reasoning for retiring the LGMD1A name/synonym.

But I see Orphanet maintains distinct terms f

[2021-02-25 21:17] ahamosh commented on #2665
214000 has been moved to 256730

[2021-02-25 21:17] nicolevasilevsky commented on #707
thanks @lcdaugherty, I made this change

[2021-02-25 21:29] nicolevasilevsky commented on #2330
Thanks @kanems.

Sounds like we need to split MONDO_0008646 'long QT syndrome 1' into:

-MONDO:0019171 **'familial long QT syndrome'**
--[new term] **Romano-Ward syndrome** ([ORPHA:101016](https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=101016), UMLS: C0035828)
---[obsolete MONDO_0008646 and create new ID] **long QT syndrome 1** ([OMIM:192500](https://omim.org/entry/192500))

I'd like to ch

[2021-02-25 21:46] nicolevasilevsky commented on #2665
thanks @ahamosh!

[2021-02-25 22:30] nicolevasilevsky commented on #2733
@kanems We tend to follow OMIM- when they merge terms, we follow suit. I'll add this to the list of obsoletion candidates and will email Mondo users to make sure there are no objections.

[2021-02-25 22:33] #2609 closed

[2021-02-25 22:34] matentzn commented on #881
Why is this ticket in review? Isnt the action item to make the table automatically?

[2021-02-25 22:36] matentzn commented on #2732
Was OLS showing the wrong thing or mondo.owl?

[2021-02-25 22:36] nicolevasilevsky commented on #881
yes, that is the action item. Must be in review as a mistake.

[2021-02-25 22:37] nicolevasilevsky commented on #2732
mondo.owl

[2021-02-25 22:37] matentzn commented on #2732
Ok! thx

[2021-02-25 23:48] #166 closed

[2021-02-25 23:49] #1844 closed

[2021-02-25 23:51] #707 closed

[2021-02-25 23:55] #2682 closed

[2021-02-26 00:54] ahamosh commented on #2330
Romano Ward syndrome and Long QT syndrome are synonyms for the parent concept. It can be mapped to either the orpha code 101016 or PS192500.  LQTS1 is OMIM:192500.  When there isn't a phenotypic series, you can map to orphanet.  OMIM always discusses genetic heterogeneity of a phenotype in the lowest number entry.

[2021-02-26 01:17] cmungall commented on #2619
This is awesome

I'd like to discuss naming conventions

Naming vars after relations is better than ranges

On Fri, Feb 5, 2021, 03:23 Nico Matentzoglu <notifications@github.com>
wrote:

[2021-02-26 04:59] nicolevasilevsky commented on #2684
So it sounds like these two terms should be split into two Mondo classes?

@cmungall should I xref Goldmann-Favre syndrome with the OMIM ID and MONDO:relatedTo?

[2021-02-26 09:35] matentzn commented on #2619
We will discuss at next qc call.

[2021-02-26 13:53] matentzn commented on #2660
@nicolevasilevsky please review this table:

there is a detail in the SPARQL query I cant figure out, so if this table looks safe to you, I will rename the diseases:
https://github.com/monarch-initiative/mondo/blob/master/src/ontology/reports/report-omim-abbreviation-replace.tsv

Safe in the sense: all labels (`?term_label`) will be replaced by their OMIM syns (`?related`).

[2021-02-26 17:08] matentzn opened #2738 "Mondo: formal protocol for obsoletions"
I would suggest this simple protocol:

1. Every obsolete term has `owl:deprecated true^^xsd:boolean`
2. Every obsoleted term without a replacement term has a label starting with `obsolete`, e.g `obsolete gene A`
3. A term with a replacement term does not have to have a label, but `replaced_by:` must be an `exact` replacement
4. Every term must have a `rdfs:seeAlso` to a GitHub issue. Where we don'

[2021-02-26 17:21] nicolevasilevsky commented on #239
Can we use some kind of tagging tool like Google OpenRefine to automatically map the parents and subclasses to Mondo IDs?

[2021-02-26 17:44] matentzn commented on #2738
Restrict properties? Currently no.

## Currently:

- consider:
- replaced_by:
- rdfs:seeAlso
- http://www.geneontology.org/formats/oboInOwl#hasAlternativeId
- http://www.geneontology.org/formats/oboInOwl#id
- http://www.geneontology.org/formats/oboInOwl#hasDbXref
- rdfs:comment
- http://www.geneontology.org/formats/oboInOwl#inSubset
- http://purl.obolibrary.org/obo/mondo#excluded_subClassOf
- http

[2021-02-26 18:01] nicolevasilevsky commented on #2684
talked to Chris - answer is yes

[2021-02-26 18:09] nicolevasilevsky commented on #2738
I love this

[2021-02-26 18:15] nicolevasilevsky opened #2739 "review subclasses that are supported only by EFO"
need to query for classes where the source annotation for the subclassOf axiom is only from EFO

related to
https://github.com/monarch-initiative/mondo/issues/834

[2021-02-26 18:27] nicolevasilevsky opened #2740 "[Revise subclass] 'Cogan syndrome'"
- [x] 'Cogan syndrome' is an autoimmune disease and ocular disease and should be classified as such.
related to https://github.com/monarch-initiative/mondo/issues/834

[2021-02-26 19:08] nicolevasilevsky opened #2741 "[Revise hierarchy] According to Harrison's Principles of Internal Medicine, 20e"
Per the Mondo call on 02/26/21, I will take a pass at reclassifying a branch in Mondo according to the Harrison's textbook, as a pre-workshop effort.

https://accessmedicine.mhmedical.com/book.aspx?bookID=2129#191736950

[2021-02-26 19:53] ewilcox19 opened #2742 "Rename ‘Carpenter syndrome 1’"
**Mondo term (ID and Label):**
Carpenter syndrome 1 (MONDO:0008710)

**Suggested new label:**
RAB23-related Carpenter syndrome

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)
https://orcid.org/0000-0003-4972-2947

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**

[2021-02-26 19:54] ewilcox19 opened #2743 "Rename ‘Carpenter syndrome 2’"
**Mondo term (ID and Label):**
Carpenter syndrome 2 (MONDO:0013998)

**Suggested new label:**
MEGF8-related Carpenter syndrome

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)
https://orcid.org/0000-0003-4972-2947

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**

[2021-02-26 20:13] nicolevasilevsky opened #2745 "add documentation about splitting OMIM terms"
Add to editors guide:
When splitting OMIM terms, where two terms are included on one record, use the relationship MONDO:relatedTo on the split term when xrefing OMIM.

see example:
https://github.com/monarch-initiative/mondo/issues/2684

[2021-02-27 16:00] maglott opened #2747 "policy for when a MIM number becomes gene-specific"
Not sure if this is the correct category, but I am looking for a statement of what MONDO does when a MIM number becomes gene-specific.

Case in point:
https://www.omim.org/phenotypicSeries/PS614594
https://omim.org/entry/614594
MONDO:0019014

Will the XREF on MONDO:0019014 change from OMIM:614594 to OMIMPS:614594, with new children created for OMLS1, OMLS2 and OLMSX?
Or will MONDO:0019014 be renam

[2021-02-27 16:02] matentzn commented on #2747
Good question! Such policies are managed by @cmungall and @nicolevasilevsky
So I will let them answer!

[2021-02-27 16:49] cmungall commented on #2747
I agree 1 is better but there is a 3rd option. We obsolete the ID and make
2 new IDs. This causes churn for people using the old id but we include
metadata eg consider tags and force people to make a choice when migrating
annotations

On Sat, Feb 27, 2021, 08:00 maglott <notifications@github.com> wrote:

[2021-02-27 23:20] #2663 closed

[2021-02-27 23:21] #2684 closed

[2021-02-28 13:33] maglott commented on #2747
Good point.  Is 3 the policy?

[2021-02-28 16:46] #2562 closed

[2021-02-28 17:46] nicolevasilevsky commented on #2660
@matentzn Can I edit the file?
we should call 'mental retardation, X-linked 49' 'intellectual disability, X-linked 49'

[2021-02-28 18:34] nicolevasilevsky opened #2749 "[Obsolete] 'chorea minor'"
**Mondo term (ID and Label)**
'chorea minor'

**Reason for deprecation**
obsoleted in GARD
cc @galyea-gard

**Suggested term to consider**
http://purl.obolibrary.org/obo/MONDO_0001595
'choreatic disease'

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-02-28 19:06] nicolevasilevsky commented on #2741
See PR- I reclassified neuro terms.

[2021-02-28 21:43] matentzn commented on #2660
Unfortunately no, you cant edit it..  fixing the capitalisation is easy I think (I hope!, but you will have to do the other ones).

[2021-02-28 22:13] matentzn commented on #2660
@nicolevasilevsky there are thousands of uses of `mental retardation` in Mondo - shouldn't we deal with them all at once?

[2021-02-28 23:42] #2742 closed

[2021-02-28 23:42] #2743 closed

[2021-02-28 23:46] nicolevasilevsky commented on #2660
yes, it would be great to deal with all the MR at once, i'll create a ticket

[2021-02-28 23:50] #2740 closed

[2021-02-28 23:51] nicolevasilevsky commented on #2126
related to
https://github.com/monarch-initiative/mondo/issues/2660

[2021-02-28 23:52] matentzn commented on #2738
@nicolevasilevsky can you start a github discussion with a nice text explaining why some terms may not have obsoletion reasons recorded for historical reasons, and inviting people to use the discussion to ask for the obsoletion reason of specific terms? The idea is basically, when we don't have a real obsoletion reason, why can link to this discussion, and people can ask there.

[2021-02-28 23:58] matentzn commented on #2738
Queries:
- [all obsolete terms including relevant metadata](https://api.triplydb.com/s/6CIdNhSyp)

[2021-03-01 00:19] matentzn commented on #2738
Why and when are we using `alt_id` as opposed to `replaced_by`? This seems odd:

[code]

[2021-03-01 00:35] matentzn commented on #2738
All seeAlso We may have to make some slow progress on this:
https://docs.google.com/spreadsheets/d/13eIa2Ihe6ChwOjH0s-8hp0K9IGMtveIqpFTtVvuvWK4/edit

Maybe during QC calls?

[2021-03-01 15:36] galyea-gard commented on #2749
Hi Nicole! Minor chorea was retired because it was duplicate of Sydenham's chorea; in addition, this synonym (minor chorea)  is currently not used anymore. Thank you! Gioconda

[2021-03-01 21:28] matentzn opened #2758 "OMIM slurp March 2021"
PS

xref:  {source="MONDO:equivalentTo"} !

- [x] [Term]
id: MONDO:0031048
name: macroglobulinemia, waldenstrom
xref: OMIMPS:153600 {source="MONDO:equivalentTo"} ! macroglobulinemia, waldenstrom

- [x] [Term]
id: MONDO:0031230
name: mitochondrial complex ii deficiency, nuclear type
xref: OMIMPS:252011 {source="MONDO:equivalentTo"} ! mitochondrial complex ii deficiency, nuclear type

- [x] [Term]
i

[2021-03-02 12:36] maglott commented on #2758
Capitalization is going to be fixed for these, I hope.  (I likely did not report all)
 macroglobulinemia, waldenstrom->  macroglobulinemia, Waldenstrom
amed syndrome -->AMED syndrome
mitochondrial complex ii deficiency, nuclear type-->mitochondrial complex II deficiency, nuclear type
joubert syndrome 37-->Joubert
olmsted syndrome--> Olmsted syndrome
hermansky-pudlak ->Hermansky-Pudlak
spermatogeni

[2021-03-02 21:45] Mohan-Shruthi commented on #2632
@nicolevasilevsky @ahamosh

Hi Nicole and Ada,

Apologies for the delay in response from our group!

We are outlining the rationale for lumping all the entities under the "PEX# gene defect": (1) the disease entity is a spectrum, with overlap among the phenotypes. However, we acknowledge that the severe form is clinically recognizable; (2) the nomenclature currently used with A and B subtypes are c

[2021-03-03 02:59] kshefchek opened #2759 "[Revise subclass] SIDS ! MONDO:0010086 subclass of Mendelian disorder"
**Mondo term (ID and Label)**
MONDO:0010086, sudden infant death syndrome

**Suggested revision and reasons**
https://www.ncbi.nlm.nih.gov/books/NBK513378/

"Evidence suggests likely genomic complexity and a degree of overlap amongst sudden cardiac death, SIDS, and SUDEP. The advent of next-generation sequencing will improve our understanding of the genetics of SIDS, and will result in more answer

[2021-03-03 04:07] nicolevasilevsky commented on #2759
I'm not sure if I can add a superclass assertion unless SIDS was always Mendelian.

cc @pnrobinson

[2021-03-03 04:10] kshefchek commented on #2759
To clarify, I was wondering if the subclass of assertion should be removed

[2021-03-03 04:12] nicolevasilevsky commented on #2759
Yes, I agree with you that it should. thanks for clarifying.

[2021-03-03 04:17] kshefchek opened #2760 "Question - Using Mondo to get a list of mendelian disorders"
I'm wondering if it's possible if I could use Mondo to narrow down a list of Mendelian disorders.  I noticed there is a superclass (Mendelian disease, MONDO:0003847), but this is missing some diseases (such as Mendelian subtypes of Parkinson disease), and may potentially include diseases that are not Mendelian (https://github.com/monarch-initiative/mondo/issues/2759). cc @cmungall @pnrobinson @nic

[2021-03-03 05:32] cmungall commented on #2760
So we should fix it so the class oi s either obsolete or complete!

[2021-03-03 05:37] nicolevasilevsky commented on #2760
It seems there are 10k subclasses of Mendelian diseases, does that seem right?

Both options seem like a lot of work, as many classes will be come orphaned if we obsolete Mendelian disease.

Could this be a topic for the workshop?

[2021-03-03 06:47] cmungall commented on #2760
We should infer it

On Tue, Mar 2, 2021, 21:37 Nicole Vasilevsky <notifications@github.com>
wrote:

[2021-03-03 12:08] pnrobinson commented on #2760
This number seems to be too high. OMIM now has 5619+1312+1657=8588 Mendelian or probably Mendelian diseases.
https://omim.org/statistics/entry
Depending on where one stands in the lumper/splitter debate, probably there are over 10K (e.g., the INCLUDED entries), but AFAIK we do not have them in MONDO (yet) and so probably there is something wrong here?

[2021-03-03 12:24] pnrobinson commented on #2759
In general, SIDS is not a Mendelian disease. This entry (https://omim.org/entry/272120) implies that there are genetic variants that confer increased susceptibility to SIDS in some cases, and thatbut it does not imply that all or even most cases of SIDS are Mendelian.
The entry states that some Mendelian arrhythmia genes can cause long QT (and other analogous examples), which can cause a potential

[2021-03-03 14:12] ahamosh commented on #2759
SIDS is in OMIM because of the way people use OMIM.  I agree with Peter.  SIDS should not be in Mondo as a Mendelian phenotype.

[2021-03-03 14:48] nicolevasilevsky commented on #2760
I'll need guidance how to set this up so it is inferred.

[2021-03-03 15:37] #2080 closed

[2021-03-03 15:38] #264 closed

[2021-03-03 16:35] kanems opened #2762 "Colon Serrated Polyposis [NTR]"
**Preferred term label:**
Colon Serrated Polyposis

**Synonyms**

XREFS:
NCIT:C96470 & UMLS CUI: C3272797

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
 The presence of multiple serrated polyps in the colon. The polyps are predominantly sessile serrated adenomas/polyps. A minority of the polyps are microvesicular variants of hyperplastic polyps. Accordin

[2021-03-03 16:38] kanems opened #2763 "Early T cell progenitor acute lymphoblastic leukemia [NTR]"
**Preferred term label:**
Early T cell progenitor acute lymphoblastic leukemia

**Synonyms**

early T acute lymphoblastic leukemia
early T-cell precursor acute lymphoblastic leukemia
early T-cell precursor lymphoblastic leukemia
ETP ALL
ETP-ALL

XREFS:
UMLS: C4329780 and NCIT:C130043

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
 T acute lymphoblastic le

[2021-03-03 17:23] gtsueng commented on #879
I think those were just potential xref urls that could be added if MONDO were so inclined.

[2021-03-03 17:26] nicolevasilevsky commented on #879
Ok, thank you! We'll look into this further as soon as possible.

[2021-03-03 19:10] nicolevasilevsky commented on #2738
@matentzn how is this?
https://github.com/monarch-initiative/mondo/discussions/2765

[2021-03-03 20:15] lcdaugherty opened #2766 "MONDO:0100096 COVID-19 obsoleted exactmatch MeSH ID C000657245"
MONDO:0100096 COVID-19 currently has ExactMatch for MeSH C000657245 but this seems have been obsoleted by MeSH (http://id.nlm.nih.gov/mesh/C000657245) and is now new MeSH D000086382 https://id.nlm.nih.gov/mesh/D000086382.html

links to https://github.com/monarch-initiative/mondo/pull/2265

[2021-03-03 20:38] nicolevasilevsky commented on #2766
thank you!

[2021-03-03 21:37] #2621 closed

[2021-03-04 02:09] dhimmel commented on #2766
Ah COVID-19 has been promoted from a supplemental concept record (`C000657245`) to a topical descriptor (`D000086382`)!

[2021-03-04 13:37] maglott opened #2767 "[Merge] MONDO:0012632 and MONDO:0011401"
**Mondo term (ID and Label)**
Alzheimer disease 15/MONDO:0012632 and
Alzheimer disease without neurofibrillary tangles/MONDO:0011401

**Reason for deprecation**
OMIM:611155 (MONDO:equivalentTo) is listed on MONDO:0012632, yet that OMIM record has been moved to https://www.omim.org/entry/604154
OMIM:604154 (MONDO:equivalentTo) is listed on MONDO:0011401, yet that MIM number now has a preferred labe

[2021-03-04 15:16] kanems opened #2768 "MONDO:0019313 "hereditary lymphedema" Clean up request"
**Mondo term (ID and Label):**
hereditary lymphedema ;  MONDO:0019313

I started off questioning some X-refs and it seems like this term and its children need a bit of attention overall... please see comments.

**Xref that should be fixed (ID and label):**
OMIMPS:153100 Which OMIM states is "Phenotypic Series - PS153100; _Lymphatic malformation_ - PS153100" does not match the concept of generic "h

[2021-03-04 16:57] nicolevasilevsky commented on #2738
Documenting the tags we'll use:
MONDO:outOfScope

[2021-03-04 16:58] nicolevasilevsky commented on #2738
we will use IAO property:
IAO:0000231 has obsolescence reason

[2021-03-04 18:39] jiaola opened #2770 "Add checks on existing pull requests when master branch is updated."
To stop the problem of merging conflicts to happen.

[2021-03-04 19:53] #2662 closed

[2021-03-04 21:40] #2660 closed

[2021-03-04 22:10] nicolevasilevsky opened #2774 "issues with ReadtheDocs - changes are not showing up"
Not sure who to assign this to:

I made some changes to this file (https://github.com/monarch-initiative/mondo/blob/master/docs/editors-guide/f-entities.md) and the changes are not showing up in RTD here: https://mondo.readthedocs.io/en/latest/editors-guide/f-entities/

See this PR:
https://github.com/monarch-initiative/mondo/pull/2769

[2021-03-04 22:11] nicolevasilevsky commented on #2774
Another issue:
The image is not showing up in this file:
https://github.com/monarch-initiative/mondo/blob/master/docs/developer-guide/release.md

[2021-03-04 22:16] cmungall commented on #2774
Do you mean mkdocs? We don't use rtd

On Thu, Mar 4, 2021, 14:11 Nicole Vasilevsky <notifications@github.com>
wrote:

[2021-03-04 22:28] nicolevasilevsky commented on #2774
Yes, that is what I mean - the editors guide

[2021-03-04 22:53] nicolevasilevsky commented on #2632
@Mohan-Shruthi this is fine with me, I'd like to hear @ahamosh's thoughts before we implement these changes.

[2021-03-04 23:36] nicolevasilevsky commented on #1589
@jiaola this is not high priority at the moment, but I think the action item here to use some kind of tagging tool like Google OpenRefine to automatically map the parents and subclasses to Mondo IDs? (Name matching), as mentioned in #239

[2021-03-05 00:13] nicolevasilevsky commented on #2774
to do:
- [ ] don't do alphabetical
- View Mondo:
AberOWL: http://aber-owl.net/ontology/MONDO/#/
BioPortal: https://bioportal.bioontology.org/ontologies/MONDO
OBO Foundry: http://obofoundry.org/ontology/mondo.html
Ontobee: http://www.ontobee.org/ontology/MONDO
Ontology Lookup Service: https://www.ebi.ac.uk/ols/ontologies/mondo
Monarch Initiative: https://monarchinitiative.org/disease/MONDO:0000001

[2021-03-05 00:14] nicolevasilevsky commented on #2774
[ ] to do:
need to make it clearer which one you are in. You can't tell from these URLs which is for editors and which is for end-users. The banner on the editors guide just says "Mondo Documentation". And the editors guide contains sections like 'rare disease analysis' and a 'Developer guide' and 'changelog' that feel like they are in the wrong place.

[2021-03-05 01:38] nicolevasilevsky commented on #2774
to do - try logging into RTD and triggering

[2021-03-05 02:03] #2762 closed

[2021-03-05 02:16] ahamosh commented on #2632
I have a couple more questions and suggestions:  I am confused as to why you want to put peroxisome biogenesis disorder under Zellweger spectrum.  The severe are Zellweger and the intermediate/mild aren't. One other point, don't call the non-infantile lethal mild.  No one with a disease thinks its mild. Call it attenuated or distinguish by age of onset. Finally, are you really going to get rid of

[2021-03-05 17:27] Mohan-Shruthi commented on #2632
The term "Zellweger spectrum disorder" is being used in the community to refer to all severity classes, with the "severe", "intermediate" and "mild" being used to refer to the clinical phenotypes. This was adopted due to the overlap in the clinical spectrum (although we agree one could recognize the severe patients amongst this group due to their extensive polymicrogyria). The fact that each child

[2021-03-05 19:21] nicolevasilevsky commented on #2774
this is fixed, thanks to @cmungall and @matentzn

I am going to close this ticket and move the website edits to another ticket b/c that is unrelated

[2021-03-05 19:21] #2774 closed

[2021-03-05 19:23] nicolevasilevsky commented on #2692
That approach above doesn't work.

Try this:
https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/

[2021-03-05 19:27] nicolevasilevsky opened #2782 "website edits needed"
to do:
- [x] don't do alphabetical
- View Mondo:
AberOWL: http://aber-owl.net/ontology/MONDO/#/
BioPortal: https://bioportal.bioontology.org/ontologies/MONDO
OBO Foundry: http://obofoundry.org/ontology/mondo.html
Ontobee: http://www.ontobee.org/ontology/MONDO
Ontology Lookup Service: https://www.ebi.ac.uk/ols/ontologies/mondo
Monarch Initiative: https://monarchinitiative.org/disease/MONDO:0000001

[2021-03-05 19:27] nicolevasilevsky commented on #2782
- [ ] add documentation about mass obsoletion

1. Create a list of terms to be obsoleted with CURIES (only) and save as obsolete_me.txt
(File already exists in git/mondo/src/scripts/obsolete_me.txt
2. save
3. Create branch
4. In terminal:
cd git/mondo/src/ontology/
sh run.sh make mass_obsolete GH_ISSUE=498 OBS_REASON=outOfScope

note - replace GH issue # with the proper GH issue number
if the obso

[2021-03-06 00:11] nicolevasilevsky opened #2784 "familial cancers (from OMIM or NCIT) should conform to the susceptibility pattern"
see: https://github.com/monarch-initiative/mondo/discussions/2672
pattern: https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/inherited_susceptibility.yaml

- [ ] 'familial colorectal cancer' should be renamed to 'colorectal cancer susceptibility'
- [ ] MONDO_0011789 'familial meningioma' should be renamed to 'meningioma susceptibility'
- [ ]

[2021-03-06 00:15] nicolevasilevsky commented on #2784
- [ ] '14q32 duplication syndrome'
- [ ] 'Castleman disease'
- [ ] 'Lhermitte-Duclos disease'
- [ ] 'OSLAM syndrome'
- [ ] 'Ollier disease'
- [ ] 'STAT3-related early-onset multisystem autoimmune disease'
- [ ] 'Waldenstrom macroglobulinemia'
- [ ] 'chromosome 5q deletion syndrome'
- [ ] 'congenital progressive bone marrow failure-B-cell immunodeficiency-skeletal dysplasia syndrome'
- [ ] 'familia

[2021-03-06 11:57] matentzn opened #2786 "Proxy merges when importing equvalencies"
10 proxy merges still slipped past the QC, which I noticed when I tried to tighten up the reasoning checks, not sure why:

- [x] MONDO:0006450 - MONDO:0007709
- [x] MONDO:0008078 - MONDO:0018208 - MONDO:0018975
- [x] MONDO:0008572 - MONDO:0018052 - MONDO:0020306
- [x] MONDO:0008751 - MONDO:0020489
- [x] MONDO:0011326 - MONDO:0016603
- [x] MONDO:0011849 - MONDO:0100231
- [x] MONDO:0012172 - MONDO:0

[2021-03-06 14:24] matentzn commented on #2786
Maybe @nicolevasilevsky this helps with tracking down the problem:
MONDO:0011849	MONDO:0100231	OMIM_607507
MONDO:0000721	MONDO:0018106	OMIMPS_278300
MONDO:0100231	MONDO:0011849	OMIM_607507
MONDO:0100241	MONDO:0002049	OMIMPS_313900
MONDO:0018106	MONDO:0000721	OMIMPS_278300
MONDO:0002049	MONDO:0100241	OMIMPS_313900

[2021-03-06 15:06] nicolevasilevsky commented on #2786
Thanks @matentzn, I will look into this

[2021-03-08 12:49] henryjcee commented on #2770
Hi @jiaola, I'm Henry and I'm currently working on [Merge Mamba](https://github.com/marketplace/merge-mamba). If your project is having trouble with merge conflicts you might find it helps to avoid them in future and it'll always be free for open source projects.

I'll be adding new features over the next few months so if there are any adjacent problems that your project would love a tool to help

[2021-03-09 01:05] nicolevasilevsky commented on #2768
From Joanna (OMIM):

It is a bit complicated.  The original lymphedema entries were
numbered 1, 2, 3 and were designated for the age of onset.  When
families were described with mutations, there were variable ages of
onset.  Then there were clinical entities described that had lymphatic
dysplasia (and lymphedema).  More recent families studied had
lymphoscintigraphy which highlighted malformations

[2021-03-10 17:18] nicolevasilevsky opened #2788 "typo: Orange Allery"
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http://purl.obolibrary.org/obo/MONDO_0000783

It says Orange Allery, where Allergy is missing the “g”

[2021-03-10 20:31] kanems opened #2789 "Cataract-glaucoma syndrome, cataract-glaucoma [Merge]"
**Mondo term (ID and Label)**
 Cataract-glaucoma, MONDO:0022676

**Reason for deprecation**
This is redundant with cataract-glaucoma syndrome.
MONDO:0022676 X-refs only GARD: GARD:0001160
However MONDO:0015567 (cataract-glaucoma syndrome) x-refs ORPHA:162, which in turn X-refs GARD:1160.

(Also update the UMLS Xref to C4305131, as this is where UMLS maps the SCTID:718851007)

**Term to be merged w

[2021-03-10 23:28] nicolevasilevsky commented on #2784
Need to update previous edits per conversation on discussion #2672
obsolete classes and create new classes with susceptibility label:
- [ ] MONDO:0011789 familial meningioma
- [ ] MONDO:0023113 familial colorectal cancer
- [ ] MONDO:0024462 cutaneous melanoma susceptibility
- [ ] MONDO:0016248 familial ovarian cancer
- [ ] MONDO_0003582 'hereditary breast ovarian cancer syndrome'

[2021-03-11 01:25] #2788 closed

[2021-03-11 01:26] #2763 closed

[2021-03-11 15:46] nicolevasilevsky opened #2794 "QC check - check synonyms use dbxref and not source"
Need a QC check to make sure the annotation on synonyms is a dbxref and not a source.

It should look like:
synonym: "DEE90" EXACT [OMIM:301058]

and not
synonym: "DEE90" EXACT [] {source="OMIM:301058"}

[2021-03-11 16:22] nicolevasilevsky opened #2795 "add OMO import"
to get the IAO obsolescence reason label

[2021-03-11 16:23] nicolevasilevsky commented on #2436
this is working!

[2021-03-11 16:23] #2436 closed

[2021-03-11 16:31] matentzn commented on #2739
https://api.triplydb.com/s/lrpk3ZC_V

[2021-03-11 16:37] matentzn commented on #2739
https://docs.google.com/spreadsheets/d/13eIa2Ihe6ChwOjH0s-8hp0K9IGMtveIqpFTtVvuvWK4/edit#gid=843028484

[2021-03-11 16:50] nicolevasilevsky commented on #1665
there is a check for this but this doesn't trigger a fail because there are too many positive hits.

[2021-03-11 17:26] #2758 closed

[2021-03-11 17:41] matentzn commented on #1665
Report:
https://docs.google.com/spreadsheets/d/13eIa2Ihe6ChwOjH0s-8hp0K9IGMtveIqpFTtVvuvWK4/edit#gid=534546997

[code]

[2021-03-11 17:59] nicolevasilevsky commented on #2212
FYI - Trifunctional Protein Deficiency With Myopathy And Neuropathy is MESH:C566945

related to https://github.com/monarch-initiative/mondo/issues/2786

[2021-03-11 18:12] nicolevasilevsky commented on #2619
- [ ] need to make sure synonym pattern is not equivalent to the label

[2021-03-11 19:52] #2126 closed

[2021-03-11 20:21] nicolevasilevsky commented on #2759
I excluded the superclass of Mendelian disease, but I wonder if we should create a subclass of SIDS that is equiv to the OMIM term, and has the syn 'sudden infant death syndrome, susceptibility to' and conforms to the susceptibility pattern?

https://omim.org/entry/272120

Right now, the current class has the subclass axiom
'disease has basis in dysfunction of' some SCN5A

which is probably not tr

[2021-03-11 21:20] #2786 closed

[2021-03-11 21:24] ahamosh commented on #2759
There are lots of genes to which this can be linked and mostly to no genes at all.  Can we talk?  This is too complicated to type out.

[2021-03-11 21:29] nicolevasilevsky commented on #2759
Absolutely! Are you by chance free right now?
Or we have our Mondo call tomorrow at 12pm ET

[2021-03-11 21:33] ahamosh commented on #2759
Yes, happy to talk now: 410-961-0065
Ada

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nicole Vasilevsky ***@***.***>
Sent: Thursday, March 11, 2021 4:29:28 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Ada Hamosh ***@***.***>; Mention ***@***.***>
Subject: Re: [monarch-initiative/mondo] [Revise subclass] SIDS ! MONDO:0010086 subclass of Mendelian disorder (

[2021-03-11 22:04] nicolevasilevsky commented on #2759
Per discussion with Ada, the recommendation is to obsolete this term, as it is not really a disease, and it is really an outcome of a variety of potential reasons, some which could be genetic, or environmental or maybe entirely unknown.

[2021-03-11 22:30] nicolevasilevsky commented on #407
Note to self - this will be addressed with https://github.com/monarch-initiative/mondo/discussions/2672

[2021-03-12 10:51] matentzn commented on #1665
Discussed in meeting:
- [ ] use flaggedForReviewByCheck ---> sparql check (make this a general theme throughout)
- [ ] introduce a fail for future additions

[2021-03-12 17:28] nicolevasilevsky opened #2804 "[Obsolete] MONDO_0020671 'obsolete susceptibility to ischemic stroke'"
**Mondo term (ID and Label)**
MONDO_0020671 'obsolete susceptibility to ischemic stroke'

**Reason for deprecation**
phenotype

**Suggested term to consider**
HPO: ischemic stroke

Per discussion on the Mondo call 03/12/21

[2021-03-12 19:52] kanems opened #2806 "short-rib thoracic dysplasia 7/ short rib-polydactyly syndrome type 5 [Merge]"
**Mondo term (ID and Label)**
MONDO:0044680 ; short rib-polydactyly syndrome type 5

**Reason for deprecation**
Cross-reference on this term is Orphanet:498497 (MONDO:equivalentTo); and OrphaNet Says this term maps to OMIM: 614091, which is already mapped to MONDO:0013569; short-rib thoracic dysplasia 7 with or without polydactyly. OMIM itself says https://www.omim.org/entry/614091 has pref. name

[2021-03-12 21:11] kanems opened #2807 "Friedreich ataxia MONDO:0009245"
Can Friedreich ataxia MONDO:0009245  be split to have the parental concept (including Orpha:95 and GARD:6468) on this term and then
--> create a new term for Friedreich ataxia 1 (MIM: 229300; & MeSH C565561; UMLS CUI: C1856689)

I realize OMIM has FRDA and FRDA1 as alternate names for the same term, but we have users submitting on the general concept and separately on the FRDA1 sub-type and it wou

[2021-03-12 21:17] kanems opened #2808 "OMIM "included" entries and not the preferred names on MONDO terms"
NV to do:  _updated 02/10/22_
I need to write out concrete action items for Nico to work on this.

[2021-03-12 21:29] kanems commented on #2808
I have run into a couple of cases where an OMIM entry is only once in MONDO, but the disease name it is associated with is the OMIM "included" disorder, not the preferred name from OMIM. We handle these "included" terms as distinct entries in MedGen and thus cannot link a MONDO ID to the term which is OMIM's preferred term. Some examples:
I.	MONDO:0007691 “chronic inflammatory demyelinating polyne

[2021-03-12 21:40] kanems opened #2809 "MONDO:0044808 and MONDO:0007492 [Merge]"
**Mondo term (ID and Label)**
MONDO:0044808 early onset primary dystonia

**Reason for deprecation**
Based on synonyms on this term and UMLS mapping of the NCI code, this seems to be a synonym of another term in MONDO: MONDO:0007492
early-onset generalized limb-onset dystonia (but something seems off with this name.. is it meant to imply that the disease onset is both early in life and the earlies

[2021-03-12 21:59] kanems commented on #2648
I agree with this merge.

[2021-03-14 18:47] matentzn opened #2810 "Last remaining OMIM terms for March"
As always (until fixed), synonyms need to be manually fixed (lower cased, pulled apart etc).

[code]

[2021-03-15 17:16] #2804 closed

[2021-03-15 19:36] nicolevasilevsky commented on #523
@ahamosh I see this is still in OMIM. Do you think we should obsolete it in Mondo? Will you obsolete it or keep it in OMIM?
Thanks!

[2021-03-15 19:40] ahamosh commented on #523
Hi Nicole, can you define what this is?  "This" is still in OMIM above.  I tried reading the string and am still uncertain.  Sorry!

[2021-03-15 20:14] nicolevasilevsky commented on #523
Hi - apologies! I meant [OMIM:607682](https://omim.org/entry/607682) EPILEPSY, IDIOPATHIC GENERALIZED, SUSCEPTIBILITY TO, 9; EIG9

(MONDO_0011892 'epilepsy, idiopathic generalized, susceptibility to, 9')

[2021-03-15 23:14] #2809 closed

[2021-03-15 23:19] #2705 closed

[2021-03-16 00:01] ahamosh commented on #523
We are going to keep this in OMIM.  While the evidence is very weak, there is no evidence against.  It may disappear someday, but not yet.

[2021-03-16 00:17] nicolevasilevsky commented on #523
We like to follow OMIM, we'll keep it too, thanks!

[2021-03-16 00:17] #523 closed

[2021-03-16 00:36] #2810 closed

[2021-03-17 18:37] #2536 closed

[2021-03-17 18:39] #2749 closed

[2021-03-17 18:40] #2759 closed

[2021-03-17 18:41] #2733 closed

[2021-03-17 18:42] #2767 closed

[2021-03-17 18:42] #2789 closed

[2021-03-17 18:43] #2806 closed

[2021-03-17 18:43] #55 closed

[2021-03-17 18:46] nicolevasilevsky opened #2824 "[Obsolete] 'unclassified cardiomyopathy'"
**Mondo term (ID and Label)**
 'unclassified cardiomyopathy'

**Reason for deprecation**
too general/non-specific grouping class

**Suggested term to consider**
cardiomyopathy

[2021-03-17 19:00] nicolevasilevsky commented on #2668
Hi @maglott from what I can see, OMIM lists RBCK1 as the gene, and Orphanet has RBCK2 (see https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_397937).

I am not sure that these are equiv, and I also don't think they should be parent and child.

Would you mind double checking and let me know if you agree? Thanks!

[2021-03-17 22:12] maglott commented on #2668
I am confused.  When I go to https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=397937, and display the genes, I see RANBP2-type and C3HC4-type zinc finger containing 1 - RBCK1.
Seems ordo and Orphanet differ.

[2021-03-19 14:08] kanems opened #2825 "neuronal ceroid lipofuscinosis 6/4A ?"
I am wondering about the distinction between CLN6 and CLN4A. They have the same molecular cause, but it seems ages of onset might be different? Is that why the are displayed as a Parent (4A) and child (6) relationship in MONDO? Is this the best relationship for these terms? (If anything I might think the relationship should be reverse based on the statement from OMIM below.)

Both exist as separat

[2021-03-19 16:25] kanems opened #2826 "Visceral/total heterotaxy?"
**Summary for discussion with Peter and Ada:**
See [comment](https://github.com/monarch-initiative/mondo/issues/2826#issuecomment-953250968) with figure below.

_updated 2021-10-27 NV_

----

I am trying to sort through the X-refs and mappings between MONDO:0018677 Visceral heterotaxy and its children. These are my thoughts/suggestions but I am open to other clarifications/explanations for the cur

[2021-03-19 18:00] kanems opened #2827 "MONDO:0021533 intestinal neuroendocrine tumor G1"
**Mondo term (ID and Label):**
MONDO:0021533 intestinal neuroendocrine tumor G1

**Xref that should be fixed (ID and label):**
Move OMIM:114900 "CARCINOID TUMORS, INTESTINAL" to this term (and remove it from MONDO:0006689 "carcinoid syndrome")  (The source for this OMIM X-ref is given as ORPHA100093, but this entry in Orphanet no longer cites the MIM #)

**Your nano-attribution (ORCID)**
If you do

[2021-03-19 18:47] kanems opened #2828 "split term: mitochondrial DNA depletion syndrome 12"
**Term to split:**
MONDO:0014175 , mitochondrial DNA depletion syndrome 12

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
MONDO:0014175 , mitochondrial DNA depletion syndrome 12

*NEW* Mitochondrial DNA depletion syndrome 12b (cardiomyopathic type), autosomal recessive

**List properties that should be moved to new term:

[2021-03-19 20:12] kanems opened #2829 "MIM 614204 names spread across multiple MONDO concepts"
I am trying to figure out how to best map:

I find:
**MONDO:0015598** - acrodermatitis continua suppurativa of Hallopeau (X-refs Orphanet:163931 "Acrodermatitis continua of Hallopeau" )
**MONDO:0018452** - Deficiency of the interleukin-36 receptor antagonist (has a syn of "familial generalized pustular psoriasis", X-refs ORPHA:404546, which in turn cites OMIM: 614204)
**MONDO:0013626** - psoriasis

[2021-03-19 20:53] nicolevasilevsky opened #2830 "review Guillain-Barré syndrome"
MONDO_0007691 'chronic inflammatory demyelinating polyneuropathy'
xrefs OMIM: https://www.omim.org/entry/139393

MONDO_0016218 'Guillain-Barre syndrome'
some of the children may be incorrect

[2021-03-19 21:20] nicolevasilevsky commented on #2830
see:
https://accessmedicine.mhmedical.com/content.aspx?bookid=2129&sectionid=192533488

[2021-03-20 00:55] nicolevasilevsky opened #2832 "add check to stop diseases like this from rising up to the top"
'regional odontodysplasia'
'segmental odontomaxillary dysplasia'

these should not be top level classes

is there a way to check for this and put up a warning?

[2021-03-20 01:03] nicolevasilevsky opened #2833 "fix 'terms merged' individual"
see: https://github.com/monarch-initiative/mondo/pull/2811

[2021-03-20 01:04] #2648 closed

[2021-03-22 11:28] matentzn commented on #2833
Hey @nicolevasilevsky sorry I am a bit beside myself this week; can you tell me a reproducible example? As far as I can see, mondo.edit does not use the terms merged individual anymore?

[2021-03-22 11:40] matentzn commented on #2832
What do you mean by "rising to the top"? Higher than "Disease or Disorder"? Can you show a screenshot?

A test like this would be easy to make. We could say: all classes must be under one of the three Mondo root classes.

[2021-03-22 15:41] kanems opened #2836 "MONDO:0008820 [Merge]"
**Mondo term (ID and Label)**
MONDO:0008820, arthrogryposis, distal, with hypopituitarism, mental retardation, and facial anomalies

**Reason for deprecation**
The OMIM entry 208080, aka CHITAYAT-HALL SYNDROME, on this MONDO term has been moved/merged with  615547, Schaaf-Yang syndrome.

**Term to be merged with**
MONDO:0014243,  Prader-Willi syndrome due to point mutation

**Your nano-attribution

[2021-03-22 16:42] nicolevasilevsky commented on #2832
I meant it is a child of 'disease or disorder'

![image](https://user-images.githubusercontent.com/6722114/112025856-d8443700-8af2-11eb-98d3-47a67a19bea3.png)

[2021-03-22 19:37] #2833 closed

[2021-03-22 21:01] kanems opened #2840 "split term: alopecia universalis"
**Term to split:**
MONDO:0008757 alopecia universalis

**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
alopecia universalis
alopecia universalis congenita

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties (such as synonyms and database cross references)

[2021-03-22 21:09] larrybabb opened #2841 "UMLS with CN prefixed ids are incorrect throughout... i think"
**Mondo term (ID and Label):**
if you look at the example xrefs at https://monarchinitiative.org/disease/MONDO:0012172

**Xref that should be fixed (ID and label):**
you will see several UMLS:CNxxx CURIEs. These will not resolve as they are illegitimate identifiers in UMLS.

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other co

[2021-03-22 21:19] kanems opened #2842 "MONDO:0015601 X-linked intellectual disability, van Esch type"
Is MONDO:0015601  X-linked intellectual disability, van Esch type truly equivalent to MIM 301030 (Van Esch-O'Driscoll syndrome) ?
If so, I think it would be good to add the OMIM preferred name as a synonym on this term.
There are currently 2 concepts in UMLS for these names: VAN ESCH-O'DRISCOLL SYNDROME (C5193012) and X-linked intellectual disability Van Esch type (C4305072).

@ahamosh

[2021-03-22 21:20] maglott commented on #2841
The CN identifiers are retained to support queries, but MedGen does (try to)  replace the CN with a CUI from UMLS when available.  That reminds me to generate a report of CN CUI that seem to be primary in Mondo but not in MedGen.  I agree that the CN CUI should be deprecated in Mondo when no longer primary.

[2021-03-22 21:27] kanems opened #2843 "MONDO:0019425 and MONDO:0010574 [Merge]"
**Mondo term (ID and Label)**
MONDO:0019425
X-linked intellectual disability-hypotonia-facial dysmorphism-aggressive behavior syndrome

**Reason for deprecation**
This X-refs OrphaNet ORPHA:85329, which in turn maps to OMIM: 304340, which is on MONDO:0010574. Both the OrphaNet term and the MIM term have molecular link/cause of AP1S2 and OMIM doesn't have any other disease phenotypes currently asso

[2021-03-22 21:51] kanems opened #2844 "X-linked Hypophosphatemic Rickets (NCIT:C123265)"
**Mondo term (ID and Label):**
MONDO:0010619, X-linked dominant hypophosphatemic rickets

**Xref that should be fixed (ID and label):**
NCIT:C123265 (MONDO:equivalentTo) X-linked Hypophosphatemic Rickets  is not inherently dominant or recessive, from what I can see on NCIT. : https://ncithesaurus.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI_Thesaurus&ns=ncit&code=C123265 Maybe it used

[2021-03-23 00:47] abbe-Lai commented on #2547
Hello Nicole,

My apologies I completely missed this email. We do want isolated FCD do be under this term as well. We would not want to remove the association from MTOR TSC1 and TSC2 though. Is it okay to have this as a child term but still have it associated with those genes?

Best,
Abbe Lai

From: Nicole Vasilevsky ***@***.***>
Reply-To: monarch-initiative/mondo ***@***.***>
Date: Tuesday, Febru

[2021-03-23 00:55] larrybabb commented on #2841
Agree @maglott and if you could also verify that the CN CUIs that are in MedGen are NOT in UMLS. If so, then I think mondo should create a namespace specifically for MedGen separately from UMLS for these valid CN CUIs. Please validate.

[2021-03-23 04:20] ahamosh commented on #2842
As far as I can tell they are the same.  I will check with Joanna and Carol.

[2021-03-23 11:06] maglott commented on #2841
CN CUI are specific to MedGen/NCBI.  No CN CUI comes from UMLS.

[2021-03-23 14:30] maglott commented on #2841
I've also been asked to remind all
* MedGen creates CN 'CUI' when a term is added to MedGen but cannot be mapped to a CUI from UMLS.
The majority of CN 'CUI' are thus in the categories of
* new term from OMIM not added to UMLS
* terms created for phenotypes like drug responses
* terms novel to submitters that NCBI staff has not succeeded in mapping to concepts in UMLS

[2021-03-23 19:31] ValWood opened #2845 "[NTR] NEDMILG/Neurodevelopmental Disorder with Microcephaly, Impaired Language, and Gait Abnormalities"
Neurodevelopmental Disorder with Microcephaly, Impaired Language, and Gait Abnormalities

**Synonyms**
NEDMILG

causative gene NARS1

**Definition**

see
https://www.omim.org/entry/108410#molecularGenetics

[2021-03-23 19:37] nicolevasilevsky commented on #2845
https://www.omim.org/entry/619091

@matentzn will this come in in an OMIM slurp?

[2021-03-23 21:13] nicolevasilevsky commented on #2841
@maglott that would be great if you could generate a report and we'll work on updating them.

[2021-03-23 21:13] nicolevasilevsky commented on #2841
@larrybabb thanks for this suggestion, I'll talk to our development team about this.

[2021-03-23 21:22] nicolevasilevsky commented on #2668
@maglott I think I'm mistaken, looking again it looks like RBCK1 is a synonym of RANBP2-type and C3HC4-type zinc finger containing 1.

I do agree these terms are equivalent.

I'll send this out to the Mondo users list for comment, then will merge these.

[2021-03-23 21:36] nicolevasilevsky commented on #2691
cc @ahamosh and @ana-rath-orphanet

[2021-03-24 14:55] kanems commented on #2693
Another example:
ORPHA:540 "Familial hemophagocytic lymphohistiocytosis" is currently mapped to MONDO:0009974 "familial hemophagocytic lymphohistiocytosis type 1"
The Orpha:540 term maps to OMIM: 267700 , 603552 , 603553 , 608898 , 613101
ON MONDO:0009974, there is only 267700. Suggest making a new term for ORPHA:540 "Familial hemophagocytic lymphohistiocytosis", then setting the MIM subtypes as c

[2021-03-24 15:33] kanems opened #2847 "MONDO:0012324, 14q22q23 microdeletion syndrome"
**Mondo term (ID and Label):**
MONDO:0012324, 14q22q23 microdeletion syndrome

**Xref that should be fixed (ID and label):**
OMIM:609640 (Orphanet:264200) ??
The OMIM entry is for FRIAS SYNDROME
Alternative titles; symbols : CHROMOSOME 14q22 DELETION SYNDROME
GROWTH DEFICIENCY, FACIAL ANOMALIES, AND BRACHYDACTYLY
Cytogenetic location: _14q22.1-q22.3_

 It seems like maybe this should not be equiva

[2021-03-24 16:33] ahamosh commented on #2693
There is a phenotypic series: PS267700 which should map to the Orpha and Mondo parents. The five you note above are the children split by molecular basis (gene).

[2021-03-24 17:08] #2691 closed

[2021-03-24 19:02] kanems opened #2850 "MONDO:0002520 acute hepatic porphyria"
**Mondo terms (ID and Label):**
MONDO:0002520 acute hepatic porphyria (and children, specifically: MONDO:0013000 porphyria due to ALA dehydratase deficiency)

This MONDO parent concept shares the specific preferred name from OMIM 612740; and UMLS maps this term to "Porphobilinogen synthase deficiency, UMLS CUI: C0268328" which is also where UMLS maps "Porphobilinogen synthase deficiency" SNOMEDCT_

[2021-03-24 19:34] kanems opened #2852 "MONDO:0009317, nonphotosensitive trichothiodystrophy ORPHA X-ref"
**Mondo term (ID and Label):**
MONDO:0009317,nonphotosensitive trichothiodystrophy

**Xref that should be fixed (ID and label):**
Update ORPHA:1245  to ORPHA:33364

(also the CUI from UMLS is C1955934, the other CUI from Orpha:33364 isn't current)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**

[2021-03-24 19:39] kanems commented on #2852
Correction: ORPHA 33364 is for the parent concept of trichothiodystrophy, I can't find a valid cross reference for nonphotosensitive trichothiodystrophy in UMLS or OrphaNet.

[2021-03-24 23:55] nicolevasilevsky commented on #2847
@kanems I'm not sure which is correct. Seems like GARD groups these together too: https://rarediseases.info.nih.gov/diseases/2384/frias-syndrome

We tend to follow OMIM, Orphanet and GARD as our primary sources, so I think since they all xref each other and combine these, we'll keep them combined.

I'll use 'Frias syndrome' as the primary label.

Let me know if that doesn't adequately address this

[2021-03-25 00:06] nicolevasilevsky commented on #2850
@ahamosh see above ^

[2021-03-25 00:17] nicolevasilevsky commented on #2850
@kanems I renamed MONDO_0002520 to hepatic porphyria and made acute hepatic porphyria a narrow synonym. I think that addresses all of your requests above.

MONDO_0013000 'porphyria due to ALA dehydratase deficiency' is a child (xref OMIM:612740)

[2021-03-25 00:28] nicolevasilevsky commented on #2850
I moved the xref to NCIT:C133887 acute hepatic porphyria to MONDO_0013000

[2021-03-25 00:46] nicolevasilevsky commented on #2852
looks like this has been obsoleted in orphanet, I'll obsolete it in Mondo too

[2021-03-25 17:27] nicolevasilevsky commented on #2841
action item:
replace IDs that contain UMLS:CN with MEDGEN:CN

check with Nico and Dazhi to make sure everything works downstream of this (ie pipelines that make SKOS, etc).

[2021-03-25 18:29] nicolevasilevsky commented on #2841
@matentzn we can work on this together but there is not a huge hurry

[2021-03-25 18:34] nicolevasilevsky commented on #2747
Hi @maglott yes- that is the policy, there is more detail here:
https://mondo.readthedocs.io/en/latest/editors-guide/splitting-classes/

[2021-03-25 18:34] nicolevasilevsky commented on #2747
I think this can be closed, please reopen if there are more questions.

[2021-03-25 18:34] #2747 closed

[2021-03-25 18:42] nicolevasilevsky opened #2857 "[Merge]'deafness-enamel hypoplasia-nail defects syndrome' and Heimler syndrome"
**Mondo term (ID and Label)**
 MONDO:0009325 'deafness-enamel hypoplasia-nail defects syndrome'

**Reason for deprecation**
duplicate

**Term to be merged with**
MONDO:0100229 Heimler syndrome

[2021-03-25 18:42] nicolevasilevsky commented on #2857
related to: https://github.com/monarch-initiative/mondo/issues/1490

[2021-03-25 18:56] nicolevasilevsky commented on #2857
- [ ] add axioms to Heimler 1 and heimler 2 (heimler syndrome and 'disease has dysfunction' some Gene)

[2021-03-25 20:18] nicolevasilevsky commented on #2632
This is what is proposed above:
![image](https://user-images.githubusercontent.com/6722114/112537958-8b6b9500-8d6c-11eb-85d7-2d7d75276956.png)

and we'd add the subClassOf axiom to the classic form:
'has modifier' some Severe

and the subClassOf axiom to the non-classic form:
'has modifier' some Moderate

[2021-03-25 20:28] cthoyt opened #2858 "Typo in synonyms of MONDO:0008780"
**Mondo term (ID Label)**

`MONDO:0008780`

**Bug/Typo/Error description**

Typo in `OMIM` prefix in following synonym of OBO export:

`synonym: "amyotrophic lateral sclerosis 2" EXACT [DOID:0060194, OMIMl:205100]`

**Your nano-attribution (ORCID)**

https://orcid.org/0000-0003-4423-4370

[2021-03-25 21:41] maglott commented on #2747
@cmungall , thanks for the link to the doc.

[2021-03-26 00:58] nicolevasilevsky commented on #2858
thanks!

[2021-03-26 12:39] ahamosh commented on #2842
These are the same.

[2021-03-26 13:21] kanems commented on #2842
Thank you, Ada.

[2021-03-26 14:48] #2858 closed

[2021-03-26 15:00] #2847 closed

[2021-03-26 15:14] #2850 closed

[2021-03-26 15:15] #2534 closed

[2021-03-26 15:23] #2717 closed

[2021-03-26 15:24] #2690 closed

[2021-03-26 15:26] #1376 closed

[2021-03-26 16:07] kanems opened #2862 "MONDO:0012048 endogenous depression/OMIM:608516"
**Mondo term (ID and Label):**
MONDO:0012048 endogenous depression

**Xref that should be fixed (ID and label):**
OMIM:608516  should maybe map to either "MAJOR DEPRESSIVE DISORDER; MDD" (MONDO:0002009) or the Alternative titles; symbols from OMIM-  UNIPOLAR DEPRESSION (MONDO:0005263)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-03-26 16:31] kanems commented on #1745
@nicolevasilevsky, I see this is moved to high priority, just wanted to follow up on this ticket/issue. For MedGen users, it would be helpful if we had a separate term, a new term for "Optic Nerve Hypoplasia, Bilateral" with X-refs: OMIM:165550 , UMLS:C1833797 , MESH C563492, NCIT C101268, ICD10 H47.033
Thanks!

[2021-03-26 16:57] kanems opened #2863 "OMIM:614163 (DELAYED SLEEP PHASE DISORDER, SUSCEPTIBILITY TO; DSPD)"
**Mondo term (ID and Label):**
MONDO:0013600 Insomnia (disease)

**Xref that should be fixed (ID and label):**
OMIM:614163 (DELAYED SLEEP PHASE DISORDER, SUSCEPTIBILITY TO; DSPD) move to MONDO:0024377 circadian rhythm sleep disorder, delayed sleep phase type, which lists the abbreviation DSPD [ DOID:0111141 ]

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [h

[2021-03-26 17:29] kanems opened #2864 "ectrodactyly polydactyly [Merge]"
**Mondo term (ID and Label)**
MONDO:0023052
ectrodactyly polydactyly

**Reason for deprecation**
Redundant term

**Term to be merged with**
MONDO:0009156 ectrodactyly-polydactyly syndrome

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-03-26 17:53] nicolevasilevsky opened #2866 "NTR: atactic disorder"
Per the Mondo call on 03/26/21, we'll create a new term: atactic disorder and reclassify the children.

New hierarchy:
![image](https://user-images.githubusercontent.com/6722114/112675915-ff697400-8e24-11eb-816d-7995a95a1be8.png)

Note: `hereditary ataxia` had an xref to  NCIT:C140268 'hereditary ataxia', I split `hereditary ataxia` into `hereditary ataxia` and `hereditary cerebellar ataxia`

[2021-03-26 20:00] kanems opened #2868 "MONDO:0011645 aneurysmal bone cysts & MONDO:0018815 aneurysmal bone cyst (disease)[Merge]"
**Mondo term (ID and Label)**
MONDO:0011645 aneurysmal bone cysts

**Reason for deprecation**
Redundant term

**Term to be merged with**
MONDO:0018815 aneurysmal bone cyst (disease)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-03-26 20:06] kanems opened #2869 "MONDO:0011727 anorexia nervosa, susceptibility to, 1[Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0011727 anorexia nervosa, susceptibility to, 1

**Suggested revision and reasons**
Make a child of MONDO:0005351 anorexia nervosa instead of an "orphaned" child of Mendelian disease (MONDO:0003847)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-03-26 20:45] nicolevasilevsky commented on #2866
References:
PMID:32965955

Harrison's: ISBN-13:978-1259644030

[2021-03-27 00:13] #2852 closed

[2021-03-27 00:23] nicolevasilevsky commented on #2863
I'm not sure if these are equivalent, I agree with your suggestion to move the OMIM xref to MONDO:0024377 circadian rhythm sleep disorder, delayed sleep phase type

I feel like this is one of those more complicated questions about susceptibility though. Maybe we could discuss at our upcoming workshop?

[2021-03-27 00:33] nicolevasilevsky commented on #2862
Hi @kanems this one is a bit complicated because it seems that OMIM combines several diseases in one record, where we separate them out in Mondo.

I feel like this would be a good one to discuss with the larger group too.

[2021-03-27 00:40] nicolevasilevsky commented on #2547
Thankss @abbe-Lai. I haven't had a chance to look at this closely yet, but I will do asap. :)

[2021-03-29 13:19] bmeldal opened #2870 "MONDO:0014160 - add synonym & description"
**Mondo term (ID and Label)**
MONDO:0014160

**Synonym to be added**
IMD7
Immunodeficiency 7
Immunodeficiency 7, TCR-alpha/beta deficient

**Synonym subtype: ie, broad/exact/narrow/related**
EXACT

**Description to be added**
A primary immunodeficiency disorder manifesting with recurrent respiratory infections, candidiasis, diarrhea, and failure to thrive. Patients show a clear predisposition to h

[2021-03-30 14:09] kanems commented on #204
Hi Nicole, Can this be addressed sooner rather than later? NBIA2A is very popular term in NIH GTR (77 active tests) & ClinVar (>150 variant submissions) and we can't put a MONDO ID on it till this is merged/closed out. Thanks!

[2021-03-30 14:10] kanems commented on #2330
Nicole: Is this something that needs to be discussed at the Workshop, or do you think Ada's comment above it sufficient to clarify what to do with the RWS term?

[2021-03-30 16:22] monicacecilia commented on #47
Thank you Nicole. YES! Seconding Julie's comment, if the QC team could please work on adding this, that would be brilliant. Thank you!

[2021-03-30 16:39] nicolevasilevsky commented on #2330
Hi @kanems I'll try to work on this this week. :)

[2021-03-30 16:40] nicolevasilevsky commented on #204
Hi @kanems yes, I'll prioritize this!

[2021-03-30 20:07] nicolevasilevsky opened #2891 "[Obsolete pattern] genetic.yaml"
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/genetic.yaml

genetic has been obsoleted and replaced by http://purl.obolibrary.org/obo/MONDO_0021152 inherited

can we obsolete this pattern (https://github.com/monarch-initiative/mondo/blob/master/src/patterns/dosdp-patterns/genetic.yaml) and replace it with https://github.com/monarch-initiative/mondo/blob/master

[2021-03-31 00:56] cmungall opened #2893 "review infectious disease DP"
[code]

![image](https://user-images.githubusercontent.com/50745/113075006-fbb95280-9180-11eb-8afb-339e81ac0a0c.png)

this is not right

this should classify in the metaclass infectious_disease_by_agent

the logical def should change to conform

we also need a check, as infectious diseases shouldn't use realized_in_response_to_stimulus

[2021-03-31 01:02] cmungall commented on #2893
we also need to define what is the end point of an infectious disease

name: infectious disease
def: "A disorder resulting from the presence and activity of a microbial, viral, or parasitic agent. It can be transmitted by direct or indirect contact." [NCIT:C26726]

This is vague

is it intended that this covers subacute sclerosing panencephalitis (a chronic progressive encephalitis that develops _

[2021-03-31 05:49] cmungall commented on #204
I agree with @kanems analysis

[2021-03-31 15:28] #204 closed

[2021-03-31 18:25] nicolevasilevsky commented on #2330
Revised to do:
-MONDO:0019171 'familial long QT syndrome' (ORPHA:101016, UMLS: C0035828) - add syns: Romano Ward syndrome and Long QT syndrome
--MONDO_0008646 'long QT syndrome 1' (OMIM:192500)

[2021-03-31 18:27] nicolevasilevsky commented on #2330
Oh, looking at this more closely though, this is going to cause a proxy merge for Orphanet - Orphanet has a separate called for [Romano Ward syndrome ](https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_101016&viewMode=All&siblings=false).

I'd just like to double check this with @cmungall

[2021-03-31 18:54] nicolevasilevsky commented on #2330
update- Chris said he is okay with it, I will check with Orphanet too but will proceed with this in Mondo now.

[2021-03-31 21:00] nicolevasilevsky opened #2896 "revisions to COVID-19 hierarchy"
Regarding current classification, from @cmungall
is this the correct placement of long COVID-19? Is long covid a subtype of covid, or a consequence of it? We have a class 'post-viral disorder' where we have things like shingles (of course, long covid may not be a reactivation in the same way but the general principles re subtypes vs sequelae should apply)

proposed hierarchy from @pnrobinson:

SAR

[2021-03-31 21:27] nicolevasilevsky commented on #2330
emailed @ana-rath-orphanet on 03/31/21.
cc @Orphanet

[2021-03-31 23:55] nicolevasilevsky commented on #2330
@kanems I plan to do a Mondo release tomorrow, could you please let me know if you see any further issues with this after the release.

[2021-04-01 03:00] cmungall commented on #2896
See the more general ticket #2893

[2021-04-01 12:43] kanems commented on #2330
I’ll take a look, thanks!

From: Nicole Vasilevsky ***@***.***>
Sent: Wednesday, March 31, 2021 7:56 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Kane, Megan (NIH/NLM/NCBI) [C] ***@***.***>; Mention ***@***.***>
Subject: Re: [monarch-initiative/mondo] Long QT syndromes [Revise subclass] (#2330)

@kanems<https://github.com/kanems> I plan to do a Mondo release tomorrow, could you please let me k

[2021-04-01 13:27] jennygoldstein opened #2900 "MONDO:0014195 relabel microcornea-myopic chorioretinal atrophy-telecanthus syndrome"
**Mondo term (ID and Label):**
MONDO:0014195
microcornea-myopic chorioretinal atrophy-telecanthus syndrome

**Suggested new label:**
microcornea-myopic chorioretinal atrophy

**Your nano-attribution (ORCID)**
ORCID 0000-0002-5655-9589

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**

ADAMTS18 was first reported in relation to autosomal recessive Microcornea,

[2021-04-01 14:02] kanems commented on #2576
@nicolevasilevsky, perhaps this is a topic for additional discussion if we can fit it in for the workshop? Or maybe someone from GARD or OrphaNet can weigh in here?

[2021-04-01 14:04] kanems commented on #2580
@nicolevasilevsky , another question for OMIM and OrphaNet and/or community experts. Workshop?

[2021-04-01 17:56] nicolevasilevsky commented on #2896
Proposed hierarchy per Mondo call on 04/01/21:

**bold**= new term

**COVID-19 and sequelae**
-COVID-19
--Mild COVID-19
--Moderate COVID-19
-**sequelae of COVID-19**
--Long COVID-19
--'COVID-19–associated multisystem inflammatory syndrome in children'
---**acute COVID-19–associated multisystem inflammatory syndrome in children**
---**long COVID-19–associated multisystem inflammatory syndrome in ch

[2021-04-01 17:58] nicolevasilevsky commented on #2896
from @mellybelly
Additional synonyms for long-covid: post-acute sequelae of COVID-19, PASC, sequelae of COVID-19, long-haul COVID-19, long COVID-19

[2021-04-01 17:58] jmcmurry commented on #2896
Would love @tdbennett to take a look at this

[2021-04-01 18:50] kanems commented on #2842
If so, I think it would be good to add the OMIM preferred name as a synonym on this term.

@nicolevasilevsky : If the OMIM preferred name can get added as a Syn. to the MONDO term, this would close out my request.  (I have directly contacted UMLS to ask if the redundant CUIs can be merged on their end.)

[2021-04-01 19:03] nicolevasilevsky commented on #2896
relevant docs:
https://www.icd10monitor.com/arriving-soon-code-u09-9-post-covid-19-condition
https://www.aappublications.org/news/2020/09/01/coding090120

[2021-04-01 23:28] nicolevasilevsky commented on #2896
Note - see linked pull request for the current proposed hierarchy, also pasted below

![image](https://user-images.githubusercontent.com/6722114/113363977-3947e800-9307-11eb-9d0e-66bfcbae8582.png)

[2021-04-01 23:36] jamberger commented on #2580
The original Wilson-Turner family was studied by Hu et al. (Mol Psych21:133, 2016) and was found to have a mutation in LAS1L (300964).  We included the single family with features overlapping Wilson-Turner and mutation in HDAC8 under clinical variability of CDLS5.

[2021-04-02 00:50] byrdjb commented on #2896
Could there be value in examining how preceding late complications of acute viral infections have been classified, for example situations enumerated in this paper? https://www.asmscience.org/content/book/10.1128/9781555815486.ch18

[2021-04-02 14:51] pnrobinson commented on #2896
I agree with @byrdjb -- this might help with the hierarchy for other infections

My one question about the COVID hierarchy is whether "asymptomatic COVID-19 infection" is really a disease? I acknowledge it might be useful to have as a term if somebody wants to use MONDO to hang data onto, but I do not think that you can have dis-ease if you have no symptoms.

[2021-04-02 16:24] matentzn commented on #1901
https://dipper.readthedocs.io/en/latest/dipper.sources.OMIM.html
https://github.com/monarch-initiative/dipper/blob/master/dipper/sources/OMIM.py
https://github.com/monarch-initiative/dipper/blob/master/dipper/sources/OMIMSource.py

[2021-04-02 16:27] matentzn commented on #1901
[code]

[2021-04-02 16:28] matentzn commented on #1901
https://ci.monarchinitiative.org/job/build-omim/ <- old dipper build

[2021-04-02 19:16] mayherpatel opened #2906 "Proposed Change to Subclassifications of Hypophosphatasia"
**Mondo term (ID and Label):**
MONDO:0007798 (adult hypophosphatasia)
MONDO:0009428 (childhood hypophosphatasia)
MONDO:0009427 (infantile hypophosphatasia)
MONDO:0016606 (perinatal benign hypophosphatasia)

**Suggested new label:**

Currently, the above MONDO terms are subclassifications of the term hypophosphatasia (MONDO:0018570) and these subclasses are named based on the age of onset for hypop

[2021-04-05 22:36] nicolevasilevsky commented on #2576
@alyea-gard
@ana-rath-orphanet
@Orphanet

[2021-04-06 12:17] maglott commented on #2545
Adding to this discussion:  https://omim.org/entry/117100 reports BENIGN EPILEPSY OF CHILDHOOD WITH CENTROTEMPORAL SPIKES; BECTS as an alternate name for  CENTRALOPATHIC EPILEPSY and as a an included title for https://www.omim.org/entry/245570.  Where does BECTS belong?

[2021-04-06 16:32] galyea-gard commented on #2576
This one will be reviewed in GARD (as you know we are in a review process)  I think that the name "congenital intrinsic factor deficiency" or "hereditary intrinsic factor deficiency"  is most adequate than the current name "intrinsic factor deficiency" because the intrinsic factor deficiency have several different causes (including the  GIF gene mutation that results in the congenital form that pr

[2021-04-07 14:02] nicolevasilevsky commented on #2896
Update - the current status of these revisions is as such. See screenshot:
![image](https://user-images.githubusercontent.com/6722114/113878887-dc1cbe00-976e-11eb-9958-10eff3541c51.png)

Summary of discussion via email:
- @mellybelly suggested using the preferred WHO naming for subtypes.
- from @pnrobinson:
there are a couple of difficult issues that I would like to discuss.

The "ambulatory" spec

[2021-04-07 14:38] byrdjb commented on #2896
An observation of potential interest is that presymptomatic is a unique child in this hierarchy. That classification can be made only in retrospect since it first requires a 'state change' away from presymptomatic to symptomatic.

Do we intend to make a hierarchy constrained by what a clinician knows today, as opposed to things knowable only retrospectively? Or is that a non-issue?

[2021-04-07 15:11] paolaroncaglia opened #2907 "Typos in synonyms of MONDO:0006785 Henoch-Schoenlein purpura"
**Mondo term (ID Label)**
MONDO:0006785 Henoch-Schoenlein purpura

**Bug/Typo/Error description**
Please see https://github.com/EBISPOT/efo/issues/1044#issuecomment-811942249 for a description. In addition, the following may need editing too:
Henoch-SChönlein purpura [SC -> Sc)
Thanks.

[2021-04-09 10:21] paolaroncaglia opened #2910 "Please delete axioms pointing to obsolete classes"
1)
**Mondo term (ID Label)**
MONDO:0018907 craniopharyngioma

**Bug/Typo/Error description**
- [x] disease has feature some obsolete rare endocrine growth disease (MONDO:0019590)

2)
**Mondo term (ID Label)**
MONDO:0019138 bleeding diathesis due to a collagen receptor defect

**Bug/Typo/Error description**
- [x] Equivalent to: obsolete hemorrhagic disorder due to a qualitative platelet defect (MON

[2021-04-09 13:59] nicolevasilevsky commented on #2910
Very good point!

@matentzn is this something we could implement?

[2021-04-09 14:54] matentzn commented on #2910
It is very hard to believe there is no check for that! We should probably prioritise moving to ROBOT report in ERROR mode.

[2021-04-09 16:16] paolaroncaglia commented on #2910
@nicolevasilevsky @matentzn

To be more precise I should have written "to avoid _references to_ obsoleted classes creeping in again". Also to specify, those references are not breaking the EFO build for us strictly speaking, but they are flagged as errors (not warnings) and they cause issue for our downstream consumers. Thank you Nicole for addressing my request so promptly. Have a good weekend ev

[2021-04-11 11:26] matentzn opened #2912 "Revise definitions"
The following (40) definitions appear broken:

- [x] MONDO:0007989
- [x] MONDO:0008863
- [x] MONDO:0008908
- [x] MONDO:0009397 - def: Neonatal severe primary hyperparathyroidism (NSHPT) is characterized by severe hypercalcemia (> 3.5 mM) from birth and associated with major hyperparathyroidism.
- [x] MONDO:0010998 - def: SSR4-CDG is a form of congenital disorders of N-linked glycosylation characte

[2021-04-11 11:35] matentzn opened #2913 "About 50 duplicate scoped syns remaining"
See here:

https://docs.google.com/spreadsheets/d/1FUtLphuJTtow0jydNXiuGZ5LocE1ASzrYybMrPeXmjk/edit?usp=sharing
Once these are fixed, I will tighten the checks and they will never happen again.

[2021-04-11 11:36] matentzn opened #2914 "Move ROBOT report to fail on ERROR"
This is to tighten QC on certain things.

To make this happen we need to fix:
- [ ] #2912
- [ ] #2913
- [ ] #2910
- [ ] #2916

@nicolevasilevsky once these are fixed, ping me and I will update the QC branch!

[2021-04-11 11:44] matentzn commented on #2910
Thanks a ton @paolaroncaglia . Indeed, there was no automatic check.. The last ROBOT reports shows these:

ERROR	deprecated_class_reference	blank node	owl:someValuesFrom	<http://purl.obolibrary.org/obo/MONDO_0019590>
ERROR	deprecated_class_reference	MONDO:0006872	rdfs:subClassOf	<http://purl.obolibrary.org/obo/MONDO_0005902>
ERROR	deprecated_class_reference	MONDO:0017142	rdfs:subClassOf	<http://pu

[2021-04-11 11:48] matentzn opened #2916 "ROBOT report April 2021"
I will now switch ROBOT report to fail on ERROR, so we get the additional layer of security. Here some errors we need to take care off:

- [x] ERROR	duplicate_definition	MONDO:0100237	IAO:0000115	An instance of cutis laxa that is inherited.
- [x] ERROR	duplicate_definition	MONDO:0100238	IAO:0000115	An instance of cutis laxa that is inherited.
- [x] ERROR	deprecated_class_reference	blank node	owl:s

[2021-04-12 23:11] nicolevasilevsky commented on #2910
I think these are all taken care of now. There are some cases where there is an excluded subclass pointing to an obsolete term, but I think that is okay?

'acquired primary ovarian failure'
![image](https://user-images.githubusercontent.com/6722114/114473797-beee5200-9ba9-11eb-95a6-6cbd1693bdc9.png)

[2021-04-12 23:15] nicolevasilevsky commented on #2916
what does this mean?

[2021-04-12 23:22] nicolevasilevsky commented on #2916
Not sure what this means? Is this still an issue? Maybe it has been fixed.

[2021-04-13 01:55] #2913 closed

[2021-04-13 08:36] matentzn commented on #2913
Awesome!

[2021-04-13 08:45] matentzn commented on #2910
This is all done and can be closed! (ran tests again)

[2021-04-13 08:45] matentzn commented on #2916
This can be closed, remaining items fixed in #2920

[2021-04-13 14:35] nicolevasilevsky commented on #2916
thank you!

[2021-04-13 14:35] #2916 closed

[2021-04-13 14:35] #2910 closed

[2021-04-13 17:11] kanems opened #2922 "OMIM:300100, Adrenoleukodystrophy"
**Mondo term (ID and Label):**
X-linked cerebral adrenoleukodystrophy, MONDO:0010247

**Xref that should be fixed (ID and label):**
OMIM:300100 (Orphanet:139396)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other comments:**
It seems to me that the MIM number should be moved to the parent concept (X-linked adrenoleukodystrophy

[2021-04-13 17:25] #2914 closed

[2021-04-13 17:32] kanems opened #2923 "MONDO:0054559 CDGIIq and COG2-CDG [Merge]"
**Mondo term (ID and Label)**
MONDO:0054559 congenital disorder of glycosylation, type IIq

**Reason for deprecation**
The CDGs are now named based on the genetic/molecular cause, and the type I/II and alphabetic letter nomenclature has been retired (though many papers will still acknowledge the "formerly known as..." in the abstract).  See https://www.ncbi.nlm.nih.gov/books/NBK453041/

**Term to

[2021-04-14 03:37] nicolevasilevsky commented on #2632
The current edits are viewable here:
https://ols.monarchinitiative.org/ontologies/mondo_issue2632/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0019234&viewMode=All&siblings=false

[2021-04-14 04:16] nicolevasilevsky opened #2924 "xref issue: MONDO_0100096 (reported via email)"
I notice that

https://www.ebi.ac.uk/ols/ontologies/efo/terms?short_form=MONDO_0100096

gives a cross-reference to MESH:C000657245 which was assigned by the NIH Office of Rare Diseases Research when it was an emerging disease.

Because this is, unfortunately, not a rare disease now, NLM has moved COVID-19 to this MeSH Term:

https://meshb.nlm.nih.gov/record/ui?ui=D000086382

[2021-04-14 04:17] nicolevasilevsky commented on #2924
It looks like this has been updated- MESH:C000657245  is equivalentObsolete.

[2021-04-14 04:17] #2924 closed

[2021-04-14 11:57] maglott commented on #2114
I found this issue when trying to review discordancies between MONDO id/MIM number relationships in MONDO and those we have at NCBI.  We have MIM 146700 as a XRef to MONDO:0024304 because of the term match; likely we should have it as an XRef to MONDO:0015947, given that OMIM's records are for heritable disorders.  That said, i don't think MIM 146700 should be an XRef to the AD form, given that ht

[2021-04-14 12:20] maglott opened #2926 "[Merge] MONDO:0000212 AND MONDO:0007749"
**Mondo term (ID and Label)**
autosomal recessive infantile hypercalcemia/MONDO:0007749 and

hypercalcemia, infantile/MONDO:0000212

**Reason for deprecation**
Clearly AR should be a child of _hypercalcemia, infantile_ if both are to be retained, but NCBI had equated the concepts represented by https://www.omim.org/phenotypicSeries/PS143880
and https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Exper

[2021-04-14 21:19] #2907 closed

[2021-04-14 22:47] nicolevasilevsky commented on #2906
@pnrobinson @ahamosh
any objections to these new labels proposed by the ClinGen expert panel?

Maybe we should use 'attenuated' instead of mild (as has been previously proposed elsewhere)?

[2021-04-14 22:50] nicolevasilevsky commented on #2922
I agree, will fix

[2021-04-14 22:52] nicolevasilevsky commented on #2922
The mapping from Orphanet to OMIM is NTBT (narrow to broad term)

[2021-04-14 22:56] pnrobinson commented on #2906
I am not an expert in this field, but attenuated sounds like some factor is making a disease milder and so is a stronger statement than merely saying mild. What is the rationale for attenuated in this case?

[2021-04-14 23:17] nicolevasilevsky commented on #2893
I think this can be closed?

[2021-04-14 23:21] nicolevasilevsky commented on #2906
In another conversation, @ahamosh was saying that describing a disease as mild may be offensive to a patient with that disease, so I believe the suggestion was to use attenuated instead.

Maybe using 'mild' in the label is okay in this case?

[2021-04-14 23:27] nicolevasilevsky commented on #2869
I added a logical definition so this is now classified as an 'inherited disease susceptibility'

[2021-04-14 23:27] #2922 closed

[2021-04-14 23:27] #2900 closed

[2021-04-14 23:45] ahamosh commented on #2906
Hi All,  in the MPS group, patients were very offended by mild and so attenuated was used for mild. Severe, moderate and attenuated rather than mild.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nicole Vasilevsky ***@***.***>
Sent: Wednesday, April 14, 2021 7:21:40 PM
To: monarch-initiative/mondo ***@***.***>
Cc: Ada Hamosh ***@***.***>; Mention ***@***.***>
S

[2021-04-14 23:53] nicolevasilevsky commented on #2906
Thanks @ahamosh!

[2021-04-15 00:00] nicolevasilevsky opened #2930 "need to ingest OMIA classes"
children of 'non-human animal disease'

Frank Nichols is to provide an OWL file.

[2021-04-15 00:01] nicolevasilevsky commented on #2930
Next, need to create a non-human animal disease/OMIA view - create a subset tag for OMIA?

[2021-04-15 16:02] nicolevasilevsky commented on #47
@matentzn 👀

[2021-04-15 16:36] #2869 closed

[2021-04-15 16:46] kanems opened #2931 "MONDO:0003157 Gorham disease [Rename]"
**Mondo term (ID and Label):**
MONDO:0003157 Gorham disease

**Suggested new label:**
Disappearing bone disease (based on SNOMED_CT preferred name SCTID: 240161003)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**_Optional_: Any additional information (like supporting evidence, PubMed ID, etc.)**
This concept may be related to MO

[2021-04-15 18:54] kanems opened #2932 "Orphanet:182067 move to Glioma"
**Mondo term (ID and Label):**
MONDO:0015917 malignant glioma

**Xref that should be fixed (ID and label):**
Orphanet:182067 (MONDO:equivalentTo)

https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert=182067  Orphanet maps to the Glioma term (based on MESH, GARD ID and CUI C0017638)  Move the OrphaID to MONDO:0021042 "glioma"

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can

[2021-04-15 19:38] kanems opened #2933 "MONDO:0016824 (infantile) myofibromatosis"
**Term to split:**
MONDO:0016824  myofibromatosis
**Name for new terms:** Note - when a term should be split, there should be 2+ new terms. Please list the new labels below.
Myofibromatosis
Infantile myofibromatosis (set as a child of the above term)

**List properties that should be moved to new term:** Note- ORDO tends to represent the generic class. Most properties (such as synonyms and databas

[2021-04-15 20:03] kanems commented on #2693
Another example: Orphanet:2924  is currently mapped to MONDO:0008265 polycystic liver disease 1, but I think it should probably go on MONDO:0000447 autosomal dominant polycystic liver disease; based on multiple OMIM mappings and same pref name on Mondo term with one of the Orphanet alt names.

[2021-04-15 20:13] kanems opened #2934 "New term request "Familial hemophagocytic lymphohistiocytosis""
Another example:
ORPHA:540 "Familial hemophagocytic lymphohistiocytosis" is currently mapped to MONDO:0009974 "familial hemophagocytic lymphohistiocytosis type 1"
The Orpha:540 term maps to OMIM: 267700 , 603552 , 603553 , 608898 , 613101
ON MONDO:0009974, there is only 267700. Suggest making a new term for ORPHA:540 "Familial hemophagocytic lymphohistiocytosis", then setting the MIM subtypes as c

[2021-04-15 20:14] kanems commented on #2934
Orphanet:540 should have it's own term. and I think MIM number for phenotypic series: PS267700 would map to the same concept.

[2021-04-15 20:40] kanems opened #2935 "Antenatal Bartter syndrome [NTR]"
**Preferred term label:**
Antenatal Bartter syndrome
(ORPHA:93604)

**Synonyms**
Bartter syndrome, furosemide type
Bartter syndrome, furosemide-amiloride type
Hyperprostaglandin E syndrome

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
"A phenotypic variant of Bartter syndrome presenting antenatally with maternal polyhydramnios, pre-term delivery and post

[2021-04-15 20:52] kanems opened #2936 "episodic kinesigenic dyskinesia/ Orpha:98809"
**Mondo term (ID and Label):**
MONDO:0007494 episodic kinesigenic dyskinesia 1

**Xref that should be fixed (ID and label):**
Orphanet:98809 (Move to MONDO:0044202 episodic kinesigenic dyskinesia. Another example for https://github.com/monarch-initiative/mondo/issues/2693)

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

**Other com

[2021-04-16 00:04] #2896 closed

[2021-04-16 18:57] kanems opened #2938 "congenital rubella (syndrome) [Merge]"
**Mondo term (ID and Label)**
MONDO:0005713 congenital rubella

**Reason for deprecation**
NCIT: C34992 has an alt name of congenital rubella syndrome and is treated as a syn of c.r.s. by UMLS.

**Term to be merged with**
MONDO:0017361 congenital rubella syndrome

**Your nano-attribution (ORCID)**
If you don't have an ORCID, you can sign up for one [here](https://orcid.org/)

[2021-04-16 19:44] #2866 closed