[2019-05-24 22:23] cmungall commented on #606
@nicolevasilevsky can you add the equivalence axioms to Orphanet:536391 and check for consistency with ORDO structure

[2019-05-24 23:56] cmungall commented on #699
@paolaroncaglia as a first pass we will be moving classes under 'disease susceptibility' (and deferring commitment on what this means, e.g. a locus or just a general bfo disposition), we can then decide later whether it is worthwhile having these in ontologic form vs just obsoleting.

[2019-05-28 01:08] cmungall opened #711 "MHC class II deficiency: SCID or non-Severe CID"
ORDO has SCID and non-SCID

![image](https://user-images.githubusercontent.com/50745/58443742-c46f4b80-80a8-11e9-99ce-0652ef90be56.png)

MHC class II deficiency is in the ns-CID branch rather than SCID:

![image](https://user-images.githubusercontent.com/50745/58443764-e9fc5500-80a8-11e9-96c9-fa7db2739f3e.png)

Others such as DO classify as a SCID:

![image](https://user-images.githubusercontent.c

[2019-05-28 04:50] cmungall opened #713 "split term: Noonan syndrome with multiple lentigines"
Term to split: Noonan syndrome with multiple lentigines

Name for new term to bud off: LEOPARD syndrome 1

Currently MONDO:0007893 conflates the classic form (LEOPARD syndrome 1; OMIM:151100) and the series OMIMPS:151100  / Orphanet:500

This term has been used by ClinGen

I think the need for a split is clear. We need to decide which IDs to use:

 1. obsolete MONDO:0007893 and make 2 new
 2. reta

[2019-05-28 11:19] maglott commented on #713
What is the standard policy for splits?  I vote for 1.  Clearer for those tracking by other ids such as MIM numbers.

[2019-05-28 21:28] nicolevasilevsky opened #715 "Draft: Mondo editors guide in ReadTheDocs"
@cmungall:
@ShahimEssaid created a ReadTheDocs version of the Mondo editors guide here:
https://mondo.readthedocs.io/en/latest/

Does this look okay to you, as a starting place?

[2019-05-28 21:58] cmungall opened #716 "diseases should not be at root level"
This was a consequence of the obsoleting "rare disease", we should find a home for these

[2019-05-30 10:40] paolaroncaglia opened #717 "[Revise text def] MONDO:0021166 'inflammatory disease'"
MONDO:0021166 inflammatory disease
Is currently defined as
"An _inflammatory_ disease involving a pathogenic inflammatory response in _the_ anatomical structure. [ MONDO:patterns/inflammatory_disease_by_site ]"
For this high-level parent, I suggest to replace the template definition with
"A disease involving a pathogenic inflammatory response in an anatomical structure. [ MONDO:patterns/inflammato

[2019-05-30 20:11] nicolevasilevsky commented on #716
For some of these, could we just we just reclassify them (assert subclasses), like:

ID | Label | Current parent | Suggested parent
-- | -- | -- | -- |
MONDO_0019103 | 'benign exophthalmos syndrome' | 'disease or disorder' (source is orphanet)| 'syndromic disease'
MONDO_0010947 | 'Budd-Chiari syndrome' |'disease or disorder' (source is orphanet) | 'syndromic disease'
MONDO_0017388 | 'celiac trunk

[2019-05-30 20:44] nicolevasilevsky commented on #713
Should I go ahead and obsolete MONDO:0007893 and create two new terms:

**Label: ** Noonan syndrome with multiple lentigines
**Def:** Noonan syndrome with multiple lentigines (NSML), is a rare multisystem genetic disorder characterized by lentigines, hypertrophic cardiomyopathy, short stature, pectus deformity, and dysmorphic facial features.
**dbxef**: Orphanet:500
and all the current synonyms wo

[2019-05-30 20:47] nicolevasilevsky commented on #629
is there an open action item here?

[2019-05-30 21:17] nicolevasilevsky commented on #704
I'm not sure I understand what the action item is here, could you please provide some more guidelines?

[2019-05-30 21:26] nicolevasilevsky commented on #697
When I try to fix the ID for this term, it removes all the annotations.

Is this actually the correct ID?

If not, can someone else try to fix it? It is not working for me.

![image](https://user-images.githubusercontent.com/6722114/58665938-cde5f700-82e6-11e9-9b2f-a2816f777c55.png)

[2019-05-30 21:39] nicolevasilevsky commented on #692
@cmungall would the appropriate thing to do here be add superclass assertions:
'disease causes feature' some 'Cutis gyrata of scalp'
'disease causes feature' some 'Thickened skin'

[2019-05-30 22:04] nicolevasilevsky commented on #606
@cmungall not sure what you are asking for?

[2019-05-31 00:19] nicolevasilevsky commented on #716
I should review these in Orphanet and change the subClassOf assertions

[2019-05-31 00:19] ShahimEssaid commented on #630
@nicolevasilevsky - yes, I'll take a look.

[2019-05-31 00:23] nicolevasilevsky commented on #606
I just need to add an xref to RASopathy (Orphanet:536391)
source: this ticket

[2019-05-31 00:38] mellybelly commented on #713
Given that there is conflation on "Noonan syndrome with multiple lentigines" referencing parent/child synonyms/xrefs, we recommend obsoleting and making two new terms. @courtneythaxton and @larrybabb would you like to weigh in? we'll wait 2 weeks before committing the obsoletion and send out an email to the user list for feedback.

[2019-05-31 01:04] courtneythaxton commented on #713
Hi @mellybelly @nicolevasilevsky @larrybabb @cmungall

From a ClinGen perspective since we have at least 3 curations if not more that use MONDO:007893 for the classification is number 2. Keep the term as a general form series (presumably the parent term of LEOPARD 1, 2, and 3), and mint a new MONDO ID for LEPARD 1 associated with PTPN11 genes per OMIM MIM#151100. This also leaves the MIM151100 to

[2019-05-31 01:21] mellybelly opened #722 "[Obsolete] monogenic disease"
**Mondo term (ID and Label)**
Monogenic disease

**Reason for deprecation**
Redundant

**Suggested replacement or term to consider**
Inherited genetic disease

[2019-05-31 14:51] larrybabb commented on #713
I am not a domain expert but I do want to verify that all related issues for Rasopathy are dealt with and considered so that this domain area can be fixed once and for all.  I spoke with @ahamosh at CCG and the ClinGen SC meeting over the past couple days and it seems like it may be worth a discussion with ada involved to make sure we have the Rasopathy domain built with the hierarchy and nodes th

[2019-05-31 14:55] courtneythaxton commented on #713
I do echo and agree with @larrybabb and want to add that we also need to make sure that while there is granularity of phenotypes, that we also represent broader entities. The ClinGen lumping and splitting group has empowered groups with a way to define disease entities and the work with MonDO on this to harmonize. Some consideration by the GCEPs may need to be made to fit within these guidelines a

[2019-06-05 09:10] zoependlington opened #723 "[Revise subclass] Review sexual disorder classification"
**Mondo term (ID and Label)**
"sexual disorder" (MONDO_0000595), and by extension, "physiological sexual disorder" (MONDO_0002134)

**Suggested revision and reasons**
Stemming from an EFO ticket (https://github.com/EBISPOT/efo/issues/425): "Sexual disorder in EFO is currently a child of psychiatric disorder but has in turn a child of physiological sexual disorder, which includes erectile dysfuncti

[2019-06-05 21:21] jennygoldstein opened #724 "[NTR] Ornithine aminotransferase deficiency"
The ClinGen Aminoacidopathy Gene Curation Expert Panel would like to request the addition of the term "ornithine aminotransferase deficiency". This term is currently included as a synonym for "gyrate atrophy" (MONDO:0009796). However, not all patients with ornithine aminotransferase deficiency present with gyrate atrophy. Furthermore, the age of onset of gyrate atrophy can be highly variable in pa

[2019-06-06 12:06] zoependlington opened #725 "Typo in MONDO:0002149"
**Mondo term (ID Label)**
MONDO:0002149 label "reproductive systen cancer"

**Bug/Typo/Error description**
"reproductive system cancer" instead of "reproductive systen cancer"

Stems from EFO ticket: https://github.com/EBISPOT/efo/issues/460

[2019-06-07 13:16] paolaroncaglia opened #726 "Please check top hierarchy in MONDO"
Hi,

There may be an issue with some of the top terms in the most recent MONDO release. This is what we see in OLS:

![image](https://user-images.githubusercontent.com/4982516/59106584-0e70f080-8937-11e9-95a0-55b26d4c1139.png)

Thanks for checking.

[2019-06-07 22:36] nicolevasilevsky commented on #725
thanks for catching this @zoependlington

[2019-06-07 23:49] #725 closed

[2019-06-11 12:23] zoependlington opened #729 "Duplicate terms for familial hypercholesterolemia"
Noticed the following duplicates during some EFO mapping:

MONDO_0007750 (hypercholesterolemia, familial) duplicates with MONDO_0005439 (familial hypercholesterolemia).

The latter (MONDO_0005439) is a parent of the former (MONDO_0007750) and we currently map EFO_0004911 to MONDO_0005439,

Thanks!

[2019-06-13 22:13] nicolevasilevsky commented on #729
@zoependlington I will create a pull request to merge MONDO_0007750 with MONDO_0005439 and send a note to the mailing list in case anyone has any objections.

[2019-06-13 23:01] cmungall commented on #729
Be careful. Remember we should not in general have equivalents to OMIMs be superclasses of other OMIMs!

This is more nuanced, first consider what the semantics of this are:
https://omim.org/entry/143890

(this is also tied in with the question of susceptibilities as diseases)

[2019-06-13 23:02] cmungall opened #732 "Add a QC check to prevent OMIM sc of OMIM"
See #730

[2019-06-13 23:08] nicolevasilevsky commented on #729
It looks like MONDO_0005439 'familial hypercholesterolemia' is xref'ing two OMIM terms:
OMIM:143890 HYPERCHOLESTEROLEMIA, FAMILIAL (which has synonyms type II and type IIa)
OMIM:144010 HYPERCHOLESTEROLEMIA, AUTOSOMAL DOMINANT, TYPE B

so is the xref to OMIM:144010 on MONDO_0005439 'familial hypercholesterolemia incorrect?

[2019-06-14 02:09] #673 closed

[2019-06-14 13:32] turbomam opened #734 "HIV is a subClass of cancer?!"
**Mondo term (ID Label)**
MONDO_0022034 `lentivirus infection`

**Bug/Typo/Error description**
MONDO_0022034 `lentivirus infection` is asserted to be a subClass of MONDO_0006485 `uterine carcinosarcoma`

Therefore a query for

`?s rdfs:subClassOf*  <http://purl.obolibrary.org/obo/MONDO_0004992>`

reports that MONDO_0005109 `HIV infectious disease` is a subClass of MONDO_0004992 `cancer`

[2019-06-14 15:27] nicolevasilevsky commented on #724
@GARDInfoCenter I see that Ornithine aminotransferase deficiency is a synonym for Gyrate atrophy of choroid and retina, and we wanted to coordinate with you before implementing this change in Mondo. Would you potentially be okay with splitting these out into two diseases?

https://rarediseases.info.nih.gov/diseases/6556/gyrate-atrophy-of-choroid-and-retina

[2019-06-14 16:55] jennygoldstein commented on #724
Hi Nicole,

Thanks very much for following up on this. I don't think we want to split ornithine aminotransferase (OAT) deficiency and gyrate atrophy into two separate diseases because gyrate atrophy is caused by OAT deficiency. My concern was how to capture the rare cases of OAT deficiency that don't present with gyrate atrophy but instead have hyperammonemia in the newborn period, abnormal ornith

[2019-06-14 17:05] jennygoldstein commented on #724
I'm so sorry - I sent that last email to soon, without including the MonDO ID I was referring to.

What this should say is that Courtney suggested changing the text description for MONDO:0009796 to Ornithine Aminotransferase deficiency, and to include gyrate atrophy as a synonym.

Thanks Nicole!

Jenny

________________________________
From: Goldstein, Jenny
Sent: Friday, June 14, 2019 12:55:30 PM

[2019-06-14 17:12] jennygoldstein opened #735 "Change term for MONDO:0009607"
Based on discussion with the ClinGen Aminoacidopathy Gene Curation Panel, please can we request that the main term description for MONDO:0009607 i.e. "brain demyelination due to methionine adenosyltransferase deficiency" is changed to "methionine adenosyltransferase deficiency"? The reason for this request is that most individuals with this enzyme deficiency do not have symptoms, and that other sy

[2019-06-14 17:49] nicolevasilevsky commented on #724
Hi @jennygoldstein thanks for the clarification. Before I make this change, I'd like to check with @gardinfocenter to make sure they are okay with updating the label of MONDO_0009796 'gyrate atrophy' to Ornithine Aminotransferase deficiency.

Thanks!

[2019-06-14 17:52] nlharris opened #736 "Add link to Mondo logo"
**Mondo term (ID Label)**
N/A

**Bug/Typo/Error description**
This is a kind of "none of the above" type of ticket that's more of a meta-issue with this repo itself: somewhere (probably in the README) we need to have a link to the Mondo logo. I think it's in GitHub somewhere, but can't find it. @nicolevasilevsky just updated it and I was going to suggest to her that she commit the new one but I ca

[2019-06-14 17:53] nlharris commented on #736
I didn't assign @cmungall; he was autoassigned.

[2019-06-14 18:02] jennygoldstein commented on #724
Hi Nicole,

OK, that sounds good. Thanks for letting me know, and for all your help with this.

Best wishes,

Jenny

________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Friday, June 14, 2019 1:49:36 PM
To: monarch-initiative/mondo
Cc: Goldstein, Jenny; Mention
Subject: Re: [monarch-initiative/mondo] [NTR] Ornithine aminotransferase deficiency (#724)

Hi @jenny

[2019-06-14 18:22] nicolevasilevsky commented on #736
@nlharris the logos are saved in julie's repo: https://github.com/jmcmurry/closed-illustrations
I just tried to do a PR to this repo but was denied access.

I will add the updated mondo logo on the readme for this repo.

[2019-06-14 18:23] nlharris commented on #736
Thanks. Can you also add the link to it to the README, for future reference? (Should it be stored in this repo rather than Julie's private repo?)

[2019-06-14 18:28] GARDInfoCenter commented on #724
I have forwarded your email along to our terms lead. I will let you know what she advises.

Thanks,
Maria

From: Nicole Vasilevsky <notifications@github.com>
Sent: Friday, June 14, 2019 11:28 AM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Della Rocca, Maria <Maria.DellaRocca@icf.com>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] [NTR] Ornithine amino

[2019-06-14 18:44] nicolevasilevsky commented on #736
I created a PR to add the AI file to this repo

[2019-06-14 20:45] jmcmurry commented on #736
I fixed tagline in source [here](https://github.com/jmcmurry/closed-illustrations/tree/master/logos/mondo-logos)

[2019-06-14 20:45] #736 closed

[2019-06-14 21:01] nicolevasilevsky commented on #736
do we want to add these files to the Mondo repo too?

[2019-06-14 21:05] nicolevasilevsky commented on #736
FYI - I updated the [blog post](https://medium.com/@MonarchInit/new-release-of-mondo-disease-ontology-9a48521353e3?postPublishedType=repub) and the [ReadMe](https://github.com/monarch-initiative/mondo)

[2019-06-14 21:33] nicolevasilevsky commented on #734
This superclass assertion comes from MESH:D016180. It does seem like a strange classification. @cmungall could we remove this SubClass Of assertion?

[2019-06-14 22:00] #470 closed

[2019-06-14 22:04] #278 closed

[2019-06-14 22:07] #603 closed

[2019-06-14 23:10] #326 closed

[2019-06-16 21:48] nicolevasilevsky commented on #735
This sounds fine to me. @cmungall do you have any objections?

[2019-06-16 21:50] nicolevasilevsky commented on #735
This would be in line with NCIT, the primary label is:
Methionine Adenosyltransferase Deficiency  NCIT:C123435

and OMIM's primary label is:
METHIONINE ADENOSYLTRANSFERASE I/III DEFICIENCY OMIM:250850

[2019-06-19 15:49] kellytoner opened #739 "MONDO:0018214 [Revise subclass]"
**Mondo term (ID and Label)**
MONDO:0018214 generalized epilepsy with febrile seizures plus

**Suggested revision and reasons**
This term should be moved out from under infantile epilepsy syndrome (MONDO:0020071) and generalised epilepsy (MONDO:0005579) and placed directly under epilepsy (MONDO:0005027). This comes at the request of ClinGen's Epilepsy Gene Curation Expert Panel. Please let me or @

[2019-06-19 16:01] maglott commented on #739
If the Label "generalized epilepsy with febrile seizures plus" is valid, why wouldn't it be under "generalized epilepsy" (MONDO:0005579) . Is 'generalized epilepsy with febrile seizures plus' not a subcategory of generalized epilepsy?

Sorry for being so uninformed.

[2019-06-19 18:01] #82 closed

[2019-06-20 14:49] ErinRiggs commented on #739
Hi Donna - great question, which triggers a second request :)  We would also like to change the label of this term from GENERALIZED epilepsy with febrile seizures plus to GENETIC epilepsy with febrile seizures plus.  This is because individuals with this phenotype have been observed to have focal seizures as well as generalized.  Our expert group has provided the following references to support th

[2019-06-21 16:21] nicolevasilevsky commented on #729
@cmungall OMIM made changes to OMIM’s representation of Familial hypercholesterolemia in response to this query. There is now a phenotypic series: https://www.omim.org/phenotypicSeries/PS143890

[2019-06-21 16:57] nicolevasilevsky commented on #653
@cmungall please see my question above

[2019-06-21 17:01] nicolevasilevsky commented on #652
@cmungall should we follow EFO's proposal (https://github.com/EBISPOT/efo/issues/417)? If yes, I can work on implementing this in Mondo

[2019-06-21 17:13] nicolevasilevsky commented on #532
@cmungall could you clarify the action item here? Should we obsolete acute stress reaction from Mondo? @pnrobinson should it be added to HPO?

[2019-06-21 17:21] pnrobinson commented on #532
I think we need to make an editorial decision or to get expert advice. I think we could model the concept either as a disease, a phenotype, or both.

[2019-06-21 17:53] nicolevasilevsky commented on #532
We could send an email out to the Mondo users list and see if any experts weigh in?

[2019-06-21 18:29] cmungall opened #741 "check results of 254"
See attached
[RARE-DIFF.txt](https://github.com/monarch-initiative/mondo/files/3315660/RARE-DIFF.txt)

[2019-06-21 18:33] #708 closed

[2019-06-21 18:34] #698 closed

[2019-06-21 19:05] #717 closed

[2019-06-21 22:52] cmungall commented on #653
Yes, change the relation

[2019-06-23 16:49] paolaroncaglia commented on #653
@nicolevasilevsky @cmungall
Thanks. I noticed another one:
MONDO:0021666 ear infection
subclass of
infectious disease of the nervous system
inflammatory disease
disease of ear
It has 5 children, which based on a quick look at their labels seem to be a mix of infectious + inflammatory diseases. If indeed all children are infections as well as inflammations, maybe consider renaming MONDO:0021666 to

[2019-06-23 17:29] matentzn opened #742 "Installing jq makes whole travis job file prematurely"
@ShahimEssaid installing jq in the travis job makes it fail altogether, probably because the travis ubuntu distro does not have the correct repositories installed. Is installing jq really necessary? It is often pre-installed.

[2019-06-23 17:43] matentzn opened #743 "Mondo build exceeds 50 minute hard limit of Travis"
Travis has a hard limit of 50 minutes for running builds [with the free plan](https://docs.travis-ci.com/user/customizing-the-build#Build-Timeouts).

There are afaics at least two places where we could save considerable time:

1. Currently we execute the entire battery of QC tests on three different artefacts. Any chance we can reduce this a bit? Maybe restrict ourselves to the sparql checks reall

[2019-06-23 18:04] ShahimEssaid commented on #742
Yes, the default Ubuntu distribution for a Travis build does not have a jq
package. I think it is 16.04 if I remember correctly. I changed the build
to use 18.04 by adding:

dist: bionic

to the Travis build. I'm not sure if it is installed by default in the
image used by Travis. I have a:

sudo apt install jq

step to to make sure it's available.

Sent from mobile. Excuse brevity, typos, and the

[2019-06-23 18:12] matentzn commented on #742
Yeah, looks like this is the right direction! Still, right now, the travis job cant run at all with that `sudo apt install jq`.

https://travis-ci.org/monarch-initiative/mondo/builds/548814275?utm_source=github_status&utm_medium=notification

Any idea on how to fix this? Thanks a lot Shahim!

[2019-06-23 18:43] ShahimEssaid commented on #742
Oh, I see. You meant the setup I had is no longer working. I'll look into
this tomorrow. I'm not sure if they changed their bionic image and the apt
sources are not the same. It should be easy to modify the build to add the
needed source to make it work.

Sent from mobile. Excuse brevity, typos, and the ever helpful
auto-incorrect.

On Sun, Jun 23, 2019, 11:12 AM Nico Matentzoglu <notifications@gi

[2019-06-24 03:57] #742 closed

[2019-06-24 15:51] mhughes5 opened #745 "Dravet syndrome"
**Mondo term (ID and Label)**
##MONDO: 0011794 Dravet syndrome

**Suggested revision and reasons**
This term should be moved out from early infantile epileptic encephalopathy (MONDO:0016021) because the age of onset is after 6 months.  It should instead be placed under developmental and epileptic encephalopathy (MONDO:0100062). This is requested by ClinGen's Epilepsy Gene Curation Expert Panel. Pl

[2019-06-24 20:14] maglott opened #746 "should PS607634 be connected to multiple MONDO records?"
**Mondo term (ID Label)**

https://www.ebi.ac.uk/ols/search?q=omimps_607634&ontology=mondo
returns both MONDO:0017198 and MONDO:0020645
**Bug/Typo/Error description**
Given that the term for  https://www.omim.org/phenotypicSeries/PS607634 is Osteopetrosis, autosomal dominant, should OMIMPS_607634 be an XRef only for MONDO:0020645?

[2019-06-25 13:40] paolaroncaglia commented on #525
@pnrobinson @cmungall @nicolevasilevsky
We EFO people would also be interested in this, as our main users also like to think of 'eye disease' and 'head and neck disease' as two separate areas coexisting at high level. Are there any updates from your side, please? Thanks!

[2019-06-25 13:41] paolaroncaglia commented on #525
(Tagging @simonjupp and @zoependlington so they can follow too.)

[2019-06-25 13:54] paolaroncaglia opened #747 "[Revise subclass] eye disease and nervous system disease"
Hi,

MONDO:0005328 eye disease is a descendant of nervous system disorder. While of course an eye contains some components of the nervous system, an eye in its entirety is not a part of the nervous system. And some eye diseases such as conjunctivitis or eye allergy are not nervous system diseases. In EFO3 we have the same issue, inherited from MONDO (we didn't have it in EFO2). It seems to come fr

[2019-06-25 14:56] GARDInfoCenter commented on #724
@nicolevasilevsky
After reviewing the e-mails and conducting our research, we have decided to keep "gyrate atrophy of the choroid and retina" as our main term and continue to list "gyrate atrophy" and "OAT deficiency" as synonyms. To highlight Jenny's point, we will be updating our summary. However, we are in the process of redesigning our website.

[2019-06-25 16:12] simonjupp opened #748 "create a simplified OWL version of mondo"
Would it be possible to get a slightly simplified OWL version of Mondo that excludes the equivalences to the other disease ontologies, but preserves cross-bridging axioms to the other non-disease ontologies?

Querying the closure for each term in the current mondo.owl using ELK seems to take forever and is why we don't load this version into OLS (I think BioPortal were having a similar issue). I h

[2019-06-26 10:49] paolaroncaglia opened #749 "MONDO:0005046 'immune system disease' has exact synonym 'immune system disease'"
Hi,
MONDO:0005046 'immune system disease' has an exact synonym that is the same as the term label, i.e. 'immune system disease'. EFO inherited it from MONDO (we didn't have it in EFO2). I noticed it as I started a review of synonyms of high-level terms that are of interest for some of our users. This was the first term I looked at :-) so I wonder - does MONDO not have a check to avoid exact synony

[2019-06-26 10:49] paolaroncaglia commented on #749
Tagging @zoependlington and @simonjupp for their information.

[2019-06-26 15:55] paolaroncaglia opened #750 "MONDO:0005550 infectious disease has (very) ambiguous synonyms"
MONDO:0005550 infectious disease has the following synonyms, among others:

root caused disease or disorder
root infectious disease
root disease or disorder
ID

The root-based synonyms are ambiguous, think plant root disease.
The ID synonym is a legitimate acronym, but will work wonders in text mining :-D

Could you please disambiguate the root ones (and make them narrow synonyms) and delete ID?
M

[2019-06-26 15:56] paolaroncaglia commented on #750
Tagging @zoependlington and @simonjupp for their reference.

[2019-06-27 00:54] nicolevasilevsky commented on #749
@cmungall or @ShahimEssaid can address this.

I would think there would already be an existing check for this.

@cmungall should we remove the synonym that is a duplicate of the label? The dbxef is MONDO:patterns/location

[2019-06-27 00:59] nicolevasilevsky commented on #747
@cmungall I am not sure of the best way to address this- can you help?

sensory system disorder is asserted to be a subclass of 'nervous system disorder' and this assertion is attributed to DOID:0050155 and EFO:0001058. Could we remove this (and make it an excluded subclass of?)

[2019-06-27 05:16] cmungall commented on #745
Currently we declare this to be equivalent to
https://omim.org/entry/607208
EPILEPTIC ENCEPHALOPATHY, EARLY INFANTILE, 6; EIEE6
DRAVET SYNDROME

So I think we need to do a broader examination here. Is Dravet and EIEE6 truly the same thing, and EIEE6 is a misnomer? If so we should annotate out synonyms appropriately. Or are Dravet and EIEE6 actually different? If so we should split this class.

Sor

[2019-06-27 05:19] cmungall commented on #750
I'm embarrassed about the 'root's, this is ncbitaxon:1...

[2019-06-27 05:20] cmungall commented on #750
For ID, would a BROAD synonym also cause issues? I feel it probably would but I am not sure when the cutoff is.. 3 letter acronyms OK?

[2019-06-27 09:49] ShahimEssaid commented on #743
For now I changed the .travis.yml configuration so that Travis doesn't run the "make" test. This allows the overall status to reflect the result of Jenkins. Jenkins build is also fixed and is working now.

[2019-06-27 12:26] paolaroncaglia commented on #749
@nicolevasilevsky @ShahimEssaid @cmungall
Thanks for looking into this.

[2019-06-27 12:42] paolaroncaglia commented on #750
@cmungall @nicolevasilevsky
Thanks for deleting the root-containing synonyms.
As for "ID" being a broad (instead of exact) synonym of 'infectious disease':
I can only check with our main users if their text mining pipeline uses exact synonyms only, I'll let you know;
In general, 3-letter acronyms as broad synonyms (never exact ;-) ) would be acceptable I think;
With "ID", it's not just the 2-lette

[2019-06-27 16:45] ErinRiggs commented on #745
Hi Chris.  Dravet syndrome is a clinical diagnosis - most individuals do indeed have variants in SCN1A, but not all, which is one of the reasons why we do not want it exclusively tied to SCN1A, as is implied by using the term EIEE6.  Additionally, our experts note that onset of Dravet syndrome is not "early-onset," so the EIEE term is misleading.

Totally understand the desire to have everything c

[2019-06-27 17:38] nicolevasilevsky commented on #745
Ok - my understanding is we should split these classes and make a new class for 'EPILEPTIC ENCEPHALOPATHY, EARLY INFANTILE, 6; EIEE6', which would be a child of MONDO_0016021 'early infantile epileptic encephalopathy'

text def: Any early infantile epileptic encephalopathy in which the cause of the disease is a mutation in the SCN1A gene.

@cmungall could you please confirm?
Also, should we let OM

[2019-06-27 17:57] nicolevasilevsky commented on #750
@cmungall in the current PR, I annotated "ID" as an abbreviation and as 'synonym to be removed from public release but maintained in edit version as record of external source' - does that properly address the issue?

[2019-06-27 18:26] pnrobinson opened #753 "OMIM Phenoseries not captured"
I am trying to figure out how MONDO represents Phenoseries.
Noonan syndrome 1 is OMIM:163950 and this corresponds to the phenoseries PS163950
https://omim.org/phenotypicSeries/PS163950

However, the entry for this in MONDO does not reference the grouping class
id: MONDO:0018997
name: Noonan syndrome

It seems that most of the other Noonan subtypes are "is a"  MONDO:0018997
However, Noonan 1 "is a"

[2019-06-27 18:31] pnrobinson opened #754 "[Revise subclass] Bardet Biedl syndrome 1 is not a subclass of BBS 16"
**Mondo term (ID and Label)**

**Suggested revision and reasons**
Bardet Biedl syndrome 1  is a subclass of BBS 16

It should be a subclass of https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0015229

[2019-06-27 18:42] cmungall commented on #753
Hi - I recommend the json or owl as a more robust way to get at this, but I am partial to a bit of obo hacking.

The hacky way to get this from the obo is via the xref

[code]

You can then traverse down to the subclasses over is_a

HTH

Seems like a standard report would be very useful here. What would the ideal format be?

Maybe

 * col1: OMIM PS ID
 * col2: Direct MONDO equivalent
 * col3: All

[2019-06-27 18:43] cmungall commented on #753
oh wait sorry I just re-read I see the issue, hold on....

[2019-06-27 18:44] cmungall commented on #753
OK, it looks like you have an old mondo file, that is-a makes no sense

This is what noonan 1 looks like now

[code]

[2019-06-27 19:30] pnrobinson commented on #753
OK, thanks, this is easy with phenol, however, I would like to extract just those MONDO terms that are exact matches:
[code]
However, it seems that the obographs library does not pick this up (should it be in "trailing modifiers"?).

see https://github.com/monarch-initiative/phenol/blob/develop/phenol-cli/src/main/java/org/monarchinitiative/phenol/cli/demo/MondoDemo.java

[2019-06-27 19:36] nicolevasilevsky commented on #754
@pnrobinson Bardet Biedl syndrome 1 is asserted as a subclsas of 'Bardet-Biedl syndrome', and inferred to be a sublcass of 'Bardet-Biedl syndrome 16'. I pasted the explanation below - I believe it is inferred this way because Bardet-Biedl syndrome 16 has basis in dysfunction in the gene SDCCAG8, and so does Bardet Biedl syndrome 1 (in addition to several other genes).

![image](https://user-images

[2019-06-27 19:38] nicolevasilevsky commented on #754
@pnrobinson looks like you can't see all the relationships in OLS, but you can see it in Protege.

[2019-06-27 19:45] pnrobinson commented on #753
@cmungall This is where there is a problem -- obographs puts the exactMatch information in a separate map
https://github.com/monarch-initiative/phenol/issues/223

[2019-06-27 19:46] pnrobinson commented on #754
The mistake was in the mondo.obo file. Something weird is going on...I just downloaded the obo file.

[2019-06-27 19:49] pnrobinson commented on #754
Also, some of the diseaseHasBasis in assertions are wrong. For instance, CCDC28B is a modifier, not a basis. Where do these assertions come from?

[2019-06-27 19:54] nicolevasilevsky commented on #754
@cmungall will have to answer that question :)

Yes, I see in the OMIM record it says "The CCDC28B gene (610162) modifies the expression of BBS phenotypes in patients who have mutations in other genes."
https://www.omim.org/entry/209900

[2019-06-27 20:25] nicolevasilevsky commented on #746
yes, I believe so. @cmungall please let us know if otherwise

[2019-06-27 20:33] nicolevasilevsky commented on #741
I started a google doc here: https://docs.google.com/document/d/16bj77ZQhA9goet5eOA7eXAwpWANMlYEmzs0gVETgtmw/edit

I comment when I am done

[2019-06-27 20:55] cmungall commented on #753
In fact there are 3 separate ways to get at this

 * xref
 * skos properties (exactMatch)
 * owl logical axioms http://purl.obolibrary.org/obo/mondo/imports/equivalencies.json

Why 3? Well, there are a ton of applications that rely on xrefs so hard to get rid of them, but they are imprecise. In fact you can get away with just using the xref to the OMIMPS without the axiom annotation, since we forc

[2019-06-27 20:58] pnrobinson commented on #753
@cmungall  -- thanks. If we are willing to trust MONDO, then the phenol app works already. However, obographs is not actually extracting the xref information in a useful way -- please see monarch-initiative/phenol#223. We could fix this in phenol in an ugly way but it would be nicer to put the fix in obographs -- I will take a look if I can find the time.

[2019-06-27 21:29] pnrobinson opened #756 "Meier-Gorlin syndrome 7; MGORS7"
**Mondo term (ID Label)**
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0014894

**Bug/Typo/Error description**
For some reason in the OBO version the label is given as Meier-Gorlin syndrome 7; MGORS7. In OLS it is correct.

[2019-06-27 22:58] #746 closed

[2019-06-28 01:27] nicolevasilevsky commented on #741
Ok - I think I'm done. I listed the problematic ones at the top (under 'not ok'). There were many that removed 'genetic' from the label, and I created a partial list of those, but then thought those were probably okay (if not, let me know.)

There was another one I had a question about (this came up a lot), I think it is okay, yes?

-is_a: MONDO:0015960 {source="Orphanet:2699", source="Orphanet:26

[2019-06-28 08:29] matentzn commented on #743
@ShahimEssaid  cool! If jenkins runs all the qc now, maybe that is enough? @cmungall?

[2019-06-28 15:27] cmungall commented on #745
Yes - split the classes. Add notes that these are distinct and point back to this ticket.

How should we relate these two? We have the shares_featurs_of relation, which would be correct, but is weak - is there a stronger connection to be made? Shared superclass?

[2019-07-01 20:09] nicolevasilevsky commented on #745
I added disease_shares_feature_of relation term, let me know if you prefer something different

[2019-07-01 20:24] nicolevasilevsky commented on #739
@ErinRiggs we have a class for the reference you are pointing to above:
MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus'

I think this is different from the generalized epilepsy term (MONDO:0005579)

[2019-07-01 20:31] nicolevasilevsky commented on #735
@jennygoldstein what is your ORCID?

[2019-07-01 20:37] nicolevasilevsky commented on #734
I believe this was fixed, I don't see this bug anymore. Please reopen if needed.

[2019-07-01 20:37] #734 closed

[2019-07-01 20:46] jennygoldstein commented on #735
Hi Nicole,

It's 0000-0002-5655-9589

Thanks for your help,

Jenny

________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Monday, July 1, 2019 4:31:34 PM
To: monarch-initiative/mondo
Cc: Goldstein, Jenny; Mention
Subject: Re: [monarch-initiative/mondo] Change term for MONDO:0009607 (#735)

@jennygoldstein<https://github.com/jennygoldstein> what is your ORCID?

—

[2019-07-02 01:53] ErinRiggs commented on #739
That term sounds good - could we still move it out from underneath "neonatal/infantile epilepsy syndrome"?  We'd like it to be a child term of just "epilepsy."  For some reason, we did not come across that term when searching.    Thanks!

[2019-07-02 18:02] courtneythaxton commented on #577
Hi All,

The ClinGen ARVC GCEP is finalizing their gene curations and is in need of this pending disease entity nomenclature change. WE would dike to change the current disease nomenclature for MONDO:0011581 to "Arrhythmogenic cardiomyopathy with woolly hair and keratoderma".

In addition, we would like to add a new parent term of Cardioectodermal syndrome, as per ticket request 578 ([ticket#578](

[2019-07-02 18:05] courtneythaxton commented on #578
Please see comment on [ticket 577.](https://github.com/monarch-initiative/mondo/issues/577) We agree with Ada hams and will go with the disease nomenclature of Cardio-ectodermal syndrome, and would like to include the following orphan terms under this new branch:
The child terms to fall under this new term would be the following:
(1) MONDO:0011581 (Ticket 577, renamed to Arrhythmogenic cardiomyopa

[2019-07-02 23:11] nicolevasilevsky opened #759 "Mondo website updates"
I would like to suggest the following updates to the Mondo website:

- [x] Add the logo on the top left (replace The Mondo Ontology) (and make it clickable and link back to the home page)
- [ ] Add Monarch logo on the bottom of the page (can we do something similar as HPO? https://hpo.jax.org/app/)
- [ ] Make the overall font size a bit smaller
- [ ] Add a left hand side bar on the following pages

[2019-07-03 09:57] paolaroncaglia commented on #726
Hi @cmungall and @nicolevasilevsky (cc @zoependlington ),
Following up on this ticket:
We updated the MONDO version in OLS with your most recent release, but we still see the same top classes as above and they look a bit weird. Ontobee hasn't loaded your latest release yet (and we can't easily load MONDO in Protege), so we can't double-check if it is due to an OLS issue by any chance, or if it's i

[2019-07-03 16:09] paolaroncaglia commented on #750
@cmungall @nicolevasilevsky
In reply to Chris' question "For ID, would a BROAD synonym also cause issues?"
Beyond the considerations of ambiguity for a 2-letter acronym, I checked with our users and their text mining pipeline uses labels and exact synonyms only, so they wouldn't pick up "ID" as a broad synonym of 'infectious disease'. I can't speak for other users though who may put all synonyms i

[2019-07-03 23:21] nicolevasilevsky commented on #726
The two MONDO terms are obsoleted. The NCBI taxon terms appear to be properly hanging out in the hierarchy where they should be.

[2019-07-04 11:05] paolaroncaglia commented on #726
@nicolevasilevsky (cc @zoependlington )
Thanks for your feedback. We won't worry about the NCBI taxon terms then. As for the two MONDO terms, if they're obsoleted, I wouldn't expect them to sit at the top of the hierarchy, and I'd expect them to be prefixed with "obsolete". I'm slightly confused. If they look ok from the MONDO side, it could be an OLS issue, but other obsolete MONDO terms look fin

[2019-07-07 20:00] cmungall opened #760 "EDS2 update Orphanet xrefs, and sort out confusion between two classic types"
current entry for EDS type 2 in MONDO:

[code]

The Orphanet xref came from OMIM originally, we checked it at the time and it was fine, but is now obsolete, you can check here

https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=90318
**OBSOLETE: Ehlers-Danlos syndrome type 2**

Note that if we look at the OMIM entry now
https://omim.org/entry/130010 EHLERS-DANLOS SYNDROME, CLASSIC TYPE,

[2019-07-07 20:16] cmungall commented on #760
See also:
https://beta.monarchinitiative.org/disease/OMIM:130010#gene

[2019-07-08 18:09] nicolevasilevsky commented on #726
This terms don't have labels, apparently:
![image](https://user-images.githubusercontent.com/6722114/60832454-c11fb300-a170-11e9-8bd5-45c38aeda6bd.png)

@cmungall could you help investigate? I am not sure what the issue is.

[2019-07-09 18:22] cmungall opened #761 "Check ontology against a whielist of OWL annotation properties"
We should add a check to the pipeline that ensures all annotation props used are the expected ones. This will allow us to catch typos in APs.

e.g

[code]

[2019-07-09 18:28] cmungall opened #762 "Add a new template for xref fixes"

[2019-07-09 18:32] cmungall opened #763 "GARD xref for CAMFAK is wrong"
See also #89

We have two xrefs for COFS - one is for

https://rarediseases.info.nih.gov/diseases/1060/cataract-microcephaly-failure-to-thrive-kyphoscoliosis

other for

https://rarediseases.info.nih.gov/diseases/6027/cofs-syndrome

[2019-07-09 18:40] cmungall commented on #763
@GARDInfo it seems the page for CAMFAK has disappeared? https://rarediseases.info.nih.gov/diseases/1060/cataract-microcephaly-failure-to-thrive-kyphoscoliosis

[2019-07-09 18:48] cmungall commented on #763
Note that OMIM does not place CAMFAK in the COFS PS:

https://omim.org/phenotypicSeries/PS214150

https://omim.org/entry/212540

@nicolevasilevsky can you investigate? Should CAMFAK be its own disease? cc @pnrobinson

Note that the most recent pub on CAMFAK is last century, the omim entry doesn't seem to have undergone major edits since 1986? I am inclined to leave as an explicit obsolete entry in

[2019-07-09 23:54] nicolevasilevsky commented on #577
@courtneythaxton I relabeled MONDO:0011581 to Arrhythmogenic cardiomyopathy with woolly hair and keratoderma. Pending PR

[2019-07-09 23:56] nicolevasilevsky commented on #577
To clarify, you would like to request the new term
**Label:** Cardio-ectodermal** syndrome
Could you please suggest the parent class and a text definition with a source?

I will create this class and add these terms as children:
(1) MONDO:0011581
(2) MONDO:0012506 (arrhythmogenic right ventricular dysplasia 11) covering the gene DSC2
(3) MONDO:0011017 (Naxos disease) covering the gene JUP

Thanks!

[2019-07-10 00:02] nicolevasilevsky commented on #578
I think this ticket can be closed, the action items have been moved over to #577

[2019-07-10 00:02] #578 closed

[2019-07-10 00:02] courtneythaxton commented on #577
Hi @nicolevasilevsky

Yes! According to the original ticket for this new term (ticket#578[https://github.com/monarch-initiative/mondo/issues/578](url). we had the following information:

##Suggested parent term

This disease ontology class would come as an intermediate node under the parent node "Syndromic disease (MONDO:0002254" as we discussed in the MonDO workshop in November.

##Suggested chil

[2019-07-10 00:03] nicolevasilevsky commented on #577
Ah, thanks! I'll add this now!

[2019-07-10 00:39] cmungall opened #767 "Check placement of Orphanet:508512"
on branch currently have as

[code]

[2019-07-10 11:56] pnrobinson opened #768 "Who is Anonymous-33?"
This stanza was found in the JSON version of Mondo. I love a mystery, but I am guessing that this was a temporary placeholder that gradually became permanent"
[code]

[2019-07-10 19:41] ShahimEssaid commented on #759
Regarding font size, the size is automatically reduced if the browser's width is reduced. It's only too large if the window is very wide but I can set the largest size to something smaller if needed.

[2019-07-10 19:44] nicolevasilevsky commented on #759
Thanks - I think it would look better if it is a bit smaller

[2019-07-10 19:44] nicolevasilevsky commented on #759
Is there a logo without the tag line? it's really small and hard to read

[2019-07-10 19:44] nicolevasilevsky commented on #759
(but looks good otherwise - thanks!)

[2019-07-10 21:45] nicolevasilevsky commented on #762
@ShahimEssaid and I did this

[2019-07-10 21:45] #762 closed

[2019-07-10 22:05] nicolevasilevsky commented on #763
@ShahimEssaid and I looked at this and we are unclear.

This article from 2004 lists a differential diagnosis of CAMFAK, syndrome involving cataract, arthrogryposis, microcephaly, and kyphoscoliosis (CAMAK) and COFS, which sound they are distinct diseases:
https://www.ncbi.nlm.nih.gov/pubmed/15216542

Mondo has all three of these as synonyms on the same class.

We are leaning towards towards new c

[2019-07-10 22:20] nicolevasilevsky commented on #724
@cmungall any objections to renaming MONDO_0009796 from 'gyrate atrophy' to 'Ornithine Aminotransferase deficiency'?

[2019-07-11 00:05] laurenechan opened #769 "[NTR] Small Intestinal Bacterial Overgrowth"
parent: infectious disease (MONDO:0005550) 
label: small intestinal bacterial overgrowth 
exact synonym: SIBO (abbreviation) 
definition: The presence of excessive bacteria in the small intestine that can result from result from failure of the gastric acid barrier, failure of small intestinal motility, anatomic alterations, or impairment of systemic and local immunity.
Reference: PMID: 21960820, P

[2019-07-11 00:10] laurenechan opened #770 "[NTR] Refeeding Syndrome"
parent: ??
 label: refeeding syndrome 
definition: Potentially fatal shifts in fluids and electrolytes that may occur in malnourished patients receiving artificial refeeding (whether enterally or parenterally).
Reference: PMID: 2109122 , PMID: 18583681
Nano-attribution: 0000-0002-7463-6306

This state alters ion status most significantly (i.e. hypophosphatemia, hypomagnesemia, hypokalemia) but it

[2019-07-11 00:12] laurenechan opened #771 "[NTR] Calcium-alkali syndrome"
parent: calcium metabolic disease (MONDO:0005557) 
label: calcium-alkali syndrome
 exact synonym: milk-alkali syndrome (historic term, discouraged) 
definition: The ingestion of excessive calcium supplementation or calcium containing antacids, and alkali resulting in a triad of hypercalcemia, metabolic alkalosis, and renal insufficiency.
Reference: PMID: 24288027
Nano-attribution: 0000-0002-7463-6

[2019-07-11 00:16] laurenechan opened #772 "[NTR] Skeletal fluorosis"
parent: metabolic disease (MONDO:0005066) 
label: skeletal fluorosis 
exact synonym: fluorosis of the skeleton
 definition: A condition that results from excessive fluoride ingestion leading to fluoride accumulation in the bone progressively over many years. The early symptoms of skeletal fluorosis, include stiffness and pain in the joints. In severe cases, the bone structure may change and ligame

[2019-07-11 00:18] laurenechan opened #773 "[NTR] Phrynoderma"
parent: hyperkeratosis 
label: phrynoderma 
definition: Phrynoderma is a form of follicular hyperkeratosis seen in young children and adolescents due to nutritional deficiencies. It is clinically characterized by discrete, follicular, skin-colored papules with keratotic plugs distributed over elbows, knees, extensor extremities, and buttocks.
xref: NCIT_C112827
Reference: DOI: 10.4103/2319-7250.17

[2019-07-12 21:19] nicolevasilevsky commented on #773
@cmungall Hyperkeratosis is in HP. Should we add this and phrynoderma  to Mondo?

[2019-07-17 20:33] larrybabb commented on #606
@maglott Hey can you help me understand how long it may take MedGen to ingest this change once it is released?

The ClinGen Rasopathy group has been waiting on this for a while and we'd love to remove our workarounds for having a MONDO rasopathy term that does not map equivalently to a MedGen id. (We are currently using the "noonan and noonan related syndrome" orphanet id which is currently aliase

[2019-07-18 13:12] maglott commented on #606
@larrybabb , we have no automated exchange set up, so the mention is the best way to move this along.
If I understand you correctly,  MedGen needs to  split ORPHA:98733 out of RASopathy, so Noonan will be under both RASopathy and Noonan and Noonan related syndrome

[2019-07-18 13:22] larrybabb commented on #606
@maglott Here's the classification hierarchy that Orphanet ended up with (which will be reflected and mapped into MONDO - once the linked pull requests associated to this thread is committed.)

![orpha-ras1](https://user-images.githubusercontent.com/959003/61460653-29268400-a93d-11e9-9a29-7ad55c0a170e.png)

And here's how Noonan and Noonan Related Syndrome's children were impacted (if at all)

![o

[2019-07-18 13:47] maglott commented on #606
OK, I now see that the MONDO changes were not merged yet.
Sure, MedGen will add a term for Noonan and Noonan related syndrome and move the Orphanet ID there.

[2019-07-22 18:11] jennygoldstein commented on #735
HI Nicole,

Thanks for you help with this. Do you know when the change will appear on the MonDO website?

Best wishes,

Jenny

________________________________
From: Goldstein, Jenny <goldjen@email.unc.edu>
Sent: Monday, July 1, 2019 4:46:16 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>; monarch-initiative/mondo <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject

[2019-07-22 18:19] nicolevasilevsky commented on #735
Hi Jenny, this is pending @cmungall's review and merge on the pull request, and then the changes will be available in the next release, which usually occurs around the first of the month.

[2019-07-22 18:20] jennygoldstein commented on #735
OK, great! Thank you Nicole and Chris.

Jenny

________________________________
From: Nicole Vasilevsky <notifications@github.com>
Sent: Monday, July 22, 2019 2:19:15 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Goldstein, Jenny <goldjen@email.unc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] Change term for MONDO:0009607 (#735)

Hi Jenny, thi

[2019-07-22 21:52] nicolevasilevsky commented on #606
@larrybabb I created a pull request with the changes and am waiting for @cmungall to review and merge it. Mondo is released around the first of every month and OLS is released around the 15th of each month - so the edits should be visible in OLS then.

@cmungall or @kshefchek when will changes in Mondo be visible in Monarch? I don't know the answer to the question.

[2019-07-23 06:34] #761 closed

[2019-07-23 06:38] #735 closed

[2019-07-23 06:42] #577 closed

[2019-07-23 16:09] nicolevasilevsky commented on #623
@agrant9394 would ClinGen be able to create a URL that points to the members of the ClinGen RASopathy Expert Panel, that we can reference in our ontology? If not, we can set one up. Thanks!

[2019-07-25 12:52] #623 closed

[2019-07-25 13:00] #750 closed

[2019-07-25 13:05] #694 closed

[2019-08-02 16:06] paolaroncaglia opened #777 "EFO xref for MONDO:0005590 breast ductal adenocarcinoma"
MONDO:0005590 breast ductal adenocarcinoma
xrefs to (among others)
http://purl.obolibrary.org/obo/EFO_0000430
ductal adenocarcinoma
and
http://purl.obolibrary.org/obo/EFO_0006318
breast ductal adenocarcinoma

We realized that EFO_0000430 'ductal adenocarcinoma' was defined textually and logically same as EFO_0006318 'breast ductal adenocarcinoma', so we merged them (i.e. in EFO practice we obsolet

[2019-08-07 13:39] maglott commented on #526
I'm also looking for ideas for best practices for trying to capture age of onset as a descriptor.
I've noticed, for example, that OMIM is starting the add the same alternate name to multiple records, e.g. CORNEAL DYSTROPHY, FUCHS ENDOTHELIAL, LATE-ONSET.  I notice these are represented as 'hasRelatedSynonym' in the json (ignoring that I still consider 'related synonym' as a contradiction in terms)

[2019-08-07 13:48] mellybelly commented on #526
it would be great to use the same structure as HPO and Phenopackets for age of onset.
@julesjacobsen @drseb can you provide some recommendations?
@cmungall we should finalize/document developmental stages alignments between HPO and the stages ontology work, never quite completed that...

[2019-08-08 21:43] laurenechan commented on #770
Is there any particular parent that comes to mind for this term, should we choose to include it?

[2019-08-08 21:52] nicolevasilevsky commented on #770
maybe MONDO_0005137 'nutritional disorder'?

def: Any condition related to a disturbance between proper intake and utilization of nourishment.

[2019-08-08 22:30] laurenechan commented on #770
Good thought! I appreciate that parent class being able to address the irregular intake leading up to the refeeding, and then the irregular nutrient utilization during

[2019-08-10 02:29] cmungall opened #783 "remove COHD xrefs"
Remove xrefs to COHD

These were used temporarily in the translator project
http://cohd.io/about.html

I think this is actually OMOP IDs, but these should be done separately

[2019-08-12 22:04] nicolevasilevsky commented on #739
@kellytoner or @ErinRiggs is there a URL that lists the members of the Epilepsy Gene Curation Expert Panel, that I could link to in the ontology?

[2019-08-12 22:08] nicolevasilevsky commented on #739
Never mind, I think I found it here: https://www.clinicalgenome.org/affiliation/40005/, let me know if this is incorrect

[2019-08-12 22:35] nicolevasilevsky commented on #653
@paolaroncaglia re: MONDO:0021666 ear infection:
otitis is an exact synonym, which is inflammation of the ear.

All of the children terms are infections of some kind.

I feel like this classification make sense. Do you agree?

[2019-08-12 22:45] ErinRiggs commented on #739
That’s it!

Sent from my iPhone

On Aug 12, 2019, at 5:08 PM, Nicole Vasilevsky <notifications@github.com<mailto:notifications@github.com>> wrote:

Never mind, I think I found it here: https://www.clinicalgenome.org/affiliation/40005/<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.clinicalgenome.org%2Faffiliation%2F40005%2F&data=02%7C01%7Ceriggs%40geisinger.edu%7C3f5c6e917f4

[2019-08-12 23:09] nicolevasilevsky commented on #617
looks like 'IgG4-related eosinophilic angiocentric fibrosis' already exists as a synonym, closing this ticket

[2019-08-12 23:09] #617 closed

[2019-08-12 23:11] #514 closed

[2019-08-13 02:06] nicolevasilevsky commented on #713
I created a new term MONDO_0100082 LEOPARD syndrome 1 in PR https://github.com/monarch-initiative/mondo/pull/792

I am a bit uncertain what to do about the xref to Orphanet:500, I left as a xref on MONDO_0007893 'Noonan syndrome with multiple lentigines'

[2019-08-13 02:41] cmungall commented on #739
I'm a bit confused about what needs to be done here, it seems the discussion is not finished?

To address @maglott's point, there was a proposal to change the name from generalized... to genetic...

However, this has some problems:

 * Our textual definition (from Orphanet) embeds generalized in the name. _Generalized epilepsy with febrile seizures plus (GEFS+) is a familial epilepsy syndrome in w

[2019-08-13 12:16] larrybabb commented on #606
@nicolevasilevsky after this change will **Noonan Syndrome** be removed from **Rasopathy** as a child? In Orphanet's ontology **Noonan Syndrome** is not a **Rasopathy** child element. Also, will **Noonan and Noonan-Related Syndromes** end up as a child of **Rasopathy** in MONDO, so that all of these concepts end up with a consistent set of associations and thus equivalent conceptual meaning to the

[2019-08-13 15:26] #655 closed

[2019-08-13 16:10] nicolevasilevsky commented on #606
Hi @larrybabb

'Noonan Syndrome' is still a child of 'Rasopathy'
![image](https://user-images.githubusercontent.com/6722114/62957095-f9866280-bda8-11e9-847c-c066452616ec.png)

'Noonan Syndrome' is also classified as a child of 'Noonan syndrome and Noonan-related syndrome' (which is not a child of Rasopathy)
![image](https://user-images.githubusercontent.com/6722114/62957348-774a6e00-bda9-11e9-8c25

[2019-08-13 16:11] ErinRiggs commented on #739
I think for the textual definition, you could replace “generalized” with “genetic.”

Your assessment of the situation is correct.  What are the consequences of classifying a synonym as “weakly deprecated”?

Erin Rooney Riggs, MS, CGC
Assistant Professor
Autism & Developmental Medicine Institute
Geisinger
eriggs@geisinger.edu

From: Chris Mungall <notifications@github.com>
Sent: Monday, August 12,

[2019-08-13 17:17] nicolevasilevsky commented on #739
Hi @cmungall and @ErinRiggs

my questions:
1) I am a bit unsure how MONDO:0018214 generalized epilepsy with febrile seizures plus is different from MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus'? The paper and link above ([PMID:28842445](https://www.ncbi.nlm.nih.gov/pubmed/28842445) and https://www.epilepsydiagnosis.org/syndrome/fbp-overview.html) are referring

[2019-08-13 18:11] #773 closed

[2019-08-13 18:25] larrybabb commented on #606
I really think this is outside my area of expertise, but I feel fairly certain that folks will be quite confused if **Noonan syndrome and Noonan-related syndrome** is a child of Rasopathy in Orphanet but not in MONDO.  When the Rasopathy expert group asked to have the Rasopathy Orpha id associated with the Rasopathy mondo term (originating from EFO I think?), I believe they presumed that MONDO wou

[2019-08-13 18:30] larrybabb commented on #606
In reviewing the thread above, I believe @annieolry from Orphanet made a decision to add the Rasopathy->"Noonan syndrome and Noonan-related syndrome"->Noonan Syndrome structure versus renaming or merging the Rasopathy and "Noonan syndrome and Noonan-related syndrome" concepts together. This may be where the more comprehensive change in Mondo got lost.

From the [Mar 20 comment](https://github.com/

[2019-08-13 18:58] nicolevasilevsky commented on #606
@larrybabb thanks for clarifying! I will

[2019-08-14 01:58] #777 closed

[2019-08-15 21:55] nicolevasilevsky commented on #652
@paolaroncaglia I am reading through this thread and https://github.com/EBISPOT/efo/issues/490 and want to clarify what the action items are:

Should Mondo create a new term 'perinatal condition' (per https://github.com/EBISPOT/efo/issues/490) and 'puerperal disorder' should be reclassified as a child of this term?

Should 'pregnancy disorder' be a child of 'disease or disorder'?

Thanks!

[2019-08-15 22:04] #706 closed

[2019-08-15 22:05] nicolevasilevsky commented on #641
The PR was merged, so closing this ticket

[2019-08-15 22:05] #641 closed

[2019-08-15 22:11] nicolevasilevsky commented on #475
Not sure if this is still needed, so I am going to close this ticket. Please reopen if needed.

[2019-08-15 22:11] #475 closed

[2019-08-15 22:13] #665 closed

[2019-08-15 22:14] #530 closed

[2019-08-15 22:15] nicolevasilevsky commented on #606
The PR was merged, so I think this can be closed now

[2019-08-15 22:15] #606 closed

[2019-08-17 01:17] cmungall opened #796 "Improve documentation on UMLS mappings, and do refresh of mappings"
We should have better documentation on sets of mappings (ideally derived from metadata in the ontology). And for UMLS/MedGen specifically.

In contrast to OMIM/ORDO/NCIT we have not prioritized making equivalence interpretations for UMLS/MedGen mappings, it should be documented that these are incomplete.

Historically we have been conservative in declaring some UMLS mappings to be equivalent, as t

[2019-08-17 03:13] cmungall commented on #796
Also confusing: https://www.ncbi.nlm.nih.gov/medgen/CN043596 Early-Onset Familial Alzheimer Disease

[2019-08-17 12:07] maglott commented on #796
Absolutely agreed we need to work on these. Just winding down 2 major efforts, so I may have a little time.

[2019-08-19 15:05] cmungall commented on #739
See intellectual disability, which has deprecated synonym mental
retardation. Follow the same structure. We should add to editor docs.

(oh, and can you fix that erroneous synonym on ID from DOID, thanks!!)

On Tue, Aug 13, 2019 at 10:17 AM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-08-19 15:05] cmungall commented on #526
We can add more DPs such as this one:
https://github.com/monarch-initiative/mondo/blob/master/src/patterns/adult.yaml

We can standardize nomenclature in there

re: "related synonym". Yes a lot of people have brought this up, perhaps we
should have used a related synonym of "synonym" (this goes back to GO
2001-ish). The gradation is incredibly useful though.

On Wed, Aug 7, 2019 at 6:48 AM Melissa

[2019-08-19 15:25] kellytoner commented on #739
Hi Chris,

We looked at https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0001071 and it looks like mental retardation is listed as both an exact and a related synonym. We didn’t see where is was marked as a deprecated synonym. Are we missing it?

Thanks,
Kelly Toner, MA 
Genomic Medicine Assistant
Autism & Developmental Medicine Institute
120 Hamm

[2019-08-19 15:30] kellytoner commented on #745
Hi - just checking in on this issue. We are hoping to do another curation with dravet and were hoping this change could be made before then. Thanks!

[2019-08-19 16:25] nicolevasilevsky commented on #745
@cmungall I think the PR is ready to merge, I addressed your requested changes.

[2019-08-19 16:50] nicolevasilevsky commented on #739
@cmungall and @ErinRiggs

can you confirm if we should change the text definition from generalized to genetic? and mark the synonyms as 'A synonym that is historic and discouraged'?

However, if we make this change, I am wondering how this term (MONDO:0018214 generalized epilepsy with febrile seizures plus) is different from MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizu

[2019-08-19 16:53] nicolevasilevsky commented on #739
I wonder if MONDO:0018214 generalized epilepsy with febrile seizures plus and MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus' should be merged?

[2019-08-20 04:09] cmungall commented on #739
Unfortunately OLS doesn't show all of the metadata associated with a synonym. @simonjupp is aware of this

There is another potential confusing thing about the display, the commas are ambiguous. Where it says

"intellectual disabilities, mental retardation, autosomal recessive 15"

That is actually 2, not 3.

"mental retardation, autosomal recessive 15" is a synonym - and an incorrect one (see my

[2019-08-20 11:07] paolaroncaglia commented on #652
@nicolevasilevsky
Thanks for following up. In reply to your questions:

"Should Mondo create a new term 'perinatal condition' (per EBISPOT/efo#490)"
Yes please. I plan to create an EFO term for that, today or tomorrow, so please check back on EBISPOT/efo#490 to facilitate alignment/mapping.

"and 'puerperal disorder' should be reclassified as a child of this term?"
No please :-) 'perinatal conditi

[2019-08-20 14:53] paolaroncaglia commented on #749
Hi @nicolevasilevsky @ShahimEssaid @cmungall,
Any update on this issue, please? I see it's still in MONDO (and in EFO as we get it from MONDO :-) ).
Thanks!

[2019-08-20 15:00] paolaroncaglia commented on #747
@nicolevasilevsky @cmungall
Is there any update on this, please? Sorry to ask, but this one is a bit of a priority for us, as it affects our main users at the moment. Thanks in advance for looking into it.

[2019-08-20 16:37] nicolevasilevsky commented on #747
I created a PR with the proposed edits above. @cmungall let me know if this is not the correct course of action

[2019-08-20 16:42] nicolevasilevsky commented on #749
@paolaroncaglia I created a PR to remove the duplicate synonym.

@cmungall will have to let you know about the checks for this.

[2019-08-20 16:44] nicolevasilevsky commented on #652
Thanks for the clarification @paolaroncaglia! I'll wait until you have updated this ticket (https://github.com/EBISPOT/efo/issues/490), then I will follow your workflow.

[2019-08-21 10:02] paolaroncaglia commented on #652
@nicolevasilevsky
To make a long story short: I started editing for EBISPOT/efo#490 but ran into issues that require a bit of time and help from others to address. Due to holiday plans, I'll need to postpone this to the wc Sept 2nd. Thanks and speak then!

[2019-08-21 12:40] paolaroncaglia commented on #749
Thanks @nicolevasilevsky !

[2019-08-21 13:11] paolaroncaglia commented on #653
@nicolevasilevsky
Thanks for your feedback.

I do not disagree with the classification of children of MONDO:0021666 'ear infection', because they are all indeed infections, though for 'otitis externa' this is only clear from the textual definition.
My concern is about the perceived 'exact synonymity' of inflammation and infection terms, in this case, ear infection and ear inflammation ( = otitis).

[2019-08-21 15:58] nicolevasilevsky commented on #652
No problem, enjoy your holiday!

[2019-08-22 02:32] cmungall commented on #747
this is the correct course of action.

you can see it is justified by anatomy:

[code]

[2019-08-22 02:35] nicolevasilevsky commented on #747
Cool, thanks @cmungall!

[2019-08-22 07:52] rwst opened #800 "fix ICD10 xref on isolated agammaglobulinemia"
**Mondo term (ID and Label):**
MONDO:0016462 isolated agammaglobulinemia

**Xref that should be fixed (ID and label):**
ICD10:E80.0

**Other comments:**
D80.0 is the closest match (but not exact as there could be non-hereditary isolated agammaglobulinemias)

[2019-08-22 13:52] rwst opened #801 "[NTR] CONDSIAS"
**Preferred term label:**
neurodegeneration, childhood-onset, stress-induced, with variable ataxia and seizures

**Synonyms**
CONDSIAS

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
Autosomal recessive neurodegenerative disorder with onset in the first years of life following normal early development, with cyclic episodic deterioration in response to stre

[2019-08-22 15:37] rwst opened #802 "fix ACLSD UMLS xref"
**Mondo term (ID and Label):**
MONDO:0014420
short stature due to primary acid-labile subunit deficiency

**Xref that should be fixed (ID and label):**
UMLS:CN069120

**Other comments:**
I think the correct ID is C3900122

[2019-08-28 23:00] nicolevasilevsky commented on #800
@cmungall this xref to ICD10:E80.0 comes from Orphanet (Orphanet:229717). Do we want to replace it?

[2019-08-28 23:02] #747 closed

[2019-08-28 23:05] nicolevasilevsky commented on #653
Hi @paolaroncaglia
1) I think changing the synonyms of itis terms would be a big change, I will let @cmungall decide. Some of the synonyms come from other sources, like NCIT, so I think if we wanted to make that change, we'd want to discuss it with the source ontologies.

2) This issue: MONDO:0021666 'ear infection' is a Subclass of 'infectious disease of the nervous system' was addressed in #747,

[2019-08-28 23:28] cmungall commented on #653
@paolaroncaglia - I share your concerns. I haven't had time to look fully. To me the most logical solution is always to separate inflammation terms from infection terms, and link with a causal relation where appropriate (from infection to inflammation, if this is an all-some). But for some diseases the conflation may be too deeply part of the medical lexicon.

[2019-08-30 05:57] ShahimEssaid commented on #804
@kshefchek  Let's talk this coming week so I can understand how I can help. I'm not that familiar with the other pieces of this issue.

[2019-08-30 15:19] paolaroncaglia commented on #652
@pnrobinson
The wording was suggested by our collaborators according to MedDRA and NCIT (http://bioportal.bioontology.org/ontologies/MEDDRA?p=classes&conceptid=10036585 and http://purl.obolibrary.org/obo/NCIT_C49404), but I agree that we could (should) label it 'perinatal disease' rather than 'condition', and keep 'condition' in a synonym. I'll make a note in the EFO ticket. Thanks!

[2019-08-30 15:35] paolaroncaglia commented on #653
@nicolevasilevsky
@cmungall
Thanks for your feedback re infection vs. inflammation. I understand the complications due to provenance from other ontologies/resources and/or ingrained medical lexicon. Chris writes he hasn't had time to look fully, so I'll leave it to you to decide if you want to keep this ticket open for further, future discussion, or not.
(And thanks for fixing the nervous system i

[2019-08-30 16:07] pnrobinson opened #822 "Propagation of phenotype to diseases such as pneumonia is CONFUSING"
https://beta.monarchinitiative.org/disease/MONDO:0005249#phenotype

Users will interpret pneumonia as the disease pneumonia. However, the page is subsuming phenotypes from all of the subclasses of the Mondo term for Pneumonia, and a lot of them are not associated with garden variety Pneumonia -- this is pretty confusing, and we should not show all of these phenotypes by default.

[2019-08-30 19:37] kshefchek commented on #804
To distill it down, we want to make sure we are using the exact same IRIs in dipper and MONDO, essentially:

In dipper we're currently using
OMIM:
http://omim.org/entry/1234
OMIMPS:
http://www.omim.org/phenotypicSeries/PS1234

As is stands, MONDO uses
http://purl.obolibrary.org/obo/OMIM_1234
for skosExactMatch: "http://identifiers.org/omim/1234"
OMIMPS:
http://purl.obolibrary.org/obo/OMIMPS_1234

[2019-09-03 10:03] cmungall opened #805 "is_a link to alt_id"
From @buske:

[code]

this should never has passed test suites, we need to investiigate the pipeline as well as fix the error

[2019-09-03 11:30] cmungall commented on #805
@balhoff @dougli1sqrd @hsolbrig @ShahimEssaid  is this a good time to try a ShEx OBO class validator.

It seems better and more declarative to specify a shape e.g.

[code]

rather than having a sparql check for every possible violation

[2019-09-03 12:40] buske opened #806 "Non-numeric term id"
**Mondo term (ID Label)**

chronic tympanitis (MONDO:0001227ub)

**Bug/Typo/Error description**

The 2019-08-28 release of mondo.obo has a non-numeric term identifier: "MONDO:0001227ub"

[2019-09-03 12:43] buske opened #807 "alt_id to non-mondo term"
**Mondo term (ID Label)**

brucellosis, bovine (MONDO:0025389)

**Bug/Typo/Error description**

Release 2019-08-28 of mondo.obo for the above term includes `alt_id: DO:DOID:14457`, which is outside of MONDO and perhaps unintentional.

[2019-09-03 13:44] cmungall opened #808 "Fix robot report errors"
|category|error|class|property|value|
|---|---|---|---|---|
|ERROR|duplicate_definition|Usher syndrome type 1C [MONDO:0010171]|definition [IAO:0000115]|Usher syndrome is a genetic disorder characterized by sensorineural hearing loss or deafness and progressive vision loss due to retinitis pigmentosa . Sensorineural hearing means it is caused by abnormalities of the inner ear . Retinitis pigmentosa

[2019-09-03 13:47] cmungall opened #809 "merge brucellosis, bovine + Brucella abortus brucellosis"
Also: add axiom linking too ncbitaxon

[2019-09-03 13:49] #802 closed

[2019-09-03 13:51] cmungall commented on #806
ugh, can't believe we don't have a check for this, thanks for reporting this!

[2019-09-03 14:04] #805 closed

[2019-09-03 14:04] #806 closed

[2019-09-03 14:04] #807 closed

[2019-09-03 16:03] nicolevasilevsky commented on #808
I am keeping track of these errors and revised defs in this [spreadsheet](https://docs.google.com/spreadsheets/d/1LV2r7fdqPcSOgAfGrMM5U86vWv8i5T00buvrq0g2NhY/edit#gid=0)

[2019-09-04 17:33] jmcglaughon opened #811 "[Obsolete] Syndrome due to FAR1 deficiency"
**Mondo term (ID and Label)** severe intellectual disability-epilepsy-cataract syndrome due to fatty acyl-CoA reductase 1 deficiency (MONDO:0014510)

**Reason for deprecation** There is currently only one publication with patients that have this disorder (PMID: 25439727), so it cannot be assumed that all patients with FAR1 deficiency will have severe intellectual disability, epilepsy, and cataract

[2019-09-09 17:06] nicolevasilevsky opened #816 "[Obsolete] MONDO_0009651 'pseudo-Hurler polydystrophy'"
**Mondo term (ID and Label)**
MONDO_0009651 'pseudo-Hurler polydystrophy'

**Reason for deprecation**
I think MONDO_0009651 'pseudo-Hurler polydystrophy' may be the same as MONDO_0018931 'mucolipidosis type III'

According to Orphanet, these terms are synonyms: https://www.orpha.net/consor/cgi-bin/Disease_Search_Simple.php?lng=EN

And GARD too: https://rarediseases.info.nih.gov/diseases/3806/mucol

[2019-09-09 17:16] nicolevasilevsky opened #817 "[Obsolete] MONDO_0009639 'mitochondrial myopathy with lactic acidosis'"
**Mondo term (ID and Label)**
MONDO_0009639 'mitochondrial myopathy with lactic acidosis'

**Suggested replacement or term to consider**
MONDO_0016825 'mitochondrial myopathy-lactic acidosis-deafness syndrome'

**Reason for deprecation**
I think these are the same terms.

The [GARD description](https://rarediseases.info.nih.gov/diseases/3682/mitochondrial-myopathy-with-lactic-acidosis) for MONDO_0

[2019-09-11 14:14] paolaroncaglia opened #821 "[Revise subclass] MONDO:0019303 'premature aging' and children"
MONDO:0019303 'premature aging'
is currently

Subclass of:
disorder of development or morphogenesis
skin disease
RO_0002573 some rare

I believe that the parentage to skin disease terms is incorrect and an artefact due to ORDO provenance. Skin appearance may be affected in prematurely aged individuals, but that doesn't make premature aging (and all of its children) a disease of the skin. We face t

[2019-09-17 10:39] paolaroncaglia opened #823 "[Revise subclass] MONDO:0001165 'tongue disease' subclass of 'sensory system disease'"
MONDO:0001165 'tongue disease' is currently a subclass of 'mouth disease' (which is ok of course) and of 'sensory system disease', which doesn't seem entirely correct as the tongue has roles in digestion and speech too (see https://en.wikipedia.org/wiki/Tongue). This issue is similar to https://github.com/monarch-initiative/mondo/issues/747. Would you please consider removing the parentage as you

[2019-09-17 10:42] paolaroncaglia commented on #823
Tagging @zoependlington for her reference.

[2019-09-17 11:00] paolaroncaglia opened #824 "[Revise subclass] MONDO:0008608 down syndrome subclass of many"
MONDO:0008608 down syndrome
is currently

Subclass of:
syndromic intellectual disability
Moyamoya syndrome
chromosomal anomaly with epilepsy as a major feature
genetic multiple congenital anomalies/dysmorphic syndrome
rare syndrome with cardiac malformations
multiple congenital anomalies/dysmorphic syndrome-intellectual disability
total autosomal trisomy

I suspect that at least some of those pare

[2019-09-17 13:15] paolaroncaglia opened #825 "[Revise subclass] hepatitis terms children of MONDO:0024294 skin disease caused by infection"
MONDO:0024294 skin disease caused by infection
has, among others, the following children:
hepatitis A
hepatitis B
hepatitis C
hepatitis E
- [ ] hepatitis may cause jaundice, so the skin condition is a symptom/phenotype, not a disease parent
- [ ] (less important) hepatitis A/B/C/D are, strictly speaking, the virus' names; consider disambiguating to 'hepatitis X infection'?
See https://github.com/E

[2019-09-19 18:24] cmungall commented on #657
Thanks for the tip @dougli1sqrd  - @ShahimEssaid shall we try incorporating this to the MONDO makefile to better diagnose the issue?

[2019-09-23 16:54] cbizon opened #829 "equivalentTo vs skos:exactMatch"
What is the difference between an equivalentTo and an exactMatch annotation?  For instance, MONDO_0005258 (Autism Spectrum Disorder) has two exact matches:

http://purl.obolibrary.org/obo/DOID_0060041;
http://purl.obolibrary.org/obo/NCIT_C88412

and 2 equivalentTos:
http://purl.obolibrary.org/obo/NCIT_C88412
http://www.ebi.ac.uk/efo/EFO_0003756

The NCIT is both exact and equivalent, but the EFO a

[2019-09-24 13:06] paolaroncaglia commented on #749
@nicolevasilevsky
@cmungall
This issue seems fixed in Mondo now, feel free to close if so. Thanks.

[2019-09-24 13:08] paolaroncaglia commented on #652
@nicolevasilevsky
FYI, these edits are still pending from the EFO side, I'll keep you posted when we implement them.

[2019-09-24 15:21] #749 closed

[2019-09-25 04:26] cmungall commented on #829
We do have the equivalence axiom between DO and MONDO here

Ugh, I think what you are seeing is an ontobee bug.

In OWL, equivalentClasses takes a set as argument

At the RDF level owl:equivalentClass is a directional relation. The
direction is arbitrary.

OntoBee is not using basic symmetric inferences.

(or maybe you are using your own neo4j instance, neo4j is also dumb this
way)

We could pre-c

[2019-09-25 13:05] cbizon commented on #829
It's in ontobee, but it's (I think) also in @balhoff 's ubergraph.   Also in OLS which shows the skos exact matches, but not the equivalent classes.

But I guess more to the point, I'm not sure why there are two ways of doing the same thing in MONDO.  Even if they're functionally the same, seems like having both operating at the same time leads to confusion & not much documentation about whether t

[2019-09-25 17:52] cmungall commented on #829
On Wed, Sep 25, 2019 at 6:07 AM cbizon <notifications@github.com> wrote:

Right, the direction will be arbitrary. Jim how hard to materialize the
reciprocal? Technically not an OWL inference, since it's a set in owl

Also in OLS which shows the skos exact matches, but not the equivalent

OLS loads the obo file because logical axioms confuse it

see my blog post, there are lots of different use cas

[2019-09-25 18:12] balhoff commented on #829
@cmungall to be crystal clear: should it be the case for MONDO that `A skos:exactMatch B` should always be paired with a `A owl:equivalentClass B`? And it may not always be apparent because of variances in the direction the statements are written?

[2019-09-25 18:50] cmungall commented on #829
No, the inference I was speaking about was

`A = B <=> B = A`

Which only makes sense at the RDF level, since at the OWL level it's just

`EquivalentClasses( {A,B} ) <=> EquivalentClasses( {B,A} )`

where `{..}` denotes a set.

Regarding your question, every equivalence axiom should be shadowed as a skos:exactMatch, to support cases where people want the ontology minus EAs between NCs.

However, n

[2019-09-25 18:56] cmungall commented on #829
It's also not clear we should be making EAs to resources like ICD9. We are injecting an ontological commitment. We will probably keep doing it as it's potentially useful for people using the OWL. However, there should be no problem with maintaining skos:exactMatch in perpetuity as it doesn't inject anything.

[2019-09-25 19:20] balhoff commented on #829
This is what I was trying to ask:

It sounds like the other direction is not necessarily the case (in case of obsoletions).

What I was saying is that the RDF serialization may obfuscate the shadowing somewhat.

[2019-09-26 03:29] cmungall commented on #825
@nicolevasilevsky can you paste a protege explanation?

[2019-09-26 03:32] cmungall commented on #824
We really need to review the only-ordo supported is-as soon

Definitely not a type of moyamoya.

for the others, wondering if we should even obsolete some of the parents

@nicolevasilevsky can you handle?

[2019-09-26 14:38] nicolevasilevsky commented on #825
![image](https://user-images.githubusercontent.com/6722114/65697910-94bd5980-e030-11e9-87be-0b5860501e2c.png)

[2019-09-26 15:52] nicolevasilevsky commented on #823
this may be an issue for Uberon, I will look into this further

[2019-09-26 15:54] nicolevasilevsky commented on #821
note to self - to remove superclass assertion for 'skin disease'

[2019-09-26 15:57] nicolevasilevsky commented on #723
note to self - need to revise the superclass for 'sexual disorder' - not sure what the best parent should be, need to look into thiis

[2019-09-26 19:29] nicolevasilevsky commented on #824
@cmungall I removed several superclasses and made them excludedSubclassOf:
- MONDO:0000508 'syndromic intellectual disability'
- MONDO:0003847 'inherited genetic disease'
- MONDO:0018792 Moyamaoya syndrome
- MONDO:0015652 'chromosomal anomaly with epilepsy as a major feature'
- MONDO:0015159 'multiple congenital anomalies/dysmorphic syndrome-intellectual disability'
- MONDO:0015506 'rare syndrome

[2019-09-26 20:02] nicolevasilevsky commented on #685
per @paolaroncaglia's comments on https://github.com/EBISPOT/efo/issues/553#issuecomment-534927291, I revised the subclass for MONDO_0005413 cystic fibrosis associated meconium ileum

[2019-09-26 20:19] pnrobinson commented on #705
I would suggest that until the community drops Asperger, it would probably be best not to change the label but instead put a summary of the controversy into a comment.

[2019-09-26 20:20] nicolevasilevsky commented on #705
I like this idea!

[2019-09-26 20:26] nicolevasilevsky commented on #824
Another question here that @paolaroncaglia brought up on our call is - some of the old superclasses for Down Syndrome are phenotypes (ie intellectual disability, cardiac malformations) - do we want to capture these logically on this term somehow?

[2019-09-26 20:48] ErinRiggs commented on #705
Here is some feedback from Scott Myers, developmental pediatrician and co-chair of the ClinGen Neurodevelopmental Disorders Clinical Domain Working Group:

"I think the proposed change is reasonable, but would propose considering a slight change from “mild or no impairment of functional language” to “mild or no impairment of functional spoken language,” only because they must have deficits in nonv

[2019-09-26 20:54] nicolevasilevsky commented on #705
thank you @ErinRiggs!

[2019-09-26 20:57] nicolevasilevsky opened #834 "Review the only-ordo supported is-as relationships?"
In #824, there was a note about a need to review the only-ordo supported is-as relationships?

It also came up in https://github.com/EBISPOT/efo/issues/553
MONDO_0009061 'Cystic fibrosis': from @paolaroncaglia: of all its current parents in EFO, only 'autosomal recessive disease' should stay; all other parents should be deleted bcs they represent symptoms/phenotypes, CF is a multi-systemic disease

[2019-09-26 21:29] gtsueng opened #836 "Duplicate Merge ancylostomiasis/ankylostomiasis"
It looks like: ankylostomiasis (MONDO:0019184) is the same as ancylostomiasis (MONDO:0005645) with ankylostomiasis being a dated and less frequently used spelling. At some point, it was even spelled [anchylostomiasis](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5148390/)

Also, ankylostomiasis (MONDO:0019184) has the statement "AKA: ancylostomiasis" suggesting that they're the same.

[2019-09-26 21:31] nicolevasilevsky commented on #836
thanks @gtsueng! I'll leave this open for a bit, in order to allow any community feedback.

[2019-09-26 21:45] nicolevasilevsky commented on #823
![image](https://user-images.githubusercontent.com/6722114/65727216-f18a3580-e06b-11e9-8071-237dfa747f9c.png)

tongue is a subclass of sense organ in Uberon - is this something we should revisit? If yes, I can create a ticket in Uberon.

[2019-09-26 21:48] nicolevasilevsky commented on #823
same with disease of ear - ear is a subclass of sense organ in Uberon

[2019-09-27 16:06] paolaroncaglia commented on #834
@nicolevasilevsky
MONDO:0021001 hemochromatosis type 1 may be a similar case, see https://github.com/EBISPOT/efo/issues/568.

[2019-09-27 18:03] nicolevasilevsky opened #839 "need to fix IDs for cardioectodermal syndrome and sleep disorder"
These two terms seemed to have the same ID, need to fix sleep disorder to be: MONDO:0100081

[Term]
id: MONDO:0100080
name: cardioectodermal syndrome
def: "Cardioectodermal syndromes are those in which phenotypic manifestations occur in the heart, skin, and/or hair. Variation in the genes of interest may occur in both an autosomal dominant inheritance pattern, or in an autosomal recessive inherita

[2019-09-28 15:09] dst1 opened #841 "Some xrefs map to multiple mondo terms"
I hope this is the right place and way to reference this issues.

I'm using the MONDO ontology json from obofoundry downloaded at 26.09.2019
I found 4 cases where a single xref maps to multiple MONDO terms (presented here in json like form):
[code]
Specifically:
 - `MONDO:0015661` and  `MONDO:0004823` are both the same as `HP:0001651` (semantically) however are found in different places at the ont

[2019-09-30 17:12] gtsueng opened #842 "Merge filarial elephantiasis (MONDO:0005761) and lymphatic filariasis (MONDO:0016076)"
These items appear to be the same:
-filarial elephantiasis (MONDO:0005761)
-lymphatic filariasis (MONDO:0016076)

Both appear to be lymphatic infections of bancrofti, but filiarial elephantiasis mentions brugia malayi as an additional potential causative agent. [NCBI taxonomy search for brugia malayi](https://www.ncbi.nlm.nih.gov/taxonomy/?term=brugia+malayi) suggests it's a causative agent of lym

[2019-09-30 17:58] nicolevasilevsky commented on #842
Does anyone have any objections? @gtsueng I will leave this open on the tracker for at least a couple weeks, so the community can comment.

The definition for lymphatic filariasis (MONDO:0016076) is cut off, it should be:

Lymphatic filariasis (LF) is a severe form of filariasis, caused by the parasitic worms Wuchereria bancrofti, Brugia malayi and Brugia timori, and the most common cause of acqui

[2019-09-30 18:13] gtsueng commented on #842
Sounds good. If the community decides these are two different entities, then I suggest changing the AKA statement in filarial elephantiasis from 'lymphatic filariasis' to 'late-stage lymphatic filariasis', just to make the distinction more clear.

[2019-09-30 18:16] nicolevasilevsky commented on #842
Sounds good. Note, I created a pull request to fix the definition in MONDO:0016076

[2019-09-30 20:30] nicolevasilevsky commented on #739
Hi @cmungall and @ErinRiggs

I still have some outstanding questions:

I am a bit unsure how MONDO:0018214 generalized epilepsy with febrile seizures plus is different from MONDO_0100027 'febrile seizures plus, genetic epilepsy with febrile seizures plus'? The paper and link above (PMID:28842445 and https://www.epilepsydiagnosis.org/syndrome/fbp-overview.html) are referring to the latter class, I

[2019-09-30 21:06] nicolevasilevsky commented on #841
Thanks @dst1!

1) I think MONDO:0015661 'dextrocardia (disease)' and MONDO:0004823 dextrocardia should be merged. @cmungall or others, any objections?
2) I agree, I will make these edits on a branch and do PR:
- remove HP_0000010 'Recurrent urinary tract infections' as a dbxref from MONDO:0001650 'acute cystitis (disease)' and MONDO:0005247 'urinary tract infection (disease)'.
- move MONDO:0001650

[2019-09-30 21:14] gtsueng opened #847 "Merge and obsolete one of two vCJD terms"
**Mondo term (ID and Label)**
variant Creutzfeld Jacob disease (MONDO:0005409)

**Reason for deprecation**
Appears to be a spelling variation for:
variant Creutzfeldt-Jakob disease (MONDO:0007012) which has more xrefs associated with it.

[2019-09-30 22:36] nicolevasilevsky commented on #821
Continued from above: suggestions for children of 'Premature aging': from https://github.com/EBISPOT/efo/issues/544

**Acrogeria:**

- [ ] Add parents 'genetic disorder' and 'skin disease' (if the latter is removed from 'premature aging')

- [ ] Add def "A congenital skin condition characterized by premature aging, more especially in the form of unusually fragile, thin skin on the hands and feet.

[2019-10-01 08:05] paolaroncaglia commented on #842
@nicolevasilevsky
@gtsueng
EFO has EFO:0007272 'filarial elephantiasis' with synonym 'lymphatic filariasis' among others. The definitions we have are:

"Parasitic infestation of the human lymphatic system by wuchereria bancrofti or brugia malayi. It is also called lymphatic filariasis. [ MESH:D004605 ]"

and

"A filariasis that is characterized by the thickening of the skin and underlying tissues,

[2019-10-01 08:14] paolaroncaglia commented on #836
@nicolevasilevsky
@gtsueng
EFO has EFO:0007145 ancylostomiasis, mapped to MONDO:0005645 and defined as

"Infection by hookworms of the genus Ancylostoma. [ NCIT:P378 ]"

and

"A parasitic helminthiasis infectious disease that involves infection of skin, eyes, and viscera in humans by the parasitic nematodes Ancylostoma braziliense, Ancylostoma ceylanicum, Ancylostoma duodenale or Ancylostoma canin

[2019-10-01 10:12] paolaroncaglia opened #858 "[Revise subclass] MONDO:0017709 disorder of lipid absorption and transport"
MONDO:0017709 disorder of lipid absorption and transport
has no definition. It is
Subclass of:
pancreas disease
inherited lipid metabolism disorder
RO_0002573 some rare
EFO has more or less the same, and we're questioning the pancreas and inherited/genetic superclasses. Please see https://github.com/EBISPOT/efo/issues/572 for details. Would you be able to provide any additional info on this term p

[2019-10-01 10:36] paolaroncaglia opened #859 "[Revise subclass] MONDO:0009833 Shwachman-Diamond syndrome"
Another case of ORDO-derived superclasses, please see https://github.com/EBISPOT/efo/issues/573 for details. Thanks!

[2019-10-01 14:54] maglott opened #860 "Representation of responses to drugs"
Should a category be created for pharmacologic responses?

- Orphanet made some of their records obsolete
-  There are still some records in the category  from OMIM, e.g. MONDO_0014330
- GTR has many tests related to pharmacogenomics, e.g.
https://www.ncbi.nlm.nih.gov/gtr/tests/558523/indication/
that cannot be represented in MONDO.

If these are in scope for MONDO, seems the category could be mor

[2019-10-01 15:25] nicolevasilevsky commented on #860
@pnrobinson and @cmungall what are your thoughts?

[2019-10-01 15:28] pnrobinson commented on #860
This definitely should not be represented as "MONDO_0003847, inherited genetic disease". I would think that it is probably best to integrate the MONDO data with something like https://www.pharmgkb.org/

[2019-10-01 18:55] maglott opened #861 "Should there be a design pattern for genetic disorders vs. unspecified?"
I am looking at MONDO_0008698 (achalasia (disease)), which is a child of both idiopathic achalasia and inherited genetic disease.

I am looking because I am trying to understand representation of these CUI from UMLS:
[C0014848]  Esophageal Achalasia  (no genetic restriction)
[C2939435]  Hypertensive lower esophageal sphincter (no genetic restriction)
[C1860213]  Achalasia, familial esophageal  (al

[2019-10-01 19:19] maglott opened #862 "MONDO_0009290, glycogen storage disease II"
**Mondo term (ID and Label):**
MONDO_0009290, glycogen storage disease II
**Xref that should be fixed (ID and label):**
 "exactMatch http://linkedlifedata.com/resource/umls/id/C3695005"
**Other comments:**
Concept: [C3695005]  GLYCOGEN STORAGE DISEASE, TYPE IIIc
vs
"exactMatch http://linkedlifedata.com/resource/umls/id/C0017921"
Concept: [C0017921]  Glycogen storage disease type II

Thanks for che

[2019-10-02 03:22] cmungall commented on #860
Yes, obsolete these. I think the best home is OBA, since these are traits

On Tue, Oct 1, 2019 at 8:28 AM Peter Robinson <notifications@github.com>
wrote:

[2019-10-02 03:57] cmungall commented on #847
oh, we should definitely merge, can you do this Nicole?

On Mon, Sep 30, 2019 at 2:14 PM gtsueng <notifications@github.com> wrote:

[2019-10-02 04:03] cmungall commented on #834
I think you are on top of this, do you need me to do anything here?

[2019-10-02 04:04] cmungall commented on #824
given we do not have common disease association files in place yes, make these disease-has-phenotype links if you believe them to be true

[2019-10-02 04:15] cmungall commented on #823
Note we already excluded the is-a from SSD to nervous system disease for
same underlying reasons.

What's the use case for sensory system disease? Maybe the intent is nervous
system part of sensory system disease?

On Thu, Sep 26, 2019 at 2:48 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-10-02 04:16] cmungall commented on #821
also is premature aging a good disease name?

On Mon, Sep 30, 2019 at 3:36 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-10-02 11:38] maglott commented on #860
What is OBA?

[2019-10-02 14:20] nicolevasilevsky commented on #860
Ontology of Biological Attributes: http://www.obofoundry.org/ontology/oba.html

[2019-10-02 14:51] Mohan-Shruthi opened #863 "[Revise text def] MONDO:0011071 "hereditary thrombocytopenia with normal platelets and hematologic cancer predisposition syndrome""
**Mondo term (ID and Label)**
MONDO:0011071; "hereditary thrombocytopenia with normal platelets and hematologic cancer predisposition syndrome"
URL: https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http://purl.obolibrary.org/obo/MONDO_0011071

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**
_Suggested revised term label:_ her

[2019-10-02 14:58] Mohan-Shruthi opened #864 "[NTR] hereditary thrombocytopenia and hematological cancer predisposition syndrome associated with RUNX1"
**Preferred term label:**
hereditary thrombocytopenia and hematological cancer predisposition syndrome associated with RUNX1

**Synonyms**
ExactSynonym: Familial platelet disorder with predisposition to hematologic malignancy (FPD/HM), FPD/AML syndrome, familial platelet disorder with associated myeloid malignancy, FPS/AML syndrome, familial platelet syndrome with predisposition to acute myelogeno

[2019-10-02 15:47] nicolevasilevsky commented on #847
@paolaroncaglia FYI - I obsoleted MONDO:0005409 variant Creutzfeld Jacob disease (EFO_0004597) on PR https://github.com/monarch-initiative/mondo/pull/865

[2019-10-02 17:47] nicolevasilevsky commented on #825
@ana-rath-orphanet - looping you in to this ticket.

Per your email, it sounds like we should revise these labels to 'hepatitis B virus infection', instead of 'hepatitis B infection'

[2019-10-02 17:52] nicolevasilevsky commented on #578
@ana-rath-orphanet please see this ticket and related ticket #577 regarding the new term: MONDO_0100080 cardioectodermal syndrome

[2019-10-02 17:52] #839 closed

[2019-10-02 17:59] #713 closed

[2019-10-02 18:04] nicolevasilevsky opened #866 "[Revise subclass] 'insomnia (disease)'"
**Mondo term (ID and Label)**
MONDO_0013600 'insomnia (disease)'

**Suggested revision and reasons**
MONDO_0013600 'insomnia (disease)' is classified as a child of 'cardioectodermal syndrome', and it should be a subclass of 'sleep disorder'. I think this error was introduced when fixing the duplicate IDs described in #839

[2019-10-02 18:09] nicolevasilevsky commented on #866
the same problem exists for  MONDO_0003406 'sleep-wake disorder'
I will fix this too

[2019-10-02 18:13] nicolevasilevsky commented on #531
this is now dependent on PR https://github.com/monarch-initiative/mondo/pull/867

see related ticket https://github.com/monarch-initiative/mondo/issues/866

[2019-10-02 21:06] #866 closed

[2019-10-02 21:48] nicolevasilevsky commented on #860
@maglott are there other terms besides MONDO_0014330 'eculizumab, poor response to' that should be obsoleted and added to OBA instead?

Do you want to make a ticket in OBA for the terms you need?
https://github.com/obophenotype/bio-attribute-ontology

Thanks!

[2019-10-02 21:50] cmungall commented on #860
I think we can make a first pass at these ourselves

On Wed, Oct 2, 2019 at 2:48 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-10-02 21:50] cmungall commented on #860
but any help welcome of course!

On Wed, Oct 2, 2019 at 2:50 PM Chris Mungall <cjmungall@lbl.gov> wrote:

[2019-10-02 21:53] nicolevasilevsky commented on #860
@cmungall there are 98 responses listed on this webpage:
https://www.ncbi.nlm.nih.gov/gtr/tests/558523/indication/

Should all of these be added to OBA? If yes, I can make a ticket. I am not sure if I have ever edited OBA though. It is all pattern based, right?

[2019-10-02 21:58] cmungall commented on #860
do these denote abnormal response, or the general response trait? If former, also belong in HPO? How is this coordinated with loinc2hpo? cc @pnrobinson

[2019-10-02 22:00] pnrobinson commented on #860
We have a request to add a general abnormal response to medication X, still considering this. I am not sure where best to put these terms & worried about combinatorial explosions (even more :-0). This would not be directly connected to LOINC2HPO, which does not include the genetic infos.

[2019-10-02 23:33] #847 closed

[2019-10-03 02:43] nicolevasilevsky commented on #821
It does seem like more of a phenotype than a disease. In MeSH, it is classified under 'Signs and Symptoms'
https://meshb.nlm.nih.gov/record/ui?ui=D019588

@cmungall are you suggesting we rename it? or obsolete it?

If we renamed it, what should we rename it as? premature aging syndrome? premature aging disorder?

This article describes 'premature aging syndrome' but I think they are talking about

[2019-10-03 03:07] nicolevasilevsky commented on #824
Would this be the correct way to do this:
add SubClassOf axioms:
'disease has feature' some 'Intellectual disability'
'disease has feature' some epilepsy
'disease has feature' some 'Abnormal facial shape'
'disease has feature' some 'Abnormality of the cardiovascular system'

Thanks!

[2019-10-03 08:41] paolaroncaglia commented on #823
@nicolevasilevsky
@cmungall
Thanks. Here's the Uberon ticket: https://github.com/obophenotype/uberon/issues/1517
I'll look into the sensory system disease issue next.

[2019-10-03 10:53] maglott commented on #860
For consideration:  When ClinVar receives submissions from PharmGKB, there is a parent (unqualified) response to medication X, and then depending on the drug and the metabolic effect, e.g.
simvastatin response - Toxicity/ADR
simvastatin response - Efficacy

Compare to the terms that Orphanet made obsolete:
https://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=EN&Expert=240985
https://www.orpha.net/c

[2019-10-03 11:19] maglott commented on #860
Sorry, I did not read from the top of the thread.
Here are more concepts from UMLS and OMIM that we have categorized in part as pharmacologic responses:
C1861502|Colchicine resistance|120080|
C0750384|Warfarin response|122700|
C1860214|Acetophenetidin sensitivity|200300|
C1859352|Carbimazole sensitivity|212060|
C0878587|Slow acetylator due to N-acetyltransferase enzyme variant|243400|
C1838854|Ami

[2019-10-03 15:47] nicolevasilevsky commented on #860
Thanks @maglott

@cmungall This is a list of terms that are candidates to be obsoleted from Mondo, and I will create a ticket to request these in OBA:

MONDO_0007348 Colchicine resistance
MONDO_0008697 'acetophenetidin sensitivity'
MONDO_0008906 Carbimazole sensitivity
MONDO_0012294 CYP2C19-related poor drug metabolism
MONDO_0012148 'drug metabolism, poor, CYP2D6-related'
MONDO_0014330 'eculizumab

[2019-10-03 16:00] nicolevasilevsky commented on #834
@paolaroncaglia has been reporting individual issues, but do you think we should look at all of the only-ordo supported is-as relationships? Is there an easy way to generate a list of all of these terms/relationships?

[2019-10-03 23:59] cmungall commented on #860
Note that anything with 'poor' in the label is out of scope for OBA, as it
should be the value-neutral trait. However, you can still make terms for
the agnostic form.

Anything with 'poor' is a candidate for HPO, pending Peter's decision on
this

On Thu, Oct 3, 2019 at 3:53 AM maglott <notifications@github.com> wrote:

[2019-10-07 12:18] paolaroncaglia opened #870 "MONDO:0012495, incorrect rendering of label"
MONDO:0012495 spondyloepimetaphyseal dysplasia, GeneviC(ve type
That's how the label is rendered (in both OLS and Ontobee, so presumably the issue needs to be fixed at source). Should be 'spondyloepimetaphyseal dysplasia, Geneviève type', as per definition.
I haven't checked if there are other Mondo labels with similar issues. (EFO has the same term and the label is fine; we get the term from Orph

[2019-10-07 20:23] nicolevasilevsky opened #871 "help needed: huge diffs in Mondo"
Lately when I edit Mondo in Protege, I get huge diffs.

Can anyone help? @cmungall @matentzn @ShahimEssaid

here is an example below:
[code]

[2019-10-07 20:26] nicolevasilevsky commented on #759
@ShahimEssaid are you able to work on this?

[2019-10-07 23:50] nicolevasilevsky opened #873 "incorrect rendering of labels"
**Mondo term (ID Label)**
'Papillon-Lefevre disease'
'Netherton syndrome'
'progressive familial heart block'
'progressive familial heart block'

**Bug/Typo/Error description**
incorrect rendering in label or def or synonym, because protege can't properly display the accents

[2019-10-08 00:11] nicolevasilevsky commented on #862
Hi @maglott I am a bit unclear what you are asking for. Would you like the xref to UMLS:C3695005  to be removed?

Thanks for clarifying!

[2019-10-08 00:17] nicolevasilevsky commented on #858
Hi @paolaroncaglia I can't find any additional info about this term.

@maglott could you possibly help give us any more info about UMLS:CN227181?

Or @ana-rath-orphanet could you give us any more info about Orphanet:309028

Thank you!

[2019-10-08 09:54] paolaroncaglia commented on #858
@nicolevasilevsky thanks for following up!

[2019-10-08 10:31] matentzn commented on #871
Dont get what this is; the same diff repeated 10 times? One thing that looks hugely annoying but non-critical to me eyballing it is that the order of xrefs seem to have been changed, potentially by the new OWLAPI version in Protege... I cant see anything else wrong from me; where is the pull request for this?

[2019-10-08 10:55] maglott commented on #858
Orphanet is the primary on this record.  MedGen created CN227181 for Orphanet:309028.   The only 'definitions' I see are the classifications.

[2019-10-08 11:01] maglott commented on #862
Yes, please remove UMLS:C3695005. AFAICT,  GLYCOGEN STORAGE DISEASE, TYPE IIIc is distinct from Glycogen storage disease type II

[2019-10-08 13:05] paolaroncaglia opened #875 "Typo in label of MONDO:0060702"
MONDO:0060702 spondyloepimetaphyseal dysplasia, di rocco type
should be
spondyloepimetaphyseal dysplasia, Di Rocco type
See https://www.omim.org/entry/617974.
Thanks.

[2019-10-08 16:58] nicolevasilevsky commented on #858
Thank you @maglott! Hopefully Ana or Annie can weigh in from Orphanet.

[2019-10-08 21:16] #873 closed

[2019-10-08 21:16] #870 closed

[2019-10-08 22:05] gtsueng opened #877 "Revise or obsolete seeming duplicates for Haemophilus meningitis"
haemophilus meningitis (MONDO:0000889) definition: Infections of the nervous system caused by bacteria of the genus haemophilus, and marked by prominent inflammation of the meninges. haemophilus influenzae type B is the most common causative organism. The condition primarily affects children under 6 years of age but may occur in adults
AKA: Haemophilus influenzae bacterial meningitis, Haemophilus

[2019-10-09 13:21] paolaroncaglia commented on #685
@nicolevasilevsky
MONDO:0009061 'cystic fibrosis' needs fixing too please, see
https://github.com/EBISPOT/efo/issues/553#issuecomment-539991798
Thanks!

[2019-10-09 16:38] gtsueng opened #879 "Potential cdc url xrefs and NTRs"
Scraped the CDC Diseases and Conditions A-Z index for first level urls and mapped them to Wikidata QIDs and MONDO IDs where possible. For items with no MONDO IDs, filled in details for NTR whenever reasonable. https://docs.google.com/spreadsheets/d/1yRzWksvL3t--gYFG0EQPOK3SwRKleuXs0Se2_8VcK6g/edit?usp=sharing

[2019-10-09 16:54] maglott opened #880 "MONDO:0022314 and MONDO:0016290, Hern OR Hernandez Aguirre-Negrete syndrome"
I believe these are the same concept and should be merged.

[2019-10-10 15:32] nicolevasilevsky opened #881 "create a table of Mondo source data for website"
I will add a table to the Mondo website with the source data.

Nico offered to automatically derive this from metadata, but needs some clarification. I'll put up a manually curated table on the website as a placeholder.

cc @cmungall, @jmcmurry

[2019-10-10 18:36] nicolevasilevsky commented on #881
I created a 'sources' page on the Mondo website here: https://mondo.monarchinitiative.org/pages/sources/

I can update this when we have the automatically derived data.

[2019-10-10 18:51] nicolevasilevsky commented on #871
Closing this, I spoke to Nico about it yesterday. He said there are three things in the diff:
1) serialization order of the xrefs changed
2) one obsolete term was located in the wrong part of the file
3) the label was changed in the text editor and not in Protege, and the OWL API changed the relationship annotations to the new label

and that nothing in the file has actually changed unintentionall

[2019-10-10 20:17] nicolevasilevsky commented on #685
Got it - thanks @paolaroncaglia.
I did one PR #882
I will work on the rest of this once @cmungall approves the PR.

- [ ] Narrow down its disease location to 'intestine'

**Note, this is from https://github.com/EBISPOT/efo/issues/553**

- [ ] Remove the mapping between EFO:0004608 'cystic fibrosis associated meconium ileum' and its counterpart MONDO:0005413, and remove MONDO:0005413 from the Mondo

[2019-10-10 23:49] ana-rath-orphanet commented on #858
It corresponds to a group of disorders, which preferred term is Disorder of lipid absorption and transport, including:

![Capture d’écran 2019-10-11 à 01 40 51](https://user-images.githubusercontent.com/43431008/66614272-a7a36280-ebc8-11e9-9e2a-e8d5fcf054a9.png)

No definition yet as it is a category
I don't know if this is what you wanted to have as an answer
Ana

[2019-10-11 02:09] cmungall commented on #877
These should be merged, but do we need a parent concept for infection-site neutral haemophilus?

[2019-10-11 13:20] zoependlington opened #883 "Typo in description of reading disorder (MONDO_0001697)"
**Mondo term (ID Label)**
reading disorder (MONDO_0001697)

**Bug/Typo/Error description**
description field: it should be "involving", it says "involing".

From https://github.com/EBISPOT/efo/issues/590

[2019-10-11 16:39] nicolevasilevsky commented on #858
Thanks @ana-rath-orphanet! @paolaroncaglia does this help answer your question?

[2019-10-11 17:50] nicolevasilevsky opened #884 "typo in synonym for MONDO_0010643 'acute leukemia (disease)'?"
**Mondo term (ID and Label)**
MONDO_0010643 'acute leukemia (disease)'

**Synonym**
leukemia, acute, ?X-linked
OMIM:308960

https://www.omim.org/entry/308960

@ahamosh - is this synonym meant to have a question mark in it?

Thanks for checking!

[2019-10-11 18:04] nicolevasilevsky opened #885 "[Revise subclass] MONDO_0019395 'Hinman syndrome'"
**Mondo term (ID and Label)**
MONDO_0019395 'Hinman syndrome'

**Suggested revision and reasons**
This is a subclass of 'disease or disorder'. Could we classify it at least under MONDO_0006026 MONDO_0006026

The text def is:
Hinman syndrome (HS) or non-neurogenic neurogenic bladder is a voiding dysfunction of the bladder of neuropsychological origin that is characterized by functional bladder outl

[2019-10-12 16:08] TudorOprea opened #886 "Sucrose Intolerance Disease xref proposal"
**Mondo term (ID and Label):*MONDO:0045021*

**Xref that should be fixed (ID and label):*https://omim.org/entry/222900*

**“sucrose intolerance disease” is mappable to https://ghr.nlm.nih.gov/condition/congenital-sucrase-isomaltase-deficiency and to https://omim.org/entry/222900.
Gene associated: "SI" - Rename Disease or add synomym "Congenital sucrase-isomaltase deficiency"  aka MONDO:0009114**

[2019-10-14 13:18] paolaroncaglia commented on #858
@nicolevasilevsky and @ana-rath-orphanet
Many thanks for your feedback! Yes, that helps me address https://github.com/EBISPOT/efo/issues/572. Nicole, feel free to close this ticket.

[2019-10-14 15:00] cmungall commented on #885
Go ahead and do it. Also add disjointness axiom.

Can you also axiomatize neurogenic bladder? In fact are we sure it's a
disease and not a phenotype? (HP:0000011)

On Fri, Oct 11, 2019 at 11:04 AM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-10-14 15:00] cmungall commented on #871
Why close this? We still have a problem.

On Thu, Oct 10, 2019 at 11:52 AM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-10-14 15:00] cmungall commented on #875
Can you take this one on Nicole?

On Tue, Oct 8, 2019 at 6:05 AM paolaroncaglia <notifications@github.com>
wrote:

[2019-10-15 11:20] #858 closed

[2019-10-16 09:25] paolaroncaglia opened #887 "Please revise label of MONDO:0012657 'MGS'"
(This is actually a request to revise a term label, but I couldn't find an appropriate issue template. You may want to consider adding one?)

**Mondo term (ID Label)**
MONDO:0012657 (MGS)
http://purl.obolibrary.org/obo/MONDO_0012657

**Bug/Typo/Error description**
This is actually 'Mungan syndrome' and the current non-explanatory label stands for an acronym. It is also ambiguous as MONDO:0018169 '

[2019-10-16 12:57] paolaroncaglia commented on #652
@nicolevasilevsky
An update on this ticket. To make a long story short, when I tried doing the edits above in EFO, @zoependlington and I realized that, because of the Mondo mappings, we need to hack too many things in place. These were particularly difficult cases because we wish to change terms' placement to be higher up under 'disease', and because the Mondo matches have children themselves. So

[2019-10-20 23:11] cmungall commented on #886
The action here is to make MONDO:0045021 a superclass of MONDO:0009114 (which is already mapped to OMIM:222900 - mappings should be 1:1), and we should add a new sibling for the secondary/acquired form

[2019-10-20 23:19] cmungall commented on #886
OK, it's a bit more complex. SI is dual function with 2 domains one serving as the isomaltase, the other as a sucrose alpha-glucosidase. Thus it's possible to have GSID without necessarily having SI.

I think the best thing to do may be to obsolete the generic sucrose intolerance class MONDO:0045021, as it's a dubious grouping, we have the HP classes for representing phenotype

[2019-10-21 02:22] #886 closed

[2019-10-21 11:23] pnrobinson opened #889 "Obsoleted terms have no label in JSON edition"
In HP, we have as label: "obsolete: previous label"
This is useful for understanding what the term was and why is was obsoleted.
This information is missing in MONDO  (many terms). Here is an example
[code]

[2019-10-21 15:38] jmcmurry opened #890 "All classes must have a primary label"
**Mondo term (ID Label)**
https://beta.monarchinitiative.org/disease/MONDO:0008932
related to #482

**Bug/Typo/Error description**

QC checks should scan for classes that don't have any label

[2019-10-21 16:35] paolaroncaglia commented on #834
@zoependlington and I discussed the issue of incorrect Orphanet-derived superclasses with @nicolevasilevsky at our monthly EFO-Mondo call today. Zoe will try to query the problematic terms and their superclasses from Mondo for Nicole to look at. If necessary, we may ask Nico or Chris for help. Then we'll go from there.

[2019-10-22 00:53] pnrobinson commented on #890
Here is another example, I think there are several in addition to the obsolete classes

[code]

[2019-10-22 01:26] cmungall commented on #890
I think there's 2 tickets here

The first is that primary label should not be initialization eg PCD julie
example

The second is weird... I thought we ensured everything has level.. will
check what is up here

On Mon, Oct 21, 2019, 08:38 Julie McMurry <notifications@github.com> wrote:

[2019-10-22 01:35] pnrobinson opened #892 "MONDO_0020420 is neither node nor property"
**Mondo term (ID Label)**
MONDO_0020420

**Bug/Typo/Error description**
This item is in the nodes section of mondo.json. It is not identified as either a node nor a property. I am not sure if this is valid JSON or not. SInce there is no label, it is not clear what the term is supposed to represent. When I try to find the term in OLS, I get "Something went wrong! Please contact ols-support@ebi.ac.u

[2019-10-22 01:40] pnrobinson opened #893 "http://purl.obolibrary.org/obo/mondo#DEPRECATED"
**Mondo term (ID Label)**
http://purl.obolibrary.org/obo/mondo#DEPRECATED

**Bug/Typo/Error description**
It seems wrong not to use
"http://www.w3.org/2002/07/owl#deprecated",
as opposed to having a MONDO version of deprecated?

[2019-10-22 04:50] cmungall commented on #893
This is more of an artefact of the obo to owl translation. Historically it has been conventional to have synonymtypedefs in ALLCAPS, then these make annoying hash URIs by default. It ends up as the value for a oio:hasSynomymType annotation. I think it's same for HPO LAYPERSON

It would be good to start moving towards standard URIs though. We couldn't really use owl:deprecated with the same structu

[2019-10-22 19:22] pnrobinson opened #894 "ICD10CQ87.3"
I am wondering if we want to transform Xrefs like ICD10CQ87.3 to ICD10:CQ87.3 ?
We are not really consistent here. For instance, we tranform NCBI Gene ids such as 2270 to NCBIGene:2270 (although they do not do this), but we do not transform HGNC ids (which are also integers). Thus, we are being inconsistently inconsistent with the normalization of IDs from the community. This makes it a little mor

[2019-10-22 19:24] nicolevasilevsky commented on #894
I am in favor of being consistent!

[2019-10-22 19:27] pnrobinson commented on #894
So for now in phenotools I will internally transform ICD10CQ87.3 to ICD10:CQ87.3 (and thus make it into a TermId object). But would the data experts in our group consider that to be a grave and misguided mistake?
Moving forward it would be good for us to pre-normalize ids like this in our datastructures.
It is also suboptimal that our Xrefs con be (currently) either (i) CURIES (ii) URLS (iii) stri

[2019-10-22 19:32] pnrobinson opened #895 "Bad xref for Mondo term chorioamnionitis"
**Mondo term (ID Label)**
"http://purl.obolibrary.org/obo/MONDO_0000409"

**Bug/Typo/Error description**
"chorioamnionitis" is listed as a Xref for the Mondo term with "lbl" : "chorioamnionitis"

[2019-10-22 23:13] jmcmurry commented on #894
Not at all grave or misguided. Decoupling ICD from the local part is the preferred mechanism. I thought you could use identifiers.org as the HTTP URI. Details here: https://registry.identifiers.org/registry/icd. However, that doesn't appear to be the case.

Nothing works (cc'ing @sarala here) but I don't now what should.
-  http://identifiers.org/icd/CQ87
- http://identifiers.org/icd:CQ87
- http:/

[2019-10-23 11:49] matentzn commented on #893
+1 for a standard metadata vocab, its coming up here and there in my work as well. I do not understand why http://purl.obolibrary.org/obo/mondo#DEPRECATED exists though rather than owl:deprecated; Once we are out of the R24 madness maybe we should talk what needs to be done to standardise this (and others).

[2019-10-23 11:49] pnrobinson opened #897 "Duplicate "nodes" element in JSON serializtion"
According to https://github.com/geneontology/obographs the JSON serialization should only contain one "nodes" element, and yet monod.json contains two. The second element seems to contain non-Mondo terms. See line 1570594.

[code]

[2019-10-23 12:49] balhoff commented on #893
@matentzn this is totally different from owl:deprecated. This one is a synonym type; it's a "valid" synonym but not encouraged to be used (e.g., it is offensive in modern times). This also shows up in Uberon as `http://purl.obolibrary.org/obo/uberon/core#DEPRECATED`. But HPO has an actual IRI, `http://purl.obolibrary.org/obo/HP_0031859`, "obsolete synonym", for this annotation. Personally I would

[2019-10-23 12:51] matentzn commented on #893
Ahhh now I know what this is :) thanks Jim!

[2019-10-23 16:56] nicolevasilevsky opened #898 "need to relink the excludedSubclassOf to appropriate Mondo class for which the link was removed"
there are 3 instances that use property_value: excluded_subClassOf instead of relationship: excluded_subClassOf
id: MONDO:0017979
id: MONDO:0006497
id: MONDO:0009753

need to relink the excludedSubclassOf to appropriate Mondo class for which the link was removed

cc @matentzn
related to https://github.com/monarch-initiative/mondo/pull/896

[2019-10-23 16:58] nicolevasilevsky commented on #898
note to self - for these three classes, the excluded subClassOf annotation has a string, instead of being linked to the IRI. See example below:

![image](https://user-images.githubusercontent.com/6722114/67416326-86088a80-f57b-11e9-91d5-c5366bfb70eb.png)

[2019-10-23 21:14] nicolevasilevsky opened #899 "[NTR] 'cancer of long bone of upper limb'"
**Preferred term label:**
'cancer of long bone of upper limb'

**Synonyms**
malignant upper limb long bone neoplasm
malignant neoplasm of upper limb long bone
malignant neoplasm of long bones of arm
long bones of upper limb cancer

**Definition (free text, please give PubMed ID, if applicable, in format PMID:#######)**
A cancer that involves the upper limb long bone.

**Parent term (use [OLS](http

[2019-10-24 15:39] justyneross opened #900 "Creation of broader disease entity for ACTA1 related disorder(s)"
For new term requests, please provide the following information:

## Preferred term label

Actinopathy

Note: I see the term “qualitative or quantitative defects of alpha-actin” (MONDO:0016193) exists and this may be the same disease entity I am trying to create but it lacks many details. If that is the case, then I would suggest renaming the entry to Actinopathy, the name currently used in the fi

[2019-10-24 15:40] nicolevasilevsky commented on #899
that was a typo - thanks @maglott. I fixed it above

[2019-10-24 17:24] maglott commented on #900
If this is restricted to alpha actin, then should the preferred term be alpha actinopathy?

[2019-10-24 17:56] justyneross commented on #900
Thank you for the suggestion, in fact it is restricted to alpha1 actin (as opposed to alpha2) so “alpha1 actinopathy” would be the preferred term.
Justyne

________________________________
From: maglott <notifications@github.com>
Sent: Thursday, October 24, 2019 1:24:21 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Ross, Justyne Eliza <justyne@email.unc.edu>; Author <author@norepl

[2019-10-24 18:38] #864 closed

[2019-10-25 00:39] courtneythaxton opened #901 "[Revise subclass] for MONDO:0100080 Cardioectodermal syndrome"
**Mondo term (ID and Label)** MONDO:0100080 Cardioectodermal syndrome

**Suggested revision and reasons**

At this time, two orphan terms appear to have been mapped incorrectly.

Please consider the removal of MONDO:0013600, Insomina (disease) and MONDO:0003406 (sleep wake disorder).

@nicolevasilevsky @cmungall @mellybelly

Thanks
@courtneythaxton

[2019-10-25 11:17] matentzn opened #902 "Weird AnnotationAssertion in owlaxioms: section of OBO file"
[code]

Is the presence of this assertion necessary or should it be removed?

[2019-10-25 15:12] sgblanch opened #904 "xref on endotheliitis uses a URI, causing bad expansion in owl format"
**Mondo term (ID Label)**
http://purl.obolibrary.org/obo/MONDO_0015292

**Bug/Typo/Error description**
xref in mondo-edit.obo uses a URI which causes it to be expanded to http://purl.obolibrary.org/obo/http_//purl.obolibrary.org/obo/UBERON_0001986 in the released mondo.owl

[2019-10-25 15:21] nicolevasilevsky commented on #902
![image](https://user-images.githubusercontent.com/6722114/67583457-79fa0580-f700-11e9-9837-68210b0b4c20.png)

there is this extra annotation, is that what you mean? I can fix this

[2019-10-25 15:22] sgblanch opened #905 "Odd, doubled URIs on classes in mondo.owl"
**Mondo term (ID Label)**
http://identifiers.org/hgnc/24039/http://identifiers.org/hgnc/10993
http://identifiers.org/hgnc/24039/http://identifiers.org/hgnc/12405
http://identifiers.org/hgnc/24039/http://identifiers.org/hgnc/1573
http://identifiers.org/hgnc/24039/http://identifiers.org/hgnc/17989
http://identifiers.org/hgnc/24039/http://identifiers.org/hgnc/18337
http://identifiers.org/hgnc/24039/h

[2019-10-25 16:06] matentzn commented on #902
Thanks Nicole! I have already fixed it in the pull request here: https://github.com/monarch-initiative/mondo/pull/903

[2019-10-25 16:07] nicolevasilevsky commented on #902
cool, thanks @matentzn!

[2019-10-25 16:56] maglott opened #906 "is MONDO:0000171 equivalent to MONDO:0019523"
They seem to have the same children
I don't know whether https://www.omim.org/phenotypicSeries/PS236670
Muscular dystrophy-dystroglycanopathy, type A

is equivalent to:
ORPHA:899,
Walker-Warburg syndrome

[2019-10-29 00:56] cmungall commented on #894
Yes! But I am wondering what you are referring to. All xrefs in mondo are already CURIEs, and we use the ICD10 prefix for ICD10

I strongly recommend embedding the major version in the prefix for ICD as ICD9, ICD10, and ICD11 are totally different (unlike how different versions of GO, HP, MONDO are different).

[2019-10-29 00:59] pnrobinson commented on #894
"All xrefs in mondo are already CURIEs"
=> this is not true in the JSON version.
=> Have you tried this still buggy tool for phenopackets and pheno-related ontologies? https://github.com/pnrobinson/phenotools
It does pick up a lot of warnings/errors in Mondo that we should fix, including the ICD-non-curie-ness.

[2019-10-29 01:34] cmungall commented on #904
oh dear, we should not be making equiv xrefs to uberon classes! @nicolevasilevsky can you remove this. And remove the incorrect NCIT derived syns too

[2019-10-29 01:38] cmungall commented on #904
it turns out the ncit xref is incorrect, remove it

[2019-10-29 01:40] cmungall commented on #889
This corresponds to a merge (alt_id in obo format). The structure above is isomorphic to the OWL. I don't think we'd want to inject a label where there is none, but we could have a more helpful tag at the json level to indicate merges

[2019-10-29 01:49] pnrobinson commented on #889
OK, but it would be much more useful to retain a label like we do in the HPO. It is next to impossible to figure out where classes like this come from without knowing the unwritten rules

[2019-10-29 11:10] paolaroncaglia opened #908 "[Revise subclass] Issues with some descendants of MONDO:0005429 prion disease"
Hi,
MONDO:0005429 'prion disease' encompasses disorders in cattle as well as humans, and that's ok. Its child MONDO:0005357 'Creutzfeldt Jacob disease' refers to humans, even if not specified in its def. However,
- [x] MONDO:0018686 'acquired Creutzfeldt-Jakob disease' is a subclass of both
Creutzfeldt Jacob disease
and
encephalopathy, bovine spongiform
The bovine parent should be removed;
- [x] M

[2019-10-29 15:23] zoependlington opened #909 "[Revise subclass] Geotrichosis should not be a child of immune system disease"
**Mondo term (ID and Label)**
MONDO_0005772 (geotrichosis)

**Suggested revision and reasons**
Review/remove connection to immune system disease, should just be a child of opportunistic mycosis as it is a fungal infection caused by Geotrichum candidum, found in soil, decomposing matter and contaminated food.

[2019-10-29 16:48] #905 closed

[2019-10-30 16:44] cmungall commented on #894
Sorry forgot to follow up. Ugh yes we have some malformed xrefs, have fixed and implemented a check

[2019-10-30 22:43] nicolevasilevsky opened #912 "[Revise subclass] Questions re: subclasses of X-linked syndromic intellectual disability"
**Mondo term (ID and Label)**
These terms are subclasses of X-linked syndromic intellectual disability and it is questioned whether they should be.

ID | Label | Note
-- | --- | ---
MONDO:0010568 | Aicardi syndrome | Primarily   an epilepsy condition. Characterized by a triad of agenesis of the corpus   callosum, distinctive chorioretinal lacunae, and infantile spasms
MONDO:0010752 | VACTERL assoc

[2019-10-31 11:16] maglott opened #913 "return to Marfan 2"
I know https://github.com/monarch-initiative/mondo/issues/560 was closed,  but am wondering if ORPHA:284973 (Marfan syndrome type 2) should be considered equivalent to MONDO:0012427?
OMIM (https://omim.org/entry/610168) reports MARFAN SYNDROME, TYPE II, FORMERLY as a former term, and ORPHA:284973 cross-references OMIM:610168

[2019-10-31 11:36] maglott commented on #913
And from the GeneReview by Dietz:
Marfan syndrome type 2. This term is no longer in use. It was used by Mizuguchi et al [2004] in a report of individuals with a phenotype that resembled Marfan syndrome but is now known to be Loeys-Dietz syndrome, an autosomal dominant disorder caused by a heterozygous pathogenic variant in either TGFBR1 or TGFBR2 (see Differential Diagnosis).

[2019-10-31 22:23] nicolevasilevsky commented on #913
Thanks for reporting this @maglott. I'll wait to see if anyone from the community has any comments before taking action.

[2019-10-31 22:31] nicolevasilevsky commented on #913
Looking into this more closely, I see Marfan Syndrome Type 2 was already obsoleted, but there is not a 'replaced by'. So the required action for this ticket is to add a 'replaced by' MONDO_0012427 to the obsoleted class 'obsolete Marfan Syndrome Type 2'.

[2019-11-01 15:29] maglott commented on #913
I believe so, and, if Orphanet  agrees, add the xref for ORPHA:284973  to MONDO:0012427.

[2019-11-01 15:30] nicolevasilevsky commented on #913
@Orphanet @ana-rath-orphanet @annieolry
do you agree?

[2019-11-01 17:09] maglott commented on #796
Perhaps related to this (or does it need a new ticket)  can MONDO require that any term be unique?
NCBI pulls the terms from MONDO into relational tables, and the August release had 831 terms that were synonyms to 2 MONDO identfiers, e.g.
MONDO_0011906	3-beta-hydroxy-delta-5-C27-steroid oxidoreductase deficiency
MONDO_0018841	3-beta-hydroxy-delta-5-C27-steroid oxidoreductase deficiency

[2019-11-01 17:18] nicolevasilevsky commented on #796
Hm, yes, I see that.

It seems that synonym come from DO for MONDO_0018841 'congenital bile acid synthesis defect' and the synonym comes from Orphanet for MONDO_0011906 'congenital bile acid synthesis defect 1'.

I'll revise the synonym on the type 1 term to read '3-beta-hydroxy-delta-5-C27-steroid oxidoreductase deficiency type 1'.

@Orphanet @annieolry @ana-rath-orphanet - would you want to revi

[2019-11-01 20:45] nicolevasilevsky commented on #796
@maglott this synonym has been fixed, you should see it in the next release

[2019-11-01 21:15] nicolevasilevsky commented on #906
I think MONDO_0019523 'Walker-Warburg syndrome' is the same as OMIM:253800 MUSCULAR DYSTROPHY-DYSTROGLYCANOPATHY (CONGENITAL WITH BRAIN AND EYE ANOMALIES), TYPE A, 4; MDDGA4, which is cross-referenced but not a synonym.

I can add it as a synonym. Would that address this ticket?

[2019-11-01 21:38] nicolevasilevsky commented on #895
@pnrobinson where do you see this? I don't see it in the mondo-edit.obo file or in OLS

[2019-11-03 13:47] maglott opened #921 "GARD xref for Alzheimer"
**Mondo term (ID and Label):**
MONDO_0004975: Alzheimer disease
MONDO_0015140: early-onset autosomal dominant Alzheimer disease

**Xref that should be fixed (ID and label):**
http://purl.obolibrary.org/obo/GARD_0000632 familial Alzheimer
https://rarediseases.info.nih.gov/diseases/12798/early-onset-autosomal-dominant-alzheimer-disease
**Other comments:**
http://purl.obolibrary.org/obo/GARD_0000632

[2019-11-04 10:26] zoependlington opened #922 "[Revise subclass] radiation or chemically induced disorder"
**Mondo term (ID and Label)**
MONDO:0045028 (radiation or chemically induced disorder)

**Suggested revision and reasons**
During our recent remodelling of top level EFO disease terms, we have been asked to move this term to be a child of injury rather than as a child of disease. As it is a Mondo term, we can not move it and so bringing the discussion/request here. See https://github.com/EBISPOT/e

[2019-11-04 12:45] maglott commented on #906
I don't know what the equivalence is, which is why I raised the question.  But if Walker-Warburg syndrome is the same as OMIM:253800, then  ORPHA:899 should be added as an XRef.
@ahamosh , @ana-rath-orphanet  what do you think?

[2019-11-05 00:21] cmungall commented on #922
Overall this makes sense, this is a good time to do some cleanup first

here is the hierarchy:

![rad](https://user-images.githubusercontent.com/50745/68168788-db02b400-ff1e-11e9-9c63-8ddcfec4d197.png)

we already have 'radiation injury', this would be merged?

I think disease and injury should be disjoint, but as can be seen there is lots of cross-over at the moment

[2019-11-05 00:49] cmungall commented on #912
do it

[2019-11-05 13:41] paolaroncaglia commented on #834
Here's another example of incorrect Orphanet-derived superclasses in Mondo (that EFO inherits too):

MONDO:0009169 endocardial fibroelastosis

comment: Editor notes: ORDO classifies as both familial and non-familial

def: Endomyocardial fibroelastosis is a cause of unexplained childhood cardiac insufficiency. It results from diffuse thickening of the endocardium leading to dilated myocardiopathy i

[2019-11-05 14:21] paolaroncaglia opened #924 "[Revise subclass] MONDO:0005305 epistaxis"
MONDO:0005305 epistaxis
is currently Subclass of:
cardiovascular disease
nose disease
We have revised the placement of the corresponding EFO term (EFO_0003895) by making it a subclass of the more specific 'vascular disease', rather than 'cardiovascular disease' (we left the 'nose disease' parent as was). Would you consider doing the same, please, so we don't inherited the unwanted broader parent?

[2019-11-05 16:00] cmungall commented on #921
This sounds reasonable to me, can you implement Nicole?

On Sun, Nov 3, 2019 at 5:47 AM maglott <notifications@github.com> wrote:

[2019-11-05 17:30] cmungall commented on #924
I might go further and obsolete it's only child MONDO:0007563 ! epistaxis, hereditary

it exists to be equivalent to
https://omim.org/entry/132500

Which has a single pub - from 1940

[2019-11-06 11:00] zoependlington commented on #922
Tagging @smnorthen @paolaroncaglia @d0choa so they can join the discussion.

I think merging radiation or chemically induced disorder with radiation injury (perhaps renaming incorporate the chemical aspect too? Or having an equivalent chemical injury term?) sounds logical. We have quite an overlap of disease and injury in EFO so it would also be nice to clean up in alignment with Mondo, too.

[2019-11-06 11:52] paolaroncaglia commented on #924
@cmungall
@nicolevasilevsky
@zoependlington
I'd be ok with replacing the disease term for epistaxis (nosebleed) with a phenotype one. We'll revise EFO accordingly when Mondo release the change.
As for the hereditary child, I wondered about that too, happy to see it gone. Thanks!

[2019-11-06 12:16] maglott commented on #924
@ahamosh , any thoughts about https://omim.org/entry/132500

[2019-11-06 14:08] smnorthen commented on #922
@zoependlington
I think merging the two would be fine, but the radiation injury parent name should be changed to include the chemical aspect too.

[2019-11-06 15:17] need47 opened #925 "missing colon (:) in xref mondo.obo"
**Xref that should be fixed (ID and label):**
MONDO:0000409	chorioamnionitis (not a dbxref)
MONDO:0007029	Orphanet107 (missing colon)
MONDO:0013038	ICD10CQ87.3 (missing colon)
MONDO:0019124	Orphanet727 (missing colon)

[2019-11-06 15:20] need47 commented on #925
The mondo.obo was downloaded from: http://obofoundry.org/ontology/mondo.html

Note the MONDO website also contains these xrefs as Reference:
https://monarchinitiative.org/disease/MONDO:0000409
https://monarchinitiative.org/disease/MONDO:0007029
https://monarchinitiative.org/disease/MONDO:0013038
https://monarchinitiative.org/disease/MONDO:0019124

[2019-11-06 21:39] Mohan-Shruthi commented on #863
Hi Chris,

I noticed that the MonDo page for MONDO:0011071 – “hereditary thrombocytopenia and hematologic cancer predisposition syndrome” retains the Exact and Related Synonyms, which are appropriate (and also present) in the newly created child term, MONDO:0100083 – “hereditary thrombocytopenia and hematological cancer predisposition syndrome associated with RUNX1”. Is there a reason for retainin

[2019-11-07 01:25] cmungall commented on #921
This sounds reasonable, can you implement Nicole?

[2019-11-07 08:31] annieolry commented on #913
This issue is currently assessed by the European Reference Network. Up to now, they still use ORPHA code of Marfan type 2 for patient diagnosis. We should have an answer very soon.

[2019-11-07 10:13] paolaroncaglia commented on #922
@cmungall
@zoependlington
@smnorthen
@d0choa
I do not oppose making ‘radiation or chemically induced disorder’ a subclass of ‘injury’ rather than disease. However, I’d suggest to revise the definition of ‘injury’ to better accommodate its new descendants. Currently it reads “Damage inflicted on the body as the direct or indirect result of an external force, with or without disruption of structural

[2019-11-07 12:01] paolaroncaglia opened #926 "[Revise subclass] MONDO:0001071 intellectual disability"
Stemming from https://github.com/EBISPOT/efo/issues/605

The branch under MONDO:0001071 intellectual disability may benefit from some revisions.
- [x] Its direct children (other than 'non-syndromic i.d.' and 'syndromic i.d.') could probably be placed under 'non-syndromic i.d.' or 'syndromic i.d.'
- [x] The labels of a few of the terms above may have suffered from excessive lowercasing ;-)
- [x]  M

[2019-11-07 17:39] aschroed opened #927 "Failure to access previous MONDO owl versions using versionIRI"
Getting a 404 error when trying to access older versions of mondo.owl using the versionIRI.

Are the owl files not versioned and archived?  If they are why does the IRI not work?  It also does not work for the current version using the IRI from the file I previously downloaded.

Thanks for your assistance.
cheers,
Andy

$ wget http://purl.obolibrary.org/obo/hp/releases/2019-08-28/mondo.owl
--2019-

[2019-11-07 17:50] balhoff commented on #927
@aschroed I think there is a mistake in the version IRI you're checking—did that come from the ontology? Yours has 'hp' within the path.

But your point still stands; when I try the version IRI of the current release (`http://purl.obolibrary.org/obo/mondo/releases/2019-10-25/mondo.owl`) I get '404 Not Found'.

The problem is that the git tag has been created as `2019-10-25`, when it should have be

[2019-11-07 20:46] kshefchek commented on #685
Is the original request in scope or feasible to be included in mondo, or should we look for a workaround?

[2019-11-07 22:16] aschroed commented on #927
@balhoff Thank you for your reply.  I apologize for including misleading information in my issue - as you noted I mistakenly included a typo in the versionIRI I posted   I appreciate that you were able to solve my issue and were able to identify the cause of my initial problem - the unexpected tag.  Thanks!

[2019-11-07 22:16] #927 closed

[2019-11-08 02:27] balhoff commented on #927
No problem, some does still need to add the tag. I'll make an issue for that, since I don't have permission to make a release here.

[2019-11-08 02:29] balhoff opened #928 "Create proper tag for last release, to fix PURL resolution problem"
The latest release git tag has been created as 2019-10-25, when it should have been v2019-10-25. This is causing the version IRI to not resolve.

cc @cmungall

[2019-11-08 07:58] matentzn commented on #928
thank @balhoff, done.

[2019-11-08 07:58] #928 closed

[2019-11-08 08:06] annieolry commented on #796
Hi,
I I have well understood the issue, Orphanet won't update synonyms as congenital bile acid synthesis defect can be due to several enzyme deficiencies. 3-beta-hydroxy-delta-5-C27-steroid oxidoreductase deficiency is the one responsible for congenital bile acid synthesis defect type 1. Accordingly, "3-beta-hydroxy-delta-5-C27-steroid oxidoreductase deficiency type 1" seems to me redundant. On th

[2019-11-08 12:59] balhoff commented on #927
@aschroed your problem should now be fixed. `http://purl.obolibrary.org/obo/mondo/releases/2019-10-25/mondo.owl` can be downloaded from the version IRI.

[2019-11-08 18:47] nicolevasilevsky commented on #925
this is interesting. I don't see these issues in the mondo-edit.obo file, but I do see them in the links in Monarch that are posted above.

Reassigning to @cmungall and @kshefchek

[2019-11-08 18:59] nicolevasilevsky commented on #863
@Mohan-Shruthi

On the parent term, these synonyms were marked with the annotation "Synonym to be removed from public release but maintained in edit version as record of external usage".

Where do you see these synonyms? It seems that they should not be displayed.

[2019-11-08 19:01] nicolevasilevsky commented on #863
Oh, I see them in [OLS](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0011071) and Monarch

[2019-11-08 19:03] Mohan-Shruthi commented on #863
OK. Sending a screenshot from OLS.

From: Nicole Vasilevsky <notifications@github.com>
Sent: Friday, November 8, 2019 2:01 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Mohan, Shruthi <shruthi_mohan@med.unc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] [Revise text def] MONDO:0011071 "hereditary thrombocytopenia with normal platelets and hemato

[2019-11-08 19:08] #825 closed

[2019-11-08 19:46] nicolevasilevsky commented on #859
@paolaroncaglia what is the action item here? Do you want to remove all of the subclass assertions?

We could make this term a child of MONDO_0002254 'syndromic disease'

[2019-11-09 00:55] #836 closed

[2019-11-09 00:56] #875 closed

[2019-11-11 11:31] matentzn opened #936 "Mondo release request"
In order to map Mondo to other disease ontologies, I basically need `mondo-base.owl` and the equivalent-class mappings of MONDO ids to other disease ontology IDS (DOID, ORPHANET, etc).

Is it possible to include the MONDO alignments (bridges) as part of the [release](https://github.com/monarch-initiative/mondo/releases/tag/v2019-10-25) in a sperate file?

[2019-11-11 13:36] paolaroncaglia commented on #685
Going back to MONDO:0005413 'cystic fibrosis associated meconium ileum', I'm afraid there's a typo in the label that you inherited from EFO, it should be "ileus" not "ileum". (See e.g.
https://www.cysticfibrosisjournal.com/article/S1569-1993(17)30809-3/fulltext
https://www.chop.edu/conditions-diseases/meconium-ileus
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3085752/)

And based on the above, I'

[2019-11-11 14:21] maglott commented on #936
I concur that this would be of general use. Does the definition of 'equivalent-class' mapping require that the MONDO/Other relationship is strictly 1:1?

[2019-11-11 15:35] cmungall commented on #936
@matentzn the equivalencies are always available at http://purl.obolibrary.org/obo/mondo/imports/equivalencies.owl

base:
http://purl.obolibrary.org/obo/mondo/mondo-base.owl

@maglott - the semantics of owl equivalentClass are such that all concepts are strictly identical in meaning. This always translates to a 1:1 mapping, *except* when we do a 'proxy merge' - we decide that two concepts in an ex

[2019-11-11 15:40] maglott commented on #936
Thanks

[2019-11-11 16:56] matentzn commented on #936
Ok thanks! I will close this then for now!

[2019-11-11 16:56] #936 closed

[2019-11-11 17:22] paolaroncaglia commented on #859
@nicolevasilevsky
Yes, I suggest to remove all existing subclass assertions for MONDO:0009833 Shwachman-Diamond syndrome, and make it a subclass of MONDO_0002254 'syndromic disease' (as you suggest and based on the definition) and also a subclass of MONDO:0006025 'autosomal recessive disease' based on the Wikipedia entry (see https://en.wikipedia.org/wiki/Shwachman%E2%80%93Diamond_syndrome#Genetic

[2019-11-12 01:47] cmungall commented on #925
I fixed this previously with #5f011269fc8248c813a74f39e7d3e6a97c0eb03d

[2019-11-12 01:47] #925 closed

[2019-11-12 01:48] cmungall commented on #925
@nicolevasilevsky - the `git blame` command can be useful here to see history on a per-line basis

[2019-11-12 01:51] cmungall commented on #928
sorry about that

On Thu, Nov 7, 2019 at 11:58 PM Nico Matentzoglu <notifications@github.com>
wrote:

[2019-11-12 01:53] cmungall commented on #922
I'd like to push and see if we could make injury and disease disjoint. For the cancer case, there would be some kind of non-isa causal relation back to the source injury.

In fact I wonder if the whole injury branch should not eventually move to ECTO cc @diatomsRcool

[2019-11-12 03:12] #859 closed

[2019-11-12 03:27] #860 closed

[2019-11-12 03:28] #862 closed

[2019-11-12 03:40] #912 closed

[2019-11-12 03:43] #900 closed

[2019-11-12 03:44] #904 closed

[2019-11-12 03:45] #913 closed

[2019-11-12 03:46] #909 closed

[2019-11-12 04:04] #771 closed

[2019-11-12 04:12] #908 closed

[2019-11-12 04:15] #841 closed

[2019-11-12 04:24] #531 closed

[2019-11-12 14:15] bmeldal opened #939 "[Revise text def] MONDO:0013343 C1Q deficiency"
**Mondo term (ID and Label)**
MONDO:0013343 C1Q deficiency

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**

- "C1q is a protein and together with other proteins, C1r and C1s,..."
+"C1q is a COMPLEX and together with other proteins, C1r and C1s,..."
because C1q constitute of C1QA , C1QB and C1QC.

PMID:29449492

There are also a

[2019-11-12 14:17] bmeldal opened #940 "[Amend synonym] MONDO:0013343 C1Q deficiency"
**Mondo term (ID and Label)**
MONDO:0013343 C1Q deficiency

**Synonym to be added**
C1QD

**Synonym subtype: ie, broad/exact/narrow/related**
move from RELATED to EXACT

Thanks,
Birgit

[2019-11-12 15:10] need47 commented on #925
Thanks for the quick fix. When will the mondo.obo file be updated?

[2019-11-12 16:11] nicolevasilevsky commented on #939
Hi @bmeldal
I am not totally clear what your request is. Would you like me to replace the current text definition? If so, could you please paste the text you'd like to use in a comment?
Thanks!

[2019-11-12 16:14] nicolevasilevsky commented on #925
Mondo is released around the first of every month.

[2019-11-12 16:18] bmeldal commented on #939
Ok:

Corrected def:
C1q deficiency is a rare disorder associated with recurrent skin lesions, chronic infections, systemic lupus erythematosus (SLE) or SLE-like diseases. It has also been associated with a kidney disease known as mesangial proliferative glomerulonephritis. C1q is a complex and together with other proteins, C1r and C1s, it forms the C1 complex. This complex is important for the act

[2019-11-12 16:27] nicolevasilevsky opened #942 "Add subclass of axiom for MONDO:0100084 actinopathy"
**Mondo term (ID and Label)**
MONDO:0100084 actinopathy

**Suggested revision of logical definition**
'disease has basis in dysfunction of' some ACTA1

Need to import:
http://identifiers.org/hgnc/129

[2019-11-12 17:58] need47 commented on #925
Got you, thanks.

[2019-11-12 23:41] nicolevasilevsky commented on #926
@paolaroncaglia what do you think is the best parent of MONDO_0010252 'intellectual disability, X-linked, with panhypopituitarism'?

I left it under 'intellectual disability' for now.

I moved all the other classes to children of 'syndromic intellectual disability'

[2019-11-13 01:24] #883 closed

[2019-11-13 01:26] #942 closed

[2019-11-13 01:27] #939 closed

[2019-11-13 01:28] #940 closed

[2019-11-13 09:17] paolaroncaglia commented on #652
@nicolevasilevsky
Sorry to ask, but could you please implement the changes agreed/suggested in https://github.com/monarch-initiative/mondo/issues/652#issuecomment-542686898? It would be greatly helpful for EFO as we're sort of stuck otherwise (FYI, see the UPDATE at the end of this comment: https://github.com/EBISPOT/efo/issues/490#issuecomment-542625059).
Many thanks,
Paola

[2019-11-13 13:28] paolaroncaglia commented on #685
Hi @nicolevasilevsky ,
I'm afraid that part of this ticket got a bit side-tracked due to technical issues ;-)
It would be great if you could please, before your next release, complete the edits agreed upon for 'cystic fibrosis', so EFO can resume mapping to Mondo. Summing up:
- [ ] Edits (as applicable to Mondo) listed in https://github.com/monarch-initiative/mondo/issues/685#issuecomment-54077026

[2019-11-13 13:48] cmungall commented on #685
Would use of github milestones help with prioritizing tickets for releases?

Kent can you say more about the negative consequence of classifying CF as
non leaf? I thought the distinction purely drove the kind of table
displayed, to minimize repetition with leaf terms

On Wed, Nov 13, 2019, 05:28 paolaroncaglia <notifications@github.com> wrote:

[2019-11-13 14:02] paolaroncaglia commented on #926
@nicolevasilevsky
Thanks for fixing all of the above!
As for MONDO_0010252 'intellectual disability, X-linked, with panhypopituitarism', I agree that it's a tricky one. Based on the detailed clinical features in the OMIM entry (https://mirror.omim.org/entry/300123), I suggest to make MONDO_0010252 a subclass of 'syndromic disease' and 'panhypopituitarism, X-linked', but not 'intellectual disabilit

[2019-11-13 15:28] nicolevasilevsky commented on #685
@kshefchek - see comment above

@cmungall yes- let's use GitHub milestones, great idea

[2019-11-13 15:29] nicolevasilevsky commented on #685
@paolaroncaglia, I assigned this ticket to the December release milestone (which I just created).

Are you able to assign milestones too? Feel free to assign and help prioritize. (If not, I think I can adjust your permissions so you can do so)

[2019-11-13 15:40] nicolevasilevsky commented on #652
No need to apologize @paolaroncaglia, thanks for the nudge. I tagged this with our new milestone "December release".

Regarding MONDO:0044014 postpartum thyroiditis:
I revised the text def to include text from the MeSH text def, which does suggest it is an autoimmune disease.

[2019-11-13 15:42] nicolevasilevsky commented on #652
I deleted the xref to EFO_1001428, it does seem wrong

[2019-11-13 15:56] nicolevasilevsky commented on #490
@paolaroncaglia I made the same edits in Mondo that you did in EFO

[2019-11-13 17:10] nicolevasilevsky commented on #685
@paolaroncaglia
Is this an action item for Mondo, or just EFO?
Remove the mapping between EFO:0004608 'cystic fibrosis' and its counterpart MONDO:0009061, and remove MONDO:0009061 from the Mondo list of terms, until Mondo fixes the same issue (see #685 (comment)), or we'll get the wrong parents back.

[2019-11-13 17:19] nicolevasilevsky commented on #44
@cmungall is this still something we need to do?

[2019-11-13 17:19] kshefchek commented on #685
I think this would be useful for analysis and application views.  Previously I have had to add extra checks (eg all OMIM identifiers are entities, for ex otherwise Angelman would be filtered out).  This works well for rare disease but I assume there are cases in common disease as well.  It's not complicated to get around this from my side of things so if it's complicated to encode in the ontology

[2019-11-13 23:41] nicolevasilevsky commented on #877
we do have MONDO_0006926 'haemophilus infectious disease', and MONDO_0000889 'haemophilus meningitis' is inferred to be a child

[2019-11-14 00:26] #877 closed

[2019-11-14 01:21] #921 closed

[2019-11-14 01:26] cmungall commented on #490
Can we obsolete 'stage of disease' as well, it's now useless as all it was doing was grouping these

[2019-11-14 01:26] #652 closed

[2019-11-14 01:48] nicolevasilevsky commented on #490
yes, i created a new PR #958

[2019-11-14 10:39] bmeldal opened #959 "[Revise logical def] MONDO:0013419 complement component C1s deficiency"
**Mondo term (ID and Label)**
MONDO:0013419 complement component C1s deficiency

**Suggested revision of textual definition. Please include a source, like a PubMed ID (in the format PMID:#######)**

A rare defect resulting in C1 deficiency and impaired activation of the complement classical pathway. C1 deficiency generally leads to severe immune complex disease with features of systemic lupus eryt

[2019-11-14 11:14] paolaroncaglia commented on #959
@bmeldal
A quick general note. In my opinion, acronyms, such as C1SD, should not be _exact_ synonyms, because an acronym can be ambiguous. We've had this discussion with Mondo and GO editors in time, sorry I didn't have a chance to bring it up when you opened your other ticket recently. I suggest to leave/have acronyms as related synonyms. Thanks!

[2019-11-14 12:01] bmeldal commented on #959
@paolaroncaglia
Ok, that makes sense that acronyms are potentially ambiguous. Bane of my life with gene symbols!

[2019-11-14 14:13] cmungall opened #960 "Review: nephropathic cystinosis and AKL"
id: MONDO:0021725
name: Abderhalden-Kaufmann-Lignac syndrome
def: "A rare autosomal-recessive, lysomal storage childhood disorder involving deposits of cystine crystals in various parts of the body, including the bone marrow, conjunctiva and cornea." [http://www.checkorphan.org/diseases/abderhalden-kaufmann-lignac-syndrome, https://orcid.org/0000-0001-5208-3432, https://www.medigoo.com/articles/ab

[2019-11-14 14:14] cmungall commented on #960
Also:

id: MONDO:0009065
name: cystinosis, nephropathic
def: "Cystinosis is an inherited condition in which the body accumulates the amino acid cystine (a building block of proteins) within the cells. Excess cystine forms crystals that can build up and damage cells. These crystals can negatively affect many systems in the body, especially the kidneys and eyes. There are three distinct types of cys

[2019-11-14 14:23] cmungall commented on #960
this structure is dubious:

![image](https://user-images.githubusercontent.com/50745/68864842-9f968100-06a6-11ea-8ddc-19a2981b64e5.png)

MONDO:0009065 cystinosis, nephropathic: is equiv to https://omim.org/entry/219800 which looks like generic entry but may be for infantile form?
MONDO:0009066 juvenile nephropathic cystinosis: is equiv to https://omim.org/entry/219900 late onset juvenile form

[2019-11-14 14:32] cmungall commented on #960
@nicolevasilevsky I merged MONDO:0009065  into MONDO:0009066 can you deal with AKL?

[2019-11-14 16:19] cmungall commented on #808
how are we getting on with this? @wdduncan can you help?

[2019-11-14 16:29] paolaroncaglia commented on #685
@nicolevasilevsky
In reply to your comment "I assigned this ticket to the December release milestone (which I just created). Are you able to assign milestones too? Feel free to assign and help prioritize. (If not, I think I can adjust your permissions so you can do so)"
I just tested unassigning the December milestone and assigning it again, so yes I can do that and I will try to remember to do it

[2019-11-14 16:30] paolaroncaglia commented on #685
@nicolevasilevsky

It's just for EFO, thanks.

[2019-11-14 16:54] nicolevasilevsky commented on #808
according to my [spreadsheet](https://docs.google.com/spreadsheets/d/1LV2r7fdqPcSOgAfGrMM5U86vWv8i5T00buvrq0g2NhY/edit#gid=0), 15 of these have been addressed. There are a couple open tickets, I can prioritize those.

There are 132 terms that need to be reviewed, so there is still a lot of work left to do. It would be great to have some help! :)

[2019-11-14 18:11] cmungall commented on #808
I just ran robot report, we have 1660 duplicate_exact_synonym lines, can we prioritize these? I think most of these are very obvious, but it may be v inefficient to fix in Protege, I could do these in emacs in 15 mins but not sure when I have the time...

[2019-11-14 19:10] wdduncan commented on #808
Sorry ... I'm a bit confused.
I manually checked the `mondo-edit.obo` for 5 classes noted in the spreadsheet. I am not seeing duplicates. Is there a problem with `robot report`?

Classes checked:
[code]

[2019-11-14 19:28] balhoff commented on #808
@wdduncan I think it's that the exact synonym is the same as the label.

[2019-11-14 19:34] wdduncan commented on #808
@balhoff Yes. I see the exact synonyms. Do you know why the error report says duplicate definition?

[2019-11-14 21:07] wdduncan commented on #808
I ran a report on my local machine on mondo-edit.obo. Report results were:
[code]
I also find 1660 duplicate_exact_synonym warnings.

I checked 5 random classes in mondo-edit.obo. I did not find two lines of exact synonym labels that completely matched. What I did find were cases where:
* The name and the exact synonym matched (e.g, hereditary xanthinuria)
* The name was contained in an exact syno

[2019-11-14 21:21] tnavatar opened #962 "Inappropriate exactMatch and/or subClassOf relations identified by cross-reference with genes associated in OMIM"
**Mondo term (ID Label)**

["Ehlers-Danlos syndrome, classic type"
  "http://purl.obolibrary.org/obo/MONDO_0007522"]
 ["Usher syndrome type 1"
  "http://purl.obolibrary.org/obo/MONDO_0010168"]
 ["hypogonadotropic hypogonadism 14 with or without anosmia"
  "http://purl.obolibrary.org/obo/MONDO_0013926"]
 ["hypogonadotropic hypogonadism 19 with or without anosmia"
  "http://purl.obolibrary.org/obo/M

[2019-11-14 21:46] nicolevasilevsky commented on #960
Sure thing, Chris!

@GARDinfocenter FYI- I am going to merge this term (https://rarediseases.info.nih.gov/diseases/10074/abderhalden-kaufmann-lignac-syndrome) with 'cystinosis, nephropathic'. Maybe you want to delete the GARD page?

[2019-11-14 22:05] nicolevasilevsky commented on #808
@cmungall and @wdduncan
how should we address these? I can fix them manually but it will take me more than 15 minutes. :)

If you'd like me to fix them manually, could one of you share a spreadsheet with a list of the terms that need to be addressed?

thanks!

[2019-11-14 22:20] cmungall commented on #808
- The name and the exact synonym matched (e.g, hereditary xanthinuria)

true positives (maybe the name of the check should change)

   - The name was contained in an exact synonym (e.g, vulva cancer)

false positive

   - Exact synonyms that contained parts of each other (e.g., poikiloderma
   with neutropenia)

false positive

If you can confirm this then it should be easy for you to fix the robo

[2019-11-14 22:34] wdduncan commented on #808
@cmungall @nicolevasilevsky
Do you want to match on strings or IRIs?

[2019-11-14 23:11] nicolevasilevsky commented on #808
I think you'd just want to match on the strings for the name and synonym

[2019-11-14 23:20] cmungall commented on #808
yes, I don't think I understand the question... we may have crossed lines
here.

Can you give a specific example of a false positive?

On Thu, Nov 14, 2019 at 3:11 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-11-14 23:23] nicolevasilevsky commented on #808
is this a question for @wdduncan ?

I am confused now too! :)

[2019-11-14 23:25] cmungall commented on #808
it is

On Thu, Nov 14, 2019 at 3:23 PM Nicole Vasilevsky <notifications@github.com>
wrote:

[2019-11-14 23:30] cmungall commented on #44
I don't remember the context of this

[2019-11-14 23:30] #44 closed

[2019-11-14 23:43] wdduncan commented on #808
@cmungall
The robot query (see below) seems to be looking for **two** entities that have a matching exact synonym or alternative term (IAO_0000118).

Focusing on MONDO:0004100 "lung mixed small cell and squamous cell carcinoma"
I searched the mondo-edit.obo file for all occurrences of:
* lung mixed small cell and squamous cell carcinoma; found 1 (MONDO:0004100)
* combined small and large cell lung

[2019-11-14 23:48] cmungall commented on #808
The robot query is doing the correct thing, and this is a true positive and
hence needs fixed in the ontology

On Thu, Nov 14, 2019 at 3:43 PM Bill Duncan <notifications@github.com>
wrote:

[2019-11-15 00:05] wdduncan commented on #808
I'm going to do a report to output the matching entities.

[2019-11-15 00:36] wdduncan commented on #808
In the attached spreadsheet, I have the matching entity IRIs, labels, and the value of synonym.
We can delete programmatically, but how do we know which exact synonym should be deleted?

[mondo_duplicate_exact_synonyms.xlsx](https://github.com/monarch-initiative/mondo/files/3849269/mondo_duplicate_exact_synonyms.xlsx)

Query used for report:
[code]

[2019-11-15 01:41] nicolevasilevsky commented on #962
@tnavatar what do you mean by exactMatch? Do you mean has_exact_synonym? Or do you mean MONDO:equivalentTo?

Could you provide a more specific example of what the issue is? MONDO_0007522 Ehlers-Danlos syndrome, classic type has 5 parent classes. Is the issue with the parent MONDO_0020066 'Ehlers-Danlos syndrome', which has the dbxref OMIMPS:130000?

Thanks for clarifying. I'm happy to have a call

[2019-11-15 01:42] nicolevasilevsky commented on #685
got it, thanks!

Have I addressed on the issues on this ticket?

[2019-11-15 01:55] nicolevasilevsky commented on #816
related to #808

[2019-11-15 02:08] #959 closed

[2019-11-15 02:12] #899 closed

[2019-11-15 02:13] #926 closed

[2019-11-15 02:33] #490 closed

[2019-11-15 03:27] nicolevasilevsky commented on #895
Pinging @pnrobinson again :)

[2019-11-15 03:57] nicolevasilevsky opened #970 "Create a template for 'revise a term label'"
I'll do this per Paola's request
see #887

[2019-11-15 04:01] #715 closed

[2019-11-15 04:10] nicolevasilevsky commented on #629
can this be closed?

[2019-11-15 05:15] cmungall commented on #808
I made a start removing the most egregious clashes. These were easy to spot as they came from DO and did not have backup from other sources, and are to do with systematic errors, such as confusing neoplasm/tumor with cancer.

[2019-11-15 11:42] pnrobinson commented on #924
I am not sure that there is a *disease* whose main (defining) characteristic is hereditary epistaxis to the extent that a geneticist would name the disease "Hereditary epistaxis", but there is (for instance) https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4709944/. There seems to be an ICD10 code for hereditary epistaxis (https://www.icd10data.com/ICD10CM/Codes/I00-I99/I70-I79/I78-/I78.0). I am not s

[2019-11-15 11:53] GARDInfoCenter commented on #960
Thanks for letting us know. I have forwarded this to our team.

Best,
Maria

From: Nicole Vasilevsky <notifications@github.com>
Sent: Thursday, November 14, 2019 4:46 PM
To: monarch-initiative/mondo <mondo@noreply.github.com>
Cc: Della Rocca, Maria <Maria.DellaRocca@icf.com>; Mention <mention@noreply.github.com>
Subject: Re: [monarch-initiative/mondo] Review: nephropathic cystinosis and AKL (#960)

[2019-11-15 11:58] pnrobinson commented on #895
It's the second xref in the JSON version
[code]

[2019-11-15 12:32] tnavatar commented on #962
@nicolevasilevsky  in the Ehlers-Danlos case, MONDO currently has the following relationships: [MONDO:0007522 owl:equivalentClass OMIM:130000 . MONDO:0019568 rdfs:subClassOf MONDO:0007522 . MONDO:0019568 owl:equivalentClass OMIM:130010 .] According to OMIM, OMIM:130000 is EDS exclusively in the context of variants in COL5A1 (https://www.omim.org/entry/130000), whereas OMIM:130010 refers to EDS exc

[2019-11-15 13:01] maglott commented on #962
This would also be an opportunity to review OMIM's phenotypic series.  Cleaning up the cases where the MIM number represents a gene-specific concept instead of the general (often a phenotypic series)  would help us all.

[2019-11-15 13:45] tnavatar commented on #962
That seems to come into play @maglott . The phenotypic series for this case has the same numeric identifier as the EDS type 1 MIM: PS130000.

[2019-11-15 13:49] mellybelly commented on #962
@cmungall should we have a QC check for leaf nodes that are subclasses of nodes with genes associated? This comes back to the need for a general model that we can all adhere to. In ontological contexts, a parent node should include all genes associated in the leaf nodes, or none at all. We can start this discussion on the list perhaps.

@cboerkoel may also want to weigh in on the EDS case specific

[2019-11-15 15:18] paolaroncaglia commented on #685
@nicolevasilevsky

I'm not sure if these ones are done, please: https://github.com/monarch-initiative/mondo/issues/685#issuecomment-552448298
Thanks and have a great weekend!

[2019-11-15 15:22] nicolevasilevsky commented on #685
The label for MONDO_0005413 was fixed.
![image](https://user-images.githubusercontent.com/6722114/68954298-9a096b80-0778-11ea-889b-9cd6152cb0b3.png)

I think that is everything. Please reopen if there are outstanding action items.

[2019-11-15 17:14] matentzn commented on #871
Is there any more action item here? I thought this is dealt with?

[2019-11-15 17:17] kshefchek commented on #685
what is the final word on distinguishing disease entity vs grouping class?

[2019-11-15 17:27] nicolevasilevsky commented on #871
this is dealt with now, we're back in business

[2019-11-15 17:27] #871 closed

[2019-11-15 17:31] nicolevasilevsky commented on #685
@kshefchek not sure, I reopened the ticket. @cmungall can you comment?

[2019-11-15 18:25] cmungall commented on #685
I need a definition of disease entity, or at least a full description of how the distinction would manifest computationally on the monarch site/apis

[2019-11-15 18:53] kshefchek commented on #685
For example,[ I want to get all rare diseases in Mondo](https://github.com/monarch-initiative/mondo-rare-disease-analysis/blob/master/Mondo-Rare-Disease-Analysis.ipynb), I do a query to filter out any diseases with subclasses, this gives me Juvenile Huntington disease, but filters out Huntington disease.  I assume that this is not expected, but I also don't really know, perhaps better if someone c

[2019-11-15 19:14] cmungall commented on #685
But why do you need to filter at all? What are the consequences of just saying: "this is an ontology, here are all subclasses"?

I can see some users may find it unsatisfying to have "neurodegenerative disease" in the list, as this is not what would be considered a distinct disease entity.

But what is a distinct disease entity? I am not sure you will get consistent answers. @pnrobinson suggests d

[2019-11-15 19:18] cmungall commented on #685
btw I want to caution that HD is not the bets example to illustrate your general point as it's a bit odd, we have a single-isa which is a bad smell

![image](https://user-images.githubusercontent.com/50745/68969327-89b5b880-0799-11ea-9daf-1823b5b682bf.png)

[2019-11-15 19:18] kshefchek commented on #685
Is disease_grouping already a subset?  This is essentially what I am asking for

[2019-11-15 19:20] cmungall commented on #685
Yes, but it will not be complete.

On Fri, Nov 15, 2019 at 11:18 AM Kent Shefchek <notifications@github.com>
wrote:

[2019-11-15 19:29] kshefchek commented on #685
I think this would be perfect

[2019-11-15 19:43] cmungall commented on #685
OK, plan

 - make a new subset disease_grouping
 - seed it with ordo_group_of_disorders (retain provenance)
 - auto-populate for any OMIMPS
 - auto-populate for a subset of DPs. E.g. disease-of-X
 - decide how to apply to infectious disease. above genus level for
ncbitaxon?
 - decide how to apply to neoplasm/cancer/benign neoplasm DPs.
 - manually curate remaining gaps using some kind of heuristic

[2019-11-15 20:49] #887 closed

[2019-11-15 20:52] #898 closed

[2019-11-15 20:53] #817 closed

[2019-11-15 20:53] #816 closed

[2019-11-15 20:54] #880 closed

[2019-11-15 21:02] cmungall commented on #962
Thanks @tnavatar

We will make a report of these that we can work through, creating individual tickets for difficult cases (e.g. EDS). Then we will make a validation step in the pipeline that stops these creeping in further.

[2019-11-15 21:04] cmungall commented on #962
Having this implemented will help: https://github.com/ontodev/robot/issues/588

in general we want to know when mondo induces unasserted subclasses in external ontologies and ontology-like artefacts

[2019-11-15 21:05] nicolevasilevsky opened #974 "[Obsolete] MONDO_0001445 neurogenic bladder"
**Mondo term (ID and Label)**
neurogenic bladder

**Reason for deprecation**
are we sure it is a disease and not a phenotype? (HP:0000011)
In NCIT, it is a 'finding': https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C79696
DO classifies it as a disease: https://www.ebi.ac.uk/ols/ontologies/doid/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDOID

[2019-11-15 21:21] cmungall commented on #895
fixed in edit but not yet in release, see my commit above

[2019-11-15 21:21] #895 closed

[2019-11-15 22:15] maglott commented on #685
I don't think all OMIMPS qualify as disease_grouping if disease_grouping is restricted to terms that are not truly diseases.  In fact, most OMIMPS correspond to non-gene-specific terms for a disease.

[2019-11-15 22:34] pnrobinson commented on #974
Neurogenic bladder is a feature of many diseases, e.g., multiple sclerosis, Parkinson's disease or diabetes. It is not in itself a full fledge disease entity in my opinion. In some clinical situations (e.g., urology) where this is the problem being treated, diagnosis codes will represent it as the main disease (the urologist does not treat the Parkinson's for instance).
@cmungall @mellybelly @nico

[2019-11-15 22:41] kshefchek commented on #685
yes I was thinking anything with a direct {sequence_feature,phenotypic_feature} annotation is likely not a high level grouping, which would rule out phenotypic series classes.

[2019-11-15 22:50] pnrobinson commented on #685
There is a spectrum of severity and age of onset in HD, and the category "juvenile" is an arbitrary distinction, but one that is used. There is literature with adult-onset and late-onset HD. Probably it has some utility to subdivide in this way, as it allows genotype-phenotype analysis, but in reality it is a spectrum.
We should probably purchase recent editions of some of the standard text books

[2019-11-15 22:51] pnrobinson commented on #685
In answer to @kshefchek question, juvenile HD is a subset of HD, and so it is rarer, but even generic HD is a rare disease.

[2019-11-15 23:36] nicolevasilevsky commented on #974
thanks for the feedback @pnrobinson. neurogenic bladder (disease) does not have any children, so I will obsolete this class.

Re: how to relate disease terms to phenotype terms (and vice versa)- currently in Mondo, we've been using the relation 'disease has feature' some [phenotype]

I like the idea of adding disease relationships in HPO too. Would we need to create a new object property?

[2019-11-15 23:44] nicolevasilevsky commented on #823
@paolaroncaglia I am not sure what to do here, can we discuss on our next call?

[2019-11-16 00:25] nicolevasilevsky commented on #800
@ana-rath-orphanet and @annieolry and @Orphanet - please note the comment above

[2019-11-16 00:39] nicolevasilevsky commented on #474
not sure if this is still need, I am closing the ticket but please reopen if needed.

[2019-11-16 00:39] #474 closed

[2019-11-16 00:40] pnrobinson commented on #974
@nicolevasilevsky I think we would need a new property. Let's talk with the whole group though about this!

[2019-11-16 00:40] nicolevasilevsky commented on #662
I think this is done.

[2019-11-16 00:40] #662 closed

[2019-11-16 02:40] cmungall commented on #974
Yes, disease_has_feature is usually fine for N conditions but for N+S
conditions (i.e to be used in a def) a stronger or different relation is
required.

On Fri, Nov 15, 2019 at 4:40 PM Peter Robinson <notifications@github.com>
wrote:

[2019-11-16 04:50] ahamosh commented on #906
Sorry for the delay.  OMIM decided that Muscle-Eye-Brain and Walker-Warburg are one phenotype as outcome (lethal for the former, not for the latter) depends on treatment and timing.   Walker-Warburg due to FKTN is the same as MDDGA4.

[2019-11-16 15:18] ahamosh commented on #924
In OMIM, this is a single report that is from 1940.  I didn't name this and this a total outlier that I wouldn't spend time on.  In principle though there is nothing wrong with calling something hereditary epistaxis, if it is dominant and isolated to epistaxis although probably better to call it dominant isolated epistaxis, similar to dominant isolated ectopia lentis.  The fact that it is a null e

[2019-11-18 12:31] matentzn commented on #902
Fixed by https://github.com/monarch-initiative/mondo/pull/903

[2019-11-18 12:31] #902 closed

[2019-11-18 13:36] paolaroncaglia commented on #823
@nicolevasilevsky
(and @cmungall )
Sure, I added this ticket to the agenda for our next Mondo-EFO call. However, I'm afraid I don't have much wisdom to bring into the discussion in addition to what I wrote here https://github.com/obophenotype/uberon/issues/1517#issuecomment-545463448. @cmungall , could you weigh in, please?
Thank you both.

[2019-11-18 18:05] cmungall commented on #823
is sensory system disease even a useful grouping? What is the intended meaning? What are the expected subclasses?

Maybe the intent is for this to mean the nervous system parts of the sensory system (thus would include sensory epithelium of the nose but not the whole nose or nose skeleton)?

[2019-11-19 23:24] nicolevasilevsky commented on #924
Thanks @pnrobinson and @ahamosh for your input. My understanding it is okay to obsolete these terms. Please let me know if otherwise.

[2019-11-20 02:23] nicolevasilevsky commented on #823
'sensory system disease' was created from Mondo patterns. All of the (inferred) children have other parents so i don't think we'd lose much if we obsoleted 'sensory system disease'.

[2019-11-20 02:54] nicolevasilevsky commented on #906
Thanks @ahamosh!

Ok - it is my understanding that `MONDO_0019523 'Walker-Warburg syndrome'` ([OMIM:253800](https://mirror.omim.org/entry/253800)) is equivalent to `MONDO_0009678 'Fukuyama congenital muscular dystrophy'`(and these are equivalent to [ORPHA:899 ](https://www.orpha.net/consor/cgi-bin/Disease_Search.php?lng=EN&data_id=8725&Disease_Disease_Search_diseaseGroup=899&Disease_Disease_Search

[2019-11-20 18:27] nicolevasilevsky opened #981 "OMIM diseases missing from Mondo"
Tudor created a list of 369 OMIM entries parsed from the HPO annotation files that do not have a mapping in MONDO. Some (most?) of them seem to be obsolete terms in MONDO (although the ID is not always included, which would have been great). He asked what should the interpretation of this gap be? Are these really not diseases? Should one not use the annotations associated with them?

Chris respond

[2019-11-20 19:06] maglott commented on #981
NCBI is also interested in OMIM coverage in MONDO.
What is the standard way to assess that coverage? Are some OMIM records skipped because they are determined to be obsolete or phenotypes rather than diseases? is the _hpoa omit list_ public?

[2019-11-20 19:06] nicolevasilevsky commented on #981
cc @pnrobinson

[2019-11-20 21:13] nicolevasilevsky commented on #981
[omim_missing_list.txt](https://github.com/monarch-initiative/mondo/files/3871370/omim_missing_list.txt)

[2019-11-21 01:02] pnrobinson commented on #981
Please be careful. Some of these items are not diseases, e.g.,
 BLOOD GROUP, I SYSTEM
OMIM:125550 | DERMAL RIDGES-OFF-THE-END
OMIM:142335 | FETAL HEMOGLOBIN QUANTITATIVE TRAIT LOCUS 5
OMIM:141900 | HEMOGLOBIN--BETA LOCUS
OMIM:300910 | BONE MINERAL DENSITY QUANTITATIVE TRAIT LOCUS 18

We can use the omit-list.txt in the HPOA repo!

[2019-11-21 05:40] cmungall opened #986 "merge neonatal lupus erythematosus + neonatal systemic lupus erthematosus"

[2019-11-21 15:43] #480 closed

[2019-11-21 15:52] nicolevasilevsky commented on #433
I think the only action item here is to remove the comment, as the EFO dbxref has been fixed. I'll take care of this.

[2019-11-21 15:57] nicolevasilevsky commented on #430
note- this is the Ic class:
MONDO_0009289

[2019-11-21 17:10] paolaroncaglia commented on #729
@nicolevasilevsky
@cmungall
As Nicole has already made a pull request for this ticket, and labeled it "pending PR", I'll take the liberty to assign it tentatively to your upcoming release, as it's affecting EFO. Thanks in advance.

[2019-11-21 17:14] paolaroncaglia commented on #821
@nicolevasilevsky
@cmungall
Same here please - tentatively adding to your upcoming release milestone :-)

[2019-11-21 17:17] paolaroncaglia commented on #824
@nicolevasilevsky
@cmungall
Another "pending PR". Yes, I'm reviewing EFO tickets in Mondo in view of our meeting on Monday... thank you both!

[2019-11-21 17:19] paolaroncaglia commented on #924
@nicolevasilevsky
@cmungall
Last EFO-related "pending PR" for today!

[2019-11-21 17:37] paolaroncaglia commented on #823
@nicolevasilevsky
@cmungall
Tagging this for Dec release as I think you're very close to a resolution ;-) and the issue affects EFO at a fairly high level. We appreciate...

[2019-11-21 17:55] paolaroncaglia commented on #726
@nicolevasilevsky
@cmungall
We're still seeing MONDO:0001201 at the top of the hierarchy in https://www.ebi.ac.uk/ols/ontologies/mondo (see https://github.com/monarch-initiative/mondo/issues/726#issue-453508596). The other Mondo term, instead, has gone (see https://github.com/monarch-initiative/mondo/issues/726#issuecomment-509332877). Is it possible that you fixed the latter but forgot the former

[2019-11-21 18:03] nicolevasilevsky commented on #726
I don't know what the fix is for this, both of those terms appear the same way in the hierarchy to me in Protege.

@cmungall could you help?

Thanks!

[2019-11-21 18:09] paolaroncaglia commented on #705
@nicolevasilevsky
Not urgent, but was there an action item here? https://github.com/monarch-initiative/mondo/issues/705#issuecomment-535670438
I won't tag for any Milestone, just following up. Thanks.

[2019-11-21 18:18] paolaroncaglia commented on #834
See also https://github.com/monarch-initiative/mondo/issues/565

[2019-11-21 18:18] paolaroncaglia commented on #565
Same issue as broader topic in https://github.com/monarch-initiative/mondo/issues/834

[2019-11-21 18:49] nicolevasilevsky commented on #429
I think the consideration is to merge with MONDO_0005219 'breast fibrocystic disease'

[2019-11-21 18:55] nicolevasilevsky commented on #429
This article says "It is now accepted that fibroadenosis is not a disease."

It also says:
"Fibroadenosis is a term used to cover a spectrum of histological changes whcih are seen bothh in association with clinically palpable lumps in the breast and in breasts which are normal on examination. These histopathological changes include fibrosis, adenosis, microcysts, and epithelial hyperplasia."

http

[2019-11-22 15:17] paolaroncaglia opened #989 "[Revise subclass] MONDO:0006849 mastitis"
Hi,
For MONDO:0006849 mastitis, would you please consider to:
- [ ] edit def (currently "Inflammation of breast tissue during lactation or postpartum due to an obstructed duct or infection." to add at the end: "Mastitis can also occur in non-breastfeeding women, and rarely in men.";
- [ ] add dbxrefs https://www.nhs.uk/conditions/mastitis/ and https://en.wikipedia.org/wiki/Mastitis#Types (these ar

[2019-11-22 15:49] annieolry commented on #906
Sorry not to have commented before. I think that merging these 3 entities is a bit premature. These 3 terms: Walker-Warburg, Muscle-eye-brain and Fukuyama are still widely used in Clinics for coding patients when genetic is not yet confirmed or even when it is. It is a spectrum of severity but yet, there is no consensus in the community to merge them. It would be very interesting to have inputs of

[2019-11-22 16:28] paolaroncaglia opened #990 "[Revise subclass] MONDO:0006737 dystocia and MONDO:0006791 hyperemesis gravidarum (disease)"
MONDO:0006737 dystocia and MONDO:0006791 hyperemesis gravidarum (disease) are currently subclasses of 'reproductive system disease', but they'd fit better under 'pregnancy disorder'. We're going to make the same changes in EFO. (Note for self, https://github.com/EBISPOT/efo/issues/492#issuecomment-557550818)
Thanks!

[2019-11-22 20:32] nicolevasilevsky opened #991 "Change 'replaced by annotation' on MONDO_0005158"
On this class MONDO_0005158 'obsolete coronary heart disease'

'term replaced by' points to a term that has also been obsoleted. It should be revised to MONDO:0005010

[2019-11-22 22:03] nicolevasilevsky opened #992 "Multiple xrefs to EFO terms"
Some Mondo terms have xrefs to more than one EFO term. Zoe generated a report and Nicole reviewed and commented.

See spreadsheet [here](https://docs.google.com/spreadsheets/d/1Mvyy8IPs_UepLBlBnbicida9Vgdb-CZYaVEsLPQOOro/edit#gid=1621731001)

[2019-11-24 01:56] jmcmurry commented on #981
If they're not diseases, can we create a cleaner set for general distribution?

[2019-11-25 13:53] paolaroncaglia commented on #992
@nicolevasilevsky
cc @zoependlington
Thanks. I opened an EFO ticket (https://github.com/EBISPOT/efo/issues/631).

[2019-11-25 17:10] nicolevasilevsky commented on #823
decision - obsolete 'sensory system disease'. This is high priority for EFO

[2019-11-25 17:19] nicolevasilevsky commented on #705
Action item - I will add a comment on this class

[2019-11-25 18:50] cmungall commented on #726
You should be able to diagnose this using the usage tab in Protege

there is an annotation that references the obsolete class:

[code]

just remove the excluded_subClassOf annotation

[2019-11-25 18:57] cmungall commented on #726
But note it's not actually wrong to have an annotation point at a deprecated class by OBO policy

However, I can see that it would be confusing for annotations between IRIs, so we should probably have a check to prohibit these

But I think part of the confusion is with OLS. I think OLS is treating these annotations as object assertions and that is inducing the alt_id to become visible in an odd wa

[2019-11-25 19:01] #140 closed

[2019-11-25 22:08] #800 closed

[2019-11-25 22:48] nicolevasilevsky commented on #960
Hi @GARDInfoCenter, no rush, but just checking if you had any updates on this. Thanks!

[2019-11-25 23:18] nicolevasilevsky commented on #565
@paolaroncaglia I realized I am not totally clear - which superclasses would you like to be removed from MONDO:0018982 'Niemann-Pick disease type C'?

- 'unclassified primitive or secondary maculopathy',
- 'supranuclear oculomotor palsy'

Any others?

Thanks!

[2019-11-26 00:04] nicolevasilevsky commented on #842
@paolaroncaglia
parasitic eyelid infestation is inferred to be a parent, I pasted the explanation below:
![image](https://user-images.githubusercontent.com/6722114/69588373-3adc0000-0f9d-11ea-97e9-fe772a9fb5b7.png)

If I remove elephantiasis as a parent, it is inferred to be a parent because of the equivalence axiom on 'filarial elephantiasis':

elephantiasis
 and ('disease has location' some eyel

[2019-11-26 00:12] nicolevasilevsky commented on #622
In Mondo, 'nervous system disease' is a synonym for 'nervous system disorder'

[2019-11-26 01:58] #622 closed

[2019-11-26 02:07] #842 closed

[2019-11-26 02:10] #989 closed

[2019-11-26 02:11] #581 closed

[2019-11-26 02:11] #580 closed

[2019-11-26 02:11] #705 closed

[2019-11-26 02:13] #823 closed

[2019-11-26 02:13] #726 closed

[2019-11-26 02:13] #974 closed

[2019-11-26 02:14] #924 closed

[2019-11-26 02:15] #729 closed

[2019-11-26 02:15] #692 closed

[2019-11-26 11:48] paolaroncaglia commented on #726
@cmungall
@nicolevasilevsky
Please see
https://github.com/EBISPOT/OLS/issues/302#issuecomment-558593765

[2019-11-26 15:32] #821 closed

[2019-11-26 15:33] #885 closed

[2019-11-26 16:13] zoependlington opened #1002 "Incorrectly formatted x-refs inherited by EFO"
Hello!

Nico noticed a few incorrectly formatted x-refs in EFO recently (see https://github.com/EBISPOT/efo/issues/632). Some of these have been inherited from Mondo. I have our terms and the Mondo terms plus the incorrect x-refs below. Some are obvious (e.g. Orphanet727 should be Orphanet:727). I double checked to see how you model PMID x-refs and there seems to be a mix of PMID:x-ref and url:pub

[2019-11-26 18:11] nicolevasilevsky commented on #1002
@zoependlington I think some of these are fixed already (I checked the first 5 or so). Chris just put out the latest release - would you mind checking this again against the latest release?

I'm happy to fix any remaining xrefs in Mondo.

Thank you!

[2019-11-26 22:35] nicolevasilevsky opened #1004 "move OMIM equiv axiom"
See https://github.com/monarch-initiative/mondo/pull/869

OMIM:601399 should be a dbxref for MONDO_0100083 'hereditary thrombocytopenia and hematological cancer predisposition syndrome associated with RUNX1'

[2019-11-27 11:04] zoependlington commented on #1002
Thanks @nicolevasilevsky! I've checked and, while some were fixed, the following are still present and should be replaced with the x-ref after the -->:
- [ ] MONDO_0004977
     - https://www.ncbi.nlm.nih.gov/pubmed/22700722 --> PMID:22700722
- [ ] MONDO_0015998
     - https://www.ncbi.nlm.nih.gov/pubmed/20141359 --> PMID:20141359
- [ ] MONDO_0019572
     - https://www.ncbi.nlm.nih.gov/pubmed/19401

[2019-11-27 14:45] maglott opened #1006 "review DiGeorge, velocardiofacial syndrome"
MONDO_0008564 and MONDO_0018923 give velocardiofacial syndrome as an exact synonym yet
MONDO_0008644 is defined as velocardiofacial syndrome

What is necessary for clinical practice?
Should velocardiofacial syndrome  be removed as exact synonyms of DiGeorge and 22q11.2 deletion syndrome

[2019-11-28 10:02] paolaroncaglia commented on #565
@nicolevasilevsky (Happy Thanksgiving, no hurry...):

I think that all of the current parents are incorrect and should be removed, except for 'Niemann-Pick disease'. The ancestry to specific metabolic disorders is already inherent in the parentage of 'Niemann-Pick disease' itself. Thanks!

[2019-11-29 17:18] paolaroncaglia commented on #525
Hi,
Following up on this ticket, about the general issue of the 'head or neck disease/disorder' branch, see @pnrobinson 's comment above. EFO is questioning the general usefulness of 'nose disease' (see https://github.com/ebispot/efo/issues/639), so I was wondering if there's any update on that topic. Thanks.

[2019-12-02 13:01] cmungall commented on #525
We can obsolete nose disease

Can someone advise on what the exclusion list is for head disease (and
should it be head + neck)? Scalp/skin? Brain/NS?

On Fri, Nov 29, 2019 at 12:18 PM paolaroncaglia <notifications@github.com>
wrote:

[2019-12-02 13:45] pnrobinson commented on #525
Why exactly do we want to obsolete this category?
In any case if we take standard medical usage, then we would want to have a category for
Ear/Nose/Throat disease (Otorhinolaryngological disorder)
Underneath that there are various options, but Nasal disorder (syn nose disease) would not seem out of place. There are variants like this also
http://www.ucihealth.org/medical-services/ear-nose-throat-e

[2019-12-02 13:56] GARDInfoCenter commented on #960
We have retired AKL but for now will continue to list nephropathic cystinosis.

[2019-12-02 23:07] nicolevasilevsky commented on #525
@pnrobinson how to do propose reclassifying 'eye disease'? Should we remove the superclassOf assertion for 'disease of orbital region' and just leave it as a subclass of 'disease of visual system'?

We already have MONDO_0024623 'otorhinolaryngologic disease' with synonyms 'ear, nose and throat disorder' and 'ear, nose or throat disorder', ENT disease, etc. I can add the synonym 'ear/nose/throat d

[2019-12-02 23:11] pnrobinson commented on #525
I would suggest eye diseases should be right under disease. We should not make it a subclass of  'disease of orbital region'  because (1) it is not always true and (2) ophthalmologists would not think of looking here.
As discussed in another issue, I would suggest nasal disorder should be a subclass of 'otorhinolaryngologic disease'

[2019-12-02 23:47] nicolevasilevsky commented on #1006
@pnrobinson, @ahamosh, @ana-rath-orphanet - do any of you have any feedback/could you offer your clinical expertise?

[2019-12-02 23:56] pnrobinson commented on #809
I am not convinced that we should be working on animal diseases right now, but in any case these are not synonymous because at least 3 types of Brucella can cause bovine brucellosis
https://www.aphis.usda.gov/animal_health/animal_diseases/brucellosis/downloads/bruc-facts.pdf

[2019-12-02 23:58] pnrobinson commented on #675
Leigh syndrome is the more common term. I have not heard people say Leigh disease. This is a distinct issue from the genetic subtypes. For this refer to OMIM phenoseries

[2019-12-02 23:59] pnrobinson commented on #710
But we should have a term for Exocrine pancreatic insufficiency? This is a disease group.

[2019-12-03 00:02] pnrobinson commented on #428
I think it would be better to use the OMIM name for Fanconi syndrome: Fanconi renotubular syndrome (note this has subtypes). This will ensure that people do not get it mixed up with Fanconi anemia.

[2019-12-03 00:03] pnrobinson commented on #427
debatable if this is a disease entity as defined. Cross-ref the HPO term.

[2019-12-03 00:08] pnrobinson commented on #425
This: MONDO:0016761 'spondyloepiphyseal dysplasia and spondyloepimetaphyseal dysplasia' seems to be a suboptimal label.
I would suggest that we really should base our labels on the nosology of the skeletal dysplasia working group. There is a new edition here.
https://www.ncbi.nlm.nih.gov/pubmed/31633310
The term they use is spondylo-epi-(meta)-physeal dysplasia

[2019-12-03 00:11] pnrobinson commented on #424
Primary melanoma of the CNS does not have "secondary diffuse meningeal spread", at least not provably so (https://www.ncbi.nlm.nih.gov/pubmed/20627582). I am not sure if these are truly exact synonyms. Can we ask somebody at NCI?

[2019-12-03 00:12] pnrobinson commented on #423
Not sure these are exact synonyms (https://www.ncbi.nlm.nih.gov/pubmed/12057049) but I doubt that this is the current terminology. Can we get this from NCIT?

[2019-12-03 00:19] courtneythaxton commented on #675
I agree with @pnrobinson. the ClinGen Mitochondrial Disease Gene Curation Expert Panel has chosen to curate under the MONDO ID MONDO:0009723, specifically for the nomenclature of Leigh Syndrome.

[2019-12-03 00:31] nicolevasilevsky commented on #525
I can assert 'eye disease' to be a subclass of 'disease or disorder' but it is still inferred to be a child of 'disease of orbital region' and 'disease of visual system' because of the logical definitions.

![image](https://user-images.githubusercontent.com/6722114/70006062-a899a600-1520-11ea-80b0-12f9825aa56a.png)

![image](https://user-images.githubusercontent.com/6722114/70006102-c7983800-1520-

[2019-12-03 00:32] pnrobinson commented on #525
This is logically correct.
However, I think that a browser should not display this unless the user actually wants to see these inferred is-a relations, which will not be enlightening or useful to clinical users.
So, all is fine, I think....

[2019-12-03 00:43] #992 closed

[2019-12-03 01:32] ahamosh commented on #1006
22q11 deletion is a synonym for both velocardiofacial and DiGeorge syndrome (as both are caused by the deletion).  The difference between VCF (later recognition, not severe heart disease, not neonatal immunodeficiency) and DiGeorge is severity and age of recognition.  So both are 22q11 deletion, but the 2 syndromic names are not clinically identical.

[2019-12-03 04:04] cmungall commented on #525
If it's inferred it's in the release version for all to see

If we have a problem with the inference then there are standard ways to fix
this. Change the logical definition such that it matches intent, or change
the upstream ontology. Or simply obsolete grouping classes if they are not
useful, or have them in an anti-slim.

is disease of orbital region a useful grouping? If so, what is the
definit

[2019-12-03 04:13] cmungall commented on #1006
Thanks! @ahamosh

Based on this I recommend @maglott's suggestion of removing the exact synonym (or demoting to RELATED) of VCF from MONDO:0008564 and MONDO:0018923. The first came from NCIT, we may want to pass this along to them. @ana-rath-orphanet I don't know if you want to do the same thing for https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_56

[2019-12-03 08:57] annieolry commented on #432
Here is Orphanet's reason for Obsolescence:
Following expert Eleidi A. Chautard-Freire-Maia: The four patients originally described by Rosselli and Gulienetti are probably affected by distinct disorders. Patient 1 presents generalized hypotrichosis, light hair, seborrheic dermatitis of the scalp, nail dystrophy, cleft of the soft palate, cutaneous syndactyly and ectrodactyly, unilateral kidney and

[2019-12-03 09:31] paolaroncaglia commented on #824
@nicolevasilevsky
Reopening this ticket please as something seems to have gone wrong, MONDO:0008608 'Down syndrome' still has some weird superclasses, including 'syndromic intellectual disability' that is both a superclass and an excluded superclass? See https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0008608, and I'm seeing the same in current E

[2019-12-03 09:47] paolaroncaglia opened #1013 "[Revise subclass] MONDO:0006625 altitude sickness"
**MONDO:0006625 altitude sickness**

I know we've discussed this before, but with the help of our collaborator @smnorthen we've finally resolved on a better home for 'altitude sickness' than the current 'cardiovascular disease' branch. Mondo definition says "Multiple symptoms associated with reduced oxygen at high altitude." Based on the oxygen intake being the problem, (which results in too littl

[2019-12-03 12:18] pnrobinson commented on #525
There are several questions here
(1) How to display the ontology for a specific group. For an MD, they have basically memorized all anatomy and do not need an ontology to know the eye is in the orbit etc.. My best guess is that they will want to see a hierarchy that matches clinical use, i.e., what medical specialty sees what kind of disease. Researchers may want to see more inferences. So, we sho

[2019-12-03 14:27] zoependlington opened #1014 "[Revise subclass] polyp"
**Mondo term (ID and Label)**
polyp (MONDO_0005079)

**Suggested revision and reasons**
As stated in the definition "polyps can be neoplastic or non-neoplastic" and therefore should not be a child of neoplasm. It has been suggested during a clean up of EFO diseases (see related EFO ticket here: https://github.com/EBISPOT/efo/issues/607) that polyp could be a child of cell proliferation disorder?

[2019-12-03 15:19] zoependlington opened #1015 "[Revise subclass] pseudoxanthoma elasticum (inherited or acquired)"
**Mondo term (ID and Label)**
pseudoxanthoma elasticum (inherited or acquired) (MONDO:0024308)

**Suggested revision and reasons**
During EFO disease clean up, it was suggested that this should be a child of genetic disorder rather than integumentary system disease (or at least child of both). See: https://ghr.nlm.nih.gov/condition/pseudoxanthoma-elasticum and https://rarediseases.info.nih.gov/dis

[2019-12-03 15:37] zoependlington opened #1016 "[Revise subclass] dermis disease and breast fibrocystic disease"
**Mondo term (ID and Label)**
dermis disease (MONDO_0021154)

**Suggested revision and reasons**
Should be a child of skin disease (like other epidermal disease etc.).

_____

**Mondo term (ID and Label)**
 breast fibrocystic disease (MONDO:0005219)

**Suggested revision and reasons**
Should be a child of breast disease rather than integumentary disease.

Stemming from EFO ticket: https://github.c

[2019-12-03 16:28] cmungall commented on #525
How would the flexible release files be displayed? Most people use an
existing hosted browser such as OLS, BioPortal, or the monarch site. Having
separate json files would only help the subset of opthalmologists that are
comfortable looking at json.

I think having subsets (metaclasses) and working with groups like OLS here
may be the way to go

On Tue, Dec 3, 2019 at 7:18 AM Peter Robinson <notif

[2019-12-03 16:32] drseb opened #1017 "[Revise subclass] Campylobacteriosis"
Campylobacteriosis is a type of gastroenteritis. This axiom is currently not in mondo, right? Why?

[2019-12-03 17:11] pnrobinson commented on #525
I would suggest that we implement a MONDO browser on the Monarch UI with these features.
At some point, the HPO webpage will start to use Mondo, hopefully in the nearish future, and then we will also implement some clinically useful browsing tools. We need to discuss how to move forward as a group with all of this, not sure that issues/email is the best way, but there is no immediate rush.

[2019-12-03 18:07] nicolevasilevsky commented on #525
definition?

'disease of orbital region' was created based on Mondo patterns and has two children:
MONDO_0000462 'eye adnexa disease'
MONDO_0020150 'rare palpebral, lacrimal system and conjunctival disease'

It seems like these two children could be reclassified as children of 'eye disease' and we could obsolete 'disease of orbital region'?

[2019-12-03 18:15] cmungall commented on #525
On Tue, Dec 3, 2019 at 1:08 PM Nicole Vasilevsky <notifications@github.com>
wrote:

You're just looking at the asserted view, there are more:
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0002022

But my question wasn't about existing children, more about what are the
clinically expected children and how does that differ from the logical view?

[2019-12-03 18:19] nicolevasilevsky commented on #525
Fair enough. I can't really comment on how clinicians would expect to see eye diseases classified.

Let me know what I can do to help fix this (if anything).

[2019-12-03 19:55] miajsullivan opened #1018 "[NTR]GATA1-Related X-Linked Cytopenia"
Preferred term label: GATA1-Related X-Linked Cytopenia

Synonyms: GATA1-Related Cytopenia

Definition: X-Linked cytopenia characterized by anemia and/or thrombocytopenia.  Additional features including platelet dysfunction, dyserythropoesis, mild beta-thalassemia, neutropenia, or congenital erythropoetic porphyria may be present.  These GATA1 variants are germline as opposed to GATA1 variants seen

[2019-12-04 12:59] maglott opened #1019 "omim_300232, ORPHA:168448, and ORPHA:83629"
OMIM recently moved https://www.omim.org/entry/300660 into omim_300232.
How should these concepts now be sorted out?

[2019-12-04 22:59] monicacecilia opened #1021 "Incorrect Mondo associations are partly responsible for a problem at monarch-ui"
**Mondo term (ID Label)**
N/A

**Bug/Typo/Error description**
from @pnrobinson:

While looking at how information is displayed on the Monarch website, Peter found a problem that
he believes to be partially due to incorrect Mondo associations - and partially due to incorrect ClinVar mapping on our end. I'm describing the issue here, for your awesomeness to please review. :bowtie:

FLCN - Problems
_

[2019-12-05 10:25] annieolry commented on #811
On the other hand, if there is a new description of patients with FAR1 deficiency with a very different phenotype, it will be usefull to have different codes for the various phenotypes. This issue refers directly to general rules adopted when maintaining a terminology and making decision on this kind of issue should follow a more general policy to avoid discrepancies in a specific field (metabolic

[2019-12-05 10:39] annieolry commented on #428
Secondary forms of Fanconi syndrome also exist. So Fanconi syndrome and primary fanconi syndrome are not equivalent. Depending on the willingness to represent secondary forms and/or to merge etiologies of this clinical syndrome, it could be preferable to keep only primary form or keep the clinical syndrome with both forms (primary and secondary).

[2019-12-05 10:41] annieolry commented on #427
ORPHA:2983 Isolated trigonocephaly is an ORPHA code recognised and asked by ERN-CRANIO for coding patients in HIS in Europe. I would keep it

[2019-12-06 00:48] nicolevasilevsky commented on #1021
@monicacecilia if you can outline the specific action items needed here, I can implement these changes. (Or perhaps more discussion is needed)?

[2019-12-06 00:56] nicolevasilevsky commented on #1018
@miajsullivan is there a URL for the ClinGen Hemostasis/Thrombosis gene curation expert panel?

This is ORCID: https://orcid.org/

[2019-12-06 14:25] miajsullivan commented on #1018
ORCID: 0000-0001-6964-7302

URL for the ClinGen Hemostasis/Thrombosis gene Curation expert panel: https://clinicalgenome.org/affiliation/40028/

[2019-12-06 22:20] kshefchek commented on #1021
For point 2, I'll add that I saw this in our PCORI funded project as well, where there was confusion over the labelling of:

MONDO:0017178	osteochondritis dissecans (disease)
MONDO:0009798	intellectual disability-cataracts-calcified pinnae-myopathy syndrome
MONDO:0007841	coxopodopatellar syndrome

For Osteochondritis dissecans, it was confusing from the label alone that this is the same thing as h

[2019-12-07 19:17] cbizon opened #1022 "monogenic diabetes (MONDO_0015967) is genetic?"
Should genetic diabetes be a subclass of inherited genetic disease?

[2019-12-09 14:48] nicolevasilevsky commented on #1021
@kshefchek

Should we relabel MONDO:0017178 to 'short stature and advanced bone age, with or without early-onset osteoarthritis and/Or osteochondritis Dissecans'?

[2019-12-09 14:55] nicolevasilevsky commented on #1021
Currently, [OMIM:114500 COLORECTAL CANCER; CRC](https://omim.org/entry/114500) is an xref for MONDO_0005575 'colorectal cancer', annotated as a MONDO:subClassOf. Sounds like we should change this to MONDO:equivalentTo and remove the xref to OMIM:114500 from MONDO_0023113 'familial colorectal cancer'

[2019-12-09 18:18] nicolevasilevsky commented on #1006
I made the VCF synonyms related synonyms.

The following synonyms were related synonyms for DiGeorge syndrome, but I made them exact (because that seemed incorrect - let me know if I wrong and I can change them back to related):
DGS
Di-George syndrome
DiGeorge syndrome; DGS

[2019-12-09 18:32] maglott commented on #1021
Independent of the explicit names. should all oncepts from OMIM be considered genetic?  @ahamosh, how do you think https://omim.org/entry/114500 should be treated?  As genetic or as more general, given that the text also lists the somatic mutations.

[2019-12-09 18:46] nicolevasilevsky commented on #1016
Re: breast fibrocystic disease (MONDO:0005219)
integumentary disease was inferred to be a superclass based on the superclass assertion:
'disease has location' some 'mammary gland'

I revised this to 'disease has location' some breast and now 'breast disease' is inferred to be a parent.

Let me know if this is not the correct approach.

[2019-12-10 02:08] turbomam opened #1028 "[Revise subclass] MONDO:0016644, "Logopenic progressive aphasia" = cancer?!"
**Mondo term (ID and Label)**
http://purl.obolibrary.org/obo/MONDO_0016644, "Logopenic progressive aphasia"

**Suggested revision and reasons**
Asserted parent class, http://purl.obolibrary.org/obo/MONDO_0005061 "lung adenocarcinoma" seems dubious. Is this some kind of perineoplastic thing?

[2019-12-10 09:32] paolaroncaglia opened #1029 "[Revise subclass] MONDO:0006761 fibromuscular dysplasia"
**MONDO:0006761 fibromuscular dysplasia**

Currently a child of 'cardiovascular disease, but its def clearly refers, more specifically, to arteries: "A disorder characterized by fibrous thickening of the arterial wall resulting in narrowing of the arterial lumen. It most often affects the renal artery and less often the carotid artery and abdominal arteries.". Could you please consider making it a

[2019-12-10 10:04] paolaroncaglia opened #1030 "[Revise subclass] MONDO:0005468 hypotension (disease)"
**MONDO:0005468 hypotension (disease)**

("Blood pressure that is abnormally low.") is currently a subclass of 'cardiovascular disease'. However, its "mate" MONDO:0005044 'hypertensive disorder' is, rightfully, a subclass of 'arterial disorder'. Would you please consider making MONDO:0005468 'hypotension (disease)' a subclass of 'arterial disorder' too? EFO would benefit from this (trying to clean

[2019-12-10 11:12] paolaroncaglia commented on #834
(Re. reviewing Orphanet-derived incorrect parentage) While we wait for the agreed action item on EFO's part, I'll also make a note here that in some cases a disease term is correctly placed in EFO and has an EFO namespace, but gains incorrect Orphanet-derived parentage via Mondo because Mondo got the term directly from Orphanet. See e.g. 'Sneddon syndrome' that is a subclass of 'vascular disease'

[2019-12-10 17:24] cmungall opened #1031 "Add license to OWL header"
http://obo-dashboard-test.ontodev.com/ - the ontology is failing the 'open' check

the release owl should contain:

[code]

See https://github.com/OBOFoundry/OBOFoundry.github.io/issues/1041

[2019-12-10 23:20] cmungall commented on #1030
also make the naming consistent

[2019-12-10 23:37] cmungall commented on #1028
not good... @nicolevasilevsky can you fix, looks like the ncit xref is incorrect